[2021-06-03 17:48] stevespages commented on #3442
I thought I would explain my broader aim as it may make more sense of my questions.

I am trying to build a website were people can add the name of a plant and, using the phone's GPS, its position and a description and a photo(s). Then they can go to a webpage where the plants in the system are listed in order of their proximity to the phone. This could be useful for them in identifying plants in

[2021-06-03 18:31] MortenHofft commented on #3442
For those type of things one usually use a suggest service that are optimised for speed. We have one in the API `v1/species/suggest` - make sure to set the datasetKey to the checklist you wish to use. That way one can constrain the input to a controlled set.

So to use the GBIF backbone as the suggest list
https://api.gbif.org/v1/species/suggest?datasetKey=d7dddbf4-2cf0-4f39-9b2a-bb099caae36c&limi

[2021-06-03 18:31] #3442 closed, assigned to nobody

[2021-06-04 08:55] gbif-portal opened #3446 "Paragraph spacing"
**Paragraph spacing**

Not a bug, but I'd suggest adding a little spacing between paragraphs in e.g. the description to aid readability.

-----

Github user: @timrobertson100
User: [See in registry](https://www.gbif.org/api/feedback/user/b912456e528320f38f5bd058a2e972a0:a3557bc308acbc4a5c51331cebc3fb2190c9913abbc97b81c0b7d7da4c90e1355e514de1be5ae8ca8de81b40140ec2b5b616a2ae17be22cfd7b3953e4fd34fff)

[2021-06-04 10:42] MattBlissett commented on #3446
This was a case of https://github.com/gbif/ipt/issues/1332 and not a bug with the portal.

Paragraphs (where the registry didn't corrupt them) are formatted with some line space, and simple `\n` line breaks use `<br>`, which is probably best kept like this for when people have written lists etc using line breaks.

[2021-06-04 10:42] #3446 closed, assigned to nobody

[2021-06-05 15:46] gbif-portal opened #3447 "Aglais io is synonymous with Inachis io"
**Aglais io is synonymous with Inachis io**

Inachis io is an old name combination and the species is currently transferred to the genus Aglais. Therefore Incahis io should be marked as synonym of Aglais io.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0adb132c2bcf10d51406ffd1cdb8b860:8a836f5932d3f6a9a4db6d4ae36bb85cba36e17f8be0caa71c01c38f21c0cfaa7e69501c1b061d0f91543c6c

[2021-06-05 17:49] gbif-portal opened #3448 "Eudigraphis taiwanensis is a typographical error."
**Eudigraphis taiwanensis is a typographical error.**

Eudigraphis taiwanensis is a typographical error of Eudigraphis taiwaniensis.

Eudigraphis taiwaniensis in Millibase
http://millibase.org/aphia.php?p=taxdetails&id=1024158

Eudigraphis taiwanensis in Millibase
http://millibase.org/aphia.php?p=taxdetails&id=943285

Eudigraphis taiwaniensis in GBIF
https://www.gbif.org/ja/species/1012131

Eudigr

[2021-06-05 17:53] gbif-portal opened #3449 "Vespa analis is not synonym of Polistes testaceicolor."
**Vespa analis is not synonym of Polistes testaceicolor.**

Vespa analis is not synonym of Polistes testaceicolor.
It is a completely different taxon.

-----

Github user: @RyoKuwa
User: [See in registry](https://www.gbif.org/api/feedback/user/0aed7f7000c938436ae67f749a9a5c39:46a48b6ce5fe077c9e65912637f2bbefd222e16411370e396cc931b0b6ecd44967b6abb795b03d848af2584e94b87ba7e179ea9c8970b7fc228ed42740b

[2021-06-07 08:04] jlegind commented on #3392
User contacted.

[2021-06-07 08:04] #3392 closed, assigned to jlegind

[2021-06-07 15:41] gbif-portal opened #3450 "GBIF data validator CSV parser is faulty"
**GBIF data validator CSV parser is faulty**

The GBIF data validator CSV parser does not properly respect quoting rules and produces many incorrect reports of column mismatch, missing fields, etc.

This format is defined at

https://datatracker.ietf.org/doc/html/rfc4180

For example, here is a row which is marked by the validator has having incorrect structure:

[code]

-----

Github user: @amb26

[2021-06-08 04:59] gbif-portal opened #3451 "Uploading species occurrence data"
**Uploading species occurrence data**

Hi,

I am a research scholar working at the ICMR-National Institute of Malaria Research, India. I have conducted a nation wide study on the abundance of Aedine vectors in India using modeling techniques and intend to publish my study soon.

For the initial occurrence records I used the gbif data base (properly referenced and cited within manuscript as well as

[2021-06-08 07:30] ManonGros commented on #3451
Replied by email:

However, one solution would be to share your data on another platform such as https://zenodo.org (which is free) and use our derived dataset service to register it with a GBIF DOI. We have a blogpost on the topic: https://data-blog.gbif.org/post/derived-datasets/. I suggest to read it and see if this fits your case. Don’t hesitate to send us your questions.

[2021-06-08 07:30] #3451 closed, assigned to ManonGros

[2021-06-08 09:04] ManonGros commented on #3429
Replied by email:

[2021-06-08 09:04] #3429 closed, assigned to ManonGros

[2021-06-08 14:16] gbif-portal opened #3452 "I'm in doubt, I used GBIF for naming correction with the match tool, how do I mention this use?"
**I&#39;m in doubt, I used GBIF for naming correction with the match tool, how do I mention this use?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/45c25c37cc14b815c4a289cc1e214456:f8981dd9d6e1e0ed8ff720716bf5459d45c04f99b235a79639bc0a54f120880543ad193ba60a0bebd68196bbd923a67a5db05aa8baa46832f0dd410c88d47861)
System: Chrome 91.0.4472 / Windows 10.0.0
Referer: https://www

[2021-06-08 14:16] gbif-portal opened #3453 "I'm in doubt, I used GBIF for naming correction with the match tool, how do I mention this use?"
**I&#39;m in doubt, I used GBIF for naming correction with the match tool, how do I mention this use?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/cd6e3e5f7e5f63f5dae66b92150d7ad2:0fb54ea2faed5d4ba6c4f9d34012e016d2888b37584ceb514a5a83c6d679875a51de263fa147d238c30ccf7a4ee463f6a241b7fde58a76a059bb890a7fe89367)
System: Chrome 91.0.4472 / Windows 10.0.0
Referer: https://www

[2021-06-09 06:55] ManonGros commented on #2871
The Korean Node fixed the issue.

[2021-06-09 06:55] #2871 closed

[2021-06-09 10:58] gbif-portal opened #3454 "double menu, double footer, double scripts etc on derived dataset pages"
**double footer on derived dataset pages**

Looks like the site footer has been included twice...

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/50933f738009c9ac43199f04daa9be22:dc1dfbd8058ee967833e717031664f32e4f2350771a138b36df1bb1f0df681607f20ecb19a64dd551fa96f824fe293f1c82b68206cbc9abc9398389174df7213)
System: Chrome 91.0.4472 / Mac OS X 10.15.7

[2021-06-09 11:34] jlegind commented on #3450
If the validator is not able to properly parse files with text fields that are double quotation delimited, then that is clearly a bug.
@gbif/informatics

[2021-06-09 14:02] gbif-portal opened #3455 "Country activity report: Display summary citation stats for countries"
**Display summary citation stats for countries**

As piloted by @dnoesgaard for Denmark, 760 unique citations (including 575 peer-reviewed) for 26 publishers (9 June 2021). Can be broken down by years and included in the activity report. A national metric of access and uptake can be handy.

All 26: [link](https://www.gbif.org/resource/search?contentType=literature&publishingOrganizationKey=7ecaddc

[2021-06-09 14:40] dschigel commented on #3455
Another update from @dnoesgaard shows citations stats by publishers. As a national node manager, I would be curious to see e.g. which organizations data are in demand, to try figure our why - is it taxonomic focus? volume? quality? Images? something else? Could be develop further in the dashboard direction e.g. by pairing numbers below with activity stats and maps of IP addresses

347 "Herbarium o

[2021-06-09 14:46] dschigel commented on #3455
And you can show this in both absolute (cumulative) numbers and optimized by time since organization joined. I would love to have stories likes this as web metrics and as standard / easy to make slides as a part of a participation pitch or any other country specific talk.

[2021-06-10 04:22] gbif-portal opened #3456 "This species is commonly regarded as endemic to Australia, so this could be either a bad geo-reference or a mis-identification."
**This species is commonly regarded as endemic to Australia, so this could be either a bad geo-reference or a mis-identification.**

-----

Github user: @wcornwell
User: [See in registry](https://www.gbif.org/api/feedback/user/60cbe69386cc53b91856be08e02891c9:ef58a5e427c69acbe7825c6be53cb0d4c674c7ddddf2b1d402a7bf9589de8d2be0c42db5dba5fbc434fcb0c4dcdf98530a941b34fe8911448f8ed20a8d60547f)
System: Ch

[2021-06-10 05:18] gbif-portal opened #3457 "the is a collection from a zoo, not sure how to flag that"
**the is a collection from a zoo, not sure how to flag that**

-----

Github user: @wcornwell
User: [See in registry](https://www.gbif.org/api/feedback/user/3e57fa428968d0b01deb4f86e8dc1028:9ea9017529b5a75abf27bdb8a55789ce0adeb7703322d892e9184faea70b7e4727a2cf25e9086dfc928b044875c5a5220604754b3cb6d53b4dde8df6718f6bea)
System: Chrome 91.0.4472 / Mac OS X 10.15.7
Referer: https://www.gbif.org/occurr

[2021-06-10 11:00] MortenHofft commented on #3454
The top menu bar (on top of eachother), all scripts, terms popup etc is also there twice.

[2021-06-10 11:03] MortenHofft commented on #3453
closed as duplicate of https://github.com/gbif/portal-feedback/issues/3452

[2021-06-10 11:03] #3453 closed, assigned to nobody

[2021-06-10 13:11] Dina-Sharafeldeen opened #3459 "GBIF occurrences duplicates"
Hi,
We are working on one occurrences dataset downloaded from GBIF.
We noticed that some species with the same attributes' values have different gbifID.
kindly find a sample of this case under the following link:
https://drive.google.com/file/d/1D7WfjvKbBCzRj2uBz_f0_qkDnHinhRUs/view?usp=sharing
Should we consider this as duplicates? if we consider that as duplicates, which ones we should keep and

[2021-06-11 07:49] jhnwllr commented on #3457
There is **not any good way to flag collections as coming from a zoo currently**.

I have seen some publishers fill in the **establishmentMeans** column as “MANAGED”.

This seems to be the best solution so far, but it is not widely used.

There is also basisOfRecord = LIVING_SPECIMEN but since this specimen was/is not really "living", I can see why there would be some reluctance to use that as wel

[2021-06-11 09:00] gbif-portal opened #3458 "Number of records in "download as TSV" incorrect"
**Number of records in &quot;download as TSV&quot; incorrect**

This was reported to Helpdesk originally.
The number of records for a number of datasets in the file obtained with the "download as TSV" button is zero, when the datasets actually contain records.

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/ed3f5044ec67dc90c947e9543c4b1cb0:e8637034ced

[2021-06-11 12:37] MortenHofft commented on #3459
That is how the data is published, the catalog number and the organismId is different (for the example i looked at). So according to the dataset publisher this are different organisms that happen to be collected at the same time same day same species. At least that is how it appears to me.

@rukayaj you can perhaps answer this? Better than I can at least.

[2021-06-11 13:32] rukayaj commented on #3459
@Dina-Sharafeldeen I think the records you refer to are from this dataset, right? https://www.gbif.org/dataset/264e6a66-9c9e-4115-9aec-29d694c68097#description
The data curator added some explanatory text in the dataset description, here: https://www.gbif.org/dataset/264e6a66-9c9e-4115-9aec-29d694c68097#description

I think it would be clearer if the text included some of the information we have i

[2021-06-11 14:22] gbif-portal opened #3460 "Suggest the event form"
**Suggest the event form**

Suggestion

Change time from AM/PM to 24h format

When selecting the end date the option in the calendar should not start from the current date, but from the provided start date (like when you select dates for a travel dates on an airline website)

Time zones list would work better if there would be typical cities, a more common format (and less thinking)

Add GBIF Secr

[2021-06-14 08:29] gbif-portal opened #3461 "The georeferenced locality is incorrect (to coarse), in the notes it says Kilifi district, Kenya."
**The georeferenced locality is incorrect (to coarse), in the notes it says Kilifi district, Kenya.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/5a831ff7663a095c41e2c74cf8675e1d:f800972c8b8bf1a5fbdf4d24652a77535a2a40e22dbd00a0e87cc4e76b047f8eb09e751c5367f5dc129a74bc00e88dfa5ed188b0c08387fcbdb0ca7da84a8cf8)
System: Chrome 91.0.4472 / Windows 10.0.0
Referer: https://www.g

[2021-06-14 08:37] gbif-portal opened #3462 "Supposedly only known from a single locality, this is north of this locality and probably incorrectly georeferenced. Please check. https://www.iucnredlist.org/species/179387/1576879#text-fields"
**Supposedly only known from a single locality, this is north of this locality and probably incorrectly georeferenced. Please check. `https://www.iucnredlist.org/species/179387/1576879#text-fields`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1be0740dd6e5c2209613f5f9af36a967:cf3cb7ed165bfd10bdca89f281bfb8179c3558f717b2a95b52e2695669cbe8a91be525a76f398112f9bb692e3e248995

[2021-06-14 09:57] akristensen commented on #3460
thanks @dschigel for the feedback, will let @dnoesgaard look at it. It is a google form that needs to be able to talk to Zapier, in order to "import " it to contentful. So we are limited in options regarding time format. I am sure we can change the Role order.

[2021-06-14 10:04] dnoesgaard commented on #3460
We can't change anything regarding dates, times or timezones. The form is strict because it has to connect directly to the CMS.

@akristensen, I thought we didn't want roles to describe _who_ people are, but rather what their role is _at_ the event?

[2021-06-14 11:54] akristensen commented on #3460
yes @dnoesgaard entirely right! I misread Dmitry, I thought it was about changing the order of the listed roles..... as we discussed previously , we want to keep the form simple, and we are not collecting info or interested in who people are. Only the relation to the event.

[2021-06-14 12:19] #3460 closed, assigned to akristensen

[2021-06-15 05:41] rukayaj commented on #1275
@MortenHofft @MattBlissett we've just had an error reported in one of the country boundaries. This point https://www.gbif.org/occurrence/1702169082 is highlighted as having a country-coordinate mismatch error, but actually the country is correct. Interestingly, google maps makes the same error: https://goo.gl/maps/EjsrdxJes18D27Ux whereas open street maps does not https://nominatim.openstreetmap.o

[2021-06-15 07:01] MortenHofft opened #3463 "Wrong flag assigned: Country coordinate mismatch"
@MortenHofft @MattBlissett we've just had an error reported in one of the country boundaries. This point https://www.gbif.org/occurrence/1702169082 is highlighted as having a country-coordinate mismatch error, but actually the country is correct. Interestingly, google maps makes the same error: https://goo.gl/maps/EjsrdxJes18D27Ux whereas open street maps does not https://nominatim.openstreetmap.o

[2021-06-15 07:02] MortenHofft commented on #1275
This issue I left is very vague and hard to read for anyone 2 years later, but I believe what I referred to was the network page
https://www.gbif.org/the-gbif-network
On that page we have a map showing country borders. The participation map we call it. But that map is generated using a geojson that is years old and it might never have aligned with how we else define country borders.

[2021-06-15 07:56] jhnwllr commented on #3461
Record is a country centroid of Kenya. Have contacted the publisher of the record.

[2021-06-15 08:38] jhnwllr commented on #3462
Responded to user and publisher via email. Record could be a low resolution record, since it is from the 1980s or perhaps it was located there in the past.

[2021-06-15 10:02] MattBlissett commented on #3463
The geocode-ws already includes a fuzz-factor of 0.5°, but it looks like this isn't enough here -- the approximate Norway polygon is 0.050043° from the point given.

Same underlying cause as https://github.com/gbif/geocode/issues/12

[2021-06-15 10:24] MattBlissett commented on #1275
We use polygons from Natural Earth (for geocoding) and Natural Earth + OpenStreetMap (for display on occurrence maps).

`SELECT iso_a2, ST_AsGeoJSON(ST_SimplifyPreserveTopology(ST_Union(geom), 0.01), 2) FROM political GROUP BY iso_a2;` on the prod_eez database will get features for a ~3MB GeoJSON.  I don't know what's realistic for this map — the 0.01 is the simplification tolerance, and the 2 is

[2021-06-16 06:42] gbif-portal opened #3464 "Improving citation of downloads"
**Improving citation of downloads**

A few suggestions for the download page, inspired by [NEON](https://data.neonscience.org/data-products/DP1.20219.001/RELEASE-2021):

- [x] move __Citation__ into its own box
- [x] style it so that it's look like something you need to copy
- [x] add button to copy citation string to clipboard
- [x] add buttons to download citation as RIS and BibTex (*)

(*) can

[2021-06-16 06:48] dnoesgaard commented on #3464
Also see #33 and #2027

[2021-06-16 08:19] MortenHofft commented on #1275
Thanks
Currently the website use a 637kb topojson
https://www.gbif.org/api/topojson/world/participants

We can do a simplification of what you send to begin with, but down the line it might be nice if we exposed country, gadm, marine? layers as vector tiles. That would allow for a high resolution network map. And it would open up options for choropleths on e.g. occurrence search.

[2021-06-16 11:03] gbif-portal opened #3465 "How many NCBI taxonomies?"
**How many NCBI taxonomies?**

Looking at this dataset and dates of last metadata updates, I recall a separate dataset 10.15468/avkgwm which is understood is created through ENA. Are these two versions of the same taxonomy? If no, why it is desirable to keep both? If yes, which one is used in the taxonomic backbone?

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/fe

[2021-06-16 14:02] MattBlissett opened #3466 "Interpretation of occurrences with a footprintWKT but no coordinates"
We have about 100,000 occurrences with valid dwc:footprintWKT, but no coordinates.

_Possibly_, we could calculate a decimalLatitude and decimalLongitute, and add a coordinateUncertainty.

Example: https://www.gbif.org/occurrence/2962073562

Datasets with such occurrences:

[code]

[2021-06-16 15:47] tucotuco commented on #3466
This would be great. Even better if you can define the point in the point-radius with a corrected center (the center of a minimum bounding circle for most geometries). See https://docs.gbif.org/georeferencing-best-practices/1.0/en/#polygons and https://docs.gbif.org/georeferencing-best-practices/1.0/en/#grids and https://docs.gbif.org/georeferencing-quick-reference-guide/1.0/en/#s-corrected-center

[2021-06-17 06:53] jhnwllr commented on #3462
publisher says record is correct.

[2021-06-17 06:53] #3462 closed, assigned to nobody

[2021-06-17 07:29] MortenHofft opened #3467 "Add projectId to documentation for dataset search"
Thank you, Morten. We did not tought it was possible, as `projectId` is not mentioned as possible parameter for the `/dataset/search` endpoint :)

_Originally posted by @frafra in https://github.com/gbif/hosted-portals/issues/167#issuecomment-862651409_

[2021-06-17 07:29] MortenHofft commented on #3467
That should be added to the documentation. It is only missing due to an oversight.

[2021-06-17 07:30] #3467 closed, assigned to MortenHofft

[2021-06-17 13:59] jhnwllr commented on #3462
Publisher qualify that species name has an identification qualifier of `?`

[2021-06-18 12:10] gbif-portal opened #3468 "Is this a weed or a flower? Is taking over my flowerbed. How do I get rid of it?"
**Is this a weed or a flower? Is taking over my flowerbed. How do I get rid of it?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7e177e3cc6a9747a297ae13618681ab9:80b5ab164b93a01969cd4c7f209c7dcd5a9b3e107a232be80430c198af8a9d00d80979a74f594a70cedc706c1688a4a38ce312ece2f8da592e4f9998767d82de)
System: Samsung Internet 14.0.0 / Android 0.0.0
Referer: https://www.gbif.org/use

[2021-06-18 13:42] gbif-portal opened #3469 "Country missing although label says "Yemen""
**Country missing although label says &quot;Yemen&quot;**

This was originally reported on helpdesk.
The label of the specimen indicates that it was collected in Yemen. It would be good to contact the publishers to let them know.

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/3b0da57d3c8b1b43eb4aac3a2dedc27c:352d86b2898b83a7870bbd2bb4678e7b7a0673c542

[2021-06-19 14:13] gbif-portal opened #3470 "I have been on the island (Rab) many times and I have no Podarcis melisellensis findings at all. It looks like siculus (which is common) anyway."
**I have been on the island (Rab) many times and I have no Podarcis melisellensis findings at all. It looks like siculus (which is common) anyway.**

https://observation.org/observation/145631748/
https://www.inaturalist.org/observations?nelat=44.884171576894445&nelng=15.149741483036733&place_id=any&subview=map&swlat=44.75022513365806&swlng=14.49639828235314&taxon_id=337045&user_id=juke-saps&verif

[2021-06-19 17:11] gbif-portal opened #3471 "Mismatch between photograph and record"
**Mismatch between photograph and record**

The record states that this is Arcoscalpellum hirsutum, but the photograph of the record states Tetraclita purpurescens. Similarly, the location etc do not match. I assume the photographs were mixed up during upload.

All the best,
Christine

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4cdee3383a85aeb261a7aa9e0f332751:cb8ee1d4d6

[2021-06-21 07:44] jhnwllr commented on #3470
Feedback is about this record from observation.org:
https://observation.org/observation/145631748/

I advised the user via email to give feedback directly to observation.org.

[2021-06-21 09:56] gbif-portal opened #3472 "New webpage: why and how to partner with GBIF"
**New webpage: why and how to partner with GBIF**

Make a simple page that describes what is expected in a draft support letter and how and how early a grant applicant should contact GBIF Node or GBIF S for a funded WP partnership. Identify min financial thresholds and "contact latest" deadlines. Can include benefits of grant partnership with GBIF, similar to https://iucnsos.org/partner-with-iucn-

[2021-06-21 09:57] dschigel commented on #3472
As discussed in a meeting with @Hilarygoodson @timrobertson100 @timhirsch @acaciamulga

[2021-06-21 10:41] MortenHofft commented on #3468
I'm afraid we cannot help you with this. Try a garden site. A quick google search shows
https://garden.org/ . From their website:

User informed per email

[2021-06-21 10:47] #3468 closed, assigned to MortenHofft

[2021-06-21 12:23] gbif-portal opened #3473 "Area downloaded"
**Area downloaded**

Hello. I wonder if there is anyway that you can provide the image of the area that my data was inclusive in? I selected the area on a map, but need to reference the area selected in my work. Is there a way to recall the map selection?

Thank you

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/80d213232ed4273df3463148a155f161:fd88f437300a22fc65d7eb58ff790

[2021-06-21 12:41] jhnwllr commented on #3471
Wrote to data publisher via email...

On label:
Tetraclita purpurascens (Wood)
Tetracliten purpurascens (Wood)

In Dataset:
Arcoscalpellum hirsutum

[2021-06-22 08:04] damianooldoni opened #3474 "Harmonia axyridis f. succinea not in backbone"
[Harmonia axyridis](https://www.gbif.org/species/4989904) is one of the most important and studied invasive species in Europe and North-America. It seems that its most common form, f. succinea is not in the GBIF backbone, with disappointed biologists (colleagues) as result.

As GBIF promoter I would like to mention this to GBIF and I would like to ask you:
1. why f. succinea is not in the Backbone

[2021-06-22 13:36] gbif-portal opened #3475 "We show enum instead of string on directory page"
**We show enum instead of string on directory page**

Would it be possible to replace "role.NODES_REGIONAL_REPRESENTATIVE_OCEANIA" with "Nodes regional representative Oceania" on the directory page: https://www.gbif.org/contact-us/directory?group=nsg?

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/9eca63d279f63d8415532a208548c6ff:92099483221cdb68a1c5

[2021-06-22 15:40] dschigel commented on #3464
This is very cool and welcome. Data citation needs to be very visible, inviting and hard to forget (to do), and also easy to copy / grab / import for those using copy-paste and for those using reference management systems.

*
Possibly related (for pages, not download citations): anecdotally, I was wondering how come my citations are going up so fast? The main reason is that I happen to co-author t

[2021-06-23 07:25] jhnwllr commented on #3470
new id was accepted by observation.org. (is fixed on observation.org. Needs to just be updated on GBIF).

[2021-06-23 07:53] #3475 closed, assigned to MortenHofft

[2021-06-23 10:17] MortenHofft commented on #3464
It sounds like a good idea to give those files a better name. Could you log an issue with Datacite?

[2021-06-23 10:48] dnoesgaard commented on #3464
Ref https://github.com/datacite/datacite/issues/1291

[2021-06-23 13:34] dnoesgaard commented on #3464
Would anyone be opposed making it pop even more?

![Screenshot 2021-06-23 at 15 24 36](https://user-images.githubusercontent.com/21358085/123105717-4ec93b80-d438-11eb-8316-638402908e4e.png)

(`style="background-color: #40BFFF;color: white;`)

[2021-06-23 15:51] gbif-portal opened #3476 "Genus is incorrectly grafted"
**Genus is incorrectly grafted**

https://www.gbif.org/species/73842
Per the citation and papers defining it, this genus and its single species (A. talladega) is a moth, yet it is grafted in your tree as a plant.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/07cddb1d68d7959a2838a5c363ae71f5:bc42a197c77c48120dba63d4a75a27bf4a433e783137f255049696f115b2a3e3486325174680e9a9382

[2021-06-23 16:16] gbif-portal opened #3477 "no reconoce mi archivo .csv"
**no reconoce mi archivo .csv**

Cada vez que trato de hacer una revisión no me reconoce el archivo y reporta como problema "integridad de los datos, no se encontró o determinó un  rowType" como lo puedo solucionar.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/74cab673f085bc6eac73cf95b1485b80:0e2b3cf2bf71d9b7a5e1636111ff8931a41d0b363c08284f914666f1831f0c9a5f026208ce87b4a2

[2021-06-23 19:53] gbif-portal opened #3478 "Spartina patens has two IDs, one as a plant (correct) and another one as an insect (wrong)."
**Spartina patens has two IDs, one as a plant (correct) and another one as an insect (wrong).**

The species Spartina patens (https://www.gbif.org/species/10857569) is classified as Insect, whereas in fact the species is a plant (https://www.gbif.org/pt/species/5290026)

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9f4de11768c366c57eae10d85f2b2c71:ce01f61c00d6f9488d7347174

[2021-06-24 13:11] ManonGros commented on #3478
The issue seems to come from this PLAZI dataset: https://www.gbif.org/dataset/7a684426-15d9-4d60-9e1e-a5c182e5b17b

It seems like the higher taxonomy provided is incorrect.
PLAZI UUID to easily find the issue: 7ce8aef0-9e92-11dc-8738-b8a03c50a862

[2021-06-24 13:27] MortenHofft commented on #3464
I'm personally not a fan of it

[2021-06-24 13:28] ManonGros commented on #3476
The issue seems to come from this dataset: https://www.gbif.org/dataset/834831a3-c0b8-44fa-b357-c14c05822909

It seems like the higher taxonomy provided is incorrect.
PLAZI UUID to easily find the issue: 7ce8aef0-9e92-11dc-8738-b8a03c50a862

[2021-06-24 13:41] dschigel commented on #3464
I like the highlight, but the way it is done - color, position,  boldface etc. - I leave this to professionals. A ?small thing: as discussed with @dnoesgaard I would like "please" to go. I checked NASA, UNITE and other places, this is something that is not asked, but required: Cite as. Or even better, with a tiny hyprlinked reference to User agreement: GBIF user agreement [LINK] requires this down

[2021-06-24 13:50] dnoesgaard commented on #3464
Using "please" does not make it a question, it's simply a polite request as opposed to simply a request:

vs

I really don't share your doubts in this matter. And since the tasks listed in the issue are done, I think we're good to close it.

[2021-06-24 13:50] #3464 closed, assigned to nobody

[2021-06-24 13:54] dnoesgaard opened #3479 "Citation: Add functionality to copy/ get RIS/BibTex citations for datasets"
Add same functionality as we now have for downloads   #3464 to

- [ ] datasets
- [ ] derived datasets

[2021-06-24 13:57] timhirsch commented on #3464
fwiw I am with @dnoesgaard on the 'please' issue. It does not suggest it is any more optional than 'cite as'.

[2021-06-25 10:17] MortenHofft commented on #3479
Are they guarenteed to be available via e.g.
[code]
Or are there any caveats. It would be a shame to provide empty links

[2021-06-25 10:55] dnoesgaard commented on #3479
I guess a caveat is that the DOI has to exist. For dls and derived datasets that's no problem because we issue them. For datasets, we do as well for most, but not all.

(I did a quick test of 300 datasets with "foreign" DOIs an they all returned 200 for the x-bibtex URL)

[2021-06-25 11:03] dnoesgaard commented on #3479
I guess the bottomline is that if the DOI provided by a publisher isn't valid, the citation links are the least of the problems...

[2021-06-25 11:46] ManonGros commented on #3452
Replied by email:

[2021-06-25 11:46] #3452 closed, assigned to ManonGros

[2021-06-25 12:37] ManonGros commented on #3435
We get the name from the iBol BINs dataset: https://www.gbif.org/dataset/4cec8fef-f129-4966-89b7-4f8439aba058

[2021-06-25 12:49] ManonGros commented on #3436
Contacted them so one of the current contacts would confirm the change.

[2021-06-25 13:02] ManonGros commented on #3437
Replied by email:

[2021-06-25 13:02] #3437 closed, assigned to ManonGros

[2021-06-26 07:35] mdoering opened #3480 "DOI Metadata in BibTex & RIS is different"
Downloading download metadata as BibTeX or RIS is great!
It would be good to add the matching file suffix (`.bib` or `.ris`) to the download so it is a recognized file type.

The content of the metadata though is going through DataCite and differs slightly from what GBIF recommends as the citation.
For example https://www.gbif.org/occurrence/download/0015866-181003121212138 says:

The generated Bi

[2021-06-26 09:42] MattBlissett commented on #3480
Filename extensions: https://github.com/datacite/datacite/issues/1291

[2021-06-26 17:33] gbif-portal opened #3481 "Listed child species are clearly the same thing."
**Listed child species are clearly the same thing.**

https://www.gbif.org/species/1239438

Just need to determine which is the proper spelling and eliminate the other 2.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/136ad349c4b7f5dd40f8340b24607ea9:531cd5363de3d3e291dd0bea2f37148b398b554a57b1f65cfd73a40f4246fb628a9d91c38c1c965a415578c80dffa88ff353345be6f728acbc35d181abc09

[2021-06-28 08:00] gbif-portal opened #3482 "Validator doesn't recognise semi-colon as a separator for CSV files"
**Validator doesn&#39;t recognise semi-colon as a separator for CSV files**

This is related to this issue: https://github.com/gbif/portal-feedback/issues/3477

If I change the separator to tab or comma, the validation goes through.
It would be nice if the validator could support ";" separation but if not, I suggest to update the validator about page (https://www.gbif.org/tools/data-validator/abou

[2021-06-28 08:03] MortenHofft commented on #3480
Currently we are simply using the DataCite API to generate them. If we want more control, then we should perhaps generate an endpoint of our own? That would also allow for the functionality for e.g. species pages and occurrences pages

[2021-06-28 08:10] ManonGros commented on #3477
Contacted by email.

[2021-06-28 08:10] #3477 closed, assigned to ManonGros

[2021-06-28 08:10] mdoering commented on #3480
Doesn't it still make sense to keep the DataCite metadata correct? Anyone looking up the DOI see the metadata above, also in all other formats.

[2021-06-28 11:02] gbif-portal opened #3483 "Can't download DWCA source"
**Can&#39;t download DWCA source**

Can't download DWCA (Download-> Source archive DWCA) https://www.gbif.org/dataset/675a1bfd-9bcc-46ea-a417-1f68f23a10f6

Pressed the button, but didn't get any message back.

Error in console:

Mixed Content: The site at 'https://www.gbif.org/' was loaded over a secure connection, but the file at 'https://ipt.biodiversidad.co/sib/archive.do?r=parcela_vinculo_2014

[2021-06-28 11:45] MattBlissett commented on #3483
SiB Colombia would need to update the endpoints, since their IPT is available with TLS.

We'll still have many more IPTs/endpoints that are only HTTP.

[2021-06-28 12:45] truschel commented on #3476
Hi @ManonGros
I corrected the higher taxonomy for _Arcutelphusa_ and _A. talladega_ occurrences in this publication. Please bear in mind that changes sent to GBIF might take a few hours to come into effect. Thanks for report it for us!

[2021-06-28 12:52] ManonGros commented on #3476
Great, thanks @truschel !

[2021-06-28 12:52] #3476 closed, assigned to nobody

[2021-06-29 03:35] gbif-portal opened #3484 "GBIF data validator marks term as duplicated in meta.xml when it isn't"
**GBIF data validator marks term as duplicated in meta.xml when it isn&#39;t**

When I upload a DarwinCore Archive to https://www.gbif.org/tools/data-validator, it tells me that meta.xml contains a "Duplicated Term" for http://purl.org/dc/terms/identifier, but it doesn't look duplicated to me. It's also not clear to me if it means the term listing in meta.xml is duplicated, or if that term has a d

[2021-06-29 07:11] gbif-portal opened #3485 "dd rich text description"
**dd rich text description**

Tool to create dd has a rich-text editor creating md for the description. This isn't, however, rendered properly on the dd pages. Can we either render md in the description or get rid of the rich-text editor in the tool?

Ref https://github.com/tts/asianelephants/issues/1

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/0

[2021-06-29 07:33] gbif-portal opened #3486 "add to synonym list"
**add to synonym list**

I suggest to add to the synonym list of this species:
Trochus papilla

see e.g.
http://www.molluscabase.org/aphia.php?p=taxdetails&id=1475636

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/ae8dcae2238a09c105b9ec3cbd69682a:67e870e2ed3f1be4ade629d9bccbc92cb78d6ec055255055b71b00b586d748fbd07ec05a034dea292e0373654f4b916afff65bd2df90fab2a3ba6b54947ba50b)

[2021-06-29 08:13] MortenHofft commented on #3485
The display now renders markdown. and allows pretty much all elements to reflect the editor. But given the layout of that page it will probably look odd with headlines inside the description.

The data repo allow something similar, but with a different layout to better allow for headlines etc.
e.g. https://www.gbif-uat.org/data-repository/upload/b62a681b-705e-4dfb-8390-ed05a75f09bd

@thomasstjerne

[2021-06-29 11:40] gbif-portal opened #3487 "Incorrect classification of the "Life Stage" category for dragonflies (Odonata)"
**Incorrect classification of the &quot;Life Stage&quot; category for dragonflies (Odonata)**

The GBiF uses an incorrect classification of the "Life Stage" category for dragonflies (Odonata). The original category "fresh imago" has been changed to "Imago" and should be "Juvenile". As a result, information on juvenile individuals is incorrect.
E.g:
- Juvenile Anax ephippiger
https://www.gbif.org/o

[2021-06-29 12:57] gbif-portal opened #3488 "Show me my roles please"
**Show me my roles please**

It would be helpful to see what roles and scopes you have on this page.
(from David Bloom)

-----

Github user: @timrobertson100
User: [See in registry](https://www.gbif.org/api/feedback/user/adaaede6ed5dfe911e1b3f45291295c7:1fd2ed3f046d2da62d6817a0713e9553f9b6f8426ab2975842905bcf86f9c18b8544133d5bb4e3d626352b327dcc865ad7c6e7b3cf79f99714e5e4ab25bed305)
System: Chrome 9

[2021-06-29 13:00] MortenHofft commented on #3488
See also https://github.com/gbif/registry-console/issues/399

[2021-06-29 13:01] dbloom commented on #3488
Thank you @timrobertson100  I could see several uses for this, not just for Node Managers and staff, but also for individual users. Happy to elaborate if useful to GBIF.

[2021-06-29 13:19] djtfmartin commented on #2010
Record moved to https://biocache.ala.org.au/occurrences/df639922-15a1-40dd-b54a-3091cd64b1ad

[2021-06-29 13:20] MortenHofft opened #3489 "Notify node managers on issues"
As a node manager it can be nice to get notified when there are issues from my country's publishers.

One approach could be to mention the node managers Github handle on issues related to the country

[2021-06-29 13:38] jeroencreuwels commented on #2746
I will contact the botany collection managers at Naturalis. I agree with Tim that this is located in Transylvania (which is Siebenbuergen in German), Romania.

[2021-06-29 13:58] myrmoteras opened #3490 "GRSciColl: Adding collections listed in publications not listed in GRSciColl"
@ManonGros @timrobertson100 thanks for the overview of GRSciColl at the Global Nodes Meeting.

Can you and @gsautter arrange how to proceed to get the collection codes (our term that includes collections and institutions) and their extended version listed often in the materials and method section at the begin in the publication into GBIF.

What would be ideal is that we can get an ID back for a ne

[2021-06-30 08:01] gbif-portal opened #3491 "Possibly erroneous synonymization - Pollenia intermedia and Pollenia labialis"
**Possibly erroneous synonymization - Pollenia intermedia and Pollenia labialis**

This is a message we received on heldpesk:

Pollenia intermedia is currently listed by GBIF as the preferred name for the synonym Pollenia labialis.

However, the cited taxonomic authorities (both Catalog of Life and Diptera.org) list both names as valid, and show no relationship between them (other than that they a

[2021-06-30 08:02] ManonGros commented on #3491
@mdoering I don't know why these two species are synonym, I cannot find any source behind it. Could you take a look? Thanks!

[2021-06-30 08:19] MortenHofft commented on #3488
It is now possible to do so in the registry. Since [the registry](https://registry.gbif.org/) is where you can edit I figured it was most pertinent in that context.
<img width="265" alt="Screenshot 2021-06-30 at 10 17 35" src="https://user-images.githubusercontent.com/6759267/123926925-a877bb80-d98c-11eb-8bc4-4e9ec1f0339e.png">

[2021-06-30 09:42] jeroencreuwels commented on #1867
Something goes a bit unexpected in our export routine with the gazetteer in our database. Apparently Country = Taiwan is changed into Country = Chung-hua Min-kuo, which is not recognized as a country. Changing country names in values from a gazetteer has been a problem in our database system for many years, but has recently been fixed. This should be visible in the coming monthly data export to GB

[2021-06-30 10:34] #3489 closed, assigned to nobody

[2021-06-30 10:41] MortenHofft commented on #3489
Node managers and node staff will now be mentioned in an issue if they:
* have a GBIF.org account with the same mail as they are listed with in the directory (node contacts).
* And that mail address have an associated Github account

So if a user create an issue on a occurrence where the publisher of the dataset is listed as from Portugal, then we will look through the contacts on https://www.gbif

[2021-06-30 10:56] gbif-portal opened #3492 "Test issue"
**Test issue**

This issue is related to https://github.com/gbif/portal-feedback/issues/3489

Hi Rui, I'm using this record as a test as you are one of the few node managers with a Github account, you can just ignore this issue. Sorry for the trouble.

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/927f8268cbd44eba03e9fea84561f835:7e205a076ca5abebea

[2021-06-30 10:56] #3492 closed, assigned to nobody

[2021-06-30 10:59] MortenHofft commented on #3489
Hi @albenson-usgs
If you link your Github account to your GBIF account used on https://www.gbif.org/country/US/summary, then you will be notified on issues related to US publishers (similar to [this example](https://github.com/gbif/portal-feedback/issues/3492))

You can do so by going to your user profile https://www.gbif.org/user/profile and connect to Github

[2021-06-30 11:03] mdoering commented on #3491
The COL version from december 2020 which we used does have them as synonyms, taken from an old version of Systema Dipterorum: https://data.catalogueoflife.org/dataset/2242/taxon/6VSRD

SD has been updated since which seemed to correct the mistake!

[2021-06-30 17:45] ManonGros commented on #3490
Thanks @myrmoteras this is a really great idea!

@gsautter do you have time this week or the next one? Let's coordinate by email. I think it would be really helpful to have @marcos-lg involved too for technical details.

The only identifiers we generate for new GRSciColl entries are UUIDs used for their URLs. These UUIDs can be used in the institutionID and collectionID fields to match occurrences

[2021-06-30 18:51] jeroencreuwels commented on #1897
I received feedback today. It is not clear what the issue is.

[2021-06-30 18:51] jeroencreuwels commented on #1898
I received feedback today. It is not clear what the issue is.

[2021-06-30 18:52] jeroencreuwels commented on #1899
I received feedback today. It is not clear what the issue is.

[2021-06-30 18:52] jeroencreuwels commented on #1900
I received feedback today. It is not clear what the issue is.

[2021-06-30 19:36] ManonGros commented on #1900
I think this user is suggesting an identification for this specimen.
The scientific name associated with the specimen is currently `Sesamum L.` and the suggested new name is `Sesamum radiatum Hornemann`. I believe the references are here to support the identification.

[2021-06-30 19:37] ManonGros commented on #1899
Same as mentioned in this other issue: https://github.com/gbif/portal-feedback/issues/1900#issuecomment-871674181
This user seems to suggest that this specimen is `Sesamum angustifolium (Oliv.) Engl.`.

[2021-06-30 19:39] ManonGros commented on #1898
I think this user suspects that the specimen was misidentified. They suggest to update the identification to `Sesamum alatum Thonn.` instead of `Sesamopteris alata (Thonn.) DC. ex Meisn.`

[2021-06-30 19:40] ManonGros commented on #1897
This user seems to suspect the specimen was misidentified. They suggest the name `Ceratotheca triloba (Bernh.) E. Mey.` instead of `Sesamopteris alata (Thonn.) DC. ex Meisn.`.

[2021-07-01 06:50] ManonGros commented on #3436
Organization page updated.

[2021-07-01 06:50] #3436 closed, assigned to ManonGros

[2021-07-01 08:48] MortenHofft commented on #3488
Does anyone believe this should be added to the gbif.org profile view? Currently it is only available in the registry where editing rights and roles matter. If so let me know and I will reopen the issue.

[2021-07-01 08:48] #3488 closed, assigned to nobody

[2021-07-01 09:27] ManonGros commented on #3488
I think it makes sense to keep it in the registry. Does that sound good @dbloom ?

[2021-07-01 12:43] gbif-portal opened #3493 "DwC-A data validator - apparently it stopped working? It flashes a text for a while and then states that "The validation job ID was not found""
**DwC-A data validator - apparently it stopped working? It flashes a text for a while and then states that &quot;The validation job ID was not found&quot;**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/564e029baa0e2ffe259306799e678f65:7f670d322b6a6300d1028c1c6cb5d2a602135791dda266dc6d2948e4e548e82431bee310efd984067c1bbe2aad404b10d0e02d634c68f360ba67d69cd8c9cae0)
System: F

[2021-07-01 12:47] jeroencreuwels commented on #2955
I have contacted the Mollusc curator at Naturalis to have a look at this notification.

[2021-07-01 13:34] gbif-portal opened #3494 ""Rerun query" link on downloads ignores In predicates"
**&quot;Rerun query&quot; link on downloads ignores In predicates**

The license predicate (which is an In predicate) isn't included when clicking "Rerun query" on this download.

https://www.gbif.org/occurrence/download/0314814-200613084148143

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4e66f4c1d380404bf25bf8fe57f371a0:ec99e79677a823c242989626b32e2edbea2e1f99ea2a4f42c49

[2021-07-01 14:49] dbloom commented on #3488
@ManonGros  et al.  I think keeping in within the registry makes sense to me. This will keep the focus where it needs to be without complicating things elsewhere.

[2021-07-02 01:05] gbif-portal opened #3495 "All occurrences for https://www.gbif.org/dataset/7fd2f6e2-f762-11e1-a439-00145eb45e9a have gone missing"
**All occurrences for `https://www.gbif.org/dataset/7fd2f6e2-f762-11e1-a439-00145eb45e9a` have gone missing**

All the occurrences on https://www.gbif.org/dataset/7fd2f6e2-f762-11e1-a439-00145eb45e9a have evaporated & it looks like a processing error at GBIF's end. The source IPT shows its full number of records.

-----

Github user: @dshorthouse
User: [See in registry](https://www.gbif.org/api/fe

[2021-07-02 01:08] dshorthouse commented on #3495
Ping @timrobertson100 @MattBlissett

[2021-07-02 01:14] dshorthouse commented on #3495
This one too is missing a whole bunch of records https://www.gbif.org/dataset/a5be4674-3ee0-4aab-9ce6-c602a7d71d18

Besides killing the rendering on gbif.org, it looks as if all of the datasets served from the provider were recently updated and nearly all have experienced some problems in the number of records served via their IPT vs harvested, processed & shown on gbif.org.

[2021-07-02 07:02] timrobertson100 commented on #3495
Thanks @dshorthouse - we'll investigate.

Thanks - that is probably a different issue, relating to unusually large - but not incorrect - EML files

[2021-07-02 07:52] fmendezh commented on #3495
https://www.gbif.org/dataset/a5be4674-3ee0-4aab-9ce6-c602a7d71d18 contains thousands of repeated IDs that follow the pattern _urn:catalog:*:*:NO DISPONIBLE_  in total there are more 44159 records in that archive with some ID issue, we'll review our indexing strategy to react better to similar situations.
@ManonGros @ahahn-gbif I am tagging you to see if we can contact the data publisher to fix the

[2021-07-02 08:04] muttcg commented on #3495
All IDs for [7fd2f6e2-f762-11e1-a439-00145eb45e9a](https://registry.gbif.org/dataset/7fd2f6e2-f762-11e1-a439-00145eb45e9a/ingestion-history) have the same value, in the first step we filter all records with the same IDs and different content, so we end up having 0 records.
@ManonGros @ahahn-gbif Please contact the publisher and also you can test the fixed dataset on UAT first

[2021-07-02 08:06] muttcg commented on #3495
FYI: I also reverted both datasets to the previous working attempts

[2021-07-02 11:55] gbif-portal opened #3496 "End date and time"
**End date and time**

First month to see when entering end date and time should not be current, but same as Start date and time.

BONUS. Make time a separate and non-obligatory field.

For illustration, try to repeat what I did, create a new even that takes three full days on 13-15 March 2023.

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/22c7627d11

[2021-07-02 12:15] gbif-portal opened #3497 "test"
**test**

test - this issue should be ignored

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/55b3e7b5333a7ed61c57cbf5b204d804:e91dcc616b5ce836b7e3ce530eafc40f3b0c51bea03c9a4d566c3676a76620b7351f1e732e8592fffaabb7ecaffc3274d8c20d476ffce9a7de3cd4b85f659c43)
System: Chrome 91.0.4472 / Mac OS X 10.15.7
Referer: https://www.gbif.org/occurrence/859267164

[2021-07-02 12:15] #3497 closed, assigned to nobody

[2021-07-02 12:18] MortenHofft commented on #3497
@pzermoglio it is far from a perfect solution, but you can now [search for issues by their networkKey](https://github.com/gbif/portal-feedback/issues?q=is%3Aissue+%2299d66b6c-9087-452f-a9d4-f15f2c2d0e7e%22+is%3Aopen)
We only add this for issues related to individual occurrences. So if you care to find issues logged against vertnet related occurrences, then this should work for future issues.

[2021-07-02 12:24] dnoesgaard commented on #3496
This is a Google Form and it doesn't allow us to make the suggested changes.

Hint: click the month name to navigate years/months more easily
![Screenshot 2021-07-02 at 14 23 51](https://user-images.githubusercontent.com/21358085/124274088-21b80f80-db41-11eb-9996-3f8ed015bc58.png)

[2021-07-02 12:24] #3496 closed, assigned to dnoesgaard

[2021-07-02 13:48] wouteraddink opened #3498 "improvement of data flags"
The data flags displayed in the portal are sometimes somewhat cryptic, e.g. "Institution collection mismatch". It would be nice to display tooltips for the flags with the longer explanations given in https://data-blog.gbif.org/post/issues-and-flags/

[2021-07-02 22:07] cebraj opened #3499 "Duplicate Taxon IDs for "Balanus nubilus" and "Balanus nubilus Darwin, 1854" ?"
Greetings,
It seems there are 2 different IDs for "Balanus nubilus" in GBIF. Are they in fact the same taxon? If so, can they be merged into one record?

https://www.gbif.org/species/2115695
https://www.gbif.org/species/2115727

I am working on a linked data project and need to include a single Taxon ID for this species.

Much appreciated,
Jessica

[2021-07-05 08:24] MortenHofft commented on #3494
The code for processing download predicates is convoluted and miss testing.
We translate them into simple search queries and into the trees we show in the UI.

Either way above issue should be solved now, but the code is still in a state that it would benefit from refactoring.

[2021-07-05 08:24] #3494 closed, assigned to nobody

[2021-07-05 09:15] gbif-portal opened #3500 "RIS, BIBTEX download of citation is not working"
**RIS, BIBTEX download of citation is not working**

RIS, BIBTEX download of citation is not working

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/869d95c426ba93689b479a5e3148f590:ebba08f1ad8023b4703dfe921f016d828cb90428792c415e0ae726099d5d807a3a024f498b21b0280c18c3d95e982a208328f866b17b85d9cbff1db4e7c74c81)
System: Opera 77.0.4054 / Windows 10.0.0
Referer: https://www.gbi

[2021-07-05 10:12] jeroencreuwels commented on #3281
I have contacted Frans Slieker about this issue and it has been solved. This issue can be closed.
Jeroen Creuwels, datamanager NLBIF.

[2021-07-05 10:16] ManonGros commented on #3281
Thanks @jeroencreuwels

[2021-07-05 10:16] #3281 closed, assigned to nobody

[2021-07-05 10:52] MortenHofft commented on #3500
@dnoesgaard do you know what this is about?

It is hard to tell from the link the user has provided I find. I've tried the specific users downloads and they work fine to me. And I've tried them in the Opera browser as the user is using. That works fine as well.

Perhaps it is a question about latency before the Datacite link works? Could you possibly list when this works and how to detect it then

[2021-07-05 10:55] MattBlissett commented on #3500
For cancelled / broken downloads we don't register the DOI, though it has been reserved.  We should not display the citation block or the DOI on these.

[2021-07-05 11:02] MortenHofft commented on #3500
If it isn't registered anywhere, should we then remove the DOI rom the API?

[2021-07-05 11:12] dnoesgaard commented on #3500
I guess we don't register until the download is ready? I did a test and the moment my download was ready, I was able to query the Datacite API and get RIS and Bibtex files. Perhaps we could hide the citation box until the download is ready?

[2021-07-05 11:14] MattBlissett commented on #3500
We need to keep it in the database (unless we delete the reservation, but there have been cases where people cancel a download but still cite the download).

I think it would be reasonable to hide it from the API if the status is not RUNNING, SUCCEEDED, or FILE_ERASED.

[2021-07-05 11:21] dnoesgaard commented on #3500
Fairly sure we delete draft DOIs if unused. Example: https://www.gbif.org/occurrence/download/0148547-200613084148143

![Screenshot 2021-07-05 at 13 20 55](https://user-images.githubusercontent.com/21358085/124463920-d6496f80-dd93-11eb-81b8-a929a6d0181b.png)

[2021-07-05 14:26] MortenHofft commented on #3500
So is it correctly understood that we should only show it if `status: SUCCEEDED` AND a DOI is included in the API response.

So users can only download the citation once the data is ready to download.

[2021-07-05 14:34] dnoesgaard commented on #3500
I'm a little bit worried about what might happen if we don't show the citation block until the download is ready.

But since the RIS/Bibtex links will not work until the DOI is registered, we might consider only showing these when the download status is `SUCCEEDED`. Does that make sense?

[2021-07-05 18:51] MattBlissett commented on #3500
`FILE_ERASED` is just as good for citation, as we still keep the metadata and the DOI is registered.  It is equivalent to `SUCCEEDED` in this case.

I was thinking we should change the registry API response, but I don't mind this being done in the portal instead.

[2021-07-06 07:59] gbif-portal opened #3501 "add redirect (BID communications guidelines)"
**add redirect (BID communications guidelines)**

would it be possible to add a more specific redirect for http://bid.gbif.org/en/community/communication-guidelines/

to
https://www.gbif.org/article/4VrlT3i4ZCJPOY8dX9JcQo

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/87d58d9c7cfe771ed4d9ad71ee4e0bba:94bdad318065e8a2910308ec923ecd32965cc0231e1fd76ab

[2021-07-06 08:00] MortenHofft commented on #3500
I agree it is a shame that we cannot show it until it is completed, but unless we create the endpoint ourselves there isn't much I can do (if it isn't available through the DataCite API)

[2021-07-06 08:05] MortenHofft opened #3502 "Remove DOIs that do not resolve"
E.g. https://www.gbif.org/occurrence/download/0148547-200613084148143 has a DOI that do not resolve. Should we remove DOIs that aren't registered? It seems wrong to show a DOI in this case.

Prompted by https://github.com/gbif/portal-feedback/issues/3500

[2021-07-06 08:05] dnoesgaard commented on #3500
If we can hide the RIS/Bibtex buttons until the download is ready, I think that's fine. I don't think we should hide the entire citation block. We don't want to give people any excuse not to cite the downloads properly.

[2021-07-06 08:05] MortenHofft commented on #3500
I will do that, but I also believe we should remove the DOI from the API if we know it doesn't work. As in the issue linked above.

[2021-07-06 08:15] #3500 closed, assigned to MortenHofft, dnoesgaard

[2021-07-06 08:21] gbif-portal opened #3503 "link to citation guidelines on species pages"
**link to citation guidelines on species pages**

I'd like to include a link to the citation guides right next to the citation header (`species.citation`) on species pages. I'm not sure I can include links in translations. Can you advise?

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/2e51067471ce3bc62f05c68615c4311b:28a99afa02e45b399b549cf8c4ab8a42

[2021-07-06 08:23] dnoesgaard commented on #3503
Something like this

<img width="397" alt="Screenshot 2021-07-06 at 10 19 49" src="https://user-images.githubusercontent.com/21358085/124567122-fb95b680-de43-11eb-8be9-4a2e03a679ad.png">

linking to `/citation-guidelines#occDataDownload`

[2021-07-06 08:26] dnoesgaard commented on #3500
Btw, @MortenHofft did you write the user? Otherwise I will...

[2021-07-06 08:31] MattBlissett commented on #3501
Done.

[2021-07-06 08:31] #3501 closed, assigned to nobody

[2021-07-06 08:43] MortenHofft commented on #3500
No I haven't. please do yes :)

[2021-07-06 09:39] MortenHofft commented on #3503
Makes sense to do this.

Should we aim to add the copy/bibtex/ris buttons as well? Should it be styled similar to the download citation box?

Would it make sense to create an issue with all of the changes you would like to see to how citations display in the UI?
It can be nice to know from a development perspective if the implementation is to be used 10 places or 1. I'm mentioning it because we ju

[2021-07-06 09:55] dnoesgaard commented on #3503
I think styling the citations similarly (and providing downloadable RIS/Bibtex links where possible) across all citable objects makes a lot of sense. Species are slightly different, however, as they don't have unique DOIs. Reviewing all these take time and requesting small changes one at a time is sometimes more manageable. But I get your point, I agree it would make sense to review all of them to

[2021-07-06 12:37] myrmoteras opened #3504 "broken links to images on BLR"
in these cases the images do not show up
https://www.gbif.org/species/164184173
![image](https://user-images.githubusercontent.com/4609956/124592341-a6ff3500-de5d-11eb-81e6-823a5d9f1fa0.png)
it seems to load, but then suddenly stops, but the link to the image on BLR is working https://zenodo.org/record/3833633#.YOQ9w-gzb8A

I thought that there are some others too, but can't recapitulate the error

[2021-07-06 12:48] gbif-portal opened #3505 "derived dataset - don't show 0 records"
**derived dataset - don&#39;t show 0 records**

When derived datasets have null record values, we show "0 records from this dataset" when mousing-over. When should probably omit this or change wording to unknown number of records.

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/af36e55e576a3ebd0e3cb7c4cbc0c658:651a640c428b77038ab752b9ce97324bb569f0f3

[2021-07-07 06:45] #3454 closed, assigned to thomasstjerne

[2021-07-07 06:58] #3505 closed, assigned to nobody

[2021-07-07 07:03] thomasstjerne commented on #3504
@myrmoteras I see both images when I click https://www.gbif.org/species/164184173
Could it be network issues causing this temporarily?

[2021-07-07 07:57] MortenHofft commented on #3504
I've tried in Firefox, Safari, Opera and Chrome on mac and cannot reproduce. Sounds very likely that this is due to a network outage.

[2021-07-07 07:58] myrmoteras commented on #3504
looks like it - I can't reproduce it either

[2021-07-07 07:58] #3504 closed, assigned to nobody

[2021-07-07 09:49] ManonGros commented on #3495
It seems like the occurrenceIDs are ok for both datasets. Should that work or does the pipeline only take into account the recordID field?

Given that they are publishing data from an IPT, I assume that the recordID field is populated automatically. I would have expected that they would actually be the same as the occurrenceIDs (at least that's what happens when I map a file to DwC in the IPT).
Pe

[2021-07-07 11:44] dshorthouse commented on #3495
Much appreciated @ManonGros. It looks like folks at CONABIO had systematically republished most (all?) of their datasets end-June, https://www.snib.mx/iptconabio/. Although I have not looked through each, this issue here is not limited to two datasets but quite possibly true of a good lot of them. The two I mentioned here just happened to be the ones that were most obvious to processing mishaps in

[2021-07-07 14:39] gbif-portal opened #3506 "Mason Herbeling"
**Mason Herbeling**

Add a note that GBIF Ambassador is presenting, poster

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/e8d088c761e77ba10f9db629ac72fffb:4ba53ca00e0815a4d1939997148ee0ecd87a7087c101db42425a2a957124246bd5f40dd3c6b5bd2d8555c4bf206820f89807bfacedb624fa27e45195949b5dc4)
System: Chrome 91.0.4472 / Windows 10.0.0
Referer: https://www.gbif.

[2021-07-07 14:51] gsautter commented on #3490
@ManonGros we can surely coordinate and sketch out how to make this happen. What times would suit you best? My preference would on some time in the afternoon or early evening CEST, but I can adjust.

[2021-07-07 17:17] MattBlissett commented on #3495
The coreId ought to be the occurrenceId (for an occurrence dataset), so I'm not sure how this has happened.

It would probably be useful to see the mapping screen (or resource.xml) in the CONABIO IPT.

A single-RowType (no extensions) DwC-A with duplicated coreId values isn't invalid, though it's not a good idea.  The IPT only checks the uniqueness of the coreId when there are extensions.

[2021-07-08 07:27] gbif-portal opened #3507 "The data file is cluttered"
**The data file is cluttered**

Hi,
I downloaded the following dataset:
GBIF.org (08 July 2021) GBIF Occurrence Download https://doi.org/10.15468/dl.hqa4ck

However, the data are cluttered in excel and seems to be in the wrong columns. I used R to open the data and the same issues still exist.

It would be great if you could resolve the issue.

Regards
Hadi

-----

User: [See in registry](https://

[2021-07-08 07:56] MortenHofft commented on #3372
Has this been resolved?

[2021-07-08 08:00] MortenHofft commented on #3339
We support multiple download formats for occurrences. One of them is a tab delimited csv.

For help with opening this type of files, see https://www.gbif.org/faq?question=opening-gbif-csv-in-excel

I'm closing this issue. Feel free to open a new if you still experience issues

[2021-07-08 08:00] #3339 closed, assigned to nobody

[2021-07-08 09:45] MortenHofft commented on #3490
I don't fully get the suggestions/ideas presented here, but below seems somewhat relevant

**Lookup**
We have an endpoint for looking up collections and institutions based on a code and a few other parameters
It is documented here https://www.gbif.org/developer/registry#lookup

* This could be used to test if the entry is likely to already exist before suggesting a new one.
* And it could be used

[2021-07-08 13:38] gbif-portal opened #3508 "no funciona el botón de búsqueda. La página no carga. No puede leer esto porque las columnas se superponen"
**no funciona el botón de búsqueda. La página no carga. No puede leer esto porque las columnas se superponen**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2b30cc89825318e2ae17f4ef166b9a06:62cf1c489ab9c7b7a87f160ab0c72c3454cd5a1622c5fd9399a17b85a138a48447a2bce1e37c2c9c9570c9d53c14d896bfda13c13800a8747266942f9379ead971c50fca9bb975815f20d800906dfd44)
System: Chrome 91.0.447

[2021-07-08 15:45] dnoesgaard opened #3509 "Maintaining current portal language when redirecting using DOIs"
https://www.gbif.org/resource/search?contentType=literature

If a user is browsing the portal in another language, clicking a DOI referenced in study will revert to English because of the DOI redirect. I found a clever work-around that we might consider. Just add `?urlappend=?lang=xx` to the DOI link and this is passed on to the portal, e.g.

https://doi.org/10.15468/dl.880brl?urlappend=?lang=zh
b

[2021-07-08 15:57] dnoesgaard commented on #3480
I actually thought we had fixed this a long time ago - see  #https://github.com/gbif/registry/issues/137

[2021-07-08 16:01] MattBlissett commented on #3509
People will end up pasting those URLs with `?urlappend...` into documents etc, which isn't ideal.  It's probably better if the portal would redirect itself, if the user has chosen a language.

That also deals with all other links to www.gbif.org.

[2021-07-08 16:03] MattBlissett commented on #3480
It was probably missed when the redeveloped Registry was put into production.

[2021-07-08 16:06] dnoesgaard commented on #3509
Right ok, hadn't thought about that. Good point.

Perhaps we just need a routine that checks (internal) DOI links and rewrites to prepend the current language. Could be used all over the site. Might be expensive though...

[2021-07-09 08:29] MortenHofft commented on #3508
Google translate

[2021-07-09 08:43] MortenHofft commented on #3508
Hi, Thank you for reporting this. I'm afraid I do not speak Spanish.

Could you provide some more context please? What page are you having issues with? Possibly with a screenshot.
Do you still have the issue or was it temporary? Do you have any plugins running (for example that blocks Javascript).

Thank you for your help

[2021-07-09 08:58] MortenHofft commented on #3509
Sounds like a nice feature yes. I guess it could be done many ways. I know @MattBlissett likes content negotiation for these things, but personally I'm not a fan :)

Do we have an endpoint to get downloads by DOI?

[2021-07-09 09:03] dnoesgaard commented on #3509
https://api.gbif.org/v1/occurrence/download/10.15468/dl.0bc5j2 ?

[2021-07-09 10:04] MortenHofft commented on #3509
Thank you - I was convinced I had tried that and other variants like download/doi/10.15468/dl.0bc5j2

[2021-07-09 11:08] gbif-portal opened #3510 "Bug in web address"
**Bug in web address**

link should be https://www.nocturne.org.uk/ (right now it contains gbif in front )

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/62f4b20257c86a1baa80346a8ee11ee5:dac1d983789d9b01cf1092c84b44719636c04876a9be433d152959a73220068f99f99dc32d0b96dd3a070406073e2d4f8e56a08827c164c01521e94fbb8706e8)
System: Chrome 91.0.4472 / Windows 10.0.0
Referer: https://

[2021-07-09 11:47] MattBlissett commented on #3510
Thanks @akristensen, fixed in the registry.

[2021-07-09 11:47] #3510 closed, assigned to nobody

[2021-07-09 12:52] gbif-portal opened #3511 "Institution and collection Code and ID not interpreted"
**Institution and collection Code and ID not interpreted**

This specimens should be linked to GRSciColl or flagged but it isn't.

This is the corresponding GRSciColl entry: https://registry.gbif.org/institution/40452d31-2f91-460a-a624-7ecf27eac71e

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/8df59ae3de7e438e84050f31f69c8a54:a445d963dfc78edd8677097

[2021-07-09 14:39] marcos-lg commented on #3490
@gsautter you can find the suggestion API documentation [here](https://www.gbif.org/developer/registry#collections). The endpoints related to suggestions are at the end of each section (end of the collection section and end of the institution section). It's the ones that contain `changeSuggestion` in the path.

Anyway, I'm gonna put here some examples.

To query all the suggestions for institution

[2021-07-09 15:54] ManonGros commented on #3490
One more thing: when checking if an institution or collection exist, you can first use the lookup tool (https://www.gbif.org/developer/registry#lookup) as Morten mentioned and if nothing is found, you can use the search function (documented [here](https://www.gbif.org/developer/registry#collections)).

[2021-07-11 15:17] SenCodeMaker commented on #1717
hello everyone ! in continuation of this question, is there a way to filter by image license ?

[2021-07-12 00:43] gbif-portal opened #3512 "The occurrence data files I get are not comma delimited. Excel can't divide the data into fields. I can't figure out how to fix."
**The occurrence data files I get are not comma delimited. Excel can&#39;t divide the data into fields. I can&#39;t figure out how to fix.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/53af30d2fe8dc489561c563ce22ed6dd:af23a87b4d2ee1fdf301e72ab4b1dbffbe156cf67fc48a242d4ae6512ebacbda93d1baadfc53f04db9994eb6c4dd0ec46eaf8b1ed748bc215d1449ca51ff29a7)
System: Chrome 91.0.4472

[2021-07-12 06:41] ManonGros commented on #3512
User contacted by email:

[2021-07-12 06:41] #3512 closed, assigned to nobody

[2021-07-12 08:58] ManonGros commented on #1717
Hi @SenCodeMaker there is no way to filter images by license GBIF (as they are not standardised). That being said, if you have a specific use case, you can write to helpdesk@gbif.org to ask for a custom download.

[2021-07-12 09:51] ManonGros commented on #3495
I wrote to CONABIO to notify them and ask if they could send us their mapping and resources files.

[2021-07-12 13:18] ManonGros commented on #3507
The files downloadable from GBIF are tab-separated CSV files. Here is a link to an FAQ explaining how to open this type of file in excel: https://www.gbif.org/faq?question=opening-gbif-csv-in-excel
Here is a thread on our forum explaining various way to open these files in R: https://discourse.gbif.org/t/reading-gbif-downloads-simple-csv-with-r/2615

[2021-07-12 13:18] #3507 closed, assigned to nobody

[2021-07-12 13:50] ManonGros commented on #3391
Please send the updates that you would like to see on the organization page to helpdesk@gbif.org. If possible, please CC at least one of the current contact in the email.

[2021-07-12 13:50] #3391 closed, assigned to nobody

[2021-07-12 17:32] gbif-portal opened #3513 "hello, how can we download all the images of the otolith in the Mediterranean sea?"
**hello, how can we download all the images of the otolith in the Mediterranean sea?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1928d7a91488cea4dbb918c66091510d:37a87e0e528c22fe115c823341815818bc94fb4b9ca483f47b3cab71a84d45558fd4f23f692ba1ee147322575648ba42907bd11739ba80e7984c7fbf46db688f)
System: Chrome 91.0.4472 / Windows 10.0.0
Referer: https://www.gbif.org/occurre

[2021-07-13 07:27] ManonGros commented on #3495
CONABIO sent their resource.xml file. As far as I can tell, the occurrenceID should be used as index.
There is:
[code]
and this:
[code]
@MattBlissett @mike-podolskiy90 can I send you the file so you can take a look? (I probably missed something)

[2021-07-13 07:52] ManonGros commented on #3513
There is no easy way to download all the images of otolith in the Mediterranean sea. That being said, here is how to download as many as possible:
* The first step is to select a dataset containing otolith images and use the polygon map tool to select the area of interest: https://www.gbif.org/occurrence/map?dataset_key=e95d0010-b3f1-11de-82f8-b8a03c50a862&media_type=StillImage&geometry=POLYGON((-

[2021-07-13 07:52] #3513 closed, assigned to ManonGros

[2021-07-13 08:27] ManonGros commented on #3215
@mdoering could you take a look at this issue? It seems to concern a [Catalogue of Life Partnership](https://www.gbif.org/publisher/f4ce3c03-7b38-445e-86e6-5f6b04b649d4) dataset.

[2021-07-13 08:43] ManonGros commented on #3165
After checking, it seems that this issue was originally a backbone taxonomy one.
The previous backbone has the genus Leistes Vigors, 1825 as well as the species mentioned above in the family Fringillidae.
However, this is no longer the case. The newest backbone seem to have https://www.gbif.org/species/4846742 in the correct family.

[2021-07-13 08:43] #3165 closed

[2021-07-13 08:57] timrobertson100 commented on #3495
Please can you send it to informatics@gbif.org @ManonGros ?

[2021-07-13 09:52] ManonGros commented on #1165
I tried my best to add the missing coordinates based on the name of organization and address provided.

[2021-07-13 09:52] #1165 closed

[2021-07-14 00:19] gbif-portal opened #3514 "Hello, the herbarium board concerns another species (Dichapetalum madagascariense) and not the species of the web page (Statice gougetiana)"
**Hello, the herbarium board concerns another species (Dichapetalum madagascariense) and not the species of the web page (Statice gougetiana)**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/11dd3aa3b588ffa11878861faf312537:e9ab9186498f5aa5d72e5deb77b5f7be093d4cdbdacca6c49c26e3a76277c9b1a9e50354a2e32e8c80654fb3ce132a947479ebf419abb368f354964e195e6994)
System: Chrome 91.0.44

[2021-07-14 07:25] ManonGros commented on #3514
Yes it seems like the image doesn't correspond to the record.
The image shows a Dichapetalum madagascariense specimen with the catalogue number WAG0304660 collected in Benin and not the Statice gougetiana specimen with the catalogue number WAG.1225031 collected in Algeria (which is what the record shows: https://www.gbif.org/fr/occurrence/2517345750).

@jeroencreuwels would it be possible to check

[2021-07-14 12:04] gbif-portal opened #3515 "Bug when trying to download large dataset"
**Bug when trying to download large dataset**

Hello GBIF,

I am trying to download a species list for Polesia, which I mapped and converted to coordinates. Below is the link I used. The polygon seems correct, as it load properly in the minimap. I use Chrome which supports URLs of this length.

Can you help me download these data?

https://www.gbif.org/occurrence/download?basis_of_record=HUMAN_OBS

[2021-07-14 23:02] gbif-portal opened #3516 "Cannot get data in CSV format"
**Cannot get data in CSV format**

When I try downloading data, it does not appear in a CSV file format. Rather it appears only as Text Documents and XML Documents, so I am having trouble viewing my data. Why might this be happening, and how can I view my data?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/82fab3a9870f2d004960fe8ccc944cbb:a18c0855422ecbdae6d395c8f4e93b2274

[2021-07-15 03:16] gbif-portal opened #3517 "Regarding correcting Abutilon ranadei record in GBIF"
**Regarding correcting Abutilon ranadei record in GBIF**

I am writing to you regarding following record
http://gbif.org/occurrence/1056726771

The location is appearing in central India, and causing issues while distribution mapping in redlist assessment. I have read the specimen data and it appears to be collected from Type Locality, Amba Ghat Ratnagiri District, Maharashtra State India. Can it

[2021-07-15 07:59] ManonGros commented on #3516
The format selected for this download is the DARWIN CORE ARCHIVE format. We have two FAQs explaining a bit more what this format is and what it contains:
* https://www.gbif.org/faq?question=dwc-download
* https://www.gbif.org/faq?question=what-is-inside-a-gbif-download-zip-file

You are very welcome to select a different download format. Here is a list of the formats available: https://www.gbif.or

[2021-07-15 07:59] #3516 closed, assigned to ManonGros

[2021-07-15 08:10] ManonGros commented on #3517
I forwarded the feedback to the NHM via their online system: https://data.nhm.ac.uk/dataset/56e711e6-c847-4f99-915a-6894bb5c5dea/resource/05ff2255-c38a-40c9-b657-4ccb55ab2feb/record/4987152

[2021-07-15 09:20] jeroencreuwels commented on #3514
Thanks for the notification. I have done some research at our institute and it appears to be a legacy of our mass digitization process in 2010-2015. There are errors made during the digitization of the herbarium collection, for example in this case, where the two barcodes do not match (and the data of the wrong barcode is given). Apparently, the Herbarium curators are aware of these erroneous seri

[2021-07-15 12:33] ManonGros commented on #3515
Replied by email to use the download API and sent the user an example.

[2021-07-15 12:33] #3515 closed, assigned to ManonGros

[2021-07-15 12:56] ManonGros commented on #2612
It seems like the backbone update fixed this issue

[2021-07-15 12:56] #2612 closed

[2021-07-15 16:18] gbif-portal opened #3518 "file download"
**file download**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4ec28f26f4e2ab925171ad17ae8207cd:ba63b6e84fff43839601cd563dce8d19a6193ef088cbaa431f1854fc4e9e6bf62cf139fb6f68c5506ced03a04b4f58132008d90587008abd7c68635c026847dd)
System: Safari 14.1.1 / Mac OS X 10.15.7
Referer: https://www.gbif.org/health
Window size: width 1300 - height 692
[API log](https://private-logs.gb

[2021-07-18 08:02] gbif-portal opened #3519 "This sample is Pronephrium"
**This sample is Pronephrium**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/99ae9c2485edae2934947641740a3341:091c9aabe7ce3dd6d791871968c1d6a6e4ea89187f4ee8d9ba2f7f187756924ba4bb42e7d271aec509994a2d46b13d5ba3872af27074efd1ed1595c5e2f71e05)
System: Chrome 91.0.4472 / Windows 7.0.0
Referer: https://www.gbif.org/occurrence/1836115074
Window size: width 1366 - height 625
[API

[2021-07-18 08:03] gbif-portal opened #3520 "Sample is tectaria hilocarpa"
**Sample is tectaria hilocarpa**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7b9f8ffc481cd0969ba64bf5491699d6:400658887b915a46d73a7fd9dccd52f6044d2a9169a474166bba15cf5adb000d6ca226e4605c2dbbad371311b8d5edf832c448a3c208c9cf8354898e221d9df9)
System: Chrome 91.0.4472 / Windows 7.0.0
Referer: https://www.gbif.org/occurrence/1936025547
Window size: width 1366 - height 625
[AP

[2021-07-23 08:12] #3506 closed, assigned to nobody

[2021-07-23 09:12] gbif-portal opened #3521 "derived dataset - csv header"
**derived dataset - csv header**

If you upload a CSV with column headers, you get an error message that isn't very helpful. Could we improve this or perhaps ignore the first line if it looks like a header?

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/8097010dba4806a215cf131938450479:f19572545310a29b1b016f0c58b04894d2b592e3fa88b573cbf458ba98537563

[2021-07-23 09:13] dnoesgaard commented on #3521
![Screenshot 2021-07-23 at 11 11 16](https://user-images.githubusercontent.com/21358085/126761487-2f52af17-7d30-4819-8b2b-090e50acf0fe.png)

(ref https://github.com/eveskew/plant_rapid_assessment/issues/1)

[2021-07-26 04:39] gbif-portal opened #3522 "Inachis io is synonymous with Aglais io and the latter is valid."
**Inachis io is synonymous with Aglais io and the latter is valid.**

Inachis io is synonymous with Aglais io and the latter is the valid name.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6962bb21a406858d0d23314a4cdf8e8c:b543d2213a4be4451282f23910567b02de704af2c9fc50f407e08d196ca03661627bf57402dbfb35bd2c172e8ba7cf46115ee094d14f9ff0c9d4902cc8b3f869)
System: Chrome 91.0.44

[2021-07-26 07:23] fmendezh opened #3523 "Species Lookup - CSV export should escape quotes"
This issue was notified by email:
_I am writing because I encountered a little issue with the species lookup under https://www.gbif.org/tools/species-lookup . Please forward it to the developers in case I got the wrong address.

I uploaded a csv file which contained an entry with double quotes in the name: Citrus grandis "Tomentosa", to be exact (escaped "Citrus grandis ""Tomentosa""" in the file)

[2021-07-26 08:16] ahahn-gbif opened #3524 "Publisher page: show endorsement status for "rejected" entries as not pending"
The endorsement status of an organization in the GBIF registry can be "Waiting for endorsement" (the default for a newly registered organization), "On hold" (ongoing communication between the new organization and the endorsing node), "Endorsed", or "Rejected". An organization's endorsement may be rejected by the node manager if the relevance for GBIF in the context of data publishing is not given

[2021-07-26 12:34] gbif-portal opened #3525 "Typo in species attribution"
**Typo in species attribution**

This species had been named after Emil **Heese**, not Hesse (cf. IPNI: https://www.ipni.org/n/183417-2).

-----

Github user: @Tyrandus
User: [See in registry](https://www.gbif.org/api/feedback/user/368615480e61dd7382b1e0fac055d832:3fa0a56e1a6181687acf83ca4c080311122a22a07254239996cb03d55a53b03057f7aba8e2bad9b0053df18a6d185764b7c4fbac43688e4305a63bd1418543b4)
Syste

[2021-07-27 23:17] gbif-portal opened #3526 "Download runs but occurence.txt is empty"
**Download runs but occurence.txt is empty**

I'm trying to download a dataset with just under 150,000 occurrences. The occurrence dataset link is https://www.gbif.org/occurrence/download/0333002-200613084148143 and for whatever reason, the download appears to run, but generates only a 6kb zip file which, when opened, contains the files I would expect but no information inside!

-----

User: [See

[2021-07-28 08:54] MattBlissett commented on #3526
Replied by email.

See https://github.com/gbif/parsers/issues/26

https://github.com/gbif/portal-feedback/issues/3324

https://github.com/gbif/portal-feedback/issues/2387

etc.

[2021-07-28 08:54] #3526 closed, assigned to nobody

[2021-07-29 12:47] gbif-portal opened #3527 "species missing"
**species missing**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7dc088535d3ca6ae1095db942d9fcc31:681067e59bdf8490efa356899af38d4e0ab28db74591a1682944b3e9a2b8a2441b6f9b55ad68428292ea390888235dda2bb7ddcea76e1ed880a87bf9d1c14adc)
System: Chrome 92.0.4515 / Windows 10.0.0
Referer: https://www.gbif.org/user/profile
Window size: width 1920 - height 937
[API log](https://privat

[2021-07-29 12:53] gbif-portal opened #3528 "Hi! It appears that Oxalis stricta is missing from GBiF. This Oxalis species appears to be valid and separated from other species by a set of morphological characters (Groom et al. 2017 10.3989/collectbot.2017.v36.004); and it is considered valid by Plants of the World Online (http://www.plantsoftheworldonline.org/taxon/urn:lsid:ipni.org:names:178499-2). Therefore, this species appears to merit it's inclusion in GBiF as a distinct taxon. Nevertheless, if the taxonomic criterion of GBiF is that Oxalis stricta is a synonym of another Oxalis species, this could be introduced in the backbone... at present, Oxalis stricta retursn HIGHERRANK rather than SYNONYM (when rgbif::name_backbone() is used). Many thanks!"
**Hi! It appears that Oxalis stricta is missing from GBiF. This Oxalis species appears to be valid and separated from other species by a set of morphological characters (Groom et al. 2017 10.3989/collectbot.2017.v36.004); and it is considered valid by Plants of the World Online (`http://www.plantsoftheworldonline.org/taxon/urn:lsid:ipni.org:names:178499-2).` Therefore, this species appears to meri

[2021-07-29 19:20] tapirus07 opened #3529 "Very incorrect hundred of birds species included for Nigeria (Lagos city specifically)"
After to download bird species for some cities in the world, I noted that Lagos, NG has over 900 birds species (what it is completelly impossible for an urban area). Going deep, I noted that about 600 species were recorded just once, and all them are completely out of their geographical ranges (endemics from North America, South America, Australia, Europe). I also noted all these crazy records are

[2021-07-30 07:15] jlegind commented on #3527
copy of  #3528

[2021-07-30 07:15] #3527 closed, assigned to nobody

[2021-08-03 15:02] gbif-portal opened #3530 "I used the rgbif occ_download() function for an ongoing research project. I did not, however, save the DOI for each individual download. My understanding is that I could combine the CSV output files to create a derived dataset with a single DOI (for each of citing - we have 139 species in the study). Is it possible to either a) track down those original DOIs associated with my downloads, or b) create a derived dataset without them? Any help would be much appreciated!"
**I used the rgbif occ_download() function for an ongoing research project. I did not, however, save the DOI for each individual download. My understanding is that I could combine the CSV output files to create a derived dataset with a single DOI (for each of citing - we have 139 species in the study). Is it possible to either a) track down those original DOIs associated with my downloads, or b) c

[2021-08-03 15:03] silknets commented on #3530
Contact is silknets@vt.edu or via this GitHub account!

[2021-08-03 15:39] dnoesgaard commented on #3530
Hi there,

If you used occ_download(), you should be able to locate the relevant downloads and their DOIs in your account:
https://www.gbif.org/user/download

If that isn't the case, or if you simply wish to combine downloads regardless of the way they were obtained, you can indeed create a derived dataset. You simply need to summarize the combined dataset by the column datasetKey. More informatio

[2021-08-03 15:57] silknets commented on #3530
Daniel, thank you for the reply.

I provided incorrect information above, which seems to be the issue's root cause. **I used the occ_search() function to retrieve GBIF records, and not occ_download() as I previously stated**. The latter appears to require a login through GBIF, which explains why I don't see the downloads in questions in my GBIF downloads records associated with my profile.

Does t

[2021-08-03 16:04] dnoesgaard commented on #3530
Occ_search() does not generate DOIs. If you still have the original data saved, does it have the column `datasetKey`?

[2021-08-03 16:11] silknets commented on #3530
I don't have the original data saved. I used occ_search(), then applied a series of filters to this data for each species before saving the CSV output. This output doesn't include datasetKey.

[2021-08-03 16:14] silknets commented on #3530
However, this data has retained the following columns if this is helpful: datasetName, occurrenceID, catalogNumber, institutionCode

[2021-08-03 16:32] dnoesgaard commented on #3530
Could you paste a couple of lines here?

[2021-08-03 16:41] silknets commented on #3530
[Acantharchus pomotis_occurrence data.txt](https://github.com/gbif/portal-feedback/files/6925746/Acantharchus.pomotis_occurrence.data.txt)
I couldn't upload the csv file, but here it is as a txt file. I'm also pasting the first 5 lines below:

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<

[2021-08-03 17:42] dnoesgaard commented on #3530
Ok, thanks.

Would you be able to send me all the csvs? Probably easier by email, zipped (dnoesgaard@gbif.org). I'll see what I can do then.

[2021-08-04 08:33] gbif-portal opened #3531 "GADM filter for Ciudad Real in Spain (ESP.4.2_1) includes 114 occurrences in northern Spain"
**GADM filter for Ciudad Real in Spain (ESP.4.2_1) includes 114 occurrences in northern Spain**

A GADM filter for "Ciudad Real" (central Spain) includes records from a disconnected area in northern Spain. From the content of those records (https://www.gbif.org/occurrence/search?advanced=1&geometry=POLYGON((-5.15479%2042.26221,-2.1665%2042.26221,-2.1665%2044.50342,-5.15479%2044.50342,-5.15479%2042

[2021-08-04 15:22] jlegind commented on #3519
User and dataset contacts have been contacted.

[2021-08-05 07:39] jlegind commented on #3529
Thank you for the report. We will investigate.

[2021-08-05 12:17] gbif-portal opened #3532 "Authority and name have been combined."
**Authority and name have been combined.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/8029cade2927b67df14b1596d9c5aa43:d20eb19fa64270c2fe976e94f0a5bbcd9f9438d6cf00d423054288a34d69d3b1f5dd9b7079c2f3b43cf8ef8025c028b21653059a681b984dabf363953285afab)
System: Chrome 92.0.4515 / Windows 10.0.0
Referer: https://www.gbif.org/species/10847127
Window size: width 1280 - height 8

[2021-08-05 12:20] gbif-portal opened #3533 "Authority and name have been combined."
**Authority and name have been combined.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6a533aa998b50bcac107099aa2709bc2:5a15e136ff4dabbcbe5679c85b7ad90a266e3ad964468c6076807feeca0c8b5a40881a2a2ddaabb53bbddb0c06ba5563eb77141a93201dfb0f4051bf11a3898c)
System: Chrome 92.0.4515 / Windows 10.0.0
Referer: https://www.gbif.org/species/10780008
Window size: width 1280 - height 8

[2021-08-05 12:23] gbif-portal opened #3534 "Authority and name have been combined."
**Authority and name have been combined.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/50fd19fd2cebdcb903b7cf03df8fe78d:85e3d3cd21254f230406a0a38587c19e62a13ab49f2d39605b4780e80e19ac0c32c90ffa663d65cc36a01ab3dec2d1c6f3ef30832b8fd30f2647fb7a82dc8760)
System: Chrome 92.0.4515 / Windows 10.0.0
Referer: https://www.gbif.org/species/10735437
Window size: width 1280 - height 8

[2021-08-05 12:27] gbif-portal opened #3535 "Authority and name have been combined."
**Authority and name have been combined.**

The species name and the authority should be two separate fields but, in this case, they have been combined in the species name whilst the authority is absent.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/befc06a4dbe97ed0b8ab9bbc6c08004d:e424fd8e9e5cb97a32b780b21c0e399af5a9e2075a37244b9979fcfbfef5a40f4fb5158a7a5e02b3714a977acd56

[2021-08-05 13:56] jlegind commented on #3529
The dataset contact has kindly responded:

_Thanks very much for your feedback. There is obviously a mix up in the dataset with the suggested species. We will work to pull that dataset down and review it with the correct entries. Kindly walk us through the process of reviewing the dataset please.
For the question of 900 species in Lagos, these species are not recorded for Lagos alone but for Niger

[2021-08-05 15:41] tapirus07 commented on #3529
Thanks for your attention. What I meant was that rgbif dataset have hundreds of birds species (from all parts of the world, and not native from Nigeria) attributed to **ONE** unique location **WITHIN LAGOS CITY**. So I am telling you that according to rgbif data we have over 900 bird species within Lagos city, not entire Nigeria.  This is impossible! If you get all birds records from Nigeria, and

[2021-08-05 16:13] tapirus07 commented on #3529
Thanks for your attention. What I meant was that rgbif dataset have hundreds of birds species (from all parts of the world, and not native from Nigeria) attributed to ONE unique location WITHIN LAGOS CITY. This information was provided by your foundation. So I am telling you that according to your data we have over 900 bird species within Lagos city, not entire Nigeria. This is impossible! If you

[2021-08-05 22:04] gbif-portal opened #3536 "Is there a wholistic way to download all of the records from a given publisher used in citations. Eg. I would like to summarize record citations for a given publisher, so it would be useful if it was possible to download all of the records x citation x dataset, rather than filtering each of the large cited datasets for records from the publisher's datasets"
**Is there a wholistic way to download all of the records from a given publisher used in citations. Eg. I would like to summarize record citations for a given publisher, so it would be useful if it was possible to download all of the records x citation x dataset, rather than filtering each of the large cited datasets for records from the publisher&#39;s datasets**

-----

User: [See in registry](h

[2021-08-06 07:40] jlegind commented on #3529
Dear tapirus07,

I see you are employing the rgbif package; may I ask if you are using the _occ_data()_ function, or the _occ_download()_ function?
For larger occurrence downloads, I would urge you to use the occ_download function (it creates a user-download) because it has no record limit (unlike occ_data which relies on page by page scraping of the API response).
The occ_download function gives

[2021-08-06 14:40] jlegind commented on #3529
Dear Tapirus07,

The dataset has been taken down for now. We are eagerly awaiting the publishers investigation of this issue.

Regards,

Jan K. Legind
Data manager, GBIF

[2021-08-10 08:08] gbif-portal opened #3537 "Incorrect authorship for some Beckhoplia species"
**Incorrect authorship for some Beckhoplia species**

We were notified of this issue by email:

Some of the Beckhoplia species have the authorship "Dombrow & Colville" which is incorrect (for example this one: https://www.gbif.org/species/10721415). According to the email we received, the authorship should be just "Dombrow".

The problem is that I don't know where the issue comes from. The species

[2021-08-10 08:10] ManonGros commented on #3537
@mdoering could you help me figure out what happened?

[2021-08-10 08:10] #3524 closed, assigned to MortenHofft

[2021-08-10 08:16] mdoering commented on #3537
It was wrong in the June version of COL:
https://www.gbif.org/species/174032754
and https://data.catalogueoflife.org/dataset/2315/taxon/L63Q

Will be fixed in the next backbone due in September using the new annual release of COL:
https://data.catalogueoflife.org/dataset/2328/taxon/L63Q

[2021-08-10 08:56] #3523 closed, assigned to thomasstjerne

[2021-08-10 08:58] MortenHofft commented on #3523
We don't use any library to generate the csv. That might well be a good idea. we simply concatenate strings. Quotes are now escaped, but it is likely that there are other cases we do not properly handle.

[2021-08-10 08:59] #3518 closed, assigned to nobody

[2021-08-10 12:31] #3503 closed, assigned to nobody

[2021-08-10 14:00] MattBlissett opened #3538 "Encoding corruption in Wikiplantbase #Italia"
The ABCD archive contains corrupt UTF-8 content, for example in UnitID 69557:

`<abcd:TitleCitation>Lastrucci L., Gonnelli V., Foggi B., 2005. Flora e vegetazione di alcune aree umide dell'altopiano della "Pianca"\235 nell'alta Val Marecchia (provincia di Arezzo, Toscana). Inform. Bot. Ital., 36 (2) (2004): 429-442.</abcd:TitleCitation>`

The \235 is my editor showing bytes which are invalid UTF-8

[2021-08-10 18:37] gbif-portal opened #3539 "Taxonomic error"
**Taxonomic error**

Page: https://www.gbif.org/species/5876576
States that Aulacophora nigripennis Motschulsky is a synonym of Dactylispa nigripennis (Motschulsky). This is an error. Both are valid, A. nigripennis is in the Galerucinae while D. nigripennis is in the Cassinae. Both have the same species epithet and were named by the same scientist, but they are not synonyms.

-----

User: [See in

[2021-08-11 08:58] ManonGros commented on #3536
There is not easy way for you to get the occurrence records for a given publishers attached to citations. However, we can do it for you if this is a one-time request.

[2021-08-11 08:58] #3536 closed, assigned to ManonGros

[2021-08-11 09:26] ManonGros commented on #3520
Publisher contacted by email.

[2021-08-11 09:36] #3416 closed, assigned to nobody

[2021-08-11 11:17] ManonGros commented on #3444
Publisher contacted by email.

[2021-08-11 11:23] jlegind commented on #3473
User was contacted and the solution was presented.

[2021-08-11 11:23] #3473 closed, assigned to jlegind

[2021-08-11 11:31] ManonGros commented on #3459
The question seem to have been answer. Let us know if the issue needs to be reopened.

[2021-08-11 11:31] #3459 closed, assigned to nobody

[2021-08-11 11:45] ManonGros commented on #3465
@dschigel

I don't think either of these datasets are integrated in the backbone.

They don't overlap at 100% with the backbone and are not in the document listing the checklists used in the backbone: https://hosted-datasets.gbif.org/datasets/backbone/backbone-config.yaml

[2021-08-12 12:07] ManonGros commented on #3474
It seems like we get the species name from the [Checklist of Beetles (Coleoptera) of Canada and Alaska. Second Edition.](https://www.gbif.org/dataset/7a9bccd4-32fc-420e-a73b-352b92267571) but the form names from [TAXREF](https://www.gbif.org/dataset/0e61f8fe-7d25-4f81-ada7-d970bbb2c6d6). Perhaps we could ask one or the other to include f. succinea in their checklist.
What do you think @mdoering ?

[2021-08-12 12:15] ManonGros commented on #3420
Most of them are from the same publisher: the [Instituto de Pesquisas Jardim Botanico do Rio de Janeiro](https://www.gbif.org/publisher/838537fc-4aeb-4980-8b58-97fbdcd1d91a).

[2021-08-12 12:20] ManonGros commented on #3369
I contacted Artsnavnebasen and they confirmed that this is likely a misspelling. The name has been corrected so the issue should be solved in the next backbone update.

[2021-08-12 12:49] mdoering commented on #3474
we can surely add this form to the next backbone with a patch!
I will contact TaxREF and inform them.
The form is also present in the [United Kingdom Species Inventory (UKSI)](https://www.gbif.org/species/180188884), maybe we should add that to the backbone?

[2021-08-12 13:03] gbif-portal opened #3540 "Bursaphelenchus xylophilus and Bursaphelenchus mucronatus are separate distinct species"
**Bursaphelenchus xylophilus and Bursaphelenchus mucronatus are separate distinct species**

Summary
For  the species Bursaphelenchus xylophilus on GBIF here - https://www.gbif.org/species/5777790
It is listed as Synonym of Bursaphelenchus mucronatus, and Accepted name Bursaphelenchus mucronatus.

Bursaphelenchus xylophilus and Bursaphelenchus mucronatus are separate distinct species. For instance

[2021-08-12 13:14] ManonGros commented on #3474
Thanks for asking TAXREF! And yes the UKSI seems like a good addition to the backbone (but I am no expert).

[2021-08-12 13:16] mdoering commented on #3474
Adding the UKSI dataset as a backbone source might will have some impact.
There are ~11.200 names that will be added: https://www.gbif.org/species/search?rank=SPECIES&rank=GENUS&rank=SPECIES_AGGREGATE&rank=VARIETY&rank=FORM&rank=SUBSPECIES&dataset_key=dbaa27eb-29e7-4cbb-8eab-3f689cfce116&highertaxon_key=180120333&name_type=SCIENTIFIC&origin=SOURCE&issue=BACKBONE_MATCH_NONE&advanced=1

Looks like a

[2021-08-12 13:18] #3474 closed, assigned to nobody

[2021-08-13 07:45] gbif-portal opened #3541 "Toxoneura Westwood, 1840 is an unnevessary emendation of Toxonevra Macquart."
**Toxoneura Westwood, 1840 is an unnevessary emendation of Toxonevra Macquart.**

Toxoneura Westwood, 1840 is an unnevessary emendation of Toxonevra Macquart.

I checked the original description. Toxonevra is a correct original speclling: https://gallica.bnf.fr/ark:/12148/bpt6k97186b/f407.item

Topxoneura in Diptera.org: http://diptera.org/Nomenclator/Details/267071

-----

User: [See in registry]

[2021-08-13 08:26] ManonGros commented on #3336
Publisher contacted by email.

[2021-08-13 09:47] ManonGros commented on #3499
After a quick search, both spellings exists and seem to be referring to the same species. Perhaps those should be synonymized? @mdoering any thought on that issue?

[2021-08-13 10:18] jlegind commented on #3372
User contacted.
Issue was not reproducible.

[2021-08-13 11:14] #2916 closed

[2021-08-13 11:18] ManonGros commented on #3363
I suppose we can close this issue now since we know why it happened.

[2021-08-13 11:18] #3363 closed, assigned to nobody

[2021-08-13 11:24] ManonGros commented on #3413
The species seems to have been included in the Catalogue of Life: https://www.catalogueoflife.org/data/taxon/8H78Z so I expect it to become available on GBIF with the next GBIF backbone update.

[2021-08-13 11:44] ManonGros commented on #3481
All three are from the [Electronic Catalogue of Weevil names (Curculionoidea)](https://www.gbif.org/dataset/86b4b431-46e5-47c5-8a92-d2ede27fb942) and they are also in the CoL: https://www.catalogueoflife.org/data/search?TAXON_ID=8HC89&rank=species&status=accepted&status=provisionally%20accepted

[2021-08-13 12:04] ManonGros commented on #3298
Thanks Donat, I assume that this is no longer an issue. Let me know if I should reopen it.

[2021-08-13 12:04] #3298 closed, assigned to nobody

[2021-08-13 12:06] #3313 closed, assigned to nobody

[2021-08-13 12:35] mdoering commented on #3499
Probably, although B, nubilus and nubilis (contrary to the issue title) might be different names and thus the backbone build isn't doing sth unexpected.

[2021-08-13 12:38] ManonGros commented on #3315
I assume that this issue refers to [Tessellariaceae C.E.I. von Eichwald](https://www.gbif.org/species/9675238) (Plantae) and not [Tessellariaceae Playfair, 1921](https://www.gbif.org/species/9647210) (Chromista).
In any case, they both come from [The Interim Register of Marine and Nonmarine Genera](https://www.gbif.org/dataset/0938172b-2086-439c-a1dd-c21cb0109ed5) and they are both showing as exti

[2021-08-13 12:40] mdoering commented on #3499
WoRMS, Wikipedia, iNaturalist and others use nubilus, but none have nubilis as a synonym or misspelling.
ITIS, sealifebase, coralnet and others just the other way around, accepting nubilis but no mentioning of nubilus.

[2021-08-13 12:48] mdoering commented on #3499
nubilus is in ZooBank and seems to be the correct spelling: http://zoobank.org/NomenclaturalActs/0284f552-cf71-4579-8881-2ab8dc7825cf

Darwin clearly published nubilus: https://www.biodiversitylibrary.org/item/18394#page/269/mode/1up

[2021-08-13 12:49] mdoering commented on #3499
I'll add a patch entry to synonymise them

[2021-08-13 12:49] #3499 closed, assigned to nobody

[2021-08-13 12:54] mdoering commented on #3499
ITIS actually contains both species:
https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=89600#null

[code]

[2021-08-13 13:07] ManonGros commented on #3329
@anneliejonsson I hope this answers your questions. I will close the issue now, please let us know if it should be reopened.

[2021-08-13 13:07] #3329 closed, assigned to jlegind

[2021-08-13 13:20] mdoering commented on #3302
Correct now in COL21, so GBIF will be fine soon

[2021-08-13 13:20] #3302 closed, assigned to nobody

[2021-08-13 13:28] ManonGros commented on #3251
It looks like this issue has been fixed.

[2021-08-13 13:28] #3251 closed, assigned to nobody

[2021-08-13 13:29] ManonGros commented on #3258
@bwakkie I hope the answer above is what you needed. Please let me know if the issue should be reopened.

[2021-08-13 13:29] #3258 closed, assigned to nobody

[2021-08-13 13:32] mdoering commented on #3229
GBIF occurrences for Pseudocraterellus undulatus largely come as 4 different names:
<img width="669" alt="Screenshot 2021-08-13 at 15 30 55" src="https://user-images.githubusercontent.com/327505/129364656-ec3b66f6-e465-4091-9c4e-93dc9981b6da.png">

These are 2 pairs with 2 epithets: undulatus & sinuosus

Are maybe all 4 distinct taxa?

[2021-08-13 13:47] Andreas-Bio commented on #3315
I was referring to this:
If possible please add the isExtinct tag here and set it to "true".  This family is showing up all the time after I filter for "extinct" status. Most other plant families have the flag set correctly.

![grafik](https://user-images.githubusercontent.com/19622117/129366786-28d90272-e88a-4768-ba2c-412f08140de4.png)

[2021-08-13 15:14] mdoering commented on #3229
Looks like the GBIF synonym is used elsewhere too: https://svampe.databasen.org/en/taxon/60864
I would leave things as they are

[2021-08-13 15:14] #3229 closed

[2021-08-13 16:14] bwakkie commented on #3258
Yes, thank you!

[2021-08-13 19:48] gbif-portal opened #3542 "The coordinates attributed to this specimen are not correct. The label says "Minas Gerais state" and the coordinates are from Mato Grosso State. Several other records from F have the same issue. Thank you"
**The coordinates attributed to this specimen are not correct. The label says &quot;Minas Gerais state&quot; and the coordinates are from Mato Grosso State. Several other records from F have the same issue. Thank you**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/78b61ba9db0e1e6a741e60648eb36714:2942ac00f72fa0f420d87ca64e0b1a7555c683b3056e4e75c36bc7a0294bb7c615b8d20436d20

[2021-08-16 07:37] ManonGros commented on #3262
If I understand correctly, the issue is that the interpretation adds a time `2018-06-08T00:00:00` even though the eventTime is also provided.
It would be better to have the date and time separated: `eventDate: 2018-06-08` and `eventTime: 14:17:00/14:43:00`.

[2021-08-16 07:37] jhnwllr commented on #3542
record appears to be a country centroid of Brazil. This might also be the case with the other records you notice as well.

[2021-08-16 08:18] ManonGros commented on #3225
The name [Hedera hibernica (G.Kirchn.) Bean](https://www.gbif.org/species/8410115) comes from the [Checklist Dutch Species Register - Nederlands Soortenregister](https://www.gbif.org/dataset/4dd32523-a3a3-43b7-84df-4cda02f15cf7) while the name [Hedera hibernica Poit.](https://www.gbif.org/species/8168344) comes from the [World Checklist of Selected Plant Families](https://www.gbif.org/dataset/9256

[2021-08-16 08:23] jlegind commented on #3372
Grabbed to first 10,000 lines from the download (to get around the 50MB limit in Office Excel) and these imported fine with all columns tab separated.

[2021-08-16 08:40] ManonGros commented on #3540
Dyntaxa publisher contacted by email.

[2021-08-16 09:21] mdoering commented on #3225
We have the following in GBIF:

Largely from WCVP:

[IPNI](https://www.ipni.org/?q=Hedera%20hibernica) has various, with Hedera hibernica Carrière listed as an invalid name:

The basionym form seems agreeable all over and the heterotypic synonyms in WCVP can also be found in Wikipedia. The only potentially doubtful synonym I can see is `Hedera canariensis Hibberd` from TaxREF.

Are we sure what th

[2021-08-16 09:23] mdoering commented on #3225
To make things worse, [WFO](http://www.worldfloraonline.org/taxon/wfo-0000979815 ) lists the according to IPNI invalid name `Hedera hibernica (G.Kirchn.) Carrière` as the accepted.

[2021-08-16 09:32] ManonGros commented on #3177
The issue has been fixed.

[2021-08-16 09:32] #3177 closed

[2021-08-16 09:38] #3361 closed, assigned to nobody

[2021-08-16 12:31] ManonGros commented on #3248
I don't think I understand exactly what the issue is here so I contacted the user to ask for some additional explanations.

[2021-08-16 13:54] ManonGros commented on #3336
The publisher replied that the specimens were collected in the Netherland, near Bilthoven and that the correct coordinates should be around 52°08′N, 5°12′E﻿.
For technical reasons, they are unable to update the records at the moment but will do so later.

[2021-08-16 15:50] tucotuco commented on #3262
Also, it is incorrect to add the time precision information to an ISO 8601 date that is given with day-level precision. I strongly urge that it be removed.

[2021-08-17 07:35] ManonGros commented on #3300
Contacted publishers by email.

[2021-08-17 07:43] ManonGros commented on #3300
The publisher's emails bounced back. So I asked SiB Colombia if they can help me find the current contacts for the dataset.

[2021-08-17 13:47] ManonGros commented on #3097
The only checklist using the name `Otiorrhynchus bisulcatoides E.Reitter, 1913` is the Backbone Taxonomy. And I don't know where it comes from.

The CoL is using what seems to be the correct spelling. WoRMS seems to have used the spelling we have for the genus (https://www.gbif.org/species/155468527) but the link to their system for that species is unresponsive.

@mdoering, can you help me find ou

[2021-08-17 14:21] #3187 closed

[2021-08-17 14:24] jlegind commented on #3493
Cannot reproduce issue. Probably a temporal glitch and new validator is in the works. So not worth spending resources on.

[2021-08-17 14:24] #3493 closed, assigned to nobody

[2021-08-18 08:19] ManonGros commented on #3528
It seems that Oxalis stricta L. is currently a synonym of Oxalis dillenii Jacq. in the backbone: https://www.gbif.org/species/9823072.

In the PLAZI treatment, it seems to be its own species: https://www.gbif.org/species/164946434
It is its own species in the CoL: https://www.catalogueoflife.org/data/taxon/7NJ5M

@mdoering do you know why this species is a synonym in the backbone?

[2021-08-18 08:28] ManonGros commented on #3486
This seems to have already been added in the CoL: https://www.catalogueoflife.org/data/taxon/7Q3KV

[2021-08-18 08:41] ManonGros commented on #3535
@thomasstjerne @mdoering, this issue along with three other ones (https://github.com/gbif/portal-feedback/issues/3534, https://github.com/gbif/portal-feedback/issues/3533 and https://github.com/gbif/portal-feedback/issues/3532) concern the way the data was shared on GBIF. The authorship and taxon names are combined, which means everything is in italic. This is not the case in the CoL.
Do know if t

[2021-08-18 08:49] mdoering commented on #3528
The last build logs from march indicate that O. stricta came in as a synonym from COL:

`1243322:DEBUG [03-02 20:27:03,284+0000] [main] org.gbif.checklistbank.nub.NubBuilder:  process HETEROTYPIC_SYNONYM SPECIES Oxalis stricta L.
`

In the december release of COL you can see it was listed as an ambiguous synonym, i.e. pro parte for _Oxalis corniculata_ and _Oxalis dillenii_:
https://data.catalogue

[2021-08-18 08:49] #3528 closed, assigned to nobody

[2021-08-18 09:01] jhnwllr commented on #3541
Since this mis-spelling appears in many checklists (5).
https://www.gbif.org/species/3264528

@mdoering
I am wondering if it needs to be corrected in all of the source checklists or
**can it be added as a common spelling variant**?

[2021-08-18 09:15] ManonGros commented on #3522
The original checklist ([Taxon list of animals with German names (worldwide) compiled at the SMNS](https://www.gbif.org/dataset/88f4e35a-bdf8-4aa2-9a1b-56401d4eed15)) is unresponsive.
I contacted the SNSB to forward the feedback and ask if their checklist could be put back online.

[2021-08-18 09:15] ManonGros commented on #3447
Duplicate of https://github.com/gbif/portal-feedback/issues/3522

[2021-08-18 09:23] jhnwllr commented on #3438
Present in COL and will be added in next backbone update.
https://www.catalogueoflife.org/data/taxon/8GPM9

[2021-08-18 09:30] jhnwllr commented on #3435
We should contact BOL.

[2021-08-18 09:30] gbif-portal opened #3543 "Integration of existing database into GBIF"
**Integration of existing database into GBIF**

Daugavpils University has a database on alien species of trees in the arboretum. The data is in either a shape file or a GDB (about 16000 records in database). Is it possible to integrate this data directly into GBIF? For example, using specialized APIs. Dmitry Shchigel advised to contact you with this question

-----

User: [See in registry](https:/

[2021-08-18 09:39] mdoering commented on #3535
The problem is rather that the name parser considers this name to be a hybrid!
https://api.gbif.org/v1/species/10847127

I reckon because of the authorship having `X` surrounded by spaces or hyphens in it.
A good problem so fix, but might not be trivial to do...

[2021-08-18 09:51] #3535 closed, assigned to ManonGros

[2021-08-18 09:51] jhnwllr commented on #3435
I contacted iBOL via email.

Only Lycodes teraoi appears in the COL. But does not list Petroschmidtia teraoi as synonym.
https://www.catalogueoflife.org/data/taxon/3WKYS

[2021-08-18 10:21] jlegind commented on #3538
Forwarded issue to Jörg and Gianni.

[2021-08-18 10:51] mdoering commented on #3535
Fixed in latest code. There seem to be indeed just 3 names with this issue:
https://www.gbif.org/species/search?q=Zhang&dataset_key=d7dddbf4-2cf0-4f39-9b2a-bb099caae36c&name_type=HYBRID&qField=SCIENTIFIC&advanced=1

[2021-08-18 10:55] jlegind commented on #3525
Contacted CoL.

[2021-08-18 10:58] ManonGros commented on #3535
Great, thanks Markus!
I will close the related GH issues.

[2021-08-18 10:58] #3534 closed, assigned to ManonGros

[2021-08-18 10:58] #3533 closed, assigned to ManonGros

[2021-08-18 10:58] #3532 closed, assigned to ManonGros

[2021-08-18 11:02] jhnwllr commented on #3414
Involves PBDB. Might be complex.

[2021-08-18 11:08] ManonGros commented on #3376
The CoL seems to show Chrysis in the Masaridae family: https://www.catalogueoflife.org/data/taxon/3PF5
(the data comes from Landes Museum Biologizentrum)
We should leave them an issue to them to check.

[2021-08-18 11:12] ManonGros commented on #3371
It seems that this issue could be closed. Please let me know if not, thanks!

[2021-08-18 11:12] #3371 closed, assigned to nobody

[2021-08-18 12:08] mdoering commented on #3376
Is there any evidence for this placement?

[2021-08-18 12:15] jhnwllr commented on #3375
I contacted TAXREF via email.

[2021-08-18 12:25] ManonGros commented on #3426
The name Camirus porosus (Germar, 1839) comes from ITIS (https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=109055#null) but doesn't exist in the CoL.
[Acantholomidea porosa Germar, 1839](https://www.gbif.org/species/10670262) cam from a PLAZI treatment but isn't in ITIS.

I assume that Acantholomidea porosa Germar, 1839 should be added to ITIS. I have contacted them to

[2021-08-18 12:33] jhnwllr commented on #3306
@RyoKuwa
The name looks like this now Kiusiozonium okai (Takakuwa & Miyosi, 1949)

so I am closing the issue

[2021-08-18 12:33] #3306 closed, assigned to nobody

[2021-08-18 12:37] jhnwllr commented on #3352
https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

[2021-08-18 13:01] jhnwllr commented on #3275
https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

[2021-08-18 13:24] jhnwllr commented on #3271
Fixed pending backbone update.

[2021-08-18 13:25] jhnwllr commented on #3268
https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

[2021-08-18 13:29] jhnwllr commented on #3266
Present in GBIF and COL

https://www.gbif.org/species/10898787
https://www.catalogueoflife.org/data/taxon/JT69

[2021-08-18 13:29] #3266 closed, assigned to nobody

[2021-08-18 13:33] jlegind commented on #3456
Publisher contacted.

[2021-08-18 13:39] jhnwllr commented on #3265
This appears to have been corrected.

[2021-08-18 13:39] #3265 closed, assigned to nobody

[2021-08-18 13:51] ManonGros commented on #3319
The GBIF backbone taxonomy is constructed and updated semi-automatically. We use various taxonomic sources and try to assemble them in a larger taxonomy (see [this blogpost](https://data-blog.gbif.org/post/gbif-backbone-taxonomy/) for more details). Whenever possible, our system reuses the same identifiers for the same names. However, sometimes backbone building might require to delete some taxa.

[2021-08-18 13:51] #3319 closed, assigned to ManonGros

[2021-08-18 13:55] ManonGros commented on #3253
https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

[2021-08-18 13:56] #3243 closed, assigned to nobody

[2021-08-18 14:07] mdoering commented on #3225
The [Leipzig catalogue also has Hedera hibernica (G.Kirchn.) Carrière](https://data.catalogueoflife.org/dataset/2262/taxon/Hedera_hibernica) as the accepted name.

[2021-08-18 14:16] jhnwllr commented on #3254
Maybe we should write to WORMS to get them to add it to their checklist. It is deleted on GBIF

[2021-08-18 14:22] gbif-portal opened #3544 "esta localidad parece sospechosa. Trabajo con el género Phalacrocarpum y no se han descrito presencias en la zona. Además, en la etiqueta aparece Serra de Geres, que se sitúa al norte de Portugal, en la frontera con España. El pueblo o Vilha de Barreiro esta en esa zona (42.009670, -8.170284)."
**esta localidad parece sospechosa. Trabajo con el género Phalacrocarpum y no se han descrito presencias en la zona. Además, en la etiqueta aparece Serra de Geres, que se sitúa al norte de Portugal, en la frontera con España. El pueblo o Vilha de Barreiro esta en esa zona (42.009670, -8.170284).**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/650134edc458ac76a332500ac00bd5

[2021-08-18 14:34] mdoering commented on #3225
From the 3 usages to pick from:

Looking at these 3 names in chronological order including the basionym:

I cannot judge which is the best to pick. Unfortunately I will have to select one to setup a synonymy.

EuroMed has Hedera hibernica (G. Kirchn.) Carrière as the accepted name:
http://ww2.bgbm.org/EuroPlusMed/PTaxonDetail.asp?NameCache=Hedera%20hibernica&PTRefFk=8000000

Summary so far:
 - Bea

[2021-08-18 14:39] #3225 closed

[2021-08-18 15:08] feliciencorbat commented on #3319
Thank you for your answer.

I solved the problem with a python script to get the list of deleted taxa (with GBIF API). There were quite a few in the fungi.

Best regards.

[2021-08-19 04:18] gbif-portal opened #3545 "Suggest a word change."
**Suggest a word change.**

On the page [Data quality requirement: Checklist Dataset](https://www.gbif.org/data-quality-requirements-checklists), the first sentence of "Required information" says "...publishing an occurrence dataset." Should it be "...publishing a checklist dataset" to better align with the context? And the page doesn't mention about attaching an occurrence extension.

-----

Gith

[2021-08-19 05:51] gbif-portal opened #3546 "https://www.gbif.org/zh-tw/data-quality-requirements-checklists"
**`https://www.gbif.org/zh-tw/data-quality-requirements-checklists`**

On the last point of "Strongly recommended" should be corrected as: "last **but** not least...the dataset will **be**..."

-----

Github user: @ckotwn
User: [See in registry](https://www.gbif.org/api/feedback/user/f7372eee866a3d6671d7552b25d6b4a3:fd402277261c08f894d7bc99aacdc503ea3116b570553c4bafef5e261c84850b3df39db9d6eeaae35f

[2021-08-19 06:53] #3150 closed

[2021-08-19 06:56] #3168 closed

[2021-08-19 08:11] ManonGros commented on #3544
Publishers contacted by email.

[2021-08-19 08:15] ManonGros commented on #3248
I got a reply from the user. Apparently the issue seems to have been solved since the issue was logged.

[2021-08-19 08:15] #3248 closed, assigned to ManonGros

[2021-08-19 13:16] jlegind commented on #3310
Issue was apparently solved.

[2021-08-19 13:16] #3310 closed, assigned to jlegind

[2021-08-19 13:32] jlegind commented on #2923
Tuco gave a sufficient reply.
User was contacted via email.

[2021-08-19 13:32] #2923 closed

[2021-08-19 14:13] gbif-portal opened #3547 "IndividualCount mismatch with VertNet"
**IndividualCount mismatch with VertNet**

On

http://portal.vertnet.org/o/uwbm/bird?id=urn-catalog-uwbm-bird-111793

the value for individualCount is 1 but on GBIF

https://www.gbif.org/occurrence/730722429

the value 0.

Also seems that this dicrepancy is general for the registries in Mexico on the dataset

https://www.gbif.org/dataset/830fd460-f762-11e1-a439-00145eb45e9a

-----

Github user: @j

[2021-08-19 14:57] jlegind commented on #2888
Publisher has been contacted again.

FROM occurrence o SELECT institutioncode, count(*) WHERE datasetkey = '43027054-3812-4599-b7bc-a01f1df5b071' AND length(institutioncode) > 22
AND o.institutioncode like '%&%'
GROUP BY institutioncode;

[2021-08-19 15:04] AbbyBenson commented on #3547
I think something is going wrong with the [data in the IPT](http://ipt.vertnet.org:8080/ipt/resource.do?r=uwbm_birds). The current version 10.12 has 0 records and the version before that [10.11](http://ipt.vertnet.org:8080/ipt/resource?r=uwbm_birds&v=10.11) has zeros for all the individualCount for all occurrences. Thinking VertNet is already aware and attempting to fix but I'll reach out to them

[2021-08-19 16:40] ManonGros commented on #2923
@jlegind please forward the reply to the user if you haven't already, thanks!

[2021-08-20 05:33] TonyRees commented on #3541
I have amended the relevant IRMNG record, see https://www.irmng.org/aphia.php?p=taxdetails&id=1314729

[2021-08-20 06:59] ManonGros commented on #3543
There is no way to integrate a Shapefile or GBD directly in GBIF. It has to be converted into a GBIF compatible format first. There are a few formats suitable. The most common one is the [Darwin Core Archive](https://dwc.tdwg.org/text/) format. In its simplest form, this format is a CSV file with headers corresponding [Darwin Core terms](https://dwc.tdwg.org/terms/).
The terms and possible extensi

[2021-08-20 06:59] #3543 closed, assigned to ManonGros

[2021-08-20 07:00] gbif-portal opened #3548 "Species wrongly interpreted by system"
**Species wrongly interpreted by system**

With regards to this record from our institution:

https://www.gbif.org/occurrence/3314822910

For some reason, the system fails to interpret the species name and only the genus name is shown as the current name usage.

The species full name is: Condylostylus danieli

-----

Github user: @FedorSteeman
User: [See in registry](https://www.gbif.org/api/feedb

[2021-08-20 07:15] ManonGros commented on #3548
As far as I can see, the scientific name is matched to the genus because the species name provided (Condylostylus danieli) doesn't exist in the backbone.

[I can see there is a publication mentioning that species](https://www.semanticscholar.org/paper/A-NEW-SPECIES-OF-CONDYLOSTYLUS-BIGOT%2C-1859-FROM-ON-Grichanov/2a14e4089b557ffe083bb79814b620cbf96dd28f) but I cannot access the original article: h

[2021-08-20 07:30] jlegind commented on #2478
Publisher contacted again.

[2021-08-20 08:16] jlegind commented on #2435
Publisher contacted.

[2021-08-20 09:12] FedorSteeman commented on #3548
It can be accessed here: https://sci-hub.se/10.11646/zootaxa.4830.1.2

Will this species be added to the taxonomic backbone eventually, and as long as it's not, could an institution's name usage generally not be made prominent instead?

[2021-08-20 10:21] jlegind commented on #3456
If dataset indexes then the issue might be solved. Bad meta.xml discovered 2021-08-20
Publisher contacted.

[2021-08-20 15:43] mdoering commented on #3097
Checking the API response for the backbone species you can see it originated from COL:
https://api.gbif.org/v1/species/1200377
`
"constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b",
`
http://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b

It must have existed in the december edition:
https://data.catalogueoflife.org/dataset/2242/taxon/4B585

A provisionally accepted name from the

[2021-08-20 15:43] #3097 closed

[2021-08-22 05:04] gbif-portal opened #3549 "AnnoSys isn't working for me, either through the supplied link or the portal directly. There is a spelling mistake in this record. The genus should be Petrophile"
**AnnoSys isn&#39;t working for me, either through the supplied link or the portal directly. There is a spelling mistake in this record. The genus should be Petrophile**

-----

Github user: @wcornwell
User: [See in registry](https://www.gbif.org/api/feedback/user/4111d3450f7f4ab58f84880b31c01b1c:fe61bad27e633a33ef5216d8060ef3214b664bc30530c2dc87ed1bbdf20babe1be79bd0084c54d2799116a4b03f75b853237e5

[2021-08-23 07:20] jhnwllr commented on #3375
TAXREF said that the record has been fixed at source but has not been updated in their online resource, so neither in the GBIF resource.

[2021-08-23 08:14] thomasstjerne commented on #3548
Hi @FedorSteeman
The GBIF backbone builds on the Catalogue of Life, so I suggest you open an issue here about the missing species: https://github.com/CatalogueOfLife/data/issues
For this taxonomic group, however, Catalogue of Life relies on Systema Dipterorum which I think is based in your institution, so you might be able to cut a corner by approaching them directly.

[2021-08-23 11:34] mdoering commented on #3359
The checklist still contains bad data / mappings. @ManonGros can we notify the publisher about this or park the issue somewhere? There are over 6000 names coming from this list though: https://www.gbif.org/species/search?dataset_key=d7dddbf4-2cf0-4f39-9b2a-bb099caae36c&constituent_key=56c83fd9-533b-4b77-a67a-cf521816866e&advanced=1

more than 1400 are bad numbers though:
https://www.gbif.org/speci

[2021-08-23 11:41] #3359 closed, assigned to nobody

[2021-08-23 12:51] ManonGros commented on #3359
I just contacted the publisher by email.

[2021-08-23 13:32] jlegind commented on #3549
Publisher contacted.

Dear @wcornwell,
The suggested name has been forwarded to the publisher BGBM Berlin. GBIF is not running AnnoSys, so we cannot do anything about that.

[2021-08-23 14:28] gbif-portal opened #3550 "Incorrect coodinates in a record for Colombia Hello, We find a record that have incorrect coordinates, is this https://www.gbif.org/occurrence/858396383 from the Museu de Ciències Naturals de Barcelona: MCNB-Cord. The coodinates are in Cundinamarca, center of Colombia, but the StateProvince is Amazonas in the south."
**Incorrect coodinates in a record for Colombia Hello, We find a record that have incorrect coordinates, is this `https://www.gbif.org/occurrence/858396383` from the Museu de Ciències Naturals de Barcelona: MCNB-Cord. The coodinates are in Cundinamarca, center of Colombia, but the StateProvince is Amazonas in the south.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d7d4e

[2021-08-23 14:33] RicardoOrtizG commented on #3550
The error could be associated to a locality with the same name "La Chorrera", that is present in [Amazonas](https://www.google.com/maps/place/La+Chorrera,+Amazonas/@-1.4436054,-72.7902029,16.54z/data=!4m5!3m4!1s0x91e721ef7cff3e1b:0xf0cf9cb9e17b565e!8m2!3d-1.443383!4d-72.788945) and Cundinamarca. But acoording to the stateProvince It correspond to Amazonas.

[2021-08-23 15:34] jholetschek commented on #3549
Dear @wcornwell,
thanks for letting us know - I've forwarded your comment to the curator of the dataset.
And as for AnnoSys not working... I've informed the AnnoSys developer, who will hopefully be able to solve it.

Cheers, Jörg

[2021-08-23 18:26] AbbyBenson commented on #3547
VertNet is aware of this issue and looking into it. Currently no estimate on when it will be fixed.

[2021-08-24 00:31] wcornwell commented on #3549
thanks @jholetschek ! i really like your error flagging system, great progress!

[2021-08-24 05:52] gbif-portal opened #3551 "I am getting an error saying that the "the validation job ID was not found" What is it? Please assist."
**I am getting an error saying that the &quot;the validation job ID was not found&quot; What is it? Please assist.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9b7a46a8627555e46aff7f2ba4ff7d8f:16a33a00df1842e61f4ce3f0f7499437bd4106cae3792c9d5e2855e2e52f7aa0fbbb412251aeb8a9d8d491bad43821487d19c0992a4eaf99625caaa90c70c65d)
System: Chrome 92.0.4515 / Windows 8.1.0.0
Refere

[2021-08-24 08:36] daniel commented on #3551
I've been getting this error too today. Now the validation has started, but it's been running for more than an hour.

[2021-08-24 08:42] ahahn-gbif commented on #3551
Checking the reported referrer URL (https://www.gbif.org/tools/data-validator/1622015287762), I cannot reproduce the issue right now, the report shows as expected. Depending on the size of the dataset and general load, validation lag time is not unusual, but we will monitor this issue.

[2021-08-24 08:49] daniel commented on #3551
Here's the link to my validation: https://www.gbif.org/tools/data-validator/1622015287774. It's still running.

[2021-08-24 08:56] gbif-portal opened #3552 "System health: include validator load?"
**System health: include validator load?**

Would it be possible to add indication of validator load/traffic/lineup/issues to the System health overview? Occasionally, validations can get stuck for quite a while, and it is difficult from the outside to diagnose whether this is due to unusually high load, a process that got stuck and is best abandoned, or some temporary technical issues.

-----

Us

[2021-08-24 08:57] ahahn-gbif commented on #3552
(also see #3551)

[2021-08-24 09:09] ahahn-gbif commented on #3551
On checking, validation  https://www.gbif.org/tools/data-validator/1622015287774 is still running. Please check back again later. Feedback from IT colleagues suggests that the taxonomic lookup may be particularly challenging / slow in this case.

[2021-08-24 09:14] ahahn-gbif commented on #3551
original submitter notified via email through helpdesk

[2021-08-24 10:56] MortenHofft commented on #3552
If there is a service that one can ask, then I'd be happy to add it. @fmendezh is there any way to tell?

If we know that the service is overloaded, then I assume we shouldn't let people start a validation task at all?

[2021-08-24 11:15] FedorSteeman commented on #3548
@Andersillum Do you think we can ask Thomas Pape to move this matter forward?

[2021-08-24 12:53] gbif-portal opened #3553 "Recommended changes for checklist quality requirements"
**Recommended changes for checklist quality requirements**

While working on the translation for /data-quality-requirements-checklists, I have found that there are changes needed for the original English text, which includes:
- missing links
- old, redirecting links
- rooms for clarity
- consistency, such as plural terms like "creator(s) that may better be "creator" since all other terms use the f

[2021-08-24 13:10] gbif-portal opened #3554 "Why isn't the image showing?"
**Why isn&#39;t the image showing?**

This question was originally sent to helpdesk by @jeroencreuwels

Images from this dataset aren't being displayed.
I tried changing the format to `image/jpeg` to match other examples I had found: https://www.gbif.org/occurrence/1826039506 but the result seems to be the same: https://www.gbif-uat.org/occurrence/3003266357

Is it because the URL contains a `?` ?

[2021-08-24 13:39] ManonGros commented on #3550
Contacted publishers by email.

[2021-08-24 13:53] MattBlissett commented on #3554
@ManonGros, do you have an adblocker or similar?  The images show for me, but they contain UUIDs which can sometimes trigger an adblocker / privacy blocker.

[2021-08-24 14:54] gbif-portal opened #3555 "Taxonomy classification issue: Odontophotopsis aufidia is a species of velvet ant (Mutillidae) rather than Formicidae"
**Taxonomy classification issue: Odontophotopsis aufidia is a species of velvet ant (Mutillidae) rather than Formicidae**

I pulled all Formicidae species in Southern California and Odontophotopsis aufidia was included; although it is in the Mutillidae family.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/54c9fe688f34fd8ce38ecdf36f87540a:5753f0800dbc03bbb0304384f7af9f97c10

[2021-08-24 17:57] jeroencreuwels commented on #3554
@MattBlissett
It is not the adblocker, as I am not using it at the moment. I checked both chrome and firefox (on PC) and did not find an image in the gallery for the Museon record on the GBIF portal. Identifiers of the images work fine, but only the NHM images are shown in the gallery. It is possible that the ? could be the problem, but apparently leaving out "cache=yes" results in no images shown

[2021-08-25 04:28] MortenHofft commented on #3554
It doesn't show for me either. I get a 504 Gateway Timeout from Thumbor
Perhaps a bad caching? it returns the timeout immediately

[2021-08-25 07:32] ManonGros opened #3556 "Suggestion to improve dataset activity page"
We got a suggestion on helpdesk about the Dataset activity page. One of our publishers would find it useful to have another chart, similar to the one for citations, but which shows download counts per year/month/week.
Ideally, this chart would have a dropdown option to show the different timeframes, and the chart updates for the different timeframe choices. An even get number of records downloaded

[2021-08-25 07:37] MattBlissett commented on #3554
Sorry, my mistake, I read the issue too quickly.

Jeroen's suspicion is correct, the image doesn't show on UAT because the unusual port number (17512) is blocked by our firewall.  However, it would work in production, since the firewall configuration allows any port for requests from Thumbor.

[image](https://api.gbif.org/v1/image/unsafe/fit-in/500x/http%3A%2F%2Fcc.museon.nl%3A17512%2Fimages%2FScr

[2021-08-25 08:09] ManonGros commented on #3284
The classification is correct in the CoL: https://www.catalogueoflife.org/data/taxon/7PDTH
The issue came from [Index Fungorum](https://www.gbif.org/dataset/bf3db7c9-5e5d-4fd0-bd5b-94539eaf9598).
This is unexpected as IF has a lower priority than CoL on [this list](https://hosted-datasets.gbif.org/datasets/backbone/backbone-config.yaml).
The question is why wasn't Mallomonas matched to https://www

[2021-08-25 08:11] daniel commented on #3551
I just checked the validation again, it has finished now.

[2021-08-25 08:25] jhnwllr commented on #2728
https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

[2021-08-25 08:28] jhnwllr opened #3557 "All backbone issues related to PBDB for forwarding later"
Here is where I will be collecting all of the issues related to the **The Paleobiology Database** :
https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

I comment the **uuid of the PBDB** so they can be searched using:
https://github.com/gbif/portal-feedback/issues?q=assignee%3Ajhnwllr+is%3Aopen+c33ce2f2-c3cc-43a5-a380-fe4526d63650

https://github.com/gbif/backbone-feedback/issues/41

[2021-08-25 08:36] #3185 closed

[2021-08-25 08:38] ManonGros commented on #3195
It seems like the latest backbone update fixed this issue.

[2021-08-25 08:38] #3195 closed

[2021-08-25 08:39] MattBlissett commented on #3557
Note this dataset is generated by a script written by @mdoering.

https://github.com/mdoering/checklist_builder/blob/master/src/main/java/de/doering/dwca/pbdb/ArchiveBuilder.java

[2021-08-25 08:40] #3175 closed

[2021-08-25 08:44] ManonGros commented on #3174
The genus has no authorship in the CoL: https://www.catalogueoflife.org/data/taxon/5D5H
Perhaps this issue comes from a previous version of the CoL and will be fixed with the next backbone update.

[2021-08-25 08:47] #3155 closed

[2021-08-25 08:48] jhnwllr commented on #3140
Report to CoL.

[2021-08-25 08:51] ManonGros commented on #3132
I suppose these two subspecies should be under that species: https://www.gbif.org/species/4558741

[2021-08-25 08:58] ahahn-gbif commented on #3360
The correct genus name (Rhagonycha) presently comes from the "Checklist of Beetles (Coleoptera) of Canada and Alaska. Second Edition." (https://www.gbif.org/species/4407026). The issue with interpretation here is a combination of
- missing taxonomic information (the species is not available in the taxonomic sources)
- taxon matching needing a certain level of rule-based interpretation (i.e. workin

[2021-08-25 08:59] ManonGros commented on #3064
@mdoering although _Xylocopa senior_ has been in the CoL since November, it still isn't in the backbone for some reason. Could you take a look and see if this has to do with the backbone building?

[2021-08-25 09:02] ahahn-gbif commented on #3286
appears to be fixed after the latest backbone update - closing

[2021-08-25 09:02] #3286 closed, assigned to ahahn-gbif

[2021-08-25 09:05] ManonGros commented on #3062
The "duplicate" issue is actually concerning a spelling variant (which is shown as a synonym of the correct spelling).
The rest of the issues have been solved with the latest backbone update.

[2021-08-25 09:05] #3062 closed

[2021-08-25 09:09] ManonGros commented on #3017
This seems to be solved in the latest backbone.

[2021-08-25 09:09] #3017 closed

[2021-08-25 09:10] #3008 closed

[2021-08-25 09:12] jhnwllr commented on #3004
Contacting CoL. Remember to cite dataset.

[2021-08-25 09:16] ahahn-gbif commented on #3284
IF version of the genus: https://www.gbif.org/species/113450270/verbatim
with one "accepted" species: https://www.gbif.org/species/113451833/verbatim
The linked occurrence records (https://www.gbif.org/occurrence/search?taxon_key=8372273) appear to be matched on the basis of a) species name not in the backbone (type specimens) and/or b) genus name not having an author team; at least b) needs verif

[2021-08-25 09:24] ManonGros commented on #3132
Actually those species are in the backbone:
Parascaris univalens: https://www.gbif.org/species/7030401
Parascaris equorum (Goeze, 1782): https://www.gbif.org/species/2284242

[2021-08-25 09:30] ahahn-gbif commented on #3284
also see comments trail to #398

[2021-08-25 09:30] jhnwllr commented on #3110
@mdoering
I think this is a **fuzzy matching issue**. Since genus Midas -> genus Mydas (insect).

Mydas (insect)
https://www.gbif.org/species/1566547

ZooBank (the source dataset) **does not have any higher taxonomy**, so it cannot be corrected at source so easily.
https://www.gbif.org/species/141144617
http://zoobank.org/NomenclaturalActs/05f25834-042c-4a64-a4e3-f3c5efc7b595

[2021-08-25 09:39] ahahn-gbif commented on #3284
Species Fungorum (https://www.speciesfungorum.org/) presently contributes through the CoL, and does not contain this genus any more. Need to verify whether a separate checklist contribution is still meaningful and requires an update, or whether the rather stale Index Fungorum dataset (https://www.gbif.org/dataset/bf3db7c9-5e5d-4fd0-bd5b-94539eaf9598) should rather be retired.

[2021-08-25 09:42] mdoering commented on #3557
and that script has built successfully an archive the last time in 2018-05-15.
I vaguely remember @tucotuco working on a replacement for the PBDB dwc archive?

[2021-08-25 09:43] ahahn-gbif commented on #3551
both validations finished, though with a delay - closing

[2021-08-25 09:43] #3551 closed, assigned to nobody

[2021-08-25 09:53] ManonGros commented on #3555
The classification is correct in the original PLAZI treatment: https://www.gbif.org/species/134031441

The issue seems to come from the classification of the genus in the IRMNG: https://www.irmng.org/aphia.php?p=taxdetails&id=1127689 which shows Odontophotopsis Viereck, 1903 as a Formicidae when it should be Mutillidae.

@TonyRees would it be possible to take a look and see if this could be update

[2021-08-25 09:59] jhnwllr commented on #3004
Appears to be present in CoL and GBIF.
Rallidens macfarlanei Penniket, 1966
https://www.gbif.org/species/7197021

[2021-08-25 09:59] #3004 closed

[2021-08-25 11:18] jhnwllr commented on #2924
Appears to be fixed:
https://www.gbif.org/species/2226312
Original species has been deleted.

[2021-08-25 11:18] #2924 closed

[2021-08-25 11:34] ckotwn commented on #3546
This suggestion is included in #3553.

[2021-08-25 11:35] ckotwn commented on #3545
This suggestion is included in #3553.

[2021-08-25 11:41] jhnwllr commented on #2968
contact CoL

[2021-08-25 12:00] jhnwllr commented on #2962
species mis-spelling is deleted. Name is missing form backbone still. Closing issue...

[2021-08-25 12:00] #2962 closed

[2021-08-25 12:10] ahahn-gbif commented on #2960
https://www.catalogueoflife.org/data/search?facet=rank&facet=issue&facet=status&facet=nomStatus&facet=nameType&facet=field&facet=authorship&facet=extinct&facet=environment&limit=50&offset=0&q=Apiomorpha%20rosaeforma&reverse=false&sortBy=taxonomic according to CoL

[2021-08-25 12:20] jhnwllr commented on #2883
contact dyntaxa

[2021-08-25 12:21] ahahn-gbif commented on #2930
This is a **taxon matching issue**, similar to #3360 and #3110.

Propose: If a genus name exists that is identical with the verbatim genus name, and in the same family as given in the verbatim data, but the species name not available in the backbone, then taxon matching should match the name to the higher rank (genus), and not attempt to fuzzy-match it to a different genus name in a different fami

[2021-08-25 12:22] jhnwllr commented on #2881
make issue in CoL.

[2021-08-25 12:29] ahahn-gbif commented on #3284
The outdated version of "Index Fungorum" (https://www.gbif.org/dataset/bf3db7c9-5e5d-4fd0-bd5b-94539eaf9598) is currently a hosted dataset, with an endpoint at https://hosted-datasets.gbif.org/datasets/index_fungorum.zip. If fixing this issue is important enough, GBIF could update and re-zip the dataset locally before the next backbone build, though a dynamic, fully refreshed version would be very

[2021-08-25 12:33] mdoering commented on #3284
IF is indeed outdated on GBIF. COL has newer versions from January 2020 of both Index and Species Fungorum (which gets used in COL):

https://data.catalogueoflife.org/dataset/2073/imports
https://data.catalogueoflife.org/dataset/2034/imports

We could use these copies, but I also wonder what gain there would be. We would also have to create a dwc archive from it first as the source files are ColDP

[2021-08-25 12:34] jhnwllr commented on #2984
contacted iBol via email.

[2021-08-25 12:35] mdoering commented on #3284
COL uses 305,893 names from SF. All of Fungi and come groups from Chromista but not all:
https://www.catalogueoflife.org/data/dataset/2073

The entire dataset has 306,252 names, just 359 names missing.

[2021-08-25 12:52] mdoering commented on #2930
This is doable, but a major change in how we match with potential changes all over. It might be all good changes though, I like the proposal. The only weak part is "if the verbatim family matches". Do we require a family to be present and match? What if there is only an order given? I guess sticking with just family initially safe guards us from unwanted side effects

[2021-08-25 12:58] yroskov commented on #2881
Perhaps. It's a subject for Taxonomy Group.

[2021-08-25 13:06] ahahn-gbif commented on #2930
Right... might better be formulated along the lines of "if the next higher taxonomic rank given matches". The main point I was trying to make here was rather from the opposite angle: if _the next higher rank of the proposed fuzzy match contradicts_ the one in the verbatim data, then do not fuzzy-match, and rather match upwards in taxonomic rank with the same spelling and higher taxonomy

[2021-08-25 13:06] ManonGros commented on #2985
I tried to contact Fauna Europea by email to ask if they could check but the addresses I used bounced back. I also contacted a member of their steering committee. I hope that I will get an answer.

[2021-08-25 13:10] #2875 closed

[2021-08-25 13:13] mdoering commented on #3284
I am inclined to remove IF from our source list. There are 110.000 names from IF in our backbone currently though:
https://www.gbif.org/species/search?dataset_key=d7dddbf4-2cf0-4f39-9b2a-bb099caae36c&constituent_key=bf3db7c9-5e5d-4fd0-bd5b-94539eaf9598&advanced=1

108.000 for Fungi, only 603 for Chromista. Checking the first 3 manually:

 - [Rozella longicollis Karling](https://www.gbif.org/specie

[2021-08-25 13:15] mdoering commented on #2930
Agree, thats a more robust logic!

[2021-08-25 13:18] ManonGros commented on #2856
It seems to have been fixed in the latest backbone update.

[2021-08-25 13:18] #2856 closed

[2021-08-25 13:21] #3372 closed, assigned to jlegind

[2021-08-25 13:22] jhnwllr commented on #2855
email iBoL

[2021-08-25 13:31] #2846 closed

[2021-08-25 13:48] jhnwllr commented on #2881
@yroskov can I still make an issue on CoL?

[2021-08-25 13:49] yroskov commented on #2881
You already did

[2021-08-25 13:49] ManonGros commented on #2859
I think this could be an issue with the way we synonymize the names.
In the CoL, Bibio hortulanus (Linnaeus, 1758) is an accepted name https://www.catalogueoflife.org/data/taxon/8B73N and Tipula hortulana Linnaeus, 1758 is a synonym of a different species: https://www.catalogueoflife.org/data/taxon/57648

[2021-08-25 14:04] ManonGros commented on #2823
According to our WoRMS checklist, Eclipta prostrata Lour. is a synonym of Spilanthes acmella (L.) Murray (https://www.gbif.org/species/154864841) and according to the [Synonymic Checklists of the Vascular Plants of the World](https://www.gbif.org/dataset/688b9402-2cd6-4c87-aed3-c36246812731), Spilanthes acmella (L.) Murray is a synonym of Blainvillea acmella (L.) Philipson (https://www.gbif.org/sp

[2021-08-25 14:31] ahahn-gbif commented on #2225
example occurrence record: https://www.gbif.org/occurrence/1438211144
(This example rather demonstrates a mismapping of the occurrence data source: specificEpithet and infraspecificEpithet are mapped as "sect." and "Naevosa", resp., which is factually incorrect.)

See https://www.gbif.org/occurrence/2939082993 for a proper name mapping.

Suggestion: at least in cases where the source supplies the

[2021-08-25 14:52] ahahn-gbif commented on #2228
This record is listed as a synonym without linked occurrence records. As such, it is not apparently an issue (any more). Closing this.

The Integrated Taxonomic Information System. (2021). In O. Bánki, Y. Roskov, L. Vandepitte, R. E. DeWalt, D. Remsen, P. Schalk, T. Orrell, M. Keping, & J. Miller, Catalogue of Life Checklist (Version 2021-07-26). https://doi.org/10.48580/d4sb-4ky

[2021-08-26 07:23] ManonGros commented on #2985
I got a reply and unfortunately, Fauna Europea is no longer active.
That being said, I was told that this user is correct that the spelling from BOLD is correct. Indeed, a quick search shows many papers using the name Leptestheria dahalacensis (Rüppel, 1837) (for example https://doi.org/10.1007/s10750-007-0645-2 and https://doi.org/10.1007/BF00016681) but almost no literature mentioning the other

[2021-08-26 08:13] gbif-portal opened #3558 "No or fuzzy institution match"
**No or fuzzy institution match**

834K records with institution code and yet most do not match any institution (at least not without a fuzzy match)

https://www.gbif.org/occurrence/search?basis_of_record=PRESERVED_SPECIMEN&basis_of_record=FOSSIL_SPECIMEN&institution_code=smf&publishing_country=DE&protocol=BIOCASE&advanced=1

Perhaps the publisher could add an institutionID pointing to the GrSciCo

[2021-08-26 08:14] MortenHofft commented on #3558
It worked - I'm closing this as it was really mostly to test that @jholetschek got a notification (this issue is real though in case someone can do anything about it)

[2021-08-26 08:14] #3558 closed, assigned to nobody

[2021-08-26 08:17] jholetschek commented on #3558
It works - I got a notification!

[2021-08-26 08:20] jholetschek commented on #3558
Is there a way to get a list of the datasets contained in this list (any maybe the URLs for these datasets)?

[2021-08-26 09:26] ManonGros commented on #3558
@jholetschek would this work for you? https://www.gbif.org/occurrence/datasets?basis_of_record=PRESERVED_SPECIMEN&basis_of_record=FOSSIL_SPECIMEN&institution_code=smf&issue=COLLECTION_MATCH_NONE&issue=INSTITUTION_MATCH_FUZZY&issue=INSTITUTION_COLLECTION_MISMATCH&issue=COLLECTION_MATCH_FUZZY&publishing_country=DE&protocol=BIOCASE&advanced=1

[2021-08-26 10:02] MortenHofft commented on #3558
Or using the [website charts](https://www.gbif.org/occurrence/charts?basis_of_record=PRESERVED_SPECIMEN&basis_of_record=FOSSIL_SPECIMEN&institution_code=smf&issue=COLLECTION_MATCH_NONE&issue=INSTITUTION_MATCH_FUZZY&issue=INSTITUTION_COLLECTION_MISMATCH&issue=COLLECTION_MATCH_FUZZY&publishing_country=DE&protocol=BIOCASE&advanced=1&d=datasetKey)

or using [the API](https://api.gbif.org/v1/occurrence

[2021-08-26 10:07] MortenHofft commented on #3558
But above leave out occurrences like https://www.gbif.org/occurrence/3062763347 - I'm not sure why that doesn't have a flag. @ManonGros you probably know better than I?

[2021-08-26 10:15] jholetschek commented on #3558
I can see it's only Senckenberg datasets. That's up to the museum... I'll keep that in mind and will try to remind them as soon as I get in contact!

[2021-08-26 10:36] jlegind commented on #3217
Hi,
The issue persists for downloads of these five species. Currently there are 1.119 records in the download with a blank species field.
Those records are in the HIVE table _jan.download3217_

Download link:
https://www.gbif.org/occurrence/download/0004092-210819072339941

[2021-08-26 11:42] ManonGros commented on #3558
I don't know why the labels weren't showing but I reinterpreted the dataset and it is good now: https://www.gbif.org/occurrence/3062763347

[2021-08-26 14:45] mdoering commented on #3557
I fixed the build script and we now get the latest data again for the PBDB checklist

[2021-08-26 16:54] dbloom commented on #3547
There is something going on at the local level with this dataset. I have confirmed that other datasets are being auto-published via the VN IPT, including the invert paleo dataset from UWBM. I have send Rob Fawcett an inquiry to find out what might be happening on the Burke side. I have not had a response yet, but it is last minute vacation time before campus comes to life there. I don't know, but

[2021-08-26 22:12] jmbarrios commented on #3547
I don't need the previous publication at this moment. If this changes, I'll let you know.

[2021-08-27 08:55] gbif-portal opened #3560 "Source citation / information for data from aggregated checklists: raise visibility"
**Source citation / information for data from aggregated checklists: raise visibility**

(from GBIF-CH)
For national (aggregated) checklists, the source citation of contributors to particular species information pages is essential for transparency and credit.

Proposal: include the following elements with the interpreted data in the main (overview) tab of a checklist's species representation:
- da

[2021-08-27 12:13] jlegind commented on #3068
GADM.org was contacted through their contact form.
http://rasterra.com/contact/gadm_contact_form

[2021-08-27 14:34] jeroencreuwels commented on #3554
Thanks Matt, for letting  me know, I will check it out in production! Jeroen

Op wo 25 aug. 2021 om 09:37 schreef Matt Blissett ***@***.***

--
Met vriendelijke groet,

Jeroen Creuwels
Datamanager Collectie / NLBIF
<https://naturalis-public-media-assets.s3.eu-central-1.amazonaws.com/Naturalis-mail-signature/logo.png>

- -
***@***.*** - www.naturalis.nl
Darwinweg 2, 2333 CR Leiden
Postbus 9517, 230

[2021-08-27 18:30] gbif-portal opened #3561 "DeGranville et al. 15283 at P is isotype of Rhynchospora saxisavannicola M.T. Strong (it is determined here as Bulbostylis capillaris (L.) Kunth ex C.B. Clarke"
**DeGranville et al. 15283 at P is isotype of Rhynchospora saxisavannicola M.T. Strong (it is determined here as Bulbostylis capillaris (L.) Kunth ex C.B. Clarke**

Rhynchospora saxisavannicola M. T. Strong, Novon 15: 482. 2005. TYPE: French Guiana; Mont Saint-Marcel, zone sud-est du massif, mares gravillonnaires de savane-roche, 300 m, 0223’00”N, 5300’20”W, 18 Jul 2002, J.J. DeGranville, L. Ali

[2021-08-28 00:41] gbif-portal opened #3562 "Dataset version more important than registration date"
**Dataset version more important than registration date**

Above the dataset title the date of registration with GBIF is shown very prominently. This is a rather useless date though for users. It would be far more informative to understand what version has been indexed. This could be the date of last successful indexing which should exist for all datasets consistently. But it could even be the pub

[2021-08-29 12:40] gbif-portal opened #3563 "infraspecific synonymy"
**infraspecific synonymy**

spanish below

When I run the Species matching tool (https://www.gbif.org/es/tools/species-lookup) it never offers me synonymy down to the infraspecific level.  For example: of the species  Chamaecrista brachycarpa Cassia aspera Cassia fasciata Cassia nictitans Cassia patella  it recognizes them as exact, and all synonyms for Chamaecrista nictitans. However they are rea

[2021-08-29 14:15] #2930 closed

[2021-08-30 06:40] gbif-portal opened #3564 "Garrulax owstoni"
**Garrulax owstoni**

Garrulax owstoni  There are no data on secondary protected species in China。

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2c0528318dd45878955bf122528a5d31:d4fd64bda37d604cbb061e436c1d6442c17886facc44eb6a79802bb04e2722f1dbd59a33ef7041484525e044b1afb371b6d89c4813bdeb692dd9d6aaad49893c)
System: Chrome 92.0.4515 / Mac OS X 10.15.7
Referer: https://www.gb

[2021-08-30 06:48] gbif-portal opened #3565 "Diplodetma dnikdaypo"
**Diplodetma dnikdaypo**

Diplodetma dnikdaypo There are no data on secondary protected species in China

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1f757408234ba631811c4f68663f2453:3f0cd97daaa1fa938f9c15bdf92746a78e9f8e6eaa0ce92e511f19e42ccba3f80b0d27c771b07ee275ac7507558164c35400b0c1b7dad5e7f95d95cc09854556)
System: Chrome 92.0.4515 / Mac OS X 10.15.7
Referer: https://

[2021-08-30 07:45] ManonGros commented on #3565
I found only two results on google for the name "Diplodetma dnikdaypo", perhaps this user meant to be referring the genus Diploderma? I will contact them to ask.

[2021-08-30 07:48] ManonGros commented on #3564
Perhaps this user means _Garrulax canorus_ subsp. _owstoni_ (Rothschild, 1903) (https://www.gbif.org/species/5844639)? I will contact them to ask.

[2021-08-30 07:56] #3554 closed, assigned to nobody

[2021-08-30 08:30] gbif-portal opened #3566 "Atlasjapyx atlas"
**Atlasjapyx atlas**

Atlasjapyx atlas

There are no data on secondary protected species in China

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6631309a6a3a574e9258cc323c7b4061:936e6a8cab8317f6d0aab5abeb4debc5aa36ffa0aebbb96c3925df60fd5fa5c4eba23809b5cd5ff78c560451cced77018efb68f260a12c9aba01beea5250dcd3)
System: Chrome 92.0.4515 / Mac OS X 10.15.7
Referer: https://www.gbi

[2021-08-30 08:31] MortenHofft commented on #3068
See also https://github.com/gbif/hosted-portals/issues/123

[2021-08-30 08:45] MortenHofft commented on #3563
The tool does not tell you what the it is a synonym OF, but simply tells you what it matches in the backbone and that it IS a synonym. To get the accepted names I'm afraid you need to consult the API or website.

The tool simply expose what we do in the match API https://www.gbif.org/developer/species#searching
but with a visual interface.

I'm going to classify this issue as a suggestion to resol

[2021-08-30 09:04] gbif-portal opened #3567 "Nemopistha sinica"
**Nemopistha sinica**

Nemopistha sinica  There is no data for this species

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6279e3a7d2dcfab09831a3817224ba55:1312733da41f63dbf0e7135890daa8654ddcd5a9f16dacfacf629f055537cccfc529d3e72eccbbc8dbebd8d8438712ce2a2ada8de6cd6c9709add9cf4aea2622)
System: Chrome 92.0.4515 / Mac OS X 10.15.7
Referer: https://www.gbif.org/zh/search?q=Scar

[2021-08-30 09:05] gbif-portal opened #3568 "Carabus cyaneogigas"
**Carabus cyaneogigas**

Carabus cyaneogigas  There is no data for this species

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d2ca7501c28df3ac7c65abaf563d2b45:304b40f3efcb2eafdf504bdb559686b92a54736a46ca9248d03cac6e72a54b23c19976189b017cb9b21803ed9d31c7377ed8adbaece9fe3e9acbd9ebb622a038)
System: Chrome 92.0.4515 / Mac OS X 10.15.7
Referer: https://www.gbif.org/zh/search?q=

[2021-08-30 09:08] gbif-portal opened #3569 "Scarabaeus erichsoni"
**Scarabaeus erichsoni**

Scarabaeus erichsoni There is no data for this species

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/78955818edc3b148cfc7681cbb5f7318:c1fc9a8450fafcd7980281a8d311924ad2c0764b6f4feef5e8794d048c0b1decae879155c06553c0aac254c6ba2eacf8f27d2a4452b92c95d9d1381abbd52432)
System: Chrome 92.0.4515 / Mac OS X 10.15.7
Referer: https://www.gbif.org/zh/search?q

[2021-08-30 09:09] gbif-portal opened #3570 "Trypoxylus davidis"
**Trypoxylus davidis**

Trypoxylus davidis There is no data for this species

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/945fee81cac0c3cc6d7903a22209fb78:3996c444b772d5a94f8709cd4d68155336671653c3c4ea22d60a641c79ba9e4b6831e17007ceddfc5a0bb05cd86aba9c30e4286e33bad0c66f10d1585849f2a8)
System: Chrome 92.0.4515 / Mac OS X 10.15.7
Referer: https://www.gbif.org/zh/search?q=Try

[2021-08-30 11:46] gbif-portal opened #3571 "Test"
**Test**

This is just to check if the Node Manager gets a notification.

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/30850ef5077e8f4d0da3838e77372151:e006171ef2e4319e2489c330120c52ffde987dcb183df2f62111354977ca90b9fb7abfb4513e4f9b3d6e127d5ec1611ae2c520b4e163ffbe4bdb335c6a2cc1ac)
System: Safari 14.1.1 / Mac OS X 10.15.7
Referer: https://www.gbif.or

[2021-08-30 11:48] #3571 closed, assigned to nobody

[2021-08-30 14:56] MattBlissett commented on #2783
iNaturalist have moved their images to an Amazon open dataset, so we shouldn't have any issues accessing them any more.

[2021-08-30 14:57] #2331 closed

[2021-08-30 19:12] AbbyBenson commented on #3562
Just chiming in to say that I think both are important. It can be helpful when I'm discussing the benefits of sharing data to GBIF and the data citations that come with that to note when the dataset was first registered so data providers understand how long it can sometimes take to start getting citations- e.g. a dataset registered in 2013 is going to have many more citations than a dataset regist

[2021-08-31 02:49] gbif-portal opened #3572 "Trypoxylus davidis"
**Trypoxylus davidis**

Trypoxylus davidis  There is no data for this species

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6a28a0c69a6376ee54281f1e2f0e8478:64fef862c4abeabe622fe7a1114fb972b3517a63eb9d80525f8676717a891e973efd8106cad549a6bb8bbdf29899851f2ba9d44ab96c712299713fb238b4727b)
System: Chrome 92.0.4515 / Mac OS X 10.15.7
Referer: https://www.gbif.org/zh/search?q=Tr

[2021-08-31 07:28] MortenHofft commented on #3562
We have an area where we write other prominent information. Such as last modified and publication date. It would make sense so add version there as well. Has anything specifically prompted this @mdoering? Does it result in many questions to you? Or is it when looking at these pages yourself that this is a nuisance?

<img width="1210" alt="Screenshot 2021-08-31 at 09 20 45" src="https://user-images

[2021-08-31 08:54] ManonGros opened #3573 "Lecanora utahensis is a synonym of Lecanora peltasticoides"
This is some feedback we received on Helpdesk.
This is the article explaining that Lecanora utahensis is a synonym of Lecanora peltasticoides:
[Changes_V.pdf](https://github.com/gbif/portal-feedback/files/7082528/Changes_V.pdf)

Lecanora utahensis is included in the backbone https://www.gbif.org/species/2606995 and come from [Artsnavnebasen](https://www.gbif.org/dataset/a6c6cead-b5ce-4a4e-8cf5-154

[2021-08-31 09:33] mdoering commented on #3562
Ah, I was thinking we have "publication date" there, but it does not show for [COL](https://www.gbif.org/dataset/7ddf754f-d193-4cc9-b351-99906754a03b) so I filed this issue. That probably is even my bad when exporting the EML, I will take a look.

Still I think it would be better to show that pubDate at the very top instead of registration date. To me the registration is very technical and rather

[2021-08-31 09:39] ManonGros commented on #3570
Duplicate of: https://github.com/gbif/backbone-feedback/issues/374

[2021-08-31 09:39] #3570 closed, assigned to nobody

[2021-08-31 09:41] ManonGros commented on #3572
Could this user mean Xylotrupes davidis? https://www.gbif.org/species/10973970

[2021-08-31 09:46] ManonGros commented on #3567
Nemopistha sinica C.-k. Yang, 1986 is in the CoL: https://www.catalogueoflife.org/data/taxon/468RT

[2021-08-31 09:48] ManonGros commented on #3568
Could the user mean Carabus pervarius subsp. cyaneogigas Deuve & Tian, 2005 (https://www.gbif.org/species/9030997)?

[2021-08-31 09:50] ManonGros commented on #3569
Could the user mean Kheper erichsoni (Harold, 1867) (https://www.gbif.org/species/4756240)?

[2021-08-31 11:42] #3521 closed, assigned to thomasstjerne, mike-podolskiy90

[2021-08-31 11:42] #3560 closed, assigned to thomasstjerne

[2021-08-31 12:19] #3318 closed, assigned to thomasstjerne

[2021-08-31 12:31] mdoering commented on #3562
Indeed we had a bug in the COL EML exporter that prevented pubDate to exist.

[2021-08-31 12:53] ManonGros commented on #3572
User contacted by email.

[2021-08-31 12:53] ManonGros commented on #3569
User contacted by email.

[2021-08-31 12:54] ManonGros commented on #3568
User contacted by email.

[2021-08-31 13:58] ManonGros commented on #3561
This record has been republished by the REFLORA installation. The original record is this one: https://www.gbif.org/occurrence/464706833 from the P collection (https://www.gbif.org/dataset/b5cdf794-8fa4-4a85-8b26-755d087bf531) of the MNHN (https://www.gbif.org/publisher/2cd829bb-b713-433d-99cf-64bef11e5b3e).

[2021-08-31 20:16] gbif-portal opened #3574 "inaturalist"
**inaturalist**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6035e2dbf8cc25c0729e8c1e8687d410:23b47991c534c8eb0594ea99e3c225f2707950bb22a71011dec7e35f42e209a23c913649ac36b01c83acaf60496a8d9d6875e004d36c93753f148be90fef7c3d)
System: Safari 14.1.2 / Mac OS X 10.15.7
Referer: https://www.gbif.org/contact-us
Window size: width 1355 - height 631
[API log](https://private-logs.

[2021-09-01 00:42] gbif-portal opened #3575 "danaus eresimus"
**danaus eresimus**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d8a35e9ab656562b1028670c7d50a4cc:29fd049a02b9c5707662b656ae984541ff444f8b3848f40d266273dee3c90dc15f1ab2f35fe68f4de454921236f3f0cb54c002e0fb5a17fa93be7c1c205714a8)
System: Chrome 92.0.4515 / Windows 10.0.0
Referer: https://www.gbif.org/species/5714302
Window size: width 1366 - height 657
[API log](https://pri

[2021-09-01 07:57] ManonGros commented on #2791
It seems that this species is no longer in the GBIF backbone but the genus Leucon Krøyer, 1846 (https://www.gbif.org/species/2215525) has the correct taxonomy.

[2021-09-01 07:57] #2791 closed

[2021-09-01 08:04] ManonGros commented on #3567
@mdoering This species (Nemopistha sinica) is in the catalogue of life but not in the backbone, any idea why that would be?

[2021-09-01 08:07] ManonGros commented on #3566
Apparently, this is the reference for this species: Sandra, Alberto, ed. Japygidae Species Listing. Biology Catalog. Texas A&M University, 2006. Retrieved on July 28, 2010.

[2021-09-01 08:12] ahahn-gbif commented on #3566
https://www.irmng.org/aphia.php?p=taxdetails&id=1188713

[2021-09-01 08:21] jhnwllr commented on #2720
From Plazi.
Source dataset:
https://www.gbif.org/dataset/c7258597-fa96-4b98-a6f8-aecc1f8779d5

[2021-09-01 08:26] ahahn-gbif commented on #2749
With R. alnifolia handled as a heterotypic synonym with both author teams, searching for the attached records would likely require to search under both the now accepted names: Frangula purshiana subsp. purshiana  and Endotropis alnifolia (L'Hér.) Hauenschild to find all records. The synonym search will only retrieve names identified under the synonym name, which in this case is difficult due to th

[2021-09-01 08:28] mdoering commented on #3567
If you want to make sure it was in COL when the backbone was built you need to check against the version used at that time. In March 2021 it was the december 2020 COL release where it already existed: https://data.catalogueoflife.org/dataset/2242/taxon/468RT

[2021-09-01 08:30] #3574 closed, assigned to nobody

[2021-09-01 08:32] mdoering commented on #3567
Seem to be a name parsing problem. From the last build logs:

[2021-09-01 08:33] mdoering commented on #3567
filed under https://github.com/gbif/name-parser/issues/80

[2021-09-01 08:38] MortenHofft commented on #3562
Yes we show the registration date because it is always there (unlike publication date). I think it is a quality that it is consistently the same information (and not pubdate when available with a fallback to registration date).

Honestly the information is mostly there for consistency with other pages that follow that form: `type | date`
`NEWS | 27 AUGUST 2021`, `OCCURRENCE | 30 JANUARY 2020` etc.

[2021-09-01 08:39] jhnwllr commented on #2720
Will contact user for clarification.

[2021-09-01 08:40] ManonGros commented on #2678
This seems to be correct in the CoL: https://www.catalogueoflife.org/data/taxon/4WZTW so we expect to be ok in the next backbone

[2021-09-01 08:46] ManonGros commented on #2619
The occurrence has been removed and I don't see any relationship between S. albicans and S. coerulea in the Curren backbone.

[2021-09-01 08:46] #2619 closed

[2021-09-01 08:51] ahahn-gbif commented on #2588
We take this treatment from CoL, it seems: https://www.catalogueoflife.org/data/search?facet=rank&facet=issue&facet=status&facet=nomStatus&facet=nameType&facet=field&facet=authorship&facet=extinct&facet=environment&limit=50&offset=0&q=Sesleria%20argentea&sortBy=taxonomic

[2021-09-01 09:00] jhnwllr commented on #2559
https://www.catalogueoflife.org/data/taxon/5JXK3

[2021-09-01 09:27] jhnwllr commented on #2498
Both species  have **(L.) L.** authorship

https://www.gbif.org/species/2928673 Evolvulus alsinoides (L.) L.
https://www.gbif.org/species/2928680 Evolvulus nummularius (L.) L.

[2021-09-01 09:29] #2498 closed

[2021-09-01 09:32] jhnwllr commented on #2482
Should make an issue on CoL.

[2021-09-01 09:33] ManonGros commented on #3132
I forwarded the missing species issue to the CoL and also contacted BOLD to ask if they could add the scientific authorship for univalens.

[2021-09-01 09:34] jlegind commented on #3538
A reminder was sent.

[2021-09-01 09:40] ahahn-gbif commented on #3284
Agree

[2021-09-01 09:48] ahahn-gbif commented on #2496
CoL: https://www.catalogueoflife.org/data/taxon/4WZRS (Sesleria autumnalis (Scop.) F.W.Schultz)
GBIF: https://www.gbif.org/species/4119674

[2021-09-01 09:52] ahahn-gbif commented on #2496
Given the taxon is now available in the backbone, the remaining issue appears to be about misidentification of the occurrences from the original reference link

[2021-09-01 09:52] ManonGros commented on #3555
Contacted the IRMNG by email.

[2021-09-01 10:33] ahahn-gbif commented on #2484
This issue can be closed now. The GBIF Type Specimen Names checklist is no longer used in backbone generation. The misspelled name is still showing within that checklist, but is not used in any way outside of that context (https://www.gbif.org/species/search?q=Polyomamtus&advanced=1)

[2021-09-01 10:33] #2484 closed

[2021-09-01 10:44] ahahn-gbif commented on #2480
There are two competing accepted names, both from WoRMS, and both Curculionids:
- Otiorrhynchus Gemminger & Harold, 1871 --- WoRMS (2021). Otiorrhynchus Gemminger & Harold, 1871. Accessed at: http://www.marinespecies.org/aphia.php?p=taxdetails&id=150748 (see https://www.gbif.org/species/155468527/verbatim), and
- Otiorrhynchus Germar, 1824 --- WoRMS (2021). Otiorhynchus Germar, 1824. Accessed at:

[2021-09-01 11:21] jhnwllr commented on #2457
author is Bailey, 1856 on CoL, so should be fine for next backbone...
 https://www.catalogueoflife.org/data/taxon/856PM

[2021-09-01 11:25] jhnwllr commented on #2455
**Cephalaria duzceensis N.Aksoy & Göktürk** - GBIF version is missing a space (N.Aksoy) but the name is correct
**Cephalaria duzceënsis N. Aksoy & Göktürk** - desired author...

[2021-09-01 11:25] ManonGros commented on #2823
Contacted WORMS by email.

[2021-09-01 11:27] jhnwllr commented on #2455
Cephalaria duzceensis N. Aksoy & Göktürk
https://www.catalogueoflife.org/data/taxon/69J7H

is fixed on CoL, so will be in next backbone...

[2021-09-01 11:30] jhnwllr commented on #2439
Write to CoL.

[2021-09-01 12:01] ManonGros commented on #2316
This issue comes from a PLAZI treatment: https://www.gbif.org/species/157422467
https://www.gbif.org/publisher/7ce8aef0-9e92-11dc-8738-b8a03c50a862

[2021-09-01 12:54] jhnwllr commented on #2411
The backslash occurs in this dataset "Woody Plants of Korea"
https://www.gbif.org/dataset/5de20c3a-7d23-442a-a34e-36ae24d0f8e3

There is a backslash in this record under the VernacularNames extension
https://www.gbif.org/species/114261768/verbatim

[2021-09-01 13:05] jhnwllr commented on #2464
likely missing syn. Write to CoL.

[2021-09-01 13:07] #2394 closed

[2021-09-01 13:34] jhnwllr commented on #2378
I think you should handle this issue @ManonGros

Because I think we need to write to the French publisher TaxRef to get them to add a syn.
https://www.gbif.org/dataset/0e61f8fe-7d25-4f81-ada7-d970bbb2c6d6

[2021-09-01 13:45] jhnwllr commented on #2334
Write to CoL.

[2021-09-01 13:53] ahahn-gbif commented on #2730
At the cited taxon page (https://www.gbif.org/species/4843207), the entry is now showing flagged as "doubtful", without any matched occurrences. I assume this means the issue can be closed.

[2021-09-01 14:01] jhnwllr commented on #2334
Fixed in CoL ~~Accepted name "Systoechus ctenopterus (Mikan, 1976) " -> should be (Mikan, 1796)~~
https://www.catalogueoflife.org/data/taxon/544TH

Fixed in CoL ~~"Bombylius ctenopterus Mikan, 1787" -> I could find no such description, the oldest description seems to be 1796, matching the accepted name~~
 Bombylius ctenopterus Mikan, 1796 syn of https://www.catalogueoflife.org/data/taxon/544TH

[2021-09-01 14:19] jhnwllr commented on #2334
This appears to be the only remaining issue here:

[2021-09-01 14:32] jhnwllr commented on #2333
There is a worm genus "Eisenia" in the backbone and CoL.
https://www.gbif.org/species/5431563

Eisenia Malm, 1877
https://www.catalogueoflife.org/data/taxon/84NDF

I think the issue should be closed.

[2021-09-01 14:32] #2333 closed

[2021-09-01 14:37] jhnwllr commented on #2327
Ambopogon is  into Amphipogon (McAlpine 1977)
https://www.gbif.org/species/1522414
is classed as **doubtful**

[2021-09-01 15:47] gibedini commented on #3538
Thank you Jan, but I cannot see the offending character. So I just removed the space between "Pianca" and "nell" and inserted a new space manually (space bar). Then I recreated the ABCD archive and these are the last lines of the log:
...
INFO  01-09 17:41:02,347 - Done for all datasets. 93,641 out of 93,641 records archived (0 dropped).
INFO  01-09 17:41:02,347 - Removing old archives and moving

[2021-09-02 01:23] gbif-portal opened #3576 "Request for filter: migratory gps data on all birds originating from a specific geo location (Country/region).."
**Request for filter: migratory gps data on all birds originating from a specific geo location (Country/region)..**

How would I filter unique birds (or multiple paths of all birds) that have visited a specific specific geographic location?

For example: All birds that have visited Latvia & full migratory paths:

-----

Github user: @OtoGodfrey
User: [See in registry](https://www.gbif.org/api/feed

[2021-09-02 07:14] ManonGros commented on #3575
It seems like an error, closing

[2021-09-02 07:14] #3575 closed, assigned to nobody

[2021-09-02 07:28] ManonGros commented on #3162
The data is mapped correctly but many rows are empty with no measurement. I supposed this is an artefact of the way the original file was generated.

[2021-09-02 09:44] ManonGros commented on #2490
Hi @peterdesmet
Let me know if this issue has gone out of scope.

Right now the [Global Register of Introduced and Invasive Species - Belgium checklist](https://www.gbif.org/dataset/6d9e952f-948c-4483-9807-575348147c7e) published on GBIF shows that Carex agastachys L.f. is a synonym of Carex pendula Huds.:
<img width="617" alt="Screenshot 2021-09-02 at 11 28 09" src="https://user-images.githubuser

[2021-09-02 11:39] ManonGros commented on #2490
@peterdesmet

Yes, changing taxonomicStatus to ACCEPTED and replacing the name and ID of Carex pendula Huds. by  Carex agastachys L.f.'s in the acceptedNameUSage and acceptedNameUsageID fields should make the entry disappear.

Thanks we will forward the issue about Carex agastachys L.f. to the CoL repository.

[2021-09-02 12:37] peterdesmet commented on #2490
I have updated the source checklist, removing `taxonomicStatus`, `acceptedNameUsage` and `acceptedNameUsageID` (https://github.com/trias-project/unified-checklist/commit/93b901caf1839b25ae5b190e4eb9881102d43c9c), since we consider all our taxa as their own concepts, i.e. accepted.

Once the crawling is finished, https://www.gbif.org/species/162644337/verbatim should no longer list those fields and

[2021-09-03 08:12] dnoesgaard commented on #3553
Thanks for the thorough review, @ckotwn.

The suggested changes all look fine to me, but I would prefer if someone from @gbif/content could take a look as well? (ping @ahahn-gbif)

[2021-09-03 08:13] dnoesgaard commented on #3545
(closing this as it's part of the mentioned issue)

[2021-09-03 08:13] #3545 closed, assigned to nobody

[2021-09-03 08:13] #3546 closed, assigned to nobody

[2021-09-03 11:05] gbif-portal opened #3577 "pdf user guide"
**pdf user guide**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/dc249b2dd7ea3fe1a595149c864e3819:f09f24e7a4589d0365cb91d731fdaf6a11f5acad836350b74f8c9b22d2e569cf74fc7435fdf2d00afe469672ac5ed325ea61e453bd690060899854c17750a881117cd5eda52762ca662c20a960fcb252)
System: Chrome 92.0.4515 / Windows 10.0.0
Referer: https://www.gbif.org/user/profile
Window size: width 1920 - heig

[2021-09-03 13:10] peterdesmet commented on #2490
This issue is now resolved!

[2021-09-04 06:20] TonyRees commented on #3555
OK, fixed now at the IRMNG end, see https://www.irmng.org/aphia.php?p=taxdetails&id=1127689 - also upgraded genus status to "accepted". BTW the original (bad) assignment came in from a batch of GBIF data (from AntWeb) in around 2012, so the error presumably originated there - tried to check the AntWeb site (also AntBase) but got an error message just now in both cases.

It seems that this genus is

[2021-09-05 21:01] jeroencreuwels commented on #2334
Dear John,
Thanks for pointing out this issue. It seems to me you are right, but I will ask my colleagues of the editorial team of the Dutch Species Register to look at this. I will let you know what they think and if they have changed the name.  Jeroen

[2021-09-06 07:12] gbif-portal opened #3578 "Dear help desk team,"
**Dear help desk team,**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1a4bb1eb9693a61346b8911db007d195:9a616db4313eb8d6eee164125433cf183df9e1e3257b9ef5080966e3123a9e8c0de04d696c9d1ac0763ffdff78d6a0086248cb71c2dd61d5286a8376c25d3541)
System: Chrome 92.0.4515 / Windows 10.0.0
Referer: https://www.gbif.org/resource/search?contentType=dataUse
Window size: width 1920 - height

[2021-09-06 09:13] #3578 closed, assigned to nobody

[2021-09-06 09:17] MortenHofft commented on #3162
But shouldn't it be removed since there is no information? Or perhaps we should remove it during interpretation since it is just noise? We can also just leave it, but it just feels nonsense data. Or have I missed how this brings value?

[2021-09-06 11:26] #2985 closed

[2021-09-06 13:15] gbif-portal opened #3579 "Spiders don't have any class"
**Spiders don&#39;t have any class**

The order Araneae doesn't have a class specified. This is probably because in the CoL, Arachnida is a sub-class and not a class: https://www.catalogueoflife.org/?taxonKey=RN

However, I can see there is a patch creating Arachnida as a class: https://www.gbif.org/species/367 but it isn't connected to the Araneae order.

So users looking for Arachnida won't be a

[2021-09-06 13:15] ManonGros commented on #3579
@mdoering Could you take a look at this issue? Perhaps for the next backbone?

[2021-09-06 13:23] gbif-portal opened #3580 "Filter for europe doesn´t include the Dataset from iNaturalist"
**Filter for europe doesn´t include the Dataset from iNaturalist**

If i filter for the whole world i can see occurences of the iNaturalist Research-grade Observations dataset in the table (so i see that there are occurences in european countries) but if my filter includes a special continent (for example europe) i have zero occurences in my table. So if i download the table for europe ,the data f

[2021-09-06 14:13] ManonGros commented on #3576
Hi @OtoGodfrey,

I don't think there is an ideal solution for that but there are some things you can try:

- Look for birds that have been observed in a given region or country: https://www.gbif.org/occurrence/search?country=LV&taxon_key=212&occurrence_status=present (example with Latvia). You could refine the selection by choosing only migratory species.
- Or look for birds with similar criteria

[2021-09-06 14:46] mdoering commented on #3579
Uh, this is not nice but what should be the fix? We could...
 - allow more ranks in the backbone, see https://github.com/gbif/backbone-feedback/issues/485. But that requires a lot of code changes also for occurrences
 - allow subclass Arachnida to snap to class Arachnida and create that in the backbone patch which we already do?
 - make Arachnida a class again when reading COL with a code change a

[2021-09-06 15:10] jlegind commented on #3538
Issue solved.

[2021-09-06 15:10] #3538 closed, assigned to jlegind

[2021-09-06 15:23] mdoering commented on #3579
Allowing sub/super ranks to snap to the linnean base rank seems to work fine. It might change our next backbone quite a bit though, hopefully only to the better :)

[2021-09-06 15:40] #3579 closed, assigned to nobody

[2021-09-07 08:47] MortenHofft commented on #3580
indeed. inat is not mapped to any continents
https://api.gbif.org/v1/occurrence/search?dataset_key=50c9509d-22c7-4a22-a47d-8c48425ef4a7&occurrence_status=present&facet=continent&limit=0
That looks like an error during processing

[2021-09-07 08:51] ahahn-gbif commented on #3553
Thank you very much, @ckotwn! That is very helpful indeed. The suggested changes look fine to me, too, and I would be happy to see them in production.

[2021-09-07 08:55] MattBlissett commented on #3580
https://github.com/gbif/portal-feedback/issues/2387, essentially. The work I'm doing on the geocoder should enable us to introduce continent interpretation soon.

[2021-09-07 09:22] jeroencreuwels commented on #2334
To add to my last post... The name has now been changed in the Dutch species register. The next time when a new version of the NSR will be published this error will be solved and the correct name will be shown. The wrong name is now flagged as a misspelling.

[2021-09-07 13:07] dnoesgaard commented on #3553
Thanks both—the changes to the page have now been made.

[2021-09-07 13:07] #3553 closed, assigned to nobody

[2021-09-08 07:50] #2824 closed

[2021-09-08 08:14] ahahn-gbif commented on #2725
apparently not in BHL (yet), unfortunately: https://www.biodiversitylibrary.org/creator/329#/titles

[2021-09-08 08:27] myrmoteras commented on #2725
@ahahn-gbif here is a copy... slightly out of the range for a casual acquisition...
![image](https://user-images.githubusercontent.com/4609956/132474182-3dad6b3b-9767-475b-a27b-e86ce1df88bd.png)
may be we can find at some point a copy

[2021-09-08 08:33] ManonGros commented on #2321
@mdoering we have consistency issue here DynTaxa and the CoL use different classifications: for Dyntaxa _ Mycetaulus_ is an accepted genus while for the CoL it isn't (and the _ Mycetaulus_ species are synonym of the _ Piophila_ species likere here: https://www.catalogueoflife.org/data/taxon/4J2WN).
This means that some _ Mycetaulus_ species are found under either genus.

Do you have any recommenda

[2021-09-08 08:40] ahahn-gbif commented on #2725
Thanks - indeed. And we are looking for birds here, right?
It may be on loan, if we can identify the volume needed, eg here: https://soeg.kb.dk/discovery/search?query=any,contains,Meyen&tab=Everything&search_scope=MyInst_and_CI&vid=45KBDK_KGL:KGL&facet=lang,include,ger&facet=searchcreationdate,include,1834%7C,%7C1834&offset=0

[2021-09-08 08:58] myrmoteras commented on #2725
do you have a chance, to get a pdf copy of the article through you channels at the copenhagen museum? Not sure, whether I can get it through my connection here which normally deliver scans of dismal quality.

[2021-09-08 09:01] mdoering commented on #2321
If I understand the problem correctly the main issue is not to have redundant species placed under both genera M+P.
Which is the main accepted one is not really key, we should just make sure to have only a single accepted name from each of the pairs. If COL accepts Piophila, this would be the main genus to use. Ideally these homotypic species would be spotted by the basionym detection, I will try

[2021-09-08 09:17] ManonGros commented on #2431
It seems that we could have some duplicates due to (undocumented?) spelling variants.
There are a few things are happening here:
* CoL provides _Microcarbo pygmeus_ (Pallas, 1773) as an accepted species: https://www.gbif.org/species/6066518
* the IUCN Red List provides _Microcarbo pygm**a**eus_ (Pallas, 1773) as accepted: https://www.gbif.org/species/176605295. Although in the backbone it is label

[2021-09-08 09:18] ahahn-gbif commented on #2725
loan requested, pending

[2021-09-08 09:20] myrmoteras commented on #2725
ok - if you want, send the pdf and we'll see, what we can do. At least add it to BLR

[2021-09-08 10:18] ahahn-gbif commented on #2014
The taxon name now shows as deleted and is no longer available to searches or occurrence matching. The originating resource (GBIF Type Specimen Names) has been withdrawn from the backbone generation process earlier this year. Closing.

[2021-09-08 10:18] #2014 closed

[2021-09-08 10:41] ManonGros commented on #2378
Perhaps a better solution would be to ask LepIndex via the CoL to add Vanessa kershawi (McCoy, 1868) and its potential synonym, Vanessa cardui kershawi, their catalogue.

[2021-09-08 10:43] ahahn-gbif commented on #2304
The resource as indexed in GBIF today (Zootaxa checklist) shows the author name correctly, see https://www.gbif.org/species/157318933. This does not automatically include it into the backbone version yet, though: https://www.gbif.org/species/10540612. Is it possible that descriptions of new species are not part of the dynamic process, @mdoering?

[2021-09-08 10:56] ManonGros commented on #2319
Record from ITIS: https://www.gbif.org/dataset/9ca92552-f23a-41a8-a140-01abaa31c931

[2021-09-08 10:56] ManonGros commented on #2320
Record from ITIS: https://www.gbif.org/dataset/9ca92552-f23a-41a8-a140-01abaa31c931

[2021-09-08 10:57] ManonGros commented on #2318
Record from ITIS: https://www.gbif.org/dataset/9ca92552-f23a-41a8-a140-01abaa31c931

[2021-09-08 10:59] ManonGros commented on #2253
Galagoides demidoffi has been deleted when we removed the GBIF Type Specimen Names checklist from he backbone (it might have been a mistranscribed label)

[2021-09-08 10:59] #2253 closed

[2021-09-08 11:03] dhobern commented on #2378
Vanessa kershawi is already in the version of LepIndex that I am trying to import this month into COL. I've added the V. c. kershawi combination as a synonym of that species. Let's see how it goes ...

[2021-09-08 11:07] dhobern commented on #2378
Looking good in the test view in COL ChecklistBank:
![image](https://user-images.githubusercontent.com/26148454/132498816-6e124c77-cc1b-4157-82df-49984dfcc405.png)

[2021-09-08 11:09] jlegind commented on #3577
User replied:
Dear Jan,
Thank you for your message and I'm terribly sorry for the incomplete thread. I could not find a way to modify it once posted.
I don't know if the GitHub GBIF portal only deals with technical troubleshooting or also more general topics. But I was just wondering if there is any document that compiles all the information that a new user would need in order to prepare and impor

[2021-09-08 11:16] ManonGros commented on #2282
I cannot find any reference for _Kichulchoia multifasciata_ (Wakiya and Mori, 1929). I assume it could be a synonym of _Niwaella multifasciata_ (Wakiya & Mori, 1929) (https://www.fishbase.se/summary/Niwaella-multifasciata.html). According to Zoological Systematics, 42(4): 490–507 (October 2017), DOI: 10.11865/zs.201723, they "queried the validity of the Kichulchoia and considered it as synonym of

[2021-09-08 11:18] mdoering commented on #2304
Not sure what descriptions mean in this context.
Authorships in the backbone only change when we build a new backbone, so right now.
And a nomenclator like ZooBank is taken as the reference for the correct spelling and will change whatever was given in other sources. Maybe we should reconsider that, but with ZB fixed the new nub should be fine. This is in the [new draft nub](http://backbonebuild-v

[2021-09-08 11:29] ManonGros commented on #2282
I found the following in the [KOREAN JOURNAL OF ICHTHYOLOGY, Vol. 21 Supplement, 7-28, July 2009](https://www.koreascience.or.kr/article/JAKO200927236820310.pdf): "So Niwaella multifas- ciata was reclassified as the genus Kichulchoia by having four anal unbranched rays and six dorsal unbranched rays in spite of the difference in the external morphological features. "

For information we have [392

[2021-09-08 11:36] jlegind commented on #2888
Sophie replied and there seems to be movement on this issue.

[2021-09-08 12:04] ManonGros commented on #1911
The correct name exists in the backbone: https://www.gbif.org/species/7797041 (from World Plant via the CoL).
The issue seems to come from somewhere else but I don't know where.

[2021-09-08 15:50] gbif-portal opened #3581 "I recently searched your platform for Selaginella salazariae Valdespino and found you had it listed as "nom. illeg., non Cordem. (1890)." This is incorrect. I consulted Drs. W. Werner and N.Thurland, amply known for their knowledge of the ICB and they basically said Selaginella salazariae and S. salarian are not homonym. Below is an extract of what both basically said:"
**I recently searched your platform for Selaginella salazariae Valdespino and found you had it listed as &quot;nom. illeg., non Cordem. (1890).&quot; This is incorrect. I consulted Drs. W. Werner and N.Thurland, amply known for their knowledge of the ICB and they basically said Selaginella salazariae and S. salarian are not homonym. Below is an extract of what both basically said:**

-----

User:

[2021-09-08 16:01] gbif-portal opened #3582 "Selaginella salazariae Valdespino might be legitimate"
Re: Selaginella salazariae Valdespino listed as a nom. illeg., which should not be the case . See what both Drs. W. Werner and N. Thurland, known nomenclatural expert said: Selaginella salazariae and S. salaziana are spelled quite differently and the derivation is also quite different, so we do not consider that Hassler &amp; Schmitt have a case for treating them as confusable. In their website th

[2021-09-09 19:00] dbloom commented on #3547
This resource has been republished, as of Sept 1. Looks like the individualCount and organismQuantity counts are back to normal. Please let me know if what is present does not represent expected values.

[2021-09-10 11:08] gbif-portal opened #3583 "This Taxon is synonym to Monachoides incarnatus (O.F. Müller)"
**This Taxon is synonym to Monachoides incarnatus (O.F. Müller)**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c6a2b2ec7fb374118fe786f319d30a8f:6f92a141e0308734672515c07f0bc58785833b3299ee2ae5c35126a16e7e6a9334f3a02ae3a61ba97452960b88899c81cc57ab3840f13881cc8e0e33bf1282e3)
System: Opera 78.0.4093 / Windows 10.0.0
Referer: https://www.gbif.org/species/4359228
Window size:

[2021-09-10 11:11] aallspac commented on #3583
it is synonym to:

[2021-09-10 11:11] aallspac commented on #3583
https://www.gbif.org/species/4564494

[2021-09-10 11:17] jeroencreuwels commented on #3554
It works fine in production indeed: https://www.gbif.org/dataset/45a43bcf-e3bd-44a0-9c66-72d9c8e4f111

[2021-09-10 13:31] gbif-portal opened #3584 "Dear Gbif, This data is reported as doubtful by the data provider. I think it would be also the case for the others in Finland. Best regards"
**Dear Gbif, This data is reported as doubtful by the data provider. I think it would be also the case for the others in Finland. Best regards**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/619bb59812b192e445e73c1317f90674:08b84b2be6138c3c719e1f363029843e34230d136a6e8c0b119a20022017aa40765875b136a8fa453b7257e6a2d5749646faaed6afcea7b0cb96a74a5df3d334)
System: Firefox 92.0.

[2021-09-10 16:48] gbif-portal opened #3585 "how do you download a map"
**how do you download a map**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0431ddfb04565cb6fe22597e5421effc:a9ebcd5e0073f9d7438c7bf5c5dfde31b450906a176d913aca0984301a19b614143cd796eb60b2853cd1a90af5017c3383d4d4c72628a12e229437a81916b38b)
System: Chrome 88.0.4324 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/map?q=Salicornia&has_coordinate=true&has_geospatial_i

[2021-09-13 01:14] gbif-portal opened #3586 "Change e-mail address"
**Change e-mail address**

Unable to save changed e-mail address using editing facility. Old e-mail address is defunct.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/8d2c1b255ea7e5488a6bac92d8e69e32:5260d121efb25c22a4d0e566eeb5bcb85e9ce6eff89d693d03f50105a26660cd9cf94fcc6c831b93c6eaa9cf05e8be9a34e40b723fc39a6b1541be328d899cf1)
System: Chrome 86.0.4240 / Mac OS X 11.0.0
Ref

[2021-09-13 08:02] MortenHofft commented on #3586
I'm unable to reproduce the issue.
What I did was
* Login
* Go to the profile page
* Change the email
* Click Save
* I received an email (to the new email I provided) asking me to confirm.
* I confirmed and can now login with the new email address (and can see in the database that it is updated)

[2021-09-13 11:51] ahahn-gbif opened #3587 "Regression for Protaspis Skuja, 1939"
This switch (from Chromista or Thaumatomonadida to Chordata) appears to be wrong and based on a more literal match of the genus name

[code]

[2021-09-13 12:04] mdoering commented on #3587
Looks fine to me on first glance. Both previous and new Protaspis matches are heavy guesses without any context given.
What exactly makes you think this is a bad result?

[2021-09-13 12:06] mdoering commented on #3587
Thaumatomonadida are flagellates, so Chromista is probably more appropriate than Chordates.
The problem is that Thaumatomonadida is not known to the backbone...

[2021-09-13 12:09] mdoering commented on #3587
We had those 2 genera before already: https://www.gbif.org/species/search?q=Protaspis&rank=GENUS&qField=SCIENTIFIC
But the doubtful one gets matched less. And this one became accepted in the new nub, so the matching prefers that to the synonym. Hm, we would better improve the taxonomic context here.

[2021-09-13 12:10] ahahn-gbif commented on #3587
https://en.wikipedia.org/wiki/Thaumatomonadida
It is quite possible that the earlier (more fuzzy) match just happened to make a better guess

[2021-09-13 12:49] mdoering commented on #3587
It wasnt fuzzier, both match the same name _Protaspis_

[2021-09-13 13:07] mdoering commented on #3587
Wikipedia also has both, a fossil fish genus and a flagellate one: https://de.wikipedia.org/wiki/Protaspis_(Begriffsklärung)

[2021-09-13 13:38] mdoering commented on #3587
@ahahn-gbif could we try to ask the publisher to add Chromista as the kingdom? That would solve it.

[2021-09-13 13:46] ahahn-gbif commented on #3587
Transferred from checklistbank: contact the data publishers of the occurrences with verbatim
"verbatim_scientificName": "Protaspis"
  "verbatim_order": "Thaumatomonadida",
  "verbatim_family": "Thaumatomastigidae"
requesting to add a kingdom of "Chromista"
https://www.gbif.org/occurrence/charts?taxon_key=6549378&occurrence_status=present

[2021-09-13 23:11] gbif-portal opened #3588 "Incorrect synonoms"
**Incorrect synonoms**

Silvanus and Pityogenes are genera in two different families (Silvanidae and Curculionidae), but for some reason they occurs in GBIF as synonyms? E.g. Silvanus bidentatus is incorrectly synonymized with Pityogenes bidentatus, and Silvanus unidentatus with Ips unidentata (see bugguide.net).

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/a8579b086692db

[2021-09-14 03:48] gbif-portal opened #3589 "download"
**download**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9d7f6ef8baa2993f0cdf3f8973791e1e:ce7d2f7c31df258635da19dac4fe665fae41a3ad66d76b21a86dce7111513e797904204e1411088e07cd67753a27c44827a54988277fcc9a8afbddc4ccc04778)
System: Chrome 93.0.4577 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/search?q=leptosciurus%20isthmius&country=CO&has_coordinate=true&has_ge

[2021-09-14 19:14] gbif-portal opened #3590 "Citing data downloaded from third-party tool"
**Citing data downloaded from third-party tool**

-----

Github user: @TannerMyers
User: [See in registry](https://www.gbif.org/api/feedback/user/a04327dfd8bf8edbe32d37621b78604a:a6f7cdf2f13a6e07cec7a0afde4c3ac30a44fd6eb6550fceba6e63b548700a587e8a18a69c8074b9a6aca5dff96a6afb4576f38dc9b076b84272b8b5b6f5f40c)
System: Chrome 93.0.4577 / Mac OS X 10.14.6
Referer: https://www.gbif.org/user/profile
Wind

[2021-09-14 20:49] gbif-portal opened #3591 "How do I edit a derived dataset? I initially didn't have a url for my dataset as I downloaded it using an R package so I just included the url for my GitHub where I'm hosting it. It still doesn't appear when you look at the derived dataset that there are any records"
**How do I edit a derived dataset? I initially didn&#39;t have a url for my dataset as I downloaded it using an R package so I just included the url for my GitHub where I&#39;m hosting it. It still doesn&#39;t appear when you look at the derived dataset that there are any records**

-----

Github user: @TannerMyers
User: [See in registry](https://www.gbif.org/api/feedback/user/6b9bfc05354a2fe84774

[2021-09-14 22:59] gbif-portal opened #3592 "Citation question for GBIF occurrence records"
**Citation question for GBIF occurrence records**

Hello,

I am trying to figure out the best way to cite GBIF as a reference for the occurrences of about 30 species of lichens. I have not downloaded any occurrence data, and am not presenting specific occurrence records. Instead, I am citing GBIF data to support the classification of these 30 species as restricted to North America. It's not clear

[2021-09-15 13:17] gbif-portal opened #3593 "Bilacunaria microcarpos"
**Bilacunaria microcarpos**

Dear member of the GBIF team,
The species cited in the following web-page is invalid: https://www.gbif.org/ru/species/11018350.
You can check IPNI for Bilacunaria microcarpos, and you don't find such an combination, it is misspelling. Pimenov and Tikhomirov in the protologue of the genus in Feddes Repertorium use only Bilacunaria microcarpa name.

With best regards,
Dm

[2021-09-15 13:27] gbif-portal opened #3594 "Bilacunaria caspica"
**Bilacunaria caspica**

Dear member of GBIF team
The following page contains invalid taxon: https://www.gbif.org/ru/species/8851475
Bilacunaria caspica is a misspelling of valid combination Bilacunaria caspia. You can check this information via IPNI and theplantlist, both sources don't have any information about combination Bilacunaria caspica.

With best regards,
Dmitry

-----

User: [See in reg

[2021-09-16 02:06] gbif-portal opened #3595 "What helpdesk software do you use that puts a little text baloon a the bottom of your pages. And then brings up this handy little window? Thanks, JIm."
**What helpdesk software do you use that puts a little text baloon a the bottom of your pages. And then brings up this handy little window? Thanks, JIm.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/663b9869850608e5b7e3ea07e5dceff0:57ea10cac5eeec608adb6204645e3b4d1dac025c9e4b08b0d22cdd8fb4deeda6720beb7c5549b0e92cf598ef9c0a9b18c7f6d3efdf76bb4185dacce44624323c)
System: Fir

[2021-09-16 07:26] MortenHofft commented on #3595
Hi Jim
I'm happy to hear that you find it useful. We do not have any dedicated helpdesk software.

We used to have a self hosted JIRA instance, but that was abandoned in an effort to reduce the number of systems we maintain that isn't directly related to biodiversity.

What we do now is to have people fill in a form and post that content to Github (which is where all our code lives). The balloon a

[2021-09-16 07:26] #3595 closed, assigned to nobody

[2021-09-16 09:41] gbif-portal opened #3596 "Provide a way to find deleted taxa"
**Provide a way to find deleted taxa**

This is following an email we received on heldpesk.

Several wikidata pages link to detailed GBIF taxa. For example:
* Epithemia turgida https://www.wikidata.org/wiki/Q67834374
* this wikidata entry previously linked to this “deleted” GBIF species: https://www.gbif.org/species/2627693
* the wiki data editors have since made the link to the correct entry on G

[2021-09-16 10:38] MattBlissett commented on #3068
We are considering using GeoBoundaries instead of GADM. (Just an initial investigation at this point.) The Dutch boundaries are certainly different, with different borders and the inclusion of some sea/esturies.

https://www.geoboundaries.org/geoContrast.html?country=NLD&mainSource=geoBoundaries+%28Open%29&comparisonSource=GADM+v3.6&mainLevel=2&comparisonLevel=2

[2021-09-16 10:40] gbif-portal opened #3597 "Dataset indexing"
**Dataset indexing**

Hello
How soon will Dataset indexing be continued?
Thanks

-----

Github user: @ANSozontov
User: [See in registry](https://www.gbif.org/api/feedback/user/35a715c1d5dbab148751ee5ce1f93f93:a8a8dd4f8e3caa350ae3891ca8b161b5fc3e9a57a35e3effb6492d8d7c3b19893bcab7a842d882a147840c66a05288146d82da381bd8a014f97010b7c1d26105)
System: Chrome 93.0.4577 / Windows 10.0.0
Referer: https://ww

[2021-09-16 11:37] ManonGros commented on #3592
Replied by email: if only the maps were used without any download this is a bit of a grey area.

GBIF Secretariat (2021). GBIF Backbone Taxonomy. Checklist dataset https://doi.org/10.15468/39omei accessed via GBIF.org on 2021-09-16.
Or GBIF.org.

[2021-09-16 11:37] #3592 closed, assigned to ManonGros

[2021-09-16 11:53] ManonGros commented on #3597
Hi @ANSozontov, we expect the dataset indexing to be paused until next week. We will be posting more information on the health page: https://www.gbif.org/health

[2021-09-16 12:40] ManonGros commented on #3585
You cannot download the map directly, however, you can download its underlying data and replot the map yourself in your software of choice. Our system is unable to generate downloads with free-text searchers, so you will have to use the “scientific name” field to select the genus you would like to see, for example: https://www.gbif.org/occurrence/map?has_coordinate=true&has_geospatial_issue=false&

[2021-09-16 12:40] #3585 closed, assigned to ManonGros

[2021-09-16 12:55] beach53 commented on #3595
Thank you Morton for sharing this information and pros and cons.  It is very helpful.

[2021-09-16 13:24] ManonGros commented on #3591
Hi @TannerMyers, you can log on GBIF.org and check your derived datasets here: https://www.gbif.org/derived-dataset, you should be able to see an "edit" button next to the title like in the example below:
<img width="818" alt="Screenshot 2021-09-16 at 15 19 53" src="https://user-images.githubusercontent.com/7677271/133619626-fd9247fb-5cc5-496a-a96e-2f8bdbad166e.png">

This will allow you to edit y

[2021-09-17 11:25] ManonGros commented on #3284
Fixed in the new backbone: https://www.gbif.org/species/8372273

[2021-09-17 11:25] #3284 closed, assigned to ahahn-gbif

[2021-09-17 11:27] ManonGros commented on #3369
solved in the new backbone

[2021-09-17 11:27] #3369 closed, assigned to nobody

[2021-09-17 11:28] ManonGros commented on #3413
Available in the new backbone: https://www.gbif.org/species/11180009

[2021-09-17 11:28] #3413 closed, assigned to nobody

[2021-09-17 11:29] ManonGros commented on #3438
Available in the new backbone: https://www.gbif.org/species/11211490

[2021-09-17 11:29] #3438 closed, assigned to jhnwllr

[2021-09-17 11:31] ManonGros commented on #3537
Solved in the new backbone.

[2021-09-17 11:31] #3537 closed, assigned to nobody

[2021-09-17 11:38] ManonGros commented on #2678
This seems fine now: https://www.gbif.org/species/4119351

[2021-09-17 11:38] #2678 closed

[2021-09-17 11:39] ManonGros commented on #2457
Solved in the new backbone taxonomy.

[2021-09-17 11:39] #2457 closed