[2021-09-17 11:49] ManonGros commented on #3478
fixed in the new backbone

[2021-09-17 11:49] #3478 closed, assigned to nobody

[2021-09-17 11:50] ManonGros commented on #3486
Solved in the new backbone: https://www.gbif.org/species/11264909

[2021-09-17 11:50] #3486 closed, assigned to nobody

[2021-09-17 11:51] ManonGros commented on #3491
Solved in the new backbone

[2021-09-17 11:51] #3491 closed, assigned to ManonGros

[2021-09-17 11:58] ManonGros commented on #3404
Now in the GBIF backbone: https://www.gbif.org/species/11166877

[2021-09-17 11:58] #3404 closed, assigned to nobody

[2021-09-17 12:15] ManonGros commented on #3304
It looks like this issue has been solved in the newest backbone.

[2021-09-17 12:15] #3304 closed, assigned to nobody

[2021-09-17 12:18] #3358 closed, assigned to nobody

[2021-09-17 12:38] ManonGros commented on #2304
the issue seem to be fixed in the new backbone

[2021-09-17 12:38] #2304 closed

[2021-09-17 12:39] #2417 closed

[2021-09-17 12:40] ManonGros commented on #2316
the issue is fixed in the new backbone taxonomy

[2021-09-17 12:40] #2316 closed

[2021-09-17 12:45] ManonGros commented on #2108
it seems to be the case in the new backbone

[2021-09-17 12:45] #2108 closed

[2021-09-17 13:13] MattBlissett commented on #3597
Hi @Ansozontov,

Indexing was resumed yesterday European-evening-time, and the queue of datasets was processed within an hour or two.  Everything is currently running normally.

[2021-09-17 13:13] #3597 closed, assigned to nobody

[2021-09-17 19:14] gbif-portal opened #3598 "Highlight geological context for fossils"
**Highlight geological context for fossils**

It would make sense to show the Geological context in the top of the page along with other key attributes.

But I have no idea how to do so in a condensed and still meaningful way. Listing 10 values in a format like we do further down the page is quite space consuming.

Would something like we do for taxonomy make sense?
`Phanerozoic > Cenozoic > Neoge

[2021-09-19 20:57] gbif-portal opened #3599 "Update data papers page"
**Update data papers page**

One of the GB28 videos approved is on data papers; I will refer to the GBIF.org page. It would be very nice to update IF, CiteScore, and prices

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/18ac9fa50731430c1e1106d8ad4102fd:c7de0aac445b6171d0a401ef200680b9817696dd905fcba696e52b739b8346cf1f9882c1f0bb34ca512bcfa5202cf6d51eaa

[2021-09-20 09:53] gbif-portal opened #3600 "person ID formatting"
**person ID formatting**

recordedById: `"identifiedByID": "https://www.wikidata.org/wiki/Q5407225, | https://www.wikidata.org/wiki/Q26714396"`

is using two seperators at the same time. `,` and `|`

Other records from the dataset is prefixing with a seperator. E.g. `"identifiedByID": "| https://www.wikidata.org/wiki/Q21338542"` in https://www.gbif.org/occurrence/2867560301

Related issues https:/

[2021-09-20 14:41] jlegind commented on #554
Strictly speaking we don't have a landing-page for licenses, but we do have an excellent blog post:
https://data-blog.gbif.org/post/gbif-occurrence-license-processing/

Plus a good news item:
https://www.gbif.org/news/82812/licensing-milestone-for-data-access-in-gbiforg

[2021-09-20 14:44] kcopas commented on #554
I expect we'll work with the new comms staffer in the coming months to translate, update and adapt [SiB Colombia's earlier work](https://sibcolombia.net/acceso-abierto/) in this area.

[2021-09-21 07:09] gbif-portal opened #3601 "How to delete my account permanently?"
**How to delete my account permanently?**

Hello there. Could you please delete the account 'imranaliphd' permanently with all associated information. Thank you.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0100f4b02dcb97cd8e6cb7e39b8c1373:7367252243071ba710f15abdddb3202c0048cea67327c43aa51fd9779ffc20ba7a1fb365a483d95817f6c774e8097d9c07a708c582a88caccb376a1c76941b2d)
Syst

[2021-09-21 08:23] ManonGros commented on #3601
The account has been deleted.

[2021-09-21 08:23] #3601 closed, assigned to ManonGros

[2021-09-21 11:37] akristensen commented on #3599
@dnoesgaard It was last updated in May 2021....think we forgot to change the top of the table, says 2019 right now. OK for me to change it to 2021?  I will check through the list now.

[2021-09-21 11:47] gbif-portal opened #3602 "Two Diptera orders"
**Two Diptera orders**

There are two different pages for this order Diptera:
- this one: https://www.gbif.org/species/811 coming from the CoL which has the taxonomic status "accepted" and only one family
- this one: https://www.gbif.org/species/11352458 coming from a patch with the taxonomic status "doubtful" and all the other families

I guess this issue could have been generated during the repl

[2021-09-21 11:47] dnoesgaard commented on #3599
I don't think we have updated the table with 2020 JIF and Citescore yet. These came out around June or so.

[2021-09-21 11:50] timrobertson100 commented on #3602
And all the occurrences are snapping to the Doubtful one.
We should probably be using the previous one with the lower ID

[2021-09-21 11:56] akristensen commented on #3599
thanks @dnoesgaard , I will have a go at updating it !

[2021-09-21 11:57] dnoesgaard commented on #3599
Actually, I've pulled the new Citescore numbers now. If you could focus on prices, that would be great.

[2021-09-21 12:26] dnoesgaard commented on #3599
Table has been updated with 202 JIF and Citescore values.

[2021-09-21 14:17] gbif-portal opened #3603 "translation missing (role.GB_INVITEE)"
**translation missing (role.GB_INVITEE)**

The translation for role.GB_INVITEE appears to be missing.

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/5a06451b2e103d12eb94c271986d10c5:487eb1cb916a640c2fd0d27165c670e72ba870eb0faba5d5f921fd7016336a87e186ae62f7b590a4ac167f8a710c3215f5399802944dd0e735aadce1496074e3)
System: Chrome 93.0.4577 / Mac OS X 10.

[2021-09-21 21:20] gbif-portal opened #3604 "i cant download data"
**i cant download data**

i need to download various species and i can´t because always display "Download is only supported for structured search - no for free text queries"

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/3ede211df4f176029cc29cc04cd52c17:1fd2d843767f36117aa208f45b716d9007bcdbb67f0dafbb59ab661ad295c1c35f4fc7c885f35b7c7625bbdb439b98ab3fa617cc0dba7d76f212eef5a9

[2021-09-22 04:46] MortenHofft commented on #3603
Probably a new role that we haven't added yet. What does it cover? Is it something we want in the interface?

[2021-09-22 06:00] dnoesgaard commented on #3603
Can you help, @anmnielsen? Is this something we want to show on the website?

[2021-09-22 08:10] ManonGros commented on #3604
The message you get on our web interface means that you will need to use one of our filters instead of the free-text search box in the upper right corner.

In general, I suggest to use the “Scientific name” filter to look for species names. This filter is tied to our backbone taxonomy.
However, it seems that our backbone taxonomy doesn’t include the name Mazama sanctaemartae. In cases where using

[2021-09-22 08:10] #3604 closed, assigned to ManonGros

[2021-09-22 08:36] ManonGros commented on #3567
Thanks!

[2021-09-22 08:36] #3567 closed, assigned to nobody

[2021-09-22 08:41] ahahn-gbif commented on #3566
The genus name comes from IRMNG (limited to genera). This seems to be a gap in our taxonomic resources: Species names in the family Japygidae (Hexapoda).

[2021-09-22 08:47] ahahn-gbif commented on #3360
appears to be fixed now - closing

[2021-09-22 08:47] #3360 closed, assigned to ahahn-gbif

[2021-09-22 08:49] ManonGros commented on #3279
Karenia brevis is now in the backbone https://www.gbif.org/species/5424511! Thanks to the integration of the UKSI checklist.

[2021-09-22 08:49] #3279 closed, assigned to nobody

[2021-09-22 09:06] ManonGros commented on #3221
The reference linked in the issue doesn't describe the species itself but mentions it.
I could find _Corbis decussata_ on Wikispecies https://species.wikimedia.org/wiki/Corbis, but the reference there doesn't mention _Corbis decussata_ specifically (only _Venus decussata_ but it says that Venus and Corbis are synonyms).

The record for _Fimbria decussata_ (Buvignier, 1852) (https://www.gbif.org/sp

[2021-09-22 09:10] ManonGros commented on #3110
Fixed in the new backbone

[2021-09-22 09:10] #3110 closed

[2021-09-22 09:28] ahahn-gbif commented on #3064
After the latest backbone refresh, _X. senior_ does show in the CoL checklist, based on ITIS (https://www.gbif.org/species/search?q=Xylocopa%20senior&dataset_key=7ddf754f-d193-4cc9-b351-99906754a03b&origin=SOURCE&advanced=1), but is not part of the backbone taxonomy. Could this be due to resource ranking in backbone processing?

[2021-09-22 09:48] MortenHofft commented on #3044
Searching GADM for [Kings](https://api.gbif.org/v1/geocode/gadm/search?limit=100&q=kings) will return Kings county in New York - I just need to have a large limit.

But larger limits isn't a really good solution, it won't always work and it leaves it to the user to shift through the results. And so we see users trying to limit the results, but currently it doesn't work.

**Include type in search**

[2021-09-22 10:50] gbif-portal opened #3605 "Looking for numbers on surveys"
**Looking for numbers on surveys**

I am trying to discover how many survey datasets GBIF has for different taxonomic groups. I have searched Datasets for numbers and country, but would like to add another search term - taxon (e.g, Tracheophyta).  Is there a way to do this?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e3156c6ef7a9c4ebc5298242e3d4e534:6557fe655ad281bea6e21

[2021-09-22 11:29] ManonGros commented on #1891
This is the case in the current backbone: https://www.gbif.org/species/3585188

[2021-09-22 11:29] #1891 closed

[2021-09-22 11:31] ManonGros commented on #1890
This is the case in the current backbone.

[2021-09-22 11:31] #1890 closed

[2021-09-22 12:32] ManonGros commented on #1924
this seems correct in the new backbone

[2021-09-22 12:32] #1924 closed

[2021-09-22 12:35] ManonGros commented on #1931
issue fixed in the current backbone

[2021-09-22 12:35] #1931 closed

[2021-09-22 12:38] ManonGros commented on #1953
the issue seems to be fixed in the latest backbone

[2021-09-22 12:38] #1953 closed

[2021-09-22 12:40] ManonGros commented on #1970
it seems like this issue is a bit outdated. I will close it, let me know if it should be reopened.

[2021-09-22 12:40] #1970 closed

[2021-09-22 12:45] peterdesmet commented on #1924
Indeed, see https://www.gbif.org/species/8745264

[2021-09-22 13:49] ManonGros commented on #1540
both Sabulina rosei and Papilio rumiko are in the new backbone (https://www.gbif.org/species/7450431 and https://www.gbif.org/species/10038125)

[2021-09-22 13:53] jlegind commented on #3217
After backbone update:
The download had no blank scientific_names with filter:rank==species
Download: https://www.gbif.org/occurrence/download/0006131-210914110416597
@RicardoOrtizG

[2021-09-22 13:53] #3217 closed

[2021-09-23 06:33] ManonGros commented on #2859
Solved in the current backbone.

[2021-09-23 06:33] #2859 closed

[2021-09-23 07:09] ManonGros commented on #3581
Duplicate of https://github.com/gbif/backbone-feedback/issues/372

[2021-09-23 07:09] #3581 closed, assigned to nobody

[2021-09-23 07:19] ManonGros commented on #3596
@mnhn-paul
For each new backbone update, a file is generated containing all the deleted taxa (for that update). See for example, the folder of the latest update: https://hosted-datasets.gbif.org/datasets/backbone/2021-09-14/

It isn't as convenient as an API endpoint but this could still be useful.

[2021-09-23 07:43] mnhn-paul commented on #3596
Thanks @ManonGros for this.
I think this will already be very helpful.

[2021-09-23 08:34] gbif-portal opened #3606 "My Name is Steven Carle. I'm M.Sc. (LUP) and specialise in Atlantic trout (Salmo trutta). Therefore, I can say with absolute certainty that this is not an Atlantic salmon (Salmo salar), but a sea trout (Salmo trutta trutta)."
**My Name is Steven Carle. I&#39;m M.Sc. (LUP) and specialise in Atlantic trout (Salmo trutta). Therefore, I can say with absolute certainty that this is not an Atlantic salmon (Salmo salar), but a sea trout (Salmo trutta trutta).**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f8481d61b9ea8d80dee36d157947becf:4b5d5066f7a6357df4ece850b5ec7f1d32f83dc629d2ef24d44c274ee5fe98f

[2021-09-23 08:57] mnhn-paul commented on #3596
@ManonGros I do have another question related to this:
In the logic of the backbone is there the possibility of a taxon being "undeleted" or "reactivated".
If this would be the case this is something that we would need to take into account in our checks against Wikidata.

thanks

[2021-09-23 09:00] ManonGros commented on #3606
I added a comment on iNaturalist but the identification remains research-grade at the moment.

[2021-09-23 09:01] ManonGros commented on #3596
This is a good question. I don't think so but I am not sure.
@mdoering once a taxon is deleted from the backbone, can it ever be restored?

[2021-09-23 12:06] gbif-portal opened #3607 "duplicate record"
**duplicate record**

The record of Euura tibialis (https://www.gbif.org/species/9453130) is the currently valid name of Nematus tibialis, as by the results of Prous et al. 2014 (Prous M, Blank SM, Goulet H, Heibo E, Liston A, Malm T, Nyman T, Schmidt S, Smith DR, Vårdal H, Viitasaari M, Vikberg V, Taeger A (2014) The genera of Nematinae (Hymenoptera, Tenthredinidae). Journal of Hymenoptera Resear

[2021-09-23 13:03] gbif-portal opened #3608 "Hello gbif"
**Hello gbif**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0b81cbbfd78a31dfa7da4e4054c98066:4ff975123d0463e9f41a95af9e86f3afc3bfd743ae6e81e06e8b55d97f96e983bfe6bc8d99a988f6cb12abb16126c36aa6dfc47c47c2fdc36f018aa513ed26f7)
System: Chrome 93.0.4577 / Windows 10.0.0
Referer: https://www.gbif.org/health
Window size: width 1680 - height 882
[API log](https://private-logs.gbif

[2021-09-23 13:05] gbif-portal opened #3609 "Cannot download more than 1 GB"
**Cannot download more than 1 GB**

Hello GBIF, I wanted to download a 2 GB file as seen here: GBIF.org (23 September 2021) GBIF Occurrence Download  https://doi.org/10.15468/dl.37ztdg.

However, the file I got offered is at a very suspicious 1 GB in total, is this because I was not offered the entire dataset? Is there someway to get a download for the 2 GB file? I wanted to download all 12 millio

[2021-09-23 14:02] gbif-portal opened #3610 "20,000 "absent" preserved specimens"
**20,000 &quot;absent&quot; preserved specimens**

This is a bit odd as I would assume that a preserved specimen is always present. It seems like this could have been a misunderstanding or some default values left.

(Also it is a bit funny to see flags like "Occurrence status inferred from individual count" for preserved specimens).

-----

Github user: @ManonGros
User: [See in registry](https://w

[2021-09-23 14:52] gbif-portal opened #3611 "Make key visuals easy to grab for ppts"
**Make key visuals easy to grab for ppts**

Some of the GBIF.org images can be easily captured as PNGs which make it excellent for PPT preparation for the presenting staff at GBIF S, Nodes, committees and Ambassadors. Other visuals don't have this function, so one needs to mess with screen captures etc. How difficult is to add this PNG / SVG functions to key visuals that often end up at the GBIF s

[2021-09-24 07:04] ManonGros commented on #3609
The file downloaded seems to contain the correct number of lines. Perhaps the size estimate was just incorrect. Could that be?

[2021-09-24 07:04] MortenHofft commented on #3609
I'm guessing this has to do with the estimate provided here
https://www.gbif.org/occurrence/download?country=DK&taxon_key=6
that says 2gb.

[2021-09-24 07:06] MortenHofft commented on #3609
@ManonGros we commented same time it seems. Yes that is most likely the case. Those estimates are hard to do. The size depends on the content and not just number of rows. We just do the estimate based on the row count. That isn't to say we couldn't do better.

[2021-09-24 07:07] MortenHofft commented on #3608
Closing as error. The user left feedback in another issue

[2021-09-24 07:07] #3608 closed, assigned to nobody

[2021-09-24 08:36] ManonGros commented on #3609
Thanks @MortenHofft ! I will let the user know by email. -> Done!

[2021-09-24 09:19] ManonGros commented on #3607
Those names come from different checklists. Perhaps we could ask the [National checklist of all species occurring in Denmark](https://www.gbif.org/dataset/4b3e4a71-704a-485c-917c-20a89944ea37) if they would consider adding Nematus tibialis as synonym.

It doesn't seem like there is any data in the CoL: https://www.catalogueoflife.org/data/taxon/5YHC

[2021-09-24 09:32] #3589 closed, assigned to nobody

[2021-09-24 09:35] ManonGros commented on #3583
This seems to be now the case in the newest backbone.

[2021-09-24 09:35] #3583 closed, assigned to nobody

[2021-09-24 09:46] #3402 closed, assigned to ManonGros

[2021-09-24 10:23] jeroencreuwels opened #3612 "Images with invalid URI, follow up on #3554"
Hi,
As a follow up on https://github.com/gbif/portal-feedback/issues/3554, I see that still not all multimedia is shown. In the dataset https://www.gbif.org/dataset/45a43bcf-e3bd-44a0-9c66-72d9c8e4f111. There are 590 records in the multimedia file and only 437 pictures are shown. This corresponds with the 152 invalid URI's, which have been flagged as such. Most of these records had errors such as

[2021-09-24 10:25] jeroencreuwels opened #3613 "Invalid MultimediaURI, follow up on issue 3554"
Hi,
As a follow up on https://github.com/gbif/portal-feedback/issues/3554, I see that still not all multimedia is shown. In the dataset https://www.gbif.org/dataset/45a43bcf-e3bd-44a0-9c66-72d9c8e4f111. There are 590 records in the multimedia file and only 437 pictures are shown. This corresponds with the 152 invalid URI's, which have been flagged as such. Most of these records had errors such as

[2021-09-24 13:24] cboelling opened #3614 "Make URLs on occurrence / cluster pages clickable"
Make URLs occurring on occurrence or cluster pages e.g., https://www.gbif.org/occurrence/865079977/cluster, clickable. This would greatly facilitate navigation to the referenced resources.

[2021-09-24 13:29] EstebanMH-SiB opened #3615 "What is the correct way of document the element footprintWKT?"
We have a couple of datasets that use this element for transects or plots, however we always get he flag of **Footprint WKT invalid**, we are following the example of TDWG: POLYGON ((longitude1 latitude1, longitude2 latitude2, longitude3 latitude3)) and I have tried some variations like first using latitude, but still got the same flag.

Here is an example of a record with this field documented ht

[2021-09-24 21:33] mdoering commented on #3596
The API does not allow you to search for deleted taxa, but that might be sth we could add if it is really useful.
We only keep deleted taxa for the backbone, taxa for other datasets are fully removed.

And yes, we can restore once deleted backbone taxa. That is what we call "resurrected" names in the logs:
https://hosted-datasets.gbif.org/datasets/backbone/2021-09-14/

[2021-09-27 06:25] MortenHofft commented on #3614
The occurrences are linked (marked in blue) - but not the url in values (marked in red). Currently the values is a fairly raw dump of the data, but we could change that to at least including url linking

![Screenshot 2021-09-27 at 08 23 45](https://user-images.githubusercontent.com/6759267/134855066-a2f2ca59-dc0f-4302-ab9c-fd8ae890b79d.png)

[2021-09-27 06:44] MortenHofft commented on #3615
I haven't checked the polygon, but sounds likely to be due to https://github.com/gbif/pipelines/issues/509

[2021-09-27 06:46] MortenHofft commented on #3615
Oh, the polygon isn't closed I see. Start and end coordinates differ. That isn't legal.

[2021-09-27 06:46] #3615 closed, assigned to nobody

[2021-09-27 06:50] MortenHofft commented on #3615
You probably need to change

invalid open `POLYGON ((-75.6974717 4.3252667, -75.697555 4.32554, -75.6976442 4.32585, -75.6974939 4.3257772))`
to
legal closed `POLYGON ((-75.6974717 4.3252667, -75.697555 4.32554, -75.6976442 4.32585, -75.6974939 4.3257772, -75.6974717 4.3252667))`

[2021-09-27 09:00] gbif-portal opened #3616 "Occurrences of Lucanid beetle have localities in the Philippines but the country is Japan"
**Occurrences of Lucanid beetle have localities in the Philippines but the country is Japan**

This is am issue originally reported on Helpdesk.
The occurrences linked below show the country "Japan" but when looking at the details, the locality is actually in the Philippines. All these occurrences are from the same publisher:
https://www.gbif.org/occurrence/search?country=JP&taxon_key=7531361

---

[2021-09-27 09:04] langeveldNMR commented on #3068
Thanks for suggesting GeoBoundaries. For The Netherlands this dataset is fine and represents current subdivisions.

[2021-09-27 09:28] ManonGros commented on #3616
Publisher contacted by email.

[2021-09-27 10:52] akristensen commented on #3599
Done, however can't find the price for Global Ecology and Biogeography (GEB is not to be found in the excel price list): https://authorservices.wiley.com/author-resources/Journal-Authors/open-access/article-publication-charges.html

[2021-09-27 13:14] AbbyBenson commented on #3615
Just wanted to check that you need the start and end dates to be the same for POLYGON specifically. If you use LINESTRING you do not have to, right? Because it should work for transects as well I believe.

[2021-09-28 11:53] MortenHofft commented on #3615
yes linestrings are not closed. The examples in the wiki article are fairly clear I think
https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry
also highlights that the winding is important (spoiler - it needs to be counter clockwise)

[2021-09-28 15:45] gbif-portal opened #3617 "Problem with GBIF backbone taxonomy data"
**Problem with GBIF backbone taxonomy data**

Hello,
I wanted to import GBIF backbone taxonomy from https://hosted-datasets.gbif.org/datasets/backbone/
I downloaded “backbone-current-simple.txt.gz” file. I was able to import it, but I didn’t find details about the meaning of each column.
For example, I thought that  column  “u.id” was a unique key for each taxon. And “u.parent_fk”  indicated the “

[2021-09-28 15:48] gbif-portal opened #3618 "problem importing GBIF backbone taxonomy data"
**problem importing GBIF backbone taxonomy data**

Hello,
I wanted to import GBIF backbone taxonomy from https://hosted-datasets.gbif.org/datasets/backbone/
I downloaded “backbone-current-simple.txt.gz” file. I was able to import it, but I didn’t find details about the meaning of each column.
For example, I thought that  column  “u.id” was a unique key for each taxon. And “u.parent_fk”  indicated

[2021-09-28 17:00] jeroencreuwels commented on #3612
This issue can be closed, it took some time before the changes were visible

[2021-09-28 17:00] #3612 closed, assigned to nobody

[2021-09-28 17:00] jeroencreuwels commented on #3613
This issue can be closed, it took some time before the changes were visible

[2021-09-28 17:00] #3613 closed, assigned to nobody

[2021-09-28 19:00] gbif-portal opened #3619 "email in account profile reverts to original"
**email in account profile reverts to original**

I've tried changing my email for my account several times. I use the edit toggle and change the email field, then save changes. Then if I go back to my account, it shows my original email still. There seems to be a glitch where it will not change my email.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1e7fa72c2796dfc12e7cac

[2021-09-28 20:14] MortenHofft commented on #3619
It sounds to me like it works, but the user hasn't seen the email. Which makes sense since the UI doesn't inform the user. I've updated the message to tell users to check their email

[2021-09-28 20:17] #3619 closed, assigned to nobody

[2021-09-29 08:11] ManonGros commented on #2964
I contacted the user to ask for help understanding the issue.

[2021-09-29 08:37] ahahn-gbif commented on #3593
This entry (https://www.gbif.org/species/11018350) is derived from the World Checklist of Vascular Plants (WCVP), as a "homotypic synonym" of Cachrys microcarpos M.Bieb.

CoL: https://www.catalogueoflife.org/data/taxon/68JHS is also represented: https://www.gbif.org/species/3629553. All known occurrences are attached to this name

[2021-09-29 08:52] ManonGros commented on #3593
Need to contact Kew to inform them that the spelling in the source they cite is microcarpa

[2021-09-29 09:06] ahahn-gbif commented on #3064
@mdoering: I don't think we can do anything about this from here. I am assigning it to you, but feel free to ping us if there is anything needed in terms of communication

[2021-09-29 09:17] gbif-portal opened #3620 "The dataset of the publisher iNaturalist.org are not in the download included if your filter includes a specific continent."
**The dataset of the publisher iNaturalist.org are not in the download included if your filter includes a specific continent.**

When you first filter for a specific continent then the dataset doesn't contain the data from the publisher iNaturalist.org

Even if you only filter on the website you can see if you filter for the publisher iNaturalist.org that if you add a specific continent you get ze

[2021-09-29 09:21] ahahn-gbif commented on #3582
Contacted via email from helpdesk.

Possibly based on a misunderstanding, caused by the display of information on the gbif species page: the taxon  is shown as "accepted" at the top of the page, above the name. The source of this information is the World Plants database via the Catalogue of Life (CoL) (https://www.worldplants.de/world-plants-complete-list/complete-plant-list/?name=Selaginella-sala

[2021-09-29 09:31] ManonGros commented on #3593
Contacted Kew by email.

[2021-09-29 09:44] ahahn-gbif commented on #3607
According to the feedback, _Euura tibialis_ is the current accepted name for _Nematus tibialis_. _Euura tibialis_ is the name as represented in the "National checklist of all species occurring in Denmark"; the other name we derive from a different source (the Taxon list of Hymenoptera from Germany compiled in the context of the GBOL project).

The comment suggests that both entries should be synon

[2021-09-29 09:57] OtoGodfrey commented on #3576
I figured out how to do individual birds, but the problem is the data
processing is cumbersome, lots of clicking and then it's down to individual
birds.

I have no way of seeing data where Storks / birds from Latvia migrate to.
Maybe there's a preference for birds from Latvia to fly to a specific
region in Africa, but I have no ability to aggregate such information.

Best,
Oto

On Mon, Sep 6, 2021

[2021-09-29 12:00] DanBIF commented on #3607
@ahahn-gbif @ManonGros Hi, We already have _Nematus tibialis_ as synonym, see https://www.gbif.org/species/168553303 (and https://arter.dk/taxa/taxon/details/55558cf8-f785-ea11-aa77-501ac539d1ea at our portal), so I'm not sure if there is more we can do on our side?

[2021-09-29 15:51] gbif-portal opened #3621 "How to open MVHF file"
**How to open MVHF file**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9a0024a371d7e1304a2726e2960c8515:bf93f46df8902f01a383a5e87e7526f9600c43db41b7113530a150c48398bdf8fdf0b94353593604ede17f3d48728fa4c328a153a286632de7d042c302c88b50)
System: Chrome 94.0.4606 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/download/0011390-210914110416597
Window size: width 1366

[2021-09-30 01:27] gbif-portal opened #3622 "Missing Locality field in Canterbury Museum Mayfly Collection"
**Missing Locality field in Canterbury Museum Mayfly Collection**

Hello,

GBIF has just published the an ALA dataset uploaded by me for the Canterbury Museum Mayfly Collection https://doi.org/10.15468/5ksxu8.

This is great and super happy to see it on GBIF, thank you so much. I have noticed the dwc:Locality field has not been mapped across from the ALA records. Could this be dwc:Locality be adde

[2021-09-30 08:30] jlegind commented on #3622
Dear Johno,

The raw harvested record shows "locality": null, https://api.gbif.org/v1/occurrence/3359072550/fragment
I suggest that you map the dwc:locality concept to the locality field in the source data.

[2021-09-30 08:48] margorski opened #3623 "Fetching all species (with some conditions) from GBIF API"
Hello,
I need a piece of advice before we will start to use your API. I want to understand if our approach is right/best.

We would like to use the GBIF taxonomic data as a fundament for an application we are developing. Data needs to be prefetched from your database and put in our database filtered out from unnecessary records. We are interested in species data.

1. All species records in the GBI

[2021-09-30 09:06] ManonGros commented on #3623
Hi @margorski

It seems like the pygbif.name_lookup function uses the Species search API function which queries all checklists available on GBIF. If you would like to query the Backbone only, you either have to specify it in the parameters or use the Species Match function instead (for example: https://api.gbif.org/v1/species/match?verbose=true&name=Betula%20pubescens%20cezerepanovii).
The followi

[2021-09-30 09:24] margorski commented on #3623
Thank you, that is really valuable. I didn't know that it is possible to download whole backbone. This is perfect solution!

[2021-09-30 09:25] ManonGros commented on #3607
Thanks @DanBIF ! I don't think there is anything else that can be done on your side.

This is really odd, if the synonym is in the source checklist, why isn't in included in the backbone then?

[2021-09-30 10:26] margorski commented on #3623
What does that exactly means? API would block my next requests?

[2021-09-30 10:29] mdoering commented on #3623
Yes, we block deep paging at some point as it is very ineffective and costly for our infrastructure.

[2021-09-30 11:05] gbif-portal opened #3624 "I am responsible for the "National checklist of all species occurring in Denmark". For some taxa on GBIF this checklist is given as the source, ie. Euura flavescens (Stephens, 1835). I would be very happy if I could download a complete list of taxa on GBIF with the checklist as source."
**I am responsible for the &quot;National checklist of all species occurring in Denmark&quot;. For some taxa on GBIF this checklist is given as the source, ie. Euura flavescens (Stephens, 1835). I would be very happy if I could download a complete list of taxa on GBIF with the checklist as source.**

-----

Github user: @LarsSkipper
User: [See in registry](https://www.gbif.org/api/feedback/user/0c

[2021-09-30 11:25] gbif-portal opened #3625 "Full taxon name and full authorship as separate coloumns in download"
**Full taxon name and full authorship as separate coloumns in download**

I would like to make a comparison between GBIF and the "National checklist of all species occurring in Denmark" regarding taxon names, author names and classification.

I am very happy with the "species matching" tool on GBIF, but I miss coloumns with the the full taxon name and the full authorship separated, ie. "Anser albi

[2021-09-30 11:45] gbif-portal opened #3626 "Certain "letters" not interpretated correctly in species matching"
**Certain &quot;letters&quot; not interpretated correctly in species matching**

When I upload a taxon list via the "Species matching" tool and download the mapped list, taxa including diaeresis (ie. ë in Elsinoë) or the special diminished "×" in hybrid names, don't show up correctly (in UTF-8). Instead an icon with a question mark is shown, ie. Elsino�.

-----

Github user: @LarsSkipper
User: [Se

[2021-09-30 12:09] ManonGros commented on #3625
Hi @LarsSkipper,

You could try using the name-parser tool (https://www.gbif.org/tools/name-parser), to parse the scientific names generated by the species matching tool. This tool can separate canonical names from scientific name authorship.

[2021-09-30 13:02] ManonGros commented on #3576
Hi @OtoGodfrey, note that you can always download the data selected by clicking on the DOWNLOAD tab and choosing a download format or by using our API. Once downloaded, you can analyse the data with your favourite tool. You don't necessarily need to click around.

This blogpost summarises what to keep in mind when analysing data downloaded from GBIF, perhaps this will be helpful: https://data-blog

[2021-09-30 14:06] LarsSkipper commented on #3625
Thanks for a quick answer.

I have tried using the name-parser tool. It includes the "canonicalNameWithMarker" which is good for the full scientific name. The coloumns "bracketAuthorship" and "authorship" can be concatenated, but the year of authorship is missing out.

[2021-09-30 15:06] gbif-portal opened #3627 "iBOL updates behind"
**iBOL updates behind**

We discussed this yesterday in the evening that iBOL representation in GBIF is API based and dynamic. A quick check for stats for Arthropoda only https://www.boldsystems.org/index.php/Public_SearchTerms -> Arthropoda shows higher numbers of 7.8M than all public non-BIN records at GBIF https://www.gbif.org/dataset/040c5662-da76-4782-a48e-cdea1892d14c with 7.2M. Are we in sy

[2021-09-30 15:10] dschigel commented on #3627
Also I found the reason of my initial confusion about the dynamic links: the dates at the dataset page show registration and latest metadata updates, but of the content is growing through an API, would not we like to show the date of the recent indexing event? I might be looking in the wrong place, too

[2021-10-01 07:08] ManonGros commented on #3624
You can download the backbone here: https://download.catalogueoflife.org/col/latest_dwca.zip
then run the following command line"
`grep 4b3e4a71-704a-485c-917c-20a89944ea37 Taxon.tsv > taxa_with_source_4b3e4a71-704a-485c-917c-20a89944ea37.txt`

This will give you the following file:
[taxa_with_source_4b3e4a71-704a-485c-917c-20a89944ea37.txt](https://github.com/gbif/portal-feedback/files/7264878/ta

[2021-10-01 07:08] #3624 closed, assigned to nobody

[2021-10-01 10:48] gbif-portal opened #3628 "How to exclude a publisher from the occurrence data?"
**How to exclude a publisher from the occurrence data?**

On teh occurrences dataset, I would like to exclude eBird dta and get everything else. How do I do this?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d808f16d0ea99b119b4698b092b81d52:7194e257c8729e0830c92370c460255682a6427a735a94b3777f90d34a36f70f434831d5819ba1cf7561ecc87f88b013799da169c9d60f3bc7e9fef7ba41010c)
Sys

[2021-10-01 11:59] ManonGros commented on #3628
Currently, the only way to use exclude records with specific characteristics (based on publisher, datasets, etc.) is to use the [occurrence download API](https://www.gbif.org/developer/occurrence#download).

If you are not familiar with using REST APIs, I suggest to take a look at these two blogposts:
* https://data-blog.gbif.org/post/gbif-api-beginners-guide/
* https://data-blog.gbif.org/post/dow

[2021-10-01 11:59] #3628 closed, assigned to ManonGros

[2021-10-01 12:56] ManonGros commented on #3621
Our downloads are available in tab-separated CSV format. You can access the files by clicking on the green “download” button on the download page.
If you need to know more about this format and how to open it in excel, I suggest to check out the two FAQs:
https://www.gbif.org/faq?question=csv-download
https://www.gbif.org/faq?question=opening-gbif-csv-in-excel

We don’t have any MVHF file. I can s

[2021-10-01 12:56] #3621 closed, assigned to ManonGros

[2021-10-01 13:02] ahahn-gbif commented on #3582
Reopening: this issue is caused by an implausible text string addition to the literature reference cited underneath the name, reading "Valdespino. In: Brittonia 45(4): 319 (1993), nom. illeg., non Cordem. (1890)." instead of "Valdespino. In: Brittonia 45(4): 319 (1993)". The issue seems to originate from the [World Plants](https://www.worldplants.de/world-plants-complete-list/complete-plant-list/?

[2021-10-01 13:12] gbif-portal opened #3629 "Anolis pseudopachypus has no infraspecies"
**Anolis pseudopachypus has no infraspecies**

The infraspecies shown is a misinterpretation of the author names for the species binomen. The original paper didn't establish any infraspecies. See  https://doi.org/10.1655/0018-0831(2007)63[375:FNSOAG]2.0.CO;2

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7ca88a100dbd149b99c5ebe842e46f0b:37ca3cea5f4ab2849dfc541ea0b430e9c3903

[2021-10-01 14:15] ManonGros commented on #2964
Reply:

There are also quite a few different interpretations (in different flora's/countries) of what are species and what are subspecies etc.

What my point mainly comes down to is that Festuca arenaria Osbeck and Festuca rubra L. are considered as separate species in the Netherlands, with Festuca juncifolia Chaub as a synonym of F. arenaria Osbeck. In GBIF, these are all considered synonyms of F

[2021-10-01 18:00] gbif-portal opened #3630 "Agama annectans has no subspecies with the name "error""
**Agama annectans has no subspecies with the name &quot;error&quot;**

The IUCN record states that the form "annectans" in Blanford's original publication is a orthographic error.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/ae24f50c0c4fd4a7c1246c8cc2bc85fb:7ffa541f8977a6293555a4d161cffc8b16bf04228d4da655e7f850d66d1cc5d7784f7acace311b14422051c60059b99bfee38b8a27f6aae1ce87

[2021-10-02 00:00] TannerMyers commented on #3590
I attempted following the advice provided here: https://data-blog.gbif.org/post/derived-datasets/ to update my derived dataset. However, after adding number of occurrences per dataset, it isn't showing up on my dataset, which still claims to include 0 datasets. To avoid having to add information for 47 datasets, is there a way to add those to an already initiated dataset or should I create a new e

[2021-10-04 10:57] gbif-portal opened #3631 "Names seem ok but are flagged as partially parsed"
**Names seem ok but are flagged as partially parsed**

157 names from the "National checklist of all species occurring in Denmark" are tagged with "Name partially parsed".

Using the name parse tool, most of these seem to be parsed with no problem, though.

For instance Trichocerca scipio (Gosse, 1886) and Trichocerca rousseleti (Voigt, 1902) seemingly both parse correctly, but whereas the latter

[2021-10-04 12:41] MortenHofft commented on #3620
duplicate of https://github.com/gbif/portal-feedback/issues/3580

[2021-10-04 12:43] MortenHofft commented on #3617
duplicate of https://github.com/gbif/portal-feedback/issues/3618

[2021-10-04 13:13] MortenHofft commented on #3626
Thank you for reporting it
As far as I can see the file is already encoded as utf8 and shows fine on my computer.  Unless I open it in Excel. In Excel I have to import it as text and tell it what the encoding is.

But I am on a mac and you are on a Windows machine it seems.

What editor are you using? And could you possibly send the file?

[2021-10-04 13:34] gbif-portal opened #3632 "Page tags displaying with fully qualified names (enums.cms.vocabularyTerms.*)"
**Page tags displaying with fully qualified names (enums.cms.vocabularyTerms.*)**

See e.g. the tag section at the foot of https://www.gbif.org/news/3jpFT9gysj9zwcupx1gOKU/cross-infrastructure-collaboration-with-ena-improves-processing-quality-of-dna-derived-occurrences where "enums.cms.vocabularyTerms.topics.INFRASTRUCTURE" and "enums.cms.vocabularyTerms.topics.DNA" are included in the list

----

[2021-10-04 13:39] ManonGros commented on #3631
Hi @LarsSkipper
This flag is used to signal when the name interpreted/parsed by GBIF is different than the original name provided. This can happen for a number of reasons. In the case of Trichocerca scipio (Gosse, 1886), the interpreted name is only `Trichocerca scipio` because the original name is missing a parenthesis:
<img width="1330" alt="Screenshot 2021-10-04 at 15 30 52" src="https://user-i

[2021-10-04 13:51] mdoering commented on #3625
The authorship only is unfortunately missing from the species match response, so you gotta lookup the taxon by its key to yield it: https://api.gbif.org/v1/species/6178325 or do a name parsing.

The COL name parser does expose the parsed name slightly differently (using the same underlying parser library) which includes the full authorship: https://api.catalogueoflife.org/parser/name?name=Anser%20

[2021-10-04 14:17] #3625 closed, assigned to thomasstjerne

[2021-10-04 15:49] gbif-portal opened #3633 "Broken link under Publish datasets"
**Broken link under Publish datasets**

The first example link is broken under the "Publish datasets" section.

-----

Github user: @albenson-usgs
User: [See in registry](https://www.gbif.org/api/feedback/user/4ddaf53b0c8ee4a5fb7af117492bbbc8:412872da9c4566cf0c9817c02ce77f9753b08c198bb6beaade292ad97fc0f1b5564060caeb03d5c71a73333de10bed01e1b9609a9fbc21ca60e4600a5e4d53a4)
System: Chrome 93.0.4577 /

[2021-10-04 16:26] MattBlissett commented on #3633
Thanks, this is now fixed.

[2021-10-04 16:26] #3633 closed, assigned to nobody

[2021-10-04 22:57] gbif-portal opened #3634 "Correct name is Samia canningii (Hutton, 1859)"
**Correct name is Samia canningii (Hutton, 1859)**

This taxon has sometimes been treated as a subspecies of Samia cynthia (Drury, 1773), which probably explains the error.

A case was made for conservation of Hutton's name, which was unneeded, but has bibliographic details. See:
Richard S. Peigler, Reeta Luikham "Case 3638
Saturnia canningi Hutton, 1859 (currently Samia canningi; Insecta, Lepidop

[2021-10-05 07:15] jlegind commented on #485
Seems to have been fixed:
https://www.gbif.org/occurrence/1563155655

Image text:

Record licence All rights reserved; for terms and conditions see http://www.africanplants.senckenberg.de/root/index.php?page_id=84
Identifier http://www.westaf...0_7587_13a4f7.jpg

One final note on the image text - 'licence' is spelled wrong. It is 'license'.

[2021-10-05 07:15] #485 closed

[2021-10-05 07:29] #3632 closed, assigned to nobody

[2021-10-05 07:31] MortenHofft commented on #3632
Thank you - I've added the missing terms so that they can be translated

[2021-10-05 09:49] WilliamAvery commented on #3634
I missed the inconsistency in spelling of the epithet canningi or canningii. I suspect the workers laying a case before ICZN checked things pretty thoroughly.

[2021-10-05 10:39] marcoschmidtffm commented on #485
Thank you! Good to know that it works now. I believe the "licence" comes from the wrapper or GBIF-DE, but it seems to be the correct spelling on this side of the Atlantic.

Best wishes,
Marco

[2021-10-05 10:50] MattBlissett commented on #485
We (of course!) would accept either spelling, but in our own material we use the noun _licence_ as we follow "UN English" spelling.

https://www.un.org/dgacm/en/content/editorial-manual/spelling#l

[2021-10-05 13:06] gbif-portal opened #3635 "Page typo"
**Page typo**

"Ian Ondo of RGB Kew" should be "Ian Ondo of RBG Kew"

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e90ac57496934e80413dae46c2277bda:bd11a66030be139d95fab50d4a79a2cd6c6de6e3916760918a1d50adf3853af0098c933f64e87123ccf847999912e1c4cae35d856f870a94c7204733a378d16d)
System: Firefox 78.0.0 / Windows 10.0.0
Referer: https://www.gbif.org/news/QWLleXqOFkDOGR4Oxaj94/

[2021-10-05 13:23] MattBlissett commented on #3635
Thanks, it's fixed.

[2021-10-05 13:23] #3635 closed, assigned to nobody

[2021-10-06 08:32] ManonGros commented on #3618
Replied by email

The backbone taxonomy is generated semi-automatically and can contain some errors and discrepancies. So the backbone actually contains taxa with no parent, for example [this genus](https://www.gbif.org/species/1000041). This isn’t ideal and we try to improve that with each version. We appreciate any feedback message to help us improve the backbone.
If you would like to know more

[2021-10-06 08:32] #3618 closed, assigned to ManonGros

[2021-10-06 19:19] gbif-portal opened #3636 "About WKT data from a data provider"
**About WKT data from a data provider**

If a data provider supplies WKT shape data for a given occurrence would GBIF use this information (as in, for the display)? Or would it be only available for download if someone grabs that dataset?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/5f0b1ac86a89eaff44521792890c378a:ef7d2486075051eba8a55b1d458caaeeb4742ea06d3de7c67554bf111

[2021-10-06 20:35] AbbyBenson opened #3637 "Data access metrics for hosted portals"
The BISON system had [APIs for data access statistics](https://bison.usgs.gov/#dataProvStatsAPI) which included search, download, and WMS stats. Data providers found these statistics useful for their reporting needs and would like to be able to report on these statistics for their datasets through the gbif.us portal separately from gbif.org. I don't think this is possible currently but want to rai

[2021-10-07 10:22] MortenHofft commented on #3636
It will show as a dot in search
https://www.gbif.org/occurrence/map?occurrence_id=a01b3f51-4b0b-11e9-b8e8-005056be20a7&advanced=1

it will show as a polygon/line on the individual occurrence page
https://www.gbif.org/occurrence/2575350796

It will be included in DwcA downloads but not in simple downloads.

[2021-10-07 10:28] #3636 closed, assigned to nobody

[2021-10-07 10:33] MortenHofft commented on #3637
Related issue https://github.com/gbif/portal16/issues/138

[2021-10-07 23:23] gbif-portal opened #3638 "A dataset created for OBIS is registered with GBIF with a wrong DOI. The dataset is: https://www.gbif.org/dataset/d80c46be-b600-44d5-9758-ef5159d40002. In this dataset, I'd like the DOI to be changed to 10.21966/7cmt-ca72 to reflect the DOI in the OBIS dataset."
**A dataset created for OBIS is registered with GBIF with a wrong DOI. The dataset is: `https://www.gbif.org/dataset/d80c46be-b600-44d5-9758-ef5159d40002.` In this dataset, I&#39;d like the DOI to be changed to 10.21966/7cmt-ca72 to reflect the DOI in the OBIS dataset.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/ee5bf0a64c670eb477698a046f573b3c:8935ec02848e9f9608c046a9

[2021-10-07 23:25] timvdstap commented on #3638
Sorry - didn't realize it would appear this clunky as a GitHub issue. Please let me know if it's possible to change the DOI or, if this is not possible, how I should best go about this. Thanks!

[2021-10-08 07:14] MortenHofft commented on #3638
No worries. If you link your Github account to your [GBIF profile](https://www.gbif.org/user/profile) then we will automatically tag you in the issue so you can easier keep track of any development. It isn't a requirement of course.

[2021-10-08 07:59] jlegind commented on #189
I do not think the ABCD geological concepts fit DwC well.
There are still ~%80 of the DwC geological context terms that are stated to have no ABCD  equivalence.
For instance : https://dwc.tdwg.org/list/#dwc_latestEraOrHighestErathem

This raw fragment from "MfN - Fossil invertebrates Ia" dataset of Museum für Naturkunde Berlin shows many geological terms which are not picked up due to the above is

[2021-10-08 08:01] jlegind commented on #189
Since there isn't much push for this aspect of collection data, perhaps it is best to leave the issue be.

[2021-10-08 11:25] gbif-portal opened #3639 "I do not believe that Gasteria minima Poelln. exists"
**I do not believe that Gasteria minima Poelln. exists**

Good day, I have spent a fair duration examining the systematics of the genus Gasteria, which is strictly a southern African genus. and I have never come across this species (Gasteria minima Poelln.) which is their 1 record in Asia. There is a recent paper titled "Gasteria ASPHODELACEAE" by E. Van Jaarsveld (who has evaluated the genus mult

[2021-10-08 12:33] gbif-portal opened #3640 "Missing records in download index used for Bionomia"
**Missing records in download index used for Bionomia**

Am not sure how/why am now often seeing very large numbers of records
in some datasets present via the front-end but missing almost entirely
in the Bionomia-type download.

Here's the latest Bionomia download: https://doi.org/10.15468/dl.mpnykj

For example, https://www.gbif.org/dataset/cd096ec0-a8a0-4c65-92cc-48b00fb934ce
is evidently intac

[2021-10-08 12:53] muttcg commented on #3640
Extra info here https://github.com/gbif/pipelines/issues/595

[2021-10-08 13:23] dshorthouse commented on #3640
There's evidently a swirl of issues here. So here's some basic sleuthing.

https://www.gbif.org/dataset/dce8feb0-6c89-11de-8225-b8a03c50a862 has evidently changed all their `occurrenceID` for no apparent reason. For example, https://www.gbif.org/occurrence/3365075056 used to be https://www.gbif.org/occurrence/2446180521 (now a 404). The former had an `occurrenceID` 39091434-5562-480b-b3cd-53fbfa39

[2021-10-09 19:34] bhanberry opened #3642 "continent issue"
Hello,

Is it possible to automatically fill out the continent field based on the country field? Only about 15% of occurrences in GBIF have the continent field filled out, and so it is misleading/not useful as a filter.

Thanks! Brice

[2021-10-10 18:58] sginzbar opened #3643 "Euphrasia minima Jacq. ex DC. is listed both as a synonym and as accepted"
Euphrasia minima Jacq. ex DC. is listed both as a synonym and as accepted.

[2021-10-10 20:11] sginzbar opened #3644 ""subsp. alternifolium" repeated twice in the name Asplenium ×alternifolium subsp. alternifolium subsp. alternifolium Wulfen"
~Euphrasia minima Jacq. ex DC. is listed both as a synonym and as accepted.~

"subsp. alternifolium" repeated twice in the name Asplenium ×alternifolium subsp. alternifolium subsp. alternifolium Wulfen

[2021-10-11 06:59] MortenHofft commented on #3642
Thanks - this have come up several times recently.
Same as https://github.com/gbif/portal-feedback/issues/3580 and https://github.com/gbif/portal-feedback/issues/3620

[2021-10-11 09:04] jlegind commented on #2972
This issue has become pertinent again. Please flush the cache again please.

[2021-10-11 10:50] ahahn-gbif commented on #3644
https://www.gbif.org/species/7310827
The reference taxon entry (CoL, verbatim data) does not contain this artifact: https://www.gbif.org/species/171991845/verbatim

[2021-10-11 11:25] ManonGros opened #3645 "GRSciColl - display alternative codes and ROR and GRID identifiers"
Several institutions are grateful to be able to have several codes associated with one entry. But these alternative codes are only visible in the registry.
Could they be displayed on the GRSciColl pages? (see [this example](https://www.gbif.org/grscicoll/institution/13edc77b-7023-4ddd-89c7-d883a480b294) with several codes)

DISSCO is asking its participants to add ROR identifiers to their GRSciCol

[2021-10-11 12:24] MattBlissett commented on #3638
The DOI should be added within the IPT, under Metadata → Citation and Metadata → Alternative Identifiers.

But I think you've already done this, since we see 10.21966/7cmt-ca72 here:
![image](https://user-images.githubusercontent.com/583320/136789100-b3fe9309-351a-4e21-8ff6-bc1c93314a31.png)

[2021-10-11 12:51] gbif-portal opened #3646 "Enum values and their keys"
**Enum values and their keys**

How do I get the Enum values and their keys? For example what is the PhylumKey for Chordate?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/566867c711d70e01dd0880492b4e8dd1:0605a9be8d90a50dbff9215ccd97dc3cd870d03fe82646e2f2993a3efc24449d445a5861d54775d0266acd9922bf43b94f64ff6a78f62421cff51726c5bdb0a6)
System: Chrome 94.0.4606 / Windows 10.0.0

[2021-10-11 14:44] rukayaj opened #3647 "Linking GBIF taxonomic backbone entries with type specimens registered in GBIF"
One of our users has said it would be helpful for them if species pages (e.g. https://www.gbif.org/species/2247679) had information about type specimens + the dataset/collection they are registered in.

So for this _Geodia barretti Bowerbank, 1858_ species, there is one type specimen https://www.gbif.org/occurrence/search?taxon_key=2247679&type_status=TYPE, and it would be great if some of the inf

[2021-10-11 16:25] MattBlissett commented on #3640
@djtfmarten, the first two datasets David mentions in the preceding comment are from the ALA, these changes might be worth you taking a look.

The PR I suggested to Bionomia should handle the third case.

[2021-10-11 16:52] dshorthouse commented on #3640
Thanks for this. Others at ALA like @peggynewman Ely Wallis, Paul Flemons, and @nielsklazenga have also been doing some investigating.

As for https://www.gbif.org/dataset/cd096ec0-a8a0-4c65-92cc-48b00fb934ce, it looks like most (all?) of their `scientificName` entries were messed up. For example, this https://www.gbif.org/occurrence/2807325978 says "incertae sedis" whereas it used to be "Diaperia

[2021-10-11 16:55] gbif-portal opened #3648 "Most (all?) scientificName entries are now incertae sedis"
**Most (all?) scientificName entries are now incertae sedis**

A recent republication event has wiped out scientificName entries, presumably because they've hard-coded a mapping in their IPT.

-----

Github user: @dshorthouse
User: [See in registry](https://www.gbif.org/api/feedback/user/76598696d1bffa41ea1bc80530c30b4c:72faac2f1e7d52cd4bfb211fcc793fdac6b0200bbad91af0a01881842d8ab61bd7ee420bb1e158

[2021-10-11 18:14] gbif-portal opened #3649 "Occurrence numbers: mismatch of totals"
**Occurrence numbers: mismatch of totals**

Detected when updating numbers for a presentation: compare what happens when you click word "occurrences" above the main search vs. when you click the number 1,910,330,874. Compare the numbers you see at the resulting pages.

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/92b75e8cf08780ecee33b245870add93:a1ef

[2021-10-11 22:54] timvdstap commented on #3638
Ah great - thank you Matt! Yeah a colleague told me that that's where the DOI have to go that populate the DOIs under GBIF. Thanks, seems to all be resolved now 👍

[2021-10-11 23:06] dshorthouse commented on #3640
Was in touch with the Tomislav Urban at the University of Texas re: Plant Resources Center `scientificName` and he republished their data. All the records marked as _incertae sedis_ have been fixed.

[2021-10-12 08:08] muttcg commented on #3649
One of them applies "Occurrence status - present" filter by default

[2021-10-12 08:29] MortenHofft commented on #3649
I'll make both counts reflect PRESENT only. We want that to be the default for users - at least that was the case last we discussed it

[2021-10-12 08:29] gbif-portal opened #3650 "Seal tracking dataset showing implausible locations"
**Seal tracking dataset showing implausible locations**

Most locations in this dataset are showing seals deep inside the Antarctic land mass. From the pattern of occurrences it seems most likely the latitude values are repeated from a single location, as the longitude range seems plausible for a track along the Antarctic coastline.

-----

User: [See in registry](https://www.gbif.org/api/feedback

[2021-10-12 08:30] #3649 closed, assigned to nobody

[2021-10-12 08:32] #3638 closed, assigned to nobody

[2021-10-12 08:46] gbif-portal opened #3651 "Mouse-over scientific name for vernacular?"
**Mouse-over scientific name for vernacular?**

When browsing occurrences in the search table and taxonomy tabs it could be nice to be able to quick access the vernacular name, e.g. as a mouse-over tip?

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/98bc06e8af7a9be6155dbbfe38693c64:5895aff704531cbf0c065e6116454b80c1bd0279d93caa70d4319bd32b26d575f509

[2021-10-12 09:39] MortenHofft commented on #3647
Type specimens are now shown (if species or below and if the occurrence isn't a higher taxon match)
![Screenshot 2021-10-12 at 11 37 50](https://user-images.githubusercontent.com/6759267/136931843-2c10d8e9-0038-4abb-a3d2-a0354a434dc0.png)

[2021-10-12 09:39] #3647 closed, assigned to nobody

[2021-10-12 09:42] rukayaj commented on #3647
Wow that was fast! Thanks @MortenHofft

[2021-10-12 10:21] #3645 closed, assigned to nobody

[2021-10-12 10:21] MortenHofft commented on #3645
**Identifiers**
We have a whitelist of identifiers to show. I have added ROR and GRID

**Alternative codes**
I have added those including the description

[2021-10-12 12:21] dnoesgaard commented on #3590
Hi @TannerMyers,

The backend currently doesn't allow updates to the list of datasets, but we can make the changes for you, if you provide the counts per dataset—either here or by email to helpdesk@gbif.org.

For future reference, you may consider using a CSV to avoid having to fill out the web form for 47 datasets.

[2021-10-12 12:51] gbif-portal opened #3652 "This cannot be the Holotype of Cortinarius largus Fr."
**This cannot be the Holotype of Cortinarius largus Fr.**

The collection year of this record is 1977.
Cortinarius largus was described in:
Fr. In: Epicr. syst. mycol. (Upsaliae): 259 ('1836-1838'). (1838).

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2a3730f8357f3b0f31a1cfdd7536a7b9:8c40016bf85e737b58ec2a41720a68a9c09725185ea9d3fc457da32821a0374e7dc266d07d3d192cfce7ee43a

[2021-10-12 13:45] TannerMyers commented on #3590
Here’s a .csv file with the number of occurrences by dataset. I definitely will be sure to upload when creating derived datasets in the future.

Best,
Tanner

--
Tanner Myers
Ph.D. Student, Department of Biological Sciences
Auburn University, AL 36849
***@***.******@***.***>
He/him/his

From: Daniel Noesgaard ***@***.***>
Date: Tuesday, October 12, 2021 at 7:21 AM
To: gbif/portal-feedback ***@***.

[2021-10-12 14:19] TannerMyers commented on #3590
That’s odd, I’ll try again and add ***@***.******@***.***> as a recipient. If that does not work, it’s available at https://github.com/TannerMyers/distichus-spatial-variation/blob/master/data/GBIF/GBIF_occurrences_by_dataset.csv.

Tanner

From: Tanner Myers ***@***.***>
Date: Tuesday, October 12, 2021 at 8:45 AM
To: gbif/portal-feedback ***@***.***>, gbif/portal-feedback ***@***.***>
Cc: Mention *

[2021-10-12 14:38] dnoesgaard commented on #3590
@MattBlissett could you please update 10.15468/dd.z52uq7 to include:

[code]

[2021-10-12 15:52] gbif-portal opened #3653 "error visualization not helping"
**error visualization not helping**

dear GBIF,

as a new user, I would like to suggest some new input to help understanding where and which errors are not allowing us to index in GBIF

indeed, besides saying that the file cannot be indexed by GBIF, I did not get any clear clues where the issues were.

in this case, several occurrenceID GUID were missing (and I did not see it in the .csv file befo

[2021-10-13 19:42] gbif-portal opened #3656 "How do you protect data on rare species?"
**How do you protect data on rare species?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/32e17213eb9c1377dba24074e667e561:a4afd773f0937207e704c05977746cc702f4a6b25ed3907790612b46985969ed21d55d40551279298b1b483129ab054f79ee86e547cad1fb5591fbaac9ca23e65f7f16fc274b37d23b3a82fd2679ac91)
System: Firefox 93.0.0 / Windows 10.0.0
Referer: https://www.gbif.org/publisher/5b31a95f-

[2021-10-14 04:22] myrmoteras opened #3659 "images do not show up in treatments"
there seems to be an issue that images do not show up. when you open the page, it starts downloading, but then stops.

https://www.gbif.org/species/7261959/treatments
![image](https://user-images.githubusercontent.com/4609956/137251382-ccdb7e63-f7af-43d9-a60e-a16109e662ec.png)

this seems to be the same here:

https://www.gbif.org/species/187724054

normally it resolves after retrying in a few min

[2021-10-14 07:20] gbif-portal opened #3660 "Species pages should not link to non existing tabs"
**Species pages should not link to non existing tabs**

https://www.gbif.org/species/7261959/treatments
this page has a treatment. When the user navigates in the classification drawer, to e.g. subspecies "Rhinolophus sinicus subsp. septentrionalis Sanborn, 1939", then we link to the treatment page despite it being non existing. Leading to an empty page. That confused me to the point I thought we h

[2021-10-14 07:25] MortenHofft commented on #3660
If we want to link to a treatment tab (and we cannot know up front if it is there), then I suggest we put a message on that page. We do something similar for country pages if the country isn't a participant but we somehow link to a non existing page.
https://www.gbif.org/country/CN/participation

We could also consider adding the active tab (and remove it again when the user moves to another tab)

[2021-10-14 14:33] gbif-portal opened #3661 "The ability to save a selection of filters"
**The ability to save a selection of filters**

The ability to save a selection of filters and couple it to your account would be beneficial for applying the same filters to several species you want to study instead of always having to apply the filters for every species each time.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/a7f628b6c811b6aa167982aca1a63a80:d5b4140118782

[2021-10-15 07:52] gbif-portal opened #3662 "Corrupt CSV-file"
**Corrupt CSV-file**

I've produced a download via the api. The download list says that 896 occurrences are found. The CSV-file contains only 887 occurrences. The last record ends after the month of the event date. I can delete the download but it is not possible to produce a new one with the same filter. Can you please delete the corrupt download so that I can try a new one? The DOI is 10.15468/d

[2021-10-15 08:27] akristensen opened #3663 "image links are broken"
Searched for

https://www.gbif.org/occurrence/gallery?continent=ASIA&taxon_key=2432626

And all images are broken

[2021-10-15 09:30] gbif-portal opened #3664 "Broken image links"
**Broken image links**

All images in this dataset seem to be invalid/non existing identifiers
https://www.gbif.org/occurrence/gallery?dataset_key=821cc27a-e3bb-4bc5-ac34-89ada245069d

Originally posted in https://github.com/gbif/portal-feedback/issues/3663

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/55bfb052adf8d0f765a0001181807a7e:7d0c8857de02

[2021-10-15 09:30] #3663 closed, assigned to nobody

[2021-10-15 10:30] gbif-portal opened #3665 "this specimen has been identified as Orthosia retinaculata (Schltr.) Liede & Meve in the meantime."
**this specimen has been identified as Orthosia retinaculata (Schltr.) Liede &amp; Meve in the meantime. Thanks, Sigrid Liede-Schumann**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/112614e980598838c096c10728004bcc:457dbe3f778074339156908fe37da82ee8dab2a010ff5458d0d6453f416f51a16497950804812fdfe14351b6d973ae30df640a29a26a40f5cd1f8b8f48cd7e85)
System: Firefox 93.0.0 / Wind

[2021-10-15 12:31] gbif-portal opened #3666 "Incomplete CSV-file"
**Incomplete CSV-file**

The csv- file in the download DOI 10.15468/dl.m6rra5 is not complete. The last record (gbifID 920170520) ends with the decimalLatitude. Can you please delete the ZIP-archive https://api.gbif.org/v1/occurrence/download/request/0027864-210914110416597.zip since it is not possible for me?

The ZIP-archive I asked you to delete before ( https://api.gbif.org/v1/occurrence/downl

[2021-10-15 14:47] AbbyBenson commented on #3664
I will reach out to the Smithsonian.

[2021-10-15 21:29] sginzbar opened #3667 "Both Euphorbia platyphyllos L. and E. platyphylla L. are accepted"
Linnaeus published the name as E. platyphyllos. Should it be corrected to platyphylla?

[2021-10-17 01:10] gbif-portal opened #3668 "structured search"
**structured search**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/045eb7a7029976074178c0a8daf9ef29:39ef83396fa0abd3135b001fac27235936f8aa30d17e6b9494462447e7ab3781778ff3747ddfd852c89b99db871060e5ef80ddec7b810a5abbc1447b90662876)
System: Chrome 94.0.4606 / Mac OS X 10.15.7
Referer: https://www.gbif.org/occurrence/download?q=bikini&year=1901,2021&advanced=1&institution_key

[2021-10-17 17:11] sginzbar opened #3669 "Festuca gigantea Linnaeus, 1753 Accepted"
Linnaeus published Bromus gigantea in 1753. Villars made the combination Festuca gigantea (L.) Vill. in 1787.

[2021-10-17 19:15] dshorthouse commented on #3648
Publisher republished their dataset & all fixed now.

[2021-10-18 05:36] #3648 closed, assigned to nobody

[2021-10-18 08:30] ManonGros commented on #3656
Publishing organizations (Museums, herbaria, citizen science initiatives, etc.) are responsible for the content they share on GBIF.

We made available some guidelines on how to handle information concerning sensitive species: https://doi.org/10.15468/doc-5jp4-5g10. We strongly encourage all our data providers to check those guidelines before sharing their data on GBIF.

The data you can access on

[2021-10-18 08:30] #3656 closed, assigned to ManonGros

[2021-10-18 13:55] gbif-portal opened #3670 "question difference between expected number of occurrence and rows read in file"
**Hi! I am Marc Riera, a PhD researcher, interested in using distriution data from GBIF for an analysis of climatic niche shifts. I have generated a dataset of over 5 million occurrences (through rgbif::occ_download). The resulting DOI is (`https://doi.org/10.15468/dl.ezawr4).` But, when I download and unzip the Darwin Core Archive, the occurrence.txt file contains only 274731 rows (either loading

[2021-10-18 14:16] dnoesgaard opened #3671 "Linking taxa to literature (and vice versa)"
Let's add a tab for relevant literature (if any) to taxon pages, e.g,

![lit-on-taxon-pages](https://user-images.githubusercontent.com/21358085/137748462-1856fbd2-e0b2-4dda-8f89-98620c8d84f9.png)

The tab should then embed a search like we do on [country pages for literature](https://www.gbif.org/country/EC/publications/from), but having the filter `gbifTaxonKey=<taxonKey>`

It would be great to h

[2021-10-18 14:18] gbif-portal opened #3672 ""Tipula matsumuriana ssp. pseudohortensis" should be moved to a synonym of Tipula pseudohortensis"
**&quot;Tipula matsumuriana ssp. pseudohortensis&quot; should be moved to a synonym of Tipula pseudohortensis**

Hi.

Tipula pseudohortensis Lackschewitz, 1932 was recently reinstated as a full species. GBIF has a new species-level record for it (backbone https://www.gbif.org/species/11119797).

However, the old subspecies-level name still lingers under Tipula matsumuriana as "Tipula matsumuriana

[2021-10-19 07:05] MortenHofft commented on #3671
On some species pages we also show a treatment coming from Plazi. Which must be considered literature as well. In this version, it would then show 2 tabs. And the treatment might not appear in the literature tab.

And some species pages will have a treatment, but still might not have a literature tab.

This feels a bit odd to me, but I do not have any good suggestions on how to change it.

[2021-10-19 08:02] dnoesgaard commented on #3671
Hmm. Obviously there's a difference that perhaps need to be implied the the name.

How do we say "GBIF-relevant literature relating to this taxon" in one word?

[2021-10-19 08:26] ManonGros commented on #3671
I assume the PLAZI treatment is actually the reference for this taxon, isn't it?

If so, then the PLAZI tab could be called "reference" and the literature tab could be "related literature", would that work?

[2021-10-19 08:29] MortenHofft commented on #3671
Currently the plazi tab is called treatment. And the word reference is used to refer to the checklist it came to us from. They are not always the same

[2021-10-19 09:31] gbif-portal opened #3673 "Issues with genus Gasteria"
**Issues with genus Gasteria**

This comes from an email originally sent to helpdesk.
The information available for this genus is incorrect: some species are accepted when they shouldn't while others are duplicates and some are missing.

The names coming from the CoL are correct and I already reported the missing species to them: https://github.com/CatalogueOfLife/data/issues/328

Now we should pr

[2021-10-19 11:12] ManonGros opened #3674 "download API - "not" queries should also select records with NULL values"
This relates to this issue: https://github.com/gbif/portal-feedback/issues/3670

In this case, the expected number of records (from ES) is correct but only a subset of the data is actually included in the download because the user uses a "not" predicate for a field that has a lot of NULL values (establishmentMeans). The selection excludes the records with NULL values when it should be including th

[2021-10-19 11:20] ManonGros commented on #3674
Duplicate of https://github.com/gbif/occurrence/issues/244

[2021-10-19 11:20] #3674 closed, assigned to nobody

[2021-10-19 11:53] dnoesgaard commented on #3671
I don't have a problem with showing treatments and/or literature on separate tabs on taxon pages. I mean, they're not the same. If others find this confusing, we'll just have to make sure it's sufficiently explained?

[2021-10-19 12:01] MarcRieraDominguez commented on #3670
Hi! Many thanks for your reply! I don't know how to also select NULL with the predicate syntaxis of the rgbif package, I'm still new to it.
How could I modify the following code to avoid this issue?
pred_not(pred("establishmentMeans", "MANAGED"))
Thank you!

[2021-10-19 12:24] MortenHofft commented on #3671
Sounds good. I'm confused myself 😄 - isn't the Plazi treatment a subset of literature about this taxon? But in most (all) cases not included in the literature index.

[2021-10-19 12:29] dnoesgaard commented on #3671
Treatments are datasets published by Plazi, typically based on articles in scientific journals.

The literature index includes all types of literature that as a minimum *mentions* GBIF.

There may be indeed be overlaps, but in those cases, the papers underlying a treatment would also be included in the literature index.

[2021-10-19 12:50] ManonGros commented on #3670
Hi @MarcRieraDominguez,
Until we fix this issue on our side, the way to go is to also select for records with the NULL values. So instead of the line `pred_not(pred("establishmentMeans", "MANAGED"))`, use:
[code]
(either the establishment is not managed or it is null)

[2021-10-19 12:56] ManonGros commented on #3670
Note that you can also format your query in JSON instead of using the `pred()` functions. This would allow you to use the `isNull` predicated (instead of `pred_not(pred_notnull())`) (see examples in [our documentation](https://www.gbif.org/developer/occurrence)).

You might also find the following two blogposts useful for your work:
https://data-blog.gbif.org/post/gbif-api-beginners-guide/
https:/

[2021-10-19 13:09] MarcRieraDominguez commented on #3670
Great! Thank you for your help!

[2021-10-19 13:11] #3670 closed, assigned to nobody

[2021-10-19 13:20] ManonGros commented on #3646
To get the information associated with taxon keys, you should try to use our Species API: https://www.gbif.org/developer/species

For example, you can use the Match API to find the key for Chordata: https://api.gbif.org/v1/species/match?verbose=true&name=Chordata (the key is 44).
We have [a blogpost](https://data-blog.gbif.org/post/gbif-species-api/) explaining the difference between the Species A

[2021-10-19 13:20] #3646 closed, assigned to ManonGros

[2021-10-20 08:10] ManonGros commented on #3669
This seems to be an issue coming from a PLAZI treatment (https://www.gbif.org/publisher/7ce8aef0-9e92-11dc-8738-b8a03c50a862).
The treatment mentioned that the current accepted name is `Festuca gigantea (L.) Vill. (Poaceae)` (https://www.gbif.org/species/7325030/treatments) but the value provided in the scientific name is not the current accepted name (https://www.gbif.org/species/164000459)

[2021-10-20 08:11] jhnwllr commented on #3667
Euphorbia platyphylla L.
https://www.gbif.org/species/4271590

Euphorbia platyphyllos L. -> Euphorbia platyphylla L.
https://www.gbif.org/species/3068153

[2021-10-20 08:15] ahahn-gbif commented on #3667
needs verification of the original description, but if L. published the name as _Euphorbia platyphyllos_ L., then that should remain the accepted name, and _E. platyphylla_ not marked as accepted.

[2021-10-20 08:42] jhnwllr commented on #3672
emailed publisher of https://www.gbif.org/dataset/a6c6cead-b5ce-4a4e-8cf5-1542ba708dec

[2021-10-20 08:45] myrmoteras opened #3675 "treatment links are missing"
in this case https://www.gbif.org/species/7325030/treatments there is not link to the specific treatment provided and thus misses direct access to the source https://treatment.plazi.org/id/1FBDE29609EF31C28A10192637BE4B75  which, in a sense is provided form the reference taxon. https://treatment.plazi.org/id/1FBDE29609EF31C28A10192637BE4B75

if you be better to have it next to the treatment.

[2021-10-20 09:07] ahahn-gbif commented on #3667
CoL only lists _Euphorbia platyphyllos_: https://www.catalogueoflife.org/data/taxon/6GZX6
The variant _E. platyphylla_ seems to go back to Tropicos (https://tropicos.org/name/Search?name=Euphorbia%20platyphylla) or a source thereof, with both variants listed here side by side and both referencing Sp. Pl. 1: 460–461. 1753. as the source.

At first estimate, this would be best resolved during backbo

[2021-10-20 09:14] ahahn-gbif commented on #3644
@mdoering: do you have a preferred way for this kind of assumed processing glitch to be flagged up, or is "interpretation" appropriate, please?

[2021-10-20 09:38] jhnwllr commented on #2234
I will break this issue into separate issues and then close this one.

[2021-10-20 09:56] jhnwllr opened #3677 "gr for group"
scientificName: Cretirhynchia gr J.Sowerby
taxonRank: species
datasetID for: GBIF Type Specimen Names
(See https://www.gbif.org/occurrence/932716509)

https://github.com/gbif/portal-feedback/issues/2234

[2021-10-20 09:57] jhnwllr opened #3678 "kl for klepton"
scientificName: Rana kl
taxonRank: species
datasetID for: MNHN Reptiles and Amphibians
(See https://www.gbif.org/occurrence/440020321)

https://github.com/gbif/portal-feedback/issues/2234

[2021-10-20 09:58] jhnwllr opened #3679 ""new" in Eriopyga new"
scientificName: Eriopyga new
taxonRank: species
datasetID for: International Barcode of Life

https://github.com/gbif/portal-feedback/issues/2234

[2021-10-20 11:10] jhnwllr opened #3681 ""nov" for "nova""
scientificName: Rissoa nov
taxonRank: species
datasetID for: GBIF Type Specimen Names
(See https://www.gbif.org/occurrence/932716509)

https://github.com/gbif/portal-feedback/issues/2234

[2021-10-20 11:10] jhnwllr opened #3682 ""sg" for "subgenus""
scientificName: Bombus sg
taxonRank: species
datasetID for: GBIF Type Specimen Names

https://github.com/gbif/portal-feedback/issues/2234

[2021-10-20 11:11] jhnwllr opened #3683 ""subg" for "subgenus""
scientificName: Megachile subg
taxonRank: species
datasetID for: GBIF Type Specimen Names
(See https://www.gbif.org/occurrence/2292490533)

https://github.com/gbif/portal-feedback/issues/2234

[2021-10-20 11:13] jhnwllr opened #3684 ""cr" in codename"
scientificName: Nicetas cr
taxonRank: species
datasetID for: International Barcode of Life
(source name: Nicetas cr-1)

https://github.com/gbif/portal-feedback/issues/2234

[2021-10-20 11:13] #2234 closed

[2021-10-20 12:51] jhnwllr commented on #3677
Gets matched to the correct higher rank.

[2021-10-20 13:29] jhnwllr commented on #3684
https://www.gbif.org/species/search?q=Nicetas%20cr-1

appears to be fixed

[2021-10-20 13:30] #3684 closed, assigned to jhnwllr

[2021-10-20 13:32] jhnwllr commented on #3683
https://www.gbif.org/species/search?offset=0&q=Megachile%20subg

doesn't appear in backbone anymore

[2021-10-20 13:32] #3683 closed, assigned to jhnwllr

[2021-10-20 13:33] jhnwllr commented on #3677
Names does not appear in the backbone.

[2021-10-20 13:33] #3677 closed, assigned to jhnwllr

[2021-10-20 13:34] jhnwllr commented on #3682
https://www.gbif.org/species/search?offset=0&q=Bombus%20sg

Does not appear in backbone

[2021-10-20 13:34] #3682 closed, assigned to jhnwllr

[2021-10-20 13:35] jhnwllr commented on #3681
https://www.gbif.org/species/search?offset=0&q=Rissoa%20nov

does not appear in backbone

[2021-10-20 13:35] #3681 closed, assigned to jhnwllr

[2021-10-20 14:11] gbif-portal opened #3685 ""Riponnensia Maibach & Goel" ... authors should be "Maibach, Goeldlin de Tiefenau & Speight, 1994""
**&quot;Riponnensia Maibach &amp; Goel&quot; ... authors should be &quot;Maibach, Goeldlin de Tiefenau &amp; Speight, 1994&quot;**

Full name with authorship should be Riponnensia Maibach, Goeldlin de Tiefenau & Speight, 1994

Can be ferified here: https://gallica.bnf.fr/ark:/12148/bpt6k61331595/f87.item

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f6cddbdd29ef8279c1d7be3

[2021-10-20 15:17] gbif-portal opened #3686 "Test (certificate expired error)"
**Test (certificate expired error)**

Testing.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e768e5ad576988383da12a8a12eb7499:afafc6b8b69399bb274fca5be0976e1d98f1cd806626bb5b1cc5db6b31ac6446a0002d31a21b323c5f187bb5f2c9929fab600a33f484e8646651bc6ea03195b4)
System: Firefox 93.0.0 / Ubuntu 0.0.0
Referer: https://www.gbif.org/health
Window size: width 956 - height 936
[API log

[2021-10-20 15:17] MattBlissett commented on #3686
The portal shows "certificate expired", although submitting this issue still worked.

[2021-10-20 16:37] gbif-portal opened #3687 "add synonym: Bulgarica thessalonica"
**add synonym: Bulgarica thessalonica**

Bulgarica thessalonica seems to be a synonym and could be added to the synonym list of Strigillaria thessalonica

https://www.google.com/search?q=%22Bulgarica+thessalonica%22&client=firefox-b-d&source=lnms&tbm=bks&sa=X&ved=2ahUKEwip4KzftdnzAhXThP0HHRZ-BlUQ_AUoAXoECAEQCw&biw=2144&bih=1035&dpr=0.9

-----

User: [See in registry](https://www.gbif.org/api/feedb

[2021-10-21 07:18] jhnwllr commented on #3679
https://www.gbif.org/species/search?q=Eriopyga%20new

Not in the backbone

[2021-10-21 07:18] #3679 closed, assigned to jhnwllr

[2021-10-21 07:21] jhnwllr commented on #3678
Seems to match to correct rank now.

[2021-10-21 07:21] #3678 closed, assigned to jhnwllr

[2021-10-21 10:09] dagendresen commented on #3382
Ping - Norwegian marine data publishers are asking for status on this issue :-)

[2021-10-21 11:10] gbif-portal opened #3688 "The location is wrong....belongs to Chaco, in Argentina and the point is almost in Antarctica."
**The location is wrong....belongs to Chaco, in Argentina and the point is almost in Antarctica.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/5939ffc154fa7da62f47c3e04cf11b6a:7d6b3ed943397a2f388c41bd6c9ed9ac9e06dcd91f3440451267b88ceb427a24db409d2d61b9e0c4824368ec03125553f752033859c0d9135b4009e52c2d685c)
System: Firefox 93.0.0 / Windows 10.0.0
Referer: https://www.gbif.o

[2021-10-21 23:41] gbif-portal opened #3689 "I am trying to pull updated locations for Glaucidium brasilianum cactorum after pulling locations last year. However, I am getting far fewer locations than previously and I am not clear why. In my existing dataset, I have >2000 records. Now with my query I am only getting 368 results."
**I am trying to pull updated locations for Glaucidium brasilianum cactorum after pulling locations last year. However, I am getting far fewer locations than previously and I am not clear why. In my existing dataset, I have &gt;2000 records. Now with my query I am only getting 368 results.**

-----

Github user: @rachwilliams56
User: [See in registry](https://www.gbif.org/api/feedback/user/42bf07c

[2021-10-22 01:07] gbif-portal opened #3690 "Hello, in the occurrences dataset, I choose the fields I want to use. I assume that's actualized by simply not filling them out in the excel spreadsheet. Can the fields I choose be optional. Stupid question, but just to be sure."
**Hello, in the occurrences dataset, I choose the fields I want to use. I assume that&#39;s actualized by simply not filling them out in the excel spreadsheet. Can the fields I choose be optional. Stupid question, but just to be sure.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d380af7ee47f470ce5b6342ddb3396e6:42ebef90f8bfc8514af98d36d1d2f1e7d774d40dac4c92f84336bb22dd0

[2021-10-22 08:49] ManonGros commented on #3689
@rachwilliams56 is the dataset you got last year available somewhere to check?

I tried checking the data from last year's snapshot and I couldn't find more than 366 records. Perhaps I missed something, it would be helpful the data you have from last year.

[2021-10-22 12:58] ManonGros commented on #3690
You can choose which fields you would like to share on GBIF by omitting the columns you don’t wish to share, or by not mapping those columns to Darwin Core terms, or by leaving the fields empty.
Keep in mind that some fields are necessary for indexing. I suggest to check [our data validator](https://www.gbif.org/tools/data-validator) and [our data-quality requirement page](https://www.gbif.org/dat

[2021-10-22 12:58] #3690 closed, assigned to ManonGros

[2021-10-22 16:12] gbif-portal opened #3691 "Questions regarding DwC Basis of Record field and GBIF API"
**Questions regarding DwC Basis of Record field and GBIF API**

Hi all

For the basis of record field, why does GBIF interpret MaterilSample as Material Sample when the DwC terms document identifies MaterialSample as the term in the preferred vocabulary.  Also, it appears that this is then converted into MATERIAL_SAMPLE through your API (https://api.gbif.org/v1/occurrence/656965573).  Again, any i

[2021-10-22 17:01] rachel-laura commented on #3689
[GBIF_Gbrasilianum_19Aug20_0042067-200613084148143.zip](https://github.com/gbif/portal-feedback/files/7400200/GBIF_Gbrasilianum_19Aug20_0042067-200613084148143.zip)

Here is the zip file from last year's data. Does the default dataset on GBIF include all the eBird and iNaturalist observations?

[2021-10-24 14:47] gbif-portal opened #3692 "The photos that are linked to supposedly ollistrate Galactia argentea Brandegee are all of an orchid, probably a species of Platanthera. It is recommendable to remome the links."
**The photos that are linked to supposedly ollistrate Galactia argentea Brandegee are all of an orchid, probably a species of Platanthera. It is recommendable to remome the links.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/670bb86de0977bda60085fc43c17d7bc:252c1bc124d86f784804fcd19f5629f9d02b6436f2b65de5d79f4dc166b21b60d84d64c6ad48170510680efa53acc9d2fc2232a080c07869b5

[2021-10-24 18:12] MortenHofft commented on #3689
https://www.gbif.org/occurrence/download/0042067-200613084148143

The download includes 75,614 occurrences (but that includes other taxa)

`grep -o -i 5232122 occurrence.txt | wc -l` returns 423 matches for that taxonKey.
And that includes rows where it appears as both `taxonKey` and `acceptedTaxonKey` (columns located next to each other).

`grep -o -i "5232122\t5232122" occurrence.txt | wc -l` 21

[2021-10-25 13:20] mdoering commented on #3667
That's gotta be an entry in our patch list. With the disadvantage that we have to declare an accepted name which will remain accepted even if other authoritative sources claim it is not anymore and thus needs a review from time to time.

[2021-10-25 13:24] #3667 closed, assigned to ahahn-gbif

[2021-10-25 13:29] mdoering commented on #3644
@thomasstjerne @MortenHofft this appears to be a portal bug. The API does have the correct name:
https://api.gbif.org/v1/species/7310827
https://api.gbif.org/v1/species/171991845

[2021-10-25 14:44] gbif-portal opened #3693 "Hello,"
**Hello,**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/783eb5ebc9fd96c4f9b4d377ac87dd2a:1e57b5659afab0ff99f357863c1640d4bfd324a38f852cac683e24732a81ba644a009848023b3baa93976a19a0ff8f3d4948a1393c4bc503837fae17bf27ef43)
System: Chrome 94.0.4606 / Windows 10.0.0
Referer: https://www.gbif.org/
Window size: width 1024 - height 525
[API log](https://private-logs.gbif.org/app/d

[2021-10-25 14:49] gbif-portal opened #3694 "The Excel templates without the Example Data appear to have less properties."
**The Excel templates without the Example Data appear to have less properties.**

Hello, I'm not understanding the templates. The Excel templates without the Example Data appear to have less properties.  For instance the Checklist template (without example data) has 6 properties. taxonID	parentNameUsageID	acceptedNameUsageID	scientificName	kingdom	taxonRank. But the Template with Examples has abou

[2021-10-25 14:52] gbif-portal opened #3695 "OBIS extentions under development?"
**OBIS extentions under development?**

Why are the OBIS extensions "Under Development"? They also have broken links attached. Actually where are the OBIS terms on the internet. I can't  seem to find them.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/b2cc357a7b1ce2295f3b21e83142e5cd:40129b4740dd6bbb462311eff49e045642f70ac98909966de52a9454b9ec04840c4480d5b2551142e3ae01fba6

[2021-10-25 18:11] rachel-laura commented on #3689
Thanks for looking into that! I guess last year we just searched on the species and not subspecies. Thanks for the help!

[2021-10-25 18:11] gbif-portal opened #3696 "Taxon needed in occurrences?"
**Taxon needed in occurrences?**

If I have the taxon info in the checklist, why do I need them in occurrences. Can I eliminate them from the occurrences excel spreadsheet without issues in GBIF?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/89671c9ad28cf7927b1fa7ff7b62d116:00a8b9711eb888f92610eac0c2716db2ef69f276121d69148ed3ab5d9681637542f78d24806a776e6ae51998fc7f99c15017

[2021-10-26 08:04] #3689 closed, assigned to ManonGros

[2021-10-26 08:07] #3693 closed, assigned to nobody

[2021-10-26 08:09] MortenHofft commented on #3644
Looks like an issue with this endpoint `https://www.gbif.org/api/species/7310827/name` which tries to format the name with italics.

[2021-10-26 10:01] MortenHofft commented on #3671
@dnoesgaard  could you please provide a help text for the literature search taxonKey filter?
<img width="1274" alt="Screenshot 2021-10-26 at 12 00 49" src="https://user-images.githubusercontent.com/6759267/138856351-c909b0b2-7ad9-4ec3-8498-e48fc0f34651.png">

[2021-10-26 10:08] dnoesgaard commented on #3671
"Note: Applying this filter will exclude papers not explicitly focused on (a) specific taxon/taxa" ?

[2021-10-26 11:26] mdoering commented on #3644
What is this endpoint? CLB offers it, but the response is altered and very different from the original:

[code]

[2021-10-26 13:26] MortenHofft commented on #3644
On the website most names are italicised. Since there is no API endpoint to provide formatting for names, then the portal16 attempts to format names. In this case the logic to do so clearly fails. It uses the APIv1 name response to do so.

[2021-10-26 13:29] MortenHofft commented on #3644
The logic is here https://github.com/gbif/portal16/blob/master/app/controllers/api/species/scientificName.ctrl.js
I'll defer to @thomasstjerne for the implementation details

[2021-10-26 13:31] MortenHofft commented on #3671
@dnoesgaard could you also provide the help for the species page please. You mock says: "Brief explanation of ..."

[2021-10-26 13:50] dnoesgaard commented on #3671
Rather than having a extra explainer, we could simply use the card header (currently reads "DISTRIBUTIONS")?

Text suggestion:

Or if we don't to include count and name, simply

[2021-10-26 14:54] MortenHofft commented on #3671
That is a slightly long text for mobile as a card header. Especially given that we have a filter button in that row that would need to wrap. I've opted for a regular paragraph above instead.

[2021-10-27 06:51] ManonGros commented on #3692
Feedback forwarded to Pl@ntNET via they feedback system: https://identify.plantnet.org/central-america/observations/1003810726

[2021-10-27 07:54] gbif-portal opened #3699 "LINESTRING footprint marked invalid (publisher question)"
**LINESTRING footprint marked invalid (publisher question)**

The owner of the dataset asks via helpdesk why the Footprint WKT of this record is marked as "Footprint WKT invalid)

LINESTRING (-27.389067 -56.38615, -27.39395 -56.38581667)

It seems to be syntactically correct. Are Linestrings directional, or what else could be the issue here?

-----

User: [See in registry](https://www.gbif.org/api

[2021-10-27 12:18] siwelisabeth opened #3701 "Get dataset versions for the dataset page"
In the dataset page we would like to list the different versions of the dataset. And maybe also the possiblity to download different versions.

The dataset versions can be seen at the ipt,
https://ipt.nina.no/resource?r=butterflies_bumblebees2020#versions

But I can not find a way to get it, ie. from an api. In the ipt documentation, it says that it should be available in the DOI metadata, but I h

[2021-10-27 12:25] gbif-portal opened #3700 "Downloading GBIF occurrence data in CSV file"
**Downloading GBIF occurrence data in CSV file**

Good day. I can't see (on your website) how to download occurrence data (especially including lat and long) in a CSV file for species or subspecies I specify. How do I do this?

Many thanks
Kevin Murray

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/23097e1af2adb130e041473bbf49cef0:504adf81cafad99aefa283af69b9d4a2ea211cd51bd

[2021-10-27 13:17] MortenHofft commented on #3701
Hi @siwelisabeth - I do not believe it is in the API I'm afraid. I'm moving this issue to another repo as it has to do with the APIs and is more likely to be seen by the relevant people when located in another repo.

UPDATE:
I see that I have already created an issue for this here https://github.com/gbif/registry/issues/380

[2021-10-27 13:19] gbif-portal opened #3702 "Buenos días en la carrera 33 a 11 -08 del barrio la Independencia en estos días de lluvia el agua de la quebrada se lleva la basura produciendo contaminación en el ambiente por eso solicito cambio de sitio para la recolección de basuras donde no afecta la quebrada. Recuerdan que días atrás aparecieron peces muertos en el barrio siete de agosto. Mi teléfono 3157897132 y si porfavor nos colaboran con un letrero de no botar basura aqu"
**Buenos días en la carrera 33 a 11 -08 del barrio la Independencia en estos días de lluvia el agua de la quebrada se lleva la basura produciendo contaminación en el ambiente por eso solicito cambio de sitio para la recolección de basuras donde no afecta la quebrada. Recuerdan que días atrás aparecieron peces muertos en el barrio siete de agosto. Mi teléfono 3157897132 y si porfavor nos colaboran

[2021-10-27 13:24] jhnwllr commented on #2233
Since the backbone has been updated several times since the writing of this issue, I am removing the backbone tag. Seems more like a processing issue than a traditional backbone issue.

[2021-10-27 13:42] ManonGros opened #3703 "Add FAQ explaining how to download data on GBIF"
The last few months we have had more questions on "how to download data from GBIF" both on Helpdesk and GH. This is the latest example: https://github.com/gbif/portal-feedback/issues/3700

We think that perhaps people arrive to the main GBIF page or directly on species pages (from Google) and are puzzled because there is no "download" button. They don't know that they should click on "occurrence"

[2021-10-27 14:15] jhnwllr commented on #1205
I think this should be closed. The explanation is now in the FAQ.
https://www.gbif.org/faq?question=why-do-some-taxa-show-as-being-deleted-what-does-this-mean

Additionally,
**Juniperus communis subsp. alpina** seems to exist in other checklists so it is not really a data gap. Any additional issues ,such as authorship, I think should be put in a separate issue and re-worded.
https://www.gbif.org/s

[2021-10-27 14:15] #1205 closed, assigned to nobody

[2021-10-27 14:25] jhnwllr commented on #1286
https://github.com/gbif/portal-feedback/issues/1285#issuecomment-379722646

[2021-10-27 14:26] jhnwllr commented on #1288
https://github.com/gbif/portal-feedback/issues/1285#issuecomment-379722646

[2021-10-27 14:26] jhnwllr commented on #1290
https://github.com/gbif/portal-feedback/issues/1285#issuecomment-379722646

[2021-10-27 14:26] jhnwllr commented on #1291
https://github.com/gbif/portal-feedback/issues/1285#issuecomment-379722646

[2021-10-27 14:28] jhnwllr commented on #1289
https://github.com/gbif/portal-feedback/issues/1285#issuecomment-379722646

[2021-10-27 14:49] jhnwllr commented on #1868
reference has been deleted. Hard to know what the issue refers to. Closing.

[2021-10-27 14:51] jhnwllr commented on #1287
https://github.com/gbif/portal-feedback/issues/1285#issuecomment-379722646

[2021-10-27 18:22] gbif-portal opened #3704 "HP download request - filterApplied data undefined"
**HP download request - filterApplied data undefined**

The date value used in downloadKey.filterApplied is not defined for DL requests from hosted portals...?

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/2a55fcaa867f2bc08e4f9489bde9de7a:c978622480f64ceb655b57995e7dba5d37e5a1dcc0975b8b40fb26a94d8ad22a7ead7cb2921eb909be6175dc4ceab47baa344737511bb20

[2021-10-27 22:37] gbif-portal opened #3705 "Base map for species search"
**Base map for species search**

Is it possible to include a base map for the location search? We want to be more precise in bounding our coordinates.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1859ea87a50be708602c29e81543ad2d:e0171cdc32564b0f49276df5f083363ff390367afbfe3a4e1b7de3a6e971da6e2be9728299b75afdb6c319e03ab85e56c1599b61d7184037b4dd11162f508eda)
System: Chrome

[2021-10-28 07:35] #3704 closed, assigned to nobody

[2021-10-28 07:36] MortenHofft commented on #3704
Thanks @dnoesgaard - I've fixed the translation to match the one we use on the occurrence metrics page

[2021-10-28 07:40] MortenHofft commented on #3702
Google translate

[2021-10-28 07:41] #3702 closed, assigned to nobody

[2021-10-28 07:46] MortenHofft commented on #3699
See https://github.com/gbif/pipelines/issues/509

[2021-10-28 07:51] #3644 closed, assigned to thomasstjerne

[2021-10-28 07:54] thomasstjerne commented on #3644
The portals name presentation got fooled by the name type being `SCIENTIFIC` rather than `HYBRID` here: https://api.gbif.org/v1/species/7310827/name .
It will now always show names containing the "hybrid ×" as hybrids, e.g. `Asplenium ×alternifolium`

[2021-10-28 07:56] MortenHofft commented on #3705
Could you elaborate a bit more please?
Are you looking to download maps? Or have a choice of other basemaps? Or to add your own WMS? Something else?

You can currently filter location by:

drawing on the large map in the map tab
Open the location filter and:
* draw on the map.
* select at lat-lon range
* insert wkt
* insert geojson

In addition we allow filtering on countries, and administrative a

[2021-10-28 08:11] mdoering commented on #3644
The HYBRID name type is only for formulars, not for named hybrids! It is intended to flag that hybrid formulars cannot be parsed, while the named hybrid can and we even have a `notho` field indicating the hybrid markers position.

[2021-10-28 17:30] gbif-portal opened #3706 "Help with CSV"
**Help with CSV**

Hello,

Thank you for providing this publicly-available dataset. I tried downloading the 'simple' version of the North American Bombus dataset (with ~10,000 observations), but am confused about its organization.

It seems that information that should be separated into different columns is being compressed into single cells: (e.g., 1252614697	c4a2c617-91a7-4d4f-90dd-a78b899f8545

[2021-10-28 17:37] maxhermanson commented on #3706
NEVER MIND, SORRY!!! Used this link: https://www.gbif.org/faq?question=opening-gbif-csv-in-excel

[2021-10-28 18:00] #3706 closed, assigned to nobody

[2021-10-28 20:52] abubelinha commented on #3187
@jlegind I don't think a correct download account is a reason to close the issue.

I hope most of the download event accounts are correct.  But that one was not.
And that error makes me question how many are not correct.

If we don't know why it happened, we don't know if it could be happening again and again while we keep on making reports based on that accounts.

In other words: unexplained acco

[2021-10-29 11:10] ManonGros commented on #3700
Replied by email.

[2021-10-29 11:10] #3700 closed, assigned to nobody

[2021-10-29 14:07] MattBlissett commented on #3187
https://github.com/gbif/occurrence/issues/28 is an issue from a while ago which was causing duplicated data in downloads.  The download you give is newer, perhaps https://github.com/gbif/occurrence/issues/267 is the same problem.

I suspect it happens during the nightly (usually some point between 05:30-06:00 UTC) process which rebuilds our data table from which large downloads are created.  Somet

[2021-10-29 16:06] arlobrynthorn opened #3708 "RBCM accession V110246 not mapped properly"
https://linnet.geog.ubc.ca/eflora_NewFullMap/index.html?sciname=Anemone%20piperi&BCStatus=red&commonname=Piper%27s%20anemone&PhotoID=88428&mapservice=Vascular

Says specimen was found NW of Kaslo, BC. Data point found in Northwestern-most corner of Montana on map. BCCDC collection record may be the same data point, as it is located NW of Kaslo, but is missing metadata.

[2021-10-30 10:44] myrmoteras opened #3709 "adding Zoobank ID to occurrences or species"
in this new taxon https://www.gbif.org/species/189626279 and occurrence https://www.gbif.org/occurrence/3395527301 the zoobank ID is known.
Might it be possible to make use of this to include it The specimen is currently curated in the National Museum of Ethiopia in Addis Ababa, Ethiopia. H. bodoensis has been deposited in the ZooBank database (http://zoobank.org/) with Life Science Identifier **u

[2021-11-01 09:20] thomasstjerne commented on #3709
How about adding it to the occurrence in the scientificNameID field?
`scientificNameID: urn:lsid:zoobank.org:act:50AC3EA4-82E0-4AAD-BCDA-6DE6055888A7`

Then it would show up like this example (using Index Fungorum LSID):
https://www.gbif.org/occurrence/3008822353

[2021-11-01 11:25] valdenar commented on #3673
Hi @ManonGros, I will look at this. Thanks

[2021-11-01 13:04] truschel commented on #3669
Hi @ManonGros
I was checking this treatment and it is correct in the Treatment Bank:

https://treatment.plazi.org/GgServer/html/FA105F99A3C0906F289DA550F8F4542F
https://treatment.plazi.org/GgServer/html/1FBDE29609EF31C28A10192637BE4B75

We are investigating to know why it is not correct in the GBIF.

You are welcome to share any doubts.

[2021-11-01 13:14] ManonGros commented on #3669
Hi @truschel yes it looks good in the treatment, the issue seems to be only in the Darwin Core Archive. It looks like the name has been changed since I reported the issue. It is now `Festuca gigantea (Linnaeus, 1753) Vill.` (https://www.gbif.org/species/164000459) which is better than `Festuca gigantea Linnaeus, 1753`. It still isn't the accepted current name though (and it is different than the t

[2021-11-01 13:25] gamblebnmnh commented on #3688
For some reason the interpreted lat long for this record has reversed the lat long values from the original data.  I think this issue is to be corrected on GBIF side not NMNH side.

[2021-11-01 14:16] AbbyBenson commented on #3664
Smithsonian IT is working to fix this. "It is a case of putting in a URL prefix twice.  Should be correct via next IPT creation."

@gamblebnmnh will you update here when it's corrected so we can close the ticket?

[2021-11-01 16:37] AbbyBenson commented on #3542
Confirmed with The Field Museum that this is a country centroid. georeferenceProtocol states "TGN - Centroid".

[2021-11-01 16:51] gbif-portal opened #3710 "Outdated taxon"
**Outdated taxon**

Rana fasciata is a synonym of Strongylopus fasciatus (Smith 1849), Pyxicephalidae.
https://www.gbif.org/species/2429880

However, this taxon appears to group species that have since been split out of S. fasciatus, such as S. bonaespei and merumontanus (based on the distribution)

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4de1ea6e0753f33077a6d6843cf5a

[2021-11-02 11:03] gbif-portal opened #3711 "403 when accessing own derived datasets?"
**403 when accessing own derived datasets?**

There's an error in the browser console (403) when trying to load derived datasets: https://api.gbif.org/v1/derivedDataset/user/xyz

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/5cf3a10ef9eca193ebaef026db98e08f:c1447d6533df54d42da9df9338a3b797e2706dc348c472a6596e64e44e415b5ef6161554224843cdd3f9a45b1c4f3

[2021-11-02 13:25] ManonGros commented on #3696
Our system isn’t able to infer occurrence scientific names from a checklist.
Perhaps this could change in the future, but for now you will have to add the scientific names in the occurrence files.

[2021-11-02 13:25] #3696 closed, assigned to ManonGros

[2021-11-02 13:26] ManonGros commented on #3695
As far as I understand, OBIS decided to use the Extended Measurement Or Facts extension so the other ones were retired from the Sandbox (see [this comment](https://github.com/gbif/rs.gbif.org/issues/74)).

[2021-11-02 13:26] #3695 closed, assigned to nobody

[2021-11-02 13:27] ManonGros commented on #3694
The templates available include only the required and recommended Darwin Core fields. There are many Darwin Core terms and we don’t want to overwhelm new users by putting all of them in the template. The examples are not as tidy as they are based on real life data.

[2021-11-02 13:27] #3694 closed, assigned to ManonGros

[2021-11-02 13:30] gbif-portal opened #3712 "Update links to Excel templates"
**Update links to Excel templates**

Right now the links on this page for the Excel templates point to the IPT manual in GitHub (for example: https://github.com/gbif/ipt/wiki/checklistData#templates) but perhaps it would be better to link to this pretty manual: https://ipt.gbif.org/manual/en/ipt/2.5/checklist-data

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/fee

[2021-11-02 13:49] #3711 closed, assigned to thomasstjerne, mike-podolskiy90

[2021-11-02 13:54] gbif-portal opened #3713 "Central Park, Kyrgyzstan?"
**Central Park, Kyrgyzstan?**

Looks like a few records in this dataset is missing a minus in the longitude (should be a West, not East)—unless it's a different Central Park than what I know ;)

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/1f4878f0b7da4b9a70d0890e17f61f76:a555f701952e09678f2a09eeff6b1d49d40f32fe4188079a86d6b91907868064869689eb9caa0

[2021-11-02 13:56] ManonGros commented on #3688
Hi @gamblebnmnh
The original coordinates point to a location in Paraguay which doesn't match the country provided (Argentina), this is why the system attempts to swap them.
Would it be possible to update the coordinates at the MNHN to point to Chaco?

[2021-11-02 14:33] ManonGros commented on #3713
the problem is that this is a MGnify dataset and we don't really have a way to send feedback to EBI-EMBL publishers. Not sure what we can do here. @thomasstjerne any idea?

[2021-11-02 16:04] gamblebnmnh commented on #3688
Botany Department confirmed location is actually Paraguay so lat long were correct, country was wrong.  will be updated sometime this Friday Nov. 5, 2021.

[2021-11-02 17:03] gbif-portal opened #3714 "Hi. A few questions to 1st user.I ran 1st query on Camassia howellii, to see how that works"
**Hi. A few questions to 1st user.I ran 1st query on Camassia howellii, to see how that works**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4e74889f947e4ba6701417b183ea779b:322c3faf605c5f0290841732d2a606378337e3375be8ad1e5a505371bd8d13aa04f76d741005c8d13e2b84e912de828837ccb13945cdb541e3f8479d97ac8d9c)
System: Safari 11.1.2 / Mac OS X 10.12.6
Referer: https://www.gbif.org

[2021-11-02 20:15] gbif-portal opened #3715 "API requests for occurrence data?"
**API requests for occurrence data?**

Are API requests for occurrence records taking longer than usual to process? I've sent a few requests via JSON API and the requests are not showing up in my "downloads" section. It's as if they were never processed. The curl request was successful.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/bce73a11e11f8ec2d101b41d772c8205:52889f8d

[2021-11-03 08:50] ManonGros commented on #3714
Replied by email as this user sent more detailed questions on helpdesk.

[2021-11-03 08:50] #3714 closed, assigned to ManonGros

[2021-11-03 09:01] jhnwllr commented on #1854
**Stereocaulon myriocarpum**
https://www.gbif.org/species/7247116

does not list
https://api.gbif.org/v1/species/7247116/synonyms

**Lecidea myriocarpoides Nyl.**
https://www.gbif.org/species/7249241

as a synonym.

[2021-11-03 09:21] jhnwllr commented on #1854
**Lecanora myriocarpoides Vain.**
https://www.gbif.org/species/3401795

is not listed as a basionym of
(_Lists all (re)combinations of a given basionym, excluding the basionym itself._)
https://api.gbif.org/v1/species/3401795/combinations

of

**Stereocaulon myriocarpoides**
**Biatora myriocarpoides**

[2021-11-03 09:23] #1854 closed

[2021-11-03 09:28] dnoesgaard commented on #3712
Updated—thanks!

[2021-11-03 09:28] #3712 closed, assigned to nobody

[2021-11-03 10:23] jhnwllr commented on #3710
Does Rana fasciata **Burchell, 1824** have the wrong authorship?

COL has the name as
Rana fasciata **Smith, 1849**
(synonym of Strongylopus fasciatus (Smith, 1849))
https://www.catalogueoflife.org/data/taxon/534WK

Rana fasciata **Burchell, 1824** only appears in one checklist
https://www.gbif.org/dataset/80b4b440-eaca-4860-aadf-d0dfdd3e856e

[2021-11-03 10:56] jhnwllr commented on #2496
I don't think this is actionable with the current information given in the issue. I think we should close or ask for clarification.

[2021-11-03 11:15] gbif-portal opened #3716 "Add circled question mark to project page tabs"
**Add circled question mark to project page tabs**

The project page automatically includes tabs for datasets and news and event if available. To help projects, could we please add a (?) tab that simply shows this FAQ as a popup:

https://www.gbif.org/faq?question=how-can-i-link-datasets-events-etc-to-my-project-page

(could use class="circle-char" with a question mark that we use for inline faq p

[2021-11-03 12:11] jhnwllr commented on #2381
I think we can close this. The "dog" taxonomy seems not settled.

https://en.wikipedia.org/wiki/Dingo

[2021-11-03 12:27] jhnwllr commented on #2327
This issue needs to be split into separate issues to be handled properly.

[2021-11-03 12:29] jhnwllr opened #3717 "Ambopogon into Amphipogon (McAlpine 1977)"
There are a bunch of empty genera in this family, apparently left over when the included species were synonymized into other genera. They are as follows:

Ambopogon into Amphipogon (McAlpine 1977)
?Agrodaeta into Amphipogon. This genus doesn't appear anywhere except IRMNG, where I think it is a synonym for Macrochira, itself a synonym for Amphipogon.

https://github.com/gbif/portal-feedback/issues

[2021-11-03 12:33] jhnwllr opened #3718 "Amurocelsia seems to be a misspelling of Amuroclusia (Clusiidae)"
Amurocelsia seems to be a misspelling of Amuroclusia (Clusiidae) inherited from IRMNG, based on the fact that its only child species there is Amurocelsia nigromaculata, which mirrors the Amuoclusia species of the same name.

https://github.com/gbif/portal-feedback/issues/2327

[2021-11-03 12:35] jhnwllr opened #3719 "Empty genera in Piophilidae"
There are a bunch of empty genera in this family, apparently left over when the included species were synonymized into other genera. They are as follows:

Arctopiophila into Allopiophila (Ozerov 2004).

https://github.com/gbif/portal-feedback/issues/2327

[2021-11-03 12:36] jhnwllr opened #3720 "Empty genera in Piophilidae"
Lasiopiophila into Piophila. The only species in this genus is L. pilosa (McAlpine 1977, Ozerov 2004), which now appears under Piophila, following Catalogue of Life.

https://github.com/gbif/portal-feedback/issues/2327

[2021-11-03 12:37] jhnwllr opened #3721 "Empty genera in Piophilidae"
Liopiophila into Prochyliza (Ozerov 2004). This genus contains only L. varipes (McAlpine 1977), which appears misspelled as "varipesa" here and spelled correctly under Prochyliza.

https://github.com/gbif/portal-feedback/issues/2327

[2021-11-03 12:38] jhnwllr opened #3722 "Empty genera in Piophilidae"
Stearibia into Piophila. The only species in this genus is S. nigriceps (McAlpine 1977, Ozerov 2004), which now appears under Piophila, following Catalogue of Life.

https://github.com/gbif/portal-feedback/issues/2327

[2021-11-03 12:39] jhnwllr opened #3723 "Empty genera in Piophilidae"
Thyreolepida into Centrophlebomyia (Ceretti et al. 2013). The only species in this genus is T. cineria (McAlpine 1977, Ozerov 2004), which now appears as a synonym of Centrophlebomyia furcata, following Catalogue of Life.

https://github.com/gbif/portal-feedback/issues/2327

[2021-11-03 12:41] #2327 closed

[2021-11-03 12:56] #2381 closed

[2021-11-03 13:02] jhnwllr commented on #3723
Genus
**Thyreolepida Sack, 1939**
 https://www.gbif.org/species/1522352

should be marked as **doubtful** according to this feedback.

Need to contact these source datasets:
https://www.gbif.org/dataset/dbaa27eb-29e7-4cbb-8eab-3f689cfce116
https://www.gbif.org/dataset/0938172b-2086-439c-a1dd-c21cb0109ed5

[2021-11-03 13:05] jhnwllr commented on #3722
**Stearibia Lioy, 1864**
https://www.gbif.org/species/8919373

There are no species in the genus and it is marked as doubtful.

[2021-11-03 13:05] gbif-portal opened #3724 "Dataset metadata - multiple geographicCoverage elements"
**Dataset metadata - multiple geographicCoverage elements**

This test dataset is an example where the EML contains multiple  independent geographicCoverage elements.

It seems that right now we are not able to displayed them very well. Is this something that we could support?
<img width="608" alt="Screenshot 2021-11-03 at 14 05 35" src="https://user-images.githubusercontent.com/7677271/140065260-

[2021-11-03 13:27] jhnwllr commented on #3721
**Liopiophila Duda, 1924**
https://www.gbif.org/species/8830807

should be added as syn of

**Prochyliza Walker, 1849**
https://www.gbif.org/species/1522317

contact COL.

[2021-11-03 13:33] jhnwllr commented on #3720
**Lasiopiophila Duda, 1924**
https://www.gbif.org/species/4296347

should be syn of

**Piophila Fallen, 1810**
https://www.gbif.org/species/1444550

contact COL.

[2021-11-03 13:36] jhnwllr commented on #3719
**Arctopiophila Duda, 1924**
https://www.gbif.org/species/9070315

should be syn of

**Allopiophila Hendel, 1917**
https://www.gbif.org/species/1522362

contact COL.

[2021-11-03 13:43] jhnwllr commented on #3718
**Amurocelsia Mamaev, 1987**
https://www.gbif.org/species/4793158

is a misspelling of

**Amuroclusia**
https://www.gbif.org/species/1550351

contact
The Interim Register of Marine and Nonmarine Genera
https://www.gbif.org/dataset/0938172b-2086-439c-a1dd-c21cb0109ed5

[2021-11-03 13:52] jhnwllr commented on #2327
https://github.com/gbif/checklistbank/issues/52

[2021-11-03 13:54] jhnwllr commented on #3717
**Ambopogon Greene, 1919**
https://www.gbif.org/species/1522414

should be syn of

**Amphipogon Wahlberg, 1845**
https://www.gbif.org/species/1522415

contact COL.

[2021-11-03 14:02] jhnwllr commented on #3723
**Thyreolepida Sack, 1939**
https://www.gbif.org/species/1522352

should be added as syn of

**Centrophlebomyia Hendel, 1903**
https://www.gbif.org/species/1522358

contact COL.

[2021-11-03 14:03] jhnwllr commented on #3723
appears to be syn already

[2021-11-03 14:03] #3723 closed, assigned to jhnwllr

[2021-11-03 14:16] AbbyBenson commented on #3547
Can we close this ticket?

[2021-11-03 14:28] #3547 closed, assigned to nobody

[2021-11-03 15:02] ManonGros commented on #1812
I can see only one entry for this species now: https://www.gbif.org/species/9300336

[2021-11-03 15:02] #1812 closed

[2021-11-03 15:03] #1637 closed

[2021-11-03 15:07] #1300 closed

[2021-11-03 15:17] jhnwllr commented on #3710
contacted publisher

[2021-11-03 15:44] gbif-portal opened #3725 "DOI10.15468/dl.rw5n5r"
**DOI10.15468/dl.rw5n5r**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/34b1480acfcbeb533711d0be510e28a2:c458cb822d6562e3df3599a44813cf0e7a007b4e1d1eff91335e6ca44e720fa6117565dea2c771d10d10c2bc690dfffb89f5a57f0fb69005dbdfd450b54d75fc)
System: Firefox 93.0.0 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/download/0041178-210914110416597
Window size: width 1536 -

[2021-11-03 15:45] gbif-portal opened #3726 "The download for DOI10.15468/dl.rw5n5r was supposed to contain ~1.5 million records but only returned ~650,000"
**The download for DOI10.15468/dl.rw5n5r was supposed to contain ~1.5 million records but only returned ~650,000**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d120ebe5380e87cf1067e237c9787f4b:91296f3fce35e1cf14937e1f0b130007c52037f17afd865a406b80fc3884d71039359e477ab27feb21252a937809d827d08a5280e88ba90256e612c1f37278a3)
System: Firefox 93.0.0 / Windows 10.0.0
Referer: ht

[2021-11-03 17:33] #3725 closed, assigned to nobody

[2021-11-04 07:29] MortenHofft commented on #3716
I've always dreamt about us having a (?) tab on all pages, but one that explained what the entity was and how it related to other resources. So a "what am I looking at" for consumers, not a guide for publishers.

Does the FAQ belong in a tab? Isn't is like having a (?) tab on dataset pages with a description on how to debug and publish data.

If it belongs to that page shouldn't it be like the "tr

[2021-11-04 07:34] ManonGros commented on #2020
Reply from WSC:

"The species epithet is a patronym after the Australian arachnologist Mark S. Harvey"; lapsus calami, cf. ICZN Article 32.5.1. - there is no note that the authors intended to latinize"
According to Theo Blick from the WSC Board, there is no need to correct the specific epithet.
Best regards, Daniel

[2021-11-04 07:34] #2020 closed

[2021-11-04 07:39] ManonGros commented on #3726
I checked with `wc -l 0041178-210914110416597.csv` and the file contained 1,512,860 lines so I don't think there is any bug. I will contact the user to let them know (and also that adding the continent filter removes about 8M records. -> Done

[2021-11-04 07:53] #3726 closed, assigned to ManonGros

[2021-11-04 08:03] dnoesgaard commented on #3716
I like the idea of a general help tab/button/whatever, explaining what you're looking at and where to get more information!

This idea came out of discussions with Admin. It is intended for project leads and staff, who are not your average nor experienced publishers. We know that even though it is a requirement for projects, _and_ it is included in training materials and dataset requirement pages,

[2021-11-04 08:22] #3724 closed, assigned to nobody

[2021-11-04 08:36] MortenHofft commented on #3716
Would this work. Always showing the tab (also if no data) - and then have a FAQ popup on that page.
<img width="1434" alt="Screenshot 2021-11-04 at 09 34 20" src="https://user-images.githubusercontent.com/6759267/140282595-8dd39261-093c-4202-8a69-2b62ac4099df.png">

<img width="1439" alt="Screenshot 2021-11-04 at 09 34 51" src="https://user-images.githubusercontent.com/6759267/140282609-802bdaf1-5

[2021-11-04 08:39] dnoesgaard commented on #3716
Yeah, I think that works quite well. I'll split up the FAQ into two separate entries, then?

[2021-11-04 08:40] dnoesgaard commented on #3716
(I do like it when FAQs are specific!)

[2021-11-04 08:51] dnoesgaard commented on #3716
Dataset FAQ: 1GisR2xxlxvL2mfLmjVsEl
Events FAQ: 4seuMfKWNZ9LZjDSeiMu3P

[2021-11-04 08:57] #3716 closed, assigned to nobody

[2021-11-04 09:19] MortenHofft commented on #3705
From mail correspondance:

[2021-11-04 16:07] gbif-portal opened #3727 "Media type > video not working?"
**Media type &gt; video not working?**

I just went looking for [bat (Chiroptera) occurrences with video](https://www.gbif.org/occurrence/gallery?media_type=MovingImage&taxon_key=734&occurrence_status=present). The video facet says "5", but selecting it doesn't narrow the search result. Is the filter actually working?

-----

Github user: @kcopas
User: [See in registry](https://www.gbif.org/api/fe

[2021-11-04 16:13] MattBlissett commented on #3727
https://www.gbif.org/occurrence/search?media_type=MovingImage&taxon_key=734&occurrence_status=present (a couple are sounds, looks like a fairly obscure file format is being misinterpreted iNat and the mistake compounded by us.)

@kcopas

The table view works.  I think the gallery view is probably resulting in an "or" query.

[2021-11-04 16:16] kcopas commented on #3727
Thanks, yes, I can see the table now, and the gallery is what I was trying to look at ;-)

[2021-11-04 16:35] gbif-portal opened #3728 "Differences in maps at front page and at occurrence pages"
**Differences in maps at front page and at occurrence pages**

A new datapublisher in The Netherlands showed me that sometimes results on a map at the frontpage of GBIF are different than the results at the occurrence-map page.

This was the case for the UAT-environment, but it may be that in the production environment this problem does not exist. We discovered this in the dataset https://www.gbif

[2021-11-04 16:59] MattBlissett commented on #3728
Thanks @jeroencreuwels, I can see the problem.  It isn't any of the common causes, like records with coordinate issues or the UAT system being out-of-date.

Screenshots:

![image](https://user-images.githubusercontent.com/583320/140383377-b18bda48-2b1a-4575-a037-939e1ff69f00.png)

![image](https://user-images.githubusercontent.com/583320/140383599-5496089c-9dee-4c8a-a47b-9cc5927db340.png)

https:/

[2021-11-05 07:46] MortenHofft commented on #3727
No it is not working. And it never did. And I knew all along. Congratulations - you are the first to spot it.
I'm not joking.
Our API do not support filtering for things that have images AND also has movingImages. So the gallery will show images only either way.

[2021-11-05 08:22] gbif-portal opened #3729 "Atlatsjapyx atlas"
**Atlatsjapyx atlas**

Atlatsjapyx atlas No data

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/fe38c3cefe04a69a8bc2eab2a6f0af4a:9527da82883acc67847ee789970748cc7a3ad7d69bc43c70efa9305f584873229353fb3da16d3c2d249b6bc09adb672f274ecf29e616a0cfaba59020ec3feeda)
System: Chrome 95.0.4638 / Mac OS X 10.15.7
Referer: https://www.gbif.org/zh/search?q=Atlasjapyx%C2%A0atlas
Window si

[2021-11-05 08:30] MortenHofft commented on #3727
I've added a comment at the top of the gallery if additional media type filters is applied. Similar to what we do when filtering for licences and viewing the gallery.

You can see the behaviour in UAT
https://www.gbif-uat.org/occurrence/gallery?media_type=MovingImage&taxon_key=734&occurrence_status=present

I'm afraid it is the best I can do in the context of GBIF.org. I've tried removing the filt

[2021-11-05 09:18] MortenHofft commented on #3729
Indeed there is not https://www.gbif.org/occurrence/search?taxon_key=4576091

[2021-11-05 09:56] ManonGros commented on #3729
same as this issue: https://github.com/gbif/backbone-feedback/issues/377

[2021-11-05 14:46] gamblebnmnh commented on #3664
I have create new datasets with this URL error fixed.  I don't know how long it takes before our IPT is ingested into GBIF but it should be corrected when the Nov 5, 2021 published version is available.

[2021-11-07 15:38] gbif-portal opened #3730 ""Mancinella bufo (Lamarck, 1822)" is a basionym?"
**&quot;Mancinella bufo (Lamarck, 1822)&quot; is a basionym?**

When I get species details of Purpura bufo Lamarck, 1822 from the api, it tells me that is has a basionym, "Mancinella bufo (Lamarck, 1822)" with and id of 6125804.

I find this very difficult to interpret. Authorities in parenthesis indicate recombinations, which, as I understand it, cannot be basionyms/protonyms.

Their webpages jus

[2021-11-07 16:12] gbif-portal opened #3731 "Stated basionym not in agreement with source for Stramonita canaliculata (Gray, 1839)"
**Stated basionym not in agreement with source for Stramonita canaliculata (Gray, 1839)**

The GBIF webpage says that the basionym for this name is "Thais canaliculatus Gray, 1839", but the source MolluscaBase page that it cites says the original combination is "Fusus canaliculatus Gray, 1839". There is no sign that the MolluscaBase page has been recently updated.

-----

User: [See in registry](h

[2021-11-07 19:47] abubelinha commented on #3187
Yes of course. We know those numbers mean almost nothing because what users do with downloads is far beyond our knowledge. Any report based on them has to clarify that.

But on the other hand, download accounts are the only info we have to make reports about our gbif data usage. Am I wrong?
So we should at least know if those numbers are correct or not.

And I mentioned usage reports because I alr

[2021-11-08 07:58] ManonGros commented on #3664
Thank you @gamblebnmnh !

[2021-11-08 07:58] #3664 closed, assigned to nobody

[2021-11-08 07:59] #3688 closed, assigned to nobody

[2021-11-08 08:25] ManonGros commented on #2373
The record seem to have been updated

[2021-11-08 08:25] #2373 closed

[2021-11-08 08:27] ManonGros commented on #3471
The record now shows the name and locality corresponding to the image.

[2021-11-08 08:27] #3471 closed, assigned to jhnwllr

[2021-11-09 10:20] ManonGros commented on #2948
I forwarded the feedback via the MNHN feedback system: https://collections.nmnh.si.edu/search/botany/?ark=ark:/65665/33c6babf2c00a44e8b53a0f84ed96f1f3

[2021-11-09 13:07] #3617 closed, assigned to nobody

[2021-11-09 13:57] ManonGros commented on #3590
Hi @TannerMyers so sorry for the delayed answer on this. We will be making changes to our system but in the meanwhile, the easiest would be to create a new derived dataset (with the occurrence counts) if it isn't too late.

[2021-11-10 09:00] jhnwllr commented on #3685
I think if this gets fixed in TAXREF, it will be fixed in the backbone.
https://hosted-datasets.gbif.org/datasets/backbone/backbone-config.yaml

[2021-11-10 09:11] jhnwllr commented on #1404
@thomasstjerne any idea how to fix this?

[2021-11-10 09:23] jhnwllr commented on #2319
@DaveNicolson any advice here?

[2021-11-10 09:53] jhnwllr commented on #2319
I will also contact ITIS.

[2021-11-10 09:57] #2225 closed

[2021-11-10 10:01] jhnwllr commented on #2320
@DaveNicolson any advice here?

[2021-11-10 10:02] jhnwllr commented on #2318
@DaveNicolson any advice here?

[2021-11-10 10:07] jhnwllr commented on #2320
Will contact ITIS.

[2021-11-10 10:12] jhnwllr commented on #2318
Will write to ITIS.

[2021-11-10 10:19] jhnwllr commented on #1911
Will contact the The Leipzig catalogue of vascular plants. Seems to be the checklist with the misspelling.

[2021-11-10 10:22] jhnwllr commented on #1911
probably need to contact a few other publishers as well. I will just send an email to all of them.

[2021-11-10 10:27] ManonGros commented on #2134
https://www.gbif.org/species/11306087

[2021-11-10 10:27] #2134 closed

[2021-11-10 10:43] ManonGros commented on #3731
Hi @mdoering
I am not sure why the basionym for Stramonita canaliculata (Gray, 1839) is Thais canaliculata Gray, 1839 on GBIF. I cannot see that in the CoL: https://www.catalogueoflife.org/data/taxon/52V94. Could you check what is happening? Is this something that needs to be fixed on the GBIF side or on the checklist side? Thanks!

[2021-11-10 12:27] jhnwllr commented on #2123
I am closing this issue because it does not really seem actionable. Matching higher rank happens when we don't have the taxa in the backbone.

[2021-11-10 12:27] #2123 closed

[2021-11-10 12:34] jhnwllr commented on #1713
closing because issue not actionable in current form.

[2021-11-10 12:34] #1713 closed

[2021-11-10 12:36] ManonGros commented on #1305
It seems that ScaleNet is up to date: https://scalenet.info/catalogue/Apiomorpha%20minor/. I guess the issue is about updating ScaleNet in the CoL.

[2021-11-10 12:38] jhnwllr commented on #1540
This is fixed. The record is **no longer a fuzzy match** or  **Zerynthia (Papilio) rumina**

https://www.gbif.org/occurrence/1291103883

[2021-11-10 12:38] #1540 closed

[2021-11-10 13:07] ManonGros commented on #1739
I checked and all the species from the publication are now in GBIF.

[2021-11-10 13:07] #1739 closed

[2021-11-10 13:10] ManonGros commented on #1884
the species are independent in GBIF now: https://www.gbif.org/species/2492595 and https://www.gbif.org/species/6100855

[2021-11-10 13:10] #1884 closed

[2021-11-10 13:28] jhnwllr commented on #1757
contacted zoobank by email.

[2021-11-10 13:32] ManonGros commented on #398
As far as I can see, the data is now correct.

[2021-11-10 13:32] #398 closed

[2021-11-10 13:39] #1807 closed

[2021-11-10 13:41] jhnwllr commented on #3730
will make issue on COL.

[2021-11-10 13:54] ManonGros commented on #1747
From this publication: https://doi.org/10.11646/zootaxa.1802.1.1 published in 2008

[2021-11-10 13:56] jhnwllr commented on #2097
question mark appears to be gone.

[2021-11-10 13:56] #2097 closed

[2021-11-10 14:04] jhnwllr commented on #1260
Seems to be fixed.
https://www.gbif.org/species/2234680

[2021-11-10 14:04] #1260 closed

[2021-11-10 14:20] ManonGros commented on #1215
Contacted DynTaxa by email

[2021-11-10 14:25] jhnwllr commented on #2321
The genus

**Mycetaulus Loew, 1845**
https://www.gbif.org/species/1522353

Only one species remaining.
**Mycetaulus bipunctatus Fallén, 1823**
https://www.gbif.org/species/4516167

Should we try to get it moved to?
**Piophila Fallen, 1810**
https://www.gbif.org/species/1444550

@Chris-Angell

[2021-11-10 15:20] Chris-Angell commented on #2321
Hi John,

I disagree with Systema Dipterorum's (diptera.info) decision to lump
Mycetaulus into Piophila. I don't think that classification scheme is
widely used by entomologists. But if you are following them, then yes
Mycetaulus bipunctatus is a synonym of Piophila bipunctata, which is
already on GBIF.

I have been meaning to get in contact with the folks at SD to ask them
about this.

Chris

On

[2021-11-10 15:33] jhnwllr commented on #2480
wrote to WORMS and Dyntaxa.

[2021-11-10 16:20] mdoering commented on #3731
I cant find an immediate reason either.
The only thing that looks odd is that many subsequent combinations listed in MolluscBase do not use parenthesis, so the basionym detection might get lost. But if there was an explicit relation already given that should not be a problem.

[2021-11-10 16:24] mdoering commented on #3731
I know whats going on. It is a problem of my Darwin Core exporter from COL!
It uses wrong name ids instead of the name *usage* ids so the record in GBIF loses its basionym relation, see `OriginalNameUsageID invalid` here: https://www.gbif.org/species/172458771

This is a known issue, but I did not realizse the consequences for the GBIF Backbone:
https://github.com/CatalogueOfLife/backend/issues/10

[2021-11-10 16:25] mdoering commented on #3731
And without the explicit basionym relation there are 3 names wrongly appearing like the original combination:

 - Fusus canaliculatus Gray, 1839
 - Thais canaliculata Gray, 1839
 - Thais haemastoma canaliculata Gray, 1839

[2021-11-10 20:34] yroskov commented on #1747
@DaveNicolson

[2021-11-10 20:53] yroskov commented on #1911
The name is absent in the CoL

[2021-11-11 03:41] gbif-portal opened #3732 "doi"
**doi**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7c5108fcd5cbef4cda9fde052f028537:bf47f528214c34918762f8e03d268754b70f6b783ff8a724cfe750d093ea6991a81eca138f68d7aa273abfc55308e71234a6d4464cd306fecb097812e286a7d4)
System: Firefox 94.0.0 / Windows 10.0.0
Referer: https://www.gbif.org/resource/search?q=doi&contentType=tool
Window size: width 1920 - height 899
[API log](ht

[2021-11-11 07:40] #1881 closed

[2021-11-11 08:54] jhnwllr commented on #1757
@RicardoOrtizG

The publisher claims this is not a misspelling, but appreciates the feedback.

https://www.biodiversitylibrary.org/page/42946509#page/317/mode/1up

I will close the issue now.

[2021-11-11 08:54] #1757 closed

[2021-11-11 12:11] #1404 closed

[2021-11-11 13:36] #3732 closed, assigned to nobody

[2021-11-11 17:42] gbif-portal opened #3733 "Hello,"
**Hello,**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/023177f1d1594018be87377df6cc3bfe:6e9dd884a02ea38d0880e7764d2ca4da5d59f9a83161144cf38e5ffc9a18698a3bbacdcdd55f35d776a924aa34ef029773235619a2de65aea2ea42663cedd44e)
System: Chrome 95.0.4638 / Windows 10.0.0
Referer: https://www.gbif.org/developer/occurrence
Window size: width 1707 - height 859
[API log](https://private

[2021-11-11 20:23] deepreef commented on #3710
The record in the Official Lists and Indexes of Names in Zoology refers to the nomenclatural act, not the currently accepted taxonomy, so the record in that dataset should remain as it is.

[2021-11-11 20:41] deepreef commented on #1757
Original spelling in the 1764 work can be seen here:
https://www.biodiversitylibrary.org/page/51335440#page/766/mode/1up
and here:
https://www.biodiversitylibrary.org/page/35369214#page/764/mode/1up
(as well as other pages in this volume).

Additional information on this name is here:
https://www.biodiversitylibrary.org/page/12223665#page/98/mode/1up

[2021-11-11 21:28] dshorthouse opened #3734 "Occurrence pages denied by robots.txt"
The https://gbif.org/robots.txt directives evidently deny indexing of occurrence pages and yet there are `og:title` headers, which suggests you do in fact wish for occurrence pages to be indexed. The twitter card validator for occurrence pages says:

[code]

...which severely limits their reach on social networks.

[2021-11-11 22:00] MortenHofft commented on #3734
Hi David
We deny robots as we have had issues with Google in the past if we allow them to index 2 billion occurrences (they classified us as spam I believe)

But we add open graph tags nonetheless - if I remember correctly we generate them automatically. But I do not see any reason for explicitly removing them. Facebook reads the pages just fine. At least their preview tool works fine with occurre

[2021-11-11 22:05] #3733 closed, assigned to nobody

[2021-11-11 22:13] dshorthouse commented on #3734
Really?! That's unfortunate. I was hopeful that there'd by a Twitter card with media to go along with tweets like this https://twitter.com/bionomiatrack/status/1458842194689728525?s=21 but apparently Twitter looks at robots.txt and then shows nothing. iNaturalist seems not to have taken the same view.

[2021-11-12 00:40] gbif-portal opened #3735 "Large File Occurrence Data"
**Large File Occurrence Data**

My json queried simple csv Excel document had more than 1,400,000 occurrences and was cut off after 1 sheet (1,400,000+ rows). What is the best way around this? Is it possible to download a text document to convert to csv?

Also, as a non programmer, it took me quite a bit of trial and error to figure out curl and json! Is the Helpdesk the best place to ask question

[2021-11-12 07:28] MortenHofft commented on #3734
Yes it is a shame. Perhaps there is a way to satisfy both, but I do not know how to I must admit. If you or anyone else do, then please let me know. Then I would be happy to adjust the site tags and robots file.

My best guess for an alternative approach, would be to allow indexing of individual occurrences, but not following links.
And to make sure that they do not get indexed to begin with, by d

[2021-11-12 07:40] ApoSimon opened #3736 "Duplicate Synonym: Nereis virens Sars, 1835"
The species name Nereis virens Sars, 1835 (syn. of Alitta virens (M.Sars, 1835), https://www.gbif.org/species/2315395) is duplicated in the backbone with different associated data.

Nereis virens Sars, 1835: https://www.gbif.org/species/5196123
- source: World Polychaeta Database (http://www.marinespecies.org/polychaeta/aphia.php?p=taxdetails&id=238384)

Nereis virens Sars, 1835: https://www.gbif.

[2021-11-12 08:23] thomasstjerne commented on #1404
@jhnwllr I added it to the Backbone patch

[2021-11-12 09:57] gbif-portal opened #3737 "Custom downloads"
**Custom downloads**

Recently undertook a complex geoJSON location filter with over 11,000,000 records that would have produced a 6GB download, which would have ben way to big to work on.  Only needed the coordinates for the what I needed - a map visualisation.  Would be great if rather only having the simple csv file I could have specified that I only needed the coordinates, which would have gre

[2021-11-12 09:59] gbif-portal opened #3738 "Downloadable charts and metrics"
**Downloadable charts and metrics**

Recently wanted to use the charts provided on the metrics tabs for datasets and searches in a presentation but cannot download these and did not want to use a screenshot, which are less flexible.  Being able to download the charts and also the associated metrics would be great

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/398c24d3cab000

[2021-11-12 10:33] MortenHofft commented on #3738
The data is all driven from the API. The most flexible is to download the data and generate the chart.
For some users I imagine this is daunting.

Though downloading the chart as a png is slightly more convenient than a screenshot, the end result is largely the same. If you want it to look as on the website, then a screenshot is your best option. An image download might come close, but is a flawed

[2021-11-12 13:39] thomasstjerne commented on #3738
For all the Highcharts based ones it would be straight forward if we rely on their build-in download feature. We may have chosen not to expose this for consistency across Highcharts / non-Highcharts views. Maybe we should live with inconsistency and expose the download option where possible?
Example from COL: https://data.catalogueoflife.org/dataset/1010/imports
<img width="496" alt="Screenshot at

[2021-11-12 13:43] robboyd commented on #3324
Is it possible to flag up the discrepancy between the number of records based on the continent filter and what one would get if they used a bounding box or spatial polygon for filtering? It would argue that the ability to filter by continent implies that those filters are thought to capture all records in that continent. I recently had to redo an analysis because I realised late in the day that fi

[2021-11-12 14:07] dshorthouse commented on #3734
A `nofollow` directive, absent the `noindex`, might be the more logical approach here, but I have no idea what this does to SEO with respect to internal linking. I do agree that a sitemap that contains **ALL** the occurrence pages would not likely be a good approach.

[2021-11-12 14:28] ManonGros commented on #3735
Replied by email:

You could try using some R library to process the file (see [our forum thread on the topic](https://discourse.gbif.org/t/reading-gbif-downloads-simple-csv-with-r/2615)) for example. You could also consider splitting the file or generating two downloads (with two set of species) so that each download generated is smaller and easier to handle.

You can also post them on our forum

[2021-11-12 14:28] #3735 closed, assigned to ManonGros

[2021-11-12 17:49] DaveNicolson commented on #1747
An update to Trichoptera in ITIS is overdue, and we are discussing options. All this should be folded into the overall update, once we are able to complete it. There is not a specific timeline for it yet, though.

[2021-11-12 18:47] DaveNicolson commented on #2319
Hi John,

I have been out on sick leave & yesterday was a federal holiday here. Please continue to tag me for these (or email me directly) rather than sending them to ITISwebmaster email.

FYI, DIPTERA in ITIS is almost entirely unverified data inherited from the NODC predecessor (credibility rating = "unverified" on itis.gov website, but the underlying value is actually "No review; untreated NODC

[2021-11-12 18:52] DaveNicolson commented on #2320
Please see https://github.com/gbif/portal-feedback/issues/2319, this is the same dipteran family.

[2021-11-12 18:52] DaveNicolson commented on #2318
Please see https://github.com/gbif/portal-feedback/issues/2319, this is the same dipteran family.

[2021-11-13 01:34] gbif-portal opened #3739 "Location error"
**Location error**

The location name in the label and detail clearly state "Harapan Rain Forest" that only known in Jambi province, Sumatra; not in Borneo

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9698f1463dbbfac94f8914a55070a2ea:190a6e36a1e3c7d306295b579f3b97aeceed715405b23400a45fa5a76b44e4062e71b2cf23a47cf64a58710dc29f7bcd7bff2357e7ddb71204afd99d6bb5f4ca)
System: Ch

[2021-11-13 01:36] gbif-portal opened #3740 "Location error"
**Location error**

The label and detailed description state the location is "Harapan Rain Forest" in Jambi, Sumatra; not in Borneo

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6f585408c029279abe2d42424a96a335:db4fc470a4478d251f5bd0d6d2dba7517cbe7ced503a4a8050ea6e550304f9caa95ed3d37eb9fcf5f3eac8e855ce3a99e2056ea1d99b9d65d7ac622d37853020)
System: Chrome 95.0.4638 / Mac OS

[2021-11-13 08:08] gbif-portal opened #3741 "Неверный год находки"
**Неверный год находки**

https://www.gbif.org/ru/occurrence/search?offset=0&recorded_by=Helm%20P.%20G.&advanced=1
Необходимо поправить год находки на 1871 и 1869 соответственно!

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d221109053a7ffb9c5993e4c0f8720de:cbea2feca0c66de37c63e485e4eeb8ea6d47572034021877ac7df3a60d152bf37e109cbb9ffd794ab2de0dddf974acb563d75545f4dbaf972dedd

[2021-11-14 04:05] gbif-portal opened #3742 "How to Obtain Synonym Taxon Keys"
**How to Obtain Synonym Taxon Keys**

I noticed that when I grabbed a bunch of occurrence data for my collection of taxon keys that it included the occurrences for synonym taxa as well. I now need to tag the new synonym keys back to the species. I see that it's possible to access the infraspecies taxon information from a species page, but I can't always find the taxon key for the synonym taxa. Wha

[2021-11-15 07:05] gbif-portal opened #3743 "Trouble with occurrence counts from API"
**Trouble with occurrence counts from API**

I managed to download occurrences by following the directions in the API, but have been unsuccessful with querying counts for observations from my collection of taxon keys. Would you be able to help me out?

Here is my curl line:

curl --include --user smudd13:PASSWORD --header "Content-Type: application/json" --data @/c/Users/smudd/OneDrive/Documents/q

[2021-11-15 15:51] gbif-portal opened #3744 "'ScientificName' for Pentagramma triangularis contains a comma. Would be great to have this removed, it was causing problems when I was processing data in R. It took forever for me to find this issue amongst millions of records."
**&#39;ScientificName&#39; for Pentagramma triangularis contains a comma. Would be great to have this removed, it was causing problems when I was processing data in R. It took forever for me to find this issue amongst millions of records.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d9df8fab6ffdbd50c63cdff3d537f35a:effa20d210ea9c4702c403a99c621e7ab2c5cd11a9c12b93a2151b0

[2021-11-16 11:40] ApoSimon opened #3745 "Echinococcus species and synonyms"
GBIF species records in the medically important genus _Echinococcus_ mostly lack authorship and/or synonymy. An update according to Romig et al. 2015 would be desirable. Additional "synonyms" and misspellings may be found in Vuitton et al. 2020 (Tab. 1A).

_Echinococcus canadensis_ (https://www.gbif.org/species/10135430)
- _Echinococcus canadensis_ Webster & Cameron, 1961 (Basionym: _Echinococcus

[2021-11-16 17:00] MattBlissett commented on #3734
We have `User-Agent: *` at the start, when we could perhaps be less restrictive and `Allow: ` Twitter, or only disallow some known search engines.

[2021-11-16 17:04] MattBlissett commented on #3741
Translation:

[2021-11-17 09:16] ManonGros commented on #3744
The species concerned is this one but I don't think we can just remove the comma: https://www.gbif.org/species/5275443, can we?

[2021-11-17 09:18] gbif-portal opened #3746 "Dactyloglossum ponticum Kohlmüller is not synonym of Dactylorhiza pontica (Kohlmüller) P.Delforge"
**Dactyloglossum ponticum Kohlmüller is not synonym of Dactylorhiza pontica (Kohlmüller) P.Delforge**

This is a feedback message that we received on Helpdesk:

Dactyloglossum ponticum Kohlmüller, Ber. Arbeitskreis. Heimische Orchid. 16: 74. (1999) is not synonym of Dactylorhiza pontica (Kohlmüller) P.Delforge, Naturalistes Belges 81: 397. (2000).

If you look at the article, it is not Kohlmüller’

[2021-11-17 09:21] jhnwllr commented on #3745
This issues seems like it would easier to work with by splitting into separate issues. I will do that now.

[2021-11-17 09:27] jhnwllr opened #3747 "Echinococcus"
https://github.com/gbif/portal-feedback/issues/3745

Echinococcus canadensis (https://www.gbif.org/species/10135430; source: International Barcode of Life project (iBOL) Barcode Index Numbers (BINs))

* Echinococcus canadensis Webster & Cameron, 1961 (Basionym: Echinococcus granulosus canadensis Webster & Cameron, 1961)
* Synonym: Echinococcus granulosus borealis Sweatman & Williams, 1963

[2021-11-17 09:28] jhnwllr opened #3748 "Echinococcus"
https://github.com/gbif/portal-feedback/issues/3745

Echinococcus equinus (https://www.gbif.org/species/10531375; source: International Barcode of Life project (iBOL) Barcode Index Numbers (BINs))

* Echinococcus equinus Williams & Sweatman, 1963 (Basionym: Echinococcus granulosus equinus Williams & Sweatman, 1963)

[2021-11-17 09:31] jhnwllr opened #3749 "Echinococcus"
https://github.com/gbif/portal-feedback/issues/3745

Echinococcus felidis (https://www.gbif.org/species/10042383; source: International Barcode of Life project (iBOL) Barcode Index Numbers (BINs))

* Echinococcus felidis Ortlepp, 1937

[2021-11-17 09:32] jhnwllr opened #3750 "Echinococcus"
https://github.com/gbif/portal-feedback/issues/3745

Echinococcus granulosus (Batsch, 1786) (https://www.gbif.org/species/5817851; source: Taxon list of animals with German names (worldwide) compiled at the SMNS)

Synoynm: Echinococcus minimus Cameron, 1926
Synonym: Echinococcus longimanubrius Cameron, 1926
Synonym: Echinococcus cameroni Ortlepp, 1934
Synonym: Echinococcus lycaontis Ortlepp, 1934

[2021-11-17 09:32] jhnwllr opened #3751 "Echinococcus"
Echinococcus multilocularis Leuckart, 1863 (https://www.gbif.org/species/7725417; source: Taxon list of animals with German names (worldwide) compiled at the SMNS)

Echinococcus multilocularis (Leuckart, 1863) (Basionym: Taenia multilocularis Leukart, 1863)
Synonym: Echinococcus sibiricensis Rausch & Schiller, 1954
Synonym: Echinococcus russicensis Tang et al., 2007

[2021-11-17 09:36] jhnwllr opened #3752 "Echinococcus"
https://github.com/gbif/portal-feedback/issues/3745

Echinococcus oligarthrus (https://www.gbif.org/species/8070786; source: International Barcode of Life project (iBOL) Barcode Index Numbers (BINs))

Echinococcus oligarthra (Diesing, 1863) (Basionym: Taenia oligarthra Diesing, 1863); for the spelling see Vuitton et al. 2020
Synonym: Echinococcus cruzi Brumpt & Joyeux, 1924
Synonym: Echinococcus p

[2021-11-17 09:37] jhnwllr opened #3753 "Echinococcus"
https://github.com/gbif/portal-feedback/issues/3745

Echinococcus ortleppi (https://www.gbif.org/species/10303314; source: International Barcode of Life project (iBOL) Barcode Index Numbers (BINs))

Echinococcus ortleppi Lopez-Neyra & Soler Planas, 1943

[2021-11-17 09:38] jhnwllr opened #3754 "Echinococcus"
https://github.com/gbif/portal-feedback/issues/3745

Echinococcus shiquicus Xiao et al., 2005

not in Backbone

[2021-11-17 09:40] jhnwllr opened #3755 "Echinococcus"
https://github.com/gbif/portal-feedback/issues/3745

Echinococcus vogeli (https://www.gbif.org/species/7011607; source: International Barcode of Life project (iBOL) Barcode Index Numbers (BINs))

Echinococcus vogeli Rausch & Bernstein, 1972

[2021-11-17 09:50] jhnwllr commented on #3755
will contact iBOL

[2021-11-17 10:00] jhnwllr commented on #3752
will contact iBOL.

[2021-11-17 10:02] gbif-portal opened #3756 "Please could the contact details and email of user "PSG Webmaster" be removed from the dataset https://www.gbif.org/dataset/f49dfe83-55d7-4fd8-8d5e-3480cc9fa420. Thank you."
**Please could the contact details and email of user &quot;PSG Webmaster&quot; be removed from the dataset `https://www.gbif.org/dataset/f49dfe83-55d7-4fd8-8d5e-3480cc9fa420.` Thank you.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c22451709e9b70b72e3192da03ffe9ae:617378e839b80602169d4015bc7e8fca024df160db8dd458b5e784f3ff9399a1c36b9e5ea209c3a1a83621ef94a3fac96b1e13b1363

[2021-11-17 10:06] jhnwllr commented on #3749
will contact iBOL

[2021-11-17 10:29] ApoSimon commented on #3752
Regarding the spelling of _Echinococcus oligarthra_ (Diesing, 1863): "The component “arthra”, originally proposed by Diesing, comes from the ancient Greek ἄρθρα –arthra (joints) which is the plural of ἄρθρον -arthron (joint). The name is therefore not an adjective, but a noun in apposition, which does not change its ending according to the gender of the generic name. This was recognized earlier bu

[2021-11-17 10:30] jhnwllr commented on #3751
will write to publisher

[2021-11-17 10:39] jhnwllr commented on #3750
will write to publisher

[2021-11-17 10:39] jhnwllr commented on #3754
will make issue on COL.

[2021-11-17 10:43] jhnwllr commented on #3754
Species exists but is missing authorship.

**Echinococcus shiquicus** should be **Echinococcus shiquicus Xiao et al., 2005**
https://www.gbif.org/species/7011608

Will write to iBOL

[2021-11-17 10:57] ManonGros commented on #3742
Replied by email together with other questions the user had.

I sent them the link to the documentation of the [Species API](https://www.gbif.org/developer/species)

[2021-11-17 10:57] #3742 closed, assigned to ManonGros

[2021-11-17 10:58] ManonGros commented on #3743
Replied to the user by email together with other questions.

I think the issue is that the URL used is https://api.gbif.org/v1/occurrence/counts but should be https://api.gbif.org/v1/occurrence/count

[2021-11-17 10:58] #3743 closed, assigned to ManonGros

[2021-11-17 12:24] jhnwllr commented on #2321
ok I will write to the publisher. Thanks @Chris-Angell

[2021-11-17 12:26] MattBlissett commented on #3756
Done, replied by email.

[2021-11-17 12:26] #3756 closed, assigned to nobody

[2021-11-17 12:27] #3744 closed, assigned to ManonGros

[2021-11-17 12:37] jhnwllr commented on #3736
It appears to me that the data is not duplicated between synonyms is this case.

There appears to be mapping of occurrences between the two names.
Nereis virens Sars, 1835 <--> Alitta virens (M.Sars, 1835)

https://www.gbif.org/occurrence/search?taxon_key=5196123
![image](https://user-images.githubusercontent.com/4245213/142201891-70f1f44c-41c8-44bb-9f7a-b188954a629b.png)

[2021-11-17 13:31] gbif-portal opened #3757 "No taxon match although taxon in backbone taxonomy"
**No taxon match although taxon in backbone taxonomy**

I just reinterpreted this  and yet this occurrence doesn’t have a taxon match (even though the match API gives an exact match: https://api.gbif.org/v1/species/match?verbose=true&name=Porina%20lectissima)

I don't really understand what is happening, could someone take a look?

-----

Github user: @ManonGros
User: [See in registry](https://www

[2021-11-17 13:56] gbif-portal opened #3758 "The basionym of Mimeresia semirufa is Pseuderesia semirufa Grose-Smith, 1902"
**The basionym of Mimeresia semirufa is Pseuderesia semirufa Grose-Smith, 1902**

The correct author is "Grose-Smith, 1902".
I believe the correct publication information for original descriptions and recombinations is at the following links.

https://www.nic.funet.fi/pub/sci/bio/life/insecta/lepidoptera/ditrysia/papilionoidea/lycaenidae/poritiinae/mimeresia/#semirufa

https://www.nic.funet.fi/pub

[2021-11-17 14:03] #2243 closed

[2021-11-17 14:11] jhnwllr opened #3759 "species-lookup should have a download all species button"
Idea...

There should be a download button on species lookup, since we have long species list downloads now.
https://www.gbif.org/tools/species-lookup

![image](https://user-images.githubusercontent.com/4245213/142215623-f544ac69-64f2-4719-8901-82819a9bf0bc.png)

[2021-11-17 14:21] ApoSimon commented on #3736
This is the backbone taxonomy record:
https://www.gbif.org/species/5196123
However, the original publication information is only contained in the COL-checklist record:
https://www.gbif.org/species/174769627 ("This is the interpretation of the species as published in Catalogue of Life Checklist."; links to https://www.gbif.org/species/5196123)

The Alitta virens (M.Sars, 1835) record (https://www.g

[2021-11-17 14:37] jhnwllr commented on #3746
Will write to COL.

[2021-11-17 14:54] ApoSimon opened #3760 "Stichorchis subtriquetrus (Rudolphi, 1814), wrong basionym"
_Stichorchis subtriquetrus_ (Rudolphi, 1814) (https://www.gbif.org/species/2505632, source: Checklist Dutch Species Register - Nederlands Soortenregister)
The allocated basionym "_Distoma subtriquetrus_ Rudolphi, 1814" is incorrect. The correct basionym would be _Amphistoma subtriquetrus_ Rudolphi, 1814 as publ. in Rudolphi, K. A. (1819). Entozoorum synopsis cui accedunt mantissa duplex et indices

[2021-11-17 15:25] jhnwllr commented on #3760
Will contact Checklist Dutch Species Register

[2021-11-17 20:51] gbif-portal opened #3761 ""Calidris virgata Gmelin, 1789" is incorrect"
**&quot;Calidris virgata Gmelin, 1789&quot; is incorrect**

Gmelin's original descriptions don't seem to be accessible online, but here's a link to a vintage paper confirming that the his original combination was  Tringa virgata.

https://www.jstor.org/stable/1366692

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0fb2f6e574a75dac99d1009d4573f96d:db8f163a7a5aefd3af493fe3bab5

[2021-11-17 21:24] gbif-portal opened #3762 "Correct protonym for Symposiachrus boanensis is Monarcha trivirgata boanensis"
**Correct protonym for Symposiachrus boanensis is Monarcha trivirgata boanensis**

See C.W. Moeliker & C.J. Heij; Deinsea 2 - 1995 pp 123-143
"The rediscovery of Monarcha boanensis (Aves: Monarchidae) from Boano Island, Indonesia"

Available online at https://www.hetnatuurhistorisch.nl/fileadmin/user_upload/documents-nmr/Publicaties/Deinsea/Deinsea_02/Deinsea_2_p145-155_Heij.pdf

-----

User: [See

[2021-11-18 09:08] ApoSimon commented on #3750
_Echinococcus granulosus_ subsp. _equinus_ Williams & Sweatman, 1963 (https://www.gbif.org/species/9086249; source: Fauna Europaea) is currently treated as synonym of _Echinococcus granulosus_ (Batsch, 1786) (https://www.gbif.org/species/5817851). The correct synonymization would be with _Echinococcus equinus_ [Williams & Sweatman, 1963] (https://www.gbif.org/species/10531375; source: Internationa

[2021-11-18 09:11] ApoSimon commented on #3748
also see #3750 Echinococcus granulosus subsp. equinus Williams & Sweatman, 1963 - mismatch

[2021-11-18 09:31] jhnwllr commented on #3755
iBOL apparently does not use author strings so I will make an issue with COL instead.

[2021-11-18 09:32] jhnwllr commented on #3754
iBOL apparently does not use author strings so I will make an issue with COL instead.

[2021-11-18 09:32] jhnwllr commented on #3753
iBOL apparently does not use author strings so I will make an issue with COL instead.

[2021-11-18 09:45] jhnwllr commented on #3752
iBOL apparently does not use author strings so I will make an issue with COL instead.

[2021-11-18 09:46] jhnwllr commented on #3749
iBOL apparently does not use author strings so I will make an issue with COL instead.

[2021-11-18 09:47] jhnwllr commented on #3748
iBOL apparently does not use author strings so I will make an issue with COL instead.

[2021-11-18 09:47] jhnwllr commented on #3747
iBOL apparently does not use author strings so I will make an issue with COL instead.

[2021-11-18 11:17] gbif-portal opened #3763 "Euura longiserra (C.G. Thomson, 1863)"
**Euura longiserra (C.G. Thomson, 1863)**

https://www.inaturalist.org/observations?verifiable=true&taxon_id=1046076&place_id=7161&preferred_place_id=7161&locale=ru
NO DATA ABOUT FIND SPECIES IN GBIF

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/13f4e7f0a7a150b778143bf42980cee7:1c4f5bbf3b7982beee6081c29b2fa5967153c78fb22e38d8422417ac6c2a1222bb4d102a9b4101e28cc2d7539314d70d

[2021-11-18 12:46] gbif-portal opened #3764 "Nematus luteus"
**Nematus luteus**

https://www.inaturalist.org/observations/99341514
https://www.inaturalist.org/observations/99341515

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/89be8ee248727ff11b5f74b175797f11:44339e92b1b6f118c0e5d40720bdb6594999461bd893faad52d30aa6c3161273347ba6d7915c4a7f0168bf87cacaae8057323f6fcfe2faa1e736d6c9acec992a)
System: Yandex Browser 21.11.0 / Windows 10.0.

[2021-11-18 14:15] gbif-portal opened #3765 "Checklist isn't being indexed although the content seems fine"
**Checklist isn&#39;t being indexed although the content seems fine**

Apparently, @mdoering was able to import the archive in his local database. We forced the re-ingestion but it aborted again.
According to the logs:
[code]
after normalization completes
[code]

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/cf2fe38bbe921e69767b2455148227b2:1f47b90a8

[2021-11-18 14:30] #3765 closed, assigned to nobody

[2021-11-19 09:08] gbif-portal opened #3766 "Validator says file can be indexed although eventIDs aren't unique"
**Validator says file can be indexed although eventIDs aren&#39;t unique**

The dataset cannot be indexed in UAT. I assume that this is because the eventIDs aren't unique (and possible because there are issues with referential integrity). But the validator doesn't show these issues (presumably because the `coreID` column contains unique values).

File validated:
[edi.916.1.zip](https://github.com/

[2021-11-19 10:04] ManonGros commented on #3763
The records are in GBIF: https://www.gbif.org/occurrence/search?dataset_key=50c9509d-22c7-4a22-a47d-8c48425ef4a7&advanced=1&verbatim_scientific_name=Euura%20longiserra&occurrence_status=present

But they are matched to the genus instead of the species because iNaturalist doesn't provide author names and we have two species with the canonical name "Euura longiserra" (none of them accepted names) an

[2021-11-19 14:28] ManonGros commented on #3763
From what I can see in https://doi.org/10.11646/zootaxa.4302.1.1, _Euura longiserra_ should be the accepted name (“Euura longiserra group (formerly placed in Amauronematus)“). This corresponds to the information provided by the National checklist of all species occurring in Denmark: https://www.gbif.org/species/185117434.

However, in the backbone the accepted name is _Amauronematus longiserra_ (T

[2021-11-19 15:05] ManonGros commented on #3764
The observations are on GBIF: https://www.gbif.org/ru/occurrence/search?recorded_by=Andrey%20Ponomarev&taxon_key=4491476&advanced=1, I contacted the user to let him know.

[2021-11-19 15:05] #3764 closed, assigned to ManonGros

[2021-11-19 20:09] gbif-portal opened #3767 "Euura vaga"
**Euura vaga**

https://www.inaturalist.org/observations/99191218#activity_comment_e148d4bf-e995-4133-af32-e2a5ec824ae7

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/63b185a4dcf151bb019943fb8d5f7379:813fddcd5045e8bc45196ae65a898003e0303089a464b6ee9d4dbadc2ed6fc936a9e06a59959678cfa6aa1715fb16169053683f48a563785dba6931621a15e2f)
System: Yandex Browser 21.11.0 / Windows 10.0.

[2021-11-19 20:10] gbif-portal opened #3768 "Fenusa ewaldi"
**Fenusa ewaldi**

https://www.inaturalist.org/taxa/1308998-Fenusa-ewaldi

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/38921d3b4376cb30944ef0d60cf456cc:9fdbb169b761d474491651a1ab637ef925adb1a3bc7c3ab2cb0b53b8cf107a1ed0b2689109d1b734db0c965c1fa7d159cbe6188bad451d6a423f03840b579ddf)
System: Yandex Browser 21.11.0 / Windows 10.0.0
Referer: https://www.gbif.org/ru/species/961

[2021-11-19 20:11] gbif-portal opened #3769 "Calameuta) punctata"
**Calameuta) punctata**

https://www.inaturalist.org/taxa/1293701-Calameuta-punctata

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/105aeadaeac72be4888ff29c4d65b6be:1f0bc861d405105d91c64f758a08aac60a8a6ffa2607f85c866257b89736fb0c338e1b0c4df092c9b5cc8832e6d1c4dc357daa7e2f8eadc25d0316f6dbea5fab)
System: Yandex Browser 21.11.0 / Windows 10.0.0
Referer: https://www.gbif.org/ru/

[2021-11-19 20:13] gbif-portal opened #3770 "Euura leucapsis"
**Euura leucapsis**

https://www.inaturalist.org/taxa/805200-Euura-leucapsis

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/edb22d3985667b8857291e2b103c0d16:b09c407d08cc2fbd1c042b14b5ba0d12c2dab0c5fa9fbcca7917784e1912985b097a28a1001ea323b8105f24d303223211ca93c8b916d44f8f4e6d0d85b563c6)
System: Yandex Browser 21.11.0 / Windows 10.0.0
Referer: https://www.gbif.org/ru/species/

[2021-11-22 09:04] gbif-portal opened #3771 "dataset record contains a dead link"
**dataset record contains a dead link**

The dataset https://www.gbif.org/dataset/b0a42677-76a5-445a-aa5e-d1956f4ab142 should have the alternate identifier: http://ipt.vliz.be/eurobis/resource?r=epibenthos_demersal_fish_aniline_discharge_belgian_shelf_1982-1984 removed

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/58714d3fc0a21a3562618c440b05b452:0d261513bc4292f51fb0c70d78

[2021-11-22 10:41] gbif-portal opened #3772 "Misspelled authorship"
**Misspelled authorship**

This is a message originally sent to helpdesk:
“Corsskey” should be “Crosskey”

Stephen M Smith, Dept of Biology, University of Waterloo, Waterloo, ON Canada  N2L 3G1
[This address is for information only. I make no claim that my views are those of the Biology Department or of the University of Waterloo.]

The PLAZI treatments show the correct spelling and the CoL doesn'

[2021-11-23 09:44] gbif-portal opened #3773 "Descriptors for filter"
**Descriptors for filter**

Encourage the development of descriptors for the filter on GBIF to describe what each of the filters is doing and why there might be discrepancies between filters e.g. the polygons used for country filter and the GDAM filter do not completely align that leads to different data being retrieved based on which filter you use.

-----

User: [See in registry](https://www.gbi

[2021-11-23 11:42] MortenHofft commented on #3773
Hi @andrewrodrigues
I think that is a good idea. And it is possible to add it, but someone needs to write them. I will label this a content issue as that is the main task. The UI might need to adapt a bit depending on what types of text is written.

Here is an example relating to the continent filter

<img width="350" alt="Screenshot 2021-11-23 at 12 41 32" src="https://user-images.githubuserconte

[2021-11-24 08:55] MortenHofft commented on #3773
Perhaps we could
* write a simple text that can show on the filter as above (or in the hosted portals about menu)
* And additionally allow for linking to FAQ or/and technical documentation in a structured manner (not part of the textual description). This would allow us to add details on the processing or videos showing how to use the filter best. But have it somewhere else. In another system than

[2021-11-24 10:03] dnoesgaard commented on #3773
I think this makes a lot of sense.

As you would need to click the filter to get to the text, could we perhaps also show it as a mouse-over tooltip? So, e.g. if I hover over "Continent", a tooltip would appear with "NOTE: The 'Continent' field is not inferred but only populated if provided by the dataset publisher. Applying this filter may exclude relevant records."

@MortenHofft do you prefer tha

[2021-11-24 14:43] gbif-portal opened #3774 "Key visuals in SVG only, not PPT friendly"
**Key visuals in SVG only, not PPT friendly**

I am probably not the only one using these key visuals in PPTs often. Currently have to mess with screenshots. Can we have the same nice choice of PNG and SVG like in Metrics please?

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/14d6396d7205df8837b80ee8d13ebc99:3a56312b2a8747549be5ef2a3aa94366625e0c58a02

[2021-11-24 14:49] dschigel commented on #3774
While I am on that: axes fonts in these screenshots don't seem to match the website or the PPT template resulting in ugly combinations... a detail.

[2021-11-24 14:54] MattBlissett commented on #3774
You can change `svg` in the URL to `png` and get a PNG version.

(And I think the newest version of PowerPoint has support for SVGs, as it's what we provide for the publisher maps: https://analytics-files.gbif.org/registry/organization/active_gbif_publishing_organizations_by_country.svg)

[2021-11-24 15:04] dschigel commented on #3774
Perfect, it works, happy to learn

[2021-11-24 15:04] #3774 closed, assigned to nobody

[2021-11-25 14:08] ManonGros commented on #3771
Removed alternative identifier in the registry

[2021-11-25 14:08] #3771 closed, assigned to nobody

[2021-11-25 14:31] ManonGros commented on #3767
I assume that this observation along with the ones cited in the issues below aren't in GBIF yet because they became research grade only last week.
https://github.com/gbif/portal-feedback/issues/3770
https://github.com/gbif/portal-feedback/issues/3769
https://github.com/gbif/portal-feedback/issues/3768

[2021-11-25 16:43] gbif-portal opened #3775 "I think there is a Mistake here, must be Ceratopogonidae. Let me know it there was a change I'm missing. Thanks."
**I think there is a Mistake here, must be Ceratopogonidae. Let me know it there was a change I&#39;m missing. Thanks.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/5bdcebec3c70c43d41578f0f045d8362:8671e848f3c2b1b2ab681dad09c97a01b27107ef978243b923f3f39d2912deefdaca773518e38b21ccf2738c0c03b60e75b31cb32be7d1c7be61720062c020233dd51f44d4f8db713950b39922715dbf)
System: Firef

[2021-11-26 08:27] ManonGros commented on #3741
Contacted publisher by email.

[2021-11-26 13:19] ManonGros commented on #3739
@jeroencreuwels This issue along with this one https://github.com/gbif/portal-feedback/issues/3740 concern the State province of two Naturalis records:
* https://data.biodiversitydata.nl/naturalis/specimen/L.4317851
* https://data.biodiversitydata.nl/naturalis/specimen/L.4317852

Would it be possible to take a look? Thanks!

[2021-11-26 16:19] ManonGros commented on #3708
Occurrence concerned: https://www.gbif.org/occurrence/1949559037
Dataset: Royal BC Museum - Herbarium (V) (https://www.gbif.org/dataset/2d18c666-ee2b-40a3-a708-280ea19c0fbc)
Publisher: Royal British Columbia Museum (https://www.gbif.org/publisher/cc6110c7-f75c-47c8-8931-f7dd3f324777)

[2021-11-26 18:33] gbif-portal opened #3776 "how to get DOI from download?"
Hello, the last time I used GBIF data it was a dataset a co-author sent to me and she did not send along the doi. Now I need to get in contact as the editors are asking for this number and my co-author cannot remember this number and is too busy to get it. How can I get this number? What do you need to know in order to have this number? The taxonomic group is Cocoseae tribe of the palm family Arec

[2021-11-26 20:49] gbif-portal opened #3777 "Please add species Megapleonum shenzhen"
**Please add species Megapleonum shenzhen**

Megapleonum shenzhen C Huang & Mao, 2021
http://www.marinespecies.org/aphia.php?p=taxdetails&id=1548035

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/15bdf1b4de38e8c2d1bf1fd19532891d:d532d8c2d764d8468a9df9ec96ed0d57c003f5a680b68102af2d3e427ff8d025187af0f66fb9846a7aa83e06636081bc017775dafc0c923279371d0f3f7f8d93)
System: Chrome 96

[2021-11-27 06:30] gbif-portal opened #3778 "How do I delete my account?"
**How do I delete my account?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6a822ba9d50ff62bac795eaf499eeafb:eb41da8a601c1b4ac2f53d8dbb46ee13c5fc61656721f2056240cb08081b7a614af88ea19d40b30fed6f515462a0c0948f8ea3d7fb116fc92f168ac192606234)
System: Chrome 95.0.4638 / Mac OS X 10.15.7
Referer: https://www.gbif.org/faq?q=delete%20account
Window size: width 1532 - height 734

[2021-11-27 08:44] gbif-portal opened #3779 "Isophrictis striatella"
**Isophrictis striatella**

Here's a mistake.
This is Metzneria sp.
https://www.gbif.org/ru/occurrence/3313473458

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/53ff167a8fa5ebce9eadb6436eab5cf0:b76fdca9df41c8dec45ffa1b57d81b92ec60b6d9a83e651567e7d0d81531a45f40f4b3a8fef52498c786bc3f1791aa68e4181bc6baff61fdabe29e69cdbc9634)
System: Yandex Browser 21.11.1 / Windows 10.0.0
Refe

[2021-11-27 09:21] gbif-portal opened #3780 "Aristotelia billii"
**Aristotelia billii**

Live specimen
https://www.inaturalist.org/observations/99867305

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/85e1b14ecc64fdf635a96dcb55b635df:c7ebc9ba7e1de966e831a5e26854fd613009b970f2947b9fb23bf9ab3d6ffad38b748cea33949f4f1d25f4f80f531e96c448f7aaef9c145d404934c0fcce1d9b)
System: Yandex Browser 21.11.1 / Windows 10.0.0
Referer: https://www.gbif.org/

[2021-11-27 18:11] jeroencreuwels commented on #3740
I have contacted the botanical collection managers to look at this. I agree that the coordinates are probably wrong and something like LatLong of -2.049219,103.31253 would be much closer to the real collecting place in Sumatra!

[2021-11-27 18:11] jeroencreuwels commented on #3739
I have contacted the botanical collection managers to look at this. I agree that the coordinates are probably wrong and something like LatLong of -2.049219,103.31253 would be much closer to the real collecting place in Sumatra!

[2021-11-29 09:09] vjrj opened #3781 "Unterminated quoted field at end of CSV line in GBIF Backbone Taxonomy, VernacularName.tsv line 758507"
Using the GBIF Backbone Taxonomy (Sep, 2021) with the ALA name-matching lib it raises a CSV error:
[code]

The problematic line `758507` has a slash in a field:
[code]

Removing that line, permits us to process the file without any other problem:
[code]

First described by @shahmanash in:
https://atlaslivingaustralia.slack.com/archives/CCTFGEU1G/p1627480553141900

[2021-11-29 13:09] ApoSimon opened #3782 "Basionym and synonyms of Echinosphaerites aurantium (Gyllenhaal, 1772)"
Three names of Echinosphaerites aurantium (Gyllenhaal, 1772) are to be found currently in GBIF, however, accepted name and synonym allocation are partially wrong.

- Echinosphaerites aurantium (Gyllenhaal, 1772) (https://www.gbif.org/species/8657967)
Currently accepted name for the taxon (cf. e.g. MERGL, M. & PROKOP, J.R. 2006: Lower Ordovician cystoids (Rhombifera, Diploporita) from the Prague Ba

[2021-11-29 13:54] gbif-portal opened #3783 "GBIF lists Cheilosia morio and Eristalis horticola as synonyms, but both are valid species, not closely related (different tribes) and very different in their appearance. See e.g. the BOLD entry (http://boldsystems.org/index.php/Taxbrowser_Taxonpage?taxon=Eristalis+horticola&searchTax=Search+Taxonomy)"
**GBIF lists Cheilosia morio and Eristalis horticola as synonyms, but both are valid species, not closely related (different tribes) and very different in their appearance. See e.g. the BOLD entry (`http://boldsystems.org/index.php/Taxbrowser_Taxonpage?taxon=Eristalis+horticola&amp;searchTax=Search+Taxonomy)`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/42c9c3bcbb0f0104

[2021-11-29 14:51] EstebanMH-SiB opened #3784 "Continent "NA" not interpreted as "North America""
We have a doubt about what values are accepted in the field continent in the portal.

We always use the two letters representation in this field, and it works for South America (SA), but it does not work for North America(NA), for example in this [record](https://www.gbif.org/es/occurrence/2640762952).

So we should like to know what are the valid ways to do it or if you have recommendations for d

[2021-11-29 15:20] EstebanMH-SiB opened #3785 "Is it possible to avoid interpretation of institutionCode when the basis OfRecord is MaterialSample?"
Hi,

We have a [dataset](https://www.gbif.org/es/dataset/b9461088-6f97-49b0-8f76-17e5be9e2df0) with mixed basisOfRecord, HumanObservation and MaterialSample.

The problem is that we get the issue "institution match none" for the [records with MaterialSample](https://www.gbif.org/occurrence/search?dataset_key=b9461088-6f97-49b0-8f76-17e5be9e2df0&issue=INSTITUTION_MATCH_NONE), I guess is because it

[2021-11-29 15:43] MattBlissett commented on #3784
Ah, that seems like a bug. "NA" is often ignored since it can mean "Not Applicable", although we have an exception for the country code Namibia.

The best values are as follows, from http://api.gbif.org/v1/enumeration/basic/Continent.  `_` or ` ` doesn't matter, and neither does case.

[code]

[2021-11-29 21:45] gbif-portal opened #3786 "The interpreted date seems to be wrong : "2008-06-01/2008-06-30" is interpreted to "2008-06-01""
**The interpreted date seems to be wrong : &quot;2008-06-01/2008-06-30&quot; is interpreted to &quot;2008-06-01&quot;**

-----

Github user: @jbdesbas
User: [See in registry](https://www.gbif.org/api/feedback/user/b4381be3a40e9e63a8fcba1f3c4fdd64:699468444f874b795d5280cf3c6cda873eda12784ce4e71b4c97c46056b053e56a72b230f94911e7519ddeeef9d116fdf1a559a8c3c48a2259868fd0820a4369)
System: Firefox 94.0.0

[2021-11-30 07:51] ManonGros commented on #3778
You need to send a request to heldpesk@gbif.org

[2021-11-30 07:51] #3778 closed, assigned to ManonGros

[2021-11-30 08:18] ManonGros commented on #3776
Replied by email:

Ideally, it would really help us to know the name (and/or email address) of the person who generated the download, as well as the download date and filter used.
If you don’t have an exact download date, we can look for downloads within a data range.

[2021-11-30 08:18] #3776 closed, assigned to ManonGros

[2021-11-30 08:22] ManonGros commented on #3777
Given that the species is already on WoRMS, I assume it will integrated in the CoL during the next update.

Original description
Huang, C.; Mao, S. (2021). The Hillstream Decapod Crustaceans of Shenzhen, China, with Description of a New Species of Freshwater Crab (Crustacea: Brachyura: Potamidae) in the Genus Megapleonum Huang, Shih & Ahyong, 2018. Zoological Studies. 60:e66.

[2021-11-30 08:37] ManonGros commented on #3779
I forwarded the feedback directly on the publisher's system: https://www.artsobservasjoner.no/Sighting/27103779

[2021-11-30 09:23] gbif-portal opened #3787 "Fenusa ewaldi"
**Fenusa ewaldi**

No taxon Fenusa ewaldi (D.R. Smith, 2011)

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9d7f0b867ee6aedfe0b06eb81036d0ac:9da7525eb2df072e88b36c4ca3d77b41ac9439f9f98a9627300ba761accfa4ed1b9fa6772c9c93857d00bfcd3a6b8a2578775d9482b959ce679f6b1b5080db15)
System: Yandex Browser 21.11.1 / Windows 10.0.0
Referer: https://www.gbif.org/ru/search?q=Fenusa%20ewaldi

[2021-11-30 09:28] ManonGros commented on #3780
The reason why the iNaturalist observations you linked aren’t in GBIF yet is because they are too recent. There is always a delay between the moment an iNaturalist observation becomes “research-grade” and the moment they are made available on GBIF. Right now, only the observations that became “research-grade” before the 4th of November are available on GBIF.

The iNaturalist dataset page explains

[2021-11-30 09:43] ManonGros commented on #3787
The Second Record of a Sawfly Leafminer on Rosa, A New Species of Fenusa (Hymenoptera: Tenthredinidae)
April 2011 Proceedings- Entomological Society of Washington 113(1):57-60
David R. Smith
Charles Eiseman

http://dx.doi.org/10.4289/0013-8797.113.1.57

[2021-11-30 10:17] gbif-portal opened #3788 "Taxonomy gap: sawflies"
**Taxonomy gap: sawflies**

79,515 out of 470,781 sawflies occurrences are matched to a higher rank.
In general, several issues were logged by our users because our taxonomy is missing many sawflies groups.

I couldn't find a comprehensive database for sawflies taxonomy, however, there are a few lists we could consider integrating in the backbone:
* Liston A, Knight G, Sheppard D, Broad G, Livermo

[2021-11-30 12:02] ahahn-gbif commented on #3587
According to https://www.marinespecies.org/aphia.php/aphia.php?p=taxdetails&id=742629:
_Protaspa_ Cavalier-Smith, 2011
Synonymised name _Protaspis_ Skuja, 1939 (preoccupied by the Devonian fish genus, _Protaspis_ Bryant, 1933)

Publisher contact re higher taxonomy addition pending

[2021-11-30 13:31] ManonGros commented on #3782
Both Echinosphaerites aurantium (Gyllenhaal, 1772) and Echinus aurantium (Gyllenhaal, 1772) as well as their taxonomic status come from The Paleobiology Database (https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650)

[2021-11-30 13:39] ManonGros commented on #3772
I think the misspelled name come from DynTaxa: https://www.gbif.org/species/159955433 (https://www.gbif.org/dataset/de8934f4-a136-481c-a87a-b0b202b80a31)

[2021-11-30 14:34] ApoSimon opened #3789 "Chloromyxum - species coverage"
A recent check of species names of Chloromyxum in GBIF revealed several missing taxa. Integrating data from Eiras et al. 2012 into the GBIF backbone or the dataset "World List of Myxozoa" would complete the coverage at least up to 2012.

World List of Myxozoa (Checklist dataset)
https://www.gbif.org/dataset/1052b2e3-e54e-45bd-910f-aafabdfa51b7

Eiras, J.C., Lu, Y.S., Gibson, D.I. et al. Synopsis o

[2021-11-30 15:14] timrobertson100 commented on #3728
Closing this as the problem is being tracked in https://github.com/gbif/maps/issues/48

[2021-11-30 15:14] #3728 closed, assigned to nobody

[2021-12-01 08:46] jhnwllr commented on #3789
write to COL.

[2021-12-01 09:29] jhnwllr commented on #3761
source dataset that supplies the name is hosted by GBIF.
https://www.gbif.org/dataset/19491596-35ae-4a91-9a98-85cf505f1bd3

[2021-12-01 09:43] jhnwllr commented on #3761
**Calidris virgata Gmelin, 1789**  should be **Calidris virgata (Gmelin, 1789)**

[2021-12-01 09:54] jhnwllr commented on #3761
@MattBlissett is the technical contact for the IUCN checklist. Any suggestions?

[2021-12-01 10:13] jhnwllr commented on #3772
contacted dyntaxa by email.

[2021-12-01 10:23] jhnwllr commented on #3781
https://github.com/gbif/portal-feedback/issues/2411

[2021-12-01 10:51] #2496 closed

[2021-12-01 11:37] ManonGros commented on #1677
According to this paper: https://doi.org/10.12705/661.7, Rosmarinus officinalis L. is a synonym Salvia rosmarinus Schleiden

I couldn't find any literature to check if Phyteuma pseudorbiculare Pant. is or isn't a synonym of Phyteuma orbiculare L. Same issue to check if Salix grandifolia Ser. is or isn't a synonym of Salix laggeri Wimm.
Will close the issue now, unless someone can provide some refe

[2021-12-01 11:41] #3457 closed, assigned to jhnwllr

[2021-12-01 11:46] ManonGros commented on #3631
@LarsSkipper I am closing this issue now, let me know if we should keep it open or if you have any question.

[2021-12-01 11:46] #3631 closed, assigned to nobody

[2021-12-01 12:05] ManonGros commented on #3627
[As far as I can see](https://registry.gbif.org/dataset/040c5662-da76-4782-a48e-cdea1892d14c/ingestion-history), the last time the number of records ingested increased, was in March 2021.
I think @thomasstjerne might know how often the DwCA is updated for BOLD. But I doubt that the difference between the numbers @dschigel found and the ones we have on GBIF is due to some delay in importing. Perhap

[2021-12-01 12:21] ManonGros commented on #2291
I have removed the identifier from the collections, it is now only associated with the institution.

[2021-12-01 12:21] #2291 closed

[2021-12-01 12:28] jhnwllr commented on #3708
Will contact Royal BC Museum - Herbarium (V)

[2021-12-01 12:37] jhnwllr commented on #3786
@jbdesbas

GBIF does not currently interpret date ranges unfortunately, so that is why only one date was used.

[2021-12-01 12:37] #3786 closed, assigned to jhnwllr

[2021-12-01 12:38] #2064 closed

[2021-12-01 12:44] ManonGros commented on #3665
Unfortunately, we don't really have a way to forward feedback to the EMBL publishers. See another issue with the same problem: https://github.com/gbif/portal-feedback/issues/2922

[2021-12-01 12:59] jhnwllr commented on #3652
contacted the publisher Herbarium Senckenbergianum (FR) - Fungi

[2021-12-01 13:02] jhnwllr commented on #3650
Will contact Pangea.

[2021-12-01 13:09] ManonGros commented on #1961
Contacted publishers by email.

[2021-12-01 13:21] #3610 closed, assigned to nobody

[2021-12-01 13:31] jhnwllr commented on #3584
Will contact publisher.

Löydös Open Invasive Alien Species Observations

source record is marked as uncertain by citizen science user:
https://laji.fi/en/view?uri=http:%2F%2Ftun.fi%2FKE.176%2F5f2eb553d5de9c735c60698d#Unit1

[2021-12-01 13:34] ManonGros commented on #1914
Contacted publisher by email and also suggested an alternative: perhaps it would be a good idea to share the verification status as well? (for example in the occurrenceRemarks field).

[2021-12-01 14:09] jhnwllr commented on #3542
Since centroids are a known issue, I am going to close this.

[2021-12-01 14:09] #3542 closed, assigned to nobody

[2021-12-01 14:16] jhnwllr commented on #3420
I would think this is best handled by a change by pipelines interpretation or the vocabulary server (map to NULL).

[2021-12-01 14:23] jhnwllr commented on #3351
Several seen in S. Africa. I will close the issue.
https://www.inaturalist.org/observations/24007605

[2021-12-01 14:23] #3351 closed, assigned to jhnwllr

[2021-12-01 14:28] jhnwllr commented on #3127
record appears in Nigeria now.

[2021-12-01 14:28] #3127 closed

[2021-12-01 14:32] jhnwllr commented on #3162
This seems like a problem that should be handled by interpretation. I don't think that we can enforce that all publishers remove NULL measurements or facts.

[2021-12-01 14:37] ManonGros commented on #3420
I contacted the technical contact to ask if the field could be left empty instead.

[2021-12-01 14:41] jhnwllr commented on #2955
@jeroencreuwels  issue appears to be solved.

[2021-12-01 14:41] #2955 closed

[2021-12-01 14:55] jhnwllr commented on #3001
non-actionable current form I going to close.

[2021-12-01 14:55] #3001 closed

[2021-12-01 14:56] thomasstjerne commented on #3627
It has been crawled 1-2 times a year since 2018. Right now we have run into issues with API timeouts that needs fixed before we can crawl it again.
Difficult to say if there is more to the difference is only from because of the importing delay.

[2021-12-01 14:56] #3627 closed, assigned to ManonGros

[2021-12-01 15:12] jhnwllr commented on #3385
**Bartsia latifolia (L.) Sibth. & Sm.** should be **Bartsia lapatifolia (L.) Sibth. & Sm.**

[2021-12-01 15:33] jhnwllr commented on #2922
Records in original issue have been deleted but I think the user is referring to these:

https://www.gbif.org/occurrence/search?dataset_key=d8cd16ba-bb74-4420-821e-083f2bac17c2&has_coordinate=true&taxon_key=2056628&advanced=1&geometry=POLYGON((-9.49218%2044.96484,0.35157%2044.96484,0.35157%2052.83984,-9.49218%2052.83984,-9.49218%2044.96484))

[2021-12-01 17:14] dagendresen commented on #1914
Artsdatabanken engages with the Norwegian Societies for birds, botany, zoology, fungi, ... organized under Sabima to perform an extra quality check for this citizen science reported species occurrence data . I suspect that Sabima does not have the capacity to validate ALL citizen science reports and focuses on occurrences for the threatened species etc assessments and occurrences flagged by other

[2021-12-01 17:25] dagendresen commented on #1914
Apropos sharing the validation status in GBIF - NBIC has previously asked for how to do this!! And, if I recall the HISPID term correctly, I proposed to use the HISPID Verification Level descriptor (maybe together with dynamicProperties). (I mean to recall there was also an even better match among the HISPID descriptors).

https://hiscom.rbg.vic.gov.au/wiki/HISPID_5_for_HISPID_Users#Verification_G

[2021-12-01 17:28] dagendresen commented on #1914
https://hiscom.github.io/hispid/terms/#identificationVerificationStatus
https://hiscom.github.io/hispid/terms/#georeferenceVerificationStatus

[2021-12-01 17:33] ekoblogist commented on #1677
According to Kew's Plants of the World Online which uses the World Checklist of Selected Plant Families as a backbone Phyteuma pseudorbiculare Pant. is synonym of P. orbiculare L., while Salix grandifolia Ser. is synonym of S. appendiculata Vill. and not S. laggeri Wimm. According to them Salix laggeri Wimm. is accepted species from S. grandifolia complex.

[2021-12-01 17:41] dagendresen commented on #1914
Found the request from Artsdatabanken on including the verification status into the GBIF data stream:

https://www.gbif.org/news/6TvOkvpPlxRm5vHxljYNN5/virtual-workshop-planned-on-advancing-the-catalogue-of-the-worlds-natural-history-collections

[2021-12-01 20:21] jbdesbas commented on #3786
Ok understood, thanks.
So shouldn't the _day_ field be  NULL ?

[2021-12-01 20:32] MattBlissett commented on #3786
That's a reasonable point, although we also have occurrences published with a `day`, and an `eventDate` covering more than one day.

https://github.com/gbif/gbif-api/issues/2 and https://github.com/gbif/gbif-api/issues/4 led to the current use of the start of the range for `year`, `month` and `day`.

(I won't reopen this issue, as it's now linked from those two anyway.)

[2021-12-02 03:49] #2922 closed

[2021-12-02 05:40] gbif-portal opened #3790 "Month & year"
**Month &amp; year**

taxon recorded by Helm P. G., collection year is incorrect.
instead of the 20th century, it should be the 19th century.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6950924118e2ca8098c9bf226c305b83:79a2b31a4f73adbeed8a39204764fc96de2b8df2e244259ce6d585a63cd21dc27ba25706cf63abb8291b89f3f6e0c6295de1fc16344d9d84534c646092b61c6e277929f56b47262e6aef057d36

[2021-12-02 07:57] ManonGros commented on #3790
Same as this issue: https://github.com/gbif/portal-feedback/issues/3741
I already contacted the publisher.

[2021-12-02 07:57] #3790 closed, assigned to nobody

[2021-12-02 08:48] ApoSimon opened #3791 "Caenolestes fuliginosus (Tomes, 1863) - basionym not linked with accepted name"
The basionym of Caenolestes fuliginosus (Tomes, 1863) is Hyracodon fuliginosus Tomes, 1863. GBIF contains both as accepted but unlinked species. Merging both objective synonyms would associate the type specimen with the other occurrence data.

- Hyracodon fuliginosus Tomes, 1863
https://www.gbif.org/species/7823672 (source: Official Lists and Indexes of Names in Zoology)
only occurrence on GBIF is

[2021-12-02 10:13] gbif-portal opened #3792 "Wrong synonymisation of Cordyceps meneristitis"
**Wrong synonymisation of Cordyceps meneristitis**

The australian species Cordyceps meneristitis is not a synonym of Ophiocordyceps entomorrhiza

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/3aebc5257a22163a4ca95fed339f0c3c:3c6b8e5a7ebf505ebab72a6e29693ad1f2d965e12150402046faac34b7942693fce90c1ef41387adff9586a1f3ff7cf1b70a48a34fd946f7fc18d53f3a5efa36)
System: Chrome 95.0.

[2021-12-03 08:28] #3126 closed

[2021-12-03 14:18] Chris-Angell commented on #2321
I've spoken with Thomas Pape and Neil Evenhuis at SD and they just updated
the piophilidae taxonomy at the beginning of the month! There are still a
few small things out of place, but you should see a restoration of
Mycetaulus and Protopiophila flowing from them to CoL and then to you. :)

Chris

On Wed, Nov 17, 2021 at 7:24 AM John Waller ***@***.***>
wrote:

[2021-12-03 15:25] ManonGros commented on #1914
Hi @dagendresen thank you for your reply! I don't know what would be the best way to do that, maybe @ahahn-gbif has some input?

I see that the validation status is already in the occurrence Field Notes and identification. I think I should have paid more attention before reaching out.

I will leave the issue open in case someone has more ideas on the topic.

[2021-12-03 23:57] gbif-portal opened #3793 "how do you define an area of interest"
**how do you define an area of interest**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/b82a5ae6160de5dc55933a7595ed7349:c86bdba18228cb48ea8cdea5057d5f8a083304bd0f7cde40853ec2e140fa4a310f263ad0e301d8d4e5403d36e75d1a94e79ef8107b058d818d2f609f7e96b4c7)
System: Firefox 94.0.0 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/search?advanced=1
Window size: width 1680 -

[2021-12-04 18:10] gbif-portal opened #3794 "Nychia marshalli subsp. bantu Hutchinson, 1929"
**Nychia marshalli subsp. bantu Hutchinson, 1929**

I think the correct name for this species should be Nychia limpida bantu and not Nychia marshalli bantu. In the paper by Hutchinson (1929) A revision of the Notonectidae and Corixidae of South Africa (available on Biodiversity Heritage Library), it is described as Nychia limpida bantu n. sp., with records in the Caprivi Strip, Bechuanaland Protec

[2021-12-06 04:29] gbif-portal opened #3795 "Dataset has broken encoding"
**Dataset has broken encoding**

The dataset is not in UTF8 - it seems to be UTF-8 that has then been interpreted as 1252 and reencoded as UTF-8 (all mismatched characters show the values here: https://www.i18nqa.com/debug/utf8-debug.html).

-----

Github user: @dhobern
User: [See in registry](https://www.gbif.org/api/feedback/user/79ef6af29888c155c2dbca4ebd1b97fe:f7caf875b6a396bb5ad8e64ae8975b844

[2021-12-06 09:28] ManonGros commented on #3793
If the area you are interested in has administrative boundaries (for example, data with records located in the Yunnan Province in China), you can use the Administrative areas (gadm.org) filters. See this example: https://www.gbif.org/occurrence/search?advanced=1&gadm_gid=CHN.30_1

If you would like to define the area yourself, you can either draw a polygon on the map by clicking on the MAP tab and

[2021-12-06 09:28] #3793 closed, assigned to ManonGros

[2021-12-06 10:39] gbif-portal opened #3796 "Edit to contact"
**Edit to contact**

PLease replace ", and Dmitry Schigel, GBIF scientific officer." with ", or health@gbif.org". FYI both the health contractor and I will be watching this inbox.

Perhals this is also the contact you want to indicate for the new webpage on GBIF health?

Thanks!

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/dceb99c9a42ffcd1f021162034

[2021-12-07 01:04] gbif-portal opened #3797 "Arrenurus custipalpis collected in Botswana"
**Arrenurus custipalpis collected in Botswana**

The specimen named as Arrenurus custipalpis Viets, K.O. collected in Botswana and published by Senckenberg should be changed to Arrenurus curtipalpus Viets, K.O., following description in Viets, K.O. (1980) New Arrenurus Species (Acari, Hydrachnellae, Arrenuridae) from Southern Africa. Journal of the Limnological Society of Southern Africa. 6(1): 12

[2021-12-07 07:58] gbif-portal opened #3798 "Discover data by island name"
**Discover data by island name**

Current filter functions do not all you to find data for islands that are not administrative units i.e. where an island may be grouped with others under an administrative unit.  Suggest developing filters for islands using islands databse https://rmgsc.cr.usgs.gov/gie/gie.shtml that would allow you to search by island name - useful in the pacific and caribbean

--

[2021-12-07 10:35] jhnwllr commented on #3584
Publisher has **doubtful as a default** when data is submitted, so I will close the issue.

[2021-12-07 10:35] #3584 closed, assigned to jhnwllr

[2021-12-07 10:46] jhnwllr commented on #3650
data is correct. It appears to be a visualization issue that certain zoom levels that creates a straight line.
<img width="420" alt="Screenshot 2021-12-07 at 11 35 25" src="https://user-images.githubusercontent.com/4245213/145015058-c4d5f360-4b23-4480-8ecc-1f6563d5fb5d.png">
<img width="817" alt="Screenshot 2021-12-07 at 11 34 14" src="https://user-images.githubusercontent.com/4245213/145015076-1b

[2021-12-07 10:46] #3650 closed, assigned to jhnwllr

[2021-12-07 10:49] jhnwllr opened #3799 "Certain zoom levels create the appearance of a straight line on maps"
https://github.com/gbif/portal-feedback/issues/3650

https://www.gbif.org/dataset/8ea94e2a-118c-4a53-a957-5348d48d61e1

<img width="420" alt="Screenshot 2021-12-07 at 11 35 25" src="https://user-images.githubusercontent.com/4245213/145015414-21aada87-7528-4a3e-9a54-0244b05f1a81.png">
<img width="817" alt="Screenshot 2021-12-07 at 11 34 14" src="https://user-images.githubusercontent.com/4245213/145

[2021-12-07 10:52] ManonGros commented on #3799
Note that on the dataset map (map on the dataset page), the data look like a straight line no matter the zoom level.

[2021-12-07 10:54] ManonGros commented on #3797
There are two issues here:
- a backbone issue, we don't have the species Arrenurus curtipalpus Viets, K.O.
- a data content issue, we need to contact Senckenberg so the name associated with the specimen is updated

[2021-12-07 11:01] ManonGros commented on #3797
Contacted Senckenberg by email

[2021-12-07 11:24] MattBlissett commented on #3799
The data was changed this morning, you must have seen a cached map tile. The old data has `-75.798` for all the latitudes.

The dataset page map will be refreshed in the next map build, in about an hour, and in the HDFS table tomorrow morning.

[2021-12-07 11:24] #3799 closed, assigned to nobody

[2021-12-07 12:15] ManonGros commented on #3796
maybe this is an issue for @dnoesgaard or @akristensen?

[2021-12-07 12:21] dnoesgaard commented on #3796
Done.

[2021-12-07 12:21] #3796 closed, assigned to dnoesgaard

[2021-12-07 12:58] gbif-portal opened #3800 "name has changed from DNG to DNV, remove old website and only mention dnv: https://www.dnv.com/about/index.html"
**name has changed from DNG to DNV, remove old website and only mention dnv: `https://www.dnv.com/about/index.html`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0ec22b6f70a1c6284081fee57b8f4580:b8f321464faae14292d68d0e7a7f0ee12f23d74aa4313047c6261a2c25a5bf034e15f275f77924e8e59d38ac60dea084942fa2d3b40e2a623a8165614d66a1af)
System: Chrome 96.0.4664 / Windows 10.0.0
Refere

[2021-12-08 08:51] jhnwllr commented on #3385
herbarium image shows **Bartsia alpina L.**.
https://www.gbif.org/species/3170807

![image](https://user-images.githubusercontent.com/4245213/145177153-ed53fc8a-96d9-42bf-90a8-4853cf3db183.png)

I will contact the publisher MNHN.

[2021-12-08 08:56] jhnwllr commented on #3384
![image](https://user-images.githubusercontent.com/4245213/145178595-6e4c71eb-f112-4dd5-ab89-7f5c57ea3ff9.png)

https://github.com/gbif/portal-feedback/issues/3385

[2021-12-08 09:06] jhnwllr commented on #1699
@dschigel any objection to closing this now?

[2021-12-08 09:20] jhnwllr commented on #2983
@dshorthouse I will contact the publisher requesting that they move the orcid id into a dwc:identifiedByID field.

https://dwc.tdwg.org/terms/#dwc:identifiedByID

[2021-12-08 09:40] jhnwllr commented on #487
Closing this since the publisher is aware of the issue and working on it.

[2021-12-08 09:40] #487 closed

[2021-12-08 09:53] jhnwllr commented on #449
This seems like a harmless edge case. Any comment @gamblebnmnh?

[2021-12-08 09:57] jhnwllr commented on #593
I will write to the publisher to see if they want to include images.

[2021-12-08 10:18] jhnwllr commented on #545
I will write to the publisher. The dataset also appears to use all capital letters, which cause all of the records to not match to the backbone...

[2021-12-08 10:40] jhnwllr commented on #603
I don't know very much about abdc archives, but it appears that GBIF receives no **verbatim geodetic datum** information. I will write to the publisher about the issue.

[2021-12-08 10:41] aallspac commented on #3797
Dear Marie,

we have corrected and updated the record and checked the taxon. It is an accepted taxon so it should be added to the GBIF_Backbone taxonomy.

[https://search.senckenberg.de/aquila-public-search/search?searchTerm=aquila_id:sesam-99126]

Maybe you can add the taxon by hand, if it is not self-creating while an new ingestion?

Best regards
Andreas

[2021-12-08 11:08] aallspac commented on #3652
Dear John,

thank you for informing us. True, a mistake from our side, it is the holotype of _Cortinarius coalescens_, and not the one of  _Cortinarius largus._

[https://search.senckenberg.de/aquila-public-search/search?searchTerm=aquila_id:sesam-1214723](url)

We have corrected and updated the record, after reingestion it should also be visible correctly on GBIF.

Best regards

Andreas

[2021-12-08 11:38] gbif-portal opened #3801 "FAQ shows "hidden" entries"
**FAQ shows &quot;hidden&quot; entries**

Not sure if this is a feature or a bug, but the main FAQ returns entries that have "no" selected in the "Discoverable in search results on GBIF.org?" field.

Either way, I think it makes sense to only show the ones with "yes" in this field.

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/87e7b80a53ad0e75886ed

[2021-12-08 12:13] jhnwllr commented on #603
Apparently we do not currently map any datum terms from **abdc archives**.
https://github.com/gbif/pipelines/blob/dev/tools/archives-converters/src/main/resources/mapping/indexMapping_abcd_1_2.properties

[2021-12-08 12:14] jhnwllr commented on #603
We could use a default value but we are suspicious of the value here, so it is a little bit hard to make progress on this issue.

[2021-12-08 12:16] jhnwllr commented on #603
I wrote the the publisher and this needs to be fixed in pipelines before anything can be done, so I am moving to pending.

[2021-12-08 12:25] MortenHofft commented on #3801
I probably wasn't aware that there was such a label on FAQ items. We can filter them out. Why is it there? Do we need FAQ items that isn't searchable?

UPDATE: ahh - I might be able to answer that myself. We use FAQ items for popup boxes where the content shouldn't go into the FAQ?

[2021-12-08 12:36] jhnwllr commented on #656
I will write to the publisher about the missing images, but perhaps we should also have a GBIF front end fix where we don't display broken image links @MortenHofft? If it is possible...

[2021-12-08 12:44] dnoesgaard commented on #3801
Exactly.

[2021-12-08 13:11] jhnwllr commented on #1484
I am writing to the publishers again.

[2021-12-08 13:15] #1699 closed

[2021-12-08 14:07] jhnwllr commented on #2840
I will write to the  **The Marine Biological Association of the UK** to see if

**Continuous Plankton Recorder Dataset (SAHFOS)**
https://www.gbif.org/dataset/67c54f85-7910-4cbf-8de4-6f0b136a0e34

is a duplicate of the active

**The CPR Survey**
https://www.gbif.org/dataset/67c54f85-7910-4cbf-8de4-6f0b136a0e34
published by The Marine Biological Association of the UK

[2021-12-08 14:10] ManonGros commented on #3800
@dagendresen could you take a look at this issue and let us know if this should be closed?

[2021-12-08 14:15] jhnwllr commented on #2840
I guess we can delete the orphaned dataset if it is actually a duplicate....

[2021-12-08 14:59] ManonGros commented on #3713
I contacted the lead author on this publication: https://doi.org/10.1098/rspb.2014.1988, let's see if we get a reply.

[2021-12-08 14:59] jhnwllr commented on #1895
I think we have to close this issue because it is not actionable with the given information. Also seems like the github user no longer exists...

[2021-12-08 14:59] #1895 closed

[2021-12-08 15:08] jhnwllr commented on #1958
I am not sure if we should push a dataset to include non-required fields that they choose not to include. @ahahn-gbif

I think this issue should be closed if there is not other problems other than that it is missing.

[df582950-3b58-11dc-8c19-b8a03c50a862](https://www.gbif.org/dataset/df582950-3b58-11dc-8c19-b8a03c50a862)

[2021-12-08 15:13] gbif-portal opened #3802 "some backbone names have twice the same authorship"
**some backbone names have twice the same authorship**

This issue was originally reported on Helpdesk.
I don't think this comes from the data sources but from some processing.
The names reported were:
- Clematis × jackmanii T.Moore T.Moore (https://www.gbif.org/species/3033584)
- Caryopteris × clandonensis N.W.Simmonds N.W.Simmonds (https://www.gbif.org/species/9417675)
- Hebe × andersonii (Lindl

[2021-12-08 15:19] jhnwllr commented on #1963
Marking as pending to be handled de-centrally at some point.

[2021-12-08 15:22] jhnwllr commented on #178
Marking as pending to be handled de-centrally at some point.

[2021-12-08 15:25] jhnwllr commented on #1959
Marking as pending to be handled de-centrally at some point.

[2021-12-08 15:28] jhnwllr commented on #1965
Marking as pending to be handled de-centrally at some point.

[2021-12-08 15:30] jhnwllr commented on #1983
Marking as pending to be handled de-centrally at some point.

[2021-12-08 15:35] jhnwllr commented on #2152
Marking as pending to be handled de-centrally at some point.

[2021-12-08 15:39] jhnwllr commented on #2740
I think this can be closed since they only publish one dataset.

https://www.gbif.org/dataset/bed78790-cbec-44af-82af-fe78e9692287

[2021-12-08 15:42] jhnwllr commented on #2782
Seems to be fixed now.

[2021-12-08 15:42] #2782 closed

[2021-12-08 15:58] #1958 closed

[2021-12-08 16:14] MattBlissett commented on #656
The straightforward option would be to test the image links at download time -- but that could very easily overload the publisher's server.

[2021-12-08 18:43] ManonGros commented on #1959
I think it is fine to close, I am pretty sure this was intentional. The USGS publishes many records with specific institution codes to query records across datasets.

[2021-12-08 18:43] #1959 closed

[2021-12-08 18:48] kcopas commented on #1959
Just to point out, BISON is an invalid collection code. That’s the issue.

It could plausible be attached to the [PWRC institution](https://www.gbif.org/grscicoll/institution/94ffe3ac-89b0-49de-b6fb-601e6e49b8d8), but [this](https://www.gbif.org/grscicoll/institution/4be1a1c8-f981-472e-b2f5-e18af997f9ce) would likely be a better fit for both institution and collection.

[2021-12-08 19:15] ManonGros commented on #1959
I mean to say that the institution code is used for practical purposes. Maybe it would be best to ask @albenson-usgs. Abby, what do you think? Should the dataset keep using BISON as institution code or would it be better to use the codes of the actual hosting institution?

[2021-12-08 19:29] AbbyBenson commented on #1959
I agree with Kyle's assessment and we have discussed changing how we do this going forward. To the best extent possible I will try to get it updated for this dataset during the next update of the dataset. USGS will probably not go back and update all the previous datasets that have this collection code until an update is needed. I think we can close this ticket because the issue is known to USGS a