[2021-02-17 20:48] mdoering commented on #2881
The Catalogue of Life follows the [World checklist of freshwater Cladocera species](https://www.catalogueoflife.org/data/dataset/1138) for Diplostraca.

@yroskov FADA has not been updated since 2013, there might be a need for an update?

[2021-02-17 20:50] mdoering commented on #2954
fixed in latest nub build.

[code]

[2021-02-17 20:51] #2954 closed

[2021-02-17 20:54] mdoering commented on #3154
The latest COL has it in Melolonthidae inside the superfamily Scarabaeoidea: https://www.catalogueoflife.org/data/taxon/N4W
This originates from a recently added beetle source [World Scarabaeidae Database](https://www.catalogueoflife.org/data/dataset/1027) and we will follow their opinion.

BugGuide has Melolonthinae as the subfamily.

[2021-02-17 20:54] #3154 closed

[2021-02-17 20:59] mdoering commented on #3259
Melampus nuxeastaneus Kuroda, 1949 and Maculauger kokiy Pacaud & Lesport, 2020 are now included.
Duplicaria latisulcata is still not found in any source in GBIF: https://www.gbif.org/species/search?q=Duplicaria%20latisulcata&advanced=1

Not much we can do about that one. We do lack good sources for Molluscs

[2021-02-17 20:59] #3259 closed, assigned to nobody

[2021-02-17 21:02] myrmoteras commented on #2725
here the source:
![image](https://user-images.githubusercontent.com/4609956/108267611-b78f6700-716b-11eb-9e7c-159ea156ecb5.png)

[2021-02-17 21:06] mdoering commented on #3065
we do have 2 families now in the latest build, but the mollusc one is accepted and the fish one doubtful. Both contain quite a few species (see size):

[code]

[2021-02-17 21:07] mdoering commented on #3065
I guess we can still see this as completed as the fish occurrences should not be moved to molluscs anymore as we have both families.

[2021-02-17 21:09] mdoering commented on #3065
[Acanthocepola indica](https://www.gbif.org/occurrence/1703048376) and [Acanthocepola limbata](https://www.gbif.org/occurrence/1703048371) are both a fish in Cepolidae, Perciformes in the latest build now

[2021-02-17 21:09] #3065 closed

[2021-02-17 21:16] mdoering commented on #2725
Thanks!

[2021-02-17 21:17] myrmoteras commented on #2725
there is another issue though, that we need to change the markup. the original name is not the actual nomenclature element. it should be the name following "now" We look into this

[2021-02-17 21:33] TonyRees commented on #2730
@mdoering OK I checked, Hylatomus is the correct spelling (e.g. see https://www.zobodat.at/pdf/DENISIA_0036_0007-0035.pdf), and Hylotomus is a misspelling thereof - flagged as such in the print version of Nomenclator Zoologicus, but not carried through to the online version/electronic file that I used for input to IRMNG - now correctly flagged as such in IRMNG. Hylatomus turns out to be an availab

[2021-02-18 02:15] gbif-portal opened #3266 "Missing Species"
**Missing Species**

Auplopus mellipes is a well documented US species.

https://bugguide.net/node/view/7640
https://www.biodiversitylibrary.org/page/7835203

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/a7477a0c6fc5b0065e08a29a514ae486:ea8b6447aa5be0a216d339a5bdcd9b9de8169f884070a8fdbeb8064395303beddd1d7f16edfffc381653b119e2e1bb8f7ea27859d6d2fa3638910b7af96b7de5)
System:

[2021-02-18 12:17] gbif-portal opened #3267 "That page contains a typo in the image that does not match with the species"
**That page contains a typo in the image that does not match with the species**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/da57d8687104ab878a2cfc272f6b9510:ed8f4cf45f225d31e6410262a5fa72b5b074689ea8fadb7f2ec587cc9b127830db49eca2acdf7f67bac14886b1f3fdbbf55dd3f793ec1b2e103f1b00f97eee26)
System: Firefox 85.0.0 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/22441

[2021-02-18 13:59] jhnwllr commented on #3267
Wrote to publisher.

Might be wrong name on image or occurrence.

name on occurrence record: Isoetes durieui Bory
name on the image: Torilis japonica

[2021-02-18 14:36] jeroencreuwels commented on #3261
Our web manager provided the explanation and the solution for this issue. Apparently the URL of logo is not written down to the EML-file after uploading a logo. Uploading a logo to the server with “Choose file/Upload” in the additional metadata tab of the IPT seems to work fine. We found the uploaded logo back in the IPT in the folder “public_html/resources/”.

After manually adding the right URL

[2021-02-18 16:16] gbif-portal opened #3268 "synonym suggestion"
**synonym suggestion**

I suggest to add to the synonym list:

Orthotrix goldfussi

see e.g.:
https://books.google.de/books?id=r00VAAAAYAAJ&pg=PA746&dq=%22Orthotrix+goldfussi%22&hl=de&sa=X&ved=2ahUKEwijgpHr6fPuAhXJO-wKHfffDzUQ6AEwBXoECAAQAg#v=onepage&q=%22Orthotrix%20goldfussi%22&f=false

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/058d038c258ce92143664e98cc394611:20ec575

[2021-02-18 23:01] TonyRees commented on #3170
@mdoering : Personidae in GBIF is here, misclassified as Insecta:
https://www.gbif.org/species/7070

There is an invalid family level homonym in Insecta, but the correct classification (for most of the contained genera) should be Mollusca, as per these IRMNG records:

 Personidae Gray, 1854 · Animalia (Kingdom) > Mollusca (Phylum) > Gastropoda (Class) > Littorinimorpha (Order) > Personidae (Family

[2021-02-19 06:41] slieker commented on #3170
Hi Tony,
Thanks for your explanation, but is GBIF going to correct this as they keep interpreting it wrongly?

Regards
Frans

François J.A. Slieker BSc. - Honorary Head Curator Invertebrates
Natural History Museum Rotterdam

[2021-02-19 07:09] ManonGros commented on #3244
Wonderful! Thank you @camiplata!

[2021-02-19 07:09] #3244 closed, assigned to ManonGros

[2021-02-19 09:36] ManonGros opened #3269 "include languages with ISO 639-2 in list of valid languages in vernacularName extension"
When trying to publish (or validate) vernacular names in languages that don't have an ISO 639-1 code (for example Papiamento), the vernacular names are labelled as "invalid".
Could we add languages with an ISO 639-2 code to the list of accepted languages?

http://rs.gbif.org/extension/gbif/1.0/vernacularname.xml

[2021-02-19 11:01] mdoering commented on #3170
I will make sure GBIF has this right in our next backbone due in ~2 weeks

[2021-02-19 16:28] mdoering commented on #3170
@yroskov COL actually has both families accepted: https://www.catalogueoflife.org/data/search?facet=rank&facet=issue&facet=status&facet=nomStatus&facet=nameType&facet=field&limit=50&offset=0&q=Personidae&sortBy=taxonomic

The insect family has a single fossil species included with a great name, [Persona incognita](https://www.catalogueoflife.org/data/taxon/6V7CC)

[2021-02-19 16:41] yroskov commented on #3170
CoL: I just can confirm that both families exist in source datasets:
http://grylloblattodea.speciesfile.org/Common/basic/Taxa.aspx?TaxonNameID=1221748
https://www.molluscabase.org/aphia.php?p=taxdetails&id=23090

I have changed status of †Personidae Novokshonov, 1995 from  Grylloblattodea Species File to "provisionally accepted" in CoL.

Synced on 2021-02-19.

[2021-02-19 17:37] #3170 closed

[2021-02-19 22:15] gbif-portal opened #3270 "Data for biodiversity richness for terrestrial animals"
**Data for biodiversity richness for terrestrial animals**

I would like to access biodiversity richness data for terrestrial animals in protected areas, non-protected areas and indigenous protected areas and compare levels over a 5,10 and 20 year period
This is for a research project for my university degree
Any help/advice is appreciated
kind regards
Julio Bullen
julio.i.bullen@gmail.com

-----

[2021-02-20 09:29] #3250 closed, assigned to nobody

[2021-02-22 10:13] ahahn-gbif opened #3271 "Error in the genus name Arctodictis (Mammalia, Metatheria)"
(received via email to info/helpdesk, 20./22.2.21)

The genus name Arctodictis is indicated on the GBIF website as synonyme of Artodictis Mercerat, 1981. However, it is just the inverse, where Artodictis is synonyme of Arctodictis (valide name). The error comes from a tipo error in the original publication of Mercerat, 1891, who wrote the genus once without the letter "c" but is writing it with th

[2021-02-22 11:50] gbif-portal opened #3272 "suggested synonym"
**suggested synonym**

I suggest to add Nerinea voltzii to the synonym list of this species.

See e.g.
https://books.google.de/books?id=zMwwAQAAMAAJ&pg=PA366&dq=%22Nerinea+voltzii%22&hl=de&sa=X&ved=2ahUKEwiEjarDtf3uAhUG6qQKHYoQAeMQ6AEwAHoECAEQAg#v=onepage&q=%22Nerinea%20voltzii%22&f=false

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0c2c5d1c34811eeffda6622cd6327919:a63fa1

[2021-02-22 16:02] mdoering commented on #661
we have removed the GBIF Types specimen dataset from the backbone sources

[2021-02-22 16:02] #661 closed

[2021-02-22 16:59] gbif-portal opened #3273 "P. filicornis = P. fuscipennis, not C. iridipennis!"
**P. filicornis = P. fuscipennis, not C. iridipennis!**

Psilus filicornis is a synonym of P. fuscipennis such as Johnson 1992 states. Cinetus iridipennis is not associated with with taxon.
There was probably a mixup because it also exists Cinetus fuscipennis, with is indeed a synonym of Cinetus iridipennis.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/8c7de0e1cac300096ac

[2021-02-22 17:03] gbif-portal opened #3274 "T. carinata = T. aequata, not Pantoclis carinata"
**T. carinata = T. aequata, not Pantoclis carinata**

The valid name of Trichopria carinata is Trichopria aequata and not Panoclis carinata. Reference is Johnson 1992 Catalogue of World species of Proctotrupoidea, exclusive of Platygastridae

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6ebe680d744fea22d53654e90210c64e:97b292b2323a49c3db126d537254fbb381274a60c25c45b7003412

[2021-02-23 09:26] #1949 closed

[2021-02-23 10:18] TonyRees commented on #3271
OK... at present, IRMNG has Arctodictis Mercerat, 1891 as unaccepted (misspelling) vs. Artodictis Mercerat, 1891 (inferred to be correctly spelled but uncertain taxonomic status, unassessed). This is based on entries in Neave, Nomenclator Zoologicus to that effect. However I see that (for example) McKenna and Bell use Arctodictis as the correct spelling (they include this genus in Borhyaena in fac

[2021-02-23 22:55] gbif-portal opened #3275 "suggestion to add synonym"
**suggestion to add synonym**

I suggest to add Rhynchonella calcicosta to the list of synonyms.

See e.g.
https://www.zobodat.at/pdf/BPalOeU_022_0001-0142.pdf

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/24f4ce5db395072c37014e5648f1b315:30ea48482f77f535374b917711de19056a83d6c3ee61b4071b3cddb3a1f389c51a4ec69768410784d9107bbf2ec02f7b408c9dfdd58b34c3470f7d38da91b0bb)
System

[2021-02-24 09:45] gbif-portal opened #3276 "Two out of the total three georeferenced occurrence records of Miconia alainii are misspelled"
**Two out of the total three georeferenced occurrence records of Miconia alainii are misspelled**

The species Miconia alainii Judd & Skean (Melastomataceae) has three georeferenced occurrence records. Two of them (https://www.gbif.org/occurrence/1457771291 and https://www.gbif.org/occurrence/1260705847) are misspelled from Miconia allardii (Wurdack) Michelangeli. Both are recorded in the field "V

[2021-02-24 15:10] dnoesgaard opened #3277 "Suggested attribution for occurrence images"
It would be very useful to have a auto-generated citation string for images linked with occurrences. It could simply be included with the image metadata, e.g.

![Screenshot 2021-02-24 at 16 00 21](https://user-images.githubusercontent.com/21358085/109019611-6fb39700-76b9-11eb-9507-257bfb7805b8.png)

So, something like

(parsedName should be linked to the occurrence and media.license to itself)

Id

[2021-02-25 10:40] ManonGros commented on #3270
Replied by email:

Here are a few questions and suggestions:

[2021-02-25 10:40] #3270 closed, assigned to ManonGros

[2021-02-25 13:05] myrmoteras opened #3278 "missing accepted names"
in todays submitted plazi datasets, the accepted names part is missing. eg https://www.gbif.org/dataset/3ec27add-200f-4d9f-9fd3-a46ed282720a

or do we  just need to be a bit patient? Normally, it took more time for the occurrences to appear.
Thanks!

![image](https://user-images.githubusercontent.com/4609956/109157523-66d2cc00-7772-11eb-9cc2-c5c1f94c34ef.png)

[2021-02-25 13:22] ManonGros commented on #3278
Hi @myrmoteras this is because the indexing of taxa/checklists is currently paused: https://www.gbif.org/health
It should resume next week.

[2021-02-25 13:22] #3278 closed, assigned to nobody

[2021-02-25 14:27] gbif-portal opened #3279 "Karenia brevis not part of the GBIF backbone"
**Karenia brevis not part of the GBIF backbone**

I recently shared a dataset on a particular harmful algal bloom species in the Gulf of Mexico, Karenia brevis which has an LSID from WoRMS of urn:lsid:marinespecies.org:taxname:233015 but this is not finding a match in the GBIF backbone. How can we get this fixed?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/ccdf04a6cc104b

[2021-02-25 16:22] dnoesgaard commented on #3277
Thanks for doing this, Thomas. A couple of comments:

- please have the first part (the name of the organism) link to the occurrence, not the taxon
- the translation for  `occurrence.title.inCountry.(basisOfRecord)` is Capitalised, probably due to its current use. Can we either lc it here or should I do for all the translations instead?
- can we remove the extra whitespace around "licensed under .

[2021-02-26 08:38] kcopas commented on #3279
Thanks for submitting this, Abby. One suggestion I didn't have time to mention in the webinar chat yesterday was to include the higher-level taxa. That would at least allow resolution to something more than Incertis sedis while the question of the Kareniaceae gets sorted…

[2021-02-26 14:02] ahahn-gbif commented on #3280
@dschigel could you check whether this issue still needs to be open here or is sufficiently covered by the linked issues from Kyle? It may be that your comment is better placed under one of those, I would not want to keep it open under the "data mobilization" project.

[2021-02-26 14:09] dschigel commented on #3280
Agreed to move out from data mob, but please keep open - we just had the case with West of Urals collection where I want to test exactly Rod's suggestion of datasets citing "their" papers. In my opinion it should work both ways.

[2021-02-26 14:13] rdmpage opened #3280 "The French Muséum national d’histoire naturelle vascular plant herbarium collection dataset"
GBIF has this already but I just want to flag this data paper that describes the dataset:

Le Bras, G., Pignal, M., Jeanson, M. L., Muller, S., Aupic, C., Carré, B., … Haevermans, T. (2017, February 14). The French Muséum national d’histoire naturelle vascular plant herbarium collection dataset. Scientific Data. Springer Nature. https://doi.org/10.1038/sdata.2017.16

This paper cites the GBIF data

[2021-02-26 14:14] ahahn-gbif commented on #3280
Moved over to portal-feedback and assigned to @dschigel for monitoring/testing

[2021-02-26 14:30] damianooldoni commented on #2025
Fact that World Plants is quite static means that the only way GBIF has to solve this problem is by a patch. As far as I know the backbone makes extensive use of manual patches. What does GBIF experts think about it? Thanks a lot.

[2021-02-26 14:34] yroskov commented on #2025
World Plants is very much dynamic and vibrant project: https://www.worldplants.de/world-plants-complete-list/news

If you need to convince author to change taxonomic concepts, please, provide references to authoritative publication.

[2021-02-26 14:39] damianooldoni commented on #2025
Ah, that's good news. Good idea. @qgroom: could you do it? I think you have the sufficient authority to make things change :smile:

[2021-03-01 08:40] BlackWolfDEsign commented on #2963
FWIW: My download speed is about 200kb :( and i want to download 180gb :D

[2021-03-01 10:54] #3277 closed, assigned to thomasstjerne

[2021-03-01 13:23] gbif-portal opened #3281 "Multiple records linked to one image on a server"
**Multiple records linked to one image on a server**

Dear GBIF people,
The Natural History Museum Rotterdam is about to upload a set of >800.000 observations. Many of the observations were made at the same locality,  sometimes as much as 100.000. We are not very thrilled by the idea of uploading 100.000 pics, each of them individually linked to it's own record by catalogNumber/GUID. Would it be p

[2021-03-01 16:28] gbif-portal opened #3282 "Triepeolus cressonii is showing up under Nomada cressonii"
**Triepeolus cressonii is showing up under Nomada cressonii**

https://www.gbif.org/species/1343369

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/fa466094572f0f05f7ec5755be30e5b0:dcb387bebccc645bd5cd71c002929686b5393ea4cd542a6ac7f129e8f553cf6d11cb0201a8e838b9c81afb41390c207948f8e928b0ebba377f84d2203475ab72)
System: Firefox 86.0.0 / Mac OS X 10.13.0
Referer: https://www.gbi

[2021-03-01 20:51] gbif-portal opened #3283 "Occurrences Map Key"
**Occurrences Map Key**

Maps of occurrences have yellow and orange spots, what is the difference between them? Thank you!

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e33cdef9fc3050949464a69bc26c5fc3:9f2eabfdec67f9c020c6f357f55e3b70f8ee6bafbfe24d856760c4139d9ecd54fe44da9b47d4bbbe7fa1d2eb192b555b6df25ffcfc45b697e98f7d91367ef8d5)
System: Chrome 88.0.4324 / Mac OS X 11.2.1

[2021-03-02 05:15] MortenHofft commented on #2451
duplicate of https://github.com/gbif/portal-feedback/issues/563

[2021-03-02 05:15] #2451 closed

[2021-03-02 05:16] MortenHofft commented on #3283
duplicate of https://github.com/gbif/portal-feedback/issues/563

[2021-03-02 07:48] jlegind commented on #3283
I replied to the user:

I regret that this is not well documented.
However, the color intensity follows this schema (the ‘dot-fill’ being hexadecimal color values):

[total <=    10] { dot-fill: #FFFF00;  }
           [total >    10][total <=   100] { dot-fill: #FFCC00;  }
           [total >   100][total <=  1000] { dot-fill: #FF9900;  }
           [total >  1000][total <= 10000] { dot-fill: #FF6

[2021-03-02 07:48] #3283 closed, assigned to nobody

[2021-03-02 08:47] ahahn-gbif opened #3284 "Mallomas: conflation of fungal parasite with host, Index Fungorum"
context: backbone release test 2.3.21
https://www.gbif-uat.org/species/8372273
Genus Mallomonas
source: Index Fungorum - "tridentata parasite" of Mallomonas teilingii logged under fungi, but with the M. species in the scientific name
check: other similar cases (systematic I.F. issue?)
occurrences belong to the algae genus

[2021-03-02 08:49] gbif-portal opened #3285 "Add-on to GRSciColl FAQ"
**Add-on to GRSciColl FAQ**

BioCASE publishers have no way of providing the institution and collection IDs. So we should add something here.
Maybe something like:
"""
For publishers using the BioCASE protocol, please contact directly scientific-collections@gbif.org
"""

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/2ef0371a64865837354aae044d0841e9:c

[2021-03-02 09:05] ahahn-gbif opened #3286 "Curculionidae: genus rank suspicious"
context: backbone release test 2.3.21
https://www.gbif-uat.org/species/10867219
Genus Curculionidae (accepted name, using the family name convention)
source: iBOL
check: would rather belong to https://www.gbif-uat.org/species/4239

[2021-03-02 09:56] ahahn-gbif opened #3287 ""rhinoceros beetle" matched to mammals"
context: backbone release test 2.3.21 (taxon matching)

https://www.gbif-uat.org/occurrence/2423541678
https://www.gbif-uat.org/occurrence/gallery?taxon_key=9415

(vernacular name mistaken for genus)

[2021-03-02 10:50] ManonGros commented on #3287
I logged the issue on the ALA: https://biocache.ala.org.au/occurrences/2762c810-4d49-4a83-a935-ac840a10772c

[2021-03-02 11:46] jlegind commented on #3282
User has been contacted.
Triepeolus cressonii is a homotypic synonym of Nomada cressonii.

[2021-03-02 14:13] gbif-portal opened #3288 "Suggestions for species-matching tool"
**Suggestions for species-matching tool**

I am forwarding some suggestions we received on Helpdesk.
- On the dialog box showing alternative matches, it would be nice to see the taxonomic status (accepted, synonym, etc.) to help the user make their choice.
<img width="513" alt="Screenshot 2021-03-02 at 15 10 43" src="https://user-images.githubusercontent.com/7677271/109661031-d4fc0200-7b69-11eb-81

[2021-03-02 15:04] MortenHofft commented on #3288
https://github.com/gbif/portal16/commit/d179c7e7b5f5d407e94255bbdf363c4bc3df0fba
taxonomic status now shows

showing a list of primary and alternative matches according to the user is more invasive. An option for now is to download twice. Or of course use the API

[2021-03-02 15:15] jlegind commented on #3187
SQL: SELECT dod.number_records FROM public.dataset_occurrence_download dod WHERE dod.download_key = '0008123-200613084148143' AND dod.dataset_key = '17a729a0-7ed1-11df-8c4a-0800200c9a66';

and

https://api.gbif.org/v1/occurrence/count?datasetKey=17a729a0-7ed1-11df-8c4a-0800200c9a66
confirms this.

[2021-03-02 17:24] gbif-portal opened #3289 "Possible incorrect synonym - Maxomys whiteheadi"
**Possible incorrect synonym - Maxomys whiteheadi**

Would it be possible to check if Maxomys whiteheadi Thomas, 1895 is indeed a synonym of Chrotomys whiteheadi Thomas, 1895?
According to one of our publishers, this seems suspicious.

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/886e5cb28af9c6bee934d17299176c9e:ee8993f6af64d0f61cf4148839448a867f6fd

[2021-03-02 22:57] gbif-portal opened #3290 "Elevation incorrect"
**Elevation incorrect**

Elevation at this location cannot be 5238 m as reported. Possibly 523 m? Google Earth gives 516 m at these coordinates.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6872375cba82cd4fd7d9b2416cd57923:2f97ce9cd0ab81b5c24c0121f65fd589de99814748c61820c6c9ce037250bb5f0c0d21f3239e5b0d597e2bc4855ad16423a9a2e82e27924be679c770612f13b1)
System: Chrome 88.0.4

[2021-03-03 08:47] gbif-portal opened #3291 "add API call to get MAP legend?"
**add API call to get MAP legend?**

Just an idea to help libraries produce accurate legend:
Have an API call per map style that returns a JSON of the legend.

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/38bb9df5cbdc441e5fe912148c9a97ff:2a24fb983617b03d0e2b0b36bc91d6ea6ab1fae38d0835d5d3c3c4ba9875e8d98028afbff9764c1937fa233bcf4fb3829addcd5b1d052d8d8

[2021-03-03 09:15] dnoesgaard commented on #3285
Added.

[2021-03-03 09:15] #3285 closed, assigned to nobody

[2021-03-03 10:20] ManonGros commented on #3290
Contacted publisher by email.

[2021-03-03 14:57] gbif-portal opened #3292 "Show occurrence images in order"
**Show occurrence images in order**

See https://www.gbif.org/occurrence/3045035358:

This occurrence has a sequence of camera trap images. In the table under `multimedia` these are shown in the correct order (i.e. the order in which they are listed in the multimedia extension). In the preview at the top, they seem to be shown in random order: 1, 6, 2, 3, 4, 9.

Would it be possible to use the pro

[2021-03-03 15:38] MortenHofft commented on #3292
The website reflects the order in the API
https://api.gbif.org/v1/occurrence/3045035358 `media` field. I'm labelling this an API issue

[2021-03-03 18:29] gbif-portal opened #3293 "Separate different species in occurrences map"
**Separate different species in occurrences map**

When we put in multiple species in the occurrences map, all of them are only colour coded by number of occurrences but not by the type of species. Is there a way to do that or a program that might help?
Thank you!

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d720779d006e25d4596097aa1494dd1e:564c61faff47839a0f8d96d1f2fde51

[2021-03-04 06:49] MortenHofft commented on #3291
Duplicate of https://github.com/gbif/portal-feedback/issues/563#issuecomment-337570041 ?

[2021-03-04 07:07] ManonGros commented on #3291
yes! closing

[2021-03-04 07:07] #3291 closed, assigned to nobody

[2021-03-04 07:25] ManonGros commented on #3276
It seems like we have at least two confusing things here:
* Miconia allardii (Wurdack) Michelang. doesn't exist in the backbone taxonomy: https://www.gbif.org/species/search?q=Miconia%20allardii so the names are matched to Miconia alainii (fuzzy match). It is in the Catalogue of Life though (https://www.catalogueoflife.org/data/taxon/42MLR) so eventually it should be integrated in the backbone.
*

[2021-03-04 07:58] ManonGros commented on #3238
Hi @DanBIF, could you check if the issue is still there? It seems to me like the dates are correctly interpreted right now:
<img width="864" alt="Screenshot 2021-03-04 at 08 56 01" src="https://user-images.githubusercontent.com/7677271/109930222-b0b63780-7cc7-11eb-90f1-e220c81a4ef2.png">
Can we close the issue?

[2021-03-04 08:17] myrmoteras opened #3294 "figure do not show up in treatment"
might it be possible to check this https://www.gbif.org/species/179911497

![image](https://user-images.githubusercontent.com/4609956/109932224-3509ba00-7cca-11eb-94e0-84c7b26ecf38.png)

http://treatment.plazi.org/GgServer/html/7209878F844BFFD6FC8EFE7EFE9D28EE

this should include figures - and it is part of my today's lecture and thus would be nice to have the images in place...

tx for looking i

[2021-03-04 08:44] DanBIF commented on #3238
Hi @ManonGros Thank you, yes, looks fine now, you can close issue

[2021-03-04 09:07] ManonGros commented on #3279
Hi @albenson-usgs
In order for to include a name in the GBIF backbone taxonomy, it needs to be published in a checklist that is integrated in the backbone.
I can see that [Karenia brevis is included in several checklists](https://www.gbif.org/species/search?q=Karenia%20brevis&origin=SOURCE&advanced=1) but none of them are used in the backbone taxonomy.

Would you consider publishing your own check

[2021-03-04 09:52] ManonGros commented on #3195
Hi @mikegrutherford
Drymaeus mossi (E.A.Smith, 1896) should be integrated in the next backbone taxonomy as it is available in the World Register of Marine Species checklist: https://www.gbif.org/species/160093795

For more information on how our taxonomy is generated, you can check this blogpost: https://data-blog.gbif.org/post/gbif-backbone-taxonomy/

[2021-03-04 10:03] ManonGros commented on #3202
Forwarded answer to the user by email.

[2021-03-04 10:03] #3202 closed

[2021-03-04 11:59] jlegind commented on #3187
The issue around download records inflation must have been solved since I made the exact same download 03-03-2021 and the SANT-Algae contribution was the correct number.

[2021-03-04 12:37] DanBIF commented on #3238
@ManonGros Sorry, it can not be closed afterall: The dates themselves are correct now, but there is still unwanted timestamp T00:00:00 - It is very important for us that it is not there: records with timestamps puts timestamp in our national portal, which are then wrong, e.g. see:
https://www.gbif.org/occurrence/3028266302
compared to this, where it looks like the person made the recording 01AM Da

[2021-03-04 13:36] ManonGros commented on #3238
I don't know if this is something that can be changed.
@MattBlissett could you take a look at this issue? Do you know if would be possible to remove the timestamp in the interpreted date when no time is provided?

[2021-03-04 14:12] MattBlissett commented on #3294
Hi Donat,

We had checklist crawling switched off in order to prepare a new GBIF backbone.  A small issue with the new backbone required us to regenerate it, but with about 150 checklists in the queue we turned crawling back on for a short time, let the queued checklists be processed, then turned crawling off again.

This treatment was first published without the multimedia, and that is the versio

[2021-03-04 14:20] AbbyBenson commented on #3279
Showing my ignorance here, but since WoRMS is part of the backbone taxonomy and the name is in WoRMS why is it not in the GBIF backbone? Because WoRMS hasn't published a checklist with it in it? So it seems like the disconnect is that WoRMS needs to publish a checklist with this species in it?

[2021-03-04 14:20] myrmoteras commented on #3294
Hi Matt
Ok - no exception needed - the lecture is over... and I guess, did its job. Finish what you do and lets get back to normality thereafter
Thanks anyways
Donat

From: Matt Blissett <notifications@github.com>
Sent: Thursday, March 4, 2021 3:13 PM
To: gbif/portal-feedback <portal-feedback@noreply.github.com>
Cc: Donat Agosti <agosti@amnh.org>; Author <author@noreply.github.com>
Subject: Re: [g

[2021-03-04 14:29] ManonGros commented on #3214
I suspect that this is in part due to the way the records are ordered in the taxon file (in the Darwin Core Archive). For example:
[code]
It looks like [Aegilops](https://www.gbif.org/species/163427421) was generated as a parent taxon for the two first species. Then [Aegilops L.](https://www.gbif.org/species/127698856) was added, which could then be used as a parent taxon for the three other speci

[2021-03-04 14:39] ManonGros commented on #3279
The [WoRMS checklist](https://www.gbif.org/dataset/2d59e5db-57ad-41ff-97d6-11f5fb264527) published on GBIF (integrated in the backbone) doesn't contain [Karenia brevis](https://www.gbif.org/species/search?q=Karenia&dataset_key=2d59e5db-57ad-41ff-97d6-11f5fb264527&origin=SOURCE&advanced=1).
If the species was in that checklist, it would automatically be integrated to the backbone.

I don't really k

[2021-03-04 23:13] gbif-portal opened #3295 "it would be helpful if one can download the results of free text queries."
**it would be helpful if one can download the results of free text queries.**

In the case of birds, several metadata contain important information, like descriptions of nests, juveniles, etc, that are not included in the structured search, so they do not appear through this kind of search. There are hundreds of data that are impractical to review one by one.

As an example, with Colombian birds:

[2021-03-05 09:25] DimEvil opened #3296 "institution match none collection match none GriSciColl"
Almost all of our records are flagged with 'institution match none' and/or 'collection match none'
This is probably because the GriSciCol list is far from complete. I would suggest to find a way to be able to complete this list in a straight forward and nice way and/or remove this 'flag/error' for the time being. It doesn't look good on our records.

[example here](https://www.gbif.org/occurrence/

[2021-03-05 10:16] ManonGros commented on #3296
Hi @DimEvil

The best would be to write to scientific-collections@gbif.org
We can create the missing institutions for you and give the institutions contacts (or a representative person, you perhaps?) access to the entries created (to edit/complete them and add collections). Or we can also discuss making you part of our editorial team. In either case, you or the institution contacts would be using

[2021-03-05 10:16] #3296 closed, assigned to nobody

[2021-03-05 14:39] ManonGros commented on #3279
So from what I understand, the [WoRMS record](http://www.marinespecies.org/aphia.php?p=taxdetails&id=233015#sources) comes from AlgaeBase:

And AlgaeBase is not open:

[2021-03-05 16:36] gbif-portal opened #3297 "Citation widget is blocked by wordpress"
**Citation widget is blocked by wordpress**

Dear friends,
I've come to a problem when using Citation widget on our wordpress' based site. The "iframe" is blocked but wordpress (said for securidy reasons), needs to use "iframe" pluging (only for buseness plan, more $). Aren't there some was come around this? i guess this is not a big issue, but just asking.

-----

User: [See in registry](https://

[2021-03-05 19:51] MortenHofft commented on #3297
For the button with a citation count we can find another simple solution, but for the list of publications the alternative would be somewhat more complex.

[2021-03-07 12:21] myrmoteras opened #3298 "treatment borne names are are not in gbif backbone: 344f8a86-21a1-428e-ae4f-01ea6082254a"
how long, or at what time will the names submitted by Plazi's datasets show up in the GBIF datasets? there seems to be no names indexing related issue anymore in /health, and it seems to be processed: https://api.gbif.org/v1/dataset/process/running

https://www.gbif.org/dataset/344f8a86-21a1-428e-ae4f-01ea6082254a

[2021-03-08 09:57] gbif-portal opened #3299 "Double referencing species typo mistake"
**Double referencing species typo mistake**

A species is referenced two times: Leptopilina guineaensis and Leptopilina guineanensis with an additional 'n'. The corrrect typo is the first one. ref: https://www.researchgate.net/publication/47800326_Phylogeny_of_six_African_Leptopilina_species_Hymenoptera_Cynipoidea_Figitidae_parasitoids_of_Drosophila_with_description_of_three_new_species

Thank you

[2021-03-08 14:49] gbif-portal opened #3300 "The coordinate for the species Echimys semivillosus, in Bagre, Antioquia is poorly georeferenced, it is located in a municipality south of the department... I appreciate could send pictures of the records of the species to the email jchacon@correo.unicordoba.edu.do... Kind regards"
**The coordinate for the species Echimys semivillosus, in Bagre, Antioquia is poorly georeferenced, it is located in a municipality south of the department... I appreciate could send pictures of the records of the species to the email jchacon@correo.unicordoba.edu.do... Kind regards**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/3ce1b92a5b2bd60e2f332974801de024:a68799ade4

[2021-03-09 07:04] gbif-portal opened #3301 "Taxonomic Claim: Three subspecies of Eudigraphis takakuwai (Diplopoda: Polyxenidae) are upgraded to species rank."
**Taxonomic Claim: Three subspecies of Eudigraphis takakuwai (Diplopoda: Polyxenidae) are upgraded to species rank.**

Three subspecies of Eudigraphis takakuwai (E. t. takakuwai, E. t. kinutensis and E. t. nigricans) are upgraded to species rank.

GBIF page:
https://www.gbif.org/ja/species/6190344

Reference:
https://doi.org/10.12782/specdiv.25.89

-----

User: [See in registry](https://www.gbif.o

[2021-03-09 07:45] gbif-portal opened #3302 "Incorrect synonym"
**Incorrect synonym**

Hyleoglomeris japonica is accepted, not Perkeomeris japonica. Perkeomeris japonica is invalidly proposed without type species recognition.

First, "Hyleoglomeris (Perkeomeris) japonica" was described by Verhoeff (1936). Later, the subgenus Perkeomeris was considered invalid (e.g. Golovatch, Geoffroy and Mauriès, 2006).

Reference
Verhoeff, K. W. (1936) Ueber Diplopoden aus J

[2021-03-09 07:56] gbif-portal opened #3303 "Duplication of taxa: Hyleoglomeris lucidus is invalid and synonym with H. lucida."
**Duplication of taxa: Hyleoglomeris lucidus is invalid and synonym with H. lucida.**

The specific name "lucidus" has been corrected to "lucida" (Golovatch, Geoffroy and Mauriès, 2006), so H. lucidus is invalid and synonym with H. lucida.

Hyleoglomeris lucidus
https://www.gbif.org/ja/species/6190231
Hyleoglomeris lucida
https://www.gbif.org/ja/species/6190230

Golovatch, S. I., Geoffroy, J.-J. a

[2021-03-09 08:33] gbif-portal opened #3304 "Bazillozonium was synonymized with Brachycybe"
**Bazillozonium was synonymized with Brachycybe**

Bazillozonium was synonymized with Brachycybe by Gardner (1974/1975). Bazillozonium nodulosum was changed to Brachycybe nodulosa.

Gardner, M.R. (1974/1975) Revision of the millipede family Andrognathidae in the Nearctic region. Memoirs of the Pacific Coast Entomological Society, 5, 1–61.

-----

Github user: @RyoKuwa
User: [See in registry](https

[2021-03-09 09:18] gbif-portal opened #3306 "Author and year need to be put in "()"."
**Author and year need to be put in &quot;()&quot;.**

Kiusiozonium okai was described as "Saraminozonium okai" (Takakuwa and Miyosi, 1949). So author and year need to be put in "()".

Takakuwa, Y. and Miyosi, Y. (1949) Über eine neue Gattung and eine neue Art von Coloboognatha aus Japan. Acta Arachnologica, 11(1-2): 26-32.

-----

Github user: @RyoKuwa
User: [See in registry](https://www.gbif.org

[2021-03-09 10:09] gbif-portal opened #3307 "good afternoon"
**good afternoon**

sir
how to search by api

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/935fd820efb47e4717dd0dae09be8271:6ee9859d21835ed234558003a94dde9774c73f303a3b7541e2c5951a4960462b5d9649e593f627cda7502adebb94510f51ee21bf63fa93c7de6868f4e21db18b)
System: Chrome 88.0.4324 / Windows 7.0.0
Referer: https://www.gbif.org/faq?q=how%20to%20api%20search
Window size: width 1

[2021-03-09 10:17] gbif-portal opened #3308 "sir i can't search data from api"
**sir i can&#39;t search data from api**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/acb4dd89d95a071d64c0f4178f45049f:235b7b020d53274f3b42b38be69802607e2cbcb225658a04cc78deddc5a1e37daa010a1e68a46861689c1d31664d6f234cc6dc98ca16a749684c23fe886fa76d)
System: Chrome 88.0.4324 / Windows 7.0.0
Referer: https://www.gbif.org/resource/search?contentType=programme
Window size: wid

[2021-03-09 12:02] mdoering commented on #3282
this is solved in the 2021-03-03 backbone about to go live:
https://www.gbif-uat.org/species/1341647

[2021-03-09 12:02] #3282 closed, assigned to nobody

[2021-03-09 13:01] #2696 closed

[2021-03-09 17:14] gbif-portal opened #3309 "empty CSV for 139,398 records download"
**empty CSV for 139,398 records download**

While trying to filter some issues&flags on data published by Belgium, I go this CSV download with an apparent size of 139,398 occurrences.[download](https://doi.org/10.15468/dl.wppvb5)
The download gives me a zip with an empty CSV, only header, no data! Involved datasets 0!
Issues of filter are : Collection match fuzzy Ambiguous collection Ambiguous ins

[2021-03-09 18:38] gbif-portal opened #3310 "georeferencing off for a batch of Bell Musuem Sceloporus occidentalis records"
**georeferencing off for a batch of Bell Musuem Sceloporus occidentalis records**

The georeferencing on these Sceloporus occidentalis records from the Bell Museum seems suspect. The locality data for the ones I clicked through on all indicate California.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/8e9ec9dadf2a1e4e77877c140a1cb1f1:028e86f7477118af5421bf798f0687abd07bab71

[2021-03-09 19:33] smsfrn commented on #3310
I logged this on the site and since found a number of additional records with a similar issue (see below for list). All these have a mismatch between coordinates and stateprovince field.

I've emailed a contact at the data provider with this list.

Records with issues (gbifids):  "2266290754" "2266290049" "2266290524" "2266291473" "2266289517" "2266290218" "2266290345" "2266290390" "2266290704" "2

[2021-03-10 09:36] ManonGros opened #3311 "organisms with human host in GBIF?"
Just to follow up on one of the discussions in this issue: https://github.com/gbif/embl-adapter/issues/4

In the context of helping EMBL map and publish their data in GBIF, we advised to exclude records for which the host is human. But this point might require further discussions.

The EBI data includes a lot of human pathogens (viruses, bacteria, etc) as well as commensal bacteria (around [2M rec

[2021-03-10 14:17] gbif-portal opened #3312 "Erro de informação"
**Erro de informação**

Nessa página aparece uma espécie de Cephalotrigona como sinonimo de uma Exomalopsis, mas isso não fez sentido pois C. zexmeniae é um nome válido, ver http://moure.cria.org.br/catalogue?id=34505

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/485c4ae222a287b3713f59ea71c851e9:459967a233df28b263a411866cce87170c2d366358b2af7362a71e78352c93cf79efc42f5439c2

[2021-03-10 17:00] myrmoteras opened #3313 "plazi data not showing up properly"
I never seen a treatment article from Plazi displayed this way, that's why I am asking. I though the indexing has been over, or is it just a question of patience?
![image](https://user-images.githubusercontent.com/4609956/110667428-87674100-81ca-11eb-9e37-c6d5b6aaaa8a.png)

https://www.gbif.org/dataset/970faa7a-925b-4fd1-85c5-215e05605b2b

[2021-03-10 18:19] MattBlissett commented on #3313
Hi Donat,

Indexing is off, but we expect to switch over to the new backbone tomorrow morning.  Assuming that goes well, indexing should be turned on again tomorrow afternoon.

[2021-03-11 06:37] Andreas-Bio opened #3314 "duplicate plant family names all "ACCEPTED""
.

[2021-03-11 06:42] MortenHofft commented on #3312
google translate

------

Information error

On this page appears a species of Cephalotrigona as a synonym for an Exomalopsis, but that did not make sense since C. zexmeniae is a valid name, see http://moure.cria.org.br/catalogue?id=34505

[2021-03-11 06:47] #3314 closed, assigned to nobody

[2021-03-11 06:53] Andreas-Bio opened #3315 "show isExtinct in Species API response"
Tessellariaceae is missing information. Please add the status "Extinct" to TRUE.

[2021-03-11 08:02] MattBlissett commented on #3312
I think this might be more useful for Markus etc:

On this page a species of Cephalotrigona appears as a synonym for an Exomalopsis, but that did not make sense since C. zexmeniae is a valid name, see http://moure.cria.org.br/catalogue?id=34505

https://www.gbif.org/species/1340162

It's fixed in the new backbone, which should be live within a few hours. (So I won't write to the user, at least not

[2021-03-11 08:49] ManonGros opened #3316 "Filtering for State Province is confusing"
One of our users was having trouble using the UI to select records with the State Province "Florida".
And I agree: there are [37,992,233 records with the State Province "Florida"](https://www.gbif.org/occurrence/search?state_province=Florida&advanced=1) but when looking for "Florida" in the UI, all the other suggestions appear first:
<img width="390" alt="Screenshot 2021-03-11 at 09 41 25" src="ht

[2021-03-11 08:55] gbif-portal opened #3317 "country level occurrences through the API"
**country level occurrences through the API**

I would like to get a list of countries where a  given species has been observed. I have tried the following API call:

https://api.gbif.org/v1/occurrence/search?taxonKey=8357600

This indeed returns countryCodes, which I can easily extract. However, the results seem to be limited to 20 records.

I have also tried the following API call:
https://api.g

[2021-03-11 09:33] gbif-portal opened #3318 "Freetext search not resetting on filter change"
**Freetext search not resetting on filter change**

(unrelated to backbone refresh)

After a search with a free text filter, the filter keeps hanging in the URL even if removed from the search facets, leading to confusing results.

To reproduce:
- enter a free text search for "sheep" (gallery: the result contains some plants and insects aside from sheep)
- add a Scientific Name filter for "Mammali

[2021-03-11 09:43] dagendresen commented on #2672
Maybe add a tick-box for all records without any issue is possible -- so that users can select this and then add on any issues they "accept" (but yes, would probably need a bit of developer time).

[2021-03-11 12:18] MortenHofft commented on #3318
@ahahn-gbif
This a usability issue. You deleted the text but didn't apply the change (by pressing enter or by clicking the search icon). So you are still searching for "sheep".

Makes sense that it can confuse. Perhaps just filling the field again if the user didn't apply is the simplest solution

[2021-03-11 12:24] ahahn-gbif commented on #3318
Thanks! I agree that re-filling it would limit the confusion. I am not the only one this happens to.

[2021-03-11 12:29] MortenHofft commented on #3316
The user should probably use the GADM filter instead.
https://www.gbif.org/occurrence/search?advanced=1&gadm_gid=USA.10_1

Suggest order is an API concern, but it makes sense to have a perfect match as the top suggestion.

For now the only way around it in the UI is to click escape and press enter. Then it will apply whatever text you entered. We could of course ask for more suggestions, but that

[2021-03-11 12:55] ManonGros commented on #3316
Thanks @MortenHofft!
This user wanted to include the records that didn't have any coordinates so that's why he wasn't using the GADM filter.
Could there be a way to remove from the suggestions, the values that have already selected? (like for the scientific name filter)

[2021-03-11 13:27] MortenHofft commented on #3316
the scientific name filters removes suggestions client side. So the result set becomes smaller and smaller everytime you select something. The results are the same. I'm not personally a fan of that addition.

Try to search for scientific name `puma` on [this page](https://www.gbif.org/occurrence/search?taxon_key=2435098&taxon_key=6164622&taxon_key=2435099&taxon_key=2154611&taxon_key=9177759&taxon_

[2021-03-11 18:15] MattBlissett commented on #3312
Replied by email from the helpdesk, the new backbone fixes this error.

[2021-03-11 18:15] #3312 closed, assigned to nobody

[2021-03-11 23:42] gbif-portal opened #3319 "Why is Amanita muscaria (L.) Lam., 1783 deleted ?"
**Why is Amanita muscaria (L.) Lam., 1783 deleted ?**

Hello,

The species Amanita muscaria (L.) Lam., 1783 (id 8671098) has been deleted and replaced by Amanita muscaria (L.) Lam. (id 8168319).

Why ?

How could I know if other taxa have been deleted/replaced ?

Best regards.

Félicien

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/348f07b22e87d7b3768d54dbac900e35:57136ef5

[2021-03-12 07:16] ManonGros commented on #3294
The images are showing now.

[2021-03-12 07:16] #3294 closed, assigned to nobody

[2021-03-12 07:17] ManonGros commented on #3289
They are no longer synonyms in the new backbone.

[2021-03-12 07:17] #3289 closed, assigned to nobody

[2021-03-12 07:20] ManonGros commented on #3273
It looks like iy is solved in the new backbone.

[2021-03-12 07:20] #3273 closed, assigned to nobody

[2021-03-12 07:22] ManonGros commented on #3276
Miconia allardii (Wurdack) Michelangel was added to the new backbone.

[2021-03-12 07:27] ManonGros commented on #288
Correct spelling in the new backbone: Capparis beneolens Gagnep. https://www.gbif.org/species/5601916

[2021-03-12 07:27] #288 closed

[2021-03-12 07:36] ManonGros commented on #1216
It looks like this has been solved in the new backbone.

[2021-03-12 07:36] #1216 closed

[2021-03-12 07:39] ManonGros commented on #1273
It looks like this has been solved in the new backbone.

[2021-03-12 07:39] #1273 closed

[2021-03-12 07:40] ManonGros commented on #1281
The classification is ok in the newest backbone taxonomy: https://www.gbif.org/species/10672711

[2021-03-12 07:40] #1281 closed

[2021-03-12 07:48] ManonGros commented on #1331
Trypanosoma cruzi is in the new backbone https://www.gbif.org/species/8205154

[2021-03-12 07:50] ManonGros commented on #1377
Issue solved in the new backbone: https://www.gbif.org/species/6503984

[2021-03-12 07:50] #1377 closed

[2021-03-12 07:53] ManonGros commented on #1386
It looks like this has been solved in the new backbone.

[2021-03-12 07:53] #1386 closed

[2021-03-12 07:57] ManonGros commented on #1560
This is correct in the new backbone: https://www.gbif.org/species/2791649

[2021-03-12 07:57] #1560 closed

[2021-03-12 07:59] ManonGros commented on #1777
It looks like this has been corrected in the new backbone: https://www.gbif.org/species/7803082

[2021-03-12 07:59] #1777 closed

[2021-03-12 08:01] kcopas commented on #1331
It could be that I completely misunderstand, but the orphaned Animalia version of Trypanosoma name is still hanging about. https://www.gbif.org/species/3208283

Great to see the protozoan line added, but is that as would be expected?

[2021-03-12 08:03] ManonGros commented on #1734
The name is now Mammillaria spinosissima var. sanguinea (J.N.Haage ex Regel) Brandegee in the new backbone.

[2021-03-12 08:03] #1734 closed

[2021-03-12 08:07] ManonGros commented on #1696
It looks like this has been solved in the new backbone.

[2021-03-12 08:07] #1696 closed

[2021-03-12 08:10] ManonGros commented on #1331
Good point @kcopas! I don't know why it hasn't been put with the other genus (https://www.gbif.org/species/9543785). Reopening the issue

[2021-03-12 08:12] ManonGros commented on #1682
It seems like the synonyms cited in the documents are also now in the backbone.

[2021-03-12 08:12] #1682 closed

[2021-03-12 08:17] ManonGros commented on #1677
Issues that have been solved in the new backbone:
- [ ] https://www.gbif.org/species/3090717
Amphoricarpos neumayeri (Vis.) Vis.
is not synonym of
Echinops spinosissimus subsp. neumayeri (Vis.) Kožuharov
(corrected in CoL)

- [ ] https://www.gbif.org/species/3748573
Cheilanthes fragrans (L.) Sw.
is not synonym of
Dryopteris fragrans (L.) Schott

- [ ] https://www.gbif.org/species/7127713
Cyclamen

[2021-03-12 08:23] ManonGros commented on #1677
Leaving the issue open because 4 issues remain.

[2021-03-12 08:31] ManonGros commented on #1637
They are no longer synonyms in the new backbone, however https://www.gbif.org/species/2174261 shows `Basionym: Viciria flavipes Peckham & Peckham, 1903`. Any idea why @mdoering ?

[2021-03-12 08:32] ManonGros commented on #1636
This issue has been solved with the new backbone.

[2021-03-12 08:32] #1636 closed

[2021-03-12 08:33] ManonGros commented on #1635
solved in new backbone

[2021-03-12 08:33] #1635 closed

[2021-03-12 08:35] ManonGros commented on #1634
It looks like this has been solved in the new backbone.

[2021-03-12 08:35] #1634 closed

[2021-03-12 08:38] ManonGros commented on #1807
I am not sure if I understand the issue but I can see that the new backbone follows the CoL for this species: https://www.gbif.org/species/3145265

[2021-03-12 08:41] ManonGros commented on #1811
It looks like this has been solved with the newest backbone update (https://www.gbif.org/species/2388139)

[2021-03-12 08:41] #1811 closed

[2021-03-12 08:49] ManonGros commented on #1844
The newest backbone contains _Chara papillosa_ Kützing, 1834: https://www.gbif.org/species/7990539
So the scientific name of the occurrence is correct: https://www.gbif.org/occurrence/3046145271

[2021-03-12 08:49] #1844 closed

[2021-03-12 10:02] mdoering commented on #1637
I've seen that at various places, looks like we still establish the (wrong) basionym relation, but dont change the status as its coming now from our primary source

[2021-03-12 10:17] mdoering opened #3320 "Order species search by number of occurrences"
When evaluating names in the backbone that are missing from COL or some other primary source like the WCVP for Fabaceae it would be very useful to order species by number of occurrences. Or at least filter those out that have no occurrences.

For example this search shows Fabaceae names from the red list that are not in WCVP:
https://www.gbif.org/species/search?q=Acacia&dataset_key=d7dddbf4-2cf0-4

[2021-03-12 10:42] fmendezh commented on #3320
That is indeed something we should consider adding to the CLB index, we do something similar for datasets now see https://github.com/gbif/registry/blob/master/registry-search/src/main/java/org/gbif/registry/search/dataset/indexing/DatasetJsonConverter.java#L260 and then we sort the index by dataScore and created date

`
"sort": {
          "field": [
            "dataScore",
            "created"

[2021-03-12 12:41] mdoering commented on #3320
A suggestion by Tim:

[2021-03-12 13:14] mdoering commented on #1331
[Trypanosoma brucei Plimmer & Bradford, 1899](https://www.gbif.org/species/7822322) as the sole species is the cause for creating the duplicate genus under Animalia. As the ICZN list does not have any further classification or a genus authorship given it is rather difficult to figure out if these are 2 distinct genera or not.

I will add this one species to Protozoa in our patch list - this should

[2021-03-12 13:17] #1331 closed

[2021-03-12 13:39] gbif-portal opened #3321 "Sample 3944349 was actually collected in a place with other coordinates, namely: 56.202777 °, 43.365277 ° (Russia, Nizhny Novgorod Oblast, Zhyolnino village)"
**Sample 3944349 was actually collected in a place with other coordinates, namely: 56.202777 °, 43.365277 ° (Russia, Nizhny Novgorod Oblast, Zhyolnino village)**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/05adeab4d674448a4fa634494ec4de45:8089ce18792cfc51acbacad9c6fb5fd9afa9b63afbbdc3d2085f59ed4914f35814d8cfed336791997c8ccba13c9c023736dcdce6d052b2ad5ef72582be85de0f)
Syst

[2021-03-12 13:42] gbif-portal opened #3322 "Addendum ("Sample 3944349 was actually collected in place with other coordinates, namely: 56.202777 °, 43.365277 ° (Russia, Nizhny Novgorod Oblast, Zhyolnino village") - https://www.gbif.org/uk/occurrence/1944819553, The accepted name is Vincetoxicum albowianum (Kuzn.) Pobed."
**Addendum (&quot;Sample 3944349 was actually collected in place with other coordinates, namely: 56.202777 °, 43.365277 ° (Russia, Nizhny Novgorod Oblast, Zhyolnino village&quot;) - `https://www.gbif.org/uk/occurrence/1944819553,` The accepted name is Vincetoxicum albowianum (Kuzn.) Pobed.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/a329254b0f9e7b054d4ebdcd45a5f311:52d

[2021-03-14 19:05] gbif-portal opened #3323 "On the page https://observation.org/observation/140951865/ erroneously identified plant: not Lamium orvala, but Stachys sylvatica Therefore the page: https://www.gbif.org/uk/occurrence/2835341203 the binding must be adjusted or canceled"
**On the page `https://observation.org/observation/140951865/` erroneously identified plant: not Lamium orvala, but Stachys sylvatica Therefore the page: `https://www.gbif.org/uk/occurrence/2835341203` the binding must be adjusted or canceled**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d2e5d2faeaf9c434cc3c2c9d192effa0:3ad8e511b27b1447199a95d8704c3fd517c754c7dbb4494cb0e

[2021-03-15 08:15] dnoesgaard opened #3324 "Avoiding misunderstandings when using filters"
We often see filters used incorrectly or unintentionally in papers citing GBIF data. A common example is to filter occurrences by Continent or State/province which often excludes many records that don't have values for these fields. Using a derived field instead, like GADM, produces a more accurate result.

Example: https://doi.org/10.3897/jhr.81.62634 cites this download https://doi.org/10.15468/

[2021-03-15 08:44] MortenHofft commented on #3324
I think it is a good idea to add explanations and examples to the various fields and filters in the UI. We decided against it when writing the current UI - so adding it now requires some more work. In the UI for the hosted portals an "about section" is always available. But again, someone needs to write it.

[2021-03-15 16:53] tucotuco commented on #3324
More than that, someone needs to read it. That will only happen when someone is diligent and doesn't get what they expect. If they have no idea what to expect, they won't question the result or how they go it. It is rare that a user would realize that adding more information (a filter that isn't actually needed) works against them. Saying something like "Build queries with only the filters that di

[2021-03-15 17:07] mdoering opened #3325 "Cite constituent dataset on species pages"
Additionally to the main dataset a species can also belong to a constituent dataset, i.e. a dataset which defines a subset of the dataset which is also available in the GBIF registry with its own key.

I would expect the species page to show this constituent in the header as part of the _In: XYZ_.
Catalogue of Life makes use of this to acknowledge its sources.

On prod the COL version does not hav

[2021-03-16 09:01] ManonGros commented on #3316
In that case, perhaps we should just remove the suggestions for that filter? It would be less confusing.

[2021-03-16 09:02] ManonGros opened #3326 "Could we show state boundaries in base map?"
This is a request coming from one of our user on Helpdesk.

[2021-03-16 09:10] ManonGros opened #3327 "Could we add the state/province in the possible columns of our table view?"
This is a request coming from one of our users on helpdesk.
He would like to be able to see the state/province field (and I suspect perhaps the GADM field for the State level?) in the occurrence table in the UI. Maybe here?
<img width="431" alt="Screenshot 2021-03-16 at 10 07 55" src="https://user-images.githubusercontent.com/7677271/111283766-c3255f00-863f-11eb-97ca-0dc7167475c7.png">

[2021-03-16 09:25] MortenHofft commented on #3316
Yes we can remove it. But I'm not sure I think it is a better solution. The suggestions help you understand the data, without it, it is hard to know what is in there.

[2021-03-16 09:30] ManonGros commented on #3316
True, then perhaps there should be some API change.
As you mentioned before, it would be good if the API could return a perfect match at the top of the search.

[2021-03-16 09:32] MortenHofft commented on #3316
And not differentiate between "Copenhagen" and "copenhagen" in suggestions when search ignores the casing anyhow

[2021-03-16 09:50] MortenHofft commented on #3327
locality, stateProvince and waterBody added.

[2021-03-16 11:41] #3325 closed, assigned to thomasstjerne

[2021-03-17 16:33] gbif-portal opened #3328 "Duplicate records"
Alexey P. Seregin <botanik.seregin@gmail.com> spotted multiple duplicates among Moscow and Novosibirsk herbaria. I can do the communications, but I would like to agree on the recommended next steps first. Discovered through the Gallery -> Record ->Cluster, fyi @timrobertson100

https://www.gbif.org/occurrence/gallery?basis_of_record=PRESERVED_SPECIMEN&publishing_country=RU&publishing_org=8f6232c3-

[2021-03-17 17:05] gbif-portal opened #3329 "Different content of downloaded DwC-archive depending on route of downloading."
**Different content of downloaded DwC-archive depending on route of downloading.**

When downloading a sampling-event dataset as a DwC-archive I get different csv-files depending on how I download it.
1) If I choose "Source archive" straight from the box with three alternatives that appears when you click "download", I get 5 files in total: the three csv-files event, occurrence, extendedmeasuremen

[2021-03-18 16:17] gbif-portal opened #3330 "Add 2020 review"
**Add 2020 review**

Collection incomplete, please add https://www.gbif.org/document/6yWPsmfxuJ7YFuHtbMsqbt/gbif-science-review-2020

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/cd5028d2a56b82ae8c7acc0a713bc71d:b2a20ed0b8de925da446bb3719b67a063dfd0d97c7a421435f178a3baabc07fde461b73cb17127f1445f82bf66dd37928a5d79498f49013e5316b3aca1d60fe9)
System: Ch

[2021-03-19 08:17] gbif-portal opened #3331 "Record: https://www.gbif.org/uk/occurrence/1144640697 has wrong coordinates. The correct coordinates are approximately 45.4, 34.1"
**Record: `https://www.gbif.org/uk/occurrence/1144640697` has wrong coordinates. The correct coordinates are approximately 45.4, 34.1**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/39f52c6d6ee5f05ffbdb936f5d5fafab:77047e63ca9fd1a52e66879373959bbb5c6eb4391482625221059cc8d62453a2485d0e48ca78934c83c5d3065a98483e5258ed9ffb6ee1adc9d36d3730d185da)
System: Opera 25.0.1614 / Wind

[2021-03-19 08:18] gbif-portal opened #3332 "Record: https://www.gbif.org/uk/occurrence/1144620217 has wrong coordinates. The correct coordinates are approximately 45.4, 34.1"
**Record: `https://www.gbif.org/uk/occurrence/1144620217` has wrong coordinates. The correct coordinates are approximately 45.4, 34.1**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/039d2a1e61969bf1fb6bbfb94ad1c2e7:a0d0f9c00c6b325a905367e07cbb15bf4d99239bc206243ee303ab94ef1956f47726367b074f1710f7bebdf8cb7d2780d4984cbf105846fbcee22887c5fe96b3)
System: Opera 25.0.1614 / Wind

[2021-03-19 08:20] gbif-portal opened #3333 "Record: https://www.gbif.org/uk/occurrence/1144640699 has wrong coordinates. The correct coordinates are approximately 44.8, 34.4"
**Record: `https://www.gbif.org/uk/occurrence/1144640699` has wrong coordinates. The correct coordinates are approximately 44.8, 34.4**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/fe8f6dd2dccd84c131e9d7f7497620cb:c9ded65ec30f7fe85462403cf7aa19dd2bb5076a15c068ab89a078682f47fd17e2b8a3a7ac211be6db167b68307bd6391ee1a69b8e5ae26fa21c0df75bdf26a0)
System: Opera 25.0.1614 / Wind

[2021-03-19 08:38] gbif-portal opened #3334 "选中一个个体查看，在返回后直接返回到第一页 ，这样统计数据就很麻烦"
**选中一个个体查看，在返回后直接返回到第一页 ，这样统计数据就很麻烦**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/73032e2ffdb6db1ee3971b90cfad1f99:ec68ee4bbc4db57d0a75a74afec167f2104490f14c5dbaa448e73e91590cdbb996406a2131878722419c62f9b7af026edc95596dcc1fb9a9b05fe8cdc3974f3a)
System: Chrome 80.0.3987 / Windows 10.0.0
Referer: https://www.gbif.org/zh/occurrence/search?country=CN&has_coordinate=true&has_

[2021-03-19 09:04] MortenHofft commented on #3334
Google translate

[2021-03-19 09:05] MortenHofft commented on #3334
I think this means that offset is lost when clicking back in the browser after having viewed an individual record. Apparently this is only the case if advanced mode is true.

[2021-03-19 09:10] gbif-portal opened #3335 "Two species in this occurrence"
**Two species in this occurrence**

This is some feedback we received on Helpdesk:

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/bbbd3822dfe88cd1e7c2864a52026645:4d699d907d44ac45e4f2dfe78cb9bde04012db29bef6c5679dcc217023452e3adb4692dbd7db4cca38b3dffac4590a2affdb4df0fa3bd79ccfdcda8deaf5b789)
System: Safari 14.0.3 / Mac OS X 10.15.6
Referer: https://w

[2021-03-19 09:55] gbif-portal opened #3336 "Coordinate locality mismatch"
**Coordinate locality mismatch**

Feedback message received on helpdesk:

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/1941702ce41454536f209f06268f27d2:6f716c30357406fd5354e1651170b26f099cd10770bae6c80496b3616e549d57127988b164a2e3cff80972bad4cb30d4d9ffcddeff312fa4af7ef198e912b664)
System: Safari 14.0.3 / Mac OS X 10.15.6
Referer: https://www.gbif.or

[2021-03-19 12:27] gbif-portal opened #3337 "Dutch vernacular name incorrect"
**Dutch vernacular name incorrect**

This is some feedback we received on Helpdesk:

The vernacular Dutch name comes from the Catalogue of the Lepidoptera of Belgium (https://www.gbif.org/dataset/848271aa-6a4f-4bae-a055-7081f3e70c4b)

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/e72824a6296af3442a146c4640a92335:a1f329afabc1f1f3f6b1f603845e2816d37f19

[2021-03-19 12:48] ManonGros commented on #2357
I guess this issue is not longer relevant since in the new backbone the authorship is "Gust.".

[2021-03-19 12:48] #2357 closed

[2021-03-19 12:50] ManonGros commented on #2374
solved in the new backbone.

[2021-03-19 12:50] #2374 closed

[2021-03-19 12:51] ManonGros commented on #2375
Solved in the new backbone.

[2021-03-19 12:51] #2375 closed

[2021-03-19 12:53] ManonGros commented on #2326
Setaria setosa (Sw.) P.Beauv. is now in the correct kingdom: https://www.gbif.org/species/10672711

[2021-03-19 12:53] #2326 closed

[2021-03-19 13:10] ManonGros commented on #2341
As far as I can see, the two species are now separate in the new backbone:
https://www.gbif.org/species/5094809 in the Faniidae family
https://www.gbif.org/species/1525985 in the Muscidae family

[2021-03-19 13:10] #2341 closed

[2021-03-19 13:12] ManonGros commented on #2342
They are both separate species in separate families in the new backbone:
https://www.gbif.org/species/1573446
https://www.gbif.org/species/5094794

[2021-03-19 13:12] #2342 closed

[2021-03-19 13:20] ManonGros commented on #2271
The issue has been fixed in the new backbone.

[2021-03-19 13:20] #2271 closed

[2021-03-19 13:22] ManonGros commented on #2273
Columbigallina cruziana is not included in the new backbone taxonomy: https://www.gbif.org/species/search?q=Columbigallina%20cruziana

[2021-03-19 13:22] #2273 closed

[2021-03-19 13:28] ManonGros commented on #2312
Issue solved in the new backbone.

[2021-03-19 13:28] #2312 closed

[2021-03-19 13:35] ManonGros commented on #2178
Solved in the new backbone.

[2021-03-19 13:35] #2178 closed

[2021-03-19 13:36] ManonGros commented on #2203
Solved in the new backbone.

[2021-03-19 13:36] #2203 closed

[2021-03-19 13:37] ManonGros commented on #2204
The species doesn't exist in the new backbone: https://www.gbif.org/species/search?q=Boocerus%20eurycerus

[2021-03-19 13:37] #2204 closed

[2021-03-19 13:38] ManonGros commented on #2205
The species doesn't exist in the new backbone: https://www.gbif.org/species/search?q=Alouatta%20villosa

[2021-03-19 13:38] #2205 closed

[2021-03-19 13:40] ManonGros commented on #2206
Issue solved in with the backbone update.

[2021-03-19 13:40] #2206 closed

[2021-03-19 13:43] ManonGros commented on #2226
The GBIF type specimen checklist is no longer included in the backbone.

[2021-03-19 13:43] #2226 closed

[2021-03-19 13:50] ManonGros commented on #2031
Bufo typhonius and Hoplobatrachus tigerinus are distinct species in the new backbone. All the south American occurrences of Hoplobatrachus tigerinus have the scientific name "Hoplobatrachus tigerinus": https://www.gbif.org/occurrence/search?continent=SOUTH_AMERICA&taxon_key=2430380

[2021-03-19 13:50] #2031 closed

[2021-03-19 13:51] ManonGros commented on #2078
The issue has been solved in the new backbone.

[2021-03-19 13:51] #2078 closed

[2021-03-19 13:58] ManonGros commented on #2133
The name seems correctly spelled in the new backbone.

[2021-03-19 13:58] #2133 closed

[2021-03-19 14:02] ManonGros commented on #2144
The subspecies is not included in the new backbone (as it was coming from the GBIF Type checklist).

[2021-03-19 14:02] #2144 closed

[2021-03-19 14:09] ManonGros commented on #3070
Solved in the new backbone.

[2021-03-19 14:09] #3070 closed

[2021-03-19 14:10] ManonGros commented on #3087
Solved in the new backbone.

[2021-03-19 14:10] #3087 closed

[2021-03-19 14:13] ManonGros commented on #3148
error corrected in the new backbone: https://www.gbif.org/species/10928814

[2021-03-19 14:13] #3148 closed

[2021-03-19 14:22] ManonGros commented on #2862
It seems to be the case in the new backbone.

[2021-03-19 14:22] #2862 closed

[2021-03-19 14:27] ManonGros commented on #2863
They are distinct species in the new backbone.

[2021-03-19 14:27] #2863 closed

[2021-03-19 14:33] ManonGros commented on #2738
Solved in the new backbone.

[2021-03-19 14:33] #2738 closed

[2021-03-19 14:35] ManonGros commented on #2789
Solved in the new backbone.

[2021-03-19 14:35] #2789 closed

[2021-03-19 14:35] ManonGros commented on #2790
Solved in the new backbone.

[2021-03-19 14:35] #2790 closed

[2021-03-19 14:38] ManonGros commented on #2704
Solved in the new backbone.

[2021-03-19 14:38] #2704 closed

[2021-03-19 14:39] ManonGros commented on #2715
Solved in the new backbone.

[2021-03-19 14:39] #2715 closed

[2021-03-19 14:45] ManonGros commented on #2727
There seem to be two remaining ones in the new backbone:
| Genera | DOI(s) of the dataset concerned |
|-------|-------|
| [Neopicobia](https://www.gbif.org/species/9575040) and [Rafapicobia](https://www.gbif.org/species/8110864)| https://doi.org/10.11646/zootaxa.4113.1.1, https://doi.org/10.15468/ad9psd |
| [Tyrannidectes](https://www.gbif.org/species/7633796) | https://doi.org/10.5281/zenodo.2031

[2021-03-19 19:14] gsautter commented on #2727
Cleaned up now ... @ManonGros thanks for pointing us to this mix-up.

[2021-03-21 10:50] gbif-portal opened #3338 "Duplicate herbarium dataset from Togo"
**Duplicate herbarium dataset from Togo**

This seems like an obvious one-to-one duplicate of [Togo National Herbarium Dataset](https://www.gbif.org/dataset/b05dd467-aaf8-4c67-843c-27f049057b78).

-----

Github user: @kcopas
User: [See in registry](https://www.gbif.org/api/feedback/user/d5c47d1d4b271d2897460dbe3e71f0da:69e31c8860f06dfdf615121b0c0d6361bd7dffe3b17a23f8728a4fe831936b599bd3b8be49c0e42

[2021-03-22 11:32] gbif-portal opened #3339 "Why I can't download the dataset as a CSV file? How can I download it as CSV file?"
**Why I can&#39;t download the dataset as a CSV file? How can I download it as CSV file?**

https://www.gbif.org/occurrence/download/0228104-200613084148143

-----

Github user: @mgcrp
User: [See in registry](https://www.gbif.org/api/feedback/user/dc10c430665e34573023bfa0f7805a53:efa8a16f09523f457ee73511d746504973993e6063744dae0b0fb3dc83d46682080f78034d0f55461eb2346ecb4fff42e3945e548e3563a9d5c47ec

[2021-03-22 15:35] kcopas commented on #3044
First-time user [reports](https://twitter.com/xrisfg/status/1373976904106192896?s=20) similar difficulty finding Kings County, New York, USA. Recognizing the numeric naming convention, [I found it](https://www.gbif.org/occurrence/search?gadm_gid=USA.33.24_1), but it's not in the short list of 10 suggestions that appear under the filter when typing in "Kings"…

[2021-03-23 05:03] MortenHofft commented on #3044
I'm not sure what a good approach for this is.

In the API we can
* searching for `clark nevada` should return the nevada case in stead of zero results. Similar when searching for e.g. `Kings new york` as in the tweet reference where the user is unable to find Kings county in NYC (I'm unable to as well)
* have perfect matches ranked highest - currently a [search for `king`](https://api.gbif.org/v1

[2021-03-23 14:05] gbif-portal opened #3340 "Activity Report: "Data availability in.." misreports Virus count (duplicate of Bacteria)"
**Activity Report: &quot;Data availability in..&quot; misreports Virus count (duplicate of Bacteria)**

Glitch: the country activity reports contain a miscount (duplicated value from Bacteria) for viruses.

(reported during NSG call by JP node manager)

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/92f7c3dd820b9aa966807b590bdde125:13f3fc7e59e25649153930e77c7f1f23fe07c9f5862

[2021-03-23 14:21] ahahn-gbif commented on #3339
According to the referring page, the download was requested in DwC Archive format. This means that it comes as a zipped folder that contains several files - the interpreted core data (occurrence.txt), the same data in their original version (verbatim.txt), a number of joined tables, and metadata files. All txt files are csv (tab delimited) data files, and should be available as such after un-zippi

[2021-03-23 14:38] #3340 closed, assigned to nobody

[2021-03-23 14:41] MattBlissett commented on #3340
@ahahn-gbif, I've fixed this in the code — it's been like this since they were converted to this format, in summer 2018.

I haven't regenerated the reports, since some sections (recent peer-reviewed articles, most recent datasets, newest publishers, top datasets, projects) would then show March 2021 data.

[2021-03-23 14:46] ahahn-gbif commented on #3340
Thanks Matt for the reminder - I logged it as it was pointed out during today's call. Good sign that the reports are actually read and used. The change will come into effect with the next annual update then?

[2021-03-23 14:49] MattBlissett commented on #3340
Yes, in January 2022.  (Unless we do something special.)

[2021-03-24 07:29] gbif-portal opened #3341 "disconnect 2020 page in Russian from the new 2021 (master) page in EN"
**disconnect 2020 page in Russian from the new 2021 (master) page in EN**

Nataliya I noticed that if someone is switching to Russian language from the 2021 data papers announcement, then the reader sees the 2020 text but with 2021 picture. Please remove this incorrect link. The 2020 RU page should have an old visual (bumblebee), and instead of (1) in the title should read (2020). Most importantly

[2021-03-24 07:34] dnoesgaard commented on #3341
Sorry, this is my bad. I duplicated the 2020 item when creating the 2021 one, not realising that the RU translation would be copied over as well. I've removed this now.

Do you want to provide a translation of the 2021 item as well?

[2021-03-24 07:36] dschigel commented on #3341
I will ask GBIF.ru

[2021-03-24 07:37] dnoesgaard commented on #3341
Ok thanks!

[2021-03-24 07:37] #3341 closed, assigned to dnoesgaard

[2021-03-24 09:39] ManonGros commented on #3252
The record concerned is: https://www.gbif.org/occurrence/3046140233
Contacted publishers by email.

[2021-03-24 10:11] ManonGros commented on #3214
Both solutions worked on UAT:
- change the order of the records: https://www.gbif-uat.org/species/search?q=Aegilops&dataset_key=552ca2b1-d1f4-4540-9a14-727cde03cb7a&origin=SOURCE&advanced=1
- use `parentNameUsageID`: https://www.gbif-uat.org/species/search?q=Aegilops&dataset_key=56c5ba79-c1e4-4a8b-8306-78a370fe3c8b&origin=SOURCE&advanced=1

I also wrote to GBIF Spain to let them know.

[2021-03-24 11:19] MortenHofft opened #3342 "Occurrence index does not reflect latest changes to network constituents"
This network
https://registry.gbif.org/network/3aee7756-565e-4dc5-b22c-f997fbd7105c

contains this dataset
https://registry.gbif.org/dataset/ee0e7875-8fbc-4cd8-a6a8-65f4a871e2ea/ingestion-history

But it isn't reflected in search (zero results)
https://www.gbif.org/occurrence/search?dataset_key=ee0e7875-8fbc-4cd8-a6a8-65f4a871e2ea&advanced=1&network_key=3aee7756-565e-4dc5-b22c-f997fbd7105c

What d

[2021-03-24 11:39] dnoesgaard commented on #3330
Thanks, done.

[2021-03-24 11:39] #3330 closed, assigned to nobody

[2021-03-24 12:00] ManonGros commented on #3337
Contacted publisher by email.

[2021-03-24 12:32] ManonGros commented on #3331
Contacted publisher by email.

[2021-03-24 12:33] ManonGros commented on #3332
Contacted publisher by email.

[2021-03-24 12:33] ManonGros commented on #3333
Contacted publisher by email.

[2021-03-24 12:50] jlegind commented on #3308
User has been contacted:

This works https://www.gbif.org/occurrence/search?advanced=1&project_id=BID-CA2016-0001-NAC
Project ID is needed and not title.

[2021-03-24 12:50] #3308 closed, assigned to jlegind

[2021-03-24 13:36] ManonGros commented on #3317
Replied by email:

https://api.gbif.org/v1/occurrence/search?limit=0&taxonKey=8357600&facet=country&facetLimit=200

[2021-03-24 13:36] #3317 closed, assigned to ManonGros

[2021-03-24 14:28] ManonGros commented on #3299
Contacted TAXREF contact by email.

[2021-03-24 14:37] ManonGros commented on #3302
@mdoering This looks like an other incorrect synonym due to the similar scientific epithet and authorship (like some of the ones mentioned here: https://github.com/gbif/checklistbank/issues/106).

[2021-03-24 14:45] ManonGros commented on #3174
the name comes from the Mantodea Species File checklist.
I am not sure why we have two registered and only one with data:
* https://www.gbif.org/dataset/1c6e352a-8bd7-4568-9cca-8e82645bef2a (is the checklist linked as the reference one)
* https://www.gbif.org/dataset/99948a8b-63b2-41bf-9d10-6e007e967789 (seems to be the one with the data https://www.gbif.org/species/113794106)

[2021-03-25 06:29] gbif-portal opened #3343 "Download help"
**Download help**

Hi there, when I download records as a csv, there don't appear to be commas in the right places, such that the fields don't all line up, when opened in, for example, MS Excel.  When I set comma as the delimiter, it didn't work.

Please help.

For example, the data below is from one cell:

3031984820																										68080267										CC_BY_NC_4_0			2021-01-16T07:43:50Z

[2021-03-25 08:08] dnoesgaard commented on #3324
Here's another example: https://www.gbif.org/occurrence/download/0017395-200221144449610

Applying the continent=EUROPE filter yields 11 M records whereas a rough polygon of Europe yields ~five times that.

[2021-03-25 09:47] MattBlissett commented on #3324
See also #2387 and https://github.com/gbif/parsers/issues/26

We could start parsing / filling in dwc:continent, which is probably a better result than explaining why the term isn't much use in a filter.

I'll comment further on that issue.

[2021-03-26 01:36] gbif-portal opened #3344 "I don't understand the numbers in the Species browser"
**I don&#39;t understand the numbers in the Species browser**

In the gbif web portal's Species browser (https://www.gbif.org/species/search), when I look under "Rank," I see the number 4,668,426 after "Species." I assume that's the number of identified species on Earth. But if I look under "Higher Taxon," I see the number 4,023,110 after Animalia and the number 1,827,213 after Plantae, which add

[2021-03-26 03:12] gbif-portal opened #3345 "API limits species offset to 100,000"
**API limits species offset to 100,000**

Hi there,

I'm using the GBIF API to cache species records locally—so I don't hit the API with lots of queries during development—but I ran into this issue:

(venv) Raphaels-MacBook-Pro:conservation raphaelmatto$ python utils.py
Requesting records with offset 100001 ...
Starting new HTTPS connection (1): api.gbif.org:443
https://api.gbif.org:443 "GET /v1/s

[2021-03-26 11:17] MattBlissett commented on #3345
Replied by email with a link to https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c which links to the downloads of the backbone.

[2021-03-26 11:17] #3345 closed, assigned to nobody

[2021-03-26 16:51] Jegelewicz commented on #3343
Try opening as a tab separated file.

[2021-03-26 17:13] Jegelewicz opened #3346 "discrepency in taxonomic backbone for Siphonaptera between download and UI"
A download of the taxonomic backbone filtered for order = Siphonaptera results in 4,429 names but a search in the UI (https://www.gbif.org/species/search?highertaxon_key=1366&advanced=1) results in only 4,275.

I expected these numbers to be the same and am curious to know why they are not.

I am also curious as to why I am unable to search for the order Siphonaptera in the UI. I got to the result

[2021-03-26 17:25] Jegelewicz opened #3347 "discrepancy between simple and advanced species search for the same name"
A simple search for Phalacropsylla shannoni (https://www.gbif.org/species/search?q=Phalacropsylla%20shannoni) returns nothing.
![image](https://user-images.githubusercontent.com/5725767/112669152-fbd5ed00-8e24-11eb-9f64-7bb51ec275d2.png)

Simply clicking "Advanced" (https://www.gbif.org/species/search?q=Phalacropsylla%20shannoni&advanced=1) reveals a name.
![image](https://user-images.githubuserco

[2021-03-26 17:30] Jegelewicz commented on #3347
In addition, this name appears as accepted in the UI, but in a download of names, it is an invalid name. Possibly related to #3346

[2021-03-27 05:10] MortenHofft commented on #3343
https://www.gbif.org/faq?q=csv

If you are still having issues, then please send a link to the download in case - it might be that it is corrupt somehow.

[2021-03-27 05:11] gbif-portal opened #3348 "download zero bytes"
**download zero bytes**

https://www.gbif.org/occurrence/download/0231031-200613084148143

This download shows as having size: zero bytes

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/ab27ff7d45b841bb7a91e0ce772356dc:738feddc2666fc4aaa9291b25a16a43f45e7544a17403909526f321f2da6eae5be163597adf87f13640493cc8cfe02458000aa5baa8c4c59c5b3ade326c65d09)
Sy

[2021-03-27 05:17] MortenHofft commented on #3346
I've created a new issue for searching higher taxonomy as that is unrelated to what I understand as your main question

[2021-03-27 05:26] MortenHofft commented on #3347
Hi @Jegelewicz
Thanks for the detailed feedback.

Simple search: is searching the GBIF backbone only
Advanced search: search across all checklists

So it is expected that you see other results when you search all checklists instead of just one. And one checklist might consider it a valid name, but others might not.

Do you have suggestions for how to make this clearer? We have tried to describe it

[2021-03-27 21:34] Jegelewicz commented on #3343
When I downloaded from GBIF, I found that the file is tab separated - two other people that I am working with have noticed the same issue. The downloads should either be structured as comma separated or they should be .tsv

All I had to do was change the file from .csv to .tsv in order to be able to open it with Excel.

[2021-03-28 07:02] #3343 closed, assigned to nobody

[2021-03-28 07:09] MortenHofft commented on #3343
Related to https://github.com/gbif/occurrence/issues/100

Good to hear that you solved it. The mail with the download link also describes that it is a tab delimited csv and a description of how to open it in excel

[2021-03-29 08:07] gbif-portal opened #3349 "Odd species : Animalia > Animalia > Animalia"
**Odd species : Animalia &gt; Animalia &gt; Animalia**

This looks like a mistake

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/43ee01f10774a08438cbd8ef124b0d44:85c948da346ef7c5233304e1cc240bd6d4a7b491bf71816df05db8412b6f1c334c13ec4179852c97239ddeb5b10afe2c031b02dcc9167571d102a545965325cb)
System: Chrome 89.0.4389 / Mac OS X 10.15.7
Referer: https

[2021-03-29 12:47] jlegind commented on #3016
Issue has been overtaken by developments.

[2021-03-29 12:47] #3016 closed

[2021-03-29 12:50] jlegind commented on #3338
Publisher has been contacted, again

[2021-03-30 06:17] ManonGros commented on #3349
This looks like a PLAZI treatment issue. This checklist (https://www.gbif.org/dataset/bd0522ba-e842-4416-82ac-98640acd8e45) contains:

taxonRank | scientificName
-- | --
species | Animalia NABOZHENKO et al.
species | Animalia

7ce8aef0-9e92-11dc-8738-b8a03c50a862

[2021-03-30 07:33] gbif-portal opened #3350 "the photo is not of the species listed"
**the photo is not of the species listed**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4b094d659f78a5177222e13be7959f05:24f6c0afdd641e332932b5cd2564e341fc451576835b9ce236d8ac680aa68f4b22d60ed98b58e26573a5be86086f5e5698a3ea5a7fc8b405c0f5cc45913d56b8)
System: Chrome 89.0.4389 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/2242781618
Window size: width 1366 - hei

[2021-03-30 07:33] gbif-portal opened #3351 "the distribution shown on the map is incorrect"
**the distribution shown on the map is incorrect**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/5707fe34393596a2a6eb036db3c8f919:2d30ce85f956c0bd406196de99423d7c12dc7510bcc475fa16964ebee4c17a7a87031fd5098d05235c24c6a294528a3296d597f74ed00df20ad37233e9675a92)
System: Chrome 89.0.4389 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/2242781618
Window size: width 13

[2021-03-30 08:32] jlegind commented on #3338
Publisher University of Lomé has been contacted.

[2021-03-30 14:18] ahahn-gbif commented on #3077
I may be misunderstanding, but this only reaches API-level deep. To a question like "is the term 'associatedTaxa' indexed/searchable/included in downloads" (and similar questions for DwC extension data terms), the "searchable" question can be answered for API users; the other questions not so easily.

[2021-04-05 11:05] gbif-portal opened #3352 "suggestion to add synonym"
**suggestion to add synonym**

I guess another synonym is "Vola striatocostata" / "Vola striato-costata":

https://www.google.com/search?q=%22Vola+striatocostata%22&client=firefox-b-d&biw=2144&bih=1079&tbm=bks&ei=ie5qYOrkLdX_7_UP3--RuAE&oq=%22Vola+striatocostata%22&gs_l=psy-ab.3...47289.47521.0.47643.2.2.0.0.0.0.88.146.2.2.0....0...1c.1.64.psy-ab..0.0.0....0.WjpusQR-fHk

-----

User: [See in regis

[2021-04-06 04:36] gbif-portal opened #3353 "Several of our occurrences are marked as "Presumed swapped coordinates". Sometimes it can be right, but on many occasions (e.g. NSK0007601) our coordinates are right (Siberia) but your coordinates are wrong. After coordinate swapping this point was moved to the ocean."
**Several of our occurrences are marked as &quot;Presumed swapped coordinates&quot;. Sometimes it can be right, but on many occasions (e.g. NSK0007601) our coordinates are right (Siberia) but your coordinates are wrong. After coordinate swapping this point was moved to the ocean.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/cabd354017391d6efc7a48f12f1c6a7c:0cebe91707d0e

[2021-04-06 04:41] gbif-portal opened #3354 "Collection match fuzzy"
**Collection match fuzzy**

All our datasets have the same error "Collection match fuzzy". Please explain how to correct this error? We tried to add "Collection ID" field (NSK0064971) but it did not help.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/28cbe4c57f44f09f780547356f06509c:5306e167a25fb0f8c26699b55b97efcd24e32d6e59e788fb6baa14253a345311cea1ac1e090c6ad0ae0ab7d394b

[2021-04-06 05:12] MortenHofft commented on #3354
@marcos-lg and @ManonGros this look like a mistake to me?

The lookup is here
https://api.gbif.org/v1/grscicoll/lookup?institutionId=http://grscicoll.org/institution/central-siberian-botanical-garden-siberian-branch-russian-academy-sciensis&collectionCode=NSK

and the collectionCode is unique
https://registry.gbif.org/collection/search?code=NSK

[2021-04-06 05:25] MortenHofft commented on #3353
The original coordinates are located in what our parser consider Kazakhstan. And since the occurrence record states that the country is Russia, the solution is to swap the coordinates. This can by solved by removing the country or by changing it to `Kazakhstan`

https://www.google.dk/maps/place/53%C2%B054'00.0%22N+76%C2%B024'00.0%22E/@53.9,76.3978113,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d53.9!

[2021-04-06 06:51] ManonGros commented on #3337
The checklist has been corrected.

[2021-04-06 06:51] #3337 closed, assigned to ManonGros

[2021-04-06 09:10] ManonGros commented on #3354
I think this is the result of two things:

- the identifier they used for the collection is the IH identifier which we don't use for the matching
- therefore the matching is based only on the collection code which we always tag as fuzzy (even when we have unique codes)

So I could contact them to suggest using the collection UUID instead or we could enable the matching based on the IH identifiers.

[2021-04-06 09:27] MortenHofft commented on #3354
My gut feeling is that they have done a good job as it is. They use the exact identifier for the institution. And they have a unique collection code (both globally and within that institution). And there is no identifiers for them to use instead of the code (since we do not advertise using UUIDs). I think it shouldn't show as fuzzy.

If there were 2 collections within that institution with that co

[2021-04-06 09:36] MortenHofft commented on #3354
Would it make sense to think of these links as `robust` and `weak`?

A `weak match` is link that is outside the publishers control. Like if someone else use that code.
So  `institutionCode: ABC and collectionCode: XYZ` is weak - it might be unique now, but it might not be tomorrow.
`institutionID: grscicoll/1234 and collectionCode: grscicoll/5678` is robust
`institutionID: grscicoll/1234 and colle

[2021-04-06 11:04] gbif-portal opened #3355 "I would like to download an image to use in a publication (original source iNaturalist). Please can you advise me if this is acceptable, and if so, how to carry out the download? Thanks"
**I would like to download an image to use in a publication (original source iNaturalist). Please can you advise me if this is acceptable, and if so, how to carry out the download? Thanks**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6bc5ba3754166316b037242df256e20c:f46888bdb1056da99f69e5c57612db234e2b4c8eb454eb814282cd70398b7cde759b8ca06b1ee80a5cfce63237bb760e44b9b70f64

[2021-04-06 11:30] ManonGros commented on #3355
Replied by email:

Under each image on the occurrence page, you should find a suggested attribution (see screenshot below). For example: “Polygala vulgaris L. observed in Germany by Markus Krieger (licensed under http://creativecommons.org/licenses/by/4.0/)”, you can use it to credit the original owner.

<img width="475" alt="find_info_image" src="https://user-images.githubusercontent.com/7677271/

[2021-04-06 11:30] #3355 closed, assigned to ManonGros

[2021-04-06 13:42] gbif-portal opened #3356 "more and better maps"
**more and better maps**

I think we can consider adding more of maps views of the existing content (and maybe have visual and coloristic consistency in the suite of GBIF visuals, e.g. histograms and map colors?)

I came across this https://www.pinterest.com/pin/122019471128323546/?d=t&mt=login and thought we can highlight e.g. most photographically documented areas of the world vs. best sequences

[2021-04-06 23:29] gbif-portal opened #3357 "How do I start reporting transects?"
**How do I start reporting transects?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/58c833bd79916d7524a61292b6b5cda6:e4d3304f8afcf70833a1522a8036d2428524877bb577ccdad0ef5b580bc4116e863d1937e97896ef1ab3abb7a56d4b34503bc920e16ef3ea734b9b65fa7b88ce)
System: Mobile Safari 14.0.3 / iOS 14.4.2
Referer: https://www.gbif.org/health
Window size: width 320 - height 438
[API log](h

[2021-04-07 01:49] gbif-portal opened #3358 "Is the entry for 2016 (Tenebrionidae sp.) an error? I searched for Blapstinus rufipes, and the GBIF result said it was a synonym of "2016 (Tenebrionidae sp.)".?"
**Is the entry for 2016 (Tenebrionidae sp.) an error? I searched for Blapstinus rufipes, and the GBIF result said it was a synonym of &quot;2016 (Tenebrionidae sp.)&quot;.?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/58fd6bcdb9e114170aa891c4991d5f65:992dffa22e53b87a531c09f374c94dc8c3fd68772ea5a8cae8768ea4a6acb3d43f59bd1aa94ca0b23e2579b7c4eedb605229b4cafca4995de03a8a859

[2021-04-07 05:19] gbif-portal opened #3359 "Palorus foveicollis was oddly listed as a synonym of 2206 (Tenebrionidae sp.)??? This is now the second Tenebrionidae species with this issue (the other being Blapstinus rufipes)."
**Palorus foveicollis was oddly listed as a synonym of 2206 (Tenebrionidae sp.)??? This is now the second Tenebrionidae species with this issue (the other being Blapstinus rufipes).**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0ac05d303374dfe1f56f1dd84f98126c:304ad8c1f91002473dac186b6b6a2b638f32cf9baa9f8f269355c4f56331189b578f933858c740a739118ef8f24c5606fe799fa6eb01676f

[2021-04-08 07:25] #3353 closed, assigned to nobody

[2021-04-08 15:59] gbif-portal opened #3360 "Fuzzy matching algorithm is going overboard on this one."
**Fuzzy matching algorithm is going overboard on this one.**

Rhagonycha carolynae Fanti & Walker, 2019 is correct. It's a new name, as you can see. It is in PBDB. SEE https://paleobiodb.org/classic/basicTaxonInfo?taxon_no=399711 and indeed a search in GBIF for Rhagonycha turns up this literature containing this new species https://doi.org/10.11646/palaeoentomology.2.5.13

How does LACM let GBIF k

[2021-04-08 19:04] ahendy-zz commented on #3360
So collections can contribute to the GBIF backbone in the form of a Checklist dataset. I'd suggest that future collaborative digitization projects (e.g., TCNs) - and past projects where such data was internally generated - should submit a checklist that helps the GBIF taxonomic backbone parse there own data. Relying on other services (e.g., IRMG, WoRMS, PBDB) to provide that data is an indirect so

[2021-04-09 17:50] debpaul commented on #3360
To @MortenHofft @timrobertson100 @mdoering would it be possible to index **verbatimScientificName**?

This would be one step toward discovery, before the name is (might be) inserted into the backbone formally?

I realize (I think) this means the name would not be available via the search method that lets one traverse the hierarchical tree. But, it would potentially allow one to find these specimen

[2021-04-10 00:49] gbif-portal opened #3361 "Hello, excellent project. Very useful and interesting. I am in Tucumán, I live in the Yungas area, we have agro-ecological crops (and many more people) for example Smallanthus sonchifolius, Curcuma longa and C. zedoaria, Manihot esculenta, among other things. I know that in other provinces of my country it is also cultivated a lot. How do they update the maps? How do they get the information? I could send you photos and location if it works for you. Greetings, have a nice weekend. Erika"
**Hello, excellent project. Very useful and interesting. I am in Tucumán, I live in the Yungas area, we have agro-ecological crops (and many more people) for example Smallanthus sonchifolius, Curcuma longa and C. zedoaria, Manihot esculenta, among other things. I know that in other provinces of my country it is also cultivated a lot. How do they update the maps? How do they get the information? I

[2021-04-11 09:34] gbif-portal opened #3362 "Detailed images are no longer displayed"
**Detailed images are no longer displayed**

Hello,
When I do a search for a taxon, the images are displayed but when I want to click on an image, nothing is displayed. The detailed images cannot be accessed. It's new, it worked very well before.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/60de29ed72d0b1d8a5a823ed62291188:5086f3aedf3ec77827291bdc8ce592aa6aff93fe0aac0216a

[2021-04-12 10:48] #3362 closed, assigned to thomasstjerne

[2021-04-12 12:31] akristensen opened #3363 "Link between Inat and GBIF broken"
Hi
the picture is no longer linking between Inat (https://www.inaturalist.org/observations/63598934) and GBIF:
https://www.gbif.org/occurrence/2963863953

[2021-04-12 12:52] MattBlissett commented on #3363
The iNaturalist user has changed the record license, so it is no longer eligible for iNat's export to GBIF.

I don't know how often iNaturalist update their links to GBIF.

[2021-04-12 19:53] gbif-portal opened #3364 "Marion County, TX"
**Marion County, TX**

I am trying to find moth occurrence data for Marion County, Texas.  When I go to Occurrences, then search in the Administrative Areas box, that county doesn't show up.  Marion Counties in other states like Kentucky show up, but not for Texas.  Is this a site bug?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c840610f88833f1604e20055b404ae2a:55aad41f1

[2021-04-12 21:16] Jegelewicz commented on #3346
Just checking in to see if anyone can take a look at this issue. As I have been working through a names list, I also discovered that Ceratophyllus anisus does not appear in my download, although it does in the UI - https://www.gbif.org/species/10859342

I can guess at why this is so, but I would like to know for sure. Any assistance would be appreciated.

[2021-04-12 22:50] gbif-portal opened #3365 "How do I download custom metrics data?"
**How do I download custom metrics data?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/377b2df9a8b39b840d3ac81286303032:37226dc5a561341efa92a6d06e531aaf7235f258995c67c03f7dc1241f4ebbd46e195e349df86b68a5d353e2dbf77827b93043f353b9aade51a50001e46860f1)
System: Chrome 89.0.4389 / Mac OS X 10.15.7
Referer: https://www.gbif.org/occurrence/download?taxon_key=2607519
Window size

[2021-04-13 07:14] MortenHofft commented on #3364
Confirming that a search for `Marion Texas` will give no results.
Duplicate of https://github.com/gbif/portal-feedback/issues/3044

[2021-04-13 07:36] MortenHofft commented on #3365
The short answer is: you cannot download a chart. You have to download the data behind it to get the citation DOI and then you can do charts based on that data subset.

----

The charts have an exploratory purpose. All metrics are driven of our public APIs documented here
https://www.gbif.org/developer/occurrence

All metrics are driven by facets. E.g.
http://api.gbif.org/v1/occurrence/search?taxo

[2021-04-13 08:28] ManonGros commented on #3346
Hi @Jegelewicz, as far as I understand the numbers on the API (and UI) correspond to the accepted species names.

**For example:**
The Tungidae family shows 26 species: https://www.gbif.org/species/5321
If you look in the backbone file, there are 42 names for this family:
* 31 of them are accepted (the others are "doubtful" or "synonym")
* Of these 31 names, there is one family name, 4 genus names

[2021-04-13 11:54] mdoering commented on #3346
@ManonGros this is correct. But it does not explain the discrepancy @Jegelewicz  has spotted with [Siphonaptera](https://www.gbif.org/species/search?highertaxon_key=1366&advanced=1). The search should return all names regardless their rank and status that have Siphonaptera in their classification. You can see the rank & status facets for the breakdown.

A quick `grep "Insecta\tSiphonaptera" Taxon.

[2021-04-13 12:48] gbif-portal opened #3366 "quality content missing"
**quality content missing**

Just attended a CMEC seminar* on tree range dynamics, which largely depended on the NeotomaDB. Looks like very nice, quality and curated data. Any way we can stimulate data publishing?

*
Jacquelyn Gill, Associate Professor, School of Biology and Ecology, University of Maine

Abstract: Quaternary paleoecological data has presented two conflicting models for the capacit

[2021-04-13 13:06] dschigel commented on #3366
@albenson-usgs

[2021-04-13 14:24] gbif-portal opened #3367 "suggestion to add name to the synonym list"
**suggestion to add name to the synonym list**

suggestion to add the name Scaphites constrictus to the synonym list of Hoploscaphites constrictus.

E.g.
https://www.google.de/books/edition/Der_Bl%C3%A4ttertonstein_des_nordwestdeutsch/7oCEKwuzpb8C?hl=de&gbpv=1&bsq=%22Scaphites%20constrictus%22&kptab=overview

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/24ffafb3d0ec3e326ae

[2021-04-13 18:05] Jegelewicz commented on #3346
@mdoering thanks for that, but I am pretty sure we have the latest version - we downloaded again this am. I have attached the file with the list of "Siphonaptera" that we queried from the download. Oddly, there appear to be names from the UI that are not in the query, even though there are more names in the query than I find in the UI. See https://github.com/gbif/portal-feedback/issues/3346#issuec

[2021-04-13 18:07] Jegelewicz commented on #3346
This makes sense given how I have to get to the Siphonaptera in the UI, but with the download, we can just query for order=Siphonpatera, which gives different results apparently?

[2021-04-13 19:34] gbif-portal opened #3368 "Extension information not being displayed"
**Extension information not being displayed**

Based on information from the most recent GBIF newsletter, extension information is now added to occurrences. However information from the extended measurement or fact extension is not being included for this occurrence (dataset here: https://www1.usgs.gov/obis-usa/ipt/resource?r=rcca_transects). The reason might be because this is an event dataset wi

[2021-04-13 21:36] mdoering commented on #3346
When you say _queried from the download_ you mean you have somehow filtered the file https://hosted-datasets.gbif.org/datasets/backbone/backbone-current.zip to only contain the rows with `order=Siphonaptera`? How exactly did you do this? Your file contains 4429 names, while my grep finds 4275 (which includes Ceratophyllus anisus and Callopsylla gemina).

[2021-04-14 05:22] MortenHofft commented on #3368
@albenson-usgs I'm labelling this as an interpretation idea and question. And yes I believe you are right, it is due to it being an event dataset.

[2021-04-14 06:33] gbif-portal opened #3369 "Possible misspelling Macrotricidae - Macrothricidae"
**Possible misspelling Macrotricidae - Macrothricidae**

We got this feedback on Helpdesk.
One of our users suspects that this family, Macrotricidae, could be a misspelling of the Family Macrothricidae (https://www.gbif.org/species/7641).

Macrotricidae has no genus children in the backbone.
Buts some of the genera in the original source (https://www.gbif.org/species/167991674) are the same as the

[2021-04-14 07:45] ManonGros commented on #3346
@mdoering I downloaded the backbone a few days ago from https://hosted-datasets.gbif.org/datasets/backbone/backbone-current.zip
and did `grep "Insecta\tSiphonaptera" backbone-current/Taxon.tsv | wc -l` and got `4431`.
Today, I re-downloaded it from the same URL and used the same command and got `4276`.

I remember that you wrote that you updated a link recently, could it be the reason why?

If tha

[2021-04-14 07:55] mdoering commented on #3346
Ah yes. That's it. The _current_ link is or rather should be a symbolic link to the latest version of the backbone.
But we forgot to update the link so until yesterday it still pointed to the last 2019 version. That explains it all.

You can always access the individual versions by date as folders here:
https://hosted-datasets.gbif.org/datasets/backbone/

[2021-04-14 07:55] #3346 closed, assigned to nobody

[2021-04-14 12:11] AbbyBenson commented on #3368
One idea to throw out there. Maybe it would be somewhat easy to at least show on the dataset pages that extension(s) are that have been applied to a dataset so at least people know that more data are available?

[2021-04-14 13:49] gbif-portal opened #3370 "recognize tsv files"
**recognize tsv files**

My Darwin Core Archive has .tsv files in it, and the validator seems unable to recognize that. The taxonID, taxonomicStatus, etc. are all smooshed together, and I get errors. When I use .csv the archive validates

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6684b4927d35293012a4c68e2155c620:e29d06ad0e5d373a9a8d528536b94fe6b00bd6cdc3206aba585a4787f3

[2021-04-14 13:50] ManonGros commented on #3344
I think the reason why this is confusing is because the numbers here are for **names**, not just **species** (although the page is called "species").
<img width="357" alt="Screenshot 2021-04-14 at 15 35 19" src="https://user-images.githubusercontent.com/7677271/114719446-60ef7500-9d37-11eb-9b7e-975dcb9420df.png">

But if you click on [Animalia](https://www.gbif.org/species/1) and [Plantae](https:/

[2021-04-14 13:50] #3344 closed, assigned to ManonGros

[2021-04-14 14:06] MattBlissett commented on #3370
Will reply by email.

The user's archive has TSV files, but `linesTerminatedBy="\r\n" fieldsTerminatedBy="," fieldsEnclosedBy="&quot;" ignoreHeaderLines="1"` (i.e. CSV) metadata.

[2021-04-14 14:12] #3370 closed, assigned to nobody

[2021-04-14 16:43] Jegelewicz commented on #3346
A new download (as of yesterday) now matches your experience, but (asking for a friend)

[2021-04-14 18:14] Jegelewicz opened #3371 "Backbone download and UI still not matching"
See #3346

"Opisodasys rubustus" is completely missing from the "New" backbone download and yet there is a page for it on the GBIF web front end listing it as "accepted". https://www.gbif.org/species/1416592

I am spending a lot of time trying to work through a vetted list of Siphonaptera and little things like this mean that my analysis will appear incorrect to anyone who can search species names

[2021-04-14 19:26] njdowdy commented on #3371
I will add the following observations I made:

"Opisodasys rubustus" (taxonID: 8865978) was present in the backbone, accessed on March 24, 2021 (the version that had a last modified date of September, 2019). However, the "scientificNameAuthorship" in that dataset for that taxon seems to be incomplete ("Jordan", rather than "Jordan, 1925") in the most recently modified backbone, accessed on April 1

[2021-04-14 19:27] gbif-portal opened #3372 "Error in opening tab-delimited CSV in Excel"
**Error in opening tab-delimited CSV in Excel**

I'm using Excel in Windows 10 (Microsoft 365 Apps for enterprise, version 2013). I downloaded a Simple format query file.

From the Data tab in Excel you can select Get Data - From file - From text/CSV. You can then select the file origin (UTF-8) and delimiter (comma? tab?) - none of these work. The result is 3 columns, with various fields lumped to

[2021-04-15 04:36] gbif-portal opened #3373 "How do I cite this website?"
**How do I cite this website?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6188c03f01c0885a4fe8324bbdbbfaa1:c505971359b6e762d129b5fc34e34a182b838b328ab74536efc51a0751b5605f53aa3ef925ab5409a48845c519d6c2f62d08eb550e21465eb66ac2b7856ff9bd)
System: Chrome 89.0.4389 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/charts?dataset_key=50c9509d-22c7-4a22-a47d-8c48425e

[2021-04-15 04:54] MortenHofft commented on #3346
The metadata is different from the checklist (core) data. Metadata is essentially the description and an endpoint to where the data is located.

[2021-04-15 05:20] MortenHofft opened #3374 "Add FAQ item to explain datasets metadata date"
Issue prompted by https://github.com/gbif/portal-feedback/issues/3371

Unfortunately we do not have a date for when the data package (say a checklist and not the description) was last modified, but only the metadata date.

It would be nice to make that clearer - a simple improvement would be to add an FAQ item and link to it from the datasets. Something like

I'm must admit I'm not entirely sure w

[2021-04-15 06:40] ManonGros commented on #3357
Replied by email:

[2021-04-15 06:40] #3357 closed, assigned to nobody

[2021-04-15 07:04] ManonGros commented on #3373
Replied by email:

[2021-04-15 07:04] #3373 closed, assigned to ManonGros

[2021-04-15 08:19] ManonGros commented on #3147
It seems like the dataset mentioned has already been deleted. I will close the issue.

[2021-04-15 08:19] #3147 closed

[2021-04-15 09:00] ManonGros commented on #2763
Replied by email:

[2021-04-15 09:00] #2763 closed

[2021-04-15 10:19] MattBlissett commented on #3374
See also https://github.com/gbif/portal-feedback/issues/2788 (main issue), https://github.com/gbif/portal-feedback/issues/1267

[2021-04-15 16:45] gbif-portal opened #3375 "This subspecies name is synonymous with Hedychrum niemelai"
**This subspecies name is synonymous with Hedychrum niemelai**

Hedychrum niemelai Linsenmaier, 1959 was initially described as subspecies of Hedychrum aureicolle (original incorrect spelling was niemeläi). Later this taxon was elevated to species level. Currently Hedychrum aureicolle subsp. niemelai Linsenmaier, 1959 should be treated as synonymous with Hedychrum niemelai Linsenmaier, 1959.
Curre

[2021-04-15 16:50] gbif-portal opened #3376 "Genus in wrong family"
**Genus in wrong family**

Genus Chrysis belongs to the family Chrysididae, not Masaridae.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/748ae1e96c5c9b07a79ac921b8debdd2:cb194bfd520040b4b0a0d148d6e5e0f7ae10d4e329d10f54f7515708b0c239a6604285580eab5f0b1fe91901d00737acf5e9063de1564aaab5ea8c99ee1166ef)
System: Chrome 89.0.4389 / Windows 10.0.0
Referer: https://www.gbif.org/spe

[2021-04-16 05:43] gbif-portal opened #3377 "1.9 million correct scientific names"
**1.9 million correct scientific names**

Massive new Canadian dataset has “Pacific herring” listed in scientificName, which mangles the taxonomic match. This looks like a simple and important fix to make.

-----

Github user: @kcopas
User: [See in registry](https://www.gbif.org/api/feedback/user/58d190f48d9790952fd60c064b6356a6:0a156ca39bf5203229cecfb98c7c97201244428a4936026ddb43d7366d8b4d51767f8

[2021-04-16 08:19] MattBlissett commented on #3377
It looks like the scientificName and vernacularName fields are swapped by the publisher.

[2021-04-16 09:20] gbif-portal opened #3378 "new member to add"
**new member to add**

Please add, following the model in the lower part of the webpage:

Prof. Theeraphap Chareonviriyaphap
Head, Department of Entomology
Faculty of Agriculture-Bangkok
Kasetsart University
Bangkok, Thailand 10900
E-mail faasthc@ku.ac.th
Tel 6629428350
Website: www.ku.ac.th

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/36de0f4d42b25

[2021-04-16 09:54] #3378 closed, assigned to nobody

[2021-04-16 12:33] AbbyBenson commented on #3377
Did someone already reach out? If not I can message them on Slack to let them know.

[2021-04-16 12:43] MattBlissett commented on #3377
We haven't contacted them yet, so please do, thanks.

(We were distracted by the new "Footprint WKT invalid" flag, which seems to be incorrectly applied.)

[2021-04-16 16:54] heidivanvliet commented on #3377
I have fixed the problem. :)

[2021-04-17 17:50] gbif-portal opened #3379 "Missing link"
**Missing link**

On this page in the individualCount, organismQuantity, & organismQuantityType there is a note to link to a document instead of actually providing the link. I'll add a screenshot in a comment.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c6fe9c380cde1581424f43d3bc3ec4be:9ebbdd7588b3db5e9563e23d48d1a6b11199fd39d7f8df382b76fb66d052a6eff43eb4c59b3a1edf761a43

[2021-04-17 17:50] AbbyBenson commented on #3379
<img width="400" alt="Capture" src="https://user-images.githubusercontent.com/7586150/115122045-16f2d300-9f73-11eb-950a-84b58a0ec6a7.PNG">

[2021-04-18 18:56] #3377 closed, assigned to nobody

[2021-04-19 06:21] #3139 closed

[2021-04-19 06:33] ManonGros commented on #3153
Something like this! https://github.com/microsoft/AIforEarthDataSets/blob/main/data/gbif.md
For the columns in DwC downloads, we can do something with minimum documentation like:
_column, data type, required, see dwc:term_

[2021-04-19 09:03] ManonGros commented on #3379
@dnoesgaard Could you take a look at the missing link on the https://www.gbif.org/data-quality-requirements-occurrences page?

[2021-04-19 09:09] ManonGros commented on #3363
Yes the [photo](https://www.inaturalist.org/photos/102096927)'s license is: `Photo 102096927, (c) Su Snyder, some rights reserved (CC BY-NC-SA)` which we don't support.
Did you want to use the picture @akristensen ? We can contact the user on iNat to ask if they would like to change the license or let us use the picture.

[2021-04-19 09:18] akristensen commented on #3363
Hi Marie,

it is weird, it must have happened over night that Sue, changed / or inat changed the setting for this picture.

I used it for GB28<https://www.gbif.org/event/74SJpWSTMVxZaoPLKmtfez/gb28-28th-meeting-of-the-gbif-governing-board> and as I was checking if all was OK, it had all of a sudden changed. I am totally in love with the picture and use it as my back ground now….I have changed the

[2021-04-19 09:21] ManonGros commented on #3359
@mdoering I can see that the checklist the issue comes from, the Catalogue of Tenebrionidae (Coleoptera) of North America (https://doi.org/10.15468/wm3ukc), is using identifiers (such as 2206) as `acceptedNameUsage`. Could it be the reason why we see this odd taxonomy in the backbone?
(see related issue here: https://github.com/gbif/portal-feedback/issues/3358)

If that's the case, I guess remappi

[2021-04-19 09:36] ManonGros commented on #3363
@akristensen I wrote to Sue (just in case)
Yes this is odd, the link to GBIF from iNat is the link to the occurrence (which doesn't exist). Perhaps they didn't take into account these cases. It would be worth contacting them

[2021-04-19 09:40] ManonGros commented on #3351
The record is no longer available, I will close this issue.

[2021-04-19 09:41] akristensen commented on #3363
yes, but the point is, it did work and then either Sue or inat changes something, cause less than 24 hours after I had posted the picture, the link to gbif was broken. I thought I had made a mistake when entering the code in Contentful, but when I realized it wasn’t a typo I created the issue here.

Annie

From: Marie Grosjean ***@***.***>
Sent: 19. april 2021 11:37
To: gbif/portal-feedback ***@**

[2021-04-19 09:51] ManonGros commented on #3351
Actually, it looks like this is the record: https://www.gbif.org/occurrence/2456496866

[2021-04-19 10:20] MattBlissett commented on #3363
Hi,

The record was published to us under a CC-BY-NC license on 30 March, with the image also having a CC-BY-NC license.  We can continue to use record and media under those terms (it's legally completely fine), but it's also reasonable to respect the publisher's wishes and stop using it.

By the 6 April, the record's license had changed to one GBIF does not support (probably the current CC-BY-NC-

[2021-04-19 10:23] dnoesgaard commented on #3379
I've added a link to https://www.gbif.org/dataset-classes#samplingevents instead.

[2021-04-19 10:23] #3379 closed, assigned to nobody

[2021-04-19 13:40] mdoering commented on #3359
There are a few things wrong in this dataset indeed:
https://www.gbif.org/species/140387896/verbatim

 - acceptedNameUsage should probably be _acceptedNameUsageID_: `2206`
 -  quoted values for _scientificNameAuthorship_: `"Blair, 1930"`
 - quoted values for _scientificName_: `"Palorus foveicollis Blair, 1930"`

parentNameUsageID would not be correct as these are synonyms.
I see that they also hav

[2021-04-19 13:42] mdoering commented on #3359
I have added this to the next backbone build todos: https://github.com/orgs/gbif/projects/5

[2021-04-20 06:19] jlegind commented on #3365
Question answered.

[2021-04-20 06:19] #3365 closed, assigned to nobody

[2021-04-20 06:39] jlegind commented on #3188
Question was answered.

[2021-04-20 06:39] #3188 closed

[2021-04-20 06:49] ManonGros commented on #3304
It looks like this issue together with these others concern the [MilliBase](https://www.gbif.org/dataset/8ea9b257-1d1a-4cd2-a752-bbc2a125633d) checklist:
* https://github.com/gbif/backbone-feedback/issues/400
* https://github.com/gbif/portal-feedback/issues/3304
* https://github.com/gbif/backbone-feedback/issues/401
* https://github.com/gbif/backbone-feedback/issues/402

But I don't see any data f

[2021-04-20 07:03] ManonGros commented on #2727
@gsautter Thanks for correcting those!
Now I realise I forgot to report a few more, could you perhaps check all of the records in this checklist (https://doi.org/10.15468/ad9psd, https://doi.org/10.11646/zootaxa.4113.1.1)?
Here are a few examples of suspicious taxonomy left:
* https://www.gbif.org/species/120682368
* https://www.gbif.org/species/120682399
* https://www.gbif.org/species/120682401

[2021-04-20 07:15] ManonGros commented on #2472
In the new update of the backbone taxonomy, **_Chrysotoxum intermedium_ (Meigen, 1822)** is no longer a synonym of **_Musca intermedia_ (Fallen, 1825)**.

But I assume this doesn't fix the issue of the mismatches between **_Chrysotoxum intermedium_ (Meigen, 1822)** and **_Chrysotoxum intermedium_ (Walker, 1851)**. We are still missing **_Chrysotoxum intermedium_ (Walker, 1851)** in this backbone v

[2021-04-20 07:33] ManonGros commented on #2458
In the new version of the backbone, the two species are no longer synonyms.
There is one record left in Australia under Micrathena excavata (C.L.Koch, 1836): https://www.gbif.org/occurrence/2809828370
The identifier correctly identified the spider as Celaenia excavata but wrote Micrathena excavata, thinking it was a synonym. I left a comment on [the original record](https://bee.questagame.com/#/ex

[2021-04-20 08:16] mdoering commented on #3304
@ManonGros please move all COL issues to our data repository and label them with `feedback`:
https://github.com/CatalogueOfLife/data/issues/new/choose

If you know its from one of the COL sources you are very welcome to already place the issue on one of the project boards which are named after the source, e.g. for Millibase it is https://github.com/CatalogueOfLife/data/projects/189

[2021-04-20 08:22] ManonGros commented on #3304
thanks @mdoering! I don't have access to this repo so I won't be able to transfer the issues or place them on the project boards.
But I can create new issues in the CoL repo and link to the old ones. Would that be ok?

[2021-04-20 10:46] mdoering commented on #3304
Thats probably OK. Just select a meaningful title and maybe a very short summary and link to here.
Or can I give you permissions to transfer? As far as I know one cannot transfer issues between organisations.

[2021-04-20 11:58] muttcg opened #3380 "Missed value for eventId filter on the advanced filter tab"
If you navigate to the advanced filter tab, you find that filter "Event ID" doesn't have a value and displayed as "filterNames.eventID"

[2021-04-21 12:47] RyoKuwa commented on #3302
_Hyleoglomeris japonica_ and _Perkeomeris japonica_ refer to the same taxon. _P. japonica_ is invalid and _H. japonica_ is valid. _P. japonica_ is accepted in GBIF, but in fact _H. japonica_ is accepted.

[2021-04-21 12:51] RyoKuwa commented on #3304
[#3302](https://github.com/gbif/portal-feedback/issues/3302)
Isn't this problem also related to Millibase?
These issues were raised by me through the GBIF website, but since this is my first time, I do not know how to respond.

[2021-04-21 13:00] ManonGros commented on #3304
You are right @RyoKuwa, this is also an issue related to Milibase. Thanks for notifying us!
We will forward the issues to the relevant people via GitHub, I will tag you there so you can keep an eye on the situation.

[2021-04-21 13:34] millerjeremya opened #3381 "Data source in GBIF downloads"
Data source is very important when analyzing GBIF data. But determining the source from data downloaded from GBIF is currently more difficult than it needs to be, in my opinion.
If one downloads a selection of data as a CSV file, there is a datasetKey field and a publishingOrgKey field, but no obvious way to look up what actual institutions or databases they represent.
If one instead chooses to do

[2021-04-21 14:05] ManonGros commented on #3381
thanks @millerjeremya, not really addressing your point but: you can access the metadata of a dataset by using the datasetKey. The datasetKey is the UUID in the dataset URLs (and can also be used in the [registry API](https://www.gbif.org/developer/registry))

 For example, the metadata for "50c9509d-22c7-4a22-a47d-8c48425ef4a7" is available
* here: https://www.gbif.org/dataset/50c9509d-22c7-4a22-

[2021-04-21 14:29] RyoKuwa commented on #3304
Thank you @ManonGros ! I have about 100 more suggestions for similar fixes about Millibase, is it better to report them one by one as I have been doing, or should I report them all at once?

[2021-04-21 15:03] gsautter commented on #2727
@ManonGros thanks for spotting this one, fixed ... always a bit of a problem untangling the higher taxa of parasites and their hosts, especially if the latter have a way more prominent presence in literature ...

[2021-04-21 15:42] ManonGros commented on #2727
Thanks @gsautter ! I can see [some potential others](https://www.gbif.org/species/search?dataset_key=2510711e-d91f-4685-8d30-292eedbc9b41&highertaxon_key=159486090&origin=SOURCE&advanced=1) in this checklist: https://doi.org/10.5281/zenodo.203166, https://doi.org/10.15468/b6e5m8
Could you check if this is the case?

[2021-04-21 16:06] gsautter commented on #2727
Fixed that latter one as well.

[2021-04-22 06:35] ManonGros commented on #2727
Wonderful! Thanks @gsautter

[2021-04-22 06:35] #2727 closed

[2021-04-22 08:47] ManonGros commented on #3304
Thanks @RyoKuwa! I think it might be easier for the Catalogue of Life and Millibase to review the issues one by one.
That being said, it is up to you. If you prefer putting everything in one big issue, this is no problem, we can make it work!

[2021-04-22 09:31] dagendresen opened #3382 "Subphylum Crustacea interpreted as (doubtful) genus Crustacea"
When publishing a new [dataset on plankton](https://doi.org/10.15468/c2m9zk) the [occurrence records](https://www.gbif.org/occurrence/search?dataset_key=e697326b-48d3-44ee-8b8d-0c9ee26c16d7&taxon_key=10996236) with scientificName = **subphylum Crustacea** are interpreted as a (flagged doubtful) **genus Crustacea**.

See [subphylum Crustacea, urn:lsid:marinespecies.org:taxname:1066](http://www.mari

[2021-04-22 09:35] dagendresen commented on #3382
See also https://github.com/gbif/pipelines/issues/217

[2021-04-22 09:44] ManonGros commented on #3382
That's probably more a question for @mdoering but from what I understand:
1. the subphylum Crustacea is not in the GBIF backbone (the only taxon ranks integrated in the backbone are `Kingdom`, `Phylum`, `Class`, `Order`, `Family`, `Genus`, `Species`, `Subspecies` and `unranked` for some OTUs: https://data-blog.gbif.org/post/gbif-backbone-taxonomy/)
2. So Crustacea is matched to the only thing we h

[2021-04-22 09:59] dagendresen commented on #3382
I understand so that these are nauplii (Crustacean larva) and very hard to identify to a lower taxon rank, thus all knowable taxon information is included with the occurrences.

[2021-04-22 10:04] rukayaj commented on #3382
@ManonGros Are you suggesting we go up one level to `Phylum`?

[2021-04-22 10:08] dagendresen commented on #3382
I see that the dataset already includes taxon information phylum = Arthropoda. Do you mean to reduce information value by removing subphylum all together? Would it maybe be possible to explore the erroneous GBIF interpretation, ignoring information such as rank provided, for the occurrences could be explored first?? :-)

Apropos see also the taxon **Crustacea Brünnich, 1772** from the Norwegian Sp

[2021-04-22 10:41] mdoering commented on #3382
Yes, GBIF must be able to understand Crustacea and link to somewhere sensible without the need to dumn down the supplied data. We can maintain a small manual lookup map for important cases that often go wrong like this one.

Would phylum Arthropoda be the best place to link those records to?
COL accepts now basically any rank and does not restrict higher taxa to Linnean ranks only. Hopefully in th

[2021-04-22 10:46] timrobertson100 commented on #3382
Seems sensible. It will also mean taxa at these ranks will need to be added in the backbone

[2021-04-22 11:13] jhnwllr opened #3383 "download shows 2,638,956 occurrences wc -l shows 2639080"
https://www.gbif.org/occurrence/download/0080847-200221144449610

[code]

[2021-04-22 11:53] ManonGros commented on #3155
Solved in the new backbone.

[2021-04-22 11:56] RyoKuwa commented on #3304
Thank you! I would like to report them one by one.

[2021-04-22 12:32] muttcg commented on #3383
The problem is that we take the count number from Elasticsearch and in this case (a download > 100k records) data comes from a table, ingestion system updates Elasticsearch constantly, but tables are built one time a day, so we get that difference.

Probably we need to improve the way how we count that number

[2021-04-22 13:43] MattBlissett commented on #3383
https://github.com/gbif/occurrence/issues/123

The citation information (occurrences per dataset) has the information we need; we just need to use it to update the download at the end.

[2021-04-22 14:06] MortenHofft commented on #3380
closed by https://github.com/gbif/portal16/commit/115ff3818d2d9698f33be2ee8bf2f761d477e281

[2021-04-22 14:06] #3380 closed, assigned to MortenHofft

[2021-04-22 14:54] m4rkus84 commented on #3106
Still this issue?

[2021-04-23 08:42] jlegind commented on #3361
User has been contacted.

[2021-04-23 10:57] MattBlissett commented on #3106
Hi,

Yes, it's still not possible to choose which fields should be present.

A "simple" download contains the ones we think most useful/popular, and we occasionally add additional fields where it makes sense.  Suggestions welcome.

The Darwin Core Archive includes almost all fields.

[2021-04-23 12:36] ManonGros commented on #2344
Solved in new backbone update: https://www.gbif.org/species/5635525

[2021-04-23 12:36] #2344 closed

[2021-04-23 12:38] ManonGros commented on #2383
Solved in the new backbone taxonomy.

[2021-04-23 12:38] #2383 closed

[2021-04-23 13:52] ManonGros commented on #2291
I merged the two entries as one of them was labelled as "inactive". The duplication of identifiers is quite problematic since we advice publishers to use them in our FAQ about linking occurrences to GRSciColl.
We need to clean that up.

[2021-04-23 20:30] gbif-portal opened #3384 "Wrong name"
**Wrong name**

according to the label, this is Bartsia alpina, not B.lapatifolia

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/db74274291676fa1faae7c78a4f9457a:1e5df13d72f7423c4787e1c0ac6eb8e0f6b5c430d92d5b64eeb5721020ed3ab5a428c84fe49cd3871ff8e32cf9924728f5afc5504962485718c434e7d00e4f5c)
System: Chrome 89.0.4389 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/4

[2021-04-23 20:34] gbif-portal opened #3385 "wrong name"
**wrong name**

this is B.alpina instead of B.lapatifolia

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0c698f4c7068e45851afe2e7e9b68a3a:9c9184c5c969ea99c147138657e704885dfb69d3837104c2b5f464148699aabf203c0d65f41d63e8734388679f66af7c88c68f7c381afc3ac04f08b5f75870aa)
System: Chrome 89.0.4389 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/438604799
Window size: wi

[2021-04-23 22:13] gbif-portal opened #3386 "Publisher page edit"
**Publisher page edit**

I'd like to edit the contact information for the CSU Desert Studies Center publisher page, both the general and technical points of contact. Specifically, I'd like to switch the people in these roles. Thanks!d

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/3f7fc27daf3cc8365d942dd2d27593c6:b1dc8c15a66548f621eb3b46cfaee8adff00ea75598f8462d617025c7298b

[2021-04-25 20:19] gbif-portal opened #3387 "Change synonym and add new taxon (Aspasma minima)"
**Change synonym and add new taxon (Aspasma minima)**

A syntype study of Lepadogaster minimus (=Aspasma minima, Kopua minima) revealed that L minimus is the sinior synonym of Kopua japonica. As the species previously considered to be "Aspasma minima" was found to have no corresponding scientific name, so this species was newly described as Aspasma ubauo.
https://doi.org/10.1007/s10228-019-00701-0

[2021-04-25 20:20] RyoKuwa commented on #3387
I made a mistake in the title: it is not Aspasma minima, but Kopua minima.

[2021-04-26 06:50] gbif-portal opened #3388 "GBIF overview slide updates hard to find"
**GBIF overview slide updates hard to find**

Suggest adding this to main menu under About / News & Outreach

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7c9405be4261b2d56c0160c1cbe31835:e111f779c7a1f8f159d8a88aeb5718f1d85c49934b8950b6596f3232f1a0ae5dffcc089b46f2682403f7d75defae7153b8e4efe623e84d59ad5d646e281f50dd)
System: Chrome 89.0.4389 / Mac OS X 11.2.3
Referer: https

[2021-04-26 07:15] thomasstjerne commented on #3371
The species name is spelled _Opisodasys r**o**bustus_  not _Opisodasys r**u**bustus_
If you are you doing exact string matching when searching in the download, this could explain it?

It seems that the spelling variant https://www.gbif.org/species/127069483 has not been included in the backbone.

[2021-04-26 08:26] ManonGros commented on #3386
I updated the page and contacted the user. I told them to forward future requests to helpdesk.

[2021-04-26 08:26] #3386 closed, assigned to ManonGros

[2021-04-26 09:05] #628 closed

[2021-04-26 10:10] ManonGros commented on #2180
Publisher contacted by email.

[2021-04-26 11:45] ManonGros commented on #2287
The name provided is _Anubias heterophylla_ Engl.
I think it is just a different nomenclature, I don't see the problem with that. The genus is still Anubias.

[2021-04-26 11:45] #2287 closed

[2021-04-26 11:49] ManonGros commented on #2314
It looks like this is no longer an issue: https://www.gbif.org/occurrence/gallery?dataset_key=5830fa3c-497c-4d37-b771-bd6c84997f2c

[2021-04-26 11:49] #2314 closed

[2021-04-26 13:20] gbif-portal opened #3389 "Prices and indexes may need updates"
**Prices and indexes may need updates**

As we are active in the data papers space in 2021, this page may benefit from updates on prices and scores

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/72a1dc818bd1f05b2aac2bac9f92b2f4:f8f72ff21082149b1f7840c8863e00dc2df92515d0e0ecea2a9cc2938ff81e54a82936338c91ce273db1b3c8ff6782e5548cbeafccd721223fbe28b6d3555

[2021-04-26 14:00] ManonGros commented on #3322
Also see: https://github.com/gbif/portal-feedback/issues/3321

It looks like another centroid.

[2021-04-26 14:46] gbif-portal opened #3390 "Edit one line"
**Edit one line**

Update from Pensoft

Please replace:

When submitting a manuscript to BDJ, authors are requested to select the Biota of Russia collection.

with:

When submitting a manuscript to BDJ, authors are requested at Step 3 of the Submission process to assign their manuscript to the Topical Collection [Biota of Russia](https://bdj.pensoft.net/topical_collection/59). To initiate the manu

[2021-04-26 14:59] gbif-portal opened #3391 "I would like to know how I can edit the contact details of the organization. The person who is in administrative point is no longer the same and I would like to update the information."
**I would like to know how I can edit the contact details of the organization. The person who is in administrative point is no longer the same and I would like to update the information.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/ca3b3f775128ebf694e690ad71c790c4:94f17dd874dd303031ed097654b69348326cf19fa6a563c632bb5d0569004fd3c96410ec9f4c62aae59b82ae18973e2284979344246

[2021-04-26 15:02] gbif-portal opened #3392 "I would like to know how I can edit the contact details of the organization. The person who is in administrative point is no longer the same and I would like to update the information."
**I would like to know how I can edit the contact details of the organization. The person who is in administrative point is no longer the same and I would like to update the information.**

I would like to know how I can edit the contact details of the organization. The person who is in administrative point is no longer the same and I would like to update the information.
Can you contact me at mel

[2021-04-26 15:40] gbif-portal opened #3393 "Show date of dataset publication on top"
**Show date of dataset publication on top**

The publication date of the data is argueably more of interest then the date the metadata was last changed. It should be shown at the top so people have an idea how old the actual data is. Even if it's not always existing.

Publication date March 3, 2021

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/930aa253a84aee9732aa0f23ea964

[2021-04-26 19:12] njdowdy commented on #3371
Yes, in that particular case that does appear to be the problem. However this is not the case for other examples. I will expand on this.

The taxon "Typhlopsylla alpina" (id: 8949835) is present in the previous version of the GBIF backbone as an accepted species, accessed on March 24, 2021 (the version that had a last modified date of September, 2019). It was listed there as "Typhlopsylla alpina B

[2021-04-26 19:16] njdowdy commented on #3371
There are 252 names within Siphonaptera alone which appear to be missing in the newest backbone. I can't speak for the reason behind each case, but I'm guessing many fall into some kind of synonym-linking problem as described above which somehow led to their deletion from the newest backbone.

[2021-04-27 01:41] gbif-portal opened #3394 "en la base de datos GBIF.org (26 April 2021) GBIF Occurrence Download https://doi.org/10.15468/dl.t3h4eu,taxonomicStatus de Rhinella ruizi (Grant, 2000) = SYNONYM. Sin embargo el nombre de la especie es valido"
**en la base de datos GBIF.org (26 April 2021) GBIF Occurrence Download `https://doi.org/10.15468/dl.t3h4eu,taxonomicStatus` de Rhinella ruizi (Grant, 2000) = SYNONYM. Sin embargo el nombre de la especie es valido**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f4b98ff9b928d2fcea7d20270973173d:a630c8fd1dc99a4415f3ecdeafcdcc52c88ce1f66e8049fff8657e98196b3bfe2d583ab52fe5c372

[2021-04-27 04:07] MortenHofft commented on #3393
Seems reasonable. It is now added to the top of the page as well. It could be supplemented with a FAQ. I for one do not know what it refers to.

* modified date: it controlled by us and refers to the metadata change
* created date: it controlled by us and refers to the creation of the dataset in the registry
* published date: It is my impression that it is updated at the publishers discretion. Whi

[2021-04-27 07:42] ManonGros commented on #2180
GBIF France fixed the issue.

[2021-04-27 07:42] #2180 closed

[2021-04-27 07:42] gbif-portal opened #3395 "dataset with "Unspecified" license doesn't show in dataset search"
**dataset with &quot;Unspecified&quot; license doesn&#39;t show in dataset search**

In other words, this dataset doesn't show here: https://www.gbif.org/dataset/search?publishing_org=67b2263f-6990-4d9d-b32b-20aa72ef4fbc&license=UNSPECIFIED&license=UNSUPPORTED

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/d7f5663f97b445aa51f2ac21aabfe8cf:b7280142fcf

[2021-04-27 08:10] MortenHofft commented on #3395
This is not a UI issue, but related to the API
https://api.gbif.org/v1/dataset/search?license=UNSPECIFIED

[2021-04-27 08:16] gbif-portal opened #3396 "icons have disappeared"
**icons have disappeared**

When vieing this page the map icons are gone. The dev console says:

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/5e598a68563021f7e2630032eb8db2bd:d6a3e592df91197c948986f439a33ed3d28bc53cf3968e618a6ddc983ab22655d31691d0d8cc5d1286ef7187bcafae21c4ce6356068a413344f4151b0a1e4f1c)
System: Chrome 89.0.4389 / Mac OS X 10.15.7

[2021-04-27 08:20] gbif-portal opened #3397 "Relative observation tool - hexagon select broken"
**Relative observation tool - hexagon select broken**

It is no longer possible to select hexagons by clicking them and then see the charts. Drawing still works as expected.

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/33a645d59e916627c082d7560d243595:e9516869e2f528e1194e50d5ae9ca6ef79912068aba8533225dbc2d4b697934d1f722d5ff85a8497a71cd06f799bb522

[2021-04-27 08:24] #3396 closed, assigned to thomasstjerne

[2021-04-27 09:19] ManonGros commented on #3322
Publisher contacted by email.

[2021-04-27 09:19] ManonGros commented on #3321
Publisher contacted by email.

[2021-04-27 09:29] ManonGros commented on #3371
This is probably more a question for @thomasstjerne and @mdoering but I don't think that this is due to some kind of synonym-linking problem.
As far as I can see, all the examples of missing species came from the [GBIF Type Specimen Names](https://www.gbif.org/dataset/6cfd67d6-4f9b-400b-8549-1933ac27936f) checklist. We decided to remove this checklist from the latest version of the backbone becaus

[2021-04-27 09:33] ManonGros commented on #3371
We would need a new checklist or update the existing ones to fill the gaps left by the GBIF Type Specimen Names checklist.
It looks like most of the Siphonaptera data in the current backbone comes from the [Parhost World Database of Fleas](https://www.gbif.org/dataset/c7536fe1-0d0b-4e68-9c93-1963ffe2241c).
We can forward them your suggestions @njdowdy

[2021-04-27 10:00] ManonGros commented on #1962
Contacted publisher by email.

[2021-04-27 10:06] MortenHofft opened #3398 "Expose authors from citation in API"
The dataset pages currently have a highlighted list of people in the top.

Example https://www.gbif.org/dataset/75956ee6-1a2b-4fa3-b3e8-ccda64ce6c2d
shows `Dutrève Bruno * Robert Solène * Thomas Milon  * Anaïs Just`

And then we have the citation string in the bottom which reads
[code]

Shouldn't they be the same? Could we extend the API to return
[code]

Then we can reuse the code used in the API

[2021-04-27 10:18] dschigel commented on #3398
I am not sure how the the list of authors in the top of the page is generated, we may have discussed this with @ahahn-gbif? Is there a formula for the display at the top of the page? There is a for the [citation](https://www.gbif.org/faq?question=how-is-the-dataset-citation-text-auto-generated) in the bottom. Here is the choice as publisher sees it: you prepare metadata in the IPT or other source

[2021-04-27 10:30] dschigel commented on #3398
In other words, should dataset authorship and recommended citation be the same? Two use cases: 1) the GBIF dataset is re-displayed in e.g. a thematic hosted portal. You probably want lossless reflection of the GBIF display at the alternative portal 2) some one need to access the as-published dataset with its recommended citation for new analysis, for reuse. Only recommended citation matters. I als

[2021-04-27 10:36] ahahn-gbif commented on #3398
I would support consistency between both. I don't remember any discussion or explicit decision - the top-of-the-page list seems to just name everybody in the contacts section, nothing more or less.

[2021-04-27 10:46] mdoering commented on #3371
just a quick note, the _metadata last modified date_ is only about the metadata and pretty much unrelated to data content.
The date of publication for the data content is at the very bottom of the page and called _Publication date_ March 3, 2021 in the case of the latest backbone, some date in 2019 for the previous one:
https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c

I have file

[2021-04-27 10:49] dschigel commented on #3398
Thanks @ahahn-gbif. Great that we agree that citation formula should apply also to the top of the dataset pages. A cautious implementation would start from estimate of % names to disappear from the top page positions. Likely a minor change, and I would guess manly administrative contacts would stop looking like dataset authors. I wonder if there are some regional sensitivities there. Even if there

[2021-04-27 10:50] MortenHofft commented on #3398
**Top list**
The list in the top was created some months before we generated the citation (the one from the bottom and the API) as far as i remember. @dschigel created the rules and I tried to implement it - it went back and forth a couple of times.

**Citation list of authors**
I think that the subsequent work where we added it to the API was done as a collaboration between Christian G, @dschigel

[2021-04-27 10:52] MortenHofft commented on #3398
Thank you - in that case I will create an issue in the registry to expose the ordered list of authors/people in the API as they should appear when presenting the dataset.

[2021-04-27 10:55] mdoering commented on #3371
@ManonGros is correct with the removal of the GBIF Type Specimen Names checklist and it's consequences.

Any recommendations on taxonomic sources that cover Siphonaptera better are highly welcome, ideally even directly for the [Catalogue of Life](https://www.catalogueoflife.org/data/taxon/43J) which uses [Parhost World Database of Fleas](https://www.catalogueoflife.org/data/dataset/1022). @yroskov

[2021-04-27 10:59] dschigel commented on #3398
Thanks @MortenHofft, as said, no memories on the top of the pages discussion & rules, perhaps there is little point to review those (though I am available). Sound like a good plan to me. It would make sense to first make sure that top string and citation at GBF.org are based on the same formula, and then make sure (choose the tech) that GBIF.org and derived portals have the same sequences of datas

[2021-04-27 11:06] MortenHofft commented on #3398
No point in reviewing it. Especially not since there is a more than fair chance that I mis-implemented it. I'm just happy to discard it and use something from the API instead.

[2021-04-27 11:57] ManonGros commented on #1960
The record is now this one: https://www.gbif.org/occurrence/2562123716 (https://biocache.ala.org.au/occurrences/b5fc7642-6adf-450b-bf13-1a86d6be4c3d).
I contacted the publishers by email.

[2021-04-27 13:50] ManonGros commented on #3069
This issue seem to have been solved.

[2021-04-27 13:50] #3069 closed

[2021-04-27 14:26] Jegelewicz commented on #3371
Parhost was apparently last updated in 2005 and apparently is no longer being maintained. We are working to create an updated list for Siphonaptera. Once we have it published, how would we go about requesting that it be used by Catalogue of Life?

[2021-04-27 16:29] gbif-portal opened #3399 "Mal funcionamiento en Google Chrome"
**Mal funcionamiento en Google Chrome**

Al realizar consultas de una especie, los resultados obtenidos en google chrome se encuentran limitados; no se obtiene visualización de la clasificación, fotografías, distribución.
Solo se esta teniendo buena experiencia en Safari o Firefox Mozilla.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c41d55c6fd4cf2096d92de12cbdf1b80:638f7

[2021-04-28 06:03] MortenHofft commented on #3399
Google translate

You are only having a good experience in Safari or Mozilla Firefox.

[2021-04-28 06:16] MortenHofft commented on #3399
Thank you for reporting it.

I need some more context though. What page are we talking about. Could you provide an example please? Possible with a screenshot? And if you really want to make me happy, then you also look in the developer tools (⌥ ⌘ i (alt+cmd+i)) console and copy any error messages .

Currently my best guess is that the data loading was slow first time when you looked in Chrome and

[2021-04-28 11:47] kcopas opened #3400 "Mismatch # publishers GBIF home page and network page"
Posting for a friend @nielsraes ;-), who came across a mismatch between the number of publishers on our home page (1,674) and our network page (1,737).

![home](https://user-images.githubusercontent.com/12379236/116398442-1b977100-a828-11eb-85c5-b3fbcc139f58.png)

![network](https://user-images.githubusercontent.com/12379236/116398459-1df9cb00-a828-11eb-9721-d792349f3975.png)

[2021-04-28 11:51] mdoering commented on #2027
what about [CSL-JSON](https://github.com/citation-style-language/schema#csl-json-schema)? Afaik this is the most modern of the standards

[2021-04-28 12:12] jlegind commented on #3263
Related to this issue: The flagging seems overly harsh, in that every recorded data parameter gets the ''recorded date invalid" flag, even the atomized parts. See this record from Brazil: https://www.gbif.org/occurrence/3032967308

[2021-04-28 13:28] njdowdy commented on #3371
@ManonGros @mdoering, I see from the link on the decision to remove the GBIF Type Specimen Names:

Unfortunately, this was not a one size fits all solution, and has resulted in the loss of many taxa and synonymic links between names, at least within Siphonaptera. Maybe most problematic is that, because the lost names came from the type specimen list, these are some of the oldest names modern taxa

[2021-04-28 13:35] njdowdy commented on #3393
This is a welcomed addition. I would agree with @MortenHofft that some explanation of the terms should be given, as it is not clear to me precisely what the difference between 'registration' and 'publication' dates is:

Registration date
    March 2, 2011
Metadata last modified
    April 26, 2021
Publication date
    March 3, 2021

Also, is a registration date of March 2, 2011 correct? Or should t

[2021-04-28 14:09] dschigel commented on #2027
Yes, still very much in favor of this functionality. I like how this works in Google Scholar: click **"** below any search result and see five text variants and four export options. If course, ours should have DOI tatooed into all variants and exports.

[2021-04-28 14:10] yroskov commented on #3371
Request for a new version of Parhost World Database of Fleas for CoL was sent to Sergey Medvedev.

[2021-04-28 14:16] orojasz commented on #3399
Good Morning,
On the website of GBIF (www.gbif.org) using google chrome, when I want to do a search about some species, the results were limited to the overview; and it is no available information associated with taxonomic classification, distribution map, occurrences, etc.
I attach to this message two screenshots to show you the differences, the first showing the results obtained with google chro

[2021-04-28 14:20] gbif-portal opened #3401 "Sort by name"
**Sort by name**

List of journals is alphabetic, but not the lines in the bottom of the table

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/ea25f25896ddc512aa80c592510b0557:b48c3435a160d32b5b8d696db2036f9a5c8c36b180026f286435ba388fb4591d37035cf4ae4344cfe912e26d978d38e50c0610177859b3fdf80ea4a8080323ae)
System: Chrome 90.0.4430 / Windows 10.0.0
Refere

[2021-04-28 17:23] Jegelewicz commented on #3371
This may or may not work. If it does and there is a real update, that is fantastic. If not, what then?

[2021-04-29 09:32] gbif-portal opened #3402 "this is not a Melastomataceae, and NOT Adelobotrys adscendens!"
**this is not a Melastomataceae, and NOT Adelobotrys adscendens!**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e8d370dc273a025923bdd8e776809ea2:107137aae90cd8d2e86002a9e2598fa402b91ee6ca22525a6ca3fc2da7c5cc4fec5b6eac46795246e335c9389a23ce7ca29892d05e18a5132d647a4b371a9207)
System: Firefox 87.0.0 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/2644922467
Window

[2021-04-29 11:48] ManonGros commented on #3371
Perhaps your checklist could still be integrated to the GBIF backbone? It should be possible if the data is published as a checklist on GBIF.
(Let's see what the Parhost World Database of Fleas answers.)

The types specimens are still available on GBIF ([here](https://www.gbif.org/occurrence/search?taxon_key=1366&type_status=TYPE_SPECIES&type_status=TYPE_GENUS&type_status=ALLOLECTOTYPE&type_status

[2021-04-29 15:32] gbif-portal opened #3403 "Literature pages (was: papers citing more than 50 DOIs)"
**papers citing more than 50 DOIs**

Could we come up with a solution to paper citing more than 50 papers? Perhaps just a small note referring to the API?

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/c78948f06e5947e898a34aebc23db023:423214912708aada8e24f1d0ca56ca836cff717dd85d2d43537e13bf25733f916dc2b0266d86ae951856dbaf54d5a330fe4c62ad881adb3f81a4

[2021-04-30 02:39] vijaybarve commented on #3393
Is this correct understanding?

- Registration date March 2, 2011 is when the dataset was first created in the GBIF system
- Publication date March 3, 2021 is last update of the dataset

Metadata last modified April 26, 2021 is clear.

[2021-04-30 08:33] dagendresen commented on #3026
A thrilling thought indeed would certainly be if data records from across "DwC-A datasets" could be grouped and displayed as participants in "datasets" identified by `datasetID` (and maybe `datasetName`) -- and likewise for `collectionID` -- and some kind of "projectID" thing. (However, the `datasetID`s would of course preferably use globally unique persistent identifiers and not plain integers/li

[2021-05-01 13:17] gbif-portal opened #3404 "A new species Scolopendra alcyona Tsukamoto & Shimano, 2021 (Japanese name: リュウジンオオムカデ; English name: Halcyon giant centipede) was described."
**A new species Scolopendra alcyona Tsukamoto &amp; Shimano, 2021 (Japanese name: リュウジンオオムカデ; English name: Halcyon giant centipede) was described.**

A new species Scolopendra alcyona Tsukamoto & Shimano, 2021 (Japanese name: リュウジンオオムカデ; English name: Halcyon giant centipede) was described.
Please add this taxon to the list under Scolopendra.

-----

Github user: @RyoKuwa
User: [See in registry](

[2021-05-01 13:18] RyoKuwa commented on #3404
A new amphibious species of the genus Scolopendra Linnaeus, 1758 (Scolopendromorpha, Scolopendridae) from the Ryukyu Archipelago and Taiwan
https://doi.org/10.11646/zootaxa.4952.3.3

[2021-05-01 16:06] tucotuco opened #3405 "behavior of organismQuantity, individualCount"
Please refer to the origin of this question at https://github.com/gbif/hosted-portals/issues/137.

The organismQuantity term is not necessarily numeric, so I am curious how and why it was implemented as such. I think it would be better to use individualCount for the purpose organismQuantity seems to have been put, especially because it is supposed to be explicitly numeric.

[2021-05-03 08:06] MortenHofft commented on #3400
Which again is different from [publisher search](https://www.gbif.org/publisher/search) with 2151 results.

This is a duplicate of these issues. The issue has been raised before and it has been decided to leave it as is.
https://github.com/gbif/portal16/issues/571
https://github.com/gbif/portal16/issues/490

We can change that decision of course, but it might be worth looking at the past issues.

[2021-05-03 08:19] MortenHofft commented on #3399
Thank you for taking the time!

And weird - I have the same operating system and the same browser in the same overall version `Chrome 90.0.4430 / Mac OS X 10.15.7` and I cannot reproduce it. Those kind of bugs are difficult.

I see that you have a lot of browser plugins. Could you try again in an incognito tab (shift-cmd-N) (that will disable your cache and plugins). Thank you for your help.

[2021-05-03 10:11] gbif-portal opened #3406 "Link to Global Ecology and Biogeography 404"
**Link to Global Ecology and Biogeography 404**

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/cb94e47f9be4ded3fbd4227452d0da5f:03c17241a0b71a4ad1c321dc9026673ac418deb6ce88b40c0c439cf6f8e78ce97fb22fa102d7636cee6ca2842f359d9b8edc18714b5642c335c34d2e999475c9)
System: Chrome 90.0.4430 / Windows 10.0.0
Referer: https://www.gbif.org/data-papers
Window size

[2021-05-03 12:24] thomasstjerne commented on #3405
I'll provide some background information to at least explain the reasoning for the current implementation.

This came about from a specific need to be able to set threshold filters for number of DNA sequence reads within a sample.
Given a sample with, say, 1000 DNA sequence reads and within that sample an occurrence of a specific sequence variant (Taxon) showing 100 reads:

`organismQuantity: 100`

[2021-05-03 14:57] MortenHofft commented on #3393
@njdowdy

Created/Registered means that this dataset was published-to/registered-with GBIF in 2011. In other words - GBIF have had this dataset in its registry of datasets since 2011. The dataset might have existed since 2009, but it was first published to GBIF in 2011. It might also have been updated many times since. This date is under GBIF control

@vijaybarve

It is a reflection of what the pu

[2021-05-03 15:06] njdowdy commented on #3393
@MortenHofft thanks for the clarification. Something like that should be found on the dataset page so that people who are not lurking on github can understand the definitions better too.

I would suggest though, that GBIF simply state what each field is. For example, even your definition of "registration" includes the phrase "first **_published_** to GBIF in 2011", potentially confusing it with "p

[2021-05-03 15:37] #3334 closed, assigned to thomasstjerne

[2021-05-04 05:31] mdoering commented on #3393
This is correct @MortenHofft. It is the [pubDate](https://eml.ecoinformatics.org/schema/eml-resource_xsd.html#ResourceGroup_pubDate) field in EML which is auto published by the IPT afaik whenever it creates a new archive. It is the only date we have that tells us about the actual age of the original data - but as you say it might be missing and could even be incorrect (just as any other metadata).

[2021-05-04 07:28] MortenHofft commented on #3026
Hi Thomas
Just to confirm as I see your question was never answered. No you cannot search for datasetID or datasetName.

It is always nice to understand the motivation behind feature requests, could you describe the use case a bit more please?

Would it make sense to split your dataset into multiple if the datasetName/datasetId changes within the "GBIF dataset". That would create a 1:1 relation so

[2021-05-04 07:35] MortenHofft commented on #3026
@dagendresen it sounds like what you are asking is something else and might deserve a separate issue? Also note that there is already ways to group occurrences across datasets.

[search dataset by projectId](https://www.gbif.org/dataset/search?project_id=BID-CA2016-0006-REG)
[search occurrences by projectID](https://www.gbif.org/occurrence/search?advanced=1&project_id=BID-CA2016-0006-REG)
[search

[2021-05-04 07:39] MortenHofft commented on #3403
perhaps we should have literature pages. On those we could have pagination on identifiers, datasets etc.
Originally we didn't think it deserved its own page because the content is just a stub, but perhaps we should reconsider?

[2021-05-04 08:03] timrobertson100 commented on #3393
Also bear in mind that `pubDate` covers the situation that a researcher publishers a paper and includes a CSV in a supplementary file. Sometime later, a meta.xml is crafted to describe the CSV adequately so that it can be read by DwC-A readers, the metadata converted into EML, and a dataset is registered in GBIF. In this scenario, the pubDate is still the date the data was published (i.e. first sh

[2021-05-04 09:55] MortenHofft opened #3407 "Elevation unlikely"
https://www.gbif.org/occurrence/search?issue=ELEVATION_UNLIKELY&advanced=1

This flag is currently not applied to any records. But we have many records with an elevantion above 10km. Didn't we use to have a threshold that everything above 9999 meters was considered unlikely (I believe elevation refers to a point on the surface, and so birds flying at >11km altitude would be captured differently)

[2021-05-04 09:59] ManonGros commented on #3407
Yes I thought we did too. There are still a lot of records unflagged though (and not just birds - see [these plant records](https://www.gbif.org/occurrence/search?elevation=9370,9999&taxon_key=6&advanced=1)).

[2021-05-04 11:21] gbif-portal opened #3408 "Possible incorrect scientific name authorship - Dictamnus fraxinella Pers."
**Possible incorrect scientific name authorship - ~Dictamnus fraxinella Link~ Dictamnus fraxinella Pers. (see last comment)**

This name comes from the The World Checklist of Vascular Plants (WCVP) and cannot be found anywhere else:
https://www.gbif.org/species/search?q=Dictamnus%20fraxinella%20Link&advanced=1

The issue was originally reported on Helpdesk.

-----

Github user: @ManonGros
User: [S

[2021-05-04 11:24] ManonGros commented on #3408
@mdoering do you know whom I can contact for potential mistakes in [The World Checklist of Vascular Plants (WCVP)](https://www.gbif.org/dataset/f382f0ce-323a-4091-bb9f-add557f3a9a2)?
The email addresses on the dataset page seem quite generic and I see that they don't host the checklist.

[2021-05-04 11:32] mdoering commented on #3408
Kew plans to host the list themselves shortly, but until then you can email them via bi address given.
It is the same on their official site: https://wcvp.science.kew.org/feedback

[2021-05-04 11:51] ManonGros commented on #3408
Thanks! I contacted them by email.

[2021-05-04 12:34] gbif-portal opened #3409 "One person, with multiple IDs"
**One person, with multiple IDs**

Recorded by `Bjørn Petter Løfall`.
Recorded By ID `https://www.wikidata.org/wiki/Q21519416 | https://orcid.org/0000-0001-9645-3394`

Both the Wikidata and the Orcid is `Bjørn Petter Løfall`

What is the recommended usage of this field? To provide all known IDs per person or to provide ONE ID per recorder?

https://www.gbif.org/occurrence/1702184576

-----

Github

[2021-05-04 13:14] ThomasSather commented on #3026
@MortenHofft this was a novice attempt to suggest a workaround to what might be a local (Norwegian) problem. As you probably know, we have large and well-functioning national species data infrastructure (Artsdatabanken/Artsobservasjoner) in Norway, run by the Norwegian Biodiversity Information Centre (NBIC; www.biodiversity.no). GBIF harvest data from this database every night. Nordre Øyeren Bird

[2021-05-04 13:25] MortenHofft commented on #3026
If the NBIC dataset is made up of many smaller datasets and it is useful for the data owners of those dataset to delimit their own data, then splitting it sounds natural to me.

That also gives you the added benefit of citation tracking for your individual dataset, which might be of interest. And an option to describe your specific data in more details than the [NBIC dataset](https://www.gbif.org/

[2021-05-04 13:25] #3026 closed

[2021-05-04 13:30] dnoesgaard commented on #3403
Hmm, good question. I guess each entry has quite a bit of metadata that could interesting to display. We could also explore more ways of linking these to other content, e.g. datause stories and even taxa.

Do you want me to try to mock something up—or would you rather give it a go?

[2021-05-04 13:53] MattBlissett commented on #3409
"An unordered list (concatenated and separated) of IDs representing names of people, groups, or organizations responsible for recording the original Occurrence. No semantics should be assumed, including for example an ordering of identifiers to indicate a primary collector or any institutional affiliation."

So it's fine to do this.

[2021-05-04 14:23] MortenHofft commented on #3403
No please do. you know the data better than I. Please keep in mind that it should work decently for those entries that isn't as rich (I assume that not all have the same fields)

[2021-05-04 14:48] ManonGros commented on #3408
I got a reply from their content editor:

https://www.biodiversitylibrary.org/page/235249#page/476/mode/1up
he tried to publish Dictamnus fraxinella var. purpureus
which is also not validly published as the species had not been validly published.

So it seems like Link is the correct name an not Dictamnus fraxinella Pers. (https://www.gbif.org/species/5593085).

[2021-05-04 15:53] tucotuco commented on #3405
I understand. The original terms are definitely problematic. Is there a succinct description that could cover what the derived term means and still be clear?

[2021-05-04 21:00] gbif-portal opened #3410 "Unique GBIF identifier"
**Unique GBIF identifier**

Is there a unique GBIF identifier for each occurrence record?  I thought fields GBIFID or IDENTIFIER would act as such, but I can't search/filter occurrences online using these details.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/83f78f9bc56ae8dca7620569286f94d6:56c0fcd793af044459660d8780453b71cff740ef6c3a9c08e5adfa0548ec444320d93596654bc14e00

[2021-05-05 07:04] MortenHofft commented on #3410
The UI do not allow for this. And I do not believe there is a way to search by the GBIF occurrenceKey in the API.

But perhaps it makes sense to have this. If I want to cite a specific occurrence isn't the proper approach to download it and have an archive to reference?

Btw: there is no record with key: 1784127

[2021-05-05 10:22] dnoesgaard commented on #3401
I think I made the decision to do OA journals first, then the rest which explains the sorting order. I'm happy to change this, if you think?

[2021-05-05 10:28] dnoesgaard commented on #3406
fixed

[2021-05-05 10:28] #3406 closed, assigned to nobody

[2021-05-05 10:28] dschigel commented on #3401
I did not realize we have non-OA data journals at all in the GBIF web list, this an important parameter. If those non-OAs are in minority, should we have them at all in a GBIF page, adding @timhirsch @kcopas for opinions.

[2021-05-05 10:29] dnoesgaard commented on #3401
Fwiw, they're not non-OA, but OA-optional.

[2021-05-05 10:35] dschigel commented on #3401
Thanks in such case they can stay in I guess... If you don't want all alphabetic and extra field on OA details not justified, perhaps you could separate the bottom lines on optional OA journals in a separate table? This way we will visually stress the OA principles of GBIF through table headings. But is it a small thing, happy with any setup now it is clear why list is non-alphabetic.

[2021-05-05 10:37] dnoesgaard commented on #3401
I thought it was pretty clear?

![Screenshot 2021-05-05 at 12 36 39](https://user-images.githubusercontent.com/21358085/117129165-a505f080-ad9e-11eb-85a6-5cf894c6897e.png)

[2021-05-05 10:39] dschigel commented on #3401
Age comes with decreased eyesight

[2021-05-05 10:39] #3401 closed, assigned to dnoesgaard

[2021-05-05 15:42] #3408 closed, assigned to nobody

[2021-05-05 18:48] daijiang commented on #2222
I came to the same issue; it says xxx records, but the downloaded file is only 19 kb.
Any solutions?

[2021-05-06 06:22] dnoesgaard opened #3411 "Allow specific primary funding for projects"
In specific cases we need to be able to show funding sources other than the primary programme funding organization. These are normally defined in `programme` by `fundingOrganisations` and shown in the bottom of all child projects.

I've added a new field to the `project` content model (on DEV) called `overrideProgrammeFunding` and if populated, I'd like this be used _instead_ of `progamme.fundingO

[2021-05-06 06:29] dnoesgaard commented on #3390
Sorry for the delay, this was flagged incorrectly. Fixed now!

[2021-05-06 06:29] #3390 closed, assigned to dnoesgaard

[2021-05-06 10:28] MattBlissett commented on #2222
Hi @daijiang,

Thanks for reporting this.

You have found a bug in our API, where an invalid polygon is not rejected immediately, but instead returns zero occurrences.  We are working on fixing the bug (today), but the fix is to reject the query as invalid.

Your queries are using MULTIPOLYGONs with overlapping rectangles, which is not allowed by the [OGC specification (§6.1.14)](https://www.ogc.o

[2021-05-06 10:42] gbif-portal opened #3412 "The contact email address for the UK PDC has changed"
**The contact email address for the UK PDC has changed**

Hi,
I work for the UK Polar Data Centre and we've just changed our contact email address. Please can you update this page to remove polardatacentre@bas.ac.uk and replace it with our new email address: PDCServiceDesk@bas.ac.uk. Thank you.
Kind regards,
Alysa Hulbert

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c0f74

[2021-05-06 10:45] thomasstjerne commented on #3405
Something like:

The relativeOrganismQuantity is a measurement providing the amount of biological material relative to the size of a sample. It is calculated by using values from `organismQuantity` per `sampleSize` when the `organismQuantityType` and `sampleSizeUnit` are sufficiently clear.

[2021-05-06 11:28] daijiang commented on #2222
Thanks @MattBlissett for the information! I did not know that overlapping rectangles are not allowed. Do you have examples about how to separate multipolygon into several within predicates? I have a stack overflow question [here](https://stackoverflow.com/questions/66922817/how-to-use-rgbif-to-download-occurrence-data-from-multiple-polygons-at-once); if you can take a look at it and give some sugg

[2021-05-06 12:37] daijiang commented on #2222
@MattBlissett I saw your answer to the stack overflow question. Thanks! But the `st_union` returns clockwise polygon while GBIF asks for counter-clockwise ones, rights? Do you know any quick solution to change a clockwise polygon to counter-clockwise?

[2021-05-06 13:34] MattBlissett commented on #2222
[code]

This seems to produce a counterclockwise polygon. (NB I've never used the R Spatial library before.)

[2021-05-06 22:53] gbif-portal opened #3413 "A new species Haustorioides furotai Ogawa, 2021 was described."
**A new species Haustorioides furotai Ogawa, 2021 was described.**

A New Species of the Sand-burrowing Dogielinotidae, Haustorioides furotai, from Tokyo Bay, Japan (Crustacea: Amphipoda)
https://doi.org/10.12782/specdiv.26.65

It seems to be related to WoRMS and COL.

-----

Github user: @RyoKuwa
User: [See in registry](https://www.gbif.org/api/feedback/user/ba795dbff1d53686e1971fe41a042a0a:a68dd

[2021-05-09 21:55] gbif-portal opened #3414 "suggestion for synonym list"
**suggestion for synonym list**

suggestion to add to synonym list:

Zanthopsis bruckmanni
Xanthopsis bruckmanni

See e.g.
https://www.mindat.org/taxon-P389044.html

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2caf43a85c846f8e183655ae6eb940fe:88d6675e3eda7ec5ab3e208c6ee83ca84da3527b448c3350459094b32064858fa9157f9d3de87a9fd688d01d7a7a4335dcf96e16d64aafe9610d693725c3545e)
S

[2021-05-11 07:31] gbif-portal opened #3415 "add faceted counts for dataset and publishers in literature"
**add faceted counts for dataset and publishers in literature**

Is it possible to add facets with top 20 counts for

Dataset `gbifDatasetKey`
Publisher `publishingOrganizationKey`

(similar to what we have for journal and journal publishers)?

This is important when reporting on which datasets get used the most.

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/fee

[2021-05-11 12:05] MortenHofft commented on #3415
http://api.gbif.org/v1/literature/search?facet=gbifDatasetKey&limit=0
For reporting the API is probably better to use since you can control facet size?

[2021-05-11 12:11] dnoesgaard commented on #3415
For our internal reporting, absolutely. This wasn't so much intended for me, but for publishers and other stakeholders.

[2021-05-11 12:17] MortenHofft commented on #3415
Did anyone ask? I agree it sounds useful for them, but it is always interesting to know where the idea comes from.

[2021-05-11 12:25] dnoesgaard commented on #3415
This came out of an internal discussion.

[2021-05-11 19:44] gbif-portal opened #3416 "Asteraceae"
**Asteraceae**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/04c7c3650927f3662b388f5f55ee8913:7d8ebcba6e3937f5bbd459d32783786b748bcb69f4bf0a0b7a35042b7184140bc107948b8f2c58c8f0847f2f9d125d6c099e5a6693e5de8cf7a4747fe84d817f)
System: Chrome 90.0.4430 / Windows 7.0.0
Referer: https://www.gbif.org/species/3065?vnOffset=10
Window size: width 1366 - height 625
[API log](https://

[2021-05-12 07:37] DimEvil opened #3417 "ingestion of dataset skips some authors"
The author Frank Van de Meutter is not seen on the portal, however he is in the registry: https://registry.gbif.org/dataset/22211949-9a6e-445f-86c0-6a0e019bc055/contact

Link to dataset on IPT, Frank is there
https://ipt.inbo.be/resource?r=alien-scheldt-checklist

Link to GBIF, Frank dissapeared
https://www.gbif.org/dataset/22211949-9a6e-445f-86c0-6a0e019bc055

I don't have a clue on what the reas

[2021-05-12 07:45] dnoesgaard commented on #3411
@thomasstjerne, any chance you might have time to look at this one before Tuesday 18 May? We're set to launch a new batch of projects for which this feature would be ideal.

[2021-05-12 08:18] dnoesgaard commented on #3411
I can see from the code that there's already quite a bit of logic involved with funding, so if another work-around makes more sense, happy to accomodate

https://github.com/gbif/portal16/blob/7d3a839d397287fb3d5c16b4a068f52932d8cdf7/app/views/pages/resource/key/project/about.nunjucks#L73
 https://github.com/gbif/portal16/blob/7d3a839d397287fb3d5c16b4a068f52932d8cdf7/app/views/pages/resource/key/pr

[2021-05-12 10:55] #3411 closed, assigned to thomasstjerne

[2021-05-14 10:58] jlegind commented on #3412
PDC page updated and user contacted.

[2021-05-14 10:58] #3412 closed, assigned to jlegind

[2021-05-14 11:09] jlegind commented on #3416
User contacted for more information. If no reply before June 1, 2021 then remove issue.

[2021-05-17 09:48] MortenHofft commented on #3417
Frank is in the API https://api.gbif.org/v1/dataset/22211949-9a6e-445f-86c0-6a0e019bc055
But not on the website.

Frank is listed with the same userId as Jan Soors and hence the 2 are considered to be one and only one of them show. The IPT, Eml and the API will list the same person for multiple roles, the website tries to group those roles into on *person* it does so based on userIds when present

[2021-05-17 09:52] #3417 closed, assigned to jlegind

[2021-05-17 10:03] #1879 closed

[2021-05-17 10:18] MortenHofft commented on #3415
The reason I'm not just jumping and this but ask questions is that it is surprisingly cumbersome to do with our current codebase. It is doable of course, but it isn't just a 10 min task. More like a day to refactor those parts. Let me know if you believe it is worth the effort.
Personally I would prefer to keep it in mind for the next rewrite unless external people start asking for it.

[2021-05-17 10:27] dnoesgaard commented on #3415
Ok, I wasn't aware. Is it because we only have uuids as names for datasets and publishers?

[2021-05-17 10:30] DimEvil commented on #3417
I'm ok with this.  An error was made in the ORCID ID's. (I missed this...) and it i fixed now!

[2021-05-17 11:04] MortenHofft commented on #3415
yeah, in combination with literature not having a version 1 API when we did this, so it is a custom solution that is different from all the other search endpoints.

[2021-05-18 12:04] gbif-portal opened #3418 "Taxonomic generalization is not enough"
**Taxonomic generalization is not enough**

Generalizing these to the genus Homo doesn't make these records any more usable.

-----

Github user: @kcopas
User: [See in registry](https://www.gbif.org/api/feedback/user/71502f8a6ef0247b2478ad84c0f5fb54:f80b622f24881f5aa3345f4080d76582afac764b596cf418980cd51410c57126f7487d0120a28fd880c762ff781eebc391882590d6eeed8a9bfd14d066f2740b)
System: Firefox 88.0

[2021-05-18 14:00] MattBlissett commented on #3418
It does mean they skip the ALA's export filters for _Homo sapiens_.

CC @djtfmartin.

See also https://www.gbif.org/occurrence/gallery?dataset_key=84a649ce-ff81-420d-9c41-aa1de59e3766&taxon_key=2436435

[2021-05-18 14:02] gbif-portal opened #3419 "html in recorder names"
**html in recorder names**

Should we strip html from recordedBy and identifiedBy?

e.g. `<a href='https://bee.questagame.com/#/profile/4345?questagame_user_id=4345'>goldie (low)</a> | <a href='https://bee.questagame.com/#/profile/1651?questagame_user_id=1651'>donald hobern (low)</a>`

they make for an odd autocomplete experience. I'm not eager to display them as links either. We do so on detail p

[2021-05-18 14:09] ManonGros commented on #3394
it seems like this could be a misunderstanding, the names in this download with the `taxonomicStatus` = `synonym` are:

* Eleutherodactylus paisa
* Eleutherodactylus piceus
* Eleutherodactylus permixtus
* Hyla bogerti
* Hyla larinopygion
* Rhamphophryne ruizi
* Rhamphophryne macrorhina

Perhaps the confusion comes from the fact that the accpted name for Rhamphophryne ruizi is Rhinella ruizi (Grant

[2021-05-18 18:52] gbif-portal opened #3420 "recorded by a semicolon"
**recorded by a semicolon**

28,932 records in this dataset recorded by a semicolon.

In total there is 71K occurrences recorded by a semicolon

https://www.gbif.org/occurrence/charts?recorded_by=;&advanced=1

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/1d82ee71c3759a856752ad037ebfc627:61072a981b26783f1843d997f0f7d5867cd431c38116fadbf3c97ffb9eec3

[2021-05-19 07:34] ManonGros commented on #3402
The record comes from Pl@ntNet. I voted the "unidentified" but I am afraid that without an alternative identification, the name will remain.
I have contacted Pl@ntNet to ask.

[2021-05-19 08:29] dnoesgaard commented on #3389
JIFs are updated sometime in June so I suggest doing an update after that...

[2021-05-19 08:33] ManonGros commented on #3226
Contacted the publishers by email.

[2021-05-19 10:46] gbif-portal opened #3421 "This species is an extinct flightless bird from Guatemala. Very unlikely to have been seen in southern Nigeria in 2018"
**This species is an extinct flightless bird from Guatemala. Very unlikely to have been seen in southern Nigeria in 2018**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/3ab8de3341d21f6d40cec7b3cf5f97c9:b984c673c162fc7cc15833f26917295083214d0b412780ed28d8ac1c746e19b6c55287bd3f01971ef80b511e4aab517ca0ecf77e221d85b3f7f1c08fa3d500b1)
System: Chrome 90.0.4430 / Windows 10.0.0
R

[2021-05-19 11:36] gbif-portal opened #3422 "add button to suggest event"
**add button to suggest event**

We're collecting event suggestions from the community through a simple form. Could we add a  button (perhaps with a plus icon?) next to "Subscribe to calendar" simply linking to the page at https://www.gbif.org/suggest-event

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/5b0e811762217e169f149506abf98dd9:e1440cc5705be

[2021-05-19 11:45] dnoesgaard commented on #3422
fyi @akristensen

[2021-05-19 13:05] gbif-portal opened #3423 "No case insensitive matching on sampleSizeUnit"
**No case insensitive matching on sampleSizeUnit**

Tested in UAT environment

`matchCase: false` does not work against `sampleSizeUnit`.

In this download I asked for the case insensitive value `Square meter` and get 151,096 results in my download.

But asking the search API for
`square meter` or `Square meter` I get [232,474 results](https://www.gbif-uat.org/occurrence/search?advanced=1&sample_s

[2021-05-20 03:24] gbif-portal opened #3424 "Dilipa morgiana is an Asian species and highly unlikely to occur in Mali, West Africa."
**Dilipa morgiana is an Asian species and highly unlikely to occur in Mali, West Africa.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f65476581a913a7f07dce32f7dee79b0:171f3d4176c74f1f2b8c9fd81f07dd22273713b7d4b4a5592142d348a8ae71acb14dd2ee0bda0fd4e5fb26f2eaad53b9ce90c632326b8ba488f1fe4e31537aac)
System: Chrome 90.0.4430 / Windows 10.0.0
Referer: https://www.gbif.org/occ

[2021-05-20 03:25] vijaybarve commented on #3424
Email sent to Williams.

[2021-05-20 06:49] ManonGros commented on #3421
publishers contacted by email.

[2021-05-20 06:51] ManonGros commented on #3424
Thank you @vijaybarve for letting us know you contacted the data providers. Let us know if you don't hear back from them, we will follow up.

[2021-05-20 07:08] ManonGros commented on #449
This occurrence is now "ABSENT": https://www.gbif.org/occurrence/1318553764 (individual count of 0)
Is it a good way around this type of record?
Or should we ask the Smithsonian to just exclude these altogether?
@ahahn-gbif

[2021-05-20 08:15] ManonGros commented on #1756
User contacted by email.

[2021-05-20 08:21] ManonGros commented on #1737
@timhirsch were you able to raise affiliate endorsement status with NSG?
This doesn't seem like a data content issue any more, should I close it?

[2021-05-20 08:50] ManonGros commented on #1642
I left a message via PANGEA contact form: https://www.pangaea.de/contact/
I hope they will respond.

[2021-05-20 08:53] #1624 closed

[2021-05-20 09:07] ManonGros commented on #1627
@MattBlissett I don't think we could reasonably ask the publishers to provide then coordinates of where the specimen was originally collected. I think having the basis of record together with the appropriate establishmentMeans would be enough.
Should I close this issue?

[2021-05-20 09:17] timhirsch commented on #1737
Apologies that I let this one slip in 2019. Since CAFF is the only relevant example besides OBIS, I still think the most pragmatic option is to assign them the same endorsing rights as an affiliate, but I agree we should get an ok from the NSG as suggested earlier by @ahahn-gbif . There is an NSG meeting today and I can try to raise it although it's quite a crowded agenda so can't guarantee there

[2021-05-20 09:20] ManonGros commented on #1737
Thanks @timhirsch! sounds good, ping me when needed.

[2021-05-20 10:29] MattBlissett commented on #1627
I think this is what's needed, so let's leave this open until that's done.

[2021-05-20 11:34] mdoering commented on #1627
Maybe we should propose a new dwc term with a simple boolean for captive / cultivated like  https://www.inaturalist.org/pages/help#captive ? All these multi value terms are blurring the picture.

[2021-05-20 11:42] mdoering commented on #1627
Alternatively GBIF could try to interpret such a flag based on various rules combining different occurrence properties, dataset or even record annotations by users . We could interpret a combination of establishmentMeans & basisOfRecord. Or use even have shapes for known botanical or zoological gardens and combine them with kingdom Animal & Plants, but exclude Arthropods and some other groups with

[2021-05-20 11:48] ManonGros commented on #1852
It seems like this information could go in a generic text field such as [occurrenceRemarks](https://dwc.tdwg.org/terms/#dwc:occurrenceRemarks) or maybe in the [dynamicProperties](https://dwc.tdwg.org/terms/#dwc:dynamicProperties) field?

[2021-05-20 12:04] ManonGros commented on #1964
They removed the dates.

[2021-05-20 12:04] #1964 closed

[2021-05-20 12:08] kcopas commented on #1964
what a cop-out!

[2021-05-20 13:07] ManonGros commented on #2290
I found 3 other institutions with the same issue:

- https://registry.gbif.org/institution/3dab214b-81ca-4f3b-853a-561b20595631
- https://registry.gbif.org/institution/93826dc0-0181-4a1b-8bbf-c4012818d406
- https://registry.gbif.org/institution/1616f171-9f72-4114-be87-58399550879c

I removed the single letter identifier for all of them.

[2021-05-20 13:07] #2290 closed

[2021-05-20 14:07] ManonGros commented on #2291
I have been looking for more duplicate identifiers for institutions and aside from the iDigBio UUIDs, there aren't any left.

But there are those 4 collections with the same identifier (urn:lsid:biocol.org:col:34777):

- https://registry.gbif.org/collection/910442b2-e0aa-46a9-b3dc-5a4efb1ed3a3
- https://registry.gbif.org/collection/dc806805-f05c-4a09-9d58-78743a9e8cd6
- https://registry.gbif.org/c

[2021-05-20 15:02] JimBacon commented on #3153
Yes please! That documentation is exactly what I have been searching for.
In particular, can you document what is deduced in https://github.com/gbif/portal-feedback/issues/1201, that the parent_key of synonyms points to the accepted name.

[2021-05-20 18:29] gbif-portal opened #3425 "Camirus porosus (Germar, 1839)"
**Camirus porosus (Germar, 1839)**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/76f0fee4fcea50569a4dd22d6a7d2332:57e742491ab829ff9cec1b21c8e1740c9008f27fd68b83c1104af6c05d4aa71dfa3bdb7f3d69a9ad3a3f7c6e14ce735168fcdd95f54e9eafe4ba1690ed78bdcf)
System: Chrome 90.0.4430 / Windows 10.0.0
Referer: https://www.gbif.org/species/5160035
Window size: width 1219 - height 673
[API l

[2021-05-20 18:32] gbif-portal opened #3426 "Camirus porosus (Germar, 1839) and Acantholomidea porosa Germar, 1839 are synonyms. See Eger & Lattin (1995): https://www.jstor.org/stable/25010192?seq=1"
**Camirus porosus (Germar, 1839) and Acantholomidea porosa Germar, 1839 are synonyms. See Eger &amp; Lattin (1995): `https://www.jstor.org/stable/25010192?seq=1`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4bed27630220f340fedfaaa0eafb714f:785c0abe0286d83aa5a4405ca43391aa470e16fcb054f18253b1428d75b2ab37c51a91414af0acb531a3ec3f1ba3af6f4b3bc819734e8336e7627947cfdba57f)
Sy

[2021-05-21 06:26] ManonGros commented on #3425
seems like a duplicate of https://github.com/gbif/portal-feedback/issues/3426

[2021-05-21 06:26] #3425 closed, assigned to nobody

[2021-05-21 07:24] uschindler commented on #1642
Hi @ManonGros,
we got your request and process it at the time. Before sending an answer, we have to first figure out through which channel you are getting the data. I will ask @huberrob about that.
PANGAEA uses several licenses, but nowadays it is mostly CC-BY 4.0 - the change was a few years ago, maybe as old as this issue. But we can't change licenses for older datasets because of legal reasons.

[2021-05-21 08:05] dnoesgaard commented on #3233
Indeed missing a word. Added "and" to sentence.

[2021-05-21 08:05] #3233 closed

[2021-05-21 08:23] ManonGros commented on #1642
Thanks @uschindler for the very quick reply! Let us know if there is anything we can do to help.

(GBIF harvests datasets from this endpoint: http://digir.pangaea.de)

[2021-05-21 08:45] gbif-portal opened #3427 "False synonymization - Papilio polixenes"
**False synonymization - Papilio polixenes**

Papilio polixenes (Papilionidae) is falsely considered a synonym of Oeneis polixenes (Nymphalidae)

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/aa16f798bf349f6f86645d8f5030317d:8c476a4d934d630409429913a41e934df9e55ae5582d12a9d55b36af253e8c678365da6f9679b65c5c01785b2751ad5e570b8d3f330ad3e061a0034b6f81e5ac)
System: Firefox 88.0.

[2021-05-21 08:55] uschindler commented on #1642
That is what I expected! I will bring you in contact with @huberrob, so we can sort out if the License is maybe hardcoded there. We should definitely show the "original" license of the underlying datasets, which can be any of the following:

- CC0
- CC-BY-3.0
- CC-BY-4.0
- CC-BY-NC-3.0
- CC-BY-NC-4.0
- CC-BY-NC-ND-3.0
- CC-BY-NC-ND-4.0
- CC-BY-NC-SA-3.0
- CC-BY-NC-SA-4.0
- CC-BY-ND-3.0
- CC-BY-ND-

[2021-05-21 09:24] ManonGros commented on #3350
The corresponding iNaturalist is no longer research-grade and therefore no longer on GBIF under that name: https://www.inaturalist.org/observations/23868947

[2021-05-21 09:24] #3350 closed, assigned to nobody

[2021-05-21 09:49] ManonGros commented on #1642
Only CC0, CC-BY and CC-BY-NC are supported by GBIF.
The datasets published under the other licenses shouldn't be shared on GBIF. I think this is already the case, but would it be possible to double check?

[2021-05-21 09:53] huberrob commented on #1642
Hi Uwe,
actually we changed from digir to darwin core archive two years ago. We are using the GBIF API to register or update datasets with these archives from a service at digir.pangaea.de/dwca.
Example:
digir.pangaea.de/dwca/?id=793268

Licence in the delivered EML (contained in the archive zip) comes from PANGAEA XML via XSLT which generates the EML as it should be. It uses e.g.:
https://doi.pan

[2021-05-21 10:41] uschindler commented on #1642
if it is an old dataset, yes. New ones have CC-BY 4.0.

[2021-05-21 10:49] uschindler commented on #1642
Thanks Robert, so we submit our original License. Thanks.

To answer the question by @ManonGros and @MattBlissett: As said before, we can't change the license for old datasets, as we don't have the ownership/copyright. The dataset still belong to the original authors. We would need to ask *all* authors to change the license, because we have no Contributor Agreements with them. This is not possible

[2021-05-21 13:10] ManonGros commented on #1642
Thanks @huberrob and @uschindler!
We will need to have some internal discussion to see if this is something we can do. We will keep you in the loop.

[2021-05-22 10:51] gbif-portal opened #3428 "visual idea"
**visual idea**

It would be useful to have a regularly updated data flow visual that would show balance between the data publishing and data use and connections between countries. Here is an [example](https://scontent-cph2-1.xx.fbcdn.net/v/t1.6435-9/187154685_10165393723260161_524545858580670843_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=OuTW05YMEkQAX8wBp8P&_nc_ht=scontent-cph2-1.xx&oh=9a0b

[2021-05-24 07:56] anneliejonsson commented on #3329
Any thoughts on this?

All the best,
A

[2021-05-24 11:22] gbif-portal opened #3429 "Institution Code match fuzzy or mismatch"
**Institution Code match fuzzy or mismatch**

The intermountain Herbarium (collection code UTC) is part of Utah State University (referred to as USU in Utah). USU is sometimes interpreted as "USU Utah State University" by GBIF - and labeled as "Institution match fuzzy" and "Institution collection mismatch".

The metadata, as we record them, show the collection code at UTC, that being the internati

[2021-05-25 08:47] MortenHofft opened #3430 "CORS headers on literature API"
`Access-Control-Allow-Origin` is missing on the the literature API response. It is present on occurrence API response. This means that it cannot be used on other sites. I suggest we add the same headers as we have on our other APIs.

This was prompted by a mail to helpdesk

[2021-05-25 17:09] EstebanMH-SiB opened #3431 "Problem with a interpreted Elevation"
I have a small question about interpreted Elevation, just to be sure.

One of our publishers recive a report that a plant have an incorrect elevation, is not possible for that plant to live in high altitudes. The original record didn't have an elevation because is an old record and the field is empty.

![image](https://user-images.githubusercontent.com/63795703/119538291-946ae980-bd50-11eb-9272-d5

[2021-05-25 19:26] MattBlissett commented on #3431
Hi Esteban,

Scroll a little further down on that record, and you will see the field "Maximum elevation in metres" and "Minimim elevation in metres".

GBIF's occurrence API is based on an older version of Darwin Core (I think) with only an "Elevation" term, which it calculates from the supplied Minimum/Maximum Elevation In Metres terms if they are present, as here.

[2021-05-26 11:21] jlegind commented on #3329
Hello AM,

So this is about the differences between the published archive and the GBIF interpreted user download of https://www.gbif.org/dataset/093d659d-99e1-4bd0-9de7-6330b361ea54.

The issue here is that the GBIF index/occurrence database does not support the 'extended measurement or fact' extension. The fields in the extension (https://tools.gbif.org/dwca-validator/extension.do?id=http://rs.io

[2021-05-26 11:43] anneliejonsson commented on #3329
Thank you for the explanation!

Perhaps I'm being a little bit lazy when I ask this, but, is this made clear to users somewhere obvious on the GBIF-page? That there may be data missing when downloading data through the "Recommended" route?

Also, how can one find out how the data in the "occurrence"-file (from the recommended download route) is adjusted (i.e. what the consistence checks etc includ

[2021-05-26 11:48] anneliejonsson commented on #3329
I understand that one could use the DwC-term dynamicProperties instead of the eMoF, but I haven't done so since I find the eMoF easier to understand.

But, does GBIF support the use of dynamicProperties? Would data be included in the output from a "Recommended" download if we were to put it in dynamicProperties instead?

Many thanks in advance!

[2021-05-26 12:56] gbif-portal opened #3432 "filter species by extinction status"
**filter by species by extinction status**

Would it be possible to include a filter in the UI for the isExtinct boolean?

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/ac7d470e9ac850f0d7c6decef43cc8dc:872d9e081beba04961b2a363f2abd8995f5bd7b12f057bef7b52830cfdde744f0eff5995ca57d2d709f56ebb2e65f79c6df79e7a46b19e8a4ec58d4cf8c2251e)
System: Chrome 90.0

[2021-05-26 19:53] MortenHofft commented on #3432
Yes, but we should perhaps evaluate if we think that our data quality supports it. If I remember correctly, then some of those filters were left out because the results were odd. As in: showing as extinct, because it was extinct in that area of a french forrest. I do not have a specific example, just a vague recollection that we left it out on purpose. But the data etc could since have changed. Pe

[2021-05-26 20:41] mdoering commented on #3432
It is one of the best managed species properties, but still there is no complete coverage and some datasets might be really wrong. But without exposure obviously there is also no push for quality.

We do expose `extinct` as the only species property in the COL API and UI. I agree it is probably worth doing it for GBIF also.

[2021-05-27 01:28] vijaybarve commented on #3424
Email sent to Dr. Williams bounced back to emailed Dr. Ranwashe today.

[2021-05-27 07:32] MortenHofft commented on #3432
searching the backbone for extinct taxa
http://api.gbif.org/v1/species/search?isExtinct=true&datasetKey=d7dddbf4-2cf0-4f39-9b2a-bb099caae36c

first results are
[Prasinophyta](https://www.gbif.org/species/104) 1,214 observations since 2019 - no fossils
[Cephalaspidomorphi](https://www.gbif.org/species/239) 4,722 observations since 2019 - no fossils
[Bryopsida](https://www.gbif.org/species/327) 301,

[2021-05-27 07:51] dnoesgaard commented on #3432
That seems really odd. I can't see that any of these taxa have an extinction flag in the source checklists.

[2021-05-27 08:27] MortenHofft commented on #3432
Might be that I'm doing something wrong. But I think we should evaluate data quality first - we might be able to write a disclaimer/explainer that makes it fine. But it would be nice to know a bit more first I find. Do you have time to evaluate the data quality @dnoesgaard ?

[2021-05-27 08:34] mdoering commented on #3432
This seems indeed really bad. There probably have been good reasons to exclude it.
I could change the nub build in the future to only copy extinct from some trusted source like COL. Or we could even consider to only ever apply it to genera and below.

A useful filter, but we might indeed need to improve data quality.

[2021-05-27 11:01] gbif-portal opened #3434 "Mistake of genus Neozoarces"
**Mistake of genus Neozoarces**

Dear GBIF,
Genus Neozoarces is supposed to be in Family " Stichaeidae" instead of "Zoarcidae".
Best regards,
Ran

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/3eb03dbf1a238478905a71e949af9c5a:8d9b295c2b2f7614429d27de16e947f7809ee25078329e03cc459fc8d33969488685412fda0d925bbc4f61689e2c0c2094dd289c9b50008905da9971b4e89e03)
System: Chrome 90.0.

[2021-05-27 11:47] dnoesgaard commented on #3432
Just from looking at the first 3 examples, I don't think we should expose it at the moment.

Why would this taxon be listed as extinct?

[code]

[2021-05-27 12:59] #3432 closed, assigned to nobody

[2021-05-28 12:19] ManonGros commented on #2871
Contacted the IPT manager by email.

[2021-05-28 14:55] gbif-portal opened #3435 "Mistake of Petroschmidtia teraoi"
**Mistake of Petroschmidtia teraoi**

Dear GBIF,

Petroschmidtia teraoi is supposed to be Lycodes teraoi .

Best regards.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/262376198c807d57d1d5af0386edac52:49f475b710b4158701af42eb7b9a7c3e1fae3d56812fa6a89f1e1fea9a4f8dc2a2fb24f7963d11b0dc3dfd72ef27320aa2f4a8948ce4e91200a87b429e91b05c)
System: Chrome 90.0.4430 / Windows 10.0.0
Re

[2021-05-28 18:10] dshorthouse commented on #3409
Technically ok, but not very helpful downstream in practice. I'd not recommend that the same person be referred to with multiple identifiers but that one be used given there might be a choice from the provider. The reason is somewhat implicit in "no semantics should be assumed", which would include in this instance, "sameAs".

The proposed [`recordedByID`](https://github.com/tdwg/dwc/issues/102) t

[2021-05-31 08:46] #3398 closed, assigned to nobody

[2021-05-31 08:50] jlegind commented on #3329
Regarding GBIF interpretation of the 'raw' data, I recommend reading this blog post which deals with issues according to GBIF: https://data-blog.gbif.org/post/issues-and-flags/
The blog post table is divided into themes: Geospatial, taxonomic, date issues, vocabulary issues, GRSciColl related issues, and 'other' issues.

[2021-05-31 09:36] jlegind commented on #3329
The terms in the 'lifestage' concept are limited to those you can see here:  https://registry.gbif.org/vocabulary/LifeStage/concepts

You would have to translate 'pulli' into one of these concepts.

GBIF is in the process of improving the way in which we manage vocabularies, so that we have more flexibility for data managers to get involved in the process which has historically been slow.

[2021-06-01 07:35] akristensen commented on #3422
@thomasstjerne would be great if it could be up an running for our GBIF newsletter going out mid June, so we can promote the new feature there. Thanks Annie

[2021-06-01 10:23] gbif-portal opened #3436 "Update contact information Western Australian Herbarium (publisher)"
**Update contact information Western Australian Herbarium (publisher)**

Description: https://www.dpaw.wa.gov.au/plants-and-animals/wa-herbarium
Admin Contact: Shelley James - herbarium@dbca.wa.gov.au - +61 (08) 9219 9000
Technical contact: Ben Richardson - ben.richardson@dbca.wa.gov.au - +61 (08) 9219 9000

Thanks

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/16b357d57842

[2021-06-01 13:12] MattBlissett commented on #3329
@anneliejonsson, Jan:

Even though GBIF doesn't yet support the eMoF extension, it's probably still the better choice -- the structure of the data is much better suited for reuse, since it's easier to understand for users of the data as well as publishers.

I have added "pulli" and "pullus" as alternative labels of "nestling", and reprocessed this dataset.  The occurrences (like [this one](https:/

[2021-06-01 16:54] JimBacon commented on #3153
I'm also stumbling over which fields I can expect to see populated. For example, every record has a scientific_name but I have been caught out because many do not have a canonical_name. Perhaps this could be documented too.

An example such as id=10863734 (scientific_name Mareca americana x penelope), which is an accepted name, lacks canonical_name, genus_or_above, specific_epithet, infra_specific

[2021-06-01 22:16] gbif-portal opened #3437 "How do I search for GBIF applied mtadata in the portal"
**How do I search for GBIF applied mtadata in the portal**

eg gbifID, datasetKey. How  can I use these identifiers to locate records/datasets using the GBIF portal. The fields don't appear in any search forms.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/788b87c1315681a5e10cc0e169b123b3:7aa1e6981bfd6f418262cfe2591edf9b98afaa0f796e3c810248a67889672e80060132f8206041cae1a06

[2021-06-02 02:22] gbif-portal opened #3438 "Diploderma drukdaypo"
**Diploderma drukdaypo**

Diploderma drukdaypo, a key protected species in China discovered in 2019, does not exist, please add this species.

https://en.wikipedia.org/wiki/Diploderma_drukdaypo,

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/65a163db5ecc181c5f571ae6359051e0:bafd4b8503fe8e356301cbd527d412a22013a80c52097ecba8c1918dd632d82ffad02de1fecac81f4b6ab44005e978b399312

[2021-06-02 02:25] gbif-portal opened #3439 "Pelochelys cantorii"
**Pelochelys cantorii**

The identification of Pelochelys cantorii as Chitra indica is wrong, and Pelochelys cantorii is a key protected species in China.
https://en.wikipedia.org/wiki/Asian_giant_softshell_turtle

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/fe0f75c04319cd8f21af21b78d6a5660:70492d88cf1cea48e7058991f0a461a2862ded13e520507d38107a02beff8cacca05f0d1d6073d40f8

[2021-06-02 09:05] #3422 closed, assigned to thomasstjerne

[2021-06-02 09:17] gbif-portal opened #3440 "missing translation for SIMPLE_PARQUET"
**missing translation**

downloadFormat.SIMPLE_PARQUET should be added to the translation files

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/08350bb56c845dde7949d1f51cdea307:00f01942f282980f3239649da4666e3d6167ed7f226b2092cbd59b594fd1c807363a5642183e7a99b7bc404c675c90972d3f8139358ac81ecf0352e4f3d3aaab)
System: Chrome 90.0.4430 / Mac OS X 10.15.7

[2021-06-02 10:46] #3440 closed, assigned to nobody

[2021-06-02 15:23] gbif-portal opened #3441 "Missing pretty names for institution and collections"
**Missing pretty names for institution and collections**

The download predicate display do not format UUIDs of institutions and collections

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/d7c9e4490a38e55ad02fd7320d78aea4:050b7dd2e029950921353b265b92f2b6aeab097bfbffad4a8d482b8d768984d127fd236ea2107fcbe8c4c50ed0173f2b87c6f287b46371fe17923225024070c1)

[2021-06-02 15:24] #3441 closed, assigned to MortenHofft

[2021-06-02 17:40] gbif-portal opened #3442 "Can you help me with the gbif API?"
**Can you help me with the gbif API?**

I have experimented with various endings on the base URL (https://api.gbif.org/v1/) but can not understand how to control the output to give me what I want. My immediate aim is to obtain a list of all the species' accepted scientific names within a given taxon. I have not been able to find a beginner's guide to the API.

-----

User: [See in registry](https:

[2021-06-03 06:16] MortenHofft commented on #3442
I see that you have already found the documentation. We are currently looking into migrating our documentation to another software stack. Could you describe what more you would like to see in terms of documentation?

First of all you have to decide what checklist to use. GBIF mediate multiple checklists. And we build our own from merging those published. We call the latter for "the backbone"

It s

[2021-06-03 06:28] gbif-portal opened #3443 "Show breakdown of matched verbatim names"
**Show breakdown of matched verbatim names**

I think it is useful to show matched verbatim names.

It tells a story about why we do data normalisation to see how many ways the same thing is written

It highlights any issues we might have with the backbone and our matching

We could do a [facet on `verbatimScientificName`](http://api.gbif.org/v1/occurrence/search?taxonKey=1866356&limit=0&facet=ver

[2021-06-03 07:12] gbif-portal opened #3444 "recorder was dead at event date"
**recorder was dead at event date**

These records are recorded by Thomas Georg Münster
https://www.wikidata.org/wiki/Q10715104
who according to Wikidata died 1938 march 10.

But [the dataset](https://www.gbif.org/dataset/26f5b360-8770-4d54-9c2d-397798a5e513) contains 15 occurrences recorded by the person after that date. E.g. 1996 august

-----

Github user: @MortenHofft
User: [See in registry](h

[2021-06-03 09:08] gbif-portal opened #3445 "Images show an image with the text "No Image Available""
**Images show an image with the text &quot;No Image Available&quot;**

This seems silly. I guess it might convey the information that the do not have an image on demand either, but if that is the case perhaps a comment is better.

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/3f6fa9e8e8bab25025ebe265d1ad51d8:c6a423374b6aac6c09d7aa8b26f2cf3520dfc5c3

[2021-06-03 09:11] MortenHofft commented on #3445
I've managed to find an actual image by clicking "more, more, more, more, more". They just disappear among the placeholder images. It is a nice image.
https://www.gbif.org/occurrence/2365571744

[2021-06-03 10:07] stevespages commented on #3442
That is great feedback to have.

I would really like to see an explanation of how to use the API aimed at people with a low level knowledge (but not none at all) of APIs and JSON and gbif. I was thinking that a handful of worked examples which showed how to interrogate the database(s) for certain types of information would be very useful. I think it would be particularly useful if these examples a

[2021-06-03 13:58] MortenHofft commented on #3442
Thank you - that is useful feedback.

For now I will just answer your specific questions:

## where do I find the number for the highertaxonKey parameter corresponding to a particular taxon?

You use the species match API to find the taxonKey you are looking for. The documentation says

E.g. https://api.gbif.org/v1/species/match?verbose=true&kingdom=Plantae&name=Oenante
Which returns
[code]

This

[2021-06-03 17:33] stevespages commented on #3442
Thanks for that information. I find the extract from the documentation very difficult to understand but I can see that using the UI can give me a clue with regard to some aspects. I really have very little idea of what the UI and the API can do and what it can not do. I imagine it is very powerful and can give the results to almost anything one would want to know about the data.

Please can you te