[2022-07-04 10:48] CecSve commented on #4139
https://github.com/CatalogueOfLife/data/issues/442#issuecomment-1171252069 it is currently not possible for CoL to update the checklist

[2022-07-04 17:32] gbif-portal opened #4158 "Update on Organization Contacts"
**Update on Organization Contacts**

Dear Helpdesk,

I want to ask you if you could remove María Renée Álvarez Ruano from the point of contact from Universidad del Valle de Guatemala. She stopped working with us last month.

Thank you very much.

-----

Github user: @zabdi8
User: [See in registry](https://www.gbif.org/api/feedback/user/3e8174cf3f0fe01e5645e83883110ab7:167bf7f7b7143dc96f97ea1c337e8

[2022-07-04 20:01] gbif-portal opened #4159 "(LSIGMA-USB)"
**(LSIGMA-USB)**

I have just accredited a data publishing institution (Laboratory of Geographic Information Systems and Environmental Modeling (LSIGMA-USB)) and I am waiting for the support of the Committee of Administrators of Participating Nodes.
Greetings
Carlos Enrique González Rojas

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/08465d78a7b06c981cab9a066e70dc69:cb5cf3

[2022-07-05 11:11] ManonGros commented on #4158
Thanks @zabdi8, we have removed María (the changes should appear in a few min). Let us know if you need anything else.

[2022-07-05 11:11] #4158 closed, assigned to ManonGros

[2022-07-05 11:27] ahahn-gbif commented on #4159
The endorsement request was received July 4th, 19:10 local time, and has since been forwarded to the relevant members of the GBIF Participant Node Managers Committee. Procedural guidelines allow up to four weeks to process such a request, though the turn-around is usually much faster than that. You will receive an automated notification, followed by a personal message, as soon as the procedure has

[2022-07-05 11:32] #4159 closed, assigned to nobody

[2022-07-05 17:35] zabdilopez commented on #4158
Excellent thank you for all your help!

Zabdi Moisés López U
Master en Gestión Ambiental y Sostenibilidad
Universidad del Valle de Guatemala

El mar, 5 jul 2022 a las 5:11, Marie Grosjean ***@***.***>)
escribió:

[2022-07-06 09:31] melissa0520 commented on #4065
The issue is solved by the publisher: https://www.gbif.org/occurrence/3753787302

[2022-07-06 09:51] MattBlissett commented on #4065
Thanks, Melissa.

[2022-07-06 09:51] #4065 closed, assigned to melissa0520

[2022-07-06 14:41] sylvain-morin opened #4160 "Ingestion seems to be running since Mon 27 Jun 2022"
We have updated lots of french datasets between yesterday (5th of July) and today (6th of July)
We are analyzing the results (the update is triggered by an automatic workflow - more than 8000 datasets updated)

One issue is on this one:
https://www.gbif.org/dataset/adcdeb1e-83ed-4b4d-b955-63c244c22e67

It's a small one (132 occurrences on the IPT), however, it's still not updated on GBIF.org (127

[2022-07-06 14:58] sylvain-morin commented on #4160
Here is the list of the datasets I updated yesterday, but are still stucked on GBIF.org ingestion since the 27th of June:

https://www.gbif.org/dataset/9e84be57-3b59-4486-99d7-26f260cfb1ad
https://www.gbif.org/dataset/33244db4-63eb-446f-bd83-16e4119ad6e3
https://www.gbif.org/dataset/adcdeb1e-83ed-4b4d-b955-63c244c22e67
https://www.gbif.org/dataset/c621bdda-1e6b-4c61-ba7f-9c5848755b4e
https://www.g

[2022-07-06 15:32] Andreas-Bio commented on #3432
possibly related to  #https://github.com/CatalogueOfLife/backend/issues/837

[2022-07-06 19:40] gbif-portal opened #4161 "Typo in default message when no datasets on project pages"
**Typo in default message when no datasets on project pages**

The message should read 'There are no datasets to show' (not 'is'). Ideally 'Datasets ' tab should only show up if there are datasets associated with the project (I believe this used to be the case)

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f35e4cad48e8e71689f8da41df45e35d:f0ed575042f7e22230ee377857aaae6841

[2022-07-07 07:38] MortenHofft commented on #4161
Thanks @timhirsch - that is exactly why we have danglish -> english -> other
I've updated in Crowdin https://crowdin.com/translate/gbif-portal-en/161/endk-en?filter=basic&value=3#q=noDatasets

[2022-07-07 07:38] #4161 closed, assigned to nobody

[2022-07-08 12:48] ManonGros commented on #4160
Thanks @sylmorin-gbif !
It looks indeed like your datasets are stuck. I triggered the regingestion for all of them (running now), I can see that it now works for the first one you mentioned: https://registry.gbif.org/dataset/adcdeb1e-83ed-4b4d-b955-63c244c22e67/ingestion-history

I don't know why they got stuck these weren't the only ones. I will close the issue. now but let me know if you noticed

[2022-07-08 12:48] #4160 closed, assigned to nobody

[2022-07-08 12:55] myrmoteras opened #4162 "how to import a matched GBIF occurrence key with a material citation via DWCA to GBIF?"
we have an increasing number of project that involve linking material citations with specimen/occurrence/GBIFkeys

The links MC/specimen is made by adding an attribute to the material citation annotation in the treatments by Plazi.

The question to you is how to import this link to GBIF? Right now we plan to add the matching `occurrence gbif Key` as `reference` in the DWCA (see eg https://www.gbif

[2022-07-08 17:32] gbif-portal opened #4163 "Participant Table Shows Misleading Metrics"
**Participant Table Shows Misleading Metrics**

The participant table on the GBIF North America page provides metrics for nodes that are not provided anywhere else and are also misleading and do not accurately reflect and even misrepresent the data mobilization activity happening in the network. We would suggest removing Datasets, Occurrences, Hosted occurrences, and Publishers from the table.

--

[2022-07-08 18:27] timrobertson100 commented on #4162
Thanks, @myrmoteras - others may weigh in on this.

At the moment, I can't see any other sensible alternative if it is to link to the GBIF record. Putting https://www.gbif.org/occurrence/n in there will be something that we can parse out in the future if needed, and it's clear what it is.

[2022-07-08 22:16] camiplata opened #4164 "Same dataset indexing two times with a differnt ID"
This dataset: https://ipt.biodiversidad.co/iavh/resource?r=mamiferos_asa-fibras_2022 is been indexed two times on the portal:

1. https://www.gbif.org/dataset/1f0b0a0b-f61b-4a47-95f5-58f511399404
2. https://www.gbif.org/dataset/8bfff073-399c-4e58-897d-a437ad918092

<img width="824" alt="Captura de Pantalla 2022-07-08 a la(s) 5 15 52 p  m" src="https://user-images.githubusercontent.com/5700527/1780

[2022-07-11 08:31] MattBlissett opened #4165 "Wrong-way-round duplicate dataset links"
There are 16 datasets with the duplicate link pointing the wrong way -- from the current dataset to the deleted one. It should point from the deleted dataset to the replacement.

The wrong-way link means they are excluded from the weekly crawl, and that the deleted dataset doesn't show its replacement on the portal.

- [x] 3d57c2f0-4bc7-4a78-ae45-c29d081b2f60
- [x] 3beabb49-17c6-44eb-b13b-a107515b

[2022-07-11 08:34] gbif-portal opened #4166 "Collema fasciculare in Goodeniaceae (Asterales)?"
**Collema fasciculare in Goodeniaceae (Asterales)?**

I was searching for Collema fasciculare, and GBIF contains several entries for this name, including one described by Linnaeus, 1767 and placed in the Asterales family Goodeniaceae. Is this correct? I canot find the genus Collema in the World Flora Online, so I got suspicious.
The distribution resembles somewhat that of Collema fasciculare (L.)

[2022-07-11 08:35] MattBlissett opened #4167 "Never-crawled datasets"
The following datasets have never been crawled, often due to a missing or invalid endpoint.

- [x] ca49d2fd-1abf-4fc1-815e-f1b53cc8ea11
- [x] 2e9743e0-2458-4116-848f-16cb330c9b98
- [x] c0f9c5e1-5dae-45a4-9871-e7523f4755b9
- [x] f22e621a-dd7f-4b12-ae4b-3acc07c00c48
- [x] adca64e3-e352-48b4-9105-689958956aa5
- [x] 93da33bd-9b15-40ec-ac93-1814d5c6acc9
- [x] c9da6876-ce60-4cfc-bec6-031775f2992e
- [x]

[2022-07-11 12:47] gbif-portal opened #4168 "This species might be a copied error from ipni, as another species which is more widely accepted has a very similar name Handroanthus vellosoi (Toledo) Mattos"
**This species might be a copied error from ipni, as another species which is more widely accepted has a very similar name Handroanthus vellosoi (Toledo) Mattos**

I suggest using plants of the world online as a reference for this species https://powo.science.kew.org/taxon/urn:lsid:ipni.org:names:117337
And the publication cited there.
I assume not both species "vellosi" and "vellosoi" are accepte

[2022-07-12 02:39] OBinFiji opened #4169 "Ptilinopus layardi and Chrysoena viridis"
GBIF uses _Ptilinopus layardi_DG Elliott 1878 as the Scientific Name for the endemic fruit-dove on Kadavu in Fiji https://www.gbif.org/species/2495560/metrics

IUCN/HBW uses _Chrysoena viridis_Layard 1875 as the Scientific Name for the same species , a fruit dove endemic to Kadavu, Fiji.  it is included in GBIF based on a) the IUCN Red List report and b) 7 historical museum specimens https://www.g

[2022-07-12 07:47] gbif-portal opened #4170 "Porpax extinctoria, Synonym or accepted name?"
**Porpax extinctoria, Synonym or accepted name?**

The gbif backbone states Porpax extinctoria (Lindl.) Schuit., Y.P.Ng & H.A.Pedersen is a synonym of Conchidium extinctorium. The source of this entry is WCVP, but on visit of the source it does accept the name Porpax extinctoria.
Could you update this entry, please? Or if I am missing something please explain the reasoning behind the entry.
Thank

[2022-07-12 08:26] gbif-portal opened #4171 "Rerun query from download page - query with IN vs OR"
**Rerun query from download page - query with IN vs OR**

@MBLaursen  generated a download using the webUI in order to be able to save her query and be able to periodically rerun it.
However, once the download is generated, there is no "RERUN QUERY" button in the download page. And I can see that the query saved uses the `OR` predicate.

However, if I create the query via the API using the `IN` pr

[2022-07-12 09:29] MortenHofft commented on #4171
I try to detect if it is a query that can be translated to a query that is supported in the UI. That isn't always trivial. A part of me want to remove it altogether as it is fragile and complex. I can look briefly, but honestly I'd rather not spend a lot of time one this. I believe the backend will also rewrite queries at time for optimisation reasons. IN vs OR should be feasible though. But I sus

[2022-07-12 09:36] ManonGros commented on #4171
Please keep the functionality. I think it is a useful one! It is ok if not all the queries can be rerun but I think users appreciate to be able to rerun at least some of them.

Maybe that's the solution then?

[2022-07-12 10:46] MortenHofft commented on #4171
Hmm. okay. In that case I should probably do a more proper rewrite of the whole thing. Thanks

[2022-07-12 11:07] MBLaursen commented on #4171
I agree with Marie, it is a very useful functionality

[2022-07-12 11:24] gbif-portal opened #4172 "Paraponyx is a misspelling of Parapoynx"
**Paraponyx is a misspelling of Parapoynx**

Paraponyx (ending in -nyx) is a misspelling of Parapoynx (ending in -ynx). Therefore, the page of the genus "Paraponyx" (https://www.gbif.org/species/4302351) as well as those of the four immediate children (P. allionealis, P. "diminulatis", P. linealis, P. reminealis) should be transferred to Parapoynx (ending -ynx instead of the wrong -nyx).
Furthermo

[2022-07-12 14:29] gbif-portal opened #4173 "These Chinese plants are not Hildegardia cubensis (Urb.) Kosterm. (https://www.gbif.org/species/5545372). Hildegardia cubensis is an endemic from Cuba in the Caribbean.)"
**These Chinese plants are not Hildegardia cubensis (Urb.) Kosterm. (`https://www.gbif.org/species/5545372).` Hildegardia cubensis is an endemic from Cuba in the Caribbean.)**

See taxonomic description and distribution of Hildegardia cubensis in Flora  of Cuba.
Rodríguez Fuentes, A. 2000. Sterculiaceae. En: Greuter, W.(ed.). Flora de la República de Cuba. Serie A. Plantas Vasculares. Fascículo 3

[2022-07-12 20:16] camiplata commented on #3162
I suport the Idea of handling the problem during interpetration, most publishers find it dificult to manage diferent tables for occurrences and measurments and even more if this requieres having different number or rows.

[2022-07-12 21:28] camiplata opened #4174 "Missing infraespecifiEpithet for two Species of Bacteria for CO, posible data interpretarion problem."
We downloaded all occurrences from Colombia and using the species column we selected the list of the species reported for the country.

Checking the list we identified two scientific names that did not correspond to the species level Blautia and Pseudomonas, then we reviewed the original data and found:

1. For Blautia the information comes from [this dataset](https://www.gbif.org/dataset/94281e3c

[2022-07-13 09:09] ManonGros commented on #4165
@MattBlissett @djtfmartin
There is a bunch of ALA datasets in here. I have already updated three of them but I had to stop because I am a bit confused. When looking at the comments from 3 years ago `2019/03/25 [MG] dataset restored after request from the IPT ( http://ala-starr.it.csiro.au) administrator, the duplicates from ALA will be taken down.` which is why the other datasets deleted. It seems

[2022-07-13 10:06] gbif-portal opened #4175 "Hey,"
**Hey,**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d066388ce0599a199a4a82ec00db03f8:66a729e44da0bb6b5842f613cbf7b9a023a3f2d2875fde2b0af24610f2de016c317347bbefb1a2b1009b0f6892c99b43e9c653046698e791f696204815be021c4fece0c9b170cc3bf134d84cdc2444a3a2e18e5eaa604bbe29321213099e2a8746eeb457b1feaa026c4bccb5a54632623299e300f02c3bb00a7ca8cfdbb3bdc18e59668c02531d335271ac3378bac7d

[2022-07-13 10:12] gbif-portal opened #4176 "Hey, Im tring to find out how to gat plants images by plant name. for each plant im looking for hhighst numember of images, becouse its for mashine lerning use. please help me to do it simply and easly. Thanks"
**Hey, Im tring to find out how to gat plants images by plant name. for each plant im looking for hhighst numember of images, becouse its for mashine lerning use. please help me to do it simply and easly. Thanks**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/44c6547984323cc7795a653e47275277:5cfa4d8e1882dc281542535f23368f97a36db9b38d3cebd1a2bdba3d6cc6f89f926bc40c2e040f0608

[2022-07-13 10:26] ManonGros commented on #4175
duplicate of https://github.com/gbif/portal-feedback/issues/4176

[2022-07-13 10:26] #4175 closed, assigned to nobody

[2022-07-13 12:17] ManonGros commented on #4176
The easiest would be to check the number of occurrence records associated images for each species. You can do so via our occurrence search web interface by selecting the Plant occurrences with images like here: https://www.gbif.org/occurrence/search?media_type=StillImage&taxon_key=6&advanced=1&occurrence_status=present. You can then either check the species with the most records on the taxonomic t

[2022-07-13 12:17] #4176 closed, assigned to ManonGros

[2022-07-13 12:36] ManonGros commented on #4169
@OBinFiji The problem is that in those species aren't synonym in the GBIF taxonomy. If they were, the data would be aggregated under the same page (the page of the accepted name). I forwarded the suggestion to add Chrysoena viridis Layard, 1875 as a synonym of Ptilinopus layardi D.G.Elliot, 1878 to the Catalogue of Life (which is our main source to build the GBIF backbone taxonomy).
If the synonym

[2022-07-13 12:54] ManonGros commented on #4164
Thanks for reporting this issue @camiplata, I have deleted the version that isn't currently linked from your IPT. I don't know how the dataset got registered twice though. But if it is a one time event, perhaps we can close this issue?

[2022-07-13 13:31] ManonGros commented on #4157
contacted publisher by email

[2022-07-13 16:05] mdoering commented on #4170
In the COL 21.11 edition the name did not exist. It only appeared this April:
https://www.checklistbank.org/nameusage/search?content=SCIENTIFIC_NAME&limit=50&q=Porpax%20extinctoria&rank=species&sortBy=taxonomic&type=EXACT

It therefore entered via WCVP. Initially as an accepted name.
The basionym grouping then decided [Conchidium extinctorium (Lindl.) Y.P.Ng & P.J.Cribb](https://www.gbif.org/speci

[2022-07-14 08:52] #4157 closed, assigned to ManonGros

[2022-07-14 19:03] AbbyBenson commented on #4163
I'm confused about this ticket being closed. It doesn't appear any changes are visible here https://www.gbif.org/the-gbif-network/north-america. Is it just not in production yet?

[2022-07-14 21:56] DaveNicolson commented on #4169
We reconsidered, as we were not planning to update the Columbiformes soon, as we updated the whole thing in Summer 2020, which was unfortunately shortly before we decided to include all the names used as valid in the major world bird sources in ITIS (in synonymy, as appropriate to the IOC taxonomy we are following in ITIS). Rather than making you wait for us to cycle back to update the order again

[2022-07-14 22:02] OBinFiji commented on #4169
Dave
Many, many thanks for this.
We've spent quite a bit of time persuading national governments here to take the information available in GBIF seriously - and as a logical starting point for their own Resource Inventories.  So, it was quite challenging when the IUCN Red List didn't match with the GBIF taxonomy - its bizarre how government staff always seem to 'pick at' the weaknesses in databases

[2022-07-15 10:16] MortenHofft commented on #4163
Looks like it wasn't deployed yet. I can do that

[2022-07-15 10:22] MortenHofft commented on #4163
@thomasstjerne I can see in the changes that you have kept the logic, but just doesn't apply it for North America.

The issue reports that it does not make sense for North America - have you investigated if it makes sense for other regions to stick with this logic? I haven't been part of the discussions or implementations for this page, so it might well make perfect sense for other regions. I have

[2022-07-15 18:52] camiplata commented on #4164
yes, it looks like a one time event

[2022-07-15 18:52] #4164 closed, assigned to nobody

[2022-07-18 13:45] ahahn-gbif commented on #4173
To date, this concerns [seven specimens from four different datasets](https://www.gbif.org/occurrence/search?has_coordinate=true&has_geospatial_issue=false&occurrence_status=present&taxon_key=5545372) that are georeferenced. There are additional specimens that are not georeferenced and only identifiable as collected in China / outside of Cuba through the label information on the [specimen images](

[2022-07-18 22:45] leo-buitrago commented on #4163
Hi @MortenHofft and @thomasstjerne

- Regarding https://www.gbif.org/the-gbif-network/latin-america I can see the number of datasets by country mismatch when you click on each link. For instance, Colombia shows 2,016 datasets

![Screen Shot 2022-07-18 at 3 24 37 PM](https://user-images.githubusercontent.com/61566113/179611578-4d4b13ce-622f-40ed-9edd-fb0cd8ecc440.png)

...but when you click on it,

[2022-07-19 04:19] timhirsch commented on #4163
I am stepping into this as it is more of a policy matter and has been raised separately as an issue to be addressed through the Nodes Steering Group. These tables are especially problematic in regions such as North America where there are many non-country nodes (aka 'Other Associate Participants') because these organizations can be involved in data publishing via a number of roles including endors

[2022-07-20 06:56] gbif-portal opened #4177 "I downloaded simple CSV file of data and the columns don't line up and so don't make any sense. Am I supposed to post-process it some how after download?"
**I downloaded simple CSV file of data and the columns don&#39;t line up and so don&#39;t make any sense. Am I supposed to post-process it some how after download?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6bcadcf8e5446aa0b3d951cdf0ec1993:2ba092ec28983a17fc0fb5e22da4caf17808661783e8cc551b9dbaf4956b132c6859fc741bd3f6ef0f0090f7706d6a913efcf07bcd216dd7932f05efb981caf8e9

[2022-07-21 05:14] MortenHofft commented on #4177
Thanks for getting in touch

Assuming you generated your download yourself you should have received an email explaining this.

Please let me know if the reason for your question is because you missed the information in the email or because the explanation is hard to follow. That will help us understand what to adjust. Thanks

The email instructs you to read this: https://www.gbif-uat.org/faq?quest

[2022-07-21 05:14] #4177 closed, assigned to nobody

[2022-07-22 13:29] davidorme opened #4178 "Versioning validation against the backbone - what backbone version is used on the API?"
Hi,

Apologies if this is documented - I've had a look and couldn't find it!

I'm validating some taxonomy against the GBIF backbone and trying to work out the best way to assign versions to that validation. A set of taxa might all map onto one version of the backbone but then fail with a later version as taxa are reinterpreted, and I'd like to be able to pin a validation attempt to what it was va

[2022-07-23 07:06] gbif-portal opened #4179 "missing taxa (IUCN Red List update July 2022)"
**missing taxa (IUCN Red List update July 2022)**

The latest update to the IUCN Red List contains about ~7,000 species. I'm about to import those that cite GBIF as literature entries and during processing, I became aware of a few names that I can't match to the back backbone, fyi:

Balroglanis carolae (Vari & Ferraris, 2013)
Ornithuroscincus albodorsalis (Vogt, 1932)
Ornithuroscincus nototaenia (

[2022-07-24 20:07] gbif-portal opened #4180 "Account deletion"
**Account deletion**

Hello!

Please delete my newly created account.

sincerely
Ronny Langer

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/49b524d2ba51d402fb10d4af5809a719:b9d2eede77bfb7edebf7722bfd8f48726cfa20be33e6cc052cb85ed0bb00994b6f536bbbb49969046b4be2f36f9eda068c09dfa53b99225b5b4894dded2a24352c22de387848fbff8a07c6f4764c922d570c6654ec370759217e94dd50efdb0a) - [Send

[2022-07-25 10:58] gbif-portal opened #4181 "I would like to know hoy can we order a species from your database that we need as a positive control"
**I would like to know hoy can we order a species from your database that we need as a positive control**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2b9f5762fcea1b26ae4d4b237f5ba0d8:5ab5aa2e78a3f790c94572c99778c5f46dfb92fa743de6c6a3a25d5f800d1dff6282752b48687472bfea77a77b4e8f71827493ea49fe31c2ec1c17418f47954dcece315aa457eff068673cac98f489ffa031cd9dc890521546c18e1cd28197

[2022-07-25 16:16] ut-entomology opened #4182 "Butterfly records misplaced to wrong family"
Hi! A few records from the UT insect collection for the Nymphalid genus Hamadryas are incorrectly showing up on GBIF in the moth genus Euclemensia, in the Cosmopterigidae. The taxonomy is correct in our internal Specify database, and Hamadryas appears to be correctly placed in the GBIF backbone, but somehow the individual species are getting swapped on upload.

Some of the affected records:
https:

[2022-07-26 09:59] rukayaj opened #4183 "GBIF "The Library of Life" video with Russian subs"
I'd like to use the GBIF "Library of Life" video on vimeo https://vimeo.com/661945151 as an introduction for the participants of our CESP workshop in Tajikistan later this year. I was hoping to get it with Russian subtitles - maybe there already are some somewhere around?

[2022-07-26 19:28] gbif-portal opened #4184 "The dataset in GBIF is not indexing the data"
**The dataset in GBIF is not indexing the data**

Hi, this dataset is not updated in GBIF based on the last version published through the IPT, as shown in the image below.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0cec57ce371322b25d3e50c8c4c25b90:b756e8d817e2124ff45a858e5b76b5d4b70ad5d493fca8acbb22553c0d2b96cccb3c82790e090398058ce0be726c3e3fea953fd45380369d0eb048af3030

[2022-07-26 19:28] RicardoOrtizG commented on #4184
This event dataset must have 93.474 according to the last version. In the GBIF data portal, it has 106.713.

<img width="894" alt="imagen" src="https://user-images.githubusercontent.com/15789737/181095460-cb5d4081-30da-4f4d-add1-8c519e2b577f.png">

[2022-07-26 19:33] gbif-portal opened #4185 "The data is not indexed through the GBIF data portal"
**The data is not indexed through the GBIF data portal**

The data is not indexed through the GBIF data portal. This event dataset must have 7.653 records.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/ad47772d95a464fd8e3bbc4572363973:bb46a99fdee8ffed286b184ee445984e824970f1ea0bd9c25f6edbd02996283497182774da5a0824e5d502887e5b7efac0ca0d9143f702cd755d0be2fff3ed665c5e97cdc5b9

[2022-07-26 19:34] RicardoOrtizG commented on #4185
![imagen](https://user-images.githubusercontent.com/15789737/181096492-5b8b5be5-d189-41b5-9e3a-4f841812ee42.png)

[2022-07-27 07:27] gbif-portal opened #4186 "Synonim. the valid name is Microterys bicolor"
**Synonim. the valid name is Microterys bicolor**

the genus Aschitus has been established as both Microterys. In the specific case Aschitus bicolor is synonymous with Microterys bicolor, considered the valid name, according to the article by Noyes that is cited, and as can be seen in the Universal Chalcidoidea Database.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/32f5a9

[2022-07-27 08:19] CecSve commented on #4179
- Balroglanis carolae (Vari & Ferraris, 2013) is a newly described fish species and is present in the [CTD](http://ctdbase.org/detail.go?type=taxon&acc=2382270). CTD has been suggested for the dataset catcher.
- Ornithuroscincus albodorsalis (Vogt, 1932) is a reptile and the species can be found on [CoL](https://www.catalogueoflife.org/data/taxon/8SJ8M) and should be included in the next backbone

[2022-07-27 08:44] CecSve commented on #4180
The user account has been deleted an the user has been notified through help desk.

[2022-07-27 08:44] #4180 closed, assigned to nobody

[2022-07-27 08:58] ahahn-gbif commented on #4183
@dschigel: are you aware of any plans in this direction?

[2022-07-27 08:58] CecSve commented on #4181
The user has been contacted through help desk.

[2022-07-27 08:58] #4181 closed, assigned to nobody

[2022-07-27 09:13] javiesgm commented on #4183
Perhaps there is one @kcopas?

[2022-07-27 09:35] ahahn-gbif commented on #4185
On a quick check:
- the core table ids are lowercase only, while the foreign key in the occurrence extension is capitalized in several places. I am not sure this is the only reason, but it is worth checking that id values are identical between tables
- the configuration contains a measurementsOrFacts extension that references the occurrence table. This should not cause this kind of issue, but plea

[2022-07-27 09:53] kcopas commented on #4183
Each of the six recent videos have subtitles prepared and available for translation [here](https://crowdin.com/project/gbif-video-subtitles). However, only one of them (climate) has been translated into Russian.

I will see what I can do, but volunteers are gratefully accepted, as always!

[2022-07-27 10:01] CecSve opened #4187 "Flagging occurrence records where community feedback has identified wrong or doubtful identifications"
There appears to be a genuine need for data users to provide feedback on occurrence records with wrongly or doubtful identifications in GBIF.org, mainly coming from citizen science data sources where none to some data quality checks happen at the source. The need seems to be especially coming from the expert community of hard-to-identify taxa, such as insects.

**Ideas for potential implementation

[2022-07-27 10:06] CecSve commented on #4187
May relate to this issue: https://github.com/gbif/registry/issues/247

[2022-07-27 12:13] gbif-portal opened #4188 "DatasetName and DatasetID are not interpreted / may be blank"
**Blank columns from occurrence download**

I want to download data from GBIF and use publisher information to filter the data further (remove citizen science publishers and DNA publishers). I have tried to download on specific genera (such as in this case), on family level + country, gadm and region filters, and all DwC-A download contain blank publisher information. The publisher information was

[2022-07-27 13:13] RicardoOrtizG commented on #4185
Thanks for the recommendations, we will check it out and let you know. About the second observation you mentioned, ¿should we use the Extended Measurement or Fact extension in order to have measurements related to the occurrence in the event core?

[2022-07-27 13:38] ahahn-gbif commented on #4185
DwC-A only caters for extensions linked to the core, not for extensions linked to other extensions (adding a second level) or to each other (building cross-connections) - this is what I meant when saying "only one level deep". This is an unfortunate and recognized limitation of this schema, which is also one of the reasons driving the discussions around a new data model (see https://www.gbif.org/n

[2022-07-28 12:56] CecSve commented on #4182
Investigating the issue:

- The genus Hamadryas is CoL both [registered as a synonym](https://www.catalogueoflife.org/data/taxon/928NR) of Euclemensia (Hamadryas, Clemens 1864), and as an accepted genus [GBIF](https://www.gbif.org/species/1898587) and in [CoL](https://www.catalogueoflife.org/data/taxon/92B4B) (Hamadryas Hübner, 1806)

There seems to be a mix-up in interpreting from perhaps the aut

[2022-07-28 13:52] ahahn-gbif commented on #4185
Hi @leo-buitrago, Cecilie reminded me that it would be a good idea to tag you on issues regarding CESP projects within your domain

[2022-07-28 13:52] ahahn-gbif commented on #4184
Hi @leo-buitrago, Cecilie reminded me that it would be a good idea to tag you on issues regarding CESP projects within your domain - same as for the other issue #4185

[2022-07-28 14:09] ahahn-gbif commented on #4184
@RicardoOrtizG, just to check: the dataset appears to now be indexed with 106,713 records. Does this sound plausible, or are we still missing any records?

[2022-07-28 14:15] gbif-portal opened #4189 "add MBMG"
**add MBMG**

Requested by Pensoft: please add MBMG journal with its metircs and price to the list.

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/9e8decc95e955ad2ab0d053368b4202e:9d6d6c25a654126a05bdf58cb6b3b842f6de34495cca11c6f8d139930ace602ad3f0b68bdb0e20255a8ec6e9edf829c720117f9b61af9022297591d0e5e1a39bc26fdc10a414ad3c873e82406e834f106506fc63154a2

[2022-07-28 14:53] ahahn-gbif commented on #4184
On a test through ipt.gbif.org, the different capitalization between eventID in the occurrence table and in the event core is indeed the reason for the non-ingestion - both versions need to be identical. An update in the event table, replacing the values with the same capitalization pattern, should fix this issue. The same applies to #4185

[2022-07-28 18:18] gbif-portal opened #4190 "occurrence/download/dataset endpoint not giving correct numbers of records"
**occurrence/download/dataset endpoint not giving correct numbers of records**

Hi guys, I'm not sure if this is a bug or if there is a reason for it.

I'm calling URLs like this: https://api.gbif.org/v1/occurrence/download/dataset/2c7c7c32-fbe8-495f-8243-544178d7466b?limit=1000&offset=2000

But each response has a few less than 1000 records in the results array. I'm trying to loop through all the

[2022-07-29 07:40] CecSve commented on #4189
@kcopas is this something your team can help with?

[2022-07-29 07:41] kcopas commented on #4189
yes: that Daniel

[2022-07-29 09:19] jhnwllr commented on #4190
I am not sure why this is the case. Perhaps there is some delay or some filtering happening in the background?

[code]
I also get less downloads than what is presented on the web page 5,185.
https://www.gbif.org/dataset/2c7c7c32-fbe8-495f-8243-544178d7466b/activity

[2022-07-29 09:30] dnoesgaard commented on #4189
Added.

| Journal                                                                                                             | Publisher                                  | Open Access (license)                                                                        | APC estimate

[2022-07-29 09:30] #4189 closed, assigned to dnoesgaard

[2022-07-29 09:45] ianengelbrecht commented on #4190
It's always a good feeling when someone else confirms/reproduces the issue you've reported :-P

[2022-07-29 11:03] gbif-portal opened #4191 "New dataset from deleted publisher"
**New dataset from deleted publisher**

This seems like one for your team @ahahn-gbif

The Pensoft journal Neobiota has just published a large-ish dataset of invasive occs from Romania. Data looks fine, but the publisher is shown as deleted in May 2021:
https://www.gbif.org/publisher/45c9a2eb-b8f9-4d9f-a0e3-6ccd898f557b

They have a second dataset, too, published in Oct 2021:
https://www.gbif.org/

[2022-07-29 11:34] ahahn-gbif commented on #4191
Thanks for pointing this out, Kyle - we'll take over from here!

@timhirsch is right with the "dormant publisher" hunch. Since NeoBiota is one of Pensoft's own journals that was previously endorsed by the PNMC, we will just revive it.

A second, more technical question is the publishing process as such, which we will need to check on the registry side: Should it be possible to register a new datas

[2022-07-29 13:12] CecSve commented on #4191
I am also in favor of the third option - perhaps with a combination of a + b? I think it would be nice for us to keep track of when this happens and how often it happens. I suspect it is on rare occasions, anyways. So it would probably not flood our inbox.

[2022-07-29 18:53] RicardoOrtizG commented on #4184
Thanks, Andrea. We are checking the errors you found in both resources and we will try to publish them again.

[2022-07-30 07:02] gbif-portal opened #4192 "El validador me aparecen que los archivos pueden ser indexados pero no encuentro en que lugar puedo descargados de forma comprimible (.zip)"
**El validador me aparecen que los archivos pueden ser indexados pero no encuentro en que lugar puedo descargados de forma comprimible (.zip)**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d38c5f56c39cf1b7f0d3292c0315c645:92ddfba70603a1beec08a3a8a0c9783795754158a0dbf55a2567277166957bc8b92d9a42882f63e15444b47d7302685a363d7aa4042b4f08417dcd6f94e44da2d814ef2aaf08cb24bb59788a

[2022-08-01 08:31] gbif-portal opened #4193 "valid name: Microterys bicolor"
**valid name: Microterys bicolor**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/14af85d61a7ad6718228d114c4c925ed:74dd876360bf39df27c23a865abd8be123f49c93aca7b074c041b13b3716cf8b4e4e7db2371622169ac34b6c9d5d6489f88cea4241b96bb7edf3db78482a7809ab87e686a363c87a91433bf7ff227a29f01b7a33d9a8198747794742d19f90649720b5d9082cca52cfbd568ed3cf45e0678a379f3196ac72dc56805b43bf333e489e1

[2022-08-01 08:33] bonushenricus commented on #4193
excuse-me. It is possible ho remove the issue, because there was another issue from me

[2022-08-01 10:02] Rafnuss opened #4194 ""yyyy/yyyy" format for EventDate altered"
Here is an example where I've entered `eventDate` as `1970/1984` according to one of the example of https://dwc.tdwg.org/list/#dwc_eventDate. But there seems to be a modification to `1970`:
https://www.gbif.org/occurrence/3868039317

Thanks for your help,

[2022-08-01 11:44] Rafnuss commented on #4194
I've also tried `1970-01-01T00:00:00/1984-01-01T00:00:00`, but it still doesn't seem to work

[2022-08-01 12:34] muttcg commented on #4194
Hi @Rafnuss

You are doing everything right, you can and should use 1970/1984, we have some technical limitations with dates and at the moment GBIF portal does not support partial dates, replacing 1970 with 1970-01-01.

Also you can find similar discussion and some explanations here https://github.com/gbif/pipelines/issues/389

[2022-08-01 13:24] #4194 closed, assigned to nobody

[2022-08-01 18:17] camiplata commented on #4184
BTW @ahahn-gbif @leo-buitrago this is not a dataset related to a CESP project,  unintendedly we added the wrong key words.

[2022-08-02 06:50] ahahn-gbif commented on #4184
From checking the record numbers at GBIF.org, is appears that both ingestion issues are fixed now - closing the issue.

[2022-08-02 06:50] #4184 closed, assigned to nobody

[2022-08-02 06:51] ahahn-gbif commented on #4185
Issue appears fixed, dataset correctly ingested - closing

[2022-08-02 06:51] #4185 closed, assigned to ahahn-gbif

[2022-08-02 06:56] ahahn-gbif commented on #4192
(contacted by email)

[2022-08-02 13:10] ahahn-gbif commented on #4188
Apart from the specific use case here (relating to a helpdesk request), the main issue is that the DwC-A download is missing a number of field contents that we would really expect to be present for each record (publisher name and id, dataset name and id. @fmendezh, this appears to be an issue with the download generation - is there someone in your team we should flag this to in particular, please?

[2022-08-02 13:29] ahahn-gbif commented on #4193
Duplicate of gbif/backbone-feedback#487 - closing here, but main issue still open

[2022-08-02 13:29] #4193 closed, assigned to nobody

[2022-08-02 13:45] gbif-portal opened #4195 "Thereva Latreille, 1797 (Diptera) should be in family Therevidae"
**Thereva Latreille, 1797 (Diptera) should be in family Therevidae**

One more case where the type genus of a family is in the wrong family! I think these are listed under the family in which they were originally described, which is by now mostly very wrong.

Thereva Latreille, 1797 should be in the Diptera family Therevidae. Right now it is listed in Tabanidae.

-----

User: [See in registry](htt

[2022-08-02 13:47] gbif-portal opened #4196 "Musca (Diptera), move to family Muscidae."
**Musca (Diptera), move to family Muscidae.**

One more case where the type genus of a family is in the wrong family! As these are often very well known representatives of their families, these errors are a bit embarrassing!

Musca Linnaeus currently listed under Tachinidae. The correct family is naturally Muscidae.

Cheers,
Jere Kahanpää
jere.kahanpaa@helsinki.fi

-----

User: [See in registry](h

[2022-08-02 13:48] gbif-portal opened #4197 "One more case where the type genus of a family is in the wrong family! As these are often very well known representatives of their families, these errors are a bit embarrassing! Musca Linnaeus currently listed under Tachinidae. The correct family is naturally Muscidae. Cheers, Jere Kahanpää jere.kahanpaa@helsinki.fi"
**One more case where the type genus of a family is in the wrong family! As these are often very well known representatives of their families, these errors are a bit embarrassing! Musca Linnaeus currently listed under Tachinidae. The correct family is naturally Muscidae. Cheers, Jere Kahanpää jere.kahanpaa@helsinki.fi**

One more case where the type genus of a family is in the wrong family!

Antho

[2022-08-02 13:54] gbif-portal opened #4198 "Rhagio Fabricius, 1775 in the wrong family"
**Rhagio Fabricius, 1775 in the wrong family**

Another genus in the wrong family.

Rhagio Fabricius, 1775 should be in Rhagionidae (not Tabanidae).

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2a087e0e2c658230d3c577ea261447dd:2e1715aad2859b2cda01afd03a69d41e1e56b07377de71790ed03cea5252ebc96438f47829a6162071bc9e34949e4fe14b3bfa7cf64e868b0fef74970fae1e54b8ad25b7121411a1e4b

[2022-08-02 13:58] gbif-portal opened #4199 "XYLOMYIA Rondani, 1861 (in wrong family) = XYLOMYA Rondani, 1861"
**XYLOMYIA Rondani, 1861 (in wrong family) = XYLOMYA Rondani, 1861**

*XYLOMYA Rondani, 1861 =  *XYLOMYIA Bezzi, 1903: 42 (unjustified emendation of Xylomya Rondani). Type species: Xylophagus maculatus Meigen, 1804, automatic.

Also, this genus belongs in Xylomyiidae (where it does exist as XYLOMYA Rondani, 1861

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/8200e45aa4fa53a

[2022-08-02 14:03] gbif-portal opened #4200 "Lonchaea Fallén, 1820 in wrong family"
**Lonchaea Fallén, 1820 in wrong family**

Another genus not in its 'own' family:

Lonchaea Fallen should be in Lonchaeidae (now it's in Tachinidae).

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d1103b505fc09f047f66296dc68d0f0c:4dd4d08a38de4ded3d178a02f1dea4b67e3b6dfd0d0e6858fd9a340360850d5267d499a87d430e6b14424f78460f0b8995efc24ae64d932d789f2b2383f7d954a9927ff4d511e17c5f

[2022-08-02 14:06] gbif-portal opened #4201 "Opomyza as spurious name without Authorship (probably an error)"
**Opomyza as spurious name without Authorship (probably an error)**

Opomyza is a valid genus, but it does already have a record with correct authorship. This spurious record (which links it into the wrong family) should be deleted.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/5e8a47af6f39cc6e8435f4ef88a41a4b:eb29198920b65d2b0d863fca502ce8875ac4e68cb95daf504c8636841f862b6

[2022-08-02 14:07] gbif-portal opened #4202 "Opomyza Fallen, move to Opomyzidae."
**Opomyza Fallen, move to Opomyzidae.**

Not a tephritid. See previous issues about similar problems with Thereva, Musca etc..

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/192a7dd9c698d0aad009a10b838ef663:6fb217b1c2da24977937a4cf6b10aa17de30834a848c68e81e4a86f1876cc525a9bcb65a50e5774f326758d8ec82f60d8e59a76eae28d055a709b92eca4122c326c59679276638c5947faf8f688991fcd4b9cfdf9

[2022-08-02 14:13] gbif-portal opened #4203 "Sarcophaga Meigen, 1826, not Tachinidae"
**Sarcophaga Meigen, 1826, not Tachinidae**

More misplaced "name-bearing genera":

Sarcophaga Meigen, 1826 belongs to Sarcophagidae (Diptera). It's now in Tachinidae.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e9160d1a218a71ee9efe8b705c4c9e45:02f0f632925919f7adc8ff356be3a0ed01e78181c45d213a7623878afce531b84eebbe0564ff8a09fb6e49dfb81088ad4657bffc5aedc571b564bcd593b07c5b

[2022-08-02 14:18] gbif-portal opened #4204 "Treat as a (non-available) synonym of Sarcophaga Meigen, 1824"
**Treat as a (non-available) synonym of Sarcophaga Meigen, 1824**

Fro the quoted source of this record in question:

"One (Sarcophaga Swinderen, 1822) is a senior synonym of the well-known Sarcophaga Meigen, 1824. It has been dealt with in a previous paper, and Sarcophaga Swinderen, 1822 is now declared a nomen oblitum."

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/12db3

[2022-08-03 07:49] jhnwllr opened #4205 "The accepted name of Cudrania tricuspidata is identical to its synonym"
(From Helpdesk)

The accepted name of Cudrania tricuspidata is identical to its synonym at https://www.gbif.org/species/8679937
Cudrania tricuspidata (Carrière) Bureau

Global Biodiversity Information Facility. Free and Open Access to Biodiversity Data.
www.gbif.org

(also see attached screenshot). Is this correct?

[2022-08-03 09:12] gbif-portal opened #4206 "News API page (almost) empty and with a broken link"
**News API page (almost) empty and with a broken link**

The News API documentation page at https://www.gbif.org/developer/news is not very instructive right now. Would it be better to hide it from view until we have something more informative to show?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/23274a5213f8d1976751ad5f0e478d45:10abf8ef911aed1c38b4cea5305163c469bb94a4777

[2022-08-03 18:15] DaveNicolson commented on #4169
This update is in ITIS now, and will presumably appear in COL and GBIF whenever they ingest the new version of ITIS. Here's a link to the names in question:
https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=177324#null

[2022-08-04 08:43] MattBlissett commented on #4188
The GBIF term `datasetKey` contains the GBIF UUID, which can be linked to the EML in the DWC-A's dataset subdirectory.

`datasetName` and `datasetId` are only present if they're provided by the publisher.  Where they are blank, we could copy the dataset title and UUID or DOI during interpretation.

[2022-08-04 08:51] MattBlissett commented on #4188
There isn't a DWC term for publisher name or publisher id.

The data is in EML in the archive, duplicating it on every occurrence record would add about 100GB (dataset) and 40GB (publisher) to the size of an unpacked all-data download.

[2022-08-04 10:06] MattBlissett commented on #4178
current is just a symbolic link to the newest folder in that directory.

The publication date on https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c (i.e. pubDate on https://api.gbif.org/v1/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c) should match, @mdoering might confirm.

There will be a period where these don't match, when a new backbone is published and the data is reprocessed.

[2022-08-04 10:23] ahahn-gbif commented on #4188
Ah. In that case it might make sense to remove these columns from the export altogether, given that they cause confusion?

[2022-08-05 08:16] #4163 closed, assigned to thomasstjerne

[2022-08-05 18:56] gbif-portal opened #4207 ""Asilidae" should be "Asilus""
**&quot;Asilidae&quot; should be &quot;Asilus&quot;**

This species should be *Asilus cristatus* (Thunberg, 1789), not *Asilidae* (that genus does not exist). The record in Systema Dipterom (which is named as the source here) agrees: http://www.diptera.org/Nomenclator/Details/182464, but this does not seem to be propagated in the Catalogue of Life checklist.

-----

Github user: @larsgw
User: [See

[2022-08-06 00:23] Mesibov opened #4208 "Genus Salix not recognised (taxon match none), upmatched to "incertae sedis""
See
https://www.gbif.org/occurrence/3874593344

[2022-08-08 10:50] ManonGros commented on #4208
The occurrence is correctly matched after adding the kingdom (the problem was that in the absence of authorship and kingdom, the system couldn't "decide" if the occurrence was Salix L. or Salix Kott, 2005).

[2022-08-08 10:50] #4208 closed, assigned to nobody

[2022-08-08 16:09] gbif-portal opened #4209 "Genus Microtendipes"
**Genus Microtendipes**

The genus Microtendipes (Chironomidae) appears as a member of Tachinidae family

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/909c6cd69ce03cce842fa90b28d593ea:374583b6baf79dcc6be7d6fd548e7ca49019b80a39cdd5375229f42ce2903ae36d612a714acca3369bf1cc0c0f25985ab2c9437333a964e93a3575b77c6b7b867060574e90b38d425050e9bed220d12e5d2161e0759059fce517d99c7712860

[2022-08-09 06:36] ManonGros commented on #4191
I think 3a makes a lot of sense. We want to make it as easy as possible for the publishers

[2022-08-09 13:35] gbif-portal opened #4210 "Misinterpretation of occurrenceStatus"
**Misinterpretation of occurrenceStatus**

This dataset (https://www.gbif.org/dataset/fca5e616-990e-4d62-adc3-3122ed64b8e8) contains absence record. The occurrencStatus is in fact "absent" for most records and the organismQuantity is 0.
However, we interpret it as "PRESENT".
This was reported by one of the publishers.

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api

[2022-08-09 13:51] gbif-portal opened #4211 "I am working with a protected threatened taxon, how do I get more accurate spatial locations? The informationWithheld is >28k uncertainty. I have 6 species that I would like accurate location information for modeling distribution."
**I am working with a protected threatened taxon, how do I get more accurate spatial locations? The informationWithheld is &gt;28k uncertainty. I have 6 species that I would like accurate location information for modeling distribution.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d043964f60d68efdde882b24d7ab746a:c8534e8398df6154b180d38456e8a489f501cc95c6f0916be2d9e87b35

[2022-08-09 15:04] timrobertson100 commented on #4210
I notice v1.3 did not have `occurrenceStatus` mapped and v1.4 does.

I suspect 1.3 was published, GBIF started crawling, then 1.4 was produced while crawling was in progress so the request to crawl was ignored.

~I have triggered a crawl now, and suspect this will fix it. https://registry.gbif.org/dataset/fca5e616-990e-4d62-adc3-3122ed64b8e8/ingestion-history~

Edited: Looks correct now https://ww

[2022-08-10 06:20] djtfmartin commented on #4165
apologies @ManonGros  - i missed this somehow.
http://ala-starr.it.csiro.au is an old ALA server that we managed. We've just migrated off that server and decommissioned it.  Hope that helps.

[2022-08-10 06:29] ManonGros commented on #4210
Thanks Tim! it looks good now

[2022-08-10 06:29] #4210 closed, assigned to ManonGros

[2022-08-10 11:31] ManonGros commented on #4167
This dataset is odd: https://www.gbif.org/dataset/963de00e-f762-11e1-a439-00145eb45e9a. It has not ingestion history and yet it has occurrences. Any idea what could have happened? @MattBlissett

[2022-08-11 09:06] ahahn-gbif commented on #4192
no response received yet

[2022-08-11 09:54] MattBlissett commented on #4167
The records must date from before the *previous* crawling system. I'm not sure how it would have been missed in the first round of orphan detection, it should have been 'rescued' then.

[2022-08-12 08:13] kcopas commented on #1916
I'd like to give this issue a bump (cc @fmendezh since it's labeled as an API issue), as we've got a perfect example of where being able to **search download DOI registers for datasets by name and by publisher would be extremely helpful**.

The [National Institute of Oceanography and Applied Geophysics](https://www.gbif.org/publisher/7c0177c0-1c0d-4c6c-bb0b-77e61759495d) (OGS) in Italy is an OBIS

[2022-08-12 08:40] jhnwllr opened #4212 "GBIF misplaces some taxa by ignoring higher taxonomy"
Here are some examples where GBIF may misplace some taxa by ignoring higher taxonomy.

https://www.gbif.org/occurrence/2472465441
https://www.gbif.org/occurrence/2483634781
https://www.gbif.org/occurrence/729577862
https://www.gbif.org/occurrence/2443415708
https://www.gbif.org/occurrence/1676481281
https://www.gbif.org/occurrence/893337309
https://www.gbif.org/occurrence/893286543
https://www.gbi

[2022-08-12 15:27] gbif-portal opened #4213 "71k incertae sedis from Manchester"
**71k incertae sedis from Manchester**

There's got to be something wrong with this mapping—less than half the records from the Manchester Museum match taxa.

Maybe one for @sophiathirza ?

-----

Github user: @kcopas
User: [See in registry](https://www.gbif.org/api/feedback/user/ffcde9782591c431fcd34ed84516c0fb:6503abf08c2d8fe8201464a22dc9e4c9a058c60d38564cc43f3b09ef5409ee2892960a47b5cbd4006da502

[2022-08-12 15:31] kcopas commented on #4213
Small in comparison, but the same collection has a [Richard S. Spruce listed as the recorder](https://www.gbif.org/occurrence/search?dataset_key=4f64e2fc-a84b-49f6-802f-e48f725717d7&recorded_by=Spruce,%20Richard%20S&advanced=1). I presume this is the legendary English explorer, for whom I've never seen a middle initial ;-)

[2022-08-12 17:53] sophiathirza commented on #4213
Thanks for letting me know about the collection on GBIF.

The Manchester Museum collection is hosted by Vertnet: https://www.gbif.org/publisher/b472a35a-6461-444a-a3d6-84e97e6636fe

[2022-08-12 18:28] kcopas commented on #4213
Ah, should’ve checked that detail! Now paging @dbloom …

[2022-08-12 19:05] dbloom commented on #4213
Can you give me something more specific here? Maybe an example or two so I know what I'm looking for or what I need to ask of MANCH.

[2022-08-12 19:10] kcopas commented on #4213
Sorry, Dave—link and description in the issue.

only 47% of [Manchester records](https://www.gbif.org/dataset/4f64e2fc-a84b-49f6-802f-e48f725717d7) match the backbone. [71k are incertae sedis](https://www.gbif.org/occurrence/search?dataset_key=4f64e2fc-a84b-49f6-802f-e48f725717d7&taxon_key=0). Gotta be something up, right?

[2022-08-12 19:16] dbloom commented on #4213
Noted. It has been almost 5 years since they updated. I will seek an update from them. Short of that, I will review the processing on my end for what we have. Lots has changed during that time.

Pokes appreciated if time slips by.

[2022-08-12 19:16] AbbyBenson commented on #4213
Lurking here. I wish you could add occurrenceID to the table so you could grab them easily to check them in the IPT published version without having to download this subset to get them.

[2022-08-13 08:56] gbif-portal opened #4214 "Questions on ease of data access and source copyrights"
**Questions on ease of data access and source copyrights**

Hi GBIF

I really like how data here is assembled to allow for public information and CC BY 4.0 commercial usage. As alot of animal diversity by distribution data is locked into firms for non commercial usage. By making data free it will help with innovation for env, health and the economy.

My question for you is: With your 10000s of dat

[2022-08-15 07:57] MortenHofft commented on #4213
I wish you could add occurrenceID to the table

I'm not sure if this is what you meant, but I've added occurrenceID to the [table on occurrence search](https://www.gbif.org/occurrence/search?occurrence_status=present&q=)

![Screenshot 2022-08-15 at 09 56 04](https://user-images.githubusercontent.com/6759267/184597714-0bdc3629-d247-41e5-bcc4-ae4a0e03204e.png)

Obviously it was always possible to go

[2022-08-15 10:21] MortenHofft commented on #4206
@ahahn-gbif I agree it does look weird. I *think* it has been like this from the begining. Probably just ported from the previous site as was (except the link has since been broken I assume).
I'll try to find out if this page should be dropped or we actually have something meaningful to show.
Thanks

UPDATE: I've removed the news section

[2022-08-15 10:29] MortenHofft commented on #4206
I do not believe we have a stable news API. We have an rss feed. We have an RSS feed linked from here https://www.gbif.org/resource/search?contentType=news

[2022-08-15 10:29] #4206 closed, assigned to nobody

[2022-08-15 10:43] MortenHofft commented on #4187
This is a quick brain dump. It is a recurring theme. Normally we use the term annotations. Multiple ideas have been floated over time.

* Annosys have been used for some publishers (we saw close to no annotations - perhaps 3 over 1 year. I was one of them.)
* We tried briefly labelling occurrences that had a GitHub issue attached to them (but was blocked by Github as we did too many requests)
* We

[2022-08-15 12:59] AbbyBenson commented on #4213
🤦 Thanks @MortenHofft. I did look there. I just didn't see it for some reason. But now I know and can use this in the future. All- apologies for the side convo on this thread.

[2022-08-15 13:16] MattBlissett commented on #4213
No need for :facepalm:, Morten added the Occurrence ID column to that list this morning.

[2022-08-15 13:34] ManonGros commented on #4214
Replied by email:

I can tell you that all data providers on GBIF should have agreed to our data publisher agreement: https://www.gbif.org/terms/data-publisher. In case of doubt, you are always welcome to contact the data providers directly to ask questions about specific datasets.

[2022-08-15 13:34] #4214 closed, assigned to ManonGros

[2022-08-15 14:27] AbbyBenson commented on #4213
Now to be of actual help possibly. @dbloom I downloaded the DWCA from the Vertnet IPT and for most of those 71K `scientificName` is missing.
![Capture](https://user-images.githubusercontent.com/7586150/184654205-8f236058-6169-4c10-ac75-7475c887b12a.PNG)

[2022-08-15 16:59] dbloom commented on #4213
Yes, thank you @albenson-usgs, et al. That was a very complicated dataset to deal with and we were aware of the limitations of the data when we published it, but we did so at the request of MANCH - they had other reasons to publish those data in this incomplete form (it's been so long I just don't remember what those reasons were). Most of the incertae sedis records were that way from the start, s

[2022-08-15 21:02] gbif-portal opened #4215 "Confirm all is well with this dataset"
**Confirm all is well with this dataset**

Hi All, I created a dataset. I started download and then David Shorthouse @dpsspiders said I didn't need to. That he would download. So I cancelled my download. His link works for me to see the download this way:
https://www.gbif.org/occurrence/download/0418303-210914110416597

BUT, I see "Cancelled" when I log into GBIF myself
https://www.gbif.org/occurr

[2022-08-16 07:11] jhnwllr commented on #2351
record deleted

[2022-08-16 07:11] #2351 closed

[2022-08-16 07:54] MortenHofft commented on #4215
@debpaul
It is 2 different downloads with different DOIs. One was cancelled, the other one wasn't. They just happen to have the same filter.
The cancelled one was assigned a DOI, but never generated as it was cancelled.

https://www.gbif.org/faq?question=for-how-long-will-does-gbif-store-downloads

So everything looks fine to me

[2022-08-16 07:54] #4215 closed, assigned to nobody

[2022-08-16 09:58] jhnwllr commented on #70
Id is still wrong.

[2022-08-16 10:13] peterdesmet opened #4216 "Attaching images to events (camera traps)"
We are writing a guide with recommendations on how to publish camera trap data to GBIF, but would like some advice on which of the following models to recommend:

## 1. Occurrence core

This model uses an Occurrence core and Audubon Media Description extension. Images are linked directly to occurrences and are [correctly displayed by gbif.org for each occurrence](https://www.gbif-uat.org/occurrenc

[2022-08-16 11:46] jhnwllr commented on #1988
occurrence deleted

[2022-08-16 11:46] #1988 closed

[2022-08-16 11:48] tucotuco commented on #4216
I can't answer anything about timing at GBIF, but the Event-based mode 2 would have broader impact than either of the other two models, so I would recommend that GBIF enable that in any case.

[2022-08-16 12:10] ManonGros commented on #1988
The occurrence was indeed deleted, it isn't included in the republished dataset: https://www.gbif.org/occurrence/search?dataset_key=98c51784-da02-4f0e-81a4-f3635cb3cba7&month=8&taxon_key=2882411&year=1993&advanced=1

[2022-08-16 14:11] peterdesmet opened #4217 "Parent event information doesn't trickle down to child events"
Child events should be able to borrow location and record-level information from parent events. I.e. there should not be a need to repeat that information for child events.

## Preferred situation

eventID | parentEventID | eventDate | decimalLatitude | decimalLongitude | license
--- | --- | --- | --- | --- | ---
E | | 2015/2016 | 51.27502 | 3.55083 | http://creativecommons.org/publicdomain/zero/1

[2022-08-17 10:53] MortenHofft commented on #4217
I'm not keen to do so in the UI only as that is more misleading (and won't allow for search and be reflected in downloads). So if we really believe it should be inherited then we should probably do so in the API.
Does it always make sense to just inherit e.g. latitude? I would think it very much depended on the dataset and how it was structured.

[2022-08-17 10:58] muttcg commented on #4217
I will check the issue, because child must get all data from the parent

[2022-08-17 12:04] jhnwllr commented on #4211
Responded via email.

GBIF does not store more lat-lon values. To get unobscured values, one has to contact the original data publisher.

[2022-08-17 12:04] #4211 closed, assigned to jhnwllr

[2022-08-17 12:44] muttcg commented on #4217
@peterdesmet I think you need to re-link the data to fix the issue.

Event with ID 4c1e45dd-51d5-4e2f-9bbf-c07d76acfc1c has no location information and is has some "image" type
[event-4c1e45dd-51d5-4e2f-9bbf-c07d76acfc1c.txt](https://github.com/gbif/portal-feedback/files/9359322/event-4c1e45dd-51d5-4e2f-9bbf-c07d76acfc1c.txt)

DWCA uses meta.xml to describe relationship between files, core and ext

[2022-08-17 12:52] peterdesmet commented on #4217
Thanks @muttcg, your answer seems to relate more to issue #4216. If so, can we continue the discussion there?

[2022-08-17 14:22] peterdesmet commented on #4216
_Originally posted by @muttcg in https://github.com/gbif/portal-feedback/issues/4217#issuecomment-1217961207_

@peterdesmet I think you need to re-link the data to fix the issue.

Event with ID 4c1e45dd-51d5-4e2f-9bbf-c07d76acfc1c has no location information and is has some "image" type
[event-4c1e45dd-51d5-4e2f-9bbf-c07d76acfc1c.txt](https://github.com/gbif/portal-feedback/files/9359322/event-4c1

[2022-08-17 14:34] peterdesmet commented on #4216
Thanks for the reply @muttcg. The conceptual issue I have with your approach is that it requires linking media to events _and_ observations.

1. That relationship could arguably be inferred (i.e. one can show the media of an event the observation is linked to)
2. Adding an `occurrenceID` to multimedia.txt could create inconsistencies (e.g. what if the `occurrenceID` is not related to the provided

[2022-08-18 16:12] gbif-portal opened #4218 "Toggle map style"
**Toggle map style**

Toggle map style button in MAP overview (search occurrences) is inactive.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/93782931dc12def69d7682b876df5781:ec030c618a43cc5d06dad7ec734177caf226b16bd294bcf44723424699371d5525a1f352014f667fa39793ddee790a9ae0d3f45f19bf2fed6925cbe37467df7f8b9216b3eecb02f5363016ded43d6345acd7d30f729a8ce0ea6461b658d5fb9243de9b74

[2022-08-19 07:16] MortenHofft commented on #4218
I'm unable to reproduce any errors. Could you expand on the issue you experience please? What you should expect to see is that the background map changes from grey to blue/green (and more details). The dots remain yellow/red.

If you can provide me with more details, then I would be happy to reopen the issue.

[2022-08-19 07:16] #4218 closed, assigned to nobody

[2022-08-19 12:40] gbif-portal opened #4219 "dataset search license facet wrong"
**dataset search license facet wrong**

When doing a checklist dataset search there are no unspecified licenses in the facets. The registry does give some though, so these go missing in the portal: https://api.gbif.org/v1/dataset/search?type=CHECKLIST&limit=0&facet=license

Also the counts dont add up in the portal because of that

-----

User: [See in registry](https://www.gbif.org/api/feedback/u

[2022-08-19 14:26] ahahn-gbif opened #4220 "Licenses for ChecklistBank"
Check progress on licenses for checklist datasets (ChecklistBank priorities):

- [ ] 046bbc50-cae2-47ff-aa43-729fbf53f7c5 | International Plant Names Index
- [ ] 0938172b-2086-439c-a1dd-c21cb0109ed5 | The Interim Register of Marine and Nonmarine Genera
- [ ] 2d59e5db-57ad-41ff-97d6-11f5fb264527 | World Register of Marine Species
- [ ] 47f16512-bf31-410f-b272-d151c996b2f6 | The Clements Checklist
-

[2022-08-19 14:27] ahahn-gbif commented on #4220
47f16512-bf31-410f-b272-d151c996b2f6 | The Clements Checklist: contacted, waiting for response

[2022-08-22 08:52] gbif-portal opened #4221 "Links to non-country participants not working from network pages"
**Links to non-country participants not working from network pages**

In the process of removing the metrics table from the network pages, somehow the links to the 'other associate participants', i,e, those that are not countries, seem to have disappeared.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/675cebf151e905939b8939cdca5f40aa:2099782f2125378eb291a9529a56c492ef8bc05

[2022-08-22 11:04] MortenHofft commented on #4219
I'm fairly certain that is because the API do not use the enumeration anymore
https://api.gbif.org/v1/enumeration/basic/License

The API returns
[code]

but should return https://api.gbif.org/v1/enumeration/basic/License `UNSPECIFIED`

[2022-08-22 13:29] mdoering commented on #4219
so this is a registry API issue, right?

[2022-08-23 07:04] MortenHofft commented on #4219
I would think so yes.

[2022-08-23 10:28] gbif-portal opened #4222 "Hw can I correct and update the page for GC University, Lahoe"
**Hw can I correct and update the page for GC University, Lahoe**

The dept. head contacted me and asked me to update the information. I have updated OpenHerbarium, through which they began to share data. They stopped adding records because, I was told, too much curation was required before they could do so. I shall check their informatioin in Index herbariorum, but it was the GBIF page, which I s

[2022-08-23 11:11] #4221 closed, assigned to thomasstjerne

[2022-08-23 15:25] gbif-portal opened #4223 "Publisher search not working proprerly"
**Publisher search not working proprerly**

Filtering for datasets by the publisher Invasive species Specialist group does not return the correct datasets when you search by country.  Currently, the only country is showing Italy.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/afd558bf7e27da1f8043cab1badfcba5:da63f149a22c635cc1edc3f42c17fcb5655f3b6cf66211811d061dd6e97bbd2e1c

[2022-08-23 15:29] gbif-portal opened #4224 "GRIIS checklists"
**GRIIS checklists**

The GRIIS checklists are not providing standardised information across countries to indicate whether the species is 1. Established and 2. Invasive.  This would be very helpful for those working on invasives alien species

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/088b20dd2cea62e6f16a7795eabcd748:e80bbc7136803151d28826d05fe242b7249c10953e3b0a0c31b31

[2022-08-23 16:19] gbif-portal opened #4225 "Broken download"
**Broken download**

Hello,

Download n°0429756-210914110416597 was broken and I can't figure out why. It might be due to "Issues and flags: is not defined" but I simply wanted to avoid downloading occurrences which have issues and i specified in the JSON query file that the parameter "ISSUE" should have the type "IsNull", as can be seen on the website (https://www.gbif.org/developer/occurrence#pr

[2022-08-23 20:11] gbif-portal opened #4226 "elevation"
**elevation**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0250395f791b3d99b3f08af5a6b2acc8:35b5d164c63e6e9bbe64a6c51f8b49aa32cce11556f1ceebcc291c4fb41c8fc1002925fe5bf8a877fd0ea5f3a758e0116f7f8882411f5c684c77f5c3cd9584ca59ce6fb3f4a5b023f436d9145ef2619e1137cdab21a1b1c396882e84e816ac74) - [Send email](https://www.gbif.org/api/feedback/user/mailto/0250395f791b3d99b3f08af5a6b

[2022-08-24 07:06] MortenHofft commented on #4226
Perhaps related to https://www.gbif.org/occurrence/download/0429933-210914110416597
but unclear what the user means. I'm closing as invalid

[2022-08-24 07:06] #4226 closed, assigned to nobody

[2022-08-24 07:13] MortenHofft commented on #4223
The filter says `Publishing country or Area` and the only option is Italy because all the datasets are published from Italy because the [publisher is listed as located in Italy](https://www.gbif.org/publisher/cdef28b1-db4e-4c58-aa71-3c5238c2d0b5).

If you wish to find a GRIIS checklist for a specific country you should use search. e.g.
https://www.gbif.org/dataset/search?q=Ireland&publishing_org=c

[2022-08-24 07:13] #4223 closed, assigned to nobody

[2022-08-24 08:51] gbif-portal opened #4227 "This is suspicious -test"
**This is suspicious -test**

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/765d576a4977f25418711712a945fdf9:252d95a5d6810896237f77883aa8f82cf1c1413600392dde8348476f89e096e393abde399a033a8ace55e559a9abd5c4463fb449b329d011d92cf7874e727d133f24fbff50c72edc0e5f9d3768739be1797958e1524405067e32e9b6139ac276df8ee5613c402575472338e6776856913fc91642f73b3a35291

[2022-08-24 08:52] #4227 closed, assigned to jhnwllr

[2022-08-24 11:17] MortenHofft commented on #4227
kk. I will make a rule to fix it. This is the last you will hear from me. Godspeed

[2022-08-24 16:03] gbif-portal opened #4228 "List of extant species scientific names"
**List of extant species scientific names**

I would like a list of taxonomic names including higher taxonomies for each species for the 5 fish classes.  I have tried downloading the taxonomic backbone and filtering out palaeo datasets but keep getting extinct species coming from other cheklists.  Do you have associated data for cheklists datasets in the taxonomic backbone on whether these names a

[2022-08-25 05:37] mdoering commented on #4216
I would also argue for a regular event model until the unified model is a proper option. Adding occurrenceID to multimedia I would also avoid for reasons given by @peterdesmet and because I prefer simple relationships. It just boils down to how much work can be done in time on the gbif processing.

[2022-08-25 09:42] timrobertson100 commented on #4216
@peterdesmet - can I ask for a clarification of expected behavior for option 2?

Knowing that we aim to accommodate this properly in the future, but today wrangle this into occurrence records (i.e. it is a hack) would it be reasonable that the event and images that don't have occurrences (E2 and I2) be dropped?

My understanding is that would be those photos that hadn't been annotated by AI or peo

[2022-08-25 09:46] mdoering commented on #4216
... and that an occurrence receives all images from the core event and its parent events that it is linked from? So all 3 occurrence_id_777_x records would have the same 3 images from the 777 event?

[2022-08-25 10:05] gbif-portal opened #4229 "Bibliographic reference appearing as the resource citation"
**Bibliographic reference appearing as the resource citation**

The resource citation DOI is wrong and leads to a bibliogeographic reference even though the dataset has been updated and re-published. Please see the full description of the issue below:

A bibliographic reference and its DOI were used by mistake as the resource citation + DOI for this dataset (cue the wrong DOI ( DOI10.1098/rspb.200

[2022-08-25 11:54] CecSve commented on #4228
User also contacted by email with the following response:

[2022-08-25 11:54] #4228 closed, assigned to nobody

[2022-08-25 12:12] peterdesmet commented on #4216
@timrobertson100

Yes that is reasonable. They would still be available in the source data (in the IPT, in a model that makes sense) and could be indexed in a future implementation.

Correct.

Yes, although for my use case _parent_ events would not have images attached to them.

For inheriting metadata from parent events, it is important that information already available at the child event is **n

[2022-08-25 12:14] timrobertson100 commented on #4216
Thanks, @peterdesmet - that all makes sense to me.

[2022-08-25 12:42] muttcg commented on #4216
Clarification for the current production ingestion:
1) Child terms values override parents values, fx paren event has eventData 2000, occurrence linked to the event **20/10/2000**, final value is **20/10/2000**
2) Both occurrence and image records as extensions must be linked to the event record core and when you add occurrenceID to the image it will be attached to the occurrence of the event, so

[2022-08-25 13:02] fmendezh commented on #4216
The prototype we developed for ingesting event data works exactly like: temporal and other fields are inherited only in case are not provided at the sub-event level.
In the case of occurrences, inheriting data from events has not being considered yet but seems feasible.
For the the short-term I suggest that the easiest approach is to follow @muttcg recommendation and used the occurrenceID field an

[2022-08-25 13:56] ahahn-gbif commented on #4220
47f16512-bf31-410f-b272-d151c996b2f6 | The Clements Checklist updated in CLB by the owner - registry updated accordingly on the license information

edit 26.8.: source of licence information unclear - update pending

[2022-08-25 14:53] ahahn-gbif commented on #4220
66dd0960-2d7d-46ee-a491-87b9adcfe7b1 | GRIN Taxonomy: contacted, waiting for response

[2022-08-26 08:28] timrobertson100 commented on #4216
Having looked at the comments and proposals on this thread, I feel we could be a bit bolder and seriously consider if we can commit to Camtrap DP.

Some of the proposals on this thread seem like confusing workarounds which may prove fragile and look to even go against our existing documented standards.

If we went for Camtrap DP:

- We start with a data model intended to be simple to use (it reall

[2022-08-28 14:47] gbif-portal opened #4230 "common name"
**common name**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/cc0aa779134bf2a612e228f1e448d4fd:8a4d2f838f6aec27d03bfb5f6c7fb2903ca404f330947b17d77d2cd969f67fed500e46044c99f2cd5595a2483fb7dbbdd9c2628e0956aa3e793b022e8003f0f1b78d9228d196354b38f7652defb90cbb4fdcde44f3a2fc06204fa59a02c47ea2) - [Send email](https://www.gbif.org/api/feedback/user/mailto/cc0aa779134bf2a612e228f1e

[2022-08-29 08:00] #4230 closed, assigned to nobody

[2022-08-29 08:01] MortenHofft commented on #4230
There is not enough information to do anything. I will close the issue and inform the user.

[2022-08-29 10:54] gbif-portal opened #4231 "Taxon linking interpretation from verbatim if no scientificName provided"
**Taxon linking interpretation from verbatim if no scientificName provided**

Hi!

Esko from FinBIF here.

Example case: https://www.gbif.org/occurrence/3861711423
Here we do not send anything to GBIF as "scientificName" since the name given by the user is unknown to us (non-finnish species). We send unknown names as "Verbatim identification".

It would be great that in these cases - when scientif

[2022-08-29 10:55] esko-piirainen commented on #4231
:)

[2022-08-30 10:04] jhnwllr opened #4232 "geocoding/flagging iso2 centroid locations on GBIF"
## background

Sometimes data publishers will not know the exact lat-lon location of a record and will enter the lat-long center of the locality instead. This is a data issue because users might be unaware that an observation is pinned to a locality center and assume it is a precise location.

From [previous work](https://data-blog.gbif.org/post/country-centroids/) it is known that most centroids

[2022-08-30 12:47] ManonGros commented on #4229
I tried to delete this dataset but got an error message concerning the DOI. I removed the DOI from the field in the registry UI and this magically make this DOI appear: https://doi.org/10.15468/bn8zz7
Not sure why or how this worked.

[2022-08-31 07:14] jhnwllr commented on #4232
@MortenHofft has raised the point that the **data quality flag** for publishers could be separated from the **neutrally geocoded records**.  I agree with this perspective.

The data quality flag could have the following properties:
* Small buffer around the centroid ~500m
* Only flag preserved specimens
* Only flag large countries

[2022-08-31 11:35] CecSve commented on #4222
The user has been contacted by email and had a similar request on help desk last week. The publisher contact information was updated last week but may require further updates.

[2022-08-31 11:38] jhnwllr commented on #4205
Source of name is GBIF backbone taxonomy
https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c

[2022-08-31 11:41] jhnwllr commented on #4209
Source of name is GBIF backbone taxonomy
https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c

[2022-08-31 11:54] jhnwllr commented on #4203
Name source is GBIF Backbone Taxonomy
https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c

[2022-08-31 12:28] jhnwllr commented on #4204
**Sarcophaga Meigen, 1824** does not exist in the backbone, so it isn't possible to make **Sarcophaga Swinderen, 1822** a synonym of it.

[2022-08-31 12:30] jhnwllr commented on #4201
Name source is GBIF Backbone Taxonomy
https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c

[2022-08-31 13:27] jhnwllr commented on #4203
In COL **Sarcophaga Meigen, 1826** appears to be in the correct family **Sarcophagidae**

https://www.catalogueoflife.org/data/taxon/99CX2

[2022-08-31 13:33] jhnwllr commented on #4199
Source is the The Paleobiology Database
https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

[2022-08-31 13:58] jhnwllr commented on #4196
**Musca** is in **Muscidae** in COL.

https://www.catalogueoflife.org/data/taxon/9CJPH

[2022-08-31 14:05] jhnwllr commented on #4195
**Thereva Latreille, 1797 (Diptera)** is in **Therevidae** in COL.

https://www.catalogueoflife.org/data/taxon/8VV3F

unranked: [Biota](https://www.catalogueoflife.org/data/taxon/5T6MX) >kingdom: [Animalia](https://www.catalogueoflife.org/data/taxon/N) >phylum: [Arthropoda](https://www.catalogueoflife.org/data/taxon/RT) >class: [Insecta](https://www.catalogueoflife.org/data/taxon/H6) >order: [Dipt

[2022-09-01 12:10] CecSve commented on #4225
I tried rerunning your JSON query and can confirm the issue appears due to the issue = isnull statement. Please also be aware that the matchcase = false in your year restriction statements should be left out. I will submit your issue regarding the issue = isnull as a bug, since it should be possible to retrieve null values from the field in a download. For now, you would need to query based on eac

[2022-09-01 12:15] CecSve commented on #4225
Added the label 'bug' since it should be possible to search for occurrences with no issues and flags.

[2022-09-01 12:18] CecSve commented on #4224
@ahahn-gbif can you remind me who we should talk to about this?

[2022-09-01 13:00] CecSve commented on #4224
The suggestion of adding the [establishmentMeans](http://rs.tdwg.org/dwc/terms/establishmentMeans) and the [degreeOfEstablishment](http://rs.tdwg.org/dwc/terms/degreeOfEstablishment) to GRIIS datasets have been suggested to the publisher through help desk.

[2022-09-01 13:21] CecSve commented on #223
I will follow up with the Ringing Schemes technical person and hear how close they are to establish their own endpoint (as agreed with DanBIF) or whether they can provide an updated description of the dataset.

[2022-09-01 13:27] DanBIF commented on #223
It is a sensitive issue as the dataset itslf originates from a former employee at the museum. Reg. Endpoint, I attach my description (made with help from Thomas Stjernegaard) on how to do it. It is in Danish.
[Proces for deling af data i GBIF med eget data repository og autosync.pdf](https://github.com/gbif/portal-feedback/files/9470203/Proces.for.deling.af.data.i.GBIF.med.eget.data.repository.og.

[2022-09-01 14:24] jhnwllr commented on #4232
We probably want the action/menu to be "**exclude within 2/5/10km of centroid**".

[2022-09-01 19:10] abubelinha commented on #3973
Hi. I wonder if you prefer us to re-use this issue title for other incorrect clustering of records we found, or you prefer separated posts for this. I am posting them here for now (please mention me if you open a new issue, so I can track it).

- Plant occurrence [180425491](https://www.gbif.org/occurrence/180425491/cluster) is matched to an animal ([api link](https://api.gbif.org/v1/occurrence/18

[2022-09-01 21:12] EstebanMH-SiB opened #4233 "Two large datasets are not correctly interpreted in the portal"
Hi, we have a problem with two large datasets. We published them through our IPT without problem, but when they get indexed in GBIF the information jump from one element to the next one and because of that we get a lot of interpretation problems.
![image](https://user-images.githubusercontent.com/63795703/188010325-96678034-0496-4eca-9b65-59284cd4b071.png)

The data gets correctly interpreted in t

[2022-09-02 06:58] gbif-portal opened #4234 "the EUREF89 geodetic datum is ETRS89"
**the EUREF89 geodetic datum is ETRS89**

The geodetic datum provided for this record (and for 112,703 other records) is 'EUREF89' which is the Norwegian spelling for ETRS89: https://no.wikipedia.org/wiki/EUREF89

Is there any way, EUREF89 could be interpreted as ETRS89 and the coordinates reprojected?

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/b

[2022-09-02 07:59] CecSve commented on #4224
**Response from GRIIS:**

The establishmentMeans is provided for all checklists and in the case of GRIIS describes the provenance of the species i.e.; ‘alien’, ‘native-alien’, ‘cryptogenic|uncertain’.

The Invasive status of the species is recorded under ‘IsInvasive’ using the terms ‘Invasive’ or ‘Null’ (Species Profile DwC extension).

We do not record ‘DegreeOfEstablishment’

Belgium whose natio

[2022-09-02 08:00] ManonGros commented on #4233
@EstebanMH-SiB I don't know why this issue occurred but I re-ingested the datasets and now it is consistent with what is on UAT.

[2022-09-02 08:06] CecSve commented on #4224
@andrewrodrigues do you have contact information on the workshop participant with this issue? In the future, I think it would make sense to ask the users to submit the issue themselves (with our assistance) so we have their contact information and can follow up

[2022-09-02 08:06] ManonGros commented on #3973
@timrobertson100 could you take a look?
I cannot explain why the occurrence [180425491](https://www.gbif.org/occurrence/180425491/cluster) is in this cluster.

For the other issue mentioned above, perhaps it is time to run an update?

[2022-09-02 08:21] #4234 closed, assigned to nobody

[2022-09-02 10:11] gbif-portal opened #4235 "No years for this dataset"
**No years for this dataset**

The occurrences in this dataset have no years because the date cannot be interpreted. I'm not sure if it is a content issue or an interpretation issue.

example date `01-04-2012/15-06-2016`

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/79cc428ac848a53a65a389bf2bf34fc4:0a41290d2ca67b4d74d0ee8b2e7bb3ffac928e19bc3e3f25e

[2022-09-02 10:21] timrobertson100 commented on #3973
Mmmm, this is an unusual bug

The API call for that page is this:
https://api.gbif.org/v1/occurrence/180425491/experimental/related

On there you can see the current record has a `"gbifId": 1804254910`. For some reason this is showing the cluster of 1804254910 and not 180425491 (extra 0 at the end).

[2022-09-02 11:14] muttcg commented on #4235
Fixed. I set default date machine tag as DMY in the registry
This is because there is no other fields such as year, month and day, so parser split date into 01-04-2012 and 15-06-2016, and after can choose use DMY or MDY to parse first date and fails. It could return at least year.

[2022-09-02 12:29] timrobertson100 commented on #3973
This is all fixed in code now.

[That record](https://www.gbif.org/occurrence/180425491) no longer shows a cluster (it showed the cluster for `1804254910` not `180425491`)

This is fixed in code, and being released and deployed in production data pipelines now. After which we'll reprocess the dataset to clear the mistake in the search index. It was the same bug as the one above but applied to how

[2022-09-02 12:29] #3973 closed, assigned to nobody

[2022-09-02 13:51] myrmoteras opened #4236 "change citation to give more prominence to the original publication"
in this case https://www.gbif.org/dataset/9be395ba-0339-4533-9935-1a682b9b91d2#citation might it be possible to change

Balke M, Panjaitan R, Surbakti S, Shaverdo H, Hendrich L, Van Dam M H, Lam A, pensoft (2022). NextRAD phylogenomics, sanger sequencing and morphological data to establish three new species of New Guinea stream beetles. Plazi.org taxonomic treatments database. Checklist dataset ht

[2022-09-02 15:02] tucotuco commented on #4232
@jhnwllr This is great work.  However, I want to challenge a premise.

Scientists who do not want inappropriate data in their models need to verify those data before using them. Without the explicit measure of uncertainty they can't do that, centroid or not, outlier or not. That doesn't mean there is anything wrong with your attempts to help highlight records that require review before use, but th

[2022-09-02 20:04] abubelinha commented on #3973
Thank you @ManonGros and @timrobertson100 !

I understand the [_bug above_](https://github.com/gbif/portal-feedback/issues/3973#issuecomment-1064052565) was the "other catalogue numbers" overlap + "lack of data in certain other fields". Correct?
And as you have fixed the clustering algorithm, that's the reason for occurrence [2821298442](https://www.gbif.org/occurrence/2821298442) not longer being

[2022-09-02 21:22] ArthurChapman commented on #4232
There are a number of issues with (country) centroids not discussed above. I agree largely with what @tucotuco has said.

However, if we take Australia.  Many early records for Australia just say "Nova Hollandia" or "Australiia" and a default has been placed at the "center" of Australia [but see below]. When these observations were made, the only European discovery was around the Australian coast

[2022-09-05 06:58] MortenHofft commented on #4232
Records without an uncertainty stated: 1,373,034,036 (out of 2,104,374,546 with coordinates)

A flag that the record is missing uncertainty might be useful in that case since ≈2/3 are missing it.

[2022-09-05 13:29] timrobertson100 commented on #3973
This thread is getting a little difficult to read, but I will do my best to answer.

The bug spotted didn't need a change in the clustering algorithm (how we detect related records) or e.g. the use of  `otherCatalogNumbers` as I think you note. It was simply how we used the output of the clustering where we were misreading the IDs and 1) incorrectly showing a different cluster on the record in a f

[2022-09-05 13:57] tucotuco commented on #4232
I think it would be useful, but also make sure not to flag it if there is a footprintWKT provided that is not just a POINT.

[2022-09-06 11:08] gbif-portal opened #4237 "https://www.gbif.org/species/8771131 = https://www.gbif.org/species/5084431 (same name, different spelling variants)"
**`https://www.gbif.org/species/8771131` = `https://www.gbif.org/species/5084431` (same name, different spelling variants)**

Hi.

The following records should point to the same taxon:

Hydrophorus signiferus Coquillett, 1899 (https://www.gbif.org/species/8771131)
Hydrophorus signifer Coquillett, 1899 (https://www.gbif.org/species/5084431)

It's the same name, just two minor spelling variants. I a

[2022-09-06 17:41] wellcaffeinated opened #4238 "Vernacular names not being returned by /species/search"
Hi,

The search api endpoint is no longer returning vernacular names in the results.

Example:

https://api.gbif.org/v1/species/search?qField=VERNACULAR&status=ACCEPTED&q=house%20cat

[code]

The api used to output vernacular names which i made heavy use of for filtering relevant results. I use the gbif api for the name searching functionality of the Tree of Life Explorer: https://labs.minutelabs.

[2022-09-06 19:36] RicardoOrtizG opened #4239 "¿How to get the Wikidata ID from the species API?"
Hi!

I have a question, It's possible to get the WikidataID from the GBIF species API? I can't find a parameter that returns this information for each species on a list. It may help us to improve the connection between our species list services to reference other species profiles or descriptions pages like the ones available for eBird or iNat.

Example: (Tachornis squamata (Cassin, 1853))[https://

[2022-09-07 06:09] ManonGros commented on #4239
Hi @RicardoOrtizG, our website uses the Wikidata API to display the Wikidata identifiers. See: https://discourse.gbif.org/t/given-a-gbif-human-readable-webpage-for-a-species-how-to-find-the-api-call-for-each-item-on-the-page/3134/4

I will close the issue now, let me know if it should be reopened.

[2022-09-07 06:10] #4239 closed, assigned to nobody

[2022-09-07 09:11] abubelinha commented on #3973
Thanks @timrobertson100 for your clear explanation.

As that observation had been in a cluster, and removed from it ... I was blindly assumming it had to be _that_ cluster because it was the good one.  My bad.

As for the coordinates difference, I am afraid all occurrences in the cluster have been rounded to 0.01 Lat/Lon degrees precision. The cluster-excluded observation hasn't been rounded, whic

[2022-09-07 09:32] timrobertson100 commented on #3973
Thanks - I had suspected something like that had happened and your record actually had the more accurate georeference. I chose the limits of 200m and 2km to accommodate 3 and 4 decimal place rounding globally, but here we are at 2 decimal places.

I think we've arrived at a good point in understanding how things work and fixed the bug identified (i.e. that it wasn't working as expected). Let's con

[2022-09-07 11:32] abubelinha commented on #2171
A related question @ManonGros

I believe many providers are not doing this (using a `|` separator for the different person names in `recordedBy` field). [Example occurrence](https://www.gbif.org/occurrence/912082653) with this value:
_Bautista, H.P.; Oubiña, J._

The above occurrence record is not returned if I search for "_Bautista, H.P._" value in `recordedBy`

Would it be returned if its conten

[2022-09-07 11:49] dshorthouse commented on #2171
@abubelinha The Vascular Plant Herbarium, Oslo https://www.gbif.org/dataset/e45c7d91-81c6-4455-86e3-2965a5739b1f uses pipes to separate its agent strings in `recordedBy` and it is indeed a rarity. See https://www.gbif.org/occurrence/20379911. Of note, the recommended best practice for populating a list in `recordedBy` is to use space-vertical bar-space; it's not incorrect to do otherwise. A more c

[2022-09-07 13:06] abubelinha commented on #2171
Thanks a lot @dshorthouse for the example dataset.
I tested it and, to answer my original question, yes indeed:

It's worth the pain following recommendation and use the '` | `' separator (yes, surrounded by spaces) because then each person can be searched individually.

Thanks for the other separators list (I understand you use them to split different people in bionomia).
I wonder if you are also

[2022-09-07 23:14] dshorthouse commented on #2171
Not at present, but I *could* expose that via the reconciliation endpoint & the search API as a mechanism to boost the search score. I am loathe to add an additional search field beyond a name alone on human-facing web pages. Search produces results of people in Bionomia, not occurrences.

[2022-09-08 08:26] abubelinha commented on #2171
I agree.
GBIF seems to be the right place for that search.
But for now it looks like bionomia is doing a better isolation of people's names (is not that easy for most data providers to use ' | ' as a separator of collectors' names in `dwc:recordedBy`).

[2022-09-08 18:20] gbif-portal opened #4240 "Resources is not indexing the new number of records"
**Resources is not indexing the new number of records**

We are having problems with this dataset, we made an actualization adding 17 new records, but the data is not indexing in GBIF portal. It looks fine in [our IPT](https://doi.org/10.15472/xyzi2q) and we tried to republish the dataset but is still not indexing.
This was before indexing was paused today.

We should like to ask for help looking

[2022-09-09 06:53] ManonGros commented on #4240
@EstebanMH-SiB The ingestions are currently paused: https://www.gbif.org/system-health, if the dataset isn't ingested by tomorrow, please open a new issue.

[2022-09-09 06:53] #4240 closed, assigned to nobody

[2022-09-09 08:00] gbif-portal opened #4241 "No match in GrSCiColl"
**No match in GrSCiColl**

Bell Museum has 800K records that looks like they could be matched to GrSciColl if the codes were updated.

https://www.gbif.org/occurrence/search?publishing_org=927f1e70-cf74-11d8-bf68-b8a03c50a862

https://registry.gbif.org/institution/3c35744f-5766-4364-83cb-7e78d366131e/collection

The provide collection code as institution code (if GrSciColl is to be trusted)

-----

[2022-09-09 09:42] ManonGros commented on #4241
I added the collection codes to the the collections in GRSciColl, merged two institution entries and added explicit mapping of the dataset to https://registry.gbif.org/institution/283b0179-5657-4959-9547-a64470481c77. So once the cache is refreshed and the datasets are reinterpreted, the occurrences should be properly linked.

[2022-09-09 11:07] CecSve commented on #4235
It looks like the issue is fixed, so I will close it.

[2022-09-09 11:07] #4235 closed, assigned to nobody

[2022-09-09 11:15] CecSve commented on #4233
It seem like the issue is fixed so I will go ahead and close the issue.

[2022-09-09 11:15] #4233 closed, assigned to nobody

[2022-09-09 11:30] MortenHofft commented on #4241
Wuhuu. And GrSciColl just grew by nearly a million specimens. nice

[2022-09-09 12:53] CecSve commented on #4222
No new update requests have been submitted so I will close the issue

[2022-09-09 12:53] #4222 closed, assigned to CecSve

[2022-09-09 12:57] CecSve commented on #4203
So this will be fixed in the next backbone? Should we add the label pending then?

[2022-09-09 13:14] #4134 closed, assigned to nobody

[2022-09-09 13:20] CecSve commented on #4212
#4152

[2022-09-10 04:12] gbif-portal opened #4242 "Location should be entered as State: Oregon, County: Tillamook Co., Location: Van Duzer State Park. This can be georef'd as 45.0396, -123.8096."
**Location should be entered as State: Oregon, County: Tillamook Co., Location: Van Duzer State Park. This can be georef&#39;d as 45.0396, -123.8096.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/09297d5d0fcd1bf60575d311d0aec9fa:1733ba6506196b327c2df94046047395d1e0e3a24cc41ef205a403aec615aaea0e77fe4f608e8c87e4c5bbc4aef3e5c838eeb295a0b7c0d81fc50163b4811449495e385f51884ca0

[2022-09-11 19:49] gbif-portal opened #4243 "suggestion to add a synonym: Ptychopoda lambessata"
**suggestion to add a synonym: Ptychopoda lambessata**

Hello, I suggest to add the name "Ptychopoda lambessata Oberthur, 1887" as a synonym of "Idaea lambessata (Oberthur, 1887)". Unfortunately, I have little access to literature, but the suggested name is listed e.g. here:

https://www.google.de/search?q=Ptychopoda+lambessata&source=lnms&tbm=bks&sa=X&ved=2ahUKEwj4xKT7u436AhXfxgIHHc4aCykQ_AUoAXoE

[2022-09-11 19:52] gbif-portal opened #4244 "suggestion to add a synonym: Ptychopoda fathmaria"
**suggestion to add a synonym: Ptychopoda fathmaria**

Hello, I suggest to add the name "Ptychopoda fathmaria Oberthür, 1876" as a synonym of "Idaea fathmaria Oberthür, 1876". Unfortunately, I have little access to literature, but the suggested name is listed e.g. here:

https://www.google.de/search?q=%22Ptychopoda+fathmaria%22&source=lnms&tbm=bks&sa=X&ved=2ahUKEwib5MSmwY36AhXS66QKHcR-A7gQ_AUoAXoE

[2022-09-11 19:56] gbif-portal opened #4245 "suggestion to add a synonym: Ptychopoda exilaria"
**suggestion to add a synonym: Ptychopoda exilaria**

Hello, I suggest to add the name "Ptychopoda exilaria" as a synonym of "Idaea exilaria (Guenee, 1858)". Unfortunately, I have little access to literature, but the suggested name is listed e.g. here:

https://www.google.de/search?q=%22Ptychopoda+exilaria%22&biw=1120&bih=533&tbm=bks&ei=uzweY4eUB43dkwWD6qLICQ&ved=0ahUKEwjH3biRwo36AhWN7qQKHQO1CJkQ4

[2022-09-11 20:03] gbif-portal opened #4246 "suggestion to add a synonym: Ptychopoda longaria"
**suggestion to add a synonym: Ptychopoda longaria**

Hello, I suggest to add the name "Ptychopoda longaria Herrich-Schäffer, 1852" as a synonym of "Idaea longaria (Herrich-Schäffer, 1852)". Unfortunately, I have little access to literature, but the suggested name is listed e.g. here:

https://www.google.com/search?q=%22Ptychopoda+longaria%22&client=firefox-b-d&tbm=bks&ei=tT4eY72nHMWYkwXKhJzIAg&st

[2022-09-11 20:09] gbif-portal opened #4247 "suggestion to add a synonym: Ptychopoda lutulentaria"
**suggestion to add a synonym: Ptychopoda lutulentaria**

Hello, I suggest to add the name "Ptychopoda lutulentaria" as a synonym of "Idaea lutulentaria (Staudinger, 1892)". Unfortunately, I have little access to literature, but the suggested name is listed e.g. here:

https://www.google.com/search?q=%22Ptychopoda+lutulentaria%22&client=firefox-b-d&source=lnms&tbm=bks&sa=X&ved=2ahUKEwiCyuKqxY36AhV

[2022-09-11 20:13] gbif-portal opened #4248 "suggestion to add a synonym: Ptychopoda nitidata"
**suggestion to add a synonym: Ptychopoda nitidata**

Hello, I suggest to add the name "Ptychopoda nitidata" as a synonym of "Idaea nitidata (Herrich-Schäffer, 1861)". Unfortunately, I have little access to literature, but the suggested name is listed e.g. here:

https://www.zobodat.at/pdf/MittNatVerSt_99_0143-0180.pdf

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/a520f5c2

[2022-09-11 20:30] gbif-portal opened #4249 "suggestion to add a synonym: Witlesia truncicolella"
**suggestion to add a synonym: Witlesia truncicolella**

Hello, I suggest to add the name "Witlesia truncicolella" as a synonym of "Eudonia truncicolella (Stainton, 1849)". Unfortunately, I have little access to literature, but the suggested name is listed e.g. here:

https://www.google.de/books/edition/Proceedings/20XVAAAAIAAJ?hl=de&gbpv=1&bsq=%22Witlesia+truncicolella%22&dq=%22Witlesia+truncicol

[2022-09-12 09:23] gbif-portal opened #4250 "Occurrence Download Statistics - add dataset title to export"
**Occurrence Download Statistics - add dataset title to export**

The Occurrence Download Statistics API export function is great! It empowers publisher to get statistics themselves. See this example: https://api.gbif.org/v1/occurrence/download/statistics/export?publishingOrgKey=d9699a79-4736-45c2-925c-f4033ac67d52&fromDate=2021-07&toDate=2022-08

It would be even better if the dataset titles were

[2022-09-12 12:48] marcos-lg commented on #4238
Fixed in PROD.

[2022-09-12 13:42] gbif-portal opened #4251 "Hirudinea missing from backbone taxonomy"
**Hirudinea missing from backbone taxonomy**

It looks like we are missing this class of leech: https://www.gbif.org/species/search?q=Hirudinea

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/6cb67ebb863c414533bc44492db1f9f4:54bdee541bbed7fb50c396118f0a2690a48386b78087eac3b31ff6a58df7a2e6cd5ebdd8edf1b7f1a1a0aa26c19c7f0a95d9871f0d8a956e56380777fb6132b4

[2022-09-12 13:54] ManonGros commented on #4251
Actually, I can see that Hirudinea is no longer the class used: https://www.sciencedirect.com/topics/agricultural-and-biological-sciences/hirudinea
But wouldn't it make sense to add it (maybe as a synonym) to make sure the occurrences are mapped to something?

[2022-09-13 08:59] gbif-portal opened #4252 "derived datasets with 0 relatedDatasets"
**derived datasets with 0 relatedDatasets**

This shouldn't be possible. A derived dataset with no relatedDatasets makes no sense.

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif-uat.org/api/feedback/user/849b87570582373573353f7dc639d768:42f081085634c72df34537b5602bf17b434b1fa91fe58503245c203f70230c12e0d20a9e8d1bb1ddab0133aa0e3f04e0ac065ebc771b7dea63e9c114f4f47fefc67e6f8e

[2022-09-13 13:46] jhnwllr commented on #4232
I have taken the time to extract centroids for iso2 places from the **Getty Thesaurus of Geographic Names (TGN)**. I have pasted them all here for reference.

The TGN is a [source of many centroids](https://www.gbif.org/occurrence/search?q=TGN%20-%20Centroid) on GBIF.

Interestingly, we are still missing the centroids that @ArthurChapman points to for Australia. Extracting these centroids is alrea

[2022-09-13 14:08] gbif-portal opened #4253 "Recorder names wrongly delimited"
**Recorder names wrongly delimited**

It looks unlikely to be 6 persons,
`Diack|, I.|Holland|, T.|Bryant|, M.` but that is what the delimeter `|` means

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/e27b3d8019b07103cab383a01ca9655e:8867ff815b880c9ae23fc56fbcbfd73d8863f67a5890ba9390d676601df4e94cbd45b3d71a66efefd08ffb2aa3b705d704af64e6a63e019a12b7c4

[2022-09-13 16:00] peterdesmet opened #4254 "Sort images on occurrence page chronologically"
https://www.gbif.org/occurrence/3898672313 is an occurrence with 20 (camera trap) images that are taken sequentially (two sets of 10). On the page they appear in an order I cannot discern (is there any order applied?) It is not the order in which they appeared in the source data, which was chronologically.

I think it would be better if all images were sorted chronologically (ascending `created`)

[2022-09-13 20:10] abubelinha opened #4255 "bug in GADM filter ¿wrong parents of level3?"
When using GADM filter for a region in NW Spain, I found a group of occurrences which GBIF locates far outside that GADM, in SE Spain. This is the portal request:
https://www.gbif.org/occurrence/map?has_coordinate=true&has_geospatial_issue=false&gadm_gid=ESP.12_1

There you can use the WKT filter to clearly see the big set of [1340791 occurrences GADM area in NW](https://www.gbif.org/occurrence/ma

[2022-09-13 21:33] ArthurChapman commented on #4232
Further to my earlier post, and comments by @jhnwllr above - of the five centroids for Australia, there are two common ones that have been used for specimens and observations in the past.

The first is **Lamberts Gravitational Centre** (see reference at https://www.atlasobscura.com/places/lambert-centre-of-australia).

The second is **Johnston's Geodetic Centre** (see reference at https://www.xnat

[2022-09-14 07:50] MortenHofft commented on #4254
The ordering on the website is that of the API response. I would prefer to respect the order in which they are provided.

But we could also sort on date if provided. I just imagine that sooner or later that will be wrong, and e.g. show a specimen label before the object. For galleries we just take the first image, it would also be nice if I didn't have to sort those as well, but could just count o

[2022-09-14 08:11] peterdesmet commented on #4254
But the API currently doesn't respect the order in which the images are provided at the source, or does it?

[2022-09-14 11:06] MortenHofft commented on #4254
I haven't checked, but from what you say it sounds like it doesn't no. So I've labelled this an interpretation issue. If the conclusion is that it isn't possible to keep the ordering for some reason, then we can revisit the UI solution instead. At least that was my thinking.

NB the fragment isn't sorted by time either https://api.gbif.org/v1/occurrence/3898672313/fragment

UPDATE: I've checked th

[2022-09-14 11:59] gbif-portal opened #4256 "IdentifiedBy ()"
**IdentifiedBy ()**

We have 7.5 million occurrences identified by `()`
The largest offenders are
https://www.gbif.org/dataset/0d8cc344-d880-42ec-a200-40b4ad71affd 4.4mil
https://www.gbif.org/dataset/ca435754-9190-4a87-9b2c-c21563898294 1.4mil

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/3139b760631feac9fcf373aa5986f69f:6b39ddf9bfa47d33c10d7b31bc

[2022-09-14 12:27] gbif-portal opened #4257 "change title of case study 'eDNA barcoding'"
**change title of case study &#39;eDNA barcoding&#39;**

The title of the case study 'eDNA barcoding' should be 'eDNA metabarcoding' since the case study refers to complex, multispecies samples processed with a metabarcoding pipeline.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/dfe002384893338060b2a9b6c2e5cb29:2cd902f8498f0f143e856cd51dff3818ec85827a250f1d28065760f611bea

[2022-09-14 13:42] gbif-portal opened #4258 "Typo in year for latest entry"
**Typo in year for latest entry**

Suggest to change "26 August 2026" to 2022

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e22d57c3cdeb6ca996e7ea9a31b1b885:a8703c238e1ea9bf18c631de8eafa3aa7e483df7af4d4754283dc27444ee279bf90c6ba52aab329ab009eeea492df9083cca586eb100ff1fe17f081ad04651ce3ae19a6a9caf57e04ddd25fd5f6d7819bb3ad01393d7fd9807e81102434820016d62b87fcdbeca28e00815a0d3

[2022-09-14 13:51] gbif-portal opened #4259 "Region name incomplete"
**Region name incomplete**

Please change "Europe" -> "Europe and Central Asia" in prantheses, keep link

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/72e7fb1f612604764f18b495f263bd1b:212a52346175d8a25ff1824d55c33d23f5775d5a0da2f598181eb57f757adb3060b31423490704ed916a59bde05c611622a2756b6f77905d129d4e25bfc4e42ea9e6a44313c17d228fb0fef3f9b6d154e1673f7d

[2022-09-15 09:49] gbif-portal opened #4260 "dwca validator fails for wrong reasons"
**dwca validator fails for wrong reasons**

Trying to validate the iNat dwca here the validator fails and reports "meta.xml file was not found" - which is not true, it is in the archive at https://www.inaturalist.org/taxa/inaturalist-taxonomy.dwca.zip

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/b9ff5418f04277942fe9b40386f12f10:3df9d5229cb261f3b5d428eb27326e2abd19b25ac3b1

[2022-09-16 06:56] #4241 closed, assigned to ManonGros

[2022-09-16 10:07] gbif-portal opened #4261 "instCode + collectionCode"
**instCode + collectionCode**

instCode: pbdb for everything
collectionCodes. 181213 distinct. they are integers like `123927`.
This doesn't look like the way collection codes are intended to be used? Should these ideally be removed?

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/40be82419357da366a16cef3bf562174:6246226c5694006e33126f5f75c2ad66884e

[2022-09-16 10:17] gbif-portal opened #4262 "BasisOfRecord and codes"
**BasisOfRecord and codes**

According to the description this dataset contains a mixture of observations and specimens from collections. But the data maps everything to  `preserved specimen`. And no records have institution and collection code. Which ideally would be present for the specimens from collections.

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feed

[2022-09-16 10:28] gbif-portal opened #4263 "grscicoll mapping"
**grscicoll mapping**

From the API response we see:
[code]
All records have institution code `ibunam`  and collection code `mexu` - just as stated in the metadata.

the `Owner institution code: Instituto de Biología, Universidad Nacional Autónoma de México` - leading to a `Different owner institution` flag and no match. But that name is actually just the name of the institution. the spelled out v

[2022-09-16 10:37] gbif-portal opened #4264 "GrSciColl mapping"
**GrSciColl mapping**

No records are matched to GrSCiColl

In GrSciColl we have
institution: Royal Botanic Garden Edinburgh with code `RBGE`
https://hp-nhc.gbif-staging.org/institution/0237598a-853a-492c-af74-a723fe251799

and collection `Herbarium` with collectionCode `E`
https://hp-nhc.gbif-staging.org/collection/427c8cd7-4358-4a00-9ef3-2b2676d28d1e

But the dataset is using `E` for both instit

[2022-09-16 10:43] gbif-portal opened #4265 "GrSciColl mapping"
**GrSciColl mapping**

dataset title: `Moscow University Herbarium (MW)`
This dataset isn't matched either.
They use institutionID correctly. But write `ownerInstitutionCode=MSU`.
But we know the institution in grscicoll as `MW` as stated in the dataset title.

that means that the lookup does
https://api.gbif.org/v1/grscicoll/lookup?institutionId=http://grbio.org/institution/moscow-state-universit

[2022-09-16 11:19] gbif-portal opened #4266 "grscicoll mapping"
**grscicoll mapping**

Dataset title: `RB - Rio de Janeiro Botanical Garden Herbarium Collection`

All institutionCodes: `jbrj`
all collectionCodes: `rb`

## GrSciColl
institution (RB)
https://registry.gbif.org/institution/48b29504-e1ac-432c-a0d6-f09f46023207
collection (RB)
https://registry.gbif.org/collection/e89ac5d6-77af-4d2a-adef-f54d512af4fa

I suggest we change the [institution](https://reg

[2022-09-16 11:31] gbif-portal opened #4267 "All records in Algae (S) dataset are incertis sedis"
**All records in Algae (S) dataset are incertis sedis**

It looks like this dataset of 40k+ specimens lacks any scientific scientific names, even at kingdom level. Is that a bug or some kind of behind-the-scenes taxonomic battle? Anyway, it seems like something easy to fix even if IDs aren’t highly resolved.

-----

Github user: @kcopas
User: [See in registry](https://www.gbif.org/api/feedback/use

[2022-09-16 11:38] gbif-portal opened #4268 "Translate "Become a member" to key languages matching participation targets"
**Translate &quot;Become a member&quot; to key languages matching participation targets**

E.g. I would love to have this info in Russian for some upcoming calls with Central Asia.

Same would apply for the future impact and benefits pages.

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/78c0a53d0339b9670c20b2ba80d9a90a:36bb3d1c516ac2d2df2b06d10979f304

[2022-09-16 11:45] gbif-portal opened #4269 "GrSciColl mapping"
**GrSciColl mapping**

## Naturalis Biodiversity Center (NL) - Mollusca

is using `Institution ID: Naturalis Biodiversity Center`
Using an ID is a good idea, but should point to an identifier. Alternatively use the institutionCode. And decide which of the current 2 institutions with the title `Naturalis Biodiversity Center` should remain.

The collectionCode s are all `mollusca`. But in GrSciColl

[2022-09-16 12:02] MortenHofft opened #4270 "Antweb: GrSciColl mapping"
# AntWeb
https://www.gbif.org/dataset/13b70480-bd69-11dd-b15f-b8a03c50a862
use `cas` as institutionCode and `antweb` as collectionCode.

But as they write in their description it is an aggregation of multiple collections.
They use `Owner institution code` to indicate where it is really from.

This occurrence https://www.gbif.org/occurrence/3501415313
has ownerInstitution `JTLC ` and is recorded By

[2022-09-16 12:29] MortenHofft opened #4271 "GrSciColl Mapping: RBINS DaRWIN"
## RBINS DaRWIN
https://www.gbif.org/dataset/8138eb72-f762-11e1-a439-00145eb45e9a

No records of 640K are matched to GrSciColl

all institutionCodes are `rbins-scientific heritage`
top 10 collection codes (disinct: 148):
[code]

In GrScicoll we have institution [Royal Belgian Institute of Natural Sciences
](https://registry.gbif.org/institution/c2bfdeef-9c03-435e-8465-c483dadd6995) code : `RBINS`

[2022-09-16 12:45] MortenHofft opened #4272 "GrSciColl mapping: Vascular Plant Herbarium: Herbarium Generale"
## Vascular Plant Herbarium: Herbarium Generale
https://www.gbif.org/dataset/202cdfcf-0eac-4696-9e48-4797c562ff41

600K unmatched records
None of the records have institutionCode nor collectionCode

The description says

In GrSciColl we have [University of Helsinki (code: H)](https://hp-nhc.gbif-staging.org/institution/5d6c8b57-9bfb-46e8-960f-f57343ca9729) which has [6 associated collections, but

[2022-09-16 13:01] MortenHofft opened #4273 "GrSCiColl mapping: Stuart M. Fullerton Collection of Arthropods (UCFC), University of Central Florida"
## Stuart M. Fullerton Collection of Arthropods (UCFC), University of Central Florida
https://www.gbif.org/dataset/262f8270-f9c2-4bc6-a562-8ed71c0790e6

656K unmatched records

all institutionCodes: `university of central florida collection of arthopods (ucfc)`
all collectionCodes: `arthropods`

In GrSciColl we have the institution
[University of Central Florida](https://hp-nhc.gbif-staging.org/in

[2022-09-16 13:11] #2323 closed

[2022-09-16 13:36] MortenHofft opened #4274 "GrSciColl mapping: Bee Biology and Systematics Laboratory"
## Bee Biology and Systematics Laboratory
https://www.gbif.org/dataset/10e44c48-0839-4a20-86d5-f0e23ae2e366

published by [USDA-ARS Pollinating Insect-Biology, Management, Systematics Research](https://www.gbif.org/publisher/1e26a630-7203-11dc-a0d8-b8a03c50a862)

560K unmapped

For all records it is the case:
`Collection code | BBSL`
`Institution code | USDA-ARS`

In GrSCiColl we have collection [

[2022-09-16 13:37] CecSve commented on #4267
Since algae does not belong to a specific Kingdom (it is polyphyletic), this might be why they mapped it as incertae sedis. I wonder why the previousIdentification field is not used for scientificName. I will contact the Swedish node and inquire.

[2022-09-16 13:51] MortenHofft opened #4275 "GrSciColl mapping: Naturalis Biodiversity Center"
## Naturalis Biodiversity Center
https://registry.gbif.org/institution/0e919a55-08d3-4bd2-aec1-200858fafd92

There are currently 2 institutions with the name: `Naturalis Biodiversity Center`
One has 49 collections and was last updated today by NL_BIF

The other https://registry.gbif.org/institution/75b6d3c8-99f3-405e-a3aa-61c6b4b66fd0 has one collection, a herbarium and created due to the way Inde

[2022-09-16 13:59] MortenHofft opened #4276 "GrSciColl mapping: Naturalis Biodiversity Center (NL) - Paleontology"
## Naturalis Biodiversity Center (NL) - Paleontology
https://www.gbif.org/dataset/ea233ece-c4fb-4fb8-bf98-f16235c4144c
500K not mapped

Ideally an institutionId would be used, but if https://github.com/gbif/portal-feedback/issues/4275 is solved we should be able to match it to an institution. Collection is more difficult.

We see these collection codes in the dataset
[code]

But none of them seem

[2022-09-16 14:06] MortenHofft opened #4277 "GrSciColl mapping: C.A. Triplehorn Insect Collection (OSUC), Ohio State University"
## C.A. Triplehorn Insect Collection (OSUC), Ohio State University
https://www.gbif.org/dataset/84ab7b76-f762-11e1-a439-00145eb45e9a
500K unmapped records

2 instution Codes are used
[code]

all collection codes are `insects`

### GrSiColl
institution: `Ohio State University` (OSU) https://registry.gbif.org/institution/bed5c349-5b3a-4c52-bc4a-16d7297cb1af
collection: `C.A. Triplehorn Insect Collec

[2022-09-16 14:20] MortenHofft opened #4278 "GrSciColl mapping: Fishbase"
## Fishbase
https://www.gbif.org/dataset/197908d0-5565-11d8-b290-b8a03c50a862

Fishbase is a mixture of observations and preserved specimens.
Of the preserved specimens 450K cannot be matched to anything in GrSciColl

institutionCode is always `fishbase` and collectionCode always `occurrence `

When looking at individual occurrences like
* https://www.gbif.org/occurrence/864449161 we see `Catalogu

[2022-09-16 14:32] AbbyBenson commented on #4274
I noticed this when I was working with another USDA-ARS Bee Lab to review their data. I'm thinking having the institutionCode = USDA-ARS will be the most amenable to all the ARS labs and then have a collection for each under the higher level institution. I don't completely know what to do with all the legacy institutions but that's what I'm going to recommend to any new USDA-ARS datasets coming in

[2022-09-17 21:46] gbif-portal opened #4279 "How often are herbarium data sets updated?"
**How often are herbarium data sets updated?**

I shall be giving a talk in Pakistan at Hazara University in mid-October. So far as I can see, the data set has not been refreshed since Sept 3. It has been refreshed since then, the most recent refresh being Sept 11.  I thought one could look for a refresh within about 2-3 days. It appears that is wrong. Can you tell me a guestimate as to how long i

[2022-09-19 07:29] MortenHofft commented on #4275
fixed. wonderful!

[2022-09-19 07:29] #4275 closed, assigned to nobody

[2022-09-19 10:47] CecSve commented on #4260
@mdoering I renamed the EML-file (new name eml.xml instead of metadata.eml.xml) and the tool was able to find both .xml files and finish the [validation](https://www.gbif.org/tools/data-validator/ff18d319-d725-4c47-b98c-35dbd55f2872). There are some other issues for the archive still, but did this at least solve this issue?

[2022-09-19 11:57] MortenHofft opened #4280 "GrSciColl: founding dates"
I notice that the founding date for https://registry-api.gbif.org/grscicoll/institution/1cfca87c-083e-4d67-8e60-cb7d311f6058
is the date of its creation.

I've tried creating an institution in UAT, but it did not get the founding date of today. Perhaps it was the case once. Or it is triggered in other cases. Either way, we might want to clean that up. By e.g. searching for all institutions where t

[2022-09-19 12:00] MortenHofft commented on #4280
Perhaps it is easier to await https://github.com/gbif/registry-console/issues/356

[2022-09-19 12:06] mdoering commented on #4260
Thanks @CecSve. I was mostly curious to see how we currently handle multiple files per rowType, see https://github.com/gbif/dwca-io/issues/59 and how the various languages were interpreted. As we currently only read one file that remains to be seen.

I wonder why the original EML file was not found, that's also a bug in dwca-io?

[2022-09-19 13:27] CecSve commented on #4256
I have contacted GBIF France from help desk today and asked if they can assist in updating the datasets.

[2022-09-19 13:57] CecSve opened #4281 "Please add subphylum Myriapoda to the GBIF backbone taxonomy"
Refers to the following [issue](https://github.com/gbif/checklistbank/issues/222) in the checklist repo.

[2022-09-19 15:04] MattBlissett opened #4282 "Update acknowledgements page"
We need to update the Acknowledgements page.

Sauce Labs can be removed from the top bullets, it's already at the bottom of the page.

I think OSM, Natural Earth and OpenMapTiles should be in a separate section of "open data" or similar.  Added to that section:

- GADM for administrative areas, https://gadm.org/license.html
- Marine Regions. They have preferred citations, we are using both the [Ma

[2022-09-19 18:58] MortenHofft opened #4283 "GrSciColl duplicate: Humboldt-Toiyabe National Forest"
All 4 institutions has the name `Humboldt-Toiyabe National Forest` and was created during IH syncing 2 months ago
https://registry.gbif.org/institution/0b4f59f2-0e86-4477-85bd-8ed6394a9bcb
https://registry.gbif.org/institution/5804b142-8530-4177-888c-d3ee4791946f
https://registry.gbif.org/institution/e7167423-ea47-40df-88f6-18c9ffe62876
https://registry.gbif.org/institution/6b7d707d-7c18-494f-93b5

[2022-09-20 05:21] gbif-portal opened #4284 "What Are the Tell-tale Signs of a Malfunctioning ECM? Let’s Find Out"
**What Are the Tell-tale Signs of a Malfunctioning ECM? Let’s Find Out**

In this world, change is only constant; it is quite evident in space of automobile. However, businesses never deviate from their top priorities when it comes to innovation. Innovation, on the other hand, gives them a competitive edge in the market and gives customers a unique experience.

The ECM (Electronics Control Module)

[2022-09-20 08:24] mdoering commented on #4220
IRMNG is listed as CC-BY in CLB already as we use it also for COL since a long time:
https://www.checklistbank.org/dataset/2007/about

The official [VLIZ hosted dwca](http://www.irmng.org/export/IRMNG_genera_DwCA.zip
) also mentions CC-BY, but maybe in a non GBIF parsable way:
[code]

[2022-09-20 08:36] mdoering commented on #4220
@ahahn-gbif ITIS as an official governmental dataset is obliged to be CC0 and this is how CLB already handles it:
https://www.checklistbank.org/dataset/2144/about

BUT, the CLB version (ColDP produced by COL+ITIS) is a different one from the GBIF copy (dwca which GBIF produces).
Still I would think we should make ITIS CC0 in GBIF too. Shall I update our dwca builder for ITIS?

ITIS puts it into CC

[2022-09-20 09:00] dnoesgaard commented on #4282
It's really difficult to make something like this look nice with logos of different sizes and formats. I contemplated a table but I would have to hardcode style it. So, for now this is what I can offer:

https://www.gbif.org/article/7ajp2nD76o640qIeMmmiwI/_preview

[2022-09-20 09:01] ManonGros opened #4285 "~5k specimen-related occurrences connected to Bionomia disappear"
Following up on this: https://twitter.com/BionomiaTrack/status/1571614641142353922

@dshorthouse do you happen to know which datasets those records were from?

[2022-09-20 09:39] #4282 closed, assigned to kcopas, dnoesgaard

[2022-09-20 11:22] ManonGros commented on #4263
I added the `Instituto de Biología, Universidad Nacional Autónoma de México` as alternative code for the IBUNAM institution. I believe that it enable the record linking to GRSciColl: https://api.gbif.org/v1/grscicoll/lookup?institutionCode=IBUNAM&institutionId=20&ownerInstitutionCode=Instituto%20de%20Biolog%C3%ADa,%20Universidad%20Nacional%20Autónoma%20de%20México

Now we just need to wait until t

[2022-09-20 11:25] ManonGros commented on #4264
I added `E` as alternative code, will wait until the cache is refreshed and reinterpret the dataset.

[2022-09-20 11:30] ManonGros commented on #4265
I added `MSU` as alternative code for MW. Will wait until the cache is refreshed and reinterpret the data.

[2022-09-20 11:32] ManonGros commented on #4266
Added `JBRJ` as alternative institution code for BR. Will reinterpret the data after the cache is refreshed.

[2022-09-20 13:32] gbif-portal opened #4286 "Map has collapsed"
**Map has collapsed**

The map has collapsed on this page, i assume it has to do with the recent rewrite of components using openlayers, but it might be caused by something else

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/0c0d00a43ce7ac955cb3612f62970cbe:0e266b0c8de76b9229936d30ff8c10fd631477d644e93932965d03af142ff5f21318a9db71952815b19c413f4de7

[2022-09-20 16:58] dshorthouse commented on #4285
Thanks for following-up. Here are some of the hiccups, based of download https://doi.org/10.15468/dl.ymarug (Sep 15, 2022) and one before it, https://doi.org/10.15468/dl.b6v6ex (Sep 1, 2022).

https://gbif.org/dataset/df582950-3b58-11dc-8c19-b8a03c50a862
~1650 links broken via Bionomia
I note a republication event in their IPT Sep 19 w/ change summary, "Update to export routines in our specimen da

[2022-09-20 18:46] AbbyBenson commented on #4285
For this one (https://www.gbif.org/dataset/418a345a-a735-4b4b-bdd5-7012cac82124) we got a little excited and published the dataset but then discovered it would have richer event information when shared through the coming update of the [Native Bee Inventory and Monitoring Lab (BIML)](https://www.gbif.org/dataset/f519367d-6b9d-411c-b319-99424741e7de) so those records will be shared that way very soo

[2022-09-20 18:52] dshorthouse commented on #4285
@albenson-usgs There was content in `identifiedByID`, attributed to https://orcid.org/0000-0001-8943-8196. So, Zach's bees flew away. Hope they'll come back to roost elsewhere :)~

[2022-09-21 12:50] CecSve opened #4287 "Data validator help pop-up empty"
The data validation tool does not necessarily provide helpful information on what the issue relates to. In this case, the parentNameUsageID invalid does not mention why the field is invalid and no help text is present in the ?-bubble

![image](https://user-images.githubusercontent.com/54532645/191508048-220b12d9-2f28-4f7d-851b-0bf56d309fd2.png)

This issue also relates to #3653.

[2022-09-21 17:57] gbif-portal opened #4288 "Data validator shifts in validating and showing 'taxon match none' for the same data table"
**Hola buen día tengo problemas cuando cargo una hoja que ya he cargado y con la que he validado datos me dice que no tiene problemas, cuando utilizo esta misma hoja y monto otros datos me dice que ninguna coincidencia con el taxon, llevo ya un par de días con el mismo error, lo raro es que es la misma informacion que en la hoja que me dice que no tiene problemas**

-----

User: [See in registry](

[2022-09-22 08:49] MortenHofft commented on #4288
Google translate

[2022-09-22 11:41] MortenHofft opened #4289 "GrSciColl mapping: Botanical Database of Southern Africa (BODATSA): Botanical Collections"
Dataset:[Botanical Database of Southern Africa (BODATSA): Botanical Collections](https://www.gbif.org/dataset/d0963cee-1a29-47a2-b9bf-fb0e7690077c)
Published by: [South African National Biodiversity Institute](https://www.gbif.org/publisher/c5f7ef70-e233-11d9-a4d6-b8a03c50a862) (country: ZA)
Records without a match: 1.158.482

[Example record:](https://www.gbif.org/occurrence/3708969850)
[code]
[E

[2022-09-22 11:50] MortenHofft opened #4290 "GrSciColl mapping: Lepidoptera Eastern Fennoscandia (Luomus) (LEPFEN)"
Dataset:[Lepidoptera Eastern Fennoscandia (Luomus) (LEPFEN)](https://www.gbif.org/dataset/0e631111-7b03-4894-8170-e3caeafe4bba)
Published by: [Finnish Biodiversity Information Facility](https://www.gbif.org/publisher/04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1) (country: FI)
Records without a match: 396.093

[Example record:](https://www.gbif.org/occurrence/3437238324)
[code]
[Example lookup](https://api

[2022-09-22 11:53] MortenHofft commented on #4290
The same seem to be the case for `Hymenoptera Eastern Fennoscandia (Luomus)`
https://www.gbif.org/dataset/3fa6a2b8-70d5-487b-b285-a7d0b4f31816 NB that dataset has a few human observations as well

See also this dataset Swiss National Apoidea Databank https://www.gbif.org/dataset/3c40bd29-eb8e-4a0d-93c5-3cb1b7204a4f

[2022-09-22 11:59] MortenHofft opened #4291 "GrSciColl mapping: Palaeontological collection, NHM, Oslo (O) UiO"
Dataset:[Palaeontological collection, NHM, Oslo (O) UiO](https://www.gbif.org/dataset/b2522b78-18ec-4ba6-ba16-9c9e215ce9e6)
Published by: [University of Oslo](https://www.gbif.org/publisher/f314b0b0-e3dc-11d9-8d81-b8a03c50a862) (country: NO)
Records without a match: 202.056

[Example record:](https://www.gbif.org/occurrence/3778304908)
[code]
[Example lookup](https://api.gbif.org/v1/grscicoll/look

[2022-09-22 12:04] MortenHofft opened #4292 "GrSciColl mapping: Vascular plant collections of the Botanical Museum, University of Oulu (OULU)"
Dataset:[Vascular plant collections of the Botanical Museum, University of Oulu (OULU)](https://www.gbif.org/dataset/3e44890f-f821-41a9-b09f-de1d22612db0)
Published by: [Finnish Biodiversity Information Facility](https://www.gbif.org/publisher/04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1) (country: FI)
Records without a match: 151.495

[Example record:](https://www.gbif.org/occurrence/3733448446)
[code]
[

[2022-09-22 12:11] MortenHofft opened #4293 "GrSciColl mapping: Swiss National Coleoptera Databank"
Dataset:[Swiss National Coleoptera Databank](https://www.gbif.org/dataset/b087c908-e2fb-413e-b107-c507b212169f)
Published by: [Swiss National Biodiversity Data and Information Centres – infospecies.ch](https://www.gbif.org/publisher/64ee55c9-570a-42af-b7da-3f13c6b4e5a9) (country: CH)
Records without a match: 150.954

Top collectionCodes:
* [fal](http://hp-nhc.gbif-staging.org/collection/search?q=f

[2022-09-22 12:15] MortenHofft opened #4294 "GrSciColl mapping: Marine Invertebrate voucher specimens at the Florida Biodiversity Collection, Florida Fish and Wildlife Conservation Commission"
Dataset:[Marine Invertebrate voucher specimens at the Florida Biodiversity Collection, Florida Fish and Wildlife Conservation Commission](https://www.gbif.org/dataset/a0a4d131-f53f-43b2-a1ba-254473b8a006)
Published by: [United States Geological Survey](https://www.gbif.org/publisher/c3ad790a-d426-4ac1-8e32-da61f81f0117) (country: US)
Records without a match: 141.197

Top collectionCodes:
* [fsbc i

[2022-09-22 12:20] MortenHofft opened #4295 "GrSciColl mapping: Non-vertebrate Paleontology, Jackson School Museum of Earth History, University of Texas at Austin"
Dataset:[Non-vertebrate Paleontology, Jackson School Museum of Earth History, University of Texas at Austin](https://www.gbif.org/dataset/1f2cfb6f-c91b-498e-80f3-8eeeec688292)
Published by: [The Non-vertebrate Paleontology Laboratory, Jackson School Museum of Earth History, University of Texas at Austin](https://www.gbif.org/publisher/4c1a7622-ff80-419d-b1ba-2037d61f1973) (country: US)
Records wit

[2022-09-22 12:21] MortenHofft commented on #4293
Same story for https://www.gbif.org/dataset/f9ffbc32-a118-43b3-aee8-69f0776b3161

[2022-09-22 12:25] MortenHofft opened #4296 "GrSciColl mapping: Coleção Entomológica do Museu Nacional / UFRJ"
Dataset:[Coleção Entomológica do Museu Nacional / UFRJ](https://www.gbif.org/dataset/375273af-0137-4d4d-9b0c-3c8b107a808b)
Published by: [Museu Nacional / UFRJ](https://www.gbif.org/publisher/4205110f-3f0f-40d8-bd0f-2fa71bc827b5) (country: BR)
Records without a match: 117.269

[Example record:](https://www.gbif.org/occurrence/1944721327)
[code]
[Example lookup](https://api.gbif.org/v1/grscicoll/lo

[2022-09-22 12:27] MortenHofft opened #4297 "GrSciColl mapping: TUR Vascular plant collections of the Turku University, Herbarium generale"
Dataset:[TUR Vascular plant collections of the Turku University, Herbarium generale](https://www.gbif.org/dataset/953c46c5-363c-4bcb-a065-86d66f7ffa77)
Published by: [Finnish Biodiversity Information Facility](https://www.gbif.org/publisher/04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1) (country: FI)
Records without a match: 111.717

[Example record:](https://www.gbif.org/occurrence/1999590329)
[code]

##

[2022-09-22 12:28] MortenHofft opened #4298 "GrSciColl mapping: Herbarium, Natural History Museum of Utah"
Dataset:[Herbarium, Natural History Museum of Utah](https://www.gbif.org/dataset/5b1129a0-0461-46e5-a55c-9195be29c0ff)
Published by: [Natural History Museum of Utah (UMNH)](https://www.gbif.org/publisher/2d6267a0-0561-11d8-b851-b8a03c50a862) (country: US)
Records without a match: 103.004

[Example record:](https://www.gbif.org/occurrence/3427268416)
[code]
[Example lookup](https://api.gbif.org/v1/

[2022-09-22 12:34] MortenHofft opened #4299 "GrSciColl mapping: Botanical Collections of the Åbo Akademi (TUR-A)"
Dataset:[Botanical Collections of the Åbo Akademi (TUR-A)](https://www.gbif.org/dataset/9f6be6a5-fa23-4471-97c6-67cd21bcf53a)
Published by: [Finnish Biodiversity Information Facility](https://www.gbif.org/publisher/04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1) (country: FI)
Records without a match: 72.668

[Example record:](https://www.gbif.org/occurrence/1999649091)
[code]
[Example lookup](https://api.gb

[2022-09-22 12:35] MortenHofft opened #4300 "GrSciColl mapping: KUO Vascular plant collections (KUO)"
Dataset:[KUO Vascular plant collections (KUO)](https://www.gbif.org/dataset/33484712-7b85-4cf5-9a98-5af51f44c255)
Published by: [Finnish Biodiversity Information Facility](https://www.gbif.org/publisher/04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1) (country: FI)
Records without a match: 57.658

[Example record:](https://www.gbif.org/occurrence/3712828323)
[code]
[Example lookup](https://api.gbif.org/v1/gr

[2022-09-22 12:37] MortenHofft opened #4301 "GrSciColl mapping: Waite Insect and Nematode Collection"
Dataset:[Waite Insect and Nematode Collection](https://www.gbif.org/dataset/2a796d4b-d12f-4806-876a-4fbb5e0a63ca)
Published by: [University of Adelaide](https://www.gbif.org/publisher/fc74e3cf-05d9-4f93-b250-7fdbb409bd6f) (country: AU)
Records without a match: 56.490

Top collectionCodes:
* [winc](http://hp-nhc.gbif-staging.org/collection/search?q=winc)

[Example record:](https://www.gbif.org/occu

[2022-09-22 12:38] MortenHofft opened #4302 "GrSciColl mapping: Herbarium Universitatis Daugavpiliensis"
Dataset:[Herbarium Universitatis Daugavpiliensis](https://www.gbif.org/dataset/488416a3-50f1-43a0-a1ce-daf1cdbf84dd)
Published by: [Daugavpils University](https://www.gbif.org/publisher/16f88706-56f2-4e1e-8f39-74782cc1ae27) (country: LV)
Records without a match: 54.910

[Example record:](https://www.gbif.org/occurrence/2366576658)
[code]
[Example lookup](https://api.gbif.org/v1/grscicoll/lookup?da

[2022-09-22 12:46] MortenHofft opened #4303 "GrSciColl mapping: CRIS data set"
Dataset:[CRIS data set](https://www.gbif.org/dataset/6043b710-f1a6-48bb-a473-8b32b1e43408)
Published by: [L.](https://www.gbif.org/publisher/0b00f562-9702-4d6d-b936-406996c60869) (country: RU)
Records without a match: 54.054

Top collectionCodes:
* [kpabg(h)](http://hp-nhc.gbif-staging.org/collection/search?q=kpabg(h))
* [kpabg(l)](http://hp-nhc.gbif-staging.org/collection/search?q=kpabg(l))
* [in

[2022-09-23 09:47] #4266 closed, assigned to ManonGros

[2022-09-23 09:49] #4264 closed, assigned to ManonGros

[2022-09-23 11:17] #4265 closed, assigned to ManonGros

[2022-09-23 11:19] #4263 closed, assigned to ManonGros

[2022-09-23 19:51] gbif-portal opened #4304 "Is being matched to a collection from another institution"
**Is being matched to a collection from another institution**

This record is being matched to both institution and collection, but the collection doesn't belong to the institution. That seems like something that should at least get a flag, if not match at all

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/1c3b5e1b2a53e8822a315b1d2534042f:19e531706

[2022-09-24 05:43] gbif-portal opened #4305 "suggestion to add a synonym"
**suggestion to add a synonym**

Hello, I suggest to add the name "Corynella capitata" as a synonym of "Epitheles capitata". The suggested name is listed e.g. here: https://www.google.de/books/edition/Catalogue_of_the_Fossil_Sponges_in_the_G/lcwKAQAAIAAJ?hl=de&gbpv=1&dq=%22Corynella+capitata%22&pg=PA180&printsec=frontcover

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/aec9

[2022-09-25 05:58] gbif-portal opened #4306 "Aulopora divaricata as synonym of Stomatopora divaricata"
**Aulopora divaricata as synonym of Stomatopora divaricata**

Hello, I think "Aulopora divaricata Röm." is a synonym of "Stomatopora divaricata" as indicated in the literature below. Maybe this taxon name could be added into the list of synonyms?

https://www.zobodat.at/pdf/Palaeontographica_20_1_0001-0319.pdf

https://www.google.de/books/edition/Proceedings_of_the_Yorkshire_Geological/tEIRAAAAIAA

[2022-09-25 06:52] gbif-portal opened #4307 "Mistake in the date"
**Mistake in the date**

Apparently, the date is wrong. I guess it should be "Lithodendron dichotomum Goldfuss, 1826" instead of "Lithodendron dichotomum Goldfuss, 1926" ;)

Best regards

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4fa96aa755de3b2812631ef96b4d6784:462864b9245ff951014ba4266860f24c054f082f75e8507fd9a43a4e4613f4245db13403ad5a77fb95d6fe18d64eee3814d764c157e9b

[2022-09-25 10:09] abubelinha commented on #3973
I found this pair of occurrences which I can't figure out why not in a cluster.

I think they should be for a number of reasons (same taxon, typification relationship, same coordinates, location, collector and date).
But I can't see the "cluster" link at the top:

https://www.gbif.org/occurrence/1936346601
https://www.gbif.org/occurrence/1936158404

[2022-09-25 11:06] timrobertson100 commented on #3973
They are in the same dataset. We only look for links between records across datasets to help e.g. transfer knowledge between institutions.

It's also the case that there are many datasets that would just cluster everything (e.g. gut analysis) that brought a technical consideration with cardinalities, and our feasibility of actually calculating these in a timely manner.

[2022-09-25 15:13] abubelinha commented on #3973
Ah OK. You mean there are datasets which contain lots of repetitive occurrences, don't you?

I should have figured this out. Thanks

[2022-09-25 16:18] gbif-portal opened #4308 "suggestion to add a synonym"
**suggestion to add a synonym**

I suggest to add "Goniaster quinqueloba" as a synonym of "Asterias quinqueloba Goldfuss, 1831" as listed e.g. here:

https://www.google.de/books/edition/Repertorium_zu_Goldfuss_Petrefakten_Deut/9107AAAAcAAJ?hl=de&gbpv=1&dq=%22Goniaster+quinqueloba%22&pg=PA36&printsec=frontcover

https://books.google.de/books?id=sXIrAAAAYAAJ&pg=RA3-PA314&lpg=RA3-PA314&dq=%22Goniaste

[2022-09-26 06:55] ManonGros commented on #4304
Maybe it is because the collection didn't have any institution so no conflict?
In any case, I added the institution to the collection now.

[2022-09-26 08:28] MortenHofft commented on #4304
Shouldn't we mark cases like this with as an issue? Or not match them at all + issue?

[2022-09-26 08:31] ManonGros commented on #4291
@rukayaj would it be possible to add some institution and collection codes and identifiers to this dataset? https://www.gbif.org/dataset/b2522b78-18ec-4ba6-ba16-9c9e215ce9e6, this way it could be linked to its corresponding GRSciColl entry(ies).

[2022-09-26 08:34] ManonGros commented on #4304
good question, would it make sense to flag that under "institution collection mismatch"? Like here: https://www.gbif.org/occurrence/search?issue=INSTITUTION_COLLECTION_MISMATCH&occurrence_status=present. It isn't exactly a mismatch but it isn't a match either. Plus I would prefer not creating new flags if we can avoid it.
@marcos-lg do you think that would be possible?

[2022-09-26 09:00] marcos-lg commented on #4304
It is indeed because the collection didn't have any institution and it wasn't considered a mismatch. But I can change it to add the mismatch flag for these cases too.

[2022-09-26 10:50] CecSve commented on #4279
GBIF crawls the dataset from the source every seven days and the last change was on September 18th 2022.

[2022-09-26 10:50] #4279 closed, assigned to CecSve

[2022-09-26 12:33] CecSve commented on #4288
User has been contacted via help desk.

[2022-09-26 12:51] MortenHofft commented on #4291
Looking at [UiO records for specimens](https://www.gbif.org/occurrence/search?basis_of_record=PRESERVED_SPECIMEN&basis_of_record=FOSSIL_SPECIMEN&publishing_org=f314b0b0-e3dc-11d9-8d81-b8a03c50a862) more broadly I see this flags

[code]

[2022-09-26 13:42] CecSve commented on #4178
The issue seems resolved and I will close it. Please reopen if needed.

[2022-09-26 13:42] #4178 closed, assigned to nobody

[2022-09-26 13:46] CecSve commented on #4147
The original observation on [PlantNet](https://identify.plantnet.org/central-america/observations/1003809728) no longer exist. The observation should be removed from the dataset, but still appears on GBIF.

[2022-09-26 17:38] gbif-portal opened #4309 "Deleting account"
**Deleting account**

I would like to delete my account. Could this process be started please?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/61f42d02e2300b3d4fbcf756f1d0b876:d9ef355aae53947818bab311fc153a6fa342fba9e8bfcdf61e0d547dac34f0e324d540636d2cedf7db25df5474ccd077684ee78ef8fe486d2a1904b4bc0737116ac0b50296a70bed3cd284d705352b8284fcdd5ec88696f3b6a03fd19edaa56a4cb0d2593

[2022-09-26 23:59] rukayaj commented on #4291
Thanks for picking this up! I'll have a look when I'm back from Tajikistan, the week after next.

[2022-09-27 08:16] gbif-portal opened #4310 "数据问题"
**数据问题**

下载Elephas maximus 数据后，斯里兰卡部分分布在海洋里

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7e18b76fce2cfd81d4339c182af310c2:5448ba4bdd30fcb14eec699cc202e375a7d032594baea6421399b26b9c7c8a1137b0fae69da3062bafbc5233548dbc56b1ac8656187de4bbf2b0dbaee862c540287c244fff21f5aa33fff8106e5394061f4736d5fceb150d256ae9c880d196ba) - [Send email](https://www.gbif.org/api/feedback/user/mai

[2022-09-27 09:59] dagendresen commented on #4291
The "**O**" is the code for only the **herbarium** at the University of Oslo -- and should be `**deleted**` as the institution code for UiO in [GRSciColl](https://registry.gbif.org/institution/390f06b3-a81e-41b9-972e-e790e0edfe04)!! The "code" for the institution University of Oslo would rather more appropriate be "**UiO**".
![Screenshot 2022-09-27 at 11 44 45](https://user-images.githubuserconten

[2022-09-27 10:38] ManonGros commented on #4291
Hi @dagendresen you can delete the institution code (or put is as alternative code) but in order to do so, you must first disconnect the entry from Index Herbariorum. Go to the "Master source" tab of the institution page in the registry and delete the master source:
<img width="1249" alt="Screenshot 2022-09-27 at 12 36 41" src="https://user-images.githubusercontent.com/7677271/192504418-9bb210db-b

[2022-09-27 12:03] MortenHofft commented on #4310
translation - though my chinese is a bit rusty ;)

After downloading Elephas maximus data, Sri Lanka is partly distributed in the ocean

[2022-09-27 12:09] MortenHofft commented on #4310
Thank you for taking the time to give feedback

Here is an example record that you reference https://www.gbif.org/occurrence/1291116143

In this case the coordinate uncertainty explains it. I suspect that is the explanation for most if not all of the records

<img width="604" alt="Screenshot 2022-09-27 at 14 06 08" src="https://user-images.githubusercontent.com/6759267/192521122-cd99af5e-f554-4779

[2022-09-27 12:09] #4310 closed, assigned to nobody

[2022-09-28 07:10] esko-piirainen commented on #4231
@CecSve Do you think this might be implemented at some point? If not, we can start making adjustments in our end.

[2022-09-28 08:16] dnoesgaard commented on #4257
Ok done.

[2022-09-28 08:16] #4257 closed, assigned to nobody

[2022-09-28 08:17] dnoesgaard commented on #4258
Excellent suggestion, thanks :)

[2022-09-28 08:17] #4258 closed, assigned to nobody

[2022-09-28 08:50] dnoesgaard commented on #4259
This has been changed in the site translations. It will be available when the translations are merged and the site rebuilt.

[2022-09-28 08:50] #4259 closed, assigned to nobody

[2022-09-28 09:32] CecSve commented on #4231
I think it would be best if you make the adjustments on your end, if possible. Ideally, vernacular names should be mapped to the [vernacularName](http://rs.tdwg.org/dwc/terms/vernacularName) field. @muttcg or @mdoering might have input on whether it would be possible for us to interpret on verbatim name if no scientificName is provided?

[2022-09-28 10:20] mdoering commented on #4231
@muttcg I suppose pipelines could use the [dwc:verbatimIdentification](http://rs.tdwg.org/dwc/terms/verbatimIdentification) value if no scientificName is found and try to match that as if it was a scientificName? There is no way for us to match vernacular names and there is also no plan for us to do so. These are just too unspecific - though they could yield matches in some cases I suppose.

[2022-09-28 13:14] mdoering opened #4311 "dwca validator does not find EML"
see https://github.com/gbif/portal-feedback/issues/4260 and also the validation report of the attached [archive](https://github.com/gbif/portal-feedback/files/9665290/wcvp_dwca.zip) where there is a regular `eml.xml` file linked via `metadata="eml.xml"`

https://www.gbif.org/tools/data-validator/dca59832-93c1-4468-8b9f-43bd3a11d267

[2022-09-28 13:15] mdoering commented on #4260
I have opened a new issue for the EML problem which turns out to be an issue for others too:
https://github.com/gbif/pipelines/issues/791

[2022-09-28 19:07] gbif-portal opened #4312 "Occurrence search fails"
**Occurrence search fails**

https://api.gbif.org/v1/occurrence/search?gadmGid=USA.46_1

this request fails in the backend with
[code]

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/98f070357344a4f6c5582e1946f37d6b:65a9d3a85adafced7dd9d798d8796b69492448710cbb7ef7274ae257dfd4ce76b7cc05b0d8404ddc31537d7cb8612c953bbef187ab21fc64b33137828148acf017e809c

[2022-09-29 06:09] gbif-portal opened #4313 "Schistosoma mansoni - typo in citation, author's name is Sambon (https://en.wikipedia.org/wiki/Louis_Westenra_Sambon)"
**Schistosoma mansoni - typo in citation, author&#39;s name is Sambon (`https://en.wikipedia.org/wiki/Louis_Westenra_Sambon)`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e79c6a0757c980aed60fe584850875bd:868c90e5d47d0967fb8724d1026816b9e2b3d0f61a21045252ec72b055b0369853d34e66d8167e6cf70e673cbc9254229507920b6de4458b6248cbee5fde3c97c36ccca9f84ef0f915e7cefac6f079b53d5a567b

[2022-09-29 07:03] gbif-portal opened #4314 "redirects needed?"
**redirects needed?**

As per https://github.com/gbif/eml-profile/issues/2 figure out if we need to redirect these:

https://www.gbif.org/resource/80640
https://www.gbif.org/resource/80641

(assign to @dnoesgaard)

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/aa2f45c47654b1cb119bfd8b090b04b5:b34205ab6dfc5f6d53fef347598d42c0d2f4070ccf715fb1b9546aca1

[2022-09-29 08:26] CecSve commented on #4267
The dataset is being updated and the issue might be resolved during this process.

[2022-09-29 08:29] CecSve commented on #4147
The dataset is currently being reprocessed and will be updated momentarily. This should resolve the issue eventually.

[2022-09-29 09:45] MortenHofft opened #4315 "IH => GrSciColl contact mapping"
@marcos-lg

It looks like we are mapping contact information oddly from IH. At least in this example.

Notice how we put country into state for example. It looks like everything is off by 1

Relating to https://registry.gbif.org/institution/e0cd510a-a05e-4a39-b00b-6ebb4cb04aeb
http://sweetgum.nybg.org/science/ih/ihh-edit/?irn=252693

[2022-09-29 11:43] CecSve commented on #3469
The contact persons for the dataset has been contacted about the record today.

[2022-09-29 11:50] CecSve commented on #3852
@mdoering are you aware of this issue? It seems to be a backbone issue since the genus is in CoL.

[2022-09-29 11:54] CecSve commented on #3871
Duplicate of #3852

[2022-09-29 11:54] CecSve commented on #3826
Duplicate of #3852

[2022-09-29 12:09] CecSve commented on #3951
The source dataset has been updated and the genus now appears in Mutillidae instead of Formiciae: https://www.gbif.org/species/163210496.

[2022-09-29 12:33] CecSve opened #4316 "GBIFs taxonomic backbone is not displaying as a checklist for some species"
GBIFs taxonomic backbone is not displaying as a checklist for some species. It seems to be included [in some cases](https://www.gbif.org/species/2835389), and in [other cases it is not](https://www.gbif.org/species/7709525). Why is the backbone listed as a checklist in the APPEARS IN section sometimes and in other cases not - could this be consistently included or excluded instead?

I'm in favor o

[2022-09-29 13:04] marcos-lg commented on #4315
Same issue as https://github.com/gbif/registry/issues/444.

The data we fetch from IH is swapped.

[2022-09-29 13:04] #4315 closed, assigned to nobody

[2022-09-29 13:09] CecSve commented on #4094
The occurrence is now back in GBIF: https://www.gbif.org/occurrence/3018027853.

[2022-09-29 13:09] #4094 closed, assigned to CecSve

[2022-09-29 13:12] CecSve commented on #4148
This occurrence is no longer part of the plantnet dataset (source) and will be removed when the dataset is updated. Plantnet is currently reworking the entire dataset to remove poor quality records and this might take a while.

[2022-09-30 16:18] ibdj opened #4317 "Mapping not completing due to basisofRecord (again)"
Hi GBIF,

I am trying to upload an occurrence data set, but when mapping to the DWC the BasisofRecord seem to 'block'. I have tried including it in the file, and also deleting it from the file and using the predefined vocabulary instead, but it simply won't save when I do that. None of those worked. Any tips would be helpful. Thank you in advance.

I have had a similar problem before (https://gith

[2022-10-01 04:39] MortenHofft commented on #4286
That map is still collapsed, perhaps it hasn't been deployed yet?

[2022-10-01 20:20] MortenHofft opened #4318 "NHC: Museo Zoológico de la Universidad Central del Ecuador"
The institution lists the publisher as the data catalog https://www.gbif.org/publisher/4bd72df9-ad50-4399-bc03-deb070e7b65a
but none of the 47 specimens are matched to grscicoll due to the codes not matching.

---
Relating to https://registry.gbif.org/institution/1b198da4-73cd-4854-accc-022718551159

[2022-10-03 06:48] ManonGros commented on #4317
Hi @IBDJ thanks for reporting the issue!
We can't access the dataset if it isn't public. Would it be possible to make it public or send us the archive? Thanks!

[2022-10-03 06:49] #3983 closed, assigned to ManonGros

[2022-10-03 07:02] ibdj commented on #4317
Would I be able to make it public if the occurences haven’t loaded bc of the mapping not conpleting?
I’ll try, or I can definitely send it like last time. Thank you for getting back @ManonGros

[2022-10-03 07:45] ManonGros commented on #4317
Maybe just send it like last time @IBDJ, it will be easier

[2022-10-03 08:03] gbif-portal opened #4319 "Add literature counts"
**Add literature counts**

It is now possible to show literature counts on programme and project pages.
I do not know how prominent we want this to be. It could go into the header, or simply be a small link in the same section as where we show Funding, project Identifier etc.

@MBLaursen you have raised this is the past

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org

[2022-10-03 08:20] MBLaursen commented on #4319
Hi Morten,

this is great!!
I think it would be good to show this information in a prominent way, so I would favor showing this in the header. This is something that is valued by project teams and contribute to demonstrate practical outcomes and use of the data mobilized by Project and programmes.
But this is really great news!

[2022-10-03 12:03] gbif-portal opened #4320 "RecordedBy: "Collector Some name""
**RecordedBy: &quot;Collector Some name&quot;**

This dataset prefix most collector names with "Collector ".
I would think that it made little sense and should simply be the name of the person.

as it is on other examples from the same dataset
https://www.gbif.org/occurrence/2425854032

psst - btw: the collection code couldn't be matched to GrSciColl `LEP633` as there is only one collection and no

[2022-10-03 17:38] gbif-portal opened #4321 "I think you should add the definition of the name."
**I think you should add the definition of the name.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0219813785f7687e9cad239efb6f719b:485873f965cd8fd68abb54bfd147ccedcd4ddfbd1afb92a51d735cf8702a7e12110b558f9de3f45de9fbe030efd28275dc129bc40a9d47a580ad88b1f440925ca1d9f335f46fd7e81f6a4f20465863c5f4e2e63c4aed3c16e32fe78852dd8673) - [Send email](https://www.gbif.org/api/feedbac

[2022-10-04 06:02] gbif-portal opened #4322 "Obvious typo: it should be "Stephens, 1837", look here: https://www.biodiversitylibrary.org/item/34083#page/663/mode/1up"
**Obvious typo: it should be &quot;Stephens, 1837&quot;, look here: `https://www.biodiversitylibrary.org/item/34083#page/663/mode/1up`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f6c6133e4f1423b5dc9298c2bfa714d7:698f7d23b1127fc5712220ff1437381dbc9cb0751008697525c013f59a0946e510c53aef608bae0aa0096ece18609280cf4e0cf046299bc69c2862a8a1de0f4e7e3d01ff7b058e830e31e67dddce46d

[2022-10-04 09:42] MattBlissett commented on #4309
Deleted using the registry console, notified user by email.

[2022-10-04 09:42] #4309 closed, assigned to ManonGros

[2022-10-04 09:48] ManonGros commented on #4309
Thanks @MattBlissett I forgot to follow up

[2022-10-04 12:17] jhnwllr commented on #4232
I decided that collecting these centroids needed more organization, so I made repo to aggregate different centroid sources into one source.
https://github.com/jhnwllr/catalogue-of-centroids

@MattBlissett

[2022-10-04 15:21] EstebanMH-SiB opened #4323 "Spanish interface does not show a date after elements since/registered"
There is a problem with the Spanish interface and the field **Since** and **Registered**, in the other languages it shows the date after the word, in publisher page and in dataset view:
![image](https://user-images.githubusercontent.com/63795703/193856127-dbf12fa7-ffb6-4449-946e-07c3c3da3755.png)
![image](https://user-images.githubusercontent.com/63795703/193858137-a45420ad-6545-45d3-a907-249531d9

[2022-10-04 18:21] gbif-portal opened #4324 "This does not seem to be an accepted species"
**This does not seem to be an accepted species**

-----

Github user: @Squitoense
User: [See in registry](https://www.gbif.org/api/feedback/user/8f7d39402d62eb6dd3fc7d6beaa1332c:4837f9f8b5acab980de9cb793be3347a7b96e76961833de916cdcc16ffb2ed065bf089d08a70a1510f64717621c77f14cebd3315f6a6e25ac958f2ebf21141b2796bcfce3192cf211192b4ec6fcd0d115d6acc34586e0bc5e6fcecbbb988fed4ecd08b901301fbafe882b1b6cb9706

[2022-10-04 18:21] gbif-portal opened #4325 "This does not seem to be an accepted species"
**This does not seem to be an accepted species**

-----

Github user: @Squitoense
User: [See in registry](https://www.gbif.org/api/feedback/user/d7d5bcad5b54ba5a2c79c2dcee8290c9:4de375537b10ee4f73c9f38cd17c994e2b765eae6ad066f180ebb227f8fb36bec10d580f2f7fa30d33e53d407a9d796b43eaf1a97cad59e66bb2230205d6b5c9e6959119ffb117c0adaf653d1ae18cbe428adb271651ca55d707b6122d77c0ceae347bf54e476dcd12ccd709ada855

[2022-10-04 18:21] gbif-portal opened #4326 "This does not seem to be an accepted species"
**This does not seem to be an accepted species**

-----

Github user: @Squitoense
User: [See in registry](https://www.gbif.org/api/feedback/user/7d9cd6004e5a9bdcfe006e71fcecad0c:a99a71201486922080f8b35e9a083ecb09adc0301007110896dbd57308db5175c2f5a6c130ed6e55d9d451a24c7a29e4251602f113cfd829e9dbb503405aa61c1c0516de2729ea052f51483e4996c52ce6d90fc4459634d26783c08336cd602fc965a8eda1d728cd4997745782da43

[2022-10-04 20:29] ArthurChapman commented on #4232
Great job @jhnwllr. Wouldn't be great to have the detailed methodology for each of the centroids.  I know, from looking at Australia's, detailed methodologies are very difficult to find.  Looking at the Australian ones, interesting that you found 9.  I guess some of the more southern ones include Tasmania, whereas many of the others are for mainland Australia.  Good job.

[2022-10-05 00:48] Rmturner24 commented on #4051
See for example Aphis forbesi and Aphis gossypii which are referred to as separate species.
Aphis forbesi:
https://www.cabi.org/isc/datasheet/6200
http://aphid.speciesfile.org/Common/basic/Taxa.aspx?TaxonNameID=1165200
Aphis gossypii:
https://www.cabi.org/isc/datasheet/6204
http://aphid.speciesfile.org/Common/basic/Taxa.aspx?TaxonNameID=1165236

Other recent articles treating these two as separate

[2022-10-05 06:09] gbif-portal opened #4327 "This is synonym of Mystacides niger (Linnaeus, 1758) (https://www.gbif.org/species/1435549) . Linnaeus described Phryganea nigra only: https://www.biodiversitylibrary.org/item/10277#page/570/mode/1up See also: https://www.biolib.cz/en/taxon/id58080/"
**This is synonym of Mystacides niger (Linnaeus, 1758) (`https://www.gbif.org/species/1435549)` . Linnaeus described Phryganea nigra only: `https://www.biodiversitylibrary.org/item/10277#page/570/mode/1up` See also: `https://www.biolib.cz/en/taxon/id58080/`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/67b056df6cc82e478b44ca12284ba6a5:3bc626bc79c8cacab2954a516ea061a30ca0

[2022-10-05 07:28] gbif-portal opened #4328 "Doubtful data"
**Doubtful data**

I am not sure, but as I understand metadata description, this data derived from results of species distribution modelling, not from real field data. Are simulation results a possible data source for GBIF?

-----

Github user: @NatalyaDryomys
User: [See in registry](https://www.gbif.org/api/feedback/user/eebe421f1636ce0c380268129801c645:a8361b8e7b2334b93fa4299326982e1b4a0d183acfa

[2022-10-05 07:38] gbif-portal opened #4329 "foundingDate shows wrong"
**foundingDate shows wrong**

the API has changed behaviour for foundingDate - it is no longer a date, but a year (number)

The website should adapt

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/4167c45f78e145966b74ea720e4919b5:339ac05405b04076a38c3b488766545de6904b6019e1b849a17add7d86659c6e3dd87d9e818c6bd634e3f537b4754e7d249b4b16e8c17df3f03db0464

[2022-10-05 07:39] #4329 closed, assigned to MortenHofft

[2022-10-05 07:45] MortenHofft commented on #4323
Thanks - it is indeed a translation issue. This key https://crowdin.com/translate/gbif-portal/84/en-es?filter=basic&value=0#q=since

[2022-10-05 07:47] MortenHofft commented on #4323
I see you have updated it in crowdin already. I approved it (someone needed to accept it). It will be shown in the next build.

Thank you for correcting that!

[2022-10-05 07:47] #4323 closed, assigned to nobody

[2022-10-05 07:50] MortenHofft commented on #4319
Before doing so I would like @dnoesgaard to confirm that the numbers are correct. I'm surprised to see only 6 results for BIFA for example

[2022-10-05 07:55] MBLaursen commented on #4319
Well I can already say that the number for BIFA is wrong. The latest number Daniel pulled out for me was over 410 peer-reviewed papers using data mobilized by BIFA projects

[2022-10-05 08:06] dnoesgaard commented on #4319
I will pick this up after GB29... (have already discussed a bit with @fmendezh)

[2022-10-05 08:38] gbif-portal opened #4330 "Project with GBIF? page"
**Project with GBIF? page**

Suggesting we build an information webpage that clarifies the ways potential partners can / cannot collaborate with GBIF, including available levels of partnership - with National nodes, regions (where lack of legal entity can be flagged), or with Secretariat, possible levels of partnership (from support letter to funded work package with variants in between),  minimum

[2022-10-05 09:56] gbif-portal opened #4331 "Typo?"
**Typo?**

The Secretariat will you set up with a staging portal scoped to display the GBIF-mediated data you have specified

Should it be
The Secretariat will set you up with a staging portal scoped to display the GBIF-mediated data you have specified

-----

Github user: @vijaybarve
User: [See in registry](https://www.gbif.org/api/feedback/user/e5c27d794d62c6e7ed05f4cac5e68fe8:416ad973d1cd057daf

[2022-10-05 12:06] ManonGros commented on #4328
Thank you @NatalyaDryomys for bringing this dataset to our attention. Predictions are indeed outside of the GBIF scope. We will be following up with the publisher.

[2022-10-05 12:06] #4328 closed, assigned to nobody

[2022-10-05 15:40] ibdj commented on #4317
Yes, I just tried and the datasat can't be published when it hasn't mapped. The dataset is here: https://naturinstitut-my.sharepoint.com/:u:/g/personal/idja_natur_gl/EfMMge6MdgxCgsQpaaGiZqwBznOy8EHDI8yptdwJu7_5uQ?e=sbdMS5

[2022-10-06 00:02] EstebanMH-SiB commented on #4323
Thank you very much @MortenHofft! I guess [this other translation](https://crowdin.com/translate/gbif-portal/80/en-es#9252) for registered also has to be approved by you?

[2022-10-06 12:11] ManonGros commented on #4317
Thanks @IBDJ, I published your data on our test system via our test IPT: https://www.gbif-uat.org/dataset/efbdfa35-4fca-4f2f-ba5f-3a54b3de0f85 I didn't encounter the issue you mentioned.
could you send us a screenshot of the issue in the IPT?

[2022-10-06 12:31] MortenHofft commented on #4319
This dataset is from BIFA
https://www.gbif.org/dataset/6258c1c8-b27e-4497-8079-ac084029b81b
it has 103 citations
yet BIFA only has 6.
Something seems fishy no?

[2022-10-06 13:41] dnoesgaard commented on #4319
Something is definitely off. Example: https://api.gbif.org/v1/literature/452444c9-0b3d-3070-9bf1-f62184f5a076 has several both BID and BIFA projects, e.g.

[code]
etc.

but no programmes:

`"gbifProgramme": []`

[2022-10-06 13:49] dnoesgaard commented on #4319
This seems legit:

https://api.gbif.org/v1/literature/search?literatureType=journal&relevance=GBIF_USED&peerReview=true&gbifProjectIdentifier=BIFA6_026&gbifProjectIdentifier=BIFA6_030&gbifProjectIdentifier=BIFA6_032&gbifProjectIdentifier=BIFA6_015&gbifProjectIdentifier=BIFA6_033&gbifProjectIdentifier=BIFA6_005&gbifProjectIdentifier=BIFA6_029&gbifProjectIdentifier=BIFA6_017&gbifProjectIdentifier=BI

[2022-10-06 13:50] dnoesgaard commented on #4319
(what I'm getting at is that the citations per project would appear to be ok, should we want to include these on project pages)

[2022-10-07 06:32] gbif-portal opened #4332 "Incorrect synonyms - Phyciodes mylitta and Eresia aveyrana subsp. mylitta"
**Incorrect synonyms - Phyciodes mylitta and Eresia aveyrana subsp. mylitta**

Feedback received on helpdesk:

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/7553f1d8e903abddfeada6b91e948c50:cc4c0f8f7cf80eaa17ff337c6a3e2e22627e0e17335c505eea1481f1d266fc21dc93cb6d7f067f361bc95219b3f1161f718c32c74b843d40c4c316ae8d99e7b4ab3b1d1a533e00f4a60c9558cd6ac3fb51

[2022-10-07 09:58] MortenHofft commented on #4319
The website now shows literature counts on project pages
https://www.gbif.org/project/BID-CA2020-012-INS/assessment-and-update-of-data-on-marine-macroalgae-in-hispaniola

[2022-10-07 10:11] mdoering commented on #4040
Odd. They are in different families so the basionym detection will not be applied and still they somehow get marked as homotypic

[2022-10-07 10:20] mdoering commented on #4040
Wait, we dont have these 2 species as synonyms. These are different authors:

[Pepsis cyanea (Linnaeus, 1758)](https://www.gbif.org/species/9417115) in Pompilidae with synonyms:
 - Trichrysis cyanea (Linnaeus, 1758)

[Chalybion californicum (de Saussure, 1867)](https://www.gbif.org/species/1347304) in Specidae with synonyms:
 - [Pepsis cyanea (Fabricius, 1775)](https://www.gbif.org/species/1037199

[2022-10-07 11:05] ManonGros commented on #4040
@mdoering thanks for checking, feel free to close the issues when needed

[2022-10-07 17:06] ibdj commented on #4317
That is quite strange.
What I am encountering is that the basisOfRecord is in red, and saving or adding a translation doesn't help. I can't choose from the drop-down many either:
![image](https://user-images.githubusercontent.com/33222877/194611934-dfb80f3d-cb1d-42cb-acc7-7f8cac18c862.png)
@ManonGros

[2022-10-09 10:59] gbif-portal opened #4333 "what means sdsc"
**what means sdsc**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/a2b64f48900f6535d2bad36dce49cd8a:00382d53d31986eb5d8fd522fde961829faab253da95ba330420c5292e53e26994b19b993e8ef8a441ceee91cbe4f25b174695e0deb09e5a093e151e9447937f247a1b651e3ffbe9fea13cd62f84ba9c92fc7bbce36b1b6037ad3b602dddf5a7) - [Send email](https://www.gbif.org/api/feedback/user/mailto/a2b64f48900f6535d2bad

[2022-10-10 07:19] CecSve opened #4334 "California Academy of Science (CAS) - images not displaying properly for part of dataset"
In the [CAS Herpetology (HERP)](https://www.gbif.org/dataset/cece4fc2-1fec-4bb5-a335-7252548e3f0b) dataset on GBIF.org some images are not displayed e.g., for [this species](https://www.gbif.org/occurrence/gallery?dataset_key=cece4fc2-1fec-4bb5-a335-7252548e3f0b&taxon_key=2421814).

It is probably because the images are displayed [in a viewer](https://archive.org/details/catalogueofdepar18unse/pag

[2022-10-10 12:20] gbif-portal opened #4335 "Taiwancylis cladosium Razowski, 2000 should be Taiwancylis cladodium Razowski, 2000"
**Taiwancylis cladosium Razowski, 2000 should be Taiwancylis cladodium Razowski, 2000**

This is a feedback message we received on helpdesk:

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/10cf5ad5e1e97e3f3f4b9a4811fe4570:8ecce77606ca9d9f4506cb2df53f9178f1f2317a0c1e5da425b9d7f15907770ec72262d76bfdedc9fa900bed087d1dd53ea51aa770c947214915831c3ab15d6c56a

[2022-10-10 12:30] ManonGros commented on #4317
@IBDJ could you ask your IPT administrator to give me temporary access to the IPT and resource? Let's use the helpdesk@gbif.org email address to communicate credentials.

[2022-10-10 12:49] MattBlissett commented on #4334
Either the format for the image should be set to `text/html` (probably easiest)

Or the individual images could be mapped, i.e. https://ia600609.us.archive.org/view_archive.php?archive=/26/items/catalogueofdepar17unse/catalogueofdepar17unse_jp2.zip&file=catalogueofdepar17unse_jp2%2Fcatalogueofdepar17unse_0192.jp2&ext=jpg and https://ia600609.us.archive.org/view_archive.php?archive=/26/items/catalo

[2022-10-10 13:05] CecSve commented on #4334
Thank you for following up @MattBlissett - help desk will contact the publisher and see if it is possible to update the affected records.

[2022-10-10 17:27] ibdj commented on #4317
Sure, I can try that. We could also schedule a meeting, and I can share my screen?

[2022-10-11 07:30] rukayaj commented on #4291
So perhaps we should delete https://www.gbif.org/grscicoll/institution/390f06b3-a81e-41b9-972e-e790e0edfe04 and keep https://www.gbif.org/grscicoll/institution/a9ab29d6-f380-4193-967f-15a64abc09e7 . Thoughts @dagendresen ?

[2022-10-11 08:04] ManonGros commented on #4291
@rukayaj @dagendresen or merge them?

[2022-10-11 08:20] rukayaj commented on #4291
@ManonGros ah yes i'd forgotten about that. I've merged them now 👍

I removed the master source first because I suppose that's going to just re-create it otherwise. It was this, for the records:
[Index Herbariorum](http://sweetgum.nybg.org/science/ih/herbarium-details/?irn=124083)
IH_IRN : 124083

[2022-10-11 08:23] rukayaj commented on #4291
In addition to the institutionID that Dag added, we now have collectionCode, collectionID and institutionCode as well - see e.g. https://www.gbif.org/occurrence/3778286403

[2022-10-11 09:38] KTBL-EstherMietzsch opened #4336 "Typo in German for Echinochloa pyramidalis"
The German vernacular name of Echinochloa pyramidalis (https://www.gbif.org/species/101404648) should be "Antilopengras" with  'n' after 'A'. "Antilope" is the German translation of English "antelope"

[2022-10-11 10:56] ManonGros commented on #4291
Thanks @rukayaj, when the GRSciColl cache is refreshed (in a few days), we will reinterpret the data and this should tidy the linking.

[2022-10-11 11:31] gbif-portal opened #4337 "Broken images"
**Broken images**

It appears as if most images are broken. they are missing their identifier

https://www.gbif.org/occurrence/gallery?dataset_key=cd6e21c8-9e8a-493a-8a76-fbf7862069e5

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/27b756117b2ee4fa3f131352963a5e21:b06c8d5514202f30f96565acd7a3b2a710aa19e021ebdcee82a249751d85b9c1ee4f4a92efcc993f8a6d15

[2022-10-11 15:25] MattBlissett commented on #4337
Duplicate of #1598, and I hear Kew are working on it.

[2022-10-11 15:25] #4337 closed, assigned to nobody

[2022-10-11 16:02] Thomas-Le-Bourgeois opened #4338 "Setaria pumila / Setaria helvola"
Dear GBIF team

it is mentionned in GBIF BD that  Setaria helvola (L.f.) Roem. & Schult. is the accepted name of Setaria pumila (Poir.) Roem. & Schult.

https://www.gbif.org/species/5673972

But in many other taxonomical BD S. helvola is considered a synonym of Setaria italica (L.) P.Beauv.

S. pumila is not considered a syn of S. italica and it does not look like S. italica

http://www.worldflora

[2022-10-12 03:45] MortenHofft commented on #4337
I had a feeling I had mentioned it before. 4 years ago apparently.

[2022-10-12 08:26] jhnwllr commented on #4209
COL appears to have the correct family **Chironomidae** for **Microtendipes** .

So it should get updated in next backbone build.

[Biota](https://www.catalogueoflife.org/data/taxon/5T6MX) >kingdom: [Animalia](https://www.catalogueoflife.org/data/taxon/N) >phylum: [Arthropoda](https://www.catalogueoflife.org/data/taxon/RT) >class: [Insecta](https://www.catalogueoflife.org/data/taxon/H6) >order: [D

[2022-10-12 08:36] #4331 closed, assigned to nobody

[2022-10-12 11:23] ManonGros commented on #4291
@rukayaj @dagendresen it looks like the collectionID, institutionCode and collectionCode were only added for the first 100,000 occurrences (that's how it looks like in the archive).
It looks like it might not be intentional. Could you take a look? Thanks!

In addition to that, it would be great if you could use `5c058644-6da2-47ea-ba73-7544ad8b05aa` as collectionID instead of `https://www.gbif.org

[2022-10-12 11:31] rukayaj commented on #4291
Oh!!! I know why, I'll fix it now.

[2022-10-12 12:10] jhnwllr commented on #4326
The species is **Phoenix hybr** apparently meaning "Phoenix hybrid", which should probably not be an accepted name.
https://www.gbif.org/species/6709545

The species appears in the **GRIN Taxonomy** which is hosted by GBIF and the contact is a former GBIF employee.
https://www.gbif.org/dataset/66dd0960-2d7d-46ee-a491-87b9adcfe7b1

Not sure if this is fixable in an easy way.

[2022-10-12 12:13] jhnwllr commented on #4325
https://github.com/gbif/portal-feedback/issues/4326

[2022-10-12 12:13] jhnwllr commented on #4324
https://github.com/gbif/portal-feedback/issues/4326

[2022-10-12 12:25] jhnwllr commented on #4313
Found in
**Integrated Taxonomic Information System (ITIS)**
https://www.gbif.org/dataset/9ca92552-f23a-41a8-a140-01abaa31c931

[2022-10-12 12:42] jhnwllr commented on #4313
@NickleDave, I was told you might be able to fix things in ITIS?

[2022-10-12 12:58] rukayaj commented on #4291
Done

[2022-10-12 13:33] jhnwllr commented on #4305
Found in
**The Paleobiology Database**
https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

[2022-10-12 13:36] jhnwllr commented on #4305
@DaveNicolson do you have access to ITIS?

[2022-10-12 13:36] jhnwllr commented on #4313
@DaveNicolson do you have access to ITIS?

[2022-10-12 16:00] DaveNicolson commented on #4313
Authorship for this name did not come from ITIS. Here are the cited sources for the name (and in some cases an authorship) in GBIF... TAXREF appears to be the source, although why it is used in the GBIF Backbone Taxonomy is not clear to me...:

APPEARS IN 8 CHECKLIST DATASETS:
**[GBIF Backbone Taxonomy]**(https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c)
As [Schistosoma mansoni **

[2022-10-13 03:27] gbif-portal opened #4339 "The locality refers to "Academy of Natural Sciences of Philadelphia" which is not in PH/ Philippines."
**The locality refers to &quot;Academy of Natural Sciences of Philadelphia&quot; which is not in PH/ Philippines.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/81a16b949543a8489ee7696d9ec6e679:70244fdf078b18051b87a60d7e20e92438c4b42f555cce973c2bad1144cc554a962c693561d0a1b767605dec10ea0e2109ced2b24b36abf35c843f0b9c602503fe2a40dfcacd1c5ae017cc9886c587f581d814e91e2cf987be2d

[2022-10-13 06:54] MortenHofft commented on #4339
Thank you for your feedback. I *think* this is a misunderstanding, but feel free to correct me.

According to the data it is **collected** in Philippines
but currently **is stored** is in the Rutgers University Herbarium in New Brunswick, USA

I do not see anything in the data stat states that "Academy of Natural Sciences" is located in the Philippines

[2022-10-13 12:55] esko-piirainen commented on #4231
@CecSve @mdoering
What is stated above would be perfect

(We don't care about vernacular names in this case -- I mentioned them just as an example of why we do not want to put "unknown" names to dwc:scientificName field -- since the names are unknown, we do not know if they are scientific or vernacular or other names.

Any idea if this could be implemented and when?

[2022-10-13 17:17] mikeroswell opened #4340 "Wallengrenia egeremet.. a subspecies of W. otho?"
Wondering if the backbone taxonomy is severely out of date on this species. NatureServe lists a species *Polites egremet* https://explorer.natureserve.org/Taxon/ELEMENT_GLOBAL.2.112413/Polites_egeremet. The taxon concept matches the backbone name *Wallengrenia egermet*, which seems to be considered a separate species (e.g., [Burns 1985 ](https://repository.si.edu/handle/10088/5459)) and is listed

[2022-10-13 17:54] gbif-portal opened #4341 "Phragmites australis subsp. americanus marked as P. australis australis"
**Phragmites australis subsp. americanus marked as P. australis australis**

Several records of Phragmites australis subsp. americanus in Minnesota are being marked as Phragmites australis subsp. australis under the accepted name. This is in contradiction to the applied name given as well as the ID from herbarium specimens.

Not sure if the system is accidentally applying P. australis australis to

[2022-10-14 01:13] paturikusenpai commented on #4339
Thank you for your comment.

I assessed the herbarium sheet itself and it has several important data that are missing. Namely, the specific locality where it was collected, the collector, and the collection number. Nowhere in the voucher specimen can imply that it was collected from the Philippines, hence, it must not be assumed that it was collected in the said country. Also, _Anemia phyllitidis_

[2022-10-14 06:49] mdoering commented on #4231
@fmendezh @muttcg would be best to know. It does not sound very  difficult.

[2022-10-14 08:20] ManonGros commented on #4340
@mikeroswell the last backbone update was almost a year ago so it isn't up to date.
However, in this particular example I suspect we might have an issue we our system incorrectly inferring a synonymic relationship. I logged it and we will investigate.

In any case, if you want to read more on how our backbone taxonomy is generated and maintained, you can check this blogpost: https://data-blog.gbif

[2022-10-16 07:56] gbif-portal opened #4342 "Author citation for *Varanus varius*"
**Author citation for *Varanus varius***

Dear GBIF team,
The author citation for *Varanus varius* should be (White, 1790) as John White described the species in 1790 (as *Lacerta varia*).
Original article reference: White, J. 1790. Journal of a Voyage to New South Wales, with sixty five plates of non-descript animals, birds, lizards, serpents, curious cones of trees and other natural productions.

[2022-10-16 08:56] gbif-portal opened #4343 "Incorrect year for author citation"
**Incorrect year for author citation**

Dear GBIF team,
*Centropus phasianinus* has the incorrect year assigned to its author citation. It should be (Latham, 1801) instead of (Latham, 1802).
Original article: Latham, John. 1801. Supplementum Indicis Ornithologici, sive Systematis Ornithologiae. G. Leigh, J. & S. Sotheby, London.: i-lxxiv.

Best regards,
Penelope Mills Ph.D.

-----

User: [See in r

[2022-10-16 22:37] gbif-portal opened #4344 "Dear GBIF team,"
**Dear GBIF team,**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d8cd8e091fe8eef3b38ad827ebf4ba1c:061cf9ad5bf23f6d45567149b915053604f0b6de026838f32703fe6328d6c0573bdd1008d9c74096ea5fec30a0300fe9f11bb9bba63b59b38ada9a4e57c28f94c65277ce9979651b9a37439972eddd09b2f55ac68a5fb5bf2d97d0b401e64831ac08ac3df6c3b2930fccad1573466fce) - [Send email](https://www.gbif.org/api/feedback/u

[2022-10-16 22:38] gbif-portal opened #4345 "Dear GBIF team,"
**Dear GBIF team,**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0ba7ee794783ccb8d8bfb2658016bcfd:bbaa8122b7f90003e37b3ca9bab71d9af3d8f36cdfcfbdd65aa63c49e0f528108e9fe081c8ba99914c0537befe579267b8977a70a757ca38cd69b8ac1f94e66d572a75e70b474d599bb313b42463dda518607958434d16ffd9f03eb991a544d9199d8d02804fd2426336ae2c314c54cf) - [Send email](https://www.gbif.org/api/feedback/u

[2022-10-16 22:38] gbif-portal opened #4346 "Dear GBIF team,"
**Dear GBIF team,**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7560a86cf2b232618b22a6ca48c33bec:afed2290ba41a880452ea455027a94fec1a45803bb985dc6beb6460e89f70334dd96529d795006e05cb8f8fd93ac5c4e8b2cf7837447da4e52dc8bb51cc4fba7e8c315cc3209612e4dc2e33409482a82865e83d45f72c4f51a05991699e47f6738436cbad28b2e05a82c027e8db13100) - [Send email](https://www.gbif.org/api/feedback/u

[2022-10-16 22:45] gbif-portal opened #4347 "Dear GBIF team, The issue (apart from now having enter as a submit button) is this species is a synonymy of *Phyllocharis cyanipes* (Fabricius , 1775). Article with taxonomic decision for synonymy: Weise, J. 1916. Chrysomelidae: 12. Chrysomelinae. Schenkling, S. (ed.) Coleopterorum Catalogus. Pars 68. Berlin : Junk. 1-255 pp. [201] (callizona Dalman, 1824: 21 and cyanipennis Baly, 1855: 174 vars of cyanipes Fabricius, 1775: 98). Please update the taxonomic status of this species. Also, there is no species page for *Phyllocharis cyanicornis* (Fabricius, 1801) even though this is a relatively common species (9-spotted leaf beetle). See: https://biodiversity.org.au/afd/taxa/7ba52155-a1bb-47ed-9ab5-4934a7271deb. Best regards, Penelope Mills Ph.D."
**Dear GBIF team, The issue (apart from now having enter as a submit button) is this species is a synonymy of *Phyllocharis cyanipes* (Fabricius , 1775). Article with taxonomic decision for synonymy: Weise, J. 1916. Chrysomelidae: 12. Chrysomelinae. Schenkling, S. (ed.) Coleopterorum Catalogus. Pars 68. Berlin : Junk. 1-255 pp. [201] (callizona Dalman, 1824: 21 and cyanipennis Baly, 1855: 174 vars

[2022-10-17 08:19] #4346 closed, assigned to nobody

[2022-10-17 08:19] #4345 closed, assigned to nobody

[2022-10-17 08:19] #4344 closed, assigned to nobody

[2022-10-17 09:33] #4286 closed, assigned to thomasstjerne

[2022-10-17 09:51] MortenHofft commented on #4339
Thanks for getting back. I will reopen the issue as an issue related the published data.

[2022-10-17 12:34] gbif-portal opened #4348 "你能帮我下载Pseudapocryptes elongatus的世界分布图吗"
**你能帮我下载Pseudapocryptes elongatus的世界分布图吗**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9a1b2a1e3e10dd9e3df4e5713e1635a1:7ac80bcae5b1cb177f4fab365f5e5f719995738c75465f9edb392a86e84f2b6483ec9a3ee9d0b835105dde90390c847fd5d5a0d18c7348f9411d10ceaecf710e9ab620c9a712fd429f129a51cd8c4d2481c98da9354772abb5b9d6c913ba3607) - [Send email](https://www.gbif.org/api/feedback/user/mailt

[2022-10-17 13:04] ut-entomology opened #4349 "Diptera backbone continues to be a mess - Pherbellia is not a Tachinid"
Is there a timeline for when the numerous already reported errors in the Diptera backbone can be expected to be fixed? Lots of random taxa remain incorrectly in Tachinidae, including even type genera for other families, like Musca/Muscidae.

To these, I'll add the genus Pherbellia has also been placed incorrectly in Tachinidae: https://www.gbif.org/species/1444342

[2022-10-17 17:34] gbif-portal opened #4350 "OBIS portal search doesn't show the network"
**OBIS portal search doesn&#39;t show the network**

I think we used to have a special search result for OBIS to the network page.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f62268c19e422f613002f0a5889a0105:c584b9b7132eef39ba94f2e390acc7f57afad651b56a86ad37905f107dae33cac670d86af584586f5add1ba64a53593b8a4a281f2be95c3a4b7e37b52b0aff3ac120b0a0b98e486017b55a53dc19cc5c3bf6f

[2022-10-17 19:08] gbif-portal opened #4351 "Duplicate records"
**Duplicate records**

I was just inspecting related records for the following record (https://www.gbif.org/occurrence/656975236/cluster). I noted that Fishes of Texas is publishing one of our records again with a different identifier (first of related records).  This record is the same as the voucher record from our voucher collection (listed as the last related record in the above).  Does this n

[2022-10-18 01:39] gbif-portal opened #4352 "Hello,"
**Hello,**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c29a0cd4a6605789cd8055f522682576:91156653fc06f231027f9ce58099842b960c452e0cd579ac215831fb75cf22fc0b36711d9742ef3edb2c8926eea0f523aa81a6607616f027dea3235f2dbecb0daeb62efa6803ee3b0b889ff33218b0f93d99700b372d05158db47f81bd65aad62b0924ed66583460b11ce4e260cac187614c7caab47e5ba244e33bea58eee80e50e121a74cde79a06c888257bed42

[2022-10-18 01:53] gbif-portal opened #4353 "Validator: Meta.xml not found"
**Validator: Meta.xml not found**

The validator does not find the meta.xml file. Please see http://www.gbif.org/tools/data-validator/ffee511b-a5e6-480a-a8ab-bb112ecd8908
I already tried to rename the meta.xml to eml.xml, same error.
Please see http://www.gbif.org/tools/data-validator/e6453591-8859-49e8-9f24-3df62373df39 f

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4a4e

[2022-10-18 04:51] MortenHofft commented on #4352
likely duplicate of https://github.com/gbif/portal-feedback/issues/4353

[2022-10-18 04:51] #4352 closed, assigned to nobody

[2022-10-18 04:53] MortenHofft commented on #4348
google translate:

[2022-10-18 06:47] dbloom commented on #4351
@acbentley As a middleman in the publication of this dataset, I have no way to know that there exists a duplicate record with a different occurrenceID. If I can't know that, I am pretty certain that FoTx don't have any idea that this is a duplicate either. I would recommend that you contact them to find out if they are aware of the duplication. In the long run, the removal of the record will need

[2022-10-18 11:15] gbif-portal opened #4354 "Problem with Species Checklist download"
**Problem with Species Checklist download**

I had a request to know how many species are documented in the U.S. in GBIF. Admittedly this is a difficult question to answer effectively but I used the species checklist download to get at least the order of magnitude answer. However, after showing [this download](https://doi.org/10.15468/dl.w4tjdz) to John Waller we believe something may be going wro

[2022-10-18 11:26] gbif-portal opened #4355 "download has no contributing datasets"
**download has no contributing datasets**

Failure of the registry API during the download ...

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/90c2eaa8723224b31d4484ddbd3b4075:a554d175139ec3b02656e0854273c9b05df11aa0a26fdbc96eb31219da41624c3328e5e8604694ffefb737291e76e9855c539593185c4b2a0152c88dc45e4074448c23612a6506a2c39d37372980c7ff2d897209d43f3639

[2022-10-18 11:40] dnoesgaard commented on #4355
a few more...

[1] "0010553-190415153152247 has 0 datasets"
[1] "0010877-190415153152247 has 0 datasets"
[1] "0010544-190415153152247 has 0 datasets"
[1] "0010558-190415153152247 has 0 datasets"
[1] "0010875-190415153152247 has 0 datasets"
[1] "0010547-190415153152247 has 0 datasets"
[1] "0010890-190415153152247 has 0 datasets"
[1] "0010896-190415153152247 has 0 datasets"
[1] "0010565-190415153152

[2022-10-18 19:25] gbif-portal opened #4356 "how to cite data downloaded via rgbif package"
**how to cite data downloaded via rgbif package**

If I download data via the webpage, I get a DOI to cite. If I download data via the R Package rgbif with `occ_search`, how should I cite the resulting data?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0085d89585de9d11e9d786a35f9eb4a1:a77538b8789835ea6e6ba74e230f8b65a99074ca4e1358f971f6f247eb7a26804c737004cb89ef96b396cedd

[2022-10-19 09:32] abubelinha commented on #2885
@tucotuco do you know if that VertNet conference recording is stored somewhere else?
@ahahn-gbif link didn't work for me either.
I also [found an archive.org version](https://web.archive.org/web/20210429213500/https://idigbio.adobeconnect.com/_a1130716096/p893lqq26wj/), but at least in my browser it doesn't work.

Some other links were dead too, but I relink here to archive.org versions which work

[2022-10-19 10:05] dnoesgaard commented on #4252
This happens more and more frequently. Here's another one:

https://www.gbif.org/derivedDataset/10.15468/dd.2u7f3z

I'd love to see a fix soon.

[2022-10-19 11:12] gbif-portal opened #4357 "please update derived dataset"
**please update derived dataset**

Please update the relatedDatasets of this dd.

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/e38ce2d2fa0c33d3aaef6d837c09ee55:2ef05bb49a60814f786fa72d4a8465718acc900532519b85284a3face15bac37e61e152d4af1c738fe24a8ea5929f44a99645c57f7f9c78dfc6996fff1ae38373d263f05a331170f075458c6eff342adb046d68acb8b991696cf947851710e

[2022-10-19 11:13] dnoesgaard commented on #4357
details in file:
[hyperArid_dd.csv](https://github.com/gbif/portal-feedback/files/9819885/hyperArid_dd.csv)

[2022-10-19 11:22] MortenHofft commented on #4350
It relies on keywords to be filled in Contentful and to have the correct casing which is lower case. Perhaps we used to have a normalizer that lowercased it for search.

The way it works is that it does a term query for the keyword lower cased. And results that use that exact keyword is bumped to the top of the page (normally we show resource results last). Since we cannot compare scores against i

[2022-10-19 12:31] dnoesgaard commented on #4350
Contentful now only allows lower-case in the keywords for all relevant content types

[2022-10-19 14:14] AbbyBenson commented on #4350
I just tested and this it working now for me where it wasn't previously. I searched using both "obis" and "OBIS" and the network is now showing at the top. Thanks!

[2022-10-19 17:42] acbentley commented on #4351
Thanks.  I just sent an email to Dean Hendrickson and Adam Cohen at Texas to see if they could remove KU records from their publishing.  This is clearly not best practice especially seeing as their KU records both have different GUIDs and different collection acronyms.  We will see what they say in reply.

[2022-10-19 17:59] Andreas-Bio opened #4358 "Species and Synonym are identical"
![image](https://user-images.githubusercontent.com/19622117/196769030-9a15fb49-5ce5-41ac-8e14-c2da3f951a01.png)

The synonym with the typo is in the backbone taxonomy but not the accepted name? Is it possible to add it?
https://www.gbif.org/species/1340610

Thanks!

[2022-10-19 21:49] #4350 closed, assigned to nobody

[2022-10-23 06:39] gbif-portal opened #4359 "https://www.gbif.org/occurrence/2862872854"
**`https://www.gbif.org/occurrence/2862872854`**

Year is incorrect. Its 1873 and not 1973

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1e44f6c2368aebe2170db591f947f4b4:5e990a6d18ed6d0f5174e1c409f5a276b9923c4720d4c3c94430a325627437973dc687088c51168e2ca4dcf01563e409dd5eb09595d49f0d1405a96d85d53cba579f76972c50069258d0f051e7af8093553981315b0cfa49bb412c131eb7069d) - [Send ema

[2022-10-23 10:49] gbif-portal opened #4360 "Crassostrea (Magallana) gigas"
**Crassostrea (Magallana) gigas**

I noticed that is missing one area (in Portugal) were this species has been introduced for aquaculture: Ria da Alvor (Algarve).
During a fiel visit one of the producers told us he is using natural oysters, that means without any genetic manipulation.

https://apambiente.pt/sites/default/files/_SNIAMB_A_APA/Publicacoes/Guias_Manuais/Boas_Praticas_Cultivo_Ostra.pdf

[2022-10-24 09:53] gbif-portal opened #4361 "Many marine Siphonophora occurrences matched to milipedes"
**Many marine Siphonophora occurrences matched to milipedes**

Many marine Siphonophora occurrences are only given as genus Siphonophora which is a homonym and the accepted name are milipedes. From 11142 records over 10k are marine and therefore not milipedes.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/77afe531c4eaabb34a72162fb6e41753:006a54cd871258e41e84fa433cdca1f6363

[2022-10-24 09:54] mdoering commented on #4361
See https://mobile.twitter.com/rdmpage/status/1584121572045905920 and this helpdesk mail 👍

[2022-10-24 09:57] mdoering commented on #4361
![image](https://user-images.githubusercontent.com/327505/197500684-a4dbf949-7427-4a9e-ae8f-2129a027a5cb.png)

![image](https://user-images.githubusercontent.com/327505/197500733-e6613a35-14ea-4b8e-ad14-afdd71b462b3.png)

[2022-10-24 10:16] mdoering commented on #4361
many marine datasets involved:
<img width="401" alt="image" src="https://user-images.githubusercontent.com/327505/197502668-b925e8e0-b79a-48e6-be8f-d4ffb6ddedf7.png">

There are actually 3 Siphonophora genera in the Backbone:
https://www.gbif.org/species/search?q=Siphonophora&rank=GENUS&qField=SCIENTIFIC
<img width="886" alt="image" src="https://user-images.githubusercontent.com/327505/197502943-f

[2022-10-24 10:22] mdoering commented on #4361
It would really be desirable to have the name matching be environment aware, i.e. you could supply an optional parameter marine, freshwater, terrestrial to disambiguate taxa of those environments only. COL has started to capture this, but it is not complete. It seems by just keeping sea vs land distinct we would have a very valuable additional hint for the matching

[2022-10-24 13:54] mdoering commented on #4361
https://www.gbif.org/species/203130334

[2022-10-24 14:01] mdoering commented on #4361
@ahahn-gbif @timrobertson100 The [plankton datasets](https://www.gbif.org/dataset/36449c1f-679d-4235-b34e-1c275ebcd968/metrics) involved here contain all kinds of taxonomic groups, so it is impossible to provide dataset wide configurations that set the classification and give matching hints:

<img width="1351" alt="image" src="https://user-images.githubusercontent.com/327505/197543319-ad40e3da-f5e

[2022-10-24 14:06] timrobertson100 commented on #4361
Makes sense to implement, although here I suggest we start by asking the publishers to provide some higher taxa if they can.

With the forthcoming backbone, this will at least be an ambiguous lookup and snap to Animalia I presume, right?

[2022-10-24 15:40] Archilegt commented on #4361
See also how one of four Siphonophora treatments displays no data.
https://www.gbif.org/species/1011357/treatments
Is that a Plazi treatment? How many broken treatments like that are there in GBIF?

![image](https://user-images.githubusercontent.com/60008120/197567174-60b484c2-4115-43fe-b886-59e07f742cc0.png)

[2022-10-24 17:25] gbif-portal opened #4362 "Como registrar especies con evidencia fisica: foto, video o sonido"
**Como registrar especies con evidencia fisica: foto, video o sonido**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1d77ea6520a6289d5ed50ca600da28ae:110df4e74ddcd5d1755788046b5069428547969094bc7142b13347dfc51279249bde9d38a1bf5d53229fa4ebb7c3ec919b04f456e60fe73cdd2def542c79616088550ed34857d3554b8ab29a251b2367c4a76bd8f10c4958acee389d0e0b6d827049310504559aa00036ec7064d09eb2f

[2022-10-25 13:47] gbif-portal opened #4363 "Chamaecelyphus gutta (Speiser, 1910) ="
**Chamaecelyphus gutta (Speiser, 1910) =**

Chamaecelyphus gutta (Speiser, 1910)
 (record https://www.gbif.org/species/1617302) is currently marked as deleted. This is, however, a bit misleading.  There's nothing wrong with the name as such. It does not represent a valid taxon, but the name in itself is perfectly fine (and has been used quite a bit).

It should be connected with  Spaniocelyphus gu

[2022-10-25 15:41] MortenHofft commented on #4362
Google translate

[2022-10-26 07:23] jhnwllr commented on #4356
(Responded via email)

Please see this article Citing GBIF Mediated Data.
https://docs.ropensci.org/rgbif/articles/gbif_citations.html

You can also leave any further questions regarding rgbif here:
https://github.com/ropensci/rgbif/issues

[2022-10-26 07:23] #4356 closed, assigned to jhnwllr

[2022-10-26 07:49] gbif-portal opened #4364 "dates changed due to time zone change on event level"
**dates changed due to time zone change on event level**

the overview of project is correct, but when you click on individual project page the end dates are wrong by 1 day i.e.
https://www.gbif.org/project/CESP2021-007/extending-knowledge-on-biodiversity-data-quality-and-publication-in-the-spanish-speaking-community should end on the 30th

-----

User: [See in registry](https://www.gbif.org/api/f

[2022-10-26 08:49] ManonGros commented on #4360
@CecSve something for the dataset catcher?

[2022-10-26 09:01] gbif-portal opened #4365 "Sericanthe assimilis Sond. doesn't exist as a name"
**Sericanthe assimilis Sond. doesn&#39;t exist as a name**

Sericanthe assimilis Sond. was apparently once listed in error in Tropicos and from there it was included in the Plant List. However, such a name has never existed.
http://www.theplantlist.org/tpl1.1/record/tro-50331354

It has been removed from Tropicos, but I am raising the issue here to try to clean it up elsewhere.

-----

Github user

[2022-10-26 09:06] qgroom commented on #4365
I'm wrong, it is still listed in Tropicos [https://www.tropicos.org/name/50331354](https://www.tropicos.org/name/50331354).

Nevertheless, I have it on good authority (Elmar Robbrecht, expert in Sericanthe) that this name has never existed.

[2022-10-26 10:15] timrobertson100 commented on #4361
I'm in favor of 2 as well, and the machine tags are ideally suited to this.

I'm not sure we expect the matching service to have any knowledge of datasets, nor the performance hit of pulling dataset metadata. Perhaps the match should allow the caller to pass in an `exclusionScope` as a parameter, and the pipelines (which does know about the dataset it is processing) pull the tags and add it? (you

[2022-10-26 10:23] mdoering commented on #4361
Yes, that was exactly what I was thinking. Pipelines would consult the registry to find exclusions (or default classifications) that are then passed to the matching

[2022-10-26 10:33] timrobertson100 commented on #4361
That seems like a reasonable approach to me.

One alternative I can think of is the ability to inject custom interpretation. Imagine a machine tag allowing the registration of a function (e.g. JS using [nashorn](https://docs.oracle.com/javase/10/nashorn/introduction.htm#JSNUG136)):

[code]

This would open the door to selectively fixing data and is something we've pondered before but discounted as

[2022-10-26 13:07] gbif-portal opened #4366 "Deleted dataset appears in dataset search and on country metrics + inconsistencies in number of occurrences"
**Deleted dataset appears in dataset search and on country metrics + inconsistencies in number of occurrences**

This was reported by our Korean Node. They noticed that datasets that they had deleted such as this one: https://www.gbif.org/dataset/32b1a6dc-7332-42b8-adf9-317e5246f595 appeared on their country page metrics. They also noticed that they came up on the dataset search results as well as

[2022-10-26 14:58] SophiePamerlon opened #4390 "Keywords section of the metadata"
Hello,
I've been wondering for a while where do the metadata keywords appear on a dataset's GBIF page after publishing? I can see the geographic description & taxonomical keywords (when available) but not the general keywords from the 'Keywords' metadata section.
Thanks for your help!

[2022-10-26 16:14] mike-podolskiy90 commented on #4390
@SophiePamerlon Thank you for your question. I think they aren't displayed at the GBIF portal

[2022-10-27 11:53] ManonGros opened #4367 "Pensoft datasets with zero occurrences - BG"
- [ ] https://www.gbif.org/dataset/5a4a9a16-179e-4079-880b-6c0a9525bea6 by Biodiversity Data Journal
- [ ] https://www.gbif.org/dataset/a53b8dbb-067c-49d3-83b8-d9d8f55f0e37 by Biodiversity Data Journal
- [ ] https://www.gbif.org/dataset/ab9ad498-57ad-41fb-913d-4b71a5a1e29d by Biodiversity Data Journal
- [ ] https://www.gbif.org/dataset/cc6bca37-228e-482b-8777-68cbd978ca1e by Biodiversity Data Jour

[2022-10-27 11:56] ManonGros opened #4368 "DE datasets with zero occurrences"
- [ ] https://www.gbif.org/dataset/929d10ff-6f80-4ab3-a422-509c6721d402 by BioFresh
- [ ] https://www.gbif.org/dataset/9a0a4061-c7b5-43f2-abf2-bbd978a686ad by BioFresh
- [ ] https://www.gbif.org/dataset/a779af82-1422-4b00-9e7f-8e1c1f07bea2 by BioFresh
- [ ] https://www.gbif.org/dataset/00eb5629-35bc-439c-afe4-3c8d5ac51360 by Deep-sea OBIS node
- [x] https://www.gbif.org/dataset/248832e4-ddab-4b2f-

[2022-10-27 12:01] ManonGros opened #4369 "TW datasets with Zero occurrences indexed"
- [x] https://www.gbif.org/dataset/18680b2b-84db-4d45-8acd-0b0e9467fb33 by Taiwan Biodiversity Information Facility (TaiBIF)
- [x] https://www.gbif.org/dataset/12f0a851-62f6-464d-8da9-7c92e1ed4ec7 by Taiwan Forestry Bureau
- [x] https://www.gbif.org/dataset/35fd702c-c615-4fb2-a7ed-5ab0e1f0946c by Taiwan Forestry Bureau
- [x] https://www.gbif.org/dataset/b5e26f14-c003-4c43-8e80-4287bbfb0cf1 by Taiw

[2022-10-27 12:06] ManonGros opened #4370 "Datasets with zero occurrences published by the National Biodiversity Data Centre"
- [ ] https://www.gbif.org/dataset/17057301-35d8-4e33-b24f-13da5fe2d265 by National Biodiversity Data Centre
- [ ] https://www.gbif.org/dataset/65b509de-127a-42a1-8d43-248e119e946d by National Biodiversity Data Centre
- [ ] https://www.gbif.org/dataset/7d564ea2-6a0d-4312-a321-724f1ab8a5b2 by National Biodiversity Data Centre
- [ ] https://www.gbif.org/dataset/8479ac90-c7b8-11de-b279-a3c031b7d178 b

[2022-10-27 12:07] ManonGros opened #4371 "Datasets with zero occurrences published by the Finnish Museum of Natural History"
- [ ] https://www.gbif.org/dataset/0041409c-519a-4738-9a25-a38e641e16ef by Finnish Museum of Natural History
- [ ] https://www.gbif.org/dataset/01479f71-9e66-4aa9-9481-dabeb5aceaf4 by Finnish Museum of Natural History
- [ ] https://www.gbif.org/dataset/04838789-732b-4cbf-8370-0187e49b5d9c by Finnish Museum of Natural History
- [ ] https://www.gbif.org/dataset/390d8ae9-6ada-4485-8d32-39784f66fe32 b

[2022-10-27 12:09] thomasstjerne commented on #4364
In Contentful, the date interval is `2022-08-01T00:00+02:00`  - `2022-12-30T00:00+02:00`
Note that the endDate is still using UTC offset +2 (daylight saving time).
So the portal is actually showing the correct date, as the event is set to end at 23 PM 29th Dec Copenhagen Time

[2022-10-27 12:09] #4364 closed, assigned to nobody

[2022-10-27 12:11] ManonGros opened #4372 "US datasets with zero occurrences indexed"
- [x] https://www.gbif.org/dataset/d01d75ac-09d3-464f-8b0f-0a4ddecd6c10 by Academy of Natural Sciences
- [ ] https://www.gbif.org/dataset/fa2ae7b6-2ede-4ba4-b12c-82a351452662 by Butler University, Friesner Herbarium
- [ ] https://www.gbif.org/dataset/961f602a-f762-11e1-a439-00145eb45e9a by Tulane University Museum of Natural History
- [x] https://www.gbif.org/dataset/929eb10b-732f-4247-b899-4e3e56

[2022-10-27 12:19] ManonGros opened #4373 "AR datasets with zero occurrences"
- [ ] https://www.gbif.org/dataset/38ea38ad-ff2f-4511-bbdd-2bc5f9450b7b by Jardín Botánico "Carlos Thays"
- [ ] https://www.gbif.org/dataset/546344d1-aaa5-46df-a650-91e81e629686 by Jardín Botánico "Carlos Thays"
- [ ] https://www.gbif.org/dataset/436dcda0-1737-4aff-8557-554ffcdcbbce by Ministerio de Ciencia, Tecnología e Innovación Productiva
- [ ] https://www.gbif.org/dataset/be87cbf5-5d0a-49db-b

[2022-10-27 12:30] ManonGros opened #4374 "2 datasets with zero occurrences published by the Belgian Biodiversity Platform"
Here are the two datasets:

- https://www.gbif.org/dataset/99f7df58-b668-4c3a-a7ef-dd30b698084c
- https://www.gbif.org/dataset/d8774f09-ebd8-451c-b133-41e4500981d9

@DimEvil those datasets don't have any occurrences associated with them. They are quite old, I suspect they are missing occurrenceIDs. If you have the chance, could you or someone from the Belgian Biodiversity Platform take a look? Tha

[2022-10-27 12:45] ManonGros opened #4375 "Various datasets with zero occurrences"
- [ ] https://www.gbif.org/dataset/76fb2829-19a9-4bd7-8ca7-0b50c5518814 by PlutoF - EE
- [ ] https://www.gbif.org/dataset/9f0e1ca6-fb08-4c72-9a4a-1e3b7a528c10 by PlutoF - EE
- [ ] https://www.gbif.org/dataset/33007284-c2f9-49f3-8ed4-aa6504b66854 by Basque Government - ES
- [ ] https://www.gbif.org/dataset/abe59b12-b767-4c9e-8558-67e9842b6a1e by Basque Government - ES
- [ ] https://www.gbif.org/dat

[2022-10-27 12:48] ManonGros opened #4376 "Asian datasets with zero occurrences indexed"
- [x] https://www.gbif.org/dataset/29fbd154-5eab-4066-8dbc-f7b00567ac80 by Korea National Arboretum (Korea Forest Service) - KR
- [ ] https://www.gbif.org/dataset/d20dfc7c-3800-4afd-8b82-44c0b5a62d91 by Bioinformatics Research Group, Biological Science Department, Faculty of Bioscience & Bioengineering - MY
- [ ] https://www.gbif.org/dataset/1c714c57-da3e-457e-9752-edd1cd5e0463 by Research Center

[2022-10-27 12:52] ManonGros opened #4377 "African datasets with zero occurrences"
- [ ] https://www.gbif.org/dataset/d3a00072-72b7-4894-96c4-ecd008892eb4 by TanBIF - TZ
- [ ] https://www.gbif.org/dataset/9bf16572-a62e-4a87-80b5-4847ca7ff31f by University of Dar es Salaam, Department of Zoology - TZ
- [ ] https://www.gbif.org/dataset/1bafdb9c-5a60-40d5-87c3-49dfd9029f3e by South African National Biodiversity Institute - ZA

[2022-10-27 12:55] ManonGros opened #4378 "AU and NZ datasets with zero occurrences"
- [ ] https://www.gbif.org/dataset/e62d2839-507f-4582-bf65-db8f5a814620 by Southwestern Pacific Ocean Biogeographic Information System (OBIS) Node - NZ
- [ ] https://www.gbif.org/dataset/f0a30229-2026-41ad-93e8-9415ed8efdbf by Southwestern Pacific Ocean Biogeographic Information System (OBIS) Node - NZ
- [ ] https://www.gbif.org/dataset/25d73670-8b5c-4813-aadb-37b65022602b by Australian Antarctic