[2022-10-27 12:59] ManonGros opened #4379 "South American datasets with zero occurrences"
- [ ] https://www.gbif.org/dataset/7f9dad4d-bcaa-4680-94de-4c12055d6aa6 by Check List - BR
- [ ] https://www.gbif.org/dataset/42aceab6-e193-4df1-87a1-81eeca0871af by Ministerio del Medio Ambiente de Chile - CL
- [ ] https://www.gbif.org/dataset/dd08fb28-a073-4cb4-9029-ff046b51d518 by Fundación para la Conservación e Investigación JaPu - EC

[2022-10-27 13:19] AbbyBenson commented on #4372
Three of them are Symbiota (1, 2, and 5)- I'll let Symbiota know about those ones. The fourth one is me so I'll check into that one right away. The third one is a Digir installation so that might take more work to figure out but we know Henry Bart so I think we can get it resolved.

[2022-10-27 13:32] AbbyBenson commented on #4372
Interestingly OBIS has the occurrences for 4 so it must be something about the GBIF processing? https://obis.org/dataset/b6ec1b5a-0cd3-4469-bf41-e68685ef0a54

I'll keep digging.

[2022-10-27 13:36] AbbyBenson commented on #4372
I can see in the first log for the dataset that the finishReason = ABORT but I don't know how to figure out why.

[2022-10-27 13:49] muttcg commented on #4372
@albenson-usgs
You can try to use validator, example for the Marine dataset https://www.gbif.org/tools/data-validator/538ee774-f2b3-48dc-a0e0-dee25e711f01
If you download archive and open occurrence.txt file, you will find that row 0 mapped to ID is empty for all records

[2022-10-27 16:38] gbif-portal opened #4380 "Accepted zip format for DwC Archive validator?"
**Accepted zip format for DwC Archive validator?**

Dear team,

I'm trying to use the DarwinCore Archive validator. Unfortunately, it fails at the second stage (Failed to verify archive format). I'm wondering which type of zip files are accepted - any special compression method required?

The ID of the failed trial is http://www.gbif.org/tools/data-validator/96a9c24a-21e9-4741-b599-d24039e519a9.

[2022-10-27 17:51] AbbyBenson commented on #4372
The fourth one is fixed.

[2022-10-27 18:42] AbbyBenson commented on #4390
Are they used in the [Schema.org representation](https://github.com/gbif/portal-feedback/issues/1669) of the dataset?

[2022-10-27 20:48] gbif-portal opened #4381 "name not found by species checking tool, but is present in data"
**name not found by species checking tool, but is present in data**

The species matching tool is great, but I have run into a problem with the following name [Ranunculus ficaria] not being matched even though it is present in the data:
https://www.gbif.org/species/8397184

I suspect the name is not indexed to the backbone

Cheers, Tom Myers

NB the name is a synonym, but that is usually not a pro

[2022-10-28 08:22] ckotwn commented on #4376
The LIPI(now BRIN) dataset has its source disconnected: http://ipt.biologi.lipi.go.id/resource?r=hb-rcb. An email sent to facilitate the investigation of this issue.

[2022-10-28 12:35] ManonGros commented on #4381
As far as I can see, the GBIF backbone taxonomy contains three different taxa that could match to the name Ranunculus ficaria:
•	Ranunculus ficaria L.: https://www.gbif.org/species/3033351
•	Ranunculus ficaria Walter: https://www.gbif.org/species/8397184
•	Ranunculus riparius Edgew.: https://www.gbif.org/species/3926527
In those case, if only the canonical name is provided (without any authorship)

[2022-10-28 12:35] #4381 closed, assigned to ManonGros

[2022-10-29 14:49] gbif-portal opened #4382 "download higher resolution images?"
**download higher resolution images?**

Is it possible to download higher resolution specimen images through GBIF to help facilitate specimen identification? Thanks!

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d250492cd2a9322f9e13e937e6e7bbd6:9384f14f4714fdbfec96b286e8d937eb7aa65b7668f2de15e730230d82f36431dc41e163a38084dde71d9217ea84040086254733417033092d2cdad0dada5122af

[2022-10-31 09:07] ManonGros commented on #4382
Data providers share images on GBIF by providing us URLs to images which we then display. We don’t host any images and we don’t have access to higher resolution than what is on our website.
I would advise to check the data at the source. In this case (https://www.gbif.org/occurrence/2251583178), you can check the reference provided: http://bins.boldsystems.org/index.php/Public_RecordView?processid

[2022-10-31 09:07] #4382 closed, assigned to ManonGros

[2022-10-31 09:16] ManonGros commented on #4348
There are only three records for Pseudapocryptes elongatus on GBIF in 2022: https://www.gbif.org/occurrence/search?taxon_key=9794053&year=2022&occurrence_status=present
You can download the records by clicking on the DOWNLOAD tab and choosing a download format.

The free text search doesn’t give the same results because each word is used in the search and it will match other species as will (for e

[2022-10-31 09:16] #4348 closed, assigned to ManonGros

[2022-10-31 14:40] ManonGros commented on #4362
The process of sharing data on GBIF depends on whether you are affiliated with an institution or not.

If you are affiliated with an institution or organization, the first step to share data on GBIF is to make sure it is registered as publisher. The registration can be done via the following form: https://www.gbif.org/es/become-a-publisher
The next step is to choose a publishing tool. You can find

[2022-10-31 14:40] #4362 closed, assigned to ManonGros

[2022-10-31 20:32] gbif-portal opened #4383 "How do I download a species list from the species search page?"
**How do I download a species list from the species search page?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7de5cfcbd683e25dcc7469efdab5bb34:3e02405450a271150fbfbe1df93cb1f97310f75cff0e68956dfc3a4d9125bfbda1d3e82116f9029ba297de553a89968534411682017c691390d04042ba23bb4f1f4d9f6283a71d0289f7a405e0460aec8a2dfc40601455683701d63358769043) - [Send email](https://www.gbif.org

[2022-11-01 06:53] gbif-portal opened #4384 "I think the occurrence ID is wrong."
**I think the occurrence ID is wrong.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f71db5f82577c3c3d0552324d18eb6b1:9136031d02d9923ff0420ae7cb714943a3ca3627e80dee795159ddecd435d7842731218961d974355462548d2f74513328440040fd51cab055aeae5b2597152508ea2cdccb29c1c7e928e9777f71cf2ea001d587b0036f9ed515255e24ef50d0ff7069d24b1a591a7288214e5cee8dbf91602f15d8a5504a57a8429dbedd8916

[2022-11-01 12:18] ManonGros commented on #4383
You cannot download the result of a species search in the species search web interface.
However, you can generate downloads in ChecklistBank which also contains the GBIF backbone taxonomy. There, you can download names for a given root (higher taxa) and with a specified rank, for example: https://www.checklistbank.org/dataset/53147/download?taxonID=5 (don’t forget to specify the rank and choose a

[2022-11-01 12:18] #4383 closed, assigned to ManonGros

[2022-11-01 21:56] gbif-portal opened #4385 "How to map occurrence records from multiple datasets with hexagon symbols?"
**How to map occurrence records from multiple datasets with hexagon symbols?**

I want to generate a map with with 3 whole datasets and use the hexagon density symbols that are the default when looking at the summary for a dataset. I tried a query of Occurrences with my 3 datasets, but there are only two map style options. Is there a way to choose the hexagon style for this map? If not, is there a

[2022-11-02 09:20] MattBlissett commented on #4385
The dataset (and country, taxon, publisher) maps are produced differently to the general query map.  To keep the general query map fast and reliable, the data are shown at a much lower resolution.

It is possible to generate hexagons from the general query map, but they would need to be fairly large.

I produced this map using the debug interface: https://api.gbif.org/v2/map/debug/ol/

1. Set data

[2022-11-02 09:21] MattBlissett commented on #4385
(User **not** informed by email, in case helpdesk want to add anything first.)

[2022-11-02 09:28] #4366 closed, assigned to nobody

[2022-11-02 11:33] ahahn-gbif opened #4386 "ProjectIDs on individual records, rather than a dataset as a whole"
Idea/wish captured from feedback of the regional support contractors (BID) to GBIFS:

"It is being defined with SiB Colombia how to identify in each record of a dataset its link with the BID project, within the framework of the publication of data from partner organizations/collections in the Colombian BID-CA2020 projects. The use of DwC fields such as datasetID or datasetName has been proposed by

[2022-11-02 14:25] CecSve commented on #4385
Thanks @MattBlissett - I'll reply on behalf of helpdesk and include your walkthrough!

[2022-11-02 20:10] gbif-portal opened #4387 "format downloaded table"
**format downloaded table**

Hi, I've downloaded an occurrence database from a specific area using the "simple" download option, opened excel, and see that the headers are all in a single column.  I swear I figured out a few years ago how to make that data presentable in excel but can't for the life of me figure it out this time.
Thanks

-----

User: [See in registry](https://www.gbif.org/api/feed

[2022-11-03 07:48] MortenHofft commented on #4387
does this help?
https://www.gbif.org/faq?question=opening-gbif-csv-in-excel

else let us know

[2022-11-03 07:48] #4387 closed, assigned to nobody

[2022-11-03 10:30] muttcg commented on #4380
Hi @jholetschek
Unfortunately validator doesn't give correct issue message in your case, so it is not a format issue, zip files works will, I checked you archive manually and found issue with the structure of content txt files, some files have more content fields that headers fields

I also created an issue for your problem https://github.com/gbif/pipelines/issues/813

[2022-11-03 10:30] #4380 closed, assigned to muttcg

[2022-11-03 10:39] jholetschek commented on #4380
Thanks Nikolay!
I've already found the issues in the text files and I'm working on that. Indeed a different message would be helpful!

Cheers, Jörg

[2022-11-03 12:50] MattBlissett commented on #4357
Sorry, missed this while I was travelling. It's done now.

[2022-11-03 12:50] #4357 closed, assigned to nobody

[2022-11-03 13:27] gbif-portal opened #4388 "Add PNG94 datum to Geodeticdatum for interpretation"
**Add PNG94 datum to Geodeticdatum for interpretation**

PNG94 seems to be a valid datum (https://epsg.io/5551). Perhaps it shouldn't be labelled as invalid?

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/39d8edf422634eeabb02eeb56cf0fa4a:2596acd716f4571431059772eb22837501c1a12e2bdf56ce0d4dadffb32498591cd03b518506c13265a94ac68ad679c8e72df7309905a3767a

[2022-11-03 15:08] MattBlissett commented on #4232
To implement this, I think we should have a table of all reasonable centroids (Lambert's or Johnston's or geolocate or TCN or anyone else's method) for countries and country-like things (Australia with and without Tasmania, the UK with and without Shetland, USA with and without Alaska and Hawaii etc). (Some are already on the [debug map -- NB some layers may crash a browser, but the centroid layer

[2022-11-03 15:35] timrobertson100 commented on #4386
Adding a multivalue `gbif:projectID`* field to the records that is supported in the IPT, ingestion, search and download on GBIF.org is not particularly difficult. We have done this for `recordedByID` before DwC accepted the term for example.

I'd suggest we support any project ID but give clear guidance on how people should refer to GBIF-issued project IDs (e.g. `gbif:projectID=gbif:BID-PA2020-010

[2022-11-03 18:17] mike-podolskiy90 commented on #4390
Unfortunately, I can't answer this, and it's not an IPT scope. Closing this

[2022-11-03 20:02] ArthurChapman commented on #4232
@MattBlissett - I agree such a table is a good idea.  Thinking on why we are wanting this - does anyone use a centroid for the "USA" for collections where the centroid used includes Hawaii?  Not sure that they do.  Australia + Tasmania - maybe - but I don't think it is common - and then you also add long outliers (Macquarie Island, Christmas Island, Norfolk Island, etc.)  I don't think anyone uses

[2022-11-04 07:42] mdoering opened #4389 "Improve link preview of occ details"
Previews of occ detail links show the same generic gbif text. Consider to show a condensed form of what, where, when instead

![image](https://user-images.githubusercontent.com/327505/199918884-bd3ec643-bd13-4742-8a25-61eb47a36bda.jpeg)

[2022-11-04 09:24] MattBlissett commented on #4390
We still need to answer the question!

The keywords aren't shown on the GBIF dataset page, and aren't present in the Schema.org metadata.  They are in the API response (at the bottom), e.g. https://api.gbif-uat.org/v1/dataset/0f51112f-a122-4d55-a3e0-12267186d3b9

It seems like something we should show, although I don't know what values are usually present. The default (dataset type) is shown at th

[2022-11-04 10:27] CecSve commented on #2764
@dnoesgaard the download no longer shows 0 bytes - I guess the bug was fixed. Ok if I close this issue?

[2022-11-04 10:39] dnoesgaard commented on #2764
Ok!

[2022-11-04 10:39] #2764 closed

[2022-11-04 11:22] MortenHofft commented on #4390
We do not show the keywords on GBIF.org. At the time we looked at the keywords and decided it made little sense. It is a free for all text field. We didn't believe it brought much value to expose it in search, but rather confusion. And I was of the opinion that keywords were mostly useful for search (but only if it is a controlled vocabulary).

And for the detail pages I tend to think the descript

[2022-11-04 11:23] MortenHofft commented on #4390
Good point with the schema @albenson-usgs
@dnoesgaard you have defined what goes into the schema. Would adding the keywords make sense/be possible?

[2022-11-04 12:07] gbif-portal opened #4391 "add journal"
**add journal**

https://www.mdpi.com/journal/diversity

Via mail fron N Ivanova who discoved the missing journal thourgh
https://www.mdpi.com/1424-2818/14/10/825/htm

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/b4b7ceb17d6e0800e0d17c55f550c440:e2bcf6b3de2c795f1ba6d5217a491378bd0a83d4c5c08cb2af5425350d927815bd3a9b45068a0379662dbe47f875eb11824e7eca65

[2022-11-04 12:14] dnoesgaard commented on #4390
Possible, yes. Make sense? 🤷

They can be added to the schema as either

`"keywords": [ "keyword1, keyword2, keyword3" ]`

or

`"keywords": [ "keyword1", "keyword2", "keyword3" ]`

Probably the latter is the safest bet, but I'm not sure if anyone indexes these and in which manner.

@albenson-usgs do you have more information?

[2022-11-04 13:42] AbbyBenson commented on #4390
I don't know much about schema.org. The reason I suggested it is that I know that keywords are supposed to help with search. I don't think they are useful in the aggregators like GBIF and OBIS because the use of Darwin Core and taxonomic harmonization makes it better at finding what you are looking for than a federated portal. But since GBIF-mediated datasets are available in google dataset search

[2022-11-04 13:52] MortenHofft opened #4392 "GrSciColl mapping: Herbier National du Gabon"
Dataset:[Herbier National du Gabon](https://www.gbif.org/dataset/dd6ef36f-3345-4c9e-9188-161de0668127)
Published by: [Herbier National du Gabon](https://www.gbif.org/publisher/90a628e5-440e-43b6-9c8d-64a5bfafb39f) (country: GA)
Records without a match: 41.973

Top collectionCodes:
* [herbier national du gabon](http://hp-nhc.gbif-staging.org/collection/search?q=herbier%20national%20du%20gabon)

[Ex

[2022-11-04 13:52] dnoesgaard commented on #4390
Assuming the keywords are good, then yes :)

I can see that the keywords property is listed in the [Dataset Search](https://toolbox.google.com/datasetsearch/) documentation, so I assume it would indexed/searchable.

I say go for it.

[2022-11-04 13:57] MortenHofft opened #4393 "GrSciColl mapping: ZMUT Insecta collections of Turku University"
Dataset:[ZMUT Insecta collections of Turku University](https://www.gbif.org/dataset/c75091f9-d0cf-485f-85d9-5a18082d7931)
Published by: [Finnish Biodiversity Information Facility](https://www.gbif.org/publisher/04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1) (country: FI)
Records without a match: 44.291

[Example record:](https://www.gbif.org/occurrence/3752416131)
[code]

**Potential GrSciColl institution*

[2022-11-04 20:55] mbjones commented on #4390
ESIP science-on-schema.org guidelines on how to format keywords in schema.org: https://github.com/ESIPFed/science-on-schema.org/blob/master/guides/Dataset.md#keywords

[2022-11-04 21:03] kderieg322079 commented on #4385
Hi GBIF folks. I'm the user who submitted this ticket. Hope it is okay for me to reply here on GitHub. Thanks so much for this tutorial; this is a huge help and gives me something to go off of. Looks like for what I want, I'll just have to download data and make a map with ArcMap. Just figured it was worth asking if I could use the existing tools on GBIF. But this is still super great info to have

[2022-11-05 20:04] abubelinha opened #4394 "questions about GBIF api dataset timestamps and ingestion limits"
Hi. I am having a hard time understanding timestamps to consider when trying to automate dataset updates.
My goal is to use a script for:
1. Login our IPT with dataset manager rights, and "**Publish**" it.
2. Record **timestamp** when step 1 is finished (**T1**).
3. Sleep the script for a few seconds (**W**): **wait** for gbif.org to grab new IPT content.
4. Use [gbif.org registry API](https://www

[2022-11-07 09:04] ManonGros commented on #4385
Thanks for replying @kderieg322079 you are very welcome to reply on GitHub. I assume we answered your question so I will be closing the issue now. Don't hesitate to contact us again if you need anything else.

[2022-11-07 09:04] #4385 closed, assigned to CecSve

[2022-11-07 09:59] melissa0520 commented on #4335
@ManonGros
TaiCOL administrator said she updated the dataset in August: [The National Checklist of Taiwan (Catalogue of Life in Taiwan, TaiCoL)](https://www.gbif.org/dataset/1ec61203-14fa-4fbd-8ee5-a4a80257b45a), and it is not updated to GBIF backbone yet.

She already corrected this species name in TaiCOL database, but she prefers to update it with other issues to GBIF next year due to the annual

[2022-11-07 11:12] melissa0520 commented on #4376
The KR one: It seems they published the dataset twice on the same day on KBIF IPT: https://kbif.naris.go.kr/ipt/resource?r=korea_national_arboretum_plant_specimendirectory
An email sent to KBIF to ask for the issue checking.

[2022-11-07 11:52] MattBlissett commented on #4394
Q1: The registry will ignore updates if there's an update in-progress, i.e. an entry in https://registry.gbif.org/monitoring/running-crawls / https://registry.gbif-uat.org/monitoring/running-crawls.  Occasionally (and more often in UAT) processing gets stuck somehow, and updates to the dataset will be ignored until we manually un-stick the dataset.

Q2: The IPT makes the .../crawl request itself.

[2022-11-08 09:18] jhnwllr commented on #4232
@MattBlissett

For now I think we should use only centroids from "countries".

type  == **PCLI** (places with an iso-code) in this file
https://github.com/jhnwllr/catalogue-of-centroids/blob/master/centroids.tsv

I believe that **5km** is a great cutoff.

[2022-11-08 09:49] mnhn-paul opened #4395 "threatStatus IUCN links to dead page"
In the verbatim view of a checklist taxon record (eg. https://www.gbif.org/species/203120303/verbatim) there is a link associated to the IUCN threatStatus (http://iucn.org/terms/threatStatus). this is a "dead link" it currently only leads to a "Page not found
" page at IUCN.

maybe this could be fixed?

![image](https://user-images.githubusercontent.com/26623703/200531969-71ab92dc-e1fb-4788-bf68-a

[2022-11-08 11:23] #4390 closed, assigned to nobody

[2022-11-08 12:17] MortenHofft commented on #4395
It comes from this extension https://rs.gbif.org/extension/gbif/1.0/distribution_2022-02-02.xml
I'm not sure what is required to get it fixed. If it is IUCN who should fix their URL. Or it is the extension that should be updated.
The website simply show the extension and the qualified names as is I believe.
@thomasstjerne perhaps you can say more?

[2022-11-08 12:32] myrmoteras opened #4396 "using curation of cluster data by eBioDiv matching service"
Plazi established the matching service to match material citations and preserved specimen in GBIF. During the curation process, a person decides whether a MC is linked to a PS, or not by selecting the respective tag.

https://prod.ebiodiv.org/?institutionKey=9cfe8cbf-35ff-4d93-b932-cb05d91b7922&datasetKeys=dce8feb0-6c89-11de-8225-b8a03c50a862&format=specimen_matcit&occurrenceKey=1100115091

![imag

[2022-11-08 12:40] mnhn-paul commented on #4395
Thanks @MortenHofft I did now also drop the IUCN team a message on their contact form, maybe its only temporarily not available on their site?

[2022-11-08 13:05] thomasstjerne commented on #4395
I think some of those URIs were originally minted without the intention to make them resolve. The IPT requires them to be URIs

[2022-11-08 13:42] MattBlissett commented on #4395
Yes, I'm not sure who invented it (quite possibly us) but there's no requirement for them to resolve to a web page or anything else.  The rs.gbif.org and rs.tdwg.org ones do, as it's convenient.

[2022-11-08 14:33] mnhn-paul commented on #4395
ok thanks for that information.
I find it however rather misleading to have them displayed as active links on the webpage.

[2022-11-08 20:49] gbif-portal opened #4397 "Coordinates lost when data updated"
**Coordinates lost when data updated**

Hello, I'm curator of the Long Beach Herbarium and it looks like when our data updated from Symbiota on Nov 1 somehow all of our coordinate data failed to come through. We have lat/long for about 60% of our collection in the Symbiota database but none of it was ported to GBIF. This hasn't happened before and I wonder what the issue is.
Thank you, Amanda Fish

[2022-11-08 21:06] AbbyBenson commented on #4397
SSH is looking into this.

[2022-11-09 07:26] daphnehoh commented on #4369
Hi @ManonGros

For the first dataset published by TaiBIF, we checked the dataset csv download via our TaiBIF IPT and found inconsistent and blank cells in the basisOfRecord field. We are not sure if this is the reason causing the 0 occurrences on GBIF.org but we managed to solve the issue after we edited the column.

This is the current dataset:
https://www.gbif.org/dataset/18680b2b-84db-4d45-8acd

[2022-11-09 09:19] ManonGros commented on #4369
Thanks @daphnehoh this is really great!
I can see that [the new checklist](https://www.gbif.org/dataset/26c7f6c0-1c96-4726-8bd8-71824699a914) doesn't have any records on GBIF. I suspect that this is because it is missing a [taxonID](https://dwc.tdwg.org/terms/#dwc:taxonID) column. This field should contain identifiers for each row/taxa in the checklist (they must be unique within the dataset).
Cou

[2022-11-09 09:44] dnoesgaard commented on #4391
Thanks @dschigel. Now added.

[2022-11-09 09:44] #4391 closed, assigned to dnoesgaard

[2022-11-09 10:05] MortenHofft commented on #4395
Indeed if it doesn't point anywhere. For the website part we just recognise it as a url and hence make it into a link tag.
It would be a shame to remove that everywhere, so the only other option is for us to have a list of urls to not link. A bit awkward, but possible.

[2022-11-09 10:54] daphnehoh commented on #4369
Thanks @ManonGros for pointing it out! Yes I accidentally missed this column and it is now solved.

[2022-11-09 11:25] ManonGros commented on #4335
Thanks @melissa0520 !
The checklist has been updated but this particular name (Taiwancylis cladosium Razowski, 2000) is still in the checklist.
<img width="601" alt="Screenshot 2022-11-09 at 12 24 24" src="https://user-images.githubusercontent.com/7677271/200817978-70be0c45-2987-4a02-8672-a4461c6d1103.png">

Does it mean the name is in fact correct and that the issue can be closed?

[2022-11-11 01:51] gbif-portal opened #4398 "Admin region files for Pakistan"
**Admin region files for Pakistan**

I am trying to ensure that what I advise wrt admin levels in Pakistan conforms to GBIF standards. Technically, Pakistan has 5 primary admin levels, essentially - country, province, division, district, tehsil, with tehsils being further divided into union councils.  I have been ignoring divisions because they do not seem to be used by biologists, but what is GBI

[2022-11-11 09:05] melissa0520 commented on #4335
Hi @ManonGros,
What I mean is that TaiCOL dataset was updated before we received the feedback, so this correctness will be updated next time (before mid-2023) together with other updates. (TaiCOL updates once per year)

Would it be inconvenient for you to deal with this issue?

[2022-11-11 09:10] ManonGros commented on #4335
Thanks @melissa0520 for the clarifications!
Let's close the issue when the checklist is updated in a few months then. I will keep an eye on it.

[2022-11-11 09:37] esko-piirainen commented on #4231
Any updates? If not, we can start working on an alternative solution

[2022-11-11 15:00] gbif-portal opened #4399 "Dataset Detail error"
**Dataset Detail error**

Some dataset pages return 500 pages:

https://www.gbif.org/dataset/f7053f73-74fb-4c9f-ab63-de28c61140c2

https://www.gbif.org/dataset/f382f0ce-323a-4091-bb9f-add557f3a9a2

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/b8374780959d6684a534a65d35a4f4d4:6bd27f23b6694464996222d9a06602145ae7a733a5545e931e92695a3dc5db616270b120ce046f97912d5f2a5cadcc4cce5

[2022-11-11 15:33] gbif-portal opened #4400 "Grand Atlas is in Morocco not in Algeria. Please correct it."
**Grand Atlas is in Morocco not in Algeria. Please correct it.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/78e6770f5b93df9b32ef573d02d3affc:5ac9b857b5bad76f15f68f86ae6ed3fc5d9cd65dd180f970b8331220eb1bc7a8a600b7d9723b374b9fbedc59404e8777188e5e6fe3683589f8c11099c847bcec753a9e91a1453d7dcf7576a57a727ac5b87d330d5196cf99a2145f7c0f9ff9bb65be67315480fc5dce11dc39c5fb1dc7e8a9380

[2022-11-11 16:51] MattBlissett commented on #4398
Replied by email.

We don't currently use the stateProvince/country/municipality values on occurrences.  This could change in the future, although I'm cautious about messing up good data.

For occurrences with coordinates, we assign an administrative region value using GADM.org.  That has these subdivisions for Pakistan:

1. Province (and a Territory, "Federally Administered Tribal Area", and Capi

[2022-11-11 16:51] #4398 closed, assigned to nobody

[2022-11-14 08:18] ManonGros commented on #4400
Contacted the publisher by email.

[2022-11-14 08:39] muttcg commented on #4231
I will try to deploy fix to UAT today for testing

[2022-11-14 09:02] MortenHofft commented on #4399
I cannot reproduce it. Perhaps a temporary API outage? Did you happen to check the API response @mdoering ?

[2022-11-14 09:02] #4399 closed, assigned to nobody

[2022-11-14 09:09] MortenHofft commented on #4399
Ahh - I just see slack thread now.
Introduced in
https://github.com/gbif/portal16/commit/361a1a5513721744bf58c78f1e43a6a210059223
and fixed in
https://github.com/gbif/portal16/commit/3f8633e62c4e6cba6e33e7e337ff6e1f009d89b7

[2022-11-14 09:29] CecSve commented on #4231
@esko-piirainen as @muttcg mention we will test and see if we can apply the change. We will let you know whether it is possible, when we have looked at the results.

[2022-11-14 13:10] gbif-portal opened #4401 "Identified by: brak danych"
**Identified by: brak danych**

Some time in Bionomia brought this item to my attention: I was really curious to figure out who this "brak danych" was that did all the identification work on specimen records from collections of Adam Mickiewicz University (and spelled their name in all lowercase).

As I presume @ManonGros will quickly point out, nearly 50k records (20% of their data) have used Poli

[2022-11-14 14:16] muttcg commented on #4231
@esko-piirainen @CecSve Changes deployed to UAT for testing:
The same record: https://www.gbif-uat.org/occurrence/3049454295
https://www.gbif-uat.org/occurrence/search?dataset_key=f589e9e8-9654-468b-97de-46ff4fe50fc6

[2022-11-14 18:00] abubelinha commented on #4394
Thanks for all the info @MattBlissett :+1:

[2022-11-14 19:22] abubelinha opened #4402 "portal not rendering HTML in "project" and "bibliography" sections of dataset page"
I have noticed "project"  and "bibliography" sections of portal dataset pages do not yet support rendering HTML elements.

See https://github.com/gbif/ipt/issues/1571#issuecomment-1314203720 for example datasets.

Thanks
@abubelinha

[2022-11-14 21:44] abubelinha opened #4403 "how to completely remove a dataset from gbif.org / gbif-uat.org"
I would like to know if it's possible to completely remove a dataset from gbif (both UAT and production).

- I understand it is not advisable to do that in production registry, because it could already have been linked and cited somewhere else. So you want to keep a copy of metadata at that url, even if it's not searchable anymore ... perhaps linking to a new place (like in [#4054](https://github.

[2022-11-14 21:48] abubelinha commented on #4001
I would like to understand under which circumstances could this happen.
In both deleting options, dataset would be deleted from IPT.
So how could a dataset be "deleted" in GBIF portal, but still showing in IPT?
1. Perhaps when the IPT is a new installation which restored an old copy of that dataset?
2. Or maybe it was deleted from helpdesk staff on request by IPT manager?

@ManonGros what's the be

[2022-11-15 02:13] gbif-portal opened #4404 "Dataset download activity available through API not up to date"
**Dataset download activity available through API not up to date**

The activity reports for downloads that are available through the API do not appear to be up to date.  They end with July 2022, and provide no data for August 2022 and beyond.

I have tried accessing data multiple ways: 1) through the "Download report" button on the dataset's Activity page, for example at https://www.gbif.org/data

[2022-11-15 07:01] tobiasgf opened #4408 "Regression for Animalia"
I am unsure what is happening here. But potentially it is a big dataset where the fields are "moved". WGS84 sounds like something with coordinates and not taxonomy.

[code]

[2022-11-15 07:40] tobiasgf opened #4407 "Taxon match none due to wrong info in verbatim scientificName"
"mineraljord (sand, ler, sten)" as verbatim scientific name. Sounds like a dataset, where the fields have been labelled wrong.

[code]

[2022-11-15 07:43] tobiasgf opened #4406 "Taxon match none due to column shift in source data"
Like gbif/portal-feedback#4407
"uomsat dødt organisk materiale (førne, visne blade, grene, træstubbe)" sound like a field that is labelled wrongly from the publisher

[code]

[2022-11-15 07:48] Jeffersonktw commented on #4369
Hi @ManonGros

The problem was solved in all remaining datasets after mapping the occurrenceID.

[2022-11-15 07:55] ManonGros commented on #4369
Thank you @melissa0520 @daphnehoh and @Jeffersonktw!  This is really great!
I am closing the issue.

[2022-11-15 07:55] #4369 closed, assigned to melissa0520

[2022-11-15 08:14] gbif-portal opened #4405 "issue with coordinates of these datasets"
**issue with coordinates of these datasets**

https://www.gbif.org/dataset/b281d0c7-e700-4067-a47f-39eafda1b893

https://www.gbif.org/dataset/6a190a6c-f762-11e1-a439-00145eb45e9a#description

-----

Github user: @jhnwllr
User: [See in registry](https://www.gbif.org/api/feedback/user/6a9389d3934365f1fd3e8c76c6ed7ed7:963ba596edee17f72a420f871ef368a99c933d89393e78a254fd1b8574547a3a3a598c0b115762d5f14

[2022-11-15 08:15] jhnwllr commented on #4405
![image](https://user-images.githubusercontent.com/4245213/201865668-1061b518-4208-41b2-bb71-3e42c30ac84f.png)

[2022-11-15 08:44] timrobertson100 commented on #4408
We should contact the publisher - indeed just poorly mapped data.

[2022-11-15 09:12] #4402 closed, assigned to nobody

[2022-11-15 09:16] MortenHofft commented on #4402
Thanks @abubelinha
I can see that it has been broken and has been for years!
Anyway it should work again. It will not show any tag you throw at it though. You lists in the headline for example will be removed.
Essentially we only allow p, a, i, ul, ol, li. So you cannot add an h1 in the middle of a description for example. If you have real examples with real content where you can sensibly argue th

[2022-11-15 09:43] abubelinha commented on #4402
Thanks @MortenHofft . Some questions:
- When you say "it should work again", you mean gbif.org?  I am just trying this in gbif-uat.org for now, but I don't see any changes in my [bibliography](https://www.gbif-uat.org/dataset/2adad0d3-6150-4eb7-ac89-b59b71833045?adfasdf#bibliography) and [project](https://www.gbif-uat.org/dataset/2adad0d3-6150-4eb7-ac89-b59b71833045/project) tests.
- I don't get w

[2022-11-15 09:50] thomasstjerne commented on #4406
Looks like we should contact the publisher of this dataset https://www.gbif.org/dataset/67fabcac-a638-40a6-9bea-aeca8aced9f1
To fix these:
 https://www.gbif.org/occurrence/3462611260

[2022-11-15 09:54] MortenHofft commented on #4402
Works again means that the code has been changed, but it hasn't been deployed. That will probably happen at some point during today. It is currently building and then deploying to UAT. Sorry about that - i get that was a misleading statement for you.

What tags are allowed differ per element. We do not allow in list tags in headlines for example. But allow it in descriptive text. lists are not all

[2022-11-15 09:57] thomasstjerne commented on #4406
I have contacted DanBif by email and asked them to forward this to the publisher

[2022-11-15 10:46] MattBlissett commented on #4405
For b281d0c7-e700-4067-a47f-39eafda1b893 the meta.xml is incorrect, and the latitude/longitude/datum/eventDate/name fields are mixed up:

[code]

This is a Pangaea dataset.

[2022-11-15 10:47] MattBlissett commented on #4405
Same problem for 6a190a6c-f762-11e1-a439-00145eb45e9a which is also Pangaea.

[2022-11-15 10:58] ManonGros commented on #4001
The GBIF registry (and registry API) allow people with the proper permissions to delete datasets. Alternatively, the dataset might have been deleted from a previous IPT before it was migrated to a different one.

This particular option was introduced for cases where a dataset was migrated from one IPT to another one. The problem was that in the past, once the dataset was migrated, if a publisher w

[2022-11-15 11:04] abubelinha commented on #4402
Understood. I think it's just perfect like it is, as long as we know _**how**_ it is.

I miss some documentation about text formatting for both portal and IPT.
Being documented avoids users opening unnecessary issues (so I know if it's correct that `<b>` tags are still not working in some sections, or whatever).

So I'd open an IPT issue requesting to **document gbif's text formatting guidelines i

[2022-11-15 11:07] ManonGros commented on #4403
yes I think that your proposed solution would be the easiest (although a completely blank metadata wouldn't exactly be possible).

[2022-11-15 11:07] #4403 closed, assigned to nobody

[2022-11-15 11:13] MattBlissett commented on #4405
Lots of Pangaea datasets are corrupt in the same way, several hundred for big errors like above, and many more for minimumElevationInMeters/geologicalContextID being mixed up.

[code]

[2022-11-15 14:02] gbif-portal opened #4409 "Wrong taxonomic reconciliation"
**Wrong taxonomic reconciliation**

Hello,
All occurrences from this page: https://www.gbif.org/occurrence/search?taxon_key=6191122&country=GFare displayed under the scientific name Haematotropis callipus whereas the verbatim scientific name mentions a new species: Haematotropis callyi De Almeida, Bueno-Villegas & Rafael, 2021 https://inpn.mnhn.fr/espece/cd_nom/1001130

-----

User: [See in regist

[2022-11-15 14:23] SophiePamerlon opened #4410 "taxonRank filter on the API & UI"
Hello,

Could it be possible to add a way to filter occurrences by taxonomic rank? (e.g. request occurrences identified at the species or genus level only, or any other taxon rank)
I had a look at the list of basic & advanced filters for occurrences on the user interface but this particular filter doesn't seem to exist yet.

Thanks!
Sophie

[2022-11-15 14:40] gargo-mnhn commented on #4410
Hello, also in the API occurrences/search !
&taxonRank=SPECIES for example
thanks
Olivier

[2022-11-15 15:58] SophiePamerlon commented on #4409
Sorry, correct link is https://www.gbif.org/occurrence/search?taxon_key=6191122&country=GF

[2022-11-16 08:36] gbif-portal opened #4411 "Help in identifying appropriate data"
**Help in identifying appropriate data**

Dear all,

I am searching for either a general or biodiversity map of Switzerland. My goal is to use this to validate a modelling approach I used in my analysis. Otherwise I could also download representative species for biodiversity in the Swiss Mittelland (particularly the region of Zurich), but I would need some help in identifying these species. I saw

[2022-11-16 09:59] ahahn-gbif opened #4412 "Records for (scientific name) "Severe acute respiratory syndrome-related coronavirus 2""
Check the scope with iNat (including desirable image data and research grade status):
https://www.gbif.org/occurrence/gallery?taxon_key=10312030

[2022-11-16 10:03] ManonGros commented on #4412
https://github.com/gbif/portal-feedback/issues/3311

[2022-11-16 11:03] ahahn-gbif commented on #4411
(contact via email from helpdesk, 16.11.22)

[2022-11-16 12:38] gbif-portal opened #4413 "Taxon author error in Prosoeca torquata "Theronan der Niet, 2020""
**Taxon author error in Prosoeca torquata &quot;Theronan der Niet, 2020&quot;**

Received via email to helpdesk:

To whom it may concern,

The following species author has been listed incorrectly on GBIF taxonomy (https://www.gbif.org/species/10760549). Please find the zoobank link which states that the species should be Prosoeca torquata Theron, 2020 (https://zoobank.org/NomenclaturalActs/d4fa636

[2022-11-16 12:39] CecSve commented on #3088
Is this implemented?

[2022-11-16 12:47] ahahn-gbif commented on #4413
Zoobank original: see https://zoobank.org/NomenclaturalActs/d4fa6366-b1fe-4f76-b973-6437e8df7fac

[2022-11-16 13:15] MortenHofft commented on #3088
Looks like the config applies to all dataset from the publisher. It looks like we do not have anything in place to do so for individual datasets. But we could look into that.

That said I see that it doesn't show on
https://www.gbif.org/occurrence/3951370398
but do show on
https://www.gbif.org/occurrence/3948965906

presummably because the first doesn't supply a reference. So it seem to do as expe

[2022-11-16 13:28] gbif-portal opened #4414 "Hamadryas februa and H. amphinome are placed on a incorrect family"
**Hamadryas februa and H. amphinome are placed on a incorrect family**

Hello, some species of Hamadryas (Lepidoptera) are misplaced. They are currently placed in Cosmopterigidae, a moth family, but should be placed in Nymphalidae its correct butterfly family.

Current bibliography puts these species within Nymphalidae, as seem in:
Young, A. M. (1974). On the biology of Hamadryas februa (Lepidopte

[2022-11-16 15:45] mdoering commented on #4196
but also in Tachinidae, @yroskov there are 2 duplicates. The one under Tachinidae contains 11 species, all of which are accepted:
https://www.catalogueoflife.org/data/search?TAXON_ID=9GLJJ&rank=species&status=accepted&status=provisionally%20accepted

[2022-11-16 15:48] #4196 closed, assigned to jhnwllr

[2022-11-16 15:55] yroskov commented on #4196
Yeah, unfortunately, we may have lot of provisional placements (which look like misplacements) in Systema Dipterorum@CoL.

We are unable to catch and fix all the problems in the CoL. Master data themselves need more editorial work.

[2022-11-16 17:33] AFisherCSULB commented on #4397
Hello,
It looks like datum field uploaded into the longitude field so none of the coordinates are valid. Was there a change in the field mapping going in to GBIF or I wonder if this an issue with a change in Symbiota?
Thank you, Amanda Fisher

[2022-11-16 18:18] themerekat commented on #4397
@ManonGros or someone else, can you look at how the data are coming into GBIF? The Darwin Core archive is being generated correctly on our end. We used the same code to push from another portal, and it's working fine. Not sure why something would be wonky with this particular portal, but I have no clue what's going on.

[2022-11-16 18:26] MattBlissett commented on #4397
In the latest DWCA at https://cch2.org/portal/content/dwca/LOB_DwC-A.zip I see `<field index="34" term="https://symbiota.org/terms/eventDate2"/>` in meta.xml, but no corresponding column in occurrence.csv -- counting from 0, the 33rd column eventDate is followed by year.

https://www.gbif.org/dataset/b2d55172-8980-4195-9632-a186edb27d5a

[2022-11-16 18:29] themerekat commented on #4397
Hm, eventDate2 is in our schema, but must be missing from the DwC-creation scripts. I'll touch base with the team again. Thank you!

[2022-11-17 08:21] CecSve commented on #3088
@ManonGros what do you think of this - would we still need to look into whether it can be applied for specific datasets? Or do you know if Pl@ntnet would be ok with this fix?

[2022-11-17 09:28] mdoering commented on #4196
There are still lots of open Diptera issues in COL apparently: https://github.com/CatalogueOfLife/data/issues?q=is%3Aissue+is%3Aopen+diptera

[2022-11-17 10:16] MattBlissett commented on #4405
Hi @huberrob, would you be able to look at this?

It's noticeable on the map thumbnails scrolling through https://www.gbif.org/dataset/search?publishing_org=d5778510-eb28-11da-8629-b8a03c50a862, where there are many straight lines etc.

[2022-11-17 10:45] huberrob commented on #4405
Dear Matt,

yes I already noticed that our DwC Exporter seems to be buggy (e.g. the coordinate export) due to some changes on the underlying export library.
I think I have fixed most of this but this still has to be tested.

Robert

[2022-11-17 10:49] CecSve commented on #4231
The change would affect **34 datasets** and **30,418 occurrences**. The datasets are **published by 8 different countries** and **76.5% of the datasets are from Finland** and **96% of the occurrences are from Finland**.

The changes to the other countries datasets seem to either cause no change or in some cases also provide taxon match, so I think we can safely put the fix in production @muttcg, i

[2022-11-17 11:16] esko-piirainen commented on #4231
These are valid points, but we are happy if you can implement the change in production!

For the first one, there is no changes to current situation before or after this GBIF-internal interpretation change; so our data's use(lessness) will remain the same.

Second: This is of course not ideal. However it might be noted, that even for the records that we currently DO offer a dwc:scientificName, we

[2022-11-17 12:00] ManonGros commented on #3088
It looks fine actually. We could double check with Pl@ntnet but I assume it would be ok to close the issue. Thanks!

[2022-11-17 12:00] #3088 closed

[2022-11-17 12:26] CecSve commented on #3915
User has been notified of the removed record and I will close the issue.

[2022-11-17 12:26] #3915 closed, assigned to jhnwllr

[2022-11-17 12:30] CecSve commented on #3138
Pl@ntNet has removed the occurrence and the record is no longer searchable on GBIF.org. The user has been notified via helpdesk.

[2022-11-17 12:30] #3138 closed

[2022-11-17 12:36] CecSve commented on #2947
The record has been removed from the dataset and the user has been notified via helpdesk.

[2022-11-17 12:36] #2947 closed

[2022-11-17 12:49] CecSve commented on #2945
record has been amended and user has been contacted

[2022-11-17 12:49] #2945 closed

[2022-11-17 12:49] CecSve commented on #2939
record has been amended and user has been contacted

[2022-11-17 12:49] #2939 closed

[2022-11-17 12:49] CecSve commented on #2937
record has been amended and user has been contacted

[2022-11-17 12:49] #2937 closed

[2022-11-17 13:09] CecSve commented on #4407
same issue as in #4406

[2022-11-17 13:14] CecSve commented on #4396
@timrobertson100 this seems to be a question for your team and the cluster mechanism

[2022-11-17 13:19] timrobertson100 commented on #4396
I'll leave an answer here just for transparency.
I'm afraid we don't have a solution to this at the moment and it's not being worked on right now. It's certainly something we want to accommodate and we'll come back to it when we can.

[2022-11-17 13:19] CecSve commented on #4401
Thank you @kcopas helpdesk will follow up with the publisher

[2022-11-17 14:00] CecSve commented on #4231
@muttcg please go ahead and put the fix in production then.

[2022-11-17 14:03] timrobertson100 commented on #4396
I've opened [an issue](https://github.com/gbif/pipelines/issues/822) to capture the change needed so will close this question.

[2022-11-17 14:03] #4396 closed, assigned to nobody

[2022-11-17 14:06] CecSve commented on #4408
This is related to https://github.com/gbif/portal-feedback/issues/4405 where columns are shifted in the Pangaea datasets.

[2022-11-17 14:14] ahahn-gbif commented on #4405
It would appear that the missing eventDate column in the data file (between recordedBy and scientificName) shifts all following fields one step down against the field sequence in the meta.xml

[2022-11-17 14:33] CecSve commented on #4406
https://www.gbif.org/occurrence/search?q=uomsat%20d%C3%B8dt%20organisk%20materiale%20(f%C3%B8rne,%20visne%20blade,%20grene,%20tr%C3%A6stubbe)&dataset_key=67fabcac-a638-40a6-9bea-aeca8aced9f1&advanced=1&occurrence_status=present

[2022-11-17 14:34] CecSve commented on #4407
https://www.gbif.org/occurrence/search?q=mineraljord%20(sand,%20ler,%20sten)&dataset_key=67fabcac-a638-40a6-9bea-aeca8aced9f1&advanced=1&occurrence_status=present

[2022-11-17 15:40] #4408 closed, assigned to nobody

[2022-11-17 15:41] timrobertson100 commented on #4162
While [gbif/pipelines#882](https://github.com/gbif/pipelines/issues/822) remains open, I'd recommend filling `otherCatalogNumbers` with the triplet of `institutionCode:collectionCode:catalogNumber` for the target record, using the exact(!) values you'd find on the target record.

For example, if you want to connect your record to a record from _The Acme Museum_ which appears as:

[code]

If you ad

[2022-11-17 15:41] #4162 closed, assigned to nobody

[2022-11-17 16:56] RicardoOrtizG opened #4416 "Data validator - Validation issues and time of execution"
Hi!,

I wanted to report an issue with the Data Validator but I found both repositories (gbif-data-validator, dwca-validator3) as "archived by the owner". So, I will explain our issue here, if there is a repository I missed, please let me know to migrate it from here.

A little context first. As part of the Data Mobilization courses of SiB Colombia, we promote the use of the Data Validator, with t

[2022-11-18 09:56] muttcg commented on #4416
Hi @RicardoOrtizG

The short answer is everything you mention is correct and works as expected for the current version, and you will 100% get the same result if you publish data to GBIF.

Project is supported and moreover it was significantly redesigned, now it is part of the for main ingestion project https://github.com/gbif/pipelines
_PS Remember the best way to create an issue and leave feedbac

[2022-11-18 10:47] gbif-portal opened #4417 "Maybe include "https://doi.org/" in the field containing the doi code in tsv downloads of dataset search?"
**Maybe include &quot;`https://doi.org/`&quot; in the field containing the doi code in tsv downloads of dataset search?**

When performing af search of datasets (e.g.: https://www.gbif.org/dataset/search?q=metabarcoding), and you select "DOWNLOAD AS TSV", the resulting tsv contains a field "doi" with the doi.
If "https://doi.org/" was included in the text of this field, it would work more easily a

[2022-11-18 13:59] ManonGros commented on #4393
It looks like it isn't straightforward, the two entries we have for Turku are herbaria: https://registry.gbif.org/institution/search?q=Turku
While the dataset seem to reference to the zoological museum: https://collections.utu.fi/en/zoological-museum/ (code mentioned ZMUT).
The best would be to contact the institution and ask how best they would like represent their institution (museum and herbari

[2022-11-18 14:29] #4392 closed, assigned to ManonGros

[2022-11-18 14:34] muttcg commented on #4231
@esko-piirainen it is deployed to PROD and occurrences have been re-interpreted

[2022-11-18 14:34] #4231 closed, assigned to nobody

[2022-11-18 15:08] RicardoOrtizG commented on #4416
I think the improvements are great, but it changes a little the aim of using this tool in our data quality workshops because it won't let the users know if there is something wrong that has to fix on their data, for example, the dates standard missing and the duplicated occurrenceID issue. But now is more clear the goal of the actualization of the tool.

Thanks for the answer.

[2022-11-18 18:43] AbbyBenson commented on #4416
This is problematic because the IPT will not allow you to publish a dataset this way (and I agree with this- we should not allow this). So if I have a data provider interested in checking that their data will load and publish correctly in the IPT then the validator won't meet that need.

[2022-11-18 19:24] MattBlissett commented on #4405
Thanks for fixing this quickly Robert, I think that has sorted it.

Remaining issues are lower priority and not related to this issue, but I have found them as I looked into the problem.

For some Pangaea datasets we aren't able to retrieve the DWCA at all, instead we get an error "No taxonomic information identified in dataset, skipping DwC-A ASCII table generation."

These are:

[code]

[2022-11-19 16:46] gbif-portal opened #4419 "3 frog species missing from the GBIF backbone taxonomy"
**3 frog species missing from the GBIF backbone taxonomy**

Dear GBIF team,

My name is Paul Székely and I'm the curator of the MUTPL amphibian collection, from Ecuador. I just want to let you know that three new frog species are missing from the GBIF database:

Pristimantis matildae Székely, Eguiguren, Ordóñez-Delgado, Armijos-Ojeda, and Székely, 2020

Pristimantis samaniegoi Székely, Eguiguren,

[2022-11-21 04:14] themerekat commented on #4397
This has been resolved

[2022-11-21 07:30] gbif-portal opened #4420 "Linum Usitatissimum not interpreted"
**Linum Usitatissimum not interpreted**

https://www.gbif.org/occurrence/search?offset=0&dataset_key=a4603234-322e-11e2-aba1-00145eb45e9a&taxon_key=0

All records of Linum usitatissimum not interpreted in this dataset. They are spelled with capital U, but...

(maybe this is fixed with the new backbone?)

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/393482cddd36e65aa6dbd55b

[2022-11-21 08:19] gbif-portal opened #4421 "Processing error message contains wrong link to system-health"
**Processing error message contains wrong link to system-health**

Reported via email to helpdesk: the validator message that reads

Hello [name],
We are sorry, but an error has occurred processing your data.
Please see http://www.gbif.org/tools/data-validator/[validation key] for more details, http://www.gbif.org/system-health for the current status of GBIF.org's systems, and try again in a few m

[2022-11-21 08:58] #4397 closed, assigned to nobody

[2022-11-21 09:08] MortenHofft commented on #4421
@mike-podolskiy90 I believe you know where to fix this?

[2022-11-21 09:12] CecSve opened #4422 "iBOL dataset - move occurrenceRemarks information to field with endpoint and more suggestions"
Two changes to the interpretation of the [iBOL dataset](https://www.gbif.org/dataset/040c5662-da76-4782-a48e-cdea1892d14c) could be worth incorporating (+ a third suggestion):

1. Information on original publishers to the [BOLD dataset](https://github.com/ropensci/rgbif/issues/556) in GBIF currently end up in the occurrenceRemarks field and ideally it should be put in a field that more clearly sho

[2022-11-21 09:14] muttcg commented on #4416
@RicardoOrtizG I think it will be easy to display at least the number of duplicate occurrence_ids and I will check how to show which occurrence_ids are duplicated, there are some difficulties with that

[2022-11-21 09:44] CecSve opened #4423 "Scroll bar on tab view in dataset pages"
A scroll bar has appeared on dataset pages (see [example](https://www.gbif.org/dataset/df12ca07-f133-4550-ab3b-fde13f0e76ba))
![image](https://user-images.githubusercontent.com/54532645/203017845-7c5885a0-7575-4418-871a-0770ae53cbaa.png)

It is not a major issue but it looks a bit weird @MortenHofft.

[2022-11-21 09:54] CecSve commented on #4422
Regarding 1., as @jhnwllr [mentions](https://github.com/ropensci/rgbif/issues/556) the original publisher information is also captured in `recordedBy`:

Perhaps it would make sense to remove the information from `occurrenceRemarks`?

[2022-11-21 10:00] #4421 closed, assigned to MattBlissett

[2022-11-21 10:10] CecSve opened #4424 "Zero occurrences in the eventID button on occurrence record page for events with present occurrences"
I noticed the issue in this [dataset](https://www.gbif.org/dataset/df12ca07-f133-4550-ab3b-fde13f0e76ba) and do not know if it is occurring in others. This dataset was recently updated to allow interpretation of scientificName in the verbatimIdentification field if the scientificName was not provided - but the issue occurs in cases where the [scientificName](https://www.gbif.org/occurrence/3448054

[2022-11-21 10:14] CecSve commented on #4401
The publisher has updated the dataset and 'brak danych' has been removed from the affected records.

[2022-11-21 10:14] #4401 closed, assigned to CecSve

[2022-11-21 10:19] CecSve commented on #4384
The user has been contacted through helpdesk and asked to elaborate on the issue in order for us to follow up with the publisher.

[2022-11-21 10:30] MortenHofft commented on #4424
It is, in the portal at first glance. Looks like strip the `#2` part of the eventId/url when we search for it

[2022-11-21 10:30] CecSve commented on #4420
The name matcher uses capitilization in order to figure out what the species epithet is and this relates to the same principle as [here](https://github.com/gbif/backbone-feedback/issues/233). [The species is already in the backbone](https://www.gbif.org/species/2873861). I have added the parsers label as I believe it relates to parsing and interpretation.

[2022-11-21 10:34] MortenHofft commented on #4423
Nothing has changed in portal code in theis respect as far as I can see.
So presumably this is caused by a change in Firefox or in your browser plugins/settings.

I cannot reproduce it, but we should try to fix it. Looks like something a single line of css could remove (`overflow-y: hidden`), but unclear why it happens in the first instance

[2022-11-21 10:41] CecSve commented on #4414
May be resolved by the new backbone update - check when the update is in effect. User has been contacted through helpdesk.

[2022-11-21 13:43] gbif-portal opened #4425 "Registry: character limit for institution abbreviation seems too small"
**Registry: character limit for institution abbreviation seems too small**

The registry UI page for an organization denies adding the desired institution abbreviation of "BIOTA/FAPESP" with an error message of "Validation of [abbreviation] failed: size must be between 1 and 10". I am not sure whether this is a UI limit or the database specification, but a limit of 10 characters appears too short

[2022-11-21 13:48] MortenHofft commented on #4425
I checked (by looking at the requests in the browser) and it is the API that sets that limit

[2022-11-21 14:16] gbif-portal opened #4426 "Data validator hits an error while the test IPT gives useful user feedback"
**Data validator hits an error while the test IPT gives useful user feedback**

When validating an archive the validator [immediately fails](http://www.gbif.org/tools/data-validator/a08a439f-5fd6-4950-a5e3-28b7be7871ab) while running the archive through the test IPT:

14:12:33 ? Validating the core ID field taxonID is always present and unique. Note: the core ID field is required to link core reco

[2022-11-21 14:40] muttcg commented on #4416
@RicardoOrtizG Datasets with less than 15000 occurrence records must work much faster, but the queue is still present in case when many users try to validate data

[2022-11-21 14:55] ManonGros opened #4427 "Add mentions of the Data Use Club in email notifications - registration and/or download?"
Last Data Use Club Webinar, a lot of the participants seemed to be more from our publisher community than our user community.
Would it make sense to mention the data use club in the emails that are sent to users when they register on GBIF or when they download data?

What do you think @andrewrodrigues @dnoesgaard ?

[2022-11-21 15:04] gbif-portal opened #4428 "GRSciColl collection: Charles Gardner Shaw Mycological Herbarium"
**GRSciColl collection: Charles Gardner Shaw Mycological Herbarium**

A new [fungal specimen dataset](https://www.gbif.org/dataset/0ec61c42-6eda-441e-b327-7ec241c8ec95) from the [Charles Gardner Shaw Mycological Herbarium at Washington State University](https://www.gbif.org/publisher/00ff478a-9da6-4c8d-b60d-43ee8c88cd1f) has connected to the [IH institution](https://www.gbif.org/grscicoll/institut

[2022-11-21 15:15] gbif-portal opened #4429 "GRSciColl: H.J. Andrews Experimental Forest"
**GRSciColl: H.J. Andrews Experimental Forest**

[New dataset](https://www.gbif.org/dataset/e39fa2e7-b657-438b-bc34-0766c5538ca9) from a US Forest Service collection fails to connect to either the GRSciColl [collection](https://www.gbif.org/grscicoll/collection/0e0668da-2511-4dbc-8d6f-c255cf354b73) or the [institution](https://www.gbif.org/grscicoll/institution/2954a9da-39f4-44de-b8c1-cfb1e176a81e

[2022-11-21 15:19] gbif-portal opened #4430 "GRSciColl: BLM Medford Herbarium collection"
**GRSciColl: BLM Medford Herbarium collection**

Another new dataset from the [Consortium of Pacific Northwest Herbaria](https://www.gbif.org/dataset/search?publishing_org=6567af74-d231-4588-a123-5d0b7a095fda).

The [vascular plants dataset from the BLM Medford Office](https://www.gbif.org/dataset/0f41bf31-a72d-47ca-928a-398e812cdc80) syncs up with the [GRSciColl institution](https://www.gbif.org/

[2022-11-21 15:20] AFisherCSULB commented on #4397
Thank you- coordinates are restored on GitHub!

_______________________________________________________

Amanda Fisher, Ph.D. (she/her)

Assoc. Prof. of Botany

Dept. of Biological Sciences

California State University, Long Beach

Long Beach, California

________________________________
From: Katie Pearson ***@***.***>
Sent: Sunday, November 20, 2022 8:15 PM
To: gbif/portal-feedback ***@***.***>

[2022-11-21 15:24] RicardoOrtizG commented on #4416
That's great news. I think it improves a lot the user experience with the tool in terms of the time of response for small datasets.

[2022-11-21 15:47] gbif-portal opened #4431 "Bug in taxon-tree and KRONA-chart links from occurrence search result page (taxonomy) of events"
**Bug in taxon-tree and KRONA-chart links from occurrence search result page (taxonomy) of events**

From a occurrence search in an event:
https://www.gbif.org/occurrence/search?dataset_key=f506be53-9221-4b44-a41d-5aa0905ec216&event_id=urn:zmuc:2006-07-21~2F2006-07-27
When on the taxonomy tab: clicking on any number next to a taxon names in the taxonomy tree (also on the corresponding piece of pie

[2022-11-21 18:22] debpaul opened #4432 "Possible examples and need for sharing mixed observation and vouchered specimen record datasets"
Greetings GBIF,

RE: datasets containing both **observation records** (e. g. remote monitoring, human observation) and **vouchered specimen data records**

**Scenario**: In monitoring native bees for a given region on the planet (i. e. humans looking at bees and identifying them, maybe imaging them) data are to be collected in a spreadsheet. To start with, for each **morphospecies** encountered at

[2022-11-21 20:37] AbbyBenson commented on #4432
Realize I'm not the people you were reaching out to on this but I am currently working with a data provider from USDA with exactly this type of information collected. For one project they have vouchered specimens (`basisOfRecord` = PreservedSpecimen), video observations (`basisOfRecord` = MachineObservation), and visual observations (`basisOfRecord` = HumanObservation). In this instance we have el

[2022-11-21 21:18] debpaul commented on #4432
@albenson-usgs

Marvelous, your response is wonderful and timely. Thank you for taking the time to offer your experience, and examples! Much appreciated.

We can both look forward to further insights from GBIF-S.

[2022-11-22 08:24] timrobertson100 commented on #4432
Thanks @debpaul @albenson-usgs

I'm sure others will jump in, but I will make a start and try and provide some background information.

Firstly, Abby is correct in her reply (thank you). BasisOfRecord can be mixed within a dataset and is commonly varied in a download.

Secondly, we're aware that the current dataset classes are insufficient and confusing, and we have a [discussion underway](https:/

[2022-11-22 09:20] ahahn-gbif commented on #4432
Hi Deb, All,
I am moving this over to portal-feedback, as the mobilization repo has a slightly different context.

Thanks, @albenson-usgs and @timrobertson100 for your responses - spot on! Just to add that yes, it would indeed be preferable to use the "sampling event" class for datasets that have well-documented sampling methodology and other relevant metadata. This said, with the current limitati

[2022-11-22 09:43] MortenHofft commented on #4431
I cannot reproduce this on my mac in
* chrome
* safari
* firefox

And cannot reproduce it on my mobile either

[2022-11-22 10:29] CecSve commented on #4426
Update: the validator still fails to verify the archive format
![image](https://user-images.githubusercontent.com/54532645/203290822-a87ee1c4-0328-4d64-8d3b-29246fb29f72.png)
but now the IPT manage to publish the archive with no issues. The validator seems to validate other DwC-A's so I am not sure how to troubleshoot the issue.

[2022-11-22 12:01] CecSve commented on #4426
Update: there was two issue fixes that [made the validator work](https://www.gbif.org/tools/data-validator/31e5063b-5197-4615-9849-d62986271e45):

1. the meta.xml file did not correspond to the files column headers
2. core files and extensions contained two header rows (1 = verbatim value, 2 = IPT mapping value)

[2022-11-22 12:46] CecSve commented on #4393
The museum has been contacted through helpdesk.

[2022-11-22 12:59] #4424 closed, assigned to nobody

[2022-11-22 12:59] MortenHofft commented on #4424
Turns out we didn't encode eventId and organisIDs when searching, so eventIDs with characters such as the `#` above didn't work as they should.
BTW having a url with an anchor doesn't sound like a good ID to me.

[2022-11-22 12:59] CecSve commented on #4429
It seems the dataset fills in the collection code in the institution code and this results in no match ([example occurrence](https://www.gbif.org/occurrence/3968370477)). The institution code should instead be `USDA-FS` and the collection code should be `HJAEF`, as far as I can see.

[2022-11-22 14:15] CecSve commented on #4318
The dataset contacts and the institution contacts are the same. I will contact them via helpdesk and ask how the institution and collections should be registered in grscicoll.

[2022-11-23 08:31] ManonGros commented on #4430
I added `Vascular` as an alternative code for the collection. Once the GRSciColl cache is refreshed, it should be enough to link the records to the collection upon data reinterpretation.

[2022-11-23 08:36] CecSve commented on #4299
The dataset publisher and host has been contacted via helpdesk.

[2022-11-23 14:02] CecSve opened #4433 "Instituto de Botánica Darwinion - orphaned dataset and record issues"
A user on helpdesk (November 22, 2022) has noticed an issue with some [occurrences](https://www.gbif.org/occurrence/search?advanced=false&geometry=POLYGON((-75.84159%20-53.49428,-72.16121%20-53.49428,-72.16121%20-50.52415,-75.84159%20-50.52415,-75.84159%20-53.49428))&has_coordinate=true&locale=en&taxon_key=2694963) of Tillandsia castellanii L.B. Sm. that seems to appear too southern for their nati

[2022-11-23 15:53] damianooldoni opened #4434 "`organismQuantity` values not interpreted - excluded"
We published two occurrence datasets containing abundancy values in field `organismQuantity`. In both datasets these values are excluded (not interpreted). For more info, see https://github.com/riparias/anb-plants-occurrences/issues/5 and https://github.com/riparias/vmm-macrophytes-occurrences/issues/27

Any idea? This issue could be similar to #2759 and #4020.

Thanks in advance for taking care o

[2022-11-23 16:55] themerekat opened #4435 "GRSciColl: when merging collections/institutions, don't show the current collection/institution"
When attempting to merge collections in GRSciColl, the dropdown list that shows up in the popup window will include the collection that you are currently viewing (i.e., the one that you wish to merge with another collection). If the collections have the same exact name, then it is impossible to know which collection is the one into which you would like to merge the collection you are on. Could the

[2022-11-24 09:05] jhnwllr opened #4436 "Many related records (is_in_cluster) are country/province centroids"
@timrobertson100 @MattBlissett

While working on some "related records" (is_in_cluster) for a different project, I became curious about how many "is_in_cluster" records are **country/province centroids**.

**582,271** of 41,104,250 is_in_cluster records are country/province centroids. (1.5%)

I know this probably **isn't a surprise**, but I think it shows why flagging centroids on GBIF will be hel

[2022-11-24 09:31] timrobertson100 commented on #4436
That makes good sense @jhnwllr - thanks.

Perhaps the clustering should make use of the centroid flag, and ignore the coordinates when making a decision if the records should be linked. Just because 2 records carry centroid coordinates doesn't mean they shouldn't link (e.g. if they both assert type status for the same name) but it could well be a cause for too many links.

What do you think, pleas

[2022-11-24 11:42] timrobertson100 commented on #4436
Thanks @jhnwllr - I'll move this to the pipelines project and rename the issue

[2022-11-24 13:28] ManonGros commented on #4434
As far as I know, our system expects a decimal value for this field. I don't think it can handle characters.

[2022-11-24 13:34] mdoering commented on #4434
Even though [organismQuantity](https://dwc.tdwg.org/terms/#dwc:organismQuantity) goes together with the unit [organismQuantityType](https://dwc.tdwg.org/list/#dwc_organismQuantityType) it is clearly not purely numerical. If we indeed interpret it that way we should change that, DwC gives valid examples that are not numerical.

[2022-11-24 13:48] ManonGros commented on #4434
Right now users can search based on organism quantity and quantity type (less than 2 square meters, more than 1 sequence read, etc.)
I don't think this is something that could be done if the system also took into account non-numerical values. Could it?

Isn't it useful to be able to filter for quantities?

[2022-11-24 13:59] mdoering commented on #4434
It clearly is, but there are non numerical values that are also useful to search for, e.g. the given example value `r` for the [Braun Blanquet scale](http://www.botanydictionary.org/braun-blanquet-scale.html).

[2022-11-24 13:59] MattBlissett commented on #4434
I see there are ACFOR and DAFOR scales, we could at least support those: https://en.wikipedia.org/wiki/Abundance_(ecology)

We'd need to maintain the numeric (range) filters, and also allow string filters.

[2022-11-24 14:18] mdoering commented on #4434
it would be great if we could split the field into a numerical one and another one where we parse values into known scales depending on the quantityType given - or even by inspecting distinct values. We could default to numerical. But treat known non numerical scales differently.

[2022-11-24 14:52] gbif-portal opened #4437 "Wrong position"
**Wrong position**

Bahía Borja is in Chile, Southwest of Punta Arenas.  Aprox.  53°32'12.68"S  72°25'2.51"O

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/08a430100056c24ccabe4cce4a2d8d37:1fc3ea7e19b549be714dd3ba10af535c627b38e816699b2f042eea3a98c4eaa06787e292546ad1cbb6f744f3a4ebae3e83fd59bfbf33704a34130fe40e3340411bcf4dea36d95c62c64aacf39aafa395367977c09733fcdea4e2b9b08b7

[2022-11-24 14:53] gbif-portal opened #4438 "Wrong location"
**Wrong location**

Bahía Borja is in Chile, Southwest of Punta Arenas.  Aprox.  53°32'12.68"S  72°25'2.51"O

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/349a25fa19b167e1fefeb361eca3c00a:3001d1e73e42ef33e7d13e9e17324cccc9d65d51dde641c33f6ca808421efff50da021385f2602ec30b62e37f0c962b5b187acf427a1a61121ad730ed4a8022866350fc69d7bad58ceac8053bb41658954cd41173a695f07a36e9af3934

[2022-11-25 02:56] gbif-portal opened #4439 "GBIF missing species level names of some Australian natives"
**GBIF missing species level names of some Australian natives**

Some occurrence records of Australian natives do not appear in a general GBIF search (i.e. from the main page: https://www.gbif.org/) and only appear in an occurrence search (i.e. from the occurrence page: https://www.gbif.org/occurrence/search?occurrence_status=present&q=) because they are not recognized as species level taxa in the

[2022-11-25 13:48] gbif-portal opened #4440 "Identification unlikely - Commiphora cuspidata Chiov."
**Identification unlikely - Commiphora cuspidata Chiov.**

Issue originally reported by email.

One of users suspects that the specimens here aren't actually  Commiphora cuspidata Chiov (which is a synonym of Commiphora myrrha) for two main reasons:
1. The images don't look like C. myrrha (the user sent us some pictures of C. myrrha which I will forward to the publisher) and here is a specimen tha

[2022-11-25 14:18] ManonGros commented on #4440
Contacted the publisher by email.

[2022-11-26 06:09] gbif-portal opened #4441 "Please delete my account. Thank you!"
**Please delete my account. Thank you!**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6818dd11ec7615a9b04516d2b4a8c613:eb2894e44f6da723e8e0de9964924bd39978163f162b09cdbda844f0557b8e127d0fead119e78369ca279edb557653588b4587ed8b381ed1eb5ff933dd528536a965a82156ab43ff294b076f0eec3eca8c883fb9a615458f56c03affc0a7dcde) - [Send email](https://www.gbif.org/api/feedback/user/mailto/

[2022-11-26 12:53] bart-v commented on #4307
Fixed in WoRMS & GBIF
Can be closed

[2022-11-27 18:07] gbif-portal opened #4442 "Wrong photos"
**Wrong photos**

Photos shown of Cheilosia morio (Diptera, Syrphidae)
do not show the species in question. See https://www.gbif.org/species/1540231.

Best wishes
LBC

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/de387b214397df94aa09a00210b8095a:4edc449abc00b78992d5630f9820628384d85dfc5af3f71fbdb81dd7fd2bb5d61146908bc2c0248d574b51a1efa363ef5e240b3b66dcbaa1fbfecfeda83c97d5b

[2022-11-28 06:33] JoinJoker opened #4443 "Access the sparql endpoint"
Hi:
      Do you provide data in rdf triples? I did not find the sparql endpoint to access the data on the portal system, could you let me know if there is one .

Thanks!

[2022-11-28 08:07] ManonGros commented on #4441
Account deleted and user notified by email.

[2022-11-28 08:07] #4441 closed, assigned to ManonGros

[2022-11-28 08:48] MortenHofft commented on #4443
There is no such endpoint I'm afraid. The API is described at https://www.gbif.org/developer/summary

[2022-11-28 08:48] #4443 closed, assigned to nobody

[2022-11-28 13:18] CecSve commented on #4080
@SophiePamerlon this is the issue I mentioned in the helpdesk email.

[2022-11-28 13:34] rukayaj opened #4444 "Dataset not updating"
We've got a Ukrainian dataset that does not seem to be updating:

https://ukraine.ipt.gbif.no/resource?r=ancient_settlements
https://www.gbif.org/dataset/89292560-7a4c-4a05-a0b7-7c839f1c252d
https://registry.gbif.org/dataset/89292560-7a4c-4a05-a0b7-7c839f1c252d/crawling-history

There should be 3210 occurrences. There's 1 record which was added on 25 Nov which still isn't showing. We've published

[2022-11-28 13:46] ManonGros commented on #4444
Hi @rukayaj
The dataset ingestions are currently paused while we are working on the backbone update.
We will put a message again, keep an eye on the health page. If the datasets aren't ingesting after we resume ingestions, let us know. Thanks!

[2022-11-28 13:46] rukayaj commented on #4444
Ok thank you @ManonGros :)

[2022-11-28 14:04] SophiePamerlon commented on #4080
@CecSve Thank you, I confirm that a general button for dl stats about all datasets published by a data publisher is something that could be useful & has been requested by French publishers :)

[2022-11-28 15:38] gbif-portal opened #4445 "I would like to make a species list download with all synonyms for the accepted species, as well as the name for the species in certain languages. Is that possible or can i use any of the tools to get a certain list?"
**I would like to make a species list download with all synonyms for the accepted species, as well as the name for the species in certain languages. Is that possible or can i use any of the tools to get a certain list?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c1f2cddde073c25d1f988e60d050f980:5c1d36f50d22f58e811b3ea086297a36938fc15fc9560606c596247fc816ffc6a69384e403d

[2022-11-28 21:03] gbif-portal opened #4446 "Issue with country code"
**Issue with country code**

Please update the country code, it should be CM for Cameroon (CA is Canada). Thank you!

The same issue was discovered for a few other MNHN specimens collected by Zenker.
Item IDs:
http://coldb.mnhn.fr/catalognumber/mnhn/pc/pc0101750
http://coldb.mnhn.fr/catalognumber/mnhn/pc/pc0104006
http://coldb.mnhn.fr/catalognumber/mnhn/pc/pc0104007

-----

User: [See in registry]

[2022-11-29 09:55] melissa0520 commented on #4376
Cannot make a contact with anyone related to the dataset or KBIF IPT admin... some of the emails are invalid

[2022-11-29 12:20] muttcg commented on #4416
@RicardoOrtizG I added occurrence_id duplicates issue flag for xlsx/csv files (it used to work only for dwca files), unfortunately it doesn't show examples, but at least highlight the problem

[2022-11-29 12:38] ManonGros commented on #4445
If you want to access a list of names without any associated occurrence. The easiest is to use the [GBIF Species API](https://www.gbif.org/developer/species).

This will allow you to access the synonyms of a taxon (for example here are the synonyms of Callidiellum rufipennis (Motschulsky, 1861): https://api.gbif.org/v1/species/1152186/synonyms?limit=500) as well as the vernacular names available (

[2022-11-29 12:38] #4445 closed, assigned to ManonGros

[2022-11-29 14:12] CecSve commented on #4318
The Ecuadorian Node is following up on this issue and have added UCE-SIMYH as an alternative institution code. May need to add the owner institution code from the dataset as well, but will follow up once ingestion is resumed.

[2022-11-29 14:42] ManonGros commented on #4404
User was notified that the statistics were updated and that the numbers for November will be available in December.

[2022-11-29 15:46] gbif-portal opened #4447 "How can I download a checklist data set in a csv file?"
**How can I download a checklist data set in a csv file?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/a40025b8c2de0495de71b0c2a1317aa2:f69bb9bf3905223049ab9bed2566866dd8de8cc26e76c2dac5cd4e7680aed576645ce6ad224bda72aa69981521567612f264962785ddcdc9ccb442b1bdc0f3dbb5df3cd8b416148d4efba9f31b9f3d0026718008c65c99ea9a6f35bcc581044681811cea4e6302bb38d8efea6b0a07c89adf83ef698de

[2022-11-30 07:50] #4444 closed, assigned to nobody

[2022-11-30 10:49] gbif-portal opened #4448 "Fusus neitoideaus (Lamarck, 1816) is not an accepted name and Coralliophila neritoidea (two authors) are synonyms of Coralliophila violacea Kiener, 1836"
**Fusus neitoideaus (Lamarck, 1816) is not an accepted name and Coralliophila neritoidea (two authors) are synonyms of Coralliophila violacea Kiener, 1836**

A GBIF user noticed a taxonomic issue for Coralliophila neritoidea (Mollusca) https://www.gbif.org/search?q=Coralliophila%20neritoidea%20. This is the description:

Coralliophila neritoidea appears two times, one authored by Gmelin, 1791 and

[2022-11-30 11:55] MortenHofft commented on #4080
It is now on publisher pages as well. It isn't exactly highlighted, see if you can find it
https://www.gbif.org/publisher/b554c320-0560-11d8-b851-b8a03c50a862

I'm surprised to see that it has more citations than download? @ManonGros doesn't this look odd?

UPDATE:
51,354 for this dataset https://www.gbif.org/dataset/8f79c802-a58c-447f-99aa-1d6a0790825a/activity
1286 for the publisher https://www.

[2022-11-30 12:05] CecSve commented on #4080
The 1286 comes from the number of lines (unique datasetKey + month + year combo) in the download report. It should be the sum of downloads (number_downloads) instead.

[2022-11-30 12:25] ManonGros commented on #4080
Yes it looks like 1286 is not the sum of downloads but the number of entries in the result of this query: https://api.gbif.org/v1/occurrence/download/statistics?publishingOrgKey=b554c320-0560-11d8-b851-b8a03c50a862 (number of lines). I suggest to remove the number `1286`.

[2022-11-30 13:05] MortenHofft commented on #4080
I did that. It looks weird to say: `download: download report`, so I'm changing the layout a bit and will close this issue as it is now there. It looks a bit odd to be honest, but I will close the issue. Feel free to create a new if there is other changes related to this, but the core functionality of it seem to be there: you can download the reports

[2022-11-30 13:05] #4080 closed, assigned to nobody

[2022-11-30 14:01] gbif-portal opened #4449 "Ammonites coronatum - incorrect authorship"
**Ammonites coronatum - incorrect authorship**

This follows a helpdesk email.

The name for this species: https://www.gbif.org/species/9372949 should be Ammonites coronatus BRUGUIÈRE, 1789 as shown in this occurrence record below.

It is in 1848 that d'Orbigny includes this ammonite species in his book "Paléontologie française" but the is actually Bruguière en 1789.

The current name we have come

[2022-11-30 14:16] CecSve commented on #4447
User has been contacted through help desk with the following instructions.

You would need to download the zip-archive from the source from the dataset page. I will use the Catalogue of Life [checklist](https://www.gbif.org/dataset/7ddf754f-d193-4cc9-b351-99906754a03b) as an example – if you scroll down to the bottom of the page you will see the details of the GBIF registration:

![image](https://

[2022-11-30 14:18] #4447 closed, assigned to CecSve

[2022-11-30 14:20] acbentley commented on #4080
That looks awesome.  Thanks for adding that.

Andy
    A  :             A  :             A  :
 }<(((_°>.,.,.,.}<(((_°>.,.,.,.}<)))_°>
    V                V                V
Andy Bentley
Ichthyology Collection Manager
University of Kansas
Biodiversity Institute
Dyche Hall
1345 Jayhawk Boulevard<x-apple-data-detectors://9/>
Lawrence, KS, 66045-7561<x-apple-data-detectors://9/>
USA<x-apple-data-dete

[2022-11-30 14:22] #4394 closed, assigned to nobody

[2022-11-30 14:31] ManonGros commented on #3037
Solved in the new backbone.

[2022-11-30 14:31] #3037 closed

[2022-11-30 14:35] ManonGros commented on #3427
Solved in the newest backbone

[2022-11-30 14:35] #3427 closed, assigned to ManonGros

[2022-11-30 14:38] ManonGros commented on #3426
It looks like the issue is solved in the new backbone.

[2022-11-30 14:38] #3426 closed, assigned to ManonGros

[2022-11-30 14:42] ManonGros commented on #3555
Issue solved in the new GBIF backbone taxonomy

[2022-11-30 14:42] #3555 closed, assigned to ManonGros

[2022-11-30 14:43] ManonGros commented on #3522
Issue solved in the new backbone update

[2022-11-30 14:43] #3522 closed, assigned to ManonGros

[2022-11-30 14:50] ManonGros commented on #3540
Issue solved in the new backbone.

[2022-11-30 14:50] #3540 closed, assigned to ManonGros

[2022-11-30 14:51] CecSve commented on #4446
The museum has been contacted and asked to amend the country code for the three records.

[2022-11-30 14:51] #2386 closed

[2022-11-30 15:04] ManonGros commented on #3643
The issue seems to be solved in the newest version of the backbone taxonomy.

[2022-11-30 15:04] #3643 closed, assigned to ManonGros

[2022-11-30 15:24] CecSve commented on #4442
The user has been contacted via helpdesk and has been asked to share links to the pictures that do not represent the species.

[2022-11-30 15:36] ManonGros commented on #3634
In the new backbone taxonomy, Samia canningii Drury, 1773 has been removed and Samia canningi Hutton, 1859 (https://www.gbif.org/species/7429039) has been added. Let me know if the issue should be reopened @WilliamAvery

[2022-11-30 15:36] #3634 closed, assigned to ManonGros

[2022-11-30 16:13] CecSve commented on #4281
Subphylum is currently not supported in GBIFs taxonomic backbone but the Myriatrix checklist has now been [included ](https://hosted-datasets.gbif.org/datasets/backbone/2022-11-23/README.html) as a data source in Checklistbank. The issue is therefore considered to be resolved.

[2022-11-30 16:13] #4281 closed, assigned to nobody

[2022-11-30 22:27] gbif-portal opened #4450 "Replace/delete dataset and link to new dataset"
**Replace/delete dataset and link to new dataset**

Hello,
I'd like to request help linking an old, now defunct dataset to a replacement dataset while retaining citations, metrics, etc. of the old dataset. In previous contact with GBIF Helpdesk, this dataset was provided as an example of what I'd like to do: https://www.gbif.org/dataset/fc003253-5eee-414e-84c8-817e12bdb708

The old dataset is:
htt