[2021-12-09 08:16] jhnwllr commented on #656
publisher emails bounced, so we are stuck with a front end solution or we ignore this.

[2021-12-09 08:18] MortenHofft commented on #656
The front end do not know if an image is broken ahead of time. We can ask for it and detect if it is broken/missing upon arrival. Currently we show that the image is broken, we could also choose to hide it.

In occurrence search gallery we show an explicit broken image. In the dataset view I simply hide it (but fetch far more images than can be shown, so typically there will be enough functional o

[2021-12-09 08:21] #656 closed

[2021-12-09 08:44] jhnwllr commented on #3736
@ApoSimon should this be reopened?

[2021-12-09 09:08] #3792 closed, assigned to nobody

[2021-12-09 09:11] MortenHofft commented on #3802
@thomasstjerne this looks like an issue with the formatted name parser?

The thing is - there is no API to provide names with italics. So Thomas has written one because users wanted italics. It looks like that is the one causing issues in this case.

The name in the API is fine https://api.gbif.org/v1/species/3033584
And the one parsed by the API looks good as well https://api.gbif.org/v1/species/

[2021-12-09 09:22] #3801 closed, assigned to nobody

[2021-12-09 09:29] mdoering commented on #3802
We have added a label and labelHtml to the COL API. It will take a while until we do the switch, so maybe it would be good to provide the same for a NameUsage in the GBIF API?

[2021-12-09 09:37] #3802 closed, assigned to thomasstjerne

[2021-12-09 09:38] MortenHofft commented on #3802
That would be wonderful yes. Especially because I would like to use that in the GraphQL endpoints as well.

[2021-12-09 09:39] MortenHofft commented on #3802
Currently GraphQL has a copy of the portal version. So when Thomas fix this issue as above, then the hosted portals still show the wrong name

[2021-12-09 09:47] thomasstjerne commented on #3802
Our formatting got confused because the author is included in the scientificName [here](https://api.gbif.org/v1/species/3033584/name) but not [here](https://api.gbif.org/v1/species/7310827/name)
I think it catches both cases now.

[2021-12-09 12:08] ApoSimon commented on #3736
@jhnwllr  I think so, yes. It seems to me to be a case, which probably holds some insights into similar problems of species level taxa matching.

[2021-12-09 14:11] ManonGros commented on #3797
The species currently available for that genus came from a variety of sources. We don't have a global comprehensive source.
Species have to come form a source before being integrated in the GBIF backbone taxonomy. In this case, I am not sure which one to contact to get the missing data added. Choosing one at random is a bit arbitrary. I logged an issue in the CoL, maybe they will be able to find a

[2021-12-09 14:36] ManonGros commented on #3785
Good question, I don't know if this is something we could do.
The only two possible solutions I can think of on the side of the publisher are:

- leave the institution code and ID fields empty
- or create an entry for the on the GRSciColl side

I don't think there would be an way to do this on GBIF's side. @marcos-lg any thoughts on this?

[2021-12-09 14:49] gbif-portal opened #3803 "Unfurtunate use of vernacular names"
**Unfurtunate use of vernacular names**

The "National checklist of all species occurring in Denmark" is becoming the "authorized" taxon list from Denmark. Because of this we would very much appreciate if the vernacular names on GBIF also follow the national checklist.

For the time being there is a lot of wrong vernacular names attached to danish taxa, many of which derives from DAISIE.

An examp

[2021-12-09 15:14] timrobertson100 commented on #3728
Fixed in production

[2021-12-09 15:27] gbif-portal opened #3804 "I've spotted that Sheffield Museum appears to be listed twice on GBIF. Once as SHF (Museums Sheffield, Weston Park Museum) and once as CMSK (City Museum, Sheffield). As curator of natural science for the institution, I can confirm that these two are one and the same. Is it possible to merge these two under SHF (Weston Park Museum, Sheffield), whilst retaining the CMSK as an alternative?"
**I&#39;ve spotted that Sheffield Museum appears to be listed twice on GBIF. Once as SHF (Museums Sheffield, Weston Park Museum) and once as CMSK (City Museum, Sheffield). As curator of natural science for the institution, I can confirm that these two are one and the same. Is it possible to merge these two under SHF (Weston Park Museum, Sheffield), whilst retaining the CMSK as an alternative?**

-

[2021-12-09 15:31] albenson-usgs commented on #3785
As I've raised elsewhere I think GBIF's interpretation that `institutionCode` and `institutionID` must always = a GRSciColl entry is flawed. MaterialSamples will not always be housed in collections. For instance eDNA datasets which are MaterialSamples may not be managed by a museum in a collection. It could be managed by an observation or monitoring network instead. However there is still an insti

[2021-12-09 15:33] gbif-portal opened #3805 "Incorrect synonymy of Cryptocephalus vittatus and Acalymma vittatum"
**Incorrect synonymy of Cryptocephalus vittatus and Acalymma vittatum**

These two beetles are distinct species.
Cryptocephalus vittatus (Chrysomelidae: Cryptocephalinae) is native to Europe and there are no records for North America.
Acalymma vittatum (Chrysomelidae: Galerucinae) is native to North America and there are no records for Europe.
GBIF detailed records online support the above: all sp

[2021-12-09 15:53] timrobertson100 commented on #3785
Is the problem here perhaps the way it is displayed as an "issue"? There will presumably be Material that will be housed or connected to an institution so it's reasonable to link where possible, but perhaps it simply shouldn't be flagged as an issue that no link can be found?

[2021-12-09 16:08] gbif-portal opened #3806 "new validator page: "Here" link for feedback links back to same page"
**new validator page: &quot;Here&quot; link for feedback links back to same page**

The link that should allow to log an issue in GitHub just leads back to the same page that it is coming from (validator report). Hyperlink needs correction (https://github.com/gbif/pipelines/issues/new ?)

-----

User: [See in registry](https://www.gbif-uat.org/api/feedback/user/4e53d8a4b08c033316cf6a6fe16bb6b9:bbe

[2021-12-09 16:26] gamblebnmnh commented on #449
@jhnwllr thanks for pinging me on this.  I've forwarded to our IZ collection and data mangers to ask if we should be publishing our illustration collections as occurrence records. Some are illustrations of specimens in our collection but others are not.  @MattBlissett I don't think "Occurrence" means just a singular organism it could be a lot of multiple organisms (same taxa) collected at the same

[2021-12-09 17:23] albenson-usgs commented on #3785
Yes I think so although this is not my Github issue so I may have overstepped my bounds to comment. When something is labeled as an issue it looks like it needs to be corrected but in this case there is nothing to correct as the flag doesn't make sense for these data. Seems like we need something closer to a "note" than a flag. A note indicating "we weren't able to make a match to GRSciColl here"

[2021-12-09 19:44] gbif-portal opened #3807 "The genus Nothocricetulus is listed as Valid in GBIF https://www.gbif.org/ru/species/141263862"
**The genus Nothocricetulus is listed as Valid in GBIF `https://www.gbif.org/ru/species/141263862`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d20178cb43eb03225fd8a43fedc8ac3b:b41e580ccdfc02a9098d687a0be1051fe2dc8b05f16f8aef8c9a1a227c7c4fa79a5fd17c17203973a8109b3526d59dd1d1ee31c0096fbaad52842fd6903fcc46)
System: Opera 81.0.4196 / Windows 10.0.0
Referer: https://www.gbi

[2021-12-09 19:47] gbif-portal opened #3808 "fix taxonomy in Nothocricetulus"
**fix taxonomy in Nothocricetulus**

The genus Nothocricetulus is listed as Valid in GBIF https://www.gbif.org/ru/species/141263862
But somehow no species is attributed to this genus so far in GBIF.
According to the description of the genus given in https://doi.org/10.11646/zootaxa.4387.2.5
the genus consist of a single species Nothocricetulus migratorius (Pallas, 1773). Synonym of this name is Cr

[2021-12-10 07:45] aallspac commented on #3652
was updated yesterday, many thanks...

[2021-12-10 08:15] jhnwllr commented on #3652
Great thank you. I will close the issue when the changes are visible on GBIF.org.

[2021-12-10 08:16] ManonGros commented on #3804
Institution merged and user notified (from the GRSciColl email address)

[2021-12-10 08:16] #3804 closed, assigned to ManonGros

[2021-12-10 08:22] ManonGros commented on #3805
Given that the original source doesn't have this synonymy relationship: https://www.gbif.org/species/116799208, I suspect that this is generated during the backbone building like for those other issues: https://github.com/gbif/checklistbank/issues/106

[2021-12-10 08:25] ManonGros commented on #3806
@ahahn-gbif could it be because of your browser parameters? On my browser it does the same think as clicking on the feedback button (opens the little form in the upper right corner).

[2021-12-10 08:28] ManonGros commented on #3807
Duplicate of: https://github.com/gbif/backbone-feedback/issues/317

[2021-12-10 08:28] #3807 closed, assigned to nobody

[2021-12-10 09:37] ahahn-gbif commented on #3806
Hm, you are right - today it does that. No browser parameters changed, but seems to be ok - closing

[2021-12-10 09:37] #3806 closed, assigned to nobody

[2021-12-10 12:14] MortenHofft commented on #3803
Thanks - I can see why this would be useful.

Currently no dataset is considered more trustworthy than others in this regard. To change this we would either have to
* Create or update the APIs to give priority to certain checklists
* Maintain a curated list in the frontend of checklists to prioritise (this version of course is more fragile, won't naturally carry between website iterations and won'

[2021-12-10 16:57] gbif-portal opened #3809 "Classification of Kingella kingae needs revision"
**Classification of Kingella kingae needs revision**

According to ITIS, Catalogue of Life, Wikipedia and BOLD systems, classification of this species should be as follows:

Phylum: Proteobacteria
Class: Betaproteobacteria
Order: Neisseriales
Family: Neisseriaceae
Species: Kingella kingae

Regards,
Luis Moliner Cachazo
PhD Student at King's College London

-----

Github user: @lmoliner
User: [See

[2021-12-10 17:19] gamblebnmnh commented on #449
The Illustration records in our Extant Occurrence data set will be excluded when we next publish it, set for Jan 2,2022.  Sorry for the confusion.

[2021-12-10 18:03] gbif-portal opened #3810 "Acidovorax might need to be changed to a different family"
**Acidovorax might need to be changed to a different family**

According to ITIS, Catalogue of Life, World Register of Marine Species, BOLD Systems, and List of Prokaryotic names with Standing in Nomenclature (LPSN), the genus Acidovorax should be included in the family Comamonadaceae

Regards,

Luis Moliner Cachazo
PhD student at King's College London

-----

Github user: @lmoliner
User: [See in

[2021-12-10 18:07] EstebanMH-SiB commented on #3785
We don't really like neither options of @ManonGros, bacause both are incorrect from the publisher perspective. This organization doesn't have a collection and never will and they don't want to have their records without institutionCode, because is important for visibility.

We totally agree with @albenson-usgs in both of her comments. A "note" should be ideal for this kind of problem, maybe in gre

[2021-12-12 15:01] gbif-portal opened #3811 "map"
**map**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e7e7e01708621406b6cc04e6a7d554bf:e8313f154e1800646b60a8ca2e5b96c8adeec9320a3776d2231976c581fcd0a0f86decee76413065ab7fcb72c0f4adb579a5d7d154be7ef8d5addf7049b339fc)
System: Chrome 95.0.4638 / Windows 10.0.0
Referer: https://www.gbif.org/occurrence/2609734550
Window size: width 1366 - height 663
[API log](https://private-l

[2021-12-12 19:20] gbif-portal opened #3812 "GBIF taxonomy: Viola versus Vicia"
**GBIF taxonomy: Viola versus Vicia**

Dear Lady, Dear Sir,

we used the records from GBIF to generate distribution maps of sections in the genus Viola. Doing this, we noticed that that Vicia monantha subp. triflora is synonymized with Viola biflora (see https://www.gbif.org/species/2975424). This resulted in a ridiculous distribution map of V. sect. Chamaemelanium. We fixed this problem easily in

[2021-12-12 20:55] #3652 closed, assigned to jhnwllr

[2021-12-12 20:58] #3811 closed, assigned to nobody

[2021-12-13 06:43] aallspac commented on #3797
Dear Marie,

many thanks for your interest in our topic.

I was in contact with Reinhard Gerecke, which is one of the few still taxonomically working persons of the difficult group of watermites.
He told me that the only all-encompassing list available is the printed book of Viets, K.O. (1987).
Because Viets gave his collection to our institute we also have this book in our hands, and I have copie

[2021-12-13 08:22] ManonGros commented on #449
Thank you Beth, we will close the issue now.

[2021-12-13 08:22] #449 closed

[2021-12-13 09:18] ManonGros opened #3813 "Email notifications not received"
We have two separate users on helpdesk who wrote because they didn’t receive GBIF email notifications (one wrote that he didn’t receive the email with the link to confirm his account and the other wrote that he didn’t receive a download notification).

I tested creating a new download and also didn’t receive any email.

[2021-12-13 10:04] ManonGros commented on #3785
Thank you all for your input.
What we will do is:

+ If materialSample records have an institution and collection code or ID that link to GRSciColl, we will link the record to GRSciColl. If there is no match in GRSciColl, silently ignore it (no flag).
+ Have the GRSciColl-related flags in grey (info)

@marcos-lg correct me if needed

[2021-12-13 10:36] ManonGros commented on #3812
This seems like a backbone assembly issue, I couldn't find this synonymy relationship in any of the sources.
@mdoering @thomasstjerne could you take a look?

[2021-12-13 10:51] gbif-portal opened #3814 "publisher field in Darwin Core Archive downloads"
**publisher field in Darwin Core Archive downloads**

I'm finding that my Darwin Core Archive downloads of data sometimes lack values in the field 'publisher', which is important for my use of GBIF data.
Here is an example where the publisher field has no values
https://doi.org/10.15468/dl.nfypgd
Here is an example where the publisher field appears to be populated correctly.
https://doi.org/10.154

[2021-12-13 14:39] #3813 closed, assigned to nobody

[2021-12-13 14:47] ManonGros commented on #3784
I will close this issue, ok?
the conversation around interpretation for continents can continue here: https://github.com/gbif/vocabulary/issues/72

[2021-12-13 14:47] #3784 closed, assigned to nobody

[2021-12-13 14:59] #3623 closed, assigned to nobody

[2021-12-13 15:00] #3609 closed, assigned to nobody

[2021-12-13 18:36] gbif-portal opened #3815 "Not all images of the multimedia extension file are shown"
**Not all images of the multimedia extension file are shown**

The dataset of Botany collection of Naturalis (https://www.gbif.org/dataset/15f819bd-6612-4447-854b-14d12ee1022d) has been published with a DWCA file with a multimedia extension of 4,583K images. We noticed that only 4,421K records are shown. Especially images with the highest row numbers of the multimedia-file are lacking.

There are

[2021-12-14 09:41] ManonGros commented on #3605
There is no easy way to do that. What you tried by looking at the dataset search interface is one way to proceed but as you noted, there is no way to look for taxa with that system.

Another way would be to use the occurrence search. You can use the keyword “survey” in the free text field. This type of search will look for the word “survey” in the occurrence records, not just the dataset title. It

[2021-12-14 09:41] #3605 closed, assigned to ManonGros

[2021-12-14 09:43] gbif-portal opened #3816 "order by date or Filter by date: i.e. events and documents"
**ability to order by date or a filter by date functions: i.e. events and documents**

example: https://www.gbif.org/resource/search?q=portuguese&contentType=event

The search is on "Portuguese" but I can only see future, not the entire series. The order is not chronological.

Another example is a search on  "meeting reports": https://www.gbif.org/resource/search?q=Meeting%20Report

-----

User: [

[2021-12-14 10:03] ManonGros commented on #3666
Related to https://github.com/gbif/portal-feedback/issues/3662

[2021-12-14 10:52] ManonGros commented on #3586
I contacted the user and he wrote back that the problem has been resolved.

[2021-12-14 10:52] #3586 closed, assigned to nobody

[2021-12-14 10:53] #3591 closed, assigned to nobody

[2021-12-14 10:55] gbif-portal opened #3817 "Sorting species list"
**Sorting species list**

I was experimenting a bit with downloads of species list e.g. https://api.gbif.org/v1/occurrence/download/request/0079214-210914110416597.zip. Thinking would not it be more elegant and useful to pre-sort the outputs by taxa or taxon keys?

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/2536cbb2107c84125fa596c1b2c47e19:4a66dac2

[2021-12-14 10:56] dschigel commented on #3817
I have sorted a the same file by taxa
[KhasanByTaxa.xlsx](https://github.com/gbif/portal-feedback/files/7710999/KhasanByTaxa.xlsx)
and by TaxonKey
[KhasanByTaxonKey.xlsx](https://github.com/gbif/portal-feedback/files/7711003/KhasanByTaxonKey.xlsx)
so the examples are ready in case the discussion of this starts.

[2021-12-14 10:59] dschigel commented on #3817
It is a trivial operation for anyone working with any table. If this output, however, starts to work as draft, mechanically started checklist for e.g. GADM regions or standard grid cells, we might want to have this sorted... Not 100% sure we need this at a broad scale. The idea came out from a discussion on possible mapping of data & knowledge by Russian GADM polygons. A sort of coarse ignorance m

[2021-12-14 13:31] gbif-portal opened #3818 "→Loxerebia phyllis (Leech, 1891)"
**→Loxerebia phyllis (Leech, 1891)**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/82b5768952080eeac1b1325654ea2e1f:c5268dadb2525afef5e78413e33d7b66902bdb20d56fc5a30718ba1a79da149b944dfa5b707efa97e35f6b845c2fc089c3e1e1cc62ffa5d7b56f73c394f424dd)
System: Chrome 96.0.4664 / Windows 10.0.0
Referer: https://www.gbif.org/species/1904838
Window size: width 1025 - height 927
[API

[2021-12-14 14:13] jlegind commented on #3577
¨This was communicated:

If you are seeking guidance on how to share/publish data to the GBIF network, we has a few guides on data sharing/mobilization:
•	How to select dataset type or class: https://data-blog.gbif.org/post/choose-dataset-type/
•	This blogpost deals with publishing platforms: https://data-blog.gbif.org/post/installations-and-hosting-solutions-explained/
•	And there is a comprehens

[2021-12-14 14:13] #3577 closed, assigned to jlegind

[2021-12-14 14:19] #3576 closed, assigned to nobody

[2021-12-14 14:54] #3431 closed, assigned to nobody

[2021-12-15 07:01] ManonGros commented on #3307
I can see this person also wrote to the API user list and Tim answered by sending the documentation link

[2021-12-15 07:01] #3307 closed, assigned to nobody

[2021-12-15 07:17] ManonGros commented on #3323
It looks like the identification has been corrected at the source but not on GBIF. I assume the data will be updated during the next update. I wrote to the dataset contact to ask when that will be.

[2021-12-15 08:22] ManonGros commented on #3342
If I remember correctly, the idea was to trigger the reinterpretation of a dataset once it is added to a network. But I don't remember if this has been implemented. @fmendezh do you know?

[2021-12-15 09:06] jhnwllr commented on #1850
I think this can be closed. @jeroencreuwels  any comment?

[2021-12-15 09:22] jhnwllr commented on #2274
Not sure what we can do here. It is known that many datasets that publish material samples, publish multiple samples from the same individual.

I think we should close this since it is a known problem, but with no clear guidance available for publishers. And I don't see much value in keeping this particular instance documented as an open issue.

[2021-12-15 09:33] jhnwllr commented on #2979
https://github.com/gbif/portal-feedback/issues/2978

[2021-12-15 09:33] DocLahulotte opened #3819 "Key for occurence map - Meaning of colours of the dots on the maps"
Hello,
I can't find any key for occurence map

Perhaps density of observations, according to

[2021-12-15 09:34] jhnwllr commented on #2979
Marking as pending since it seems to be related to another issue.

[2021-12-15 09:39] jhnwllr commented on #2980
https://github.com/gbif/portal-feedback/issues/2978

[2021-12-15 09:39] jhnwllr commented on #2980
Marking as pending, since it seems to be related to another issue.

[2021-12-15 09:43] MattBlissett commented on #3819
Hi,

It isn't documented properly on the website.

For the default yellow-orange-red map, the boundaries are as follows:

https://github.com/gbif/maps/blob/6a51a063b399f2030982138a5174119968334b1c/mapnik-server/src/main/node/cartocss/classic-dot.mss#L3-L7

[code]

i.e. the boundaries are at 10, 100, 1000, 10000.

[2021-12-15 09:48] jhnwllr commented on #3111
Marking as pending to be handled de-centrally at some point.

[2021-12-15 10:26] jhnwllr commented on #3795
I will write to the publisher.

[2021-12-15 10:30] jhnwllr commented on #3795
Will contact Shyama Pagad.

[2021-12-15 10:35] ManonGros commented on #2274
I agree that we can close the issue. It seems that these duplicate "specimens" are in fact samples from the same individual. My guess is that those would be clustered if the clustering function ran within datasets.

[2021-12-15 10:35] #2274 closed

[2021-12-15 10:50] ManonGros commented on #3335
Publishers contacted by email.

[2021-12-15 11:15] jhnwllr commented on #2749
"Rhamnus alnifolia" [search](https://www.gbif.org/species/search?q=Rhamnus%20alnifolia)

returns 3 synonyms of
**Endotropis alnifolia (L'Hér.) Hauenschild**
https://www.gbif.org/species/9266494
https://www.catalogueoflife.org/data/taxon/39SNS

1. **Rhamnus alnifolia Pursh**
https://www.gbif.org/species/7774973
2. **Rhamnus alnifolia f. alnifolia**
https://www.gbif.org/species/7274016
3. **Rhamnus

[2021-12-15 11:16] MattBlissett commented on #3795
Fixable with [ftfy](https://ftfy.readthedocs.io/), e.g. `ftfy -o australia_griisgbif2021c_pub_fixed_encoding.csv australia_griisgbif2021c_pub.csv` after saving as CSV from Excel. (Then I replaced ` x ` with ` × ` for consistency.)

[australia_griisgbif2021c_pub_fixed_encoding.xlsx](https://github.com/gbif/portal-feedback/files/7718848/australia_griisgbif2021c_pub_fixed_encoding.xlsx)

[2021-12-15 11:24] jhnwllr commented on #3009
INSDC Sequences
https://www.gbif.org/dataset/d8cd16ba-bb74-4420-821e-083f2bac17c2

[2021-12-15 11:26] jhnwllr commented on #3009
I think a wider discussion about how to apply basis of record is necessary. It is probably outside of the scope portal feedback and would need tdwg involvement...

I think we should close this issue or open a new one on tdwg or more generally formatted.

[2021-12-15 11:37] jhnwllr commented on #2746
The record now appears to be in Romania.
![image](https://user-images.githubusercontent.com/4245213/146179698-714576ae-4c7d-4f23-a468-cef10f0c7426.png)

[2021-12-15 11:37] #2746 closed

[2021-12-15 11:58] jhnwllr commented on #3418
I will contact the publisher.

[2021-12-15 12:03] #3009 closed

[2021-12-15 12:09] jhnwllr commented on #3445
Seems to be fixed.

![image](https://user-images.githubusercontent.com/4245213/146184060-ab5f00b9-0263-4b6b-9609-3d6579a05b05.png)

[2021-12-15 12:10] ManonGros commented on #3445
It isn't fixed @jhnwllr there are still plenty of images like that: https://www.gbif.org/occurrence/gallery?dataset_key=96404cc2-f762-11e1-a439-00145eb45e9a

[2021-12-15 12:17] ManonGros commented on #2749
As far as I understand, the problem isn't necessarily the taxonomy. Most publishers don't use scientific names authorship when publishing records for this species so our system is unable to find a match (as both possible matches are heterotypic synonyms).
So we have only 58 records matching to a species: https://www.gbif.org/occurrence/search?taxon_key=8253025&taxon_key=7774973

While there are 1,

[2021-12-15 12:32] ManonGros commented on #3255
I believe the question was answered when I contacted them about this other message: https://github.com/gbif/portal-feedback/issues/3236

[2021-12-15 12:32] #3255 closed, assigned to nobody

[2021-12-15 12:37] ManonGros commented on #3210
@abubelinha the The Leipzig catalogue of vascular plants is now a checklist on GBIF: https://doi.org/10.15468/9qxmn3

[2021-12-15 12:37] #3210 closed

[2021-12-15 12:48] dhobern commented on #3795
Thanks - I am so glad to have learned of ftfy ...

[2021-12-15 12:57] ManonGros commented on #3167
@aallspac, it looks like the record has been deleted. I will close the issue now.

[2021-12-15 12:57] #3167 closed

[2021-12-15 13:52] jhnwllr commented on #3600
https://dwc.tdwg.org/terms/#dwc:identifiedByID

https://api.gbif.org/v1/occurrence/2867560301/fragment

[code]

Wrote to publisher.

[2021-12-15 13:59] jhnwllr commented on #3445
I will write to the publisher.

[2021-12-15 14:00] gbif-portal opened #3820 "Cropland data"
**Cropland data**

Does the GBIF data contain cropland data?  Or is it simply wild/naturally occurring species that are recorded in the occurrence data?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/61f14738231aad3e4e648ec8b0145d6d:eeaa88acff2f91bbaddc4dc328237bde9456fe33a3c47e0c57856425ac61d2d6e37d364a3766385b10f022db510bd4f1a72b09a95381353a31c5888351ae9b12)
System: Safar

[2021-12-15 14:04] jhnwllr commented on #2749
So who should we contact to solve the problem?

[2021-12-15 14:04] ManonGros commented on #3193
Hi @dgasl this answer probably comes too late but just in case this is still relevant to you:

1. About dataset citation

There was a bug for this particular dataset where the DOI resolved to a deleted dataset. This should now fixed now.
But the general rule for citing a particular dataset is to use the DOI included in the citation at the bottom of the dataset metadata: https://www.gbif.org/datase

[2021-12-15 14:09] #2740 closed

[2021-12-15 14:11] jhnwllr commented on #3224
@dnoesgaard could you add more clarification? Not sure where the problem is...

[2021-12-15 14:17] dnoesgaard commented on #3224
in the DOI and description fields...

[code]

[2021-12-15 14:34] gbif-portal opened #3821 "New validator - could we have the option to rename the validation reports?"
**New validator - could we have the option to rename the validation reports?**

Asking because if the only name possible is the name of the file, the validation report list will quickly become confusing. Like:
* dwca.zip
* dwarchive.zip
* etc.

@muttcg

-----

User: [See in registry](https://www.gbif-uat.org/api/feedback/user/33737c9918ff9b554aea855621d98116:a00a8f786a6d7c5634b33783bfffa91103c0879

[2021-12-15 14:36] gbif-portal opened #3822 "New validator - clicking on a validation report doesn't show me the full report"
**New validator - clicking on a validation report doesn&#39;t show me the full report**

I only see the top part of the report, not the detail.

<img width="1186" alt="Screenshot 2021-12-15 at 15 36 33" src="https://user-images.githubusercontent.com/7677271/146206145-d2eaf6ea-5c92-4a4b-855b-8d8979ec1ac8.png">

@muttcg

-----

User: [See in registry](https://www.gbif-uat.org/api/feedback/user/003dc

[2021-12-15 14:37] jhnwllr commented on #3224
https://www.gbif.org/tools/data-validator/1638898791527
dataset is also missing unique ids.

I will contact the publisher.

[2021-12-15 15:00] ManonGros commented on #3822
It looks ok now

[2021-12-15 15:00] #3822 closed, assigned to nobody

[2021-12-16 10:07] rukayaj commented on #3600
While investigating this I noticed that identifedByID is not getting published on the IPT at all - see https://github.com/gbif/ipt/issues/1703.

[2021-12-16 10:11] rukayaj commented on #3600
I have fixed the ',' issue, but I guess we will only see it when the IPT bug gets fixed.

[2021-12-16 10:14] ManonGros commented on #3820
Although most of the data on GBIF is about wild/naturally occurring species, there are some records for cultivated/managed species.
These records aren’t necessarily easy to find though:
* One way is to use “Establishment means” filter and select “managed”. See for example, the records of “managed” Poaceae: https://www.gbif.org/occurrence/search?taxon_key=3073&establishment_means=MANAGED&advanced=1

[2021-12-16 10:14] #3820 closed, assigned to ManonGros

[2021-12-16 12:10] gbif-portal opened #3823 "does not exist"
**does not exist**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9e2ba7a2a77c416e7678a0b3a2e5363f:7fc3e6f2c185561bede1b3922dd52e2b9abca67c434ae381077e17d5ae55f64a882d1b8d6beb112c18c1205f12a11d1295ac8f903cc0c294cc5bd586dde4a11b)
System: Opera 82.0.4227 / Windows 10.0.0
Referer: https://www.gbif.org/species/11337806
Window size: width 1521 - height 852
[API log](https://priv

[2021-12-16 12:13] aallspac commented on #3823
the correct GBIF taxon ID is 5173850

[2021-12-16 14:02] #2749 closed

[2021-12-16 14:06] ManonGros commented on #3819
Hi @DocLahulotte
Just adding to Matt's answer, you can also download the georeferenced records and make your own map.
I will close the issue now but let us know if anything remains unclear or if you have more questions.

[2021-12-16 14:06] #3819 closed, assigned to nobody

[2021-12-16 14:19] #2972 closed

[2021-12-16 14:24] ManonGros commented on #3092
I see that this has been handled on Helpdesk

[2021-12-16 14:24] #3092 closed

[2021-12-16 14:43] fmendezh commented on #3666
I reproduced this download and it seems that produced file are correct now, did not find anything in the logs indicating there was an error or outage in the backend services
https://www.gbif.org/occurrence/download/0081344-210914110416597

[2021-12-16 14:52] fmendezh commented on #3662
I reproduced this download and counts now match, there's no indication of errors or outages at the time the reported download was done
https://www.gbif.org/occurrence/download/0081363-210914110416597

[2021-12-16 19:18] gbif-portal opened #3824 "Error in accepted name of species 7535252"
**Error in accepted name of species 7535252**

In page:

https://www.gbif.org/es/species/7535252#

Vicia monantha subsp. calcarata (Desf.) Romero Zarco

In left column, appears Viola biflora L. as accepted name.

Error has been detected when performing a Species matching.

Best regards,

Javier Peralta

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4564c2e9fa92a09a2fd702ca9

[2021-12-16 19:27] gbif-portal opened #3825 "Carduus bourgaeanus subsp. bourgeanus Boiss. & Reut."
**Carduus bourgaeanus subsp. bourgeanus Boiss. &amp; Reut.**

Carduus bourgaeanus subsp. bourgeanus Boiss. & Reut.

https://www.gbif.org/species/9731555

Error in source: World Register of Marine Species,

since it is a plant (Compositae)

It should be considered as a synonym of  Carduus bourgeanus Boiss. & Reut., since this species has not children:

https://www.gbif.org/species/7262092

-----

U

[2021-12-16 20:20] gbif-portal opened #3826 "curious why this page for Lygaeus kalmii is deleted (seems to be an error)"
**curious why this page for Lygaeus kalmii is deleted (seems to be an error)**

I'm curious why this page for Lygaeus kalmii is deleted. I realized it was deleted when I used the the GBIF API to query thousands of species names and my query for "Lygaeus kalmii" was the only one that came up with no match. After that I went to the website and migrated to the page where I realized the page was delet

[2021-12-17 02:33] gbif-portal opened #3827 "Osteomugil ophuyseni"
**Osteomugil ophuyseni**

Osteomugil ophuyseni

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/788866450c91cb36c3673a29918b6734:f9c2b20b8770568ed97f6a3f744c41dc642b8d44bfdf0bb6198d50730eabeba121921ddf5e0344cc6b910c5e54e0ae5ac70727af360989cafb7979c082f93c60)
System: Chrome 96.0.4664 / Mac OS X 10.15.7
Referer: https://www.gbif.org/zh/search?q=Osteomugil%20ophuyseni
Window siz

[2021-12-17 06:58] ManonGros commented on #3824
Same problem as https://github.com/gbif/portal-feedback/issues/3812

[2021-12-17 07:02] ManonGros commented on #3827
I assume that this user means that the species is missing from the backbone.

[2021-12-17 07:10] ManonGros commented on #3666
Thanks @fmendezh I notified the user by email so we can close the issues.

[2021-12-17 07:10] #3666 closed, assigned to nobody

[2021-12-17 07:10] #3662 closed, assigned to nobody

[2021-12-17 10:10] gbif-portal opened #3828 "Brachionus amphiceros should be changed to Brachionus calyciflorus"
**Brachionus amphiceros should be changed to Brachionus calyciflorus**

Brachionus amphiceros is cited as Brachionus calyciflorus subsp. calyciflorus Pallas, 1766. According to the review by Segers (2007) and the Rotifer World Catalog, Brachionus amphiceros is a variety of calyciflorus (Brachionus calyciflorus var. amphiceros) but the accepted name is just Brachionus calyciflorus.

In summary, the

[2021-12-17 11:10] gbif-portal opened #3829 "Data validator progression doesn't work in Firefox"
**Data validator progression doesn&#39;t work in Firefox**

On Firefox, the new data validator get stuck at "Archive uploaded".

Refreshing the page shows the validation has completed.

-----

User: [See in registry](https://www.gbif-uat.org/api/feedback/user/c2f40030e10a1310022a0e474fd85e72:aae8ff91e56fa2502f14905b7b37cc4df57b58312204d055e2b1c254893dde1529868a957cca9f34d6f90060827da543118c57728b4

[2021-12-17 12:49] ManonGros commented on #3824
@mdoering This is the second issue concerning this Fabacae. Could you take a look?

[2021-12-17 13:46] mdoering commented on #3824
I cannot immediately explain whats happening here.
I can just see that the accepted name Viola biflora is coming from World Plants, not WCVP.
https://www.gbif.org/species/5331325
https://www.worldplants.de/world-plants-complete-list/complete-plant-list/?name=Viola-biflora#plantUid-157145

And that is probably causing the problem that some synonymy gets rearranged. Surprisingly, as WCVP should have

[2021-12-17 14:04] ManonGros commented on #3824
But as far as I can see, all the synonym for Viola biflora in World Plants belong to the genus Viola

[2021-12-18 19:11] gbif-portal opened #3830 "Data associated with the wrong species"
**Data associated with the wrong species**

Corrections regarding the data extracted from  Nascimento-Pereira et al. (2021):
1) the record data refer to Sabethes (Peytonulus) shannoni (Lane & Cerqueira, 1942) and not to Sabethes shannoni Cerqueira, 1961;
2) there is only one Allotype: "female pinned, from Mangaratiba (Rio de Janeiro state, Brazil), collected by R.C. Shannon in April 1938, deposite

[2021-12-20 14:20] LarsSkipper commented on #3803
Thanks for your Answer, Morten.

As you probably know Thomas Stjernegaard has made a "hook", so the danish vernacular names follow The "National checklist of all species occurring in Denmark".

I can see the problem regarding e.g. spanish speaking countries. Fortunately Denmark is a sufficiently small and unimportant country on a global scale for that to be an issue :-)

[2021-12-20 17:46] gbif-portal opened #3831 "API returns CC-BY-SA results if only CC-BY is requested"
**API returns CC-BY-SA results if only CC-BY is requested**

I ran the following query "https://api.gbif.org/v1/occurrence/search?taxonKey=3064865&license=CC_BY_4.0&mediaType=StillImage" where I would like to obtain images from GBIF with a CC-BY license. However, the api also returns results with CC-BY-SA In the results.
Here is a snippet where that is the case:

key: 2644283396
license	"http://cr

[2021-12-20 17:51] leo-buitrago opened #3832 "Role of the contacts are showing differently in the GBIF Portal, from the IPT selection"
Some of the selected options in the IPT for the role of the contacts (**Associated Parties** section) are displayed differently in the GBIF Portal. See the example:

Roles –selected in the IPT (**"Reviewer"** in both cases):
<img width="640" alt="Screen Shot 2021-12-20 at 11 48 29 AM" src="https://user-images.githubusercontent.com/61566113/146809650-a4668b8a-c6fc-46ad-bb5e-15e2d7abb09b.png">

Role

[2021-12-21 09:25] #3445 closed, assigned to jhnwllr

[2021-12-22 08:09] #3418 closed, assigned to jhnwllr

[2021-12-23 22:17] gbif-portal opened #3833 "This resource have 47.150 occurrence associated, but do not show in GBIF. We re-publish the resource but the issue remains."
**This resource have 47.150 occurrence associated, but do not show in GBIF. We re-publish the resource but the issue remains.**

This resource have 47.150 occurrence associated, but do not show in GBIF. We re-publish the resource but the issue remains.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2a4996e68f9f51f5f0f1d2a41aa3369b:f115d3cf9067e210518c750d588427d93a2f6e190d3

[2021-12-27 18:19] gbif-portal opened #3834 "Registry biological collections"
**Registry biological collections**

I want to advise the herbarium at Reno on how to become a data publisher but under the umbrella of university of Nevada, Reno.  I have tried search BioColl registry but that is not what I am looking for. Help please.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0a6660f450d7109711fff4554c332ca8:916b2b118a7f8247f433e460d21cb907753838c78e

[2021-12-28 18:31] gbif-portal opened #3835 "protected species"
**protected species**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/346ad726c69fd96b8f6a6c508edb0d87:3dbcce6635c3173f09c5b40a9f6f94b0e193d4f26d071aa9aacfd12c0c973ae524eb3e8806b23ec1d09600bd06e5bbed55ec199af89b11c556193bd0cd206e66)
System: Chrome 96.0.4664 / Windows 10.0.0
Referer: https://www.gbif.org/
Window size: width 1920 - height 912
[API log](https://private-logs.gbi

[2021-12-28 18:32] gbif-portal opened #3836 "How do i download species records that have had there locations generalized?"
**How do i download species records that have had there locations generalized?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/cb939593b2ee193f889377000cbc9048:8298d3daaed9bf89da7ed550e0a8097ecb86e7af5a5326e89bd0a97e5bda8e1959b974370274fe74058ced314774f18c5918443117e4da115da626860c052ddd)
System: Chrome 96.0.4664 / Windows 10.0.0
Referer: https://www.gbif.org/
Window size:

[2021-12-29 13:48] jhnwllr opened #3837 "author-name of Alcea biennis Winters is incorrect;"
(from helpdesk)

author-name of
Alcea biennis Winters is incorrect;
correctly is: Alcea biennis Winterl
https://www.gbif.org/species/5617600
https://www.gbif.org/species/3933268

[2022-01-01 21:11] gbif-portal opened #3838 "Ptychoparia kingi as a synonym"
**Ptychoparia kingi as a synonym**

Ptychoparia kingi could be added as a synonym for Elrathia kingi (https://de.wikipedia.org/wiki/Elrathia)

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9f8a50ef32e2500dc987e6c915b8fa29:02c62d4ab71b4bca9d2e72997a37aadf4599730de8cccc46c8193a221928357f545da49c21a54ff39fa9e28c53c7aa07654f43d78ebe9fb8b0c4fcc342f17006)
System: Firefox 95.0.0 /

[2022-01-02 10:51] gbif-portal opened #3839 "Parahoplites deshayesi as a synonym"
**Parahoplites deshayesi as a synonym**

I think "Parahoplites deshayesi" can be added as a synonym.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/3774fd8161c806e9b88f6573a4e98ea5:be3c25e20a0693797b2e644d0dfe674caf1861c52bc9d0a25df78105f4cc90d97dbfb68ab662c6fdf1e2349aaae81da5c8821c66a4262c2d75fbe87a663106db)
System: Firefox 95.0.0 / Windows 10.0.0
Referer: https://www.gbif

[2022-01-02 20:56] gbif-portal opened #3840 "Lytoceras hircinum might be added as a synonym"
**Lytoceras hircinum might be added as a synonym**

see e.g.: https://www.gzn.nat.fau.de/files/2019/01/Schulbert_Mistelgau_2001.pdf

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/59bb9f7eede45c51e726c14f6d9a7223:3ce79c3469f27f2f864dc6f31029fdd49389ad6d5f8df3c97e320167ef23272a1c2d835035c3aa4e70963341af12140468b18047eb68f8d483cbc61a34d166ab)
System: Firefox 95.0.0 / Windows 1

[2022-01-03 08:45] gbif-portal opened #3841 "New validator doesn't show the same as pipeline"
**New validator doesn&#39;t show the same as pipeline**

Both old (https://www.gbif.org/tools/data-validator/1638898791811) and new (https://www.gbif-uat.org/tools/data-validator/e6d52865-7962-419b-b154-c795f766ee43) validator say this dataset cannot be ingested. However, the dataset and its images seem to have been ingested successfully here: https://www.gbif.org/dataset/cb0ab16c-7589-4a44-80d0-3

[2022-01-03 09:04] ckotwn commented on #3841
The consistency between the pipeline and the validator is very important in guiding supporters' actions with the publishers. Now I am not sure whether it makes sense to proceed with the publisher to fix those issues. I'll first look into the data and see if the validator report is correct.

[2022-01-03 09:37] muttcg commented on #3841
@ckotwn Thanks. New validator is part of pipelines project and it is uses the same workflow plus some additional checks and metrics aggregations.
The UAT validator had technical issue, I have restarted it, please try again and let me know about possible issues

[2022-01-03 09:45] ManonGros commented on #3841
Thanks @muttcg I checked again and this time I get an "indexing failed": https://www.gbif-uat.org/tools/data-validator/37838e3a-3d47-4800-bf69-ed515d78c207

[2022-01-03 09:54] ckotwn commented on #3841
@muttcg does the code base https://github.com/gbif/gbif-data-validator still relevant, then?

[2022-01-03 10:01] ckotwn commented on #3841
@ManonGros : Does this link mean to run the validation again? (I see the URL is not ending with a 14-digit number). I get "The system is currently not able to process your request. Try to refresh the page and please report the issue if it continues."

[2022-01-03 10:06] muttcg commented on #3841
No, new version is here https://github.com/gbif/pipelines/tree/dev/gbif/validator
It hasn't been released yet, but will be released and replace old validator soon

Now it works https://www.gbif-uat.org/tools/data-validator/5f5fc986-e610-458e-9fd9-04874500186e

[2022-01-03 10:07] ManonGros commented on #3836
GBIF doesn’t obscure coordinates, our platform displays what the data providers choose to share. This means that if you would like to access the data before their location has been generalized, you need to contact the original data providers.
The data providers’ contact information should be available on the dataset pages, for example: https://www.gbif.org/dataset/832b8188-f762-11e1-a439-00145eb45

[2022-01-03 10:07] #3836 closed, assigned to ManonGros

[2022-01-03 10:08] ManonGros commented on #3835
Not enough information

[2022-01-03 10:08] #3835 closed, assigned to nobody

[2022-01-03 10:08] #3841 closed, assigned to nobody

[2022-01-03 10:14] ckotwn commented on #3841
https://www.gbif-uat.org/tools/data-validator/5f5fc986-e610-458e-9fd9-04874500186e this link still brings me to "The system is currently not able to process your request. Try to refresh the page and please report the issue if it continues."
<img width="1367" alt="Screenshot 2022-01-03 at 18 17 50" src="https://user-images.githubusercontent.com/637631/147919745-cb767402-5d10-411a-91d3-4136300d336e.

[2022-01-03 10:22] muttcg commented on #3841
@ckotwn You have to be logged to the portal and be the owner/admin for the validation, just try to validate your own archive

[2022-01-03 10:22] ckotwn commented on #3841
Throw in the original DwC-A and the validator looks like hanging at step 2:
https://www.gbif-uat.org/tools/data-validator/7c70d348-b141-4889-8ec4-acb1a1b6655c

<img width="1478" alt="Screenshot 2022-01-03 at 18 20 36" src="https://user-images.githubusercontent.com/637631/147919994-ee767ba2-6abc-437c-b637-eb124cf68995.png">

[2022-01-03 10:24] ckotwn commented on #3841
This would prevent from sending a link to others and see the same validation result, right? I hope it's not the case once it's released.

[2022-01-03 10:36] ManonGros commented on #3831
As far as I know, there is no filter for media licenses. This query is returning records based on the record license, not the image license. The image license is independent from the record one.

Can someone confirm that there isn't any way to search record based on the license associated with images? @MattBlissett ?

[2022-01-03 10:57] muttcg commented on #3831
@ManonGros That is correct, currently we don't support media licenses filter, license filter applies only to records

[2022-01-03 10:57] #3831 closed, assigned to nobody

[2022-01-03 10:58] muttcg commented on #3841
@ckotwn Good point, I will check your case before releasing the validator

[2022-01-03 11:19] thomasstjerne commented on #3826
Wonder why it didn´t make it to the backbone from this https://www.gbif.org/species/173604069

Seems we get quite some occurrences with the verbatim name [_Lygaeus kalmii_ ](https://www.gbif.org/occurrence/gallery?advanced=1&verbatim_scientific_name=Lygaeus%20kalmii) these gets fuzzy matched to _Lygus kalmii_ (Linnaeus, 1758), a synonym of _Orthops kalmii_ (Linnaeus, 1758).

_Orthops kalmii_ is a

[2022-01-03 12:29] MortenHofft commented on #3816
**How it currently works**

Results filtered by free text is sorted by relevance (a good text match). So not by date.

You can filter events on past and future by applying the filter in the left drawer. Just like you would with other filters.

Would you expect the result to be ordered by dates?

**Changes**
We can change search to always sort chronological. @dnoesgaard you should be involved if th

[2022-01-03 12:31] gbif-portal opened #3842 "Species API “dataset_key” and “datasetKey”"
**Species API “dataset_key” and “datasetKey”**

There seems to be an inconsistency in the argument names accepted in the API.
The two following calls don't give the same results:
* https://api.gbif.org/v1/species?name=Puma%20concolor&datasetKey=6d9e952f-948c-4483-9807-575348147c7e
* https://api.gbif.org/v1/species?name=Puma%20concolor&dataset_key=6d9e952f-948c-4483-9807-575348147c7e

While the two

[2022-01-03 13:07] MortenHofft commented on #3832
Thank you
Could you provide a link as well? Just to ease debugging.

At this point my guess is that the role isn't mapped. At least I do not see it here:
https://api.gbif.org/v1/enumeration/basic/ContactType

[2022-01-03 13:17] MortenHofft commented on #3842
It would be nice if it was the same, but camelCase for parameters (e.g. `datasetKey`) is the official API. But the APIs are generally forgiving and accept snake_case.

[2022-01-03 14:39] andrawaag commented on #3831
@ManonGros @muttcg I understand the distinction, but in this specific case, the API call is misleading since it take  both a media type and a license, which suggests the license applies to the media type and not the record.

[2022-01-03 14:55] MortenHofft commented on #3831
I do not personally feel this is misleading. It is a search for records that

* have images attached
* is of a specific taxon
* the record has a license of CC BY

a license filter do not change meaning (to apply to the images) just because a mediaType filter is also applied. Just as a country filter do not change meaning if you add a publisher filter (to apply to the publishing country).

The conf

[2022-01-03 15:04] MortenHofft commented on #3831
We could add mediaLicense as a filter parameter, but doing so we lead to odd results as we do not support queries on objects in arrays - as in filter on records that have media=images and THOSE have a mediaLicense=CC-BY. So we would include results like
[code]

At least that is the "faulty" behaviour we would see if we just used added the filter as any other. As far as I understand. We could add "

[2022-01-03 15:47] #3803 closed, assigned to thomasstjerne

[2022-01-03 17:18] gbif-portal opened #3843 "Text states that there is no locality data for this species, yet photograph of specimen quite clearly states island and Lat Long of location. Why is this not included with the record."
**Text states that there is no locality data for this species, yet photograph of specimen quite clearly states island and Lat Long of location. Why is this not included with the record.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0076d010eba9122130c1f675cce5dce0:75fa1f9aa781cd47f8f9fb5ef7218def038ad71c583c3ad2f819dd97ac637d94c9d95a94425665deb06911df9bd8b32f206bd84d373a

[2022-01-03 20:06] andrawaag commented on #3831
I would not have an issue with those three filters. An alternative is to not filter for license at first and then parse the results for a specific license. This however can be demanding on the server-side, since more (paginated) results are returned.

An alternative would be to render GBIF data also as RDF on the semantic web and feed that to tools through SPARQL.

[2022-01-04 03:12] gbif-portal opened #3844 "Access restriction of the (pipeline version) data validator"
**Access restriction of the (pipeline version) data validator**

Current ownership of the validation report prevents sharing.

-----

User: [See in registry](https://www.gbif-uat.org/api/feedback/user/0d7624a04deb48ebcf37feb1cefc833f:044679b1be52d790d373d71552334235b4dacb99d824f3c31d3daf8dc88f0947267afaa4a47456078679e21441bbe5901af96782fcead2f2676fdb1212ce4031)
System: Firefox 95.0.0 / Mac OS X 10

[2022-01-04 03:48] ckotwn opened #3845 "[feature request] Data validation result of a published dataset"
A published dataset, while successfully indexed, could still have room for data quality improvement or unsolved quality issues.

To facilitate quality improvement of GBIF data, it'll be useful to have the validation report side-by-side with (or linked from) the dataset page.

An URL format to consider is /tools/data-validator/{Dataset UUID}

[2022-01-04 03:49] ckotwn commented on #3844
@muttcg following https://github.com/gbif/portal-feedback/issues/3841#issuecomment-1003996401 I am submitting a new issue for this separate matter.

To make the case stronger:
1. When helping a data publisher solve their data issues, having the validation public is as efficient as it is now on the production site. Any restriction applied without good reason will hurt the efficiency and helpdesk ex

[2022-01-04 10:34] ManonGros commented on #3830
There are two different type of issues:

### A backbone issue

The backbone doesn't contain Sabethes (Peytonulus) shannoni (Lane & Cerqueira, 1942) but instead has Wyeomyia shannoni Lane & Cerqueria (https://www.gbif.org/species/1649249).
However the records are matched to Sabethes shannoni Cerqueira, 1961 (https://www.gbif.org/species/1649464) most likely because the name is more similar.

We sho

[2022-01-04 12:18] ManonGros commented on #3833
@RicardoOrtizG I don't know what happened but I triggered the dataset reingestion and the number of records seems ok now. I will close the issue but let us know if it should be reopened.

[2022-01-04 12:18] #3833 closed, assigned to nobody

[2022-01-04 12:55] ManonGros commented on #3834
Contacted by email.
The University of Nevada, Reno is registered as a publisher here: https://www.gbif.org/publisher/470365d0-812d-11de-86fe-b8a03c50a862

[2022-01-04 12:55] #3834 closed, assigned to ManonGros

[2022-01-04 13:51] ManonGros commented on #3845
Note that the flags from the validator are the same flags that are shows on published dataset's records. See the clickable chart "OCCURRENCES PER ISSUES AND FLAGS" on the metrics page of any dataset: https://www.gbif.org/dataset/33e3780b-d539-4e5e-b82f-1662b5941a9e/metrics

The advantage of the flags for indexed dataset is that it allows users/publishers to browse the flag records.

[2022-01-04 17:23] gbif-portal opened #3846 "add dates for Paloma"
**add dates for Paloma**

PLease add after Paloma's full name (see examples for Sylvie and Marianne)

Chair: November 2021- June 2022

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/58d669280cb1fe2d72f566e959ccce6e:3d30a6de6187d1fca6f905fef20234ad6d6bfb2f18c3fc6477691df958a59e3c866c8b5732fb61f9915b9408b2468ea6fa751329dc9a24054b9f4404caac53cc)
System: C

[2022-01-05 07:59] MortenHofft commented on #3773
@dnoesgaard Sorry for the slow response time. Let us just start with a spreadsheet. Then I will add them once you have written them. That will ensure that the default text (danglish) is also there instead of just a non informative placeholder.

[2022-01-05 08:08] MortenHofft commented on #3773
You might want to consult/copy the texts written for the hosted portals. They were kindly provided by @tucotuco
https://crowdin.com/translate/gbif-portal-en/631/endk-en?filter=basic&value=0#q=description
E.g.
[code]

Ideally the filter descriptions are generic enough that they can be reused for e.g. dataset search (say the help text for "publishing country or area" could probably be the same for b

[2022-01-05 08:12] eduardolacx opened #3847 "Unranked species in Edge"
I’m having issues using the Microsoft Edge’s browser; I search an species and it appears unranked and does not allow me to see the information of the species, map, etc. But if I use Google chrome, for example, it works; though, I don’t want to change my browser, because I have all my information in Microsoft Edge. Please help me.
you can see image of the problem here: https://user-images.githubuse

[2022-01-05 08:52] MortenHofft commented on #3847
Thank you for reporting this!

I'm unable to reproduce this in Edge unfortunately (I've tested version 96 (latest) and on Windows and macOS)
Could you please try again and if it still doesn't work then provide:

* Exact version of Edge
* What OS you are using
* Check that you do not have any plugins in place that is the cause of this. You can probably do so by using InPrivate mode (Ctrl + Shift +

[2022-01-05 09:02] ckotwn commented on #3845
Would be great to have a dedicate 'validation' page. There it's easier to present issues per extension or in the metadata.
Perhaps:
/tools/data-validator/{Dataset UUID} would redirect to /dataset/{Dataset UUID}/validation

[2022-01-05 09:17] ManonGros commented on #3846
@dnoesgaard

[2022-01-05 09:49] gbif-portal opened #3848 "Taxon record scientific name incorrectly interpreted (content of the parenthesis are removed)"
**Taxon record scientific name incorrectly interpreted (content of the parenthesis are removed)**

Relating to this other issue: https://github.com/gbif/backbone-feedback/issues/302

The original name provided is "Sabethes (Peytonulus) shannoni (Lane & Cerqueira 1942)" but the name shown on the species page is "Sabethes shannoni (Lane & Cerqueira, 1942)".
`(Peytonulus)` seems to have been removed.

[2022-01-05 12:14] thomasstjerne commented on #3848
The reason it is not displayed on the portal is that the subgenus in parantheses is missng in the `canonicalName` field.
[code]
https://api.gbif.org/v1/species/191654844

[2022-01-05 12:27] ManonGros commented on #3848
Thanks for checking @thomasstjerne. This is really odd, the canonical name displayed in the UI contains the genus. How can it be different in the API?

<img width="830" alt="Screenshot 2022-01-05 at 13 26 11" src="https://user-images.githubusercontent.com/7677271/148217504-a4896c92-da2d-4e33-b94c-53400fa9bdf8.png">

[2022-01-05 12:29] ManonGros commented on #3848
I suppose this probably has to do with the interpretation as the API shows the correct values for the verbatim data: https://api.gbif.org/v1/species/191654844/verbatim

[2022-01-05 13:24] ManonGros commented on #3838
Paleobiology Database: https://www.gbif.org/dataset/157897c0-5061-4b96-8629-82171b7da22b

and https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

[2022-01-05 13:25] ManonGros commented on #3839
Paleobiology Database: https://www.gbif.org/dataset/157897c0-5061-4b96-8629-82171b7da22b

and https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

[2022-01-05 13:32] mdoering commented on #3848
The subgenus within a name is often problematic. In this case it is not reflected by the actual classification which does not use a subgenus at all.

The name appears to be parsable and the infraGeneric name is set correctly:
http://api.gbif.org/v1/parser/name?name=Sabethes%20(Peytonulus)%20shannoni%20(Lane%20%26%20Cerqueira%201942)

The canonical name in GBIF removes the infrageneric part. This i

[2022-01-05 14:29] #3848 closed, assigned to thomasstjerne

[2022-01-05 16:02] eduardolacx commented on #3847
eduardola
6m
The Exact version of Microsoft is this (Microsoft Edge
Version 96.0.1054.62 (Official build) (64-bit))
 I’m using Windows 10 Home
Version 20H2
Installed on ‎31/‎12/‎21
OS build 19042.1415
Experience Windows Feature Experience Pack 120.2212.3920.0
and the issue appears in whichever link of species I want to get in
For example:
Panthera onca (Linnaeus, 1758) (gbif.org)
I've tryied to us

[2022-01-05 16:46] eduardolacx commented on #3847
I managed to solve it  :D
I only restared the settings of Microsoft Edge

[2022-01-06 09:29] #3829 closed, assigned to nobody

[2022-01-06 09:31] #3847 closed, assigned to nobody

[2022-01-06 11:30] thomasstjerne commented on #3815
@muttcg could you take a look here.
I ran the dataset through the new validator, no issues related to the multimedia extension.
I also did a re-ingestion, but it seems the issue is still there.

[2022-01-06 13:48] muttcg commented on #3815
Thanks @thomasstjerne

There are some issues in meta.xml files, fieldsEnclosedBy, linesTerminatedBy use html entity codes like `fieldsEnclosedBy="&quot;" linesTerminatedBy="&#10;"`, but our reader doesn't support this(I guess and I guess reader uses some chars like tabs by default instead of unknown), I changed meta.xml to use like this:
[code]

And reinterpreted data, now you can see all images,

[2022-01-06 14:01] MortenHofft commented on #3847
That is a relief. It sounded like it would be painful to debug. Thanks

[2022-01-06 15:02] ManonGros commented on #3557
I forwarded all 8 issues mentioned above to PaleobioDB by email. Let's see what they reply.

[2022-01-06 16:14] gbif-portal opened #3849 "On gbif.org/tool/81747/rgbif (page about rgbif package), the link to the rgibf tutorial below the bulleted list is broken. I believe the new URL should be: https://mran.microsoft.com/snapshot/2014-11-06/web/packages/rgbif/vignettes/rgbif_vignette_oldapi.html"
**On gbif.org/tool/81747/rgbif (page about rgbif package), the link to the rgibf tutorial below the bulleted list is broken. I believe the new URL should be: `https://mran.microsoft.com/snapshot/2014-11-06/web/packages/rgbif/vignettes/rgbif_vignette_oldapi.html`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/16b721ac189a6a6401a0ae9ccaabfada:ea368a628518db299ce39542df611ce

[2022-01-06 16:16] themerekat commented on #3849
Actually, link might be: https://docs.ropensci.org/rgbif/

[2022-01-06 16:20] gbif-portal opened #3850 "Can I search for specific data quality flags using the API?"
**Can I search for specific data quality flags using the API?**

I see that I can search for whether occurrences have a geospatial issue (https://www.gbif.org/developer/occurrence), but it's not clear whether I can use the API (or rgbif) to obtain a list of all occurrences from a specific collection that have a specific data quality flag. Thanks!

-----

User: [See in registry](https://www.gbif.or

[2022-01-06 17:51] AbbyBenson commented on #3850
@themerekat did I get you all sorted on this question? Should this ticket be closed?

[2022-01-06 18:18] themerekat commented on #3850
Yes it can be closed, thanks! @albenson-usgs

[2022-01-07 01:37] gbif-portal opened #3851 "The species is Borkhausenia xanthosema Meyrick, 1931 but the records is fuzzy matched to Borkhausenia xanthodesma Philpott, 1923."
**The species is Borkhausenia xanthosema Meyrick, 1931 but the records is fuzzy matched to Borkhausenia xanthodesma Philpott, 1923.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f65276f789b052c3888718f3164ba477:994a2dd1b2f8ec4d17d0e55a0414026548aca6cfdac1cdcacb18ff8dc12e2d80c44484fc1fa950d91f4567a6d9aa89d224111273807894f2870bbfeb1cf4aafd)
System: Chrome 96.0.4664 / Windo

[2022-01-07 08:06] #3850 closed, assigned to nobody

[2022-01-07 08:19] jhnwllr commented on #3849
Tutorial should probably be re-written anyway as it is a few years old now...

[2022-01-07 08:28] ManonGros commented on #3849
I updated the link on the page.

[2022-01-07 08:28] #3849 closed, assigned to nobody

[2022-01-07 14:42] alexis-catherine opened #3852 "Lygaeus genus and species gone"
I’m not sure the right place to put this, but it looks like Lygaeus (Hemiptera) and all its species aren’t in the system anymore, so all species are marked as deleted on Nov. 29, 2021. And all the matching observations are marked as taxon match higher rank.

I’m pretty familiar with this genus and family and I’m not aware of any revision that would have changed all of this, the only thing I can th

[2022-01-07 14:42] alexis-catherine commented on #3826
It looks like the entire genus is gone
https://github.com/gbif/portal-feedback/issues/3852

[2022-01-08 11:54] gbif-portal opened #3853 "Ancylis habeleri"
**Ancylis habeleri**

https://www.inaturalist.org/observations?taxon_id=1080421

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/27cb5808175e483304242831e8e9f100:5acbc209692f69a3933534b41cc9dc2635b3748c0cfa52e60c3879fccd2a1dc378c35c144a154761ce48569f6234c68793aeaec75187971dc4f04a6ea7e5b7cd)
System: Yandex Browser 21.11.4 / Windows 10.0.0
Referer: https://www.gbif.org/ru/speci

[2022-01-10 09:11] gbif-portal opened #3854 "Error in Order of Pellia endiviifolia"
**Error in Order of Pellia endiviifolia**

The Order of the species Pellia endiviifolia is Pellialiales and not Fossombroniales. See also https://www.gbif.org/species/2689550 for Pellia epiphylla were it is correct.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/4a33171bc029350f4afce9a155804762:dda8157ff7424009d5c5888752fd00786e979188f7dc0d1341089e3cb90c38cc75b7c085e2757785

[2022-01-10 10:33] jhnwllr opened #3855 "Large number of Fiji endemic plant data listed as occurring on Cook Islands."
(issues from helpdesk)

Large number of Fiji endemic plant data listed as occurring on Cook Islands in the dataset

**Phanerogamic Botanical Collections (S)**
https://www.gbif.org/dataset/0943f690-fde5-11dd-83f4-b8a03c50a862

Examples:
https://www.gbif.org/occurrence/search?country=CK&dataset_key=0943f690-fde5-11dd-83f4-b8a03c50a862&has_coordinate=false&taxon_key=6&state_province=Fiji&advanced=1

[2022-01-10 10:42] jhnwllr opened #3856 "Specimen missing locality information but given in image"
(issue via helpdesk)

https://www.gbif.org/occurrence/607814271

locality should be
**Erromango, Potauar Pivin, peut de Rantop, 150m asl.**

[2022-01-10 16:06] gbif-portal opened #3857 "Both an accepted and a doubtful page for genus Biomphalaria Preston, 1910"
**Both an accepted and a doubtful page for genus Biomphalaria Preston, 1910**

A search for Biomphalaria Preston, 1910 find two pages, one for a doubtful genera (https://www.gbif.org/species/11335028), and the other for an accepted genera (https://www.gbif.org/species/2291019).
Both pages refer to the same genera.
I was not able to find any taxonomic differences.

-----

Github user: @CaroleSinou

[2022-01-10 20:08] gbif-portal opened #3858 "Dermestes not in family Curculionidae"
**Dermestes not in family Curculionidae**

The entirety of the taxon Dermestes is currently (probably for a while already) within the family Curculionidae, while I'm sure it needs to be within the family Dermestidae... Can be a major problem for the people using the 'assign GBIF taxonomy' API

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/38bcd528a94bd137be1ff9b0bb8bd0b7:5a

[2022-01-10 20:54] leo-buitrago commented on #3832
Hi @MortenHofft, see the specific example
Dataset in the GBIF IPT: https://ipt.gbif.org/resource?r=vz_redlist_endemic_trees
Dataset in GBIF.org:  https://doi.org/10.21373/jp88kf

[2022-01-11 07:47] dnoesgaard commented on #3846
Done.

[2022-01-11 07:47] #3846 closed, assigned to nobody

[2022-01-11 08:05] MortenHofft commented on #3832
Thank you. The DOI doesn't work for me, but I assume it is [this dataset](https://www.gbif.org/dataset/35f444fa-b3bb-4a1d-bf56-93fbc81f28d5)

I see that the EML lists e.g. `Ariany García` as a `reviewer`.
But [in the API](https://api.gbif.org/v1/dataset/35f444fa-b3bb-4a1d-bf56-93fbc81f28d5) she has the role `ADMINISTRATIVE_POINT_OF_CONTACT`.

(it is the same for the [UAT dataset](https://www.gbif-

[2022-01-11 11:06] mdoering commented on #2849
It would be good to have a phrase search for datasets that only matches the entire DOI string. You now get all kind of bad matches too.

Also I would challenge the practice to apply the same DOI to several datasets. The DOI should represent the dataset, not it's source publication.

[2022-01-11 11:47] myrmoteras commented on #2849
I second @mdoering
in the good old time, you could enter a DOI and only get the respective dataset. This was very powerful because it made it very clear what you get. Now you need to understand quiet a bit why there are many results.

[2022-01-11 15:36] muttcg commented on #3815
It is a bug, it took a while to find the issue, but it is some sort of dwca-io(gbif-common lib) issue, it caused by unexpected occurrence.txt sorting result, which was caused by unusual ID structure. Next is step-by-step example:

We have simple archive where meta.xml headers are:
[code]
one field:
[code]
core file:
[code]
and an extension file:
[code]

First we normalize data and try to delete fi

[2022-01-12 08:29] jhnwllr commented on #1850
Closing since this is a tdwg issue.

[2022-01-12 08:29] #1850 closed

[2022-01-12 08:56] dnoesgaard commented on #3816
I'm tempted to say yes, but I'm also unsure about the consequences. Sorting by date might make sense in cases when you are searching for something very specific, but perhaps not in others.

That being said, if changing this is not a major task, I think we should try it for **events**—and then revert if it doesn't work as expected.

I'm not sure if the use case for showing a whole series of events

[2022-01-12 09:18] jhnwllr commented on #3855
contacted publisher

[2022-01-12 09:23] jhnwllr commented on #3856
contacted publisher

[2022-01-12 09:49] jhnwllr commented on #3853
I think the user is wondering why these records from iNaturalist are not in GBIF.
https://www.gbif.org/occurrence/search?dataset_key=50c9509d-22c7-4a22-a47d-8c48425ef4a7&taxon_key=9021151

[2022-01-12 10:16] jhnwllr commented on #3843
https://github.com/gbif/portal-feedback/issues/3856
contacted publisher

[2022-01-12 11:20] gbif-portal opened #3859 "Make table column headers searchable/filterable"
**Make table column headers searchable/filterable**

Hello,

Hope this finds you well! I was wondering if the table column headers could be made filterable so I can choose to order the information by a particular field, and once I've chosen a field, choose if the content should be in alphabetical/increasing/decreasing order.

I noticed that on some tables, not all the content is put in alphabetica

[2022-01-12 11:27] MortenHofft commented on #3859
It is a good and often asked for feature.
duplicate of https://github.com/gbif/portal-feedback/issues/224 and https://github.com/gbif/portal-feedback/issues/2246

The short answer is that sorting is expensive (in terms of computational resources) and isn't supported for that reason. This might change as technology evolves.

[2022-01-12 11:51] MortenHofft commented on #3816
Personally i prefer sorting by relevance, but it is trivial to change if we want to. I've created an example to argue for sorting by relevance.

## Search for "open webinar" when sorting by relevance.

<img width="760" alt="Screenshot 2022-01-12 at 12 47 55" src="https://user-images.githubusercontent.com/6759267/149134941-2ab3c69b-2553-425d-abb0-457dfcf89ae5.png">

## Search for "open webinar" whe

[2022-01-12 11:57] dnoesgaard commented on #3816
Thanks, Morten, this is exactly what I was referring to. I'm sure sorting by date would be good when searching for a very specific term, but for generic searches, it will be messy.

[2022-01-12 11:59] dnoesgaard commented on #3816
I guess we could consider allowing the user to choose a sorting order on their search results?

[2022-01-12 12:16] MortenHofft commented on #3816
It is now in production as discussed in private messages

https://www.gbif.org/resource/search?q=open%20webinar&contentType=event&_showPastEvents=true

[2022-01-12 12:16] #3816 closed, assigned to nobody

[2022-01-12 14:24] jhnwllr commented on #3854
The order **Pellialiales** does not exist in the backbone...

https://www.gbif.org/species/search?q=Pellialiales

[2022-01-12 14:45] jhnwllr commented on #3851
**Borkhausenia xanthosema Meyrick, 1931** is not in the backbone.
https://www.gbif.org/species/search?q=Borkhausenia%20xanthosema

[2022-01-12 15:29] jhnwllr commented on #3823
**Albia stationis Thor**
https://www.gbif.org/species/11337806
should be
**Albia stationis Thon, 1899**
https://www.gbif.org/species/5173850

Writing to publisher.
https://www.gbif.org/dataset/dbaa27eb-29e7-4cbb-8eab-3f689cfce116

[2022-01-13 08:16] gbif-portal opened #3860 "Could derived dataset pages show total number of records as well as datasets?"
**Could derived dataset pages show total number of records as well as datasets?**

It's great to see derived dataset DOIs starting to appear in literature citations. At the moment the page heading shows 'Records from xx datasets in derived dataset'. Would it be possible also to give the number of occurrence records involved, as is currently done with download pages? This would help to give an idea

[2022-01-13 09:00] MortenHofft commented on #3860
**Record count**
The UI look for a field called `totalRecords`, if it is present then it will show occurrence counts. I do not know how that field is populated in the API. I would think it could be calculated by summing up the dataset record counts. I'm unable to find an example with the value populated. Is this field ever populated or did I just foresee the need and implemented something hoping t

[2022-01-13 16:24] gbif-portal opened #3861 "Find publishers from a level2 admin region"
**Find publishers from a level2 admin region**

I would like to find who is publishing to GBIF from Utah and Nevada (USA) so that I can send an email to those not doing so without adding to the inboxes of those who are doing so.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/01e8da51da146d229b502e5c5ffd0fab:34696526d2e4fd97d2efd3d6617b3474ca97238f64a28b2cba41989aaaebfa6ebf7

[2022-01-14 08:42] mike-podolskiy90 commented on #3860
there is no such option for derived datasets, unfortunately

[2022-01-14 09:31] muttcg commented on #3815
The proper fix requires dwc-io changes, as well as data changes, the root of the issue is the record with id **"L,4322493@BRAHMS"**, so I'd recommend publisher to get rid of comma char in the ID and remove quotes and that will fix the issue

[2022-01-14 10:04] timhirsch commented on #3860
OK - just thought I would check!

[2022-01-14 10:04] #3860 closed, assigned to mike-podolskiy90

[2022-01-14 10:38] jhnwllr commented on #3815
wrote to publisher naturalis.

[2022-01-14 11:02] mike-podolskiy90 commented on #3832
related https://github.com/gbif/ipt/issues/1621

[2022-01-14 13:48] MortenHofft commented on #3860
Should we reopen this as a feature request. It seems like a simple thing to sum the counts of the datasets? Or is there more to this than I see @mike-podolskiy90 ?

[2022-01-14 15:29] gbif-portal opened #3862 "Month & Year occurrence search"
**Month &amp; Year occurrence search**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/def215fdc5aafb120a09a635983af399:55842815aadbb79b36223d7d11774165fda699e2796cdca32bc9191a413ceaf2d01b4b931d262a13ce6c21a08cf4e2886585b52edfe53c3300826a6bbf4b5707)
System: Chrome 97.0.4692 / Windows 10.0.0
Referer: https://www.gbif.org/system-health
Window size: width 1536 - height 722
[API

[2022-01-14 15:32] jpupko10 commented on #3862
sorry this can get deleted, I was trying to search, not open an issue!

[2022-01-14 17:27] #3862 closed, assigned to nobody

[2022-01-14 17:28] MortenHofft commented on #3862
Did you find what you were looking for? If not then feel free to create an issue - you now know how to.

[2022-01-17 09:07] jeroencreuwels commented on #3815
Hi John,
Could you send your mail also to me: jeroen.creuwels@naturalis.nl
cheers,
Jeroen

[2022-01-17 09:36] jeroencreuwels commented on #1850
OK, I'll look at it again, and will approach TDWG if needed

[2022-01-17 09:59] myrmoteras opened #3863 "wrong subspecies"
in this case there is the name wrong and should not include the subsp. racer.

https://www.gbif.org/species/191979801

![image](https://user-images.githubusercontent.com/4609956/149748205-9bfd3768-90e8-4848-bfa9-0c08c29ea504.png)

It seems that the source is ok https://treatment.plazi.org/id/7759EE8D12FF5CB49412834543DADB7B

[2022-01-17 10:46] #3800 closed, assigned to ManonGros

[2022-01-17 13:47] EstebanMH-SiB opened #3864 "Delete erroneous ocurrences from a checklist dataset"
On December 16, the resource "[Biodiversidad de Huertas Urbanas en el Valle de Sibundoy, Putumayo, Colombia](https://www.gbif.org/dataset/9197e55c-462d-460a-8177-6a6ef2afa0f5)" was mistakenly modified and 131 occurrences were added that do not correspond to this checklist dataset.

We made the update in the [IPT of SiB-Colombia](https://ipt.biodiversidad.co/sib/resource?r=itp-1), however in GBIF s

[2022-01-17 20:32] gbif-portal opened #3865 "Nomenclatural issues with Phlebia albida"
**Nomenclatural issues with Phlebia albida**

Phlebia albida HPost and Phlebia albida Fr. are treated as different species. They are not. They are the same species with different opinions on who should be the author. Under Phlebia albida HPost Phlebia livida subsp. tuberculatum Hallenb. & E. Larss. and Phlebia tuberculata (Hallenb. & E. Larss.) Ghob-Nejh. are listed as synonyms. They are not. Phle

[2022-01-18 07:19] ManonGros commented on #3864
Thanks @EstebanMH-SiB, our system has a safeguard that prevents the deletion of occurrences when the number of occurrences drops to zero (as this is often the result of accidental deletions).
The occurrences have been removed now.

[2022-01-18 07:19] #3864 closed, assigned to ManonGros

[2022-01-18 09:21] gbif-portal opened #3866 "retaining downloads on which derived datasets are based"
**retaining downloads on which derived datasets are based**

Currently, only cited *downloads* are set to be retained. I believe we should also consider retaining downloads on which derived datasets are based.

As a quick fix I *could* also create dummy citation records for these, but it would be better if the UpdateRegistryHandler was able to grab originalDownloadDOI when coming across derived da

[2022-01-19 07:36] ManonGros commented on #3815
Hi @jeroencreuwels I think John's email was just forwarding the comment above:

[2022-01-19 10:09] gbif-portal opened #3867 "Tibicina contentei wrong genus"
**Tibicina contentei wrong genus**

https://www.gbif.org/species/5757989
species Euryphara contetei has been assigned to Tibicina genus is Fauna Europaea and the information replicated in several other databases, but the especies has never changed genus since described by Bouldard 1982. There is no reference on literature to such change and it wouldn't make any sense acording to morphology, as Tib

[2022-01-19 10:16] gbif-portal opened #3868 "Euryphara cantans location seems suspect"
**Euryphara cantans location seems suspect**

https://www.gbif.org/species/7757692

Several occurences of Euryphara cantans (Cicadidae) placed in Europe, in countries not known to have this species. It is known from North Africa.
Also the date of occurrence (September) does not match the known activity period of this cicada.
This is probably a confusion with Orthoptera species Tettigonia cantans h

[2022-01-19 12:31] jhnwllr commented on #3461
still a centroid.
(maybe we should not keep centroid issues open since it is a very common issue that deserves its own flag)

[2022-01-19 12:46] jhnwllr commented on #3435
still Petroschmidtia teraoi

[2022-01-19 12:53] jhnwllr commented on #3376
Genus **Chrysis** appears here
https://species.wikimedia.org/wiki/Chrysididae

[2022-01-19 13:06] jhnwllr commented on #3375
**Hedychrum aureicolle subsp. niemelai Linsenmaier, 1959**
https://www.gbif.org/species/4494176

still not a syn on GBIF of

**Hedychrum niemelai Linsenmaier, 1959**
https://www.gbif.org/species/8528663

[2022-01-19 13:45] jhnwllr commented on #3140
**Pyrgus foulquieri (Oberthür, 1910)**
https://www.gbif.org/species/5142610

is should be a synonym of

**Pyrgus bellieri (Oberthür, 1910)**
https://www.gbif.org/species/1949989
https://api.gbif.org/v1/species/1949989/synonyms

[2022-01-19 13:55] jhnwllr commented on #2984
name is now
**Leptestheria dahalacensis (Rüppel, 1837)**
https://www.gbif.org/species/10517921

but user claims name should be
**Leptestheria dahalacensis (Rueppell, in Straus-Duerckheim 1837)**

and new source is the
**GBIF Backbone Patch**
https://www.gbif.org/dataset/daacce49-b206-469b-8dc2-2257719f3afa

@mdoering Should the authorship still be changed?

[2022-01-19 14:15] jhnwllr commented on #2968
**Sambucus wightiana Wall.**
https://www.gbif.org/species/3856155

should be

**Sambucus wightiana Wall. ex Wight & Arn.**
https://www.gbif.org/species/8046858

[2022-01-19 14:35] jhnwllr commented on #2883
**Staurastrum mucronatum Ralfs ex Ralfs**
https://www.gbif.org/species/2648226

should be

**Staurodesmus mucronatus (Nägeli) Thomasson, 1955**

[2022-01-19 14:42] jhnwllr commented on #2855
iBoL seems to be very often missing authorship.
https://www.gbif.org/species/search?offset=20&rank=SPECIES&dataset_key=4cec8fef-f129-4966-89b7-4f8439aba058&origin=SOURCE&advanced=1

This issue could be outside the scope of portal feedback.

[2022-01-19 14:51] lmoliner commented on #2883
I agree with you, the most reliable source for phytoplankton taxonomy is AlgaeBase

________________________________
From: John Waller ***@***.***>
Sent: 19 January 2022 14:35
To: gbif/portal-feedback ***@***.***>
Cc: lmoliner ***@***.***>; Mention ***@***.***>
Subject: Re: [gbif/portal-feedback] Staurastrum mucronatum Ralfs ex Ralfs (#2883)

Staurastrum mucronatum Ralfs ex Ralfs
https://www.gbif.

[2022-01-19 14:58] rukayaj opened #3869 "Institution match fuzzy on ROR id present in GRSciColl"
Just trying to work out why we have the Institution match fuzzy warning flag on https://www.gbif.org/occurrence/3436304363, when I've provided the ror which is in grscicoll as an identifier for this institution. What should i do to fix it?

[2022-01-19 15:01] jhnwllr commented on #2677
**Sesleria filifolia Hoppe**
https://www.gbif.org/species/4119380

should be syn of

Sesleria rigida Heuff. ex Rchb.
https://www.gbif.org/species/4118934

Should contact COL.

[2022-01-19 15:03] jhnwllr commented on #2720
User has not responded. (closing issue)

[2022-01-19 15:03] #2720 closed

[2022-01-19 15:46] jhnwllr commented on #3672
**Tipula matsumuriana subsp. pseudohortensis Lackschewitz, 1932**
https://www.gbif.org/species/6258563

is now syn of

**Tipula pseudohortensis Lackschewitz, 1932**
https://www.gbif.org/species/11119797

[2022-01-19 15:46] #3672 closed, assigned to jhnwllr

[2022-01-19 17:56] gbif-portal opened #3870 "Location error on occurrence."
**Location error on occurrence.**

http://n2t.net/ark:/65665/321200275-64af-414c-8c01-a8921707fc48

Record is for Kosrae, coordinates point to Palmyra Atoll.

Switch longitude from -162.975 to 162.975

Smithsonian notified.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/bdb5273447693b6641df4103d2d59352:eb038d2ceb9c7af4ff717b29b0d0b3c81d62b670f713a74e2bdc1d821ed31dba2aa8b345

[2022-01-19 19:36] kcopas opened #3871 "Lygaeus kalmii missing/misplace in backbone"
Twitter gripe-fest on misinterpretation and misplacement of _Lygaeus kalmii:
https://twitter.com/Myrmecos/status/1483818371460304898?s=20

See https://www.gbif.org/occurrence/2805275914

[2022-01-20 07:52] ManonGros commented on #3869
Hi @rukayaj, we use a cache to interpret the occurrences. This cache is refreshed weekly (on Thursdays). I can see that the ROR identifier was added yesterday. I suggest to wait until Friday and republish/interpret the data. If the flag doesn't disappear then, please open a new issue. Thanks!

[2022-01-20 07:52] #3869 closed, assigned to nobody

[2022-01-20 08:21] gbif-portal opened #3872 "Not ingest dataset with integrity violation"
**Not ingest dataset with integrity violation**

The validator is able to identify records with integrity violation (for example, occurrences not pointing to existing events in sampling event datasets). However, when datasets with this type of issues are ingested, it seems like our system is able to ingest the data but leave our the records that are concerned. Publishers might not notice that ther

[2022-01-20 15:58] gbif-portal opened #3873 "Please can you look at these two species:"
**Please can you look at these two species:**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f77c4ccf2b4f1e5a570c1e0f261f66f3:34ebec3641d03b98108a6b4914c1a127ac55e71bc98e134af5786033283cf78b6214100f73c12667dfc21771e78bb1faad48b7ce8e1b36015b17a340c073cf10)
System: Chrome 97.0.4692 / Windows 10.0.0
Referer: https://www.gbif.org/species/1938038
Window size: width 1680 - height

[2022-01-21 14:21] dnoesgaard commented on #3773
I've started the process of collecting/writing descriptions of filters for occurrence search:
https://docs.google.com/spreadsheets/d/1AIrd5hVvuHQn-wJxyUtpu32mcIsVZ7DOc91nNC4UllE/edit?usp=sharing

Some are simple, others a bit more complicated. It is difficult to follow the exact same structure for all of them when the objective is to guide users of the portal while also wanting to be precise in th

[2022-01-21 15:40] UTIC-Curator opened #3874 "Species name spelling error: Formicidae, Carebara longii"
Hello. The ant species Carebara longii Wheeler 1903 ( https://www.antwiki.org/wiki/Carebara_longii ) looks like it was the victim of an OCR transciption error in the GBIF backbone and is being interepreted as "Carabara langi":

https://www.gbif.org/species/5035447

Thanks.

[2022-01-21 16:46] dshorthouse opened #3875 "Trigger reharvest of dataset 1e61b812-b2ec-43d0-bdbb-8534a761f74c"
The dataset https://registry.gbif.org/dataset/1e61b812-b2ec-43d0-bdbb-8534a761f74c/crawling-history appears to be out of sync although it was republished Jan 18. It is presently missing ~100k records in the portal. Can I get someone to trigger an ingestion? It's holding me back from a Bionomia refresh because it would otherwise make 50k broken attributions.

Thanks!

[2022-01-21 18:32] UTIC-Curator opened #3876 "Taxonomic error in backbone: Musca placed in Tachinidae"
The fly genus Musca- the type genus for the family Muscidae- is showing up in the GBIF backbone under a different family, Tachinidae.

Where it is now: https://www.gbif.org/species/8097933

Where it should be: https://www.gbif.org/species/5564

[2022-01-21 18:54] gbif-portal opened #3877 "Invasive Nicotiana glauca is not found in central Saudi Arabia only in the southwestern part of the country."
**Invasive Nicotiana glauca is not found in central Saudi Arabia only in the southwestern part of the country.**

Invasive Nicotiana glauca is not found in central Saudi Arabia only in the southwestern part of the country. I am sure of this information because I have done several studies on this type and have published two research papers on this invasive species. In addition, my Ph.D. studies wer

[2022-01-21 19:00] dshorthouse commented on #3875
@ManonGros - Something you can quickly trigger?

[2022-01-24 07:35] ManonGros commented on #3877
All the observations concerned are from the Pl@ntNet automatically identified occurrences dataset: https://www.gbif.org/occurrence/search?country=SA&taxon_key=2928783&geometry=POLYGON((45.43945%2023.55469,47.84546%2023.19214,50.00977%2024.30176,43.98926%2027.99316,41.26465%2027.1582,45.43945%2023.55469))

https://www.gbif.org/dataset/14d5676a-2c54-4f94-9023-1e8dcd822aa0
https://www.gbif.org/publis

[2022-01-24 08:01] ManonGros commented on #3875
Thanks @dshorthouse! I triggered the reingestion of the dataset and the numbers seem coherent now.

[2022-01-24 08:01] #3875 closed, assigned to ManonGros

[2022-01-24 08:49] MortenHofft commented on #3877
It is a bit odd to have machine identified observations based on images, and then not have the images nor a reference to where they can be seen on plantnet. E.g. https://www.gbif.org/occurrence/2647563725
It is very hard for anyone to verify the occurrence. I would think the dataset was much more valuable if they included a link to the record on their own site. And possibly shared the image as wel

[2022-01-24 08:55] ManonGros commented on #3877
Yes it isn't the first time this is mentioned: https://github.com/gbif/portal-feedback/issues/3124

[2022-01-24 09:13] ManonGros commented on #3874
Hi @UTIC-Curator, Carebara langi Wheeler, 1922 seems to be its own species: Wheeler, W. M. (1922): The ants collected by the American Museum Congo Expedition. Bulletin of the American Museum of Natural History 45: 39-269 (see also https://www.antwiki.org/wiki/Carebara_langi)

However, I can see that Carebara longii is missing from GBIF/CoL. Thank you for reporting it.

[2022-01-24 12:21] kcopas commented on #1493
Any chance of bumping this into the candidates for 2022? We're continuing to update this via Google docs ([latest](https://docs.google.com/spreadsheets/d/1fCMLU77KGDakisXxVcRzxfytZuL3bGHsqSArq7fCjK8/edit?usp=sharing
)) and adding it to the [quarterly slides](https://gbif.box.com/s/b9ij6gi8ec0ffv31r6taexl66g93j3og), but it really would be a useful story to tell on the website—perhaps it could be ta

[2022-01-24 12:38] MattBlissett commented on #1493
![Active GBIF publishing organizations by country](https://analytics-files.gbif.org/registry/organization/active_gbif_publishing_organizations_by_country.svg)

https://analytics-files.gbif.org/registry/organization/active_gbif_publishing_organizations_by_country.svg

This map is updated every time we run the quarterly analytics. Older versions are in the same directory, along with the source table

[2022-01-24 12:45] kcopas commented on #1493
Thanks, Matt! To clarify, what I'm talking about is a web map—one that would allow people to see (and browse) the results of country, island and territory data mobilization geospatially.

Our projections and other styles wind up being jarringly different. I'd love to see us get greater consistency in how we display these…

[2022-01-24 13:43] wouteraddink opened #3878 "specimens with occurrence status absent"
in GBIF there are about 300K specimen & material sample records with occurrence status ABSENT. https://www.gbif.org/occurrence/search?basis_of_record=PRESERVED_SPECIMEN&basis_of_record=FOSSIL_SPECIMEN&basis_of_record=LIVING_SPECIMEN&basis_of_record=MATERIAL_SAMPLE&advanced=1&occurrence_status=absent

But is a specimen record not always proof that there an occurrence is present? These do not seem t

[2022-01-24 16:21] gbif-portal opened #3879 "Highlight the dataset-first approach"
**Highlight the dataset-first approach**

Transferring the request from the task group to move a sentence within the page.

"We recommend that authors start by preparing the dataset and publishing it through GBIF.org before turning to manuscript writing and editing.” and  linke to GBIF Quick guide to publishing to a more visible  position within the page.

The group recommended that this imporant

[2022-01-24 16:22] dschigel commented on #3879
@dnoesgaard @kcopas sorry it comes so close to the webinar, I agree this should be stressed more, especially with the audience of beginners to the format

[2022-01-24 17:17] dshorthouse commented on #3878
The `basisOfRecord` values bely the fact that an occurrence status of `ABSENT` is an assertion that necessarily cannot have physical evidence. Conversely, because specimens are no longer physically present in the place and time they once lived but are now present (though dead) in far flung collections, perhaps continents away, aren't all specimen-based occurrences technically `ABSENT`? It depends

[2022-01-24 18:26] dnoesgaard commented on #3879
Moved the sentence to the top of the instructions and highlighted using a blockquote, i.e.,

[2022-01-24 18:26] #3879 closed, assigned to dnoesgaard

[2022-01-24 20:31] gbif-portal opened #3880 "Coordinate Accuracy of Observations with no Country/State Codes"
**Coordinate Accuracy of Observations with no Country/State Codes**

Hello,

I've noticed that certain coastal plant species include a large number of occurrences with coordinates, but not country/state info. These occurrence coordinates are usually over the ocean, sometimes 5-10 miles away from land. I'm assuming this was an error by the observer logging coordinates? I've found some species with

[2022-01-24 20:59] gbif-portal opened #3881 "How can I download the citations for my data set?"
**How can I download the citations for my data set?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/051e8fd7012323886687c855899b708b:d35e82305ddeaf552554b3c3c8d772befa6576c67a4014300bf611fae68f17579e856fe69aea24c63a113551dd2fa8d32f6af32d9ec7ab3b00a0fbe43bd613d3)
System: Chrome 97.0.4692 / Windows 10.0.0
Referer: https://www.gbif.org/resource/search?q=faq
Window size: width

[2022-01-25 08:55] MortenHofft commented on #3878
Original record https://www.artportalen.se/Sighting/95875744

ANTAL & ENHET: | Ej återfunnen
-- | --

They looked for a living specimen and didn't found it apparently. I will label as a data issue as well as a processing issue.

According to this issue https://github.com/gbif/pipelines/issues/392#issuecomment-696783492 we handle `individualCount=0` and `basisOfRecord=SPECIMEN` (any type of specime

[2022-01-25 13:42] jeroencreuwels commented on #3815
Thanks for the feedback! I have looked at the export and the source database and we found that there was an incorrect entry indeed. The collector manager has corrected the value: "L,4322493@BRAHMS" into "L.4322493@BRAHMS". After the next export from our botanical database  (early March) we will check if all images will appear.

[2022-01-25 14:55] gbif-portal opened #3882 "Events not directly searcheable from GBIF.org"
**Events not directly searcheable from GBIF.org**

I was looking for this results https://www.gbif.org/resource/search?q=OECD&contentType=event&_showPastEvents=true, and I thought I could just type at GBIF.org "OECD" -> Resrouces, but it does not work like that, sadly.

Had to go all the way through the meny to Events, type OECD, go Past events to find the page with the videos from that symposium.

[2022-01-25 15:00] dschigel commented on #3882
From today, also: it takes **five** clicks after searching for "webinar" at GBIF.org to find the recording of our presentation with Scott today.

[2022-01-25 15:25] gbif-portal opened #3883 "A question about the classification system"
**A question about the classification system**

Hello, I have downloaded the data of a genus of Rhododendron here..It contains family / genus / species information. I would like to ask whether GBIF's data follows APG III classification system or APG IV classification system? Because I want to use this data to build an evolutionary tree later, I need to make this clear first, so as to consider whet

[2022-01-25 15:55] MortenHofft commented on #3882
@dnoesgaard I think this is best considered by you.

[2022-01-26 10:27] gbif-portal opened #3884 "slides"
**slides**

please add PDF or link to Scott's slides, we have his permission https://www.slideshare.net/GigaScience/scott-edmunds-preparing-a-data-paper-for-gigabyte

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/96b323f14607691790e5844c2db96b43:046a85f7e292ec9387df1a108f55019022a3753cfcbb07910f254e30abe205430d3b1a975885646b29b2be5a5ec911fc752d92676bc

[2022-01-26 10:32] dschigel commented on #3884
@dnoesgaard also Scott just confirmed that Q&A are ready to from the google doc

[2022-01-26 11:06] dnoesgaard commented on #3884
Added link to slides and all Q&As.

[2022-01-26 11:06] #3884 closed, assigned to nobody

[2022-01-26 12:24] dnoesgaard commented on #3075
NB. I just updated the QGIS tool page on GBIF.org with some notes on how to cite:

https://www.gbif.org/tool/81453/qgis

[2022-01-26 12:41] ManonGros commented on #3883
@ckotwn

[2022-01-26 13:33] mdoering commented on #3883
As far as I know World Plants still uses APG III, is that correct @yroskov?

[2022-01-26 13:38] yroskov commented on #3883
World Plants follows own classification which is sometimes ahead of APG IV. However, the Catalogue of Life based on Angiosperm Phylogeny Website powered by the Missouri Botaniocal Garden (http://www.mobot.org/MOBOT/research/APweb/).

[2022-01-26 13:40] mdoering commented on #3883
Please note that the algorithm building up the backbone starts out with the Catalogue of Life checklist which in turn is based on world plants. But we then add in more families that might not be in any of the APG classifications. See https://www.gbif.org/species/search?rank=FAMILY&dataset_key=d7dddbf4-2cf0-4f39-9b2a-bb099caae36c&constituent_key=0938172b-2086-439c-a1dd-c21cb0109ed5&constituent_key=

[2022-01-26 13:46] mdoering commented on #3883
@yroskov what about [Styracaceae](https://www.gbif.org/species/2507) which is recognised by APGIV but is not sourced to COL? Ah, I see that COL has an odd authorship: [Styracaceae DC. & Spreng. [transl. Jameson]](https://www.catalogueoflife.org/data/taxon/GST) Maybe thats the reason. Any chance to remove the brackets?

[2022-01-26 13:46] yroskov commented on #3883
The Catalogue of Life flowering plant classification for families and orders is based on the Angiosperm Phylogeny Website. Global species checklists from World Checklist of Selected Plant Families and from World Plants databases attached on family level.

[2022-01-26 13:56] yroskov commented on #3883
CoL consistent with Angiosperm Phylogeny Website: Styracaceae DC. & Spreng. http://www.mobot.org/MOBOT/research/APweb/
I do not see a reason to alter WP spelling of the authorstring in the CoL. As less alterations we add on our side, as more transparent are relations between data in the CoL and in the source.

[2022-01-26 14:00] mdoering commented on #3883
As you can see having odd information in brackets can break software like the GBIF bacbone build. `[transl. Jameson]` should not be in the authorship. @dhobern any opinion? I would think COL should be more strict in properlynaming at least higher taxa as a start.

[2022-01-26 14:12] yroskov commented on #3883
I would suggest that software should be accurate enough to eat original data. As I said many times, I am not comfortable with clb software where it dramatically changing original authorstrings.

[2022-01-26 14:38] gbif-portal opened #3885 "Registering a new museum"
**Registering a new museum**

Hi, I recently took over as curator/caretaker of a small zoology museum at Swansea University. I am in the process of updating the catalog and wanted to register the collection with GBIF. Should this be done through the collections or institutions section? Thanks, Jessica

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6db4feab45393b71175dce4fc1

[2022-01-26 14:40] ManonGros commented on #3880
Replied by email.

[2022-01-26 14:40] #3880 closed, assigned to ManonGros

[2022-01-27 07:53] ManonGros commented on #3881
Unfortunately, we don’t have any button to download dataset citations in the web interface. However, you can use [our literature API](https://www.gbif.org/developer/literature) to access the information. This API will allow you to query the citations for a given dataset and will send you back a JSON-formatted response.
For example, here are the citations for the eBird dataset: https://api.gbif.org

[2022-01-27 07:53] #3881 closed, assigned to ManonGros

[2022-01-27 08:05] gbif-portal opened #3886 "IPT indexing"
**IPT indexing**

Dear colleagues,
please look into this dataset, something wrong with indexing data on GBIF page,
it has 262 events and 1018 occurrences in IPT,
but showing only 214 occurrences on GBIF page,
at the same time Donwload through GBIF gives right numbers (262 events and 1018 occurrences)!
https://www.gbif.org/dataset/5ee9f4a9-6c63-4a72-80c7-9e674d4b7577
http://ipt.ugrasu.ru:8080/ipt/r

[2022-01-27 08:24] rukayaj commented on #3006
I guess this is similar to the request made in https://github.com/gbif/portal-feedback/issues/3026

Here's some more info about our particular use case: We need to group **some** records in multiple datasets together, and then download them. If I do a free text search like https://www.gbif.org/occurrence/search?q=Artsprosjekt_55-12_PolyNor for "Artsprosjekt_55-12_PolyNor" (one of the project names

[2022-01-27 09:22] MortenHofft commented on #3006
I cannot really think if any beyond those mentioned in [the referenced issue](https://github.com/gbif/portal-feedback/issues/3026#issuecomment-831741721).

Which is essentially using publisher, institution, eventIds and collection (when appropriate of course - they shouldn't be misused just to group records that isn't in fact a collection). Or split into multiple datasets. I cannot think of any ot

[2022-01-27 09:37] ManonGros commented on #3885
This is a really good question. And the answer depends on how you and your institution would like to be represented on GRSciColl.
I can see that there are already two institution entries relating to herbaria in Swansea:
* https://registry.gbif.org/institution/d26e7ce9-35d1-4163-a190-446b332a74d0
* https://registry.gbif.org/institution/8c1e39a7-6804-488e-82a5-d0327c216e9f

We could merge them and h

[2022-01-27 09:37] #3885 closed, assigned to ManonGros

[2022-01-27 09:40] rukayaj commented on #3006
Is projectID the projectID from the EML? Pity it's not on a record level... I suppose one could argue that the grouped datasets are all part of a 'collection', kind of? Is collectionCode that bad a hack do you think? I see in the definition it says 'identifying the collection **_or data set_** from which the record was derived'.

[2022-01-27 09:50] gbif-portal opened #3887 "The basionym for Agoniella sonani is Agonia sonani Chujo, 1933 or Agonia (Agoniella) sonani Chujo, 1933"
**The basionym for Agoniella sonani is Agonia sonani Chujo, 1933 or Agonia (Agoniella) sonani Chujo, 1933**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/61bb40ef72badca4e010e459890b35e8:0334ffad915c67e11a29498469ca10cb77b6b622c3c33c75f84226c225fab6c9851e48678788934c922d2eced9b18689c2018c07ef65e9a055a3c84880255e54)
System: Safari 14.0.2 / Mac OS X 10.15.7
Referer: https://

[2022-01-27 09:57] ManonGros commented on #3006
I cannot think of any alternative (other than the ones listed in the other issue). The collection code hack isn't ideal, especially in the context of specimen records (for observations it would make more sense).

Yes the projectID is from the EML so it is for all the records in a given dataset. This is the same problem as the networks (they include whole datasets). I suppose we could:

-  investig

[2022-01-27 10:05] MortenHofft commented on #3006
Should it be possible to be part of multiple "projects/datasets"

[2022-01-27 10:21] ahahn-gbif commented on #3006
ProjectID in GBIF (and EML metadata) is presently given preference for projects run by or through GBIF (BID, BIFA, CESP and friends). The term is not (to my knowledge) defined again at record level in Darwin Core., so that the limitation is, as recognized, that a) a projectID is applied at dataset level, and that b) not more than one projectID can be assigned to the dataset. In that sense, I would

[2022-01-27 12:11] gbif-portal opened #3889 "excluding issues and flags in downloads"
**excluding issues and flags in downloads**

In this query, I'm trying to exclude occurrences with certain issues, but when I move on to download the results, the download query seems to do the opposite, i.e. include only occurrence WITH the issues?

I was expecting this https://www.gbif.org/occurrence/download/request?predicate=%7B%20%22type%22:%20%22and%22,%20%22predicates%22:%20%5B%20%7B%20%22t

[2022-01-27 13:34] MortenHofft commented on #3889
Thank you!
I'm not sure how that sneaked in, but now it is fixed and there is a test to avoid the regression from happening again.

[2022-01-27 13:34] #3889 closed, assigned to nobody

[2022-01-27 15:04] dnoesgaard commented on #3882
As far as I can see, upcoming events are included in the omnisearch, e.g.
https://www.gbif.org/search?q=Ocean%20Sciences%20Meeting

I think the approach you described is the right way to find past events when you're looking for specifically that. I'm not sure I think past events belong in the omnisearch results.

Feel free to try to #changemymind

[2022-01-27 15:20] dschigel commented on #3882
Thanks! It was just my search for "OECD" https://www.gbif.org/search?q=OECD did not bring me close to the desired result, which is https://www.gbif.org/resource/search?q=OECD&contentType=event&_showPastEvents=true, not even after I click "Resources", resulting in a long new path through five clicks in the main memu. Note that I knew the stuff I need is there, so I found it, but imagine a newcomer

[2022-01-27 17:15] gbif-portal opened #3890 "DORSA media links dead"
**DORSA media links dead**

In preparation for a manuscript on insect monitoring methods Dr. Yves Bas discovred that media links from DORSA appear dead in GBIF.

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/33cb578ead9c2e04bb127539e74ffd82:2ecc736c5d47135ff1a6f29d08753c7e67b1986d0f37393572eb54f108fd068db76a7ef84d142c0c1f9046798bcfe8d66194da851fddc0a3

[2022-01-27 18:18] gbif-portal opened #3891 "Phallocryptus spinosus (H.Milne-Edwards, 1840)"
**Phallocryptus spinosus (H.Milne-Edwards, 1840)**

According to the revision of the genus by Rogers (2003) the correct name should be Phallocryptus spinosa (H.Milne-Edwards, 1840) as all the previous names had spinosa as specific epithet.

Rogers, D.C. (2003) Revision of the thamnocephalid Genus Phallocryptus (Crustacea; Branchiopoda; Anostraca). Zootaxa. 257: 1-14. doi: 10.11646/zootaxa.257.1.1

[2022-01-28 07:52] MortenHofft commented on #3882
When we implemented events my impression was that they didn't really have relevance once they belonged in the past. Searching them was more of a curiosity than anything else. But if we start to have digital outcomes/products of those events and believe they have continuous relevance for the public then I can see why it is a shame. Should the product be moved into something new perhaps? Like a docu

[2022-01-28 09:10] gbif-portal opened #3892 "Gonatopus nigricans: a wasp species misplaced under plants"
**Gonatopus nigricans: a wasp species misplaced under plants**

The species name appears in GBIF.org under the wrong branch of the backbone (a wasp species linked into a plant family). Together with this, the occurrence record (https://www.gbif.org/occurrence/1653530363: Holotype!) also appears under plants rather than under animals, where it belongs.

Tracing this back: the source dataset (https:

[2022-01-28 09:45] ahahn-gbif commented on #3892
@myrmoteras @gsautter Is this something you could help with?  Thanks!

[2022-01-28 10:28] myrmoteras commented on #3892
@ahahn-gbif please add such cases into our community github and they will re resolved asap, inidvidual cases within a day or so
eg.
https://github.com/plazi/community/issues/137

I think, this path should already be in place in occurrences?!

cheers
donat

[2022-01-28 10:33] ahahn-gbif commented on #3892
Thanks @myrmoteras! Yes, it should - coming from the species record, I bypassed that automatic. Noted, and thanks for pulling it over

[2022-01-28 10:58] rukayaj commented on #3006
I would actually think this is quite a common scenario, and that there are many field projects which go out on yearly collection trips, taking specimens which go into several collections. And then of course it's necessary for the individual projects to be able to see only their specimens.

[2022-01-28 12:05] gbif-portal opened #3893 "Taxonomy (Diptera): Ornidia (Syrphidae) is wrongly associated with Tipulidae"
**Taxonomy (Diptera): Ornidia (Syrphidae) is wrongly associated with Tipulidae**

see: https://www.gbif.org/species/1543375.

For reference, the genus in Systema Dipterorum: http://www.diptera.org/Nomenclator?op_name=&Name=Ornidia&op_author=&Author=&op_year=&Year=&op_family=&Family=&op_validname=&ValidName=&kind=&Sortfield=unsorted&sortorder=ascending&max=10&find=Start+Search

-----

User: [See in

[2022-01-28 12:55] gbif-portal opened #3894 "Add tooltips to buttons"
**Add tooltips to buttons**

Passing this on from a user

The controls for the maps and buttons at the top right have no tooltips (confirmed on Chrome, Mac) , and the user mentioned they were not obvious.

-----

Github user: @timrobertson100
User: [See in registry](https://www.gbif.org/api/feedback/user/eeee103be9444cef774d68e34e7ede0d:437701ec082583eddd08f0bdba667f1f97c543d20ace8ebd8170e87c93a1b

[2022-01-28 13:37] mike-podolskiy90 commented on #3832
Registry interprets all unknown contacts as `ADMINISTRATIVE_POINT_OF_CONTACT` roles.
I added new role REVIEWER to the gbif-api

[2022-01-28 13:38] #3832 closed, assigned to mike-podolskiy90

[2022-01-28 13:44] myrmoteras commented on #3892
@ahahn-gbif fixed on our side

[2022-01-28 18:23] rondlg commented on #3006
My 2-penneth is that it's definitely common at my institution to want to do this kind of thing and it's not easy to do right now.

There are a few things that we use the datasetName field for. Usually it is something with funding but not always:

The name of a digitization project
An expedition
A Research Project
A Lab
etc. etc.

Users have asked us how to retrieve the data associated with one or

[2022-01-31 12:20] gbif-portal opened #3896 "occurrence count on homepage links to undefined value"
**occurrence count on homepage links to undefined value**

https://www.gbif.org/occurrence/search?occurrence_status=PRESENT

vs

https://www.gbif.org/occurrence/search?occurrence_status=present

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/403de62516f48ff5b5f26adb9fa0b347:d00297b1f09efc9a5fa70fb302e77d5e7d811bfe28766c57bdf5ca13478b55f9565289cbf31df

[2022-01-31 12:40] wouteraddink commented on #3878
adding a flag for this case would be good as it is probably an error.

[2022-01-31 13:24] MortenHofft commented on #3832
In that case the website need a new translation

[2022-01-31 13:30] MortenHofft commented on #3896
Has this been broken all along in the UI or has the API changed with the reprocessing today? Ping @muttcg and @MattBlissett

It is still uppercase according to https://api.gbif.org/v1/enumeration/basic/OccurrenceStatus but perhaps it has changed to use a vocabulary?

[2022-01-31 13:32] MattBlissett commented on #3896
https://api.gbif.org/v1/occurrence/search?occurrence_status=PRESENT

https://api.gbif.org/v1/occurrence/search?occurrence_status=present

The API gives the same results for both queries. Nothing is supposed to have changed with this term.

[2022-01-31 13:35] dnoesgaard commented on #3896
fwiw, I had noticed this before today...

[2022-01-31 15:34] MortenHofft commented on #3896
https://github.com/gbif/portal16/commit/e4322b2f65c1375adb531fd48bd2d596e34bebbd I did this 4 months ago. I remember it doing in 1 minute without much consideration. And we had a talk afterwards Daniel. Apparently i was sloppy in more than one way. The API and the UI use different case for some reason. That normally isn't the case for values.

[2022-01-31 15:34] #3896 closed, assigned to nobody

[2022-01-31 21:56] MattBlissett opened #3897 "Plazi HTTP downloads don't support If-Modified-Since"
We use an HTTP `If-Modified-Since` request to avoid reprocessing data that hasn't changed:

`curl -Ssv --remote-time --output clements.zip --time-cond clements.zip https://hosted-datasets.gbif.org/datasets/clements.zip`

Run this twice, and the second time the response is `HTTP/1.1 304 Not Modified`.

It would be very useful if the Plazi server could support this, otherwise it causes problems when

[2022-02-01 21:00] gbif-portal opened #3898 "Incorrect family placing of Porotermes and Stolotermes genera"
**Incorrect family placing of Porotermes and Stolotermes genera**

Currently GBIF places species in the Porotermes and Stolotermes genera (e.g. Porotermes adamsoni (Froggatt, 1867), Porotermes quadricollis (Rambur, 1842), Stolotermes inopinus Gay, 1969, and Stolotermes ruficeps (Brauer, 1865 )) under the Hodotermitidae family. However, these species are in the Stolotermitidae family.
Engel, M. S.,

[2022-02-01 23:32] #3897 closed, assigned to nobody

[2022-02-02 10:05] gbif-portal opened #3899 "GBIF inconsistent with the validator - Recorded date mismatch"
**GBIF inconsistent with the validator - Recorded date mismatch**

I ran this dataset (https://www.gbif.org/dataset/949cff8a-d15c-4213-86f4-3804e8f5fea8) through the validator: https://www.gbif.org/tools/data-validator/1638898792552

The validator found recorded date mismatches but these records aren't flagged on GBIF.
Would it be possible to also flag the records on GBIF?

-----

Github user: @Ma

[2022-02-02 10:08] gbif-portal opened #3900 "Checklist taxon name interpreted incorrectly"
**Checklist taxon name interpreted incorrectly**

The verbatim name given here is `Otolemur garnettii (Ogilby,1838)`, however, it shows as `Otolemur spec. (Ogilby, 1838)` on the page.
It is also not matched to the GBIF backbone, even though the name is in the backbone: https://www.gbif.org/species/2436511

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/use

[2022-02-02 10:09] ManonGros commented on #3900
@thomasstjerne or @mdoering could you take a look?

[2022-02-02 11:55] MortenHofft commented on #3899
The flags are not in the API response https://api.gbif.org/v1/occurrence/search?dataset_key=949cff8a-d15c-4213-86f4-3804e8f5fea8&limit=0&facet=issue

[2022-02-02 11:58] MortenHofft commented on #3899
I'm surprised to see that there are occurrences with the issue https://api.gbif.org/v1/occurrence/search?issue=RECORDED_DATE_MISMATCH (count: 104225)

but they do not appear when doing a facet as far as I can see
https://api.gbif.org/v1/occurrence/search?limit=0&facet=issue&facetLimit=100

[2022-02-02 12:48] thomasstjerne commented on #3900
Odd. The name is partially parsed: https://api.gbif.org/v1/species/192616185/name
But testing it against the name parsed parses it without issues:
https://api.gbif.org/v1/parser/name?name=Otolemur%20garnettii%20(Ogilby,1838)

[2022-02-03 08:59] ManonGros commented on #3873
I contacted the user by email to ask for more information.

[2022-02-03 09:07] ManonGros commented on #3861
We don’t really have a way to filter publishing organizations by Province or State. I suggest to try the free text search and review the result manually. For example, here is what you get when looking for the word “Nevada” in the free text field: https://www.gbif.org/publisher/search?q=Nevada&country=US.

[2022-02-03 09:07] #3861 closed, assigned to nobody

[2022-02-03 09:20] ManonGros commented on #3886
The occurrences refer to eventIDs that don't exist in the event file. For example, the occurrence with the occurrenceID “SamChugas_ZMU_00001” refers the eventID “SamChugas_ZMU_01_(01)_2017-01-17”, which doesn’t exist in the event file.
This is the reason why some occurrences are dropped during the ingestion.

[2022-02-03 09:20] #3886 closed, assigned to ManonGros

[2022-02-03 09:22] ManonGros commented on #3006
I think @albenson-usgs also mentioned the need for aggregating specific occurrences across datasets. If I remember correctly, the collectionCode was/is used for that purpose.

[2022-02-03 11:06] ManonGros commented on #3873
The user answered and explained that he figured out what he needed.

[2022-02-03 11:06] #3873 closed, assigned to nobody

[2022-02-03 13:17] ninacourlee commented on #3886
I am very sorry, very stupid of me, of course my faul!

[2022-02-03 14:42] gbif-portal opened #3902 "http validation URLs don't work"
**http validation URLs don&#39;t work**

Using this URL, nothing happens when clicking submit

http://svampe.databasen.org/dwc/dwcarchive.zip

-----

Github user: @timrobertson100
User: [See in registry](https://www.gbif.org/api/feedback/user/0be6cefa5a1db1a31e48200b1ee0c038:e25a06553f5adfff53a9ae7336f92b8e174bf974dbb07ec9436955a2cdd2af2af8d90a1642ca1be90f117dbaa3b17dfc62ebb67e266db0be97c30e19e358

[2022-02-03 16:19] rondlg commented on #3006
collectionCode is a problem for us to use in this regard because it is used at a much higher level. For example to distinguish between the "Bird" collection and the "Fossil Herps" collection. These values are also unitary.

[2022-02-03 16:26] gbif-portal opened #3903 "Create a project page for Biota of Russia 2021"
**Create a project page for Biota of Russia 2021**

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/19b555274fd0afe75f029eb32b226290:0e0001f277ca3873429153aae7c040458ed3335e7e64abee26bb7eb23a14a72594929a5669b25777e26d9f6c11c61775348b42fb95082083c6f135c1cb52ba25)
System: Chrome 97.0.4692 / Windows 10.0.0
Referer: https://www.gbif.org/programme/3ilFFs3JdY

[2022-02-03 16:35] dschigel commented on #3903
As agreed with / requiested by @timhirsch

Please create a new project page called Biota of Russia 2021 using this https://www.gbif.org/project/1lLoEkmf2ioQlr7bwDfeDx/west-of-urals-2020 as a template and this https://www.gbif.org/news/HdDwtyv9jjrvG99OSHsP6/call-for-data-papers-describing-datasets-from-russia-closed as a source of information for the new page, sum of contract is €17,000 - public in

[2022-02-03 16:57] myrmoteras opened #3904 "gbif/health"
some time ago, gbif/health has been the place to go to check the status of GBIFs system. Now it is something completely different.

Is there a place to go to find out whether the system is working, processing so if something takes a moment to show up in GBIF, we have a first check?

thanks
donat

[2022-02-03 21:27] Rmturner24 opened #3905 "Anthomyia (Meigen 1803) genera should be in Anthomyiidae, not Tabanidae"
Anthomyia (Meigen 1803) genera (https://www.gbif.org/species/1480567) should be in Anthomyiidae, not Tabanidae. GRISALES, D., LOPES, A. C., & DE CARVALHO, C. J. B. (2016). FAMILY ANTHOMYIIDAE. Zootaxa, 4122(1), 803–806. https://doi.org/10.11646/zootaxa.4122.1.68

[2022-02-03 21:39] gbif-portal opened #3906 "Data validator is not working and keeps uploading archives"
**Data validator is not working and keeps uploading archives**

Data validator is not working, it keeps uploading files for a long time and gives an error message at the end.
All systems appear operational, so I don't know if there is a problem or maybe you are changing things in the validator

-----

User: [See in registry](https://www.gbif-uat.org/api/feedback/user/d9aa25f21b11c639707540edaee28f

[2022-02-04 01:11] gbif-portal opened #3907 "KUBI Ornithology images"
**KUBI Ornithology images**

Hi.  I just republished our Ornithology collection using image links (URLs) rather than the Audubon Core extension we [previously used for this collection.  This is due to an error that is occurring in the Vertnet post-processing step that we previously used to produce the extension data.  We are using the same mechanism (URLs) for all other KUBI collections, however,

[2022-02-04 07:22] kcopas commented on #3904
Still in the toolbar, but now located at https://www.gbif.org/system-health

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-02-04 07:24] kcopas commented on #3903
Strongly recommend not using the same image. You worried we’re running short?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-02-04 08:48] ahahn-gbif commented on #3903
Some verification needed (looks like some line breaks got lost):
- the Project ID is "N-Eurasia-Russia2021" - correct? And all datasets link under just one project for the entire year. This project ID needs to be in the datasets' metadata, in exactly the same spelling as defined for the project page itself, so that the datasets are automatically linked
- the project title and description within th

[2022-02-04 09:23] jhnwllr opened #3908 "Record should have country New Zealand not Afghanistan"
(from helpdesk) @dshorthouse
https://www.gbif.org/occurrence/2574389134

[2022-02-04 10:24] #3904 closed, assigned to nobody

[2022-02-04 10:37] MortenHofft commented on #3907
The fragment (data as provided by the publisher, but split into individual records) for this occurrence has no associated media
https://api.gbif.org/v1/occurrence/3462064333/fragment

The fragment for one of the other KUBI occurrences has associated media and hence shows an image.
https://api.gbif.org/v1/occurrence/1934868999/fragment

I do see associatedMedia for other occurrences in the dataset

[2022-02-04 10:41] MortenHofft commented on #3906
NB: this is coming from UAT

[2022-02-04 11:25] MortenHofft opened #3909 "Literature API CORS headers"
The occurrence API has CORS headers set so that the API can be used from other websites. That is not the case for the literature API. It might make sense to align that @mike-podolskiy90 ? Or is there a reason they are different in that respect?

[2022-02-04 11:28] mike-podolskiy90 commented on #3909
Yes, we should add those, I'll do

[2022-02-04 12:26] ManonGros opened #3910 "Make GRSciColl "suggest a change" link to registry"
Right not on [GBIF.org](http://gbif.org/) the suggest a change button for IH-synchronized entities redirects to the corresponding IH page.
But this isn’t the case for the other sources (datasets and organization), in that case it links to the registry.
Since the link to the source is available in the registry anyway, I suggest to link all the "suggest a change" to the registry.

[2022-02-04 16:02] dschigel commented on #3903
@kcopas same visual was only suggested to coninue optical matching of the call to the project page, like in 2020. It is astetics, does not have to be like that, see 2020 [call](https://www.gbif.org/news/1VHfuSBGwSzDBxqRHucAHY/call-for-data-papers-from-european-russia) and [project](https://www.gbif.org/project/1lLoEkmf2ioQlr7bwDfeDx/west-of-urals-2020) with the same bumblebee.

- @ahahn-gbif true,

[2022-02-04 17:34] acbentley commented on #3907
I am seeing this in the associatedMedia DwC field for one of the records (catalog number 131254; occurrenceID 5f8483c9-25bf-4220-949b-ddc657f0d9f1) in the bird dataset:

http://biimages.biodiversity.ku.edu/static/Ornithology/originals/sp64164506455926919016.att.JPG

There should be about 2280 more of them in the occurrence dataset.

These resolve to images on the attachment server associated with

[2022-02-04 17:43] acbentley commented on #3907
Looks to be working now after finding my error and republishing

[2022-02-04 17:49] ahahn-gbif commented on #3903
Sorry, @dschigel, I don't understand what you mean by "checking the second box". As per your earlier question, I am completely fine with you proceeding as with the earlier call. I have not been involved with setting up any project pages in the past though, so I cannot really advise on anything other than how to make sure the datasets can get connected automatically.

@dnoesgaard, were you involved

[2022-02-04 19:01] EstebanMH-SiB commented on #3906
Hi, it does not work with using a single file (I tried a .txt and .xlsx), but it works with a DwC-A. Also I did the report in the UAT but the normal validator have the same problem

[2022-02-04 19:31] gbif-portal opened #3911 "about the repository"
**about the repository**

Dear staff of GBIF,

I’d like to know the cost of depositing the data in GBIF, and how long can my data in this repository preserved?
I can’t find corresponding document.
Thanks for your help.

Sincerely yours,
Zhenyu Wei

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/42174be2b790cc534f2525495e878d3f:519517bd5bf6ce61be419dda4fbb57234932b61e3f43c86e

[2022-02-04 19:46] #3907 closed, assigned to nobody

[2022-02-04 21:25] davidorme commented on #3596
Hope it is ok to resurrect this, but I have a related question.

We have a tool that validates taxa against the backbone, which occasionally uses GBIF ID to disambiguate taxa. In order to avoid thrashing your API, we mostly use a local version of the backbone database. At the moment, the lookup works using your API if a taxon is deleted: the record is still there but there is a deleted key. Howeve

[2022-02-05 19:47] dshorthouse commented on #3908
AFAIK, Darren Ward has fixed this record in their local resource, but I do not yet see the updates @ GBIF via their IPT.

[2022-02-06 12:00] OBinFiji opened #3912 "Record should be Vanuatu and not Fiji"
Species is considered to be endemic to Vanuatu - there are only 15 occurrences listed on GBIF.  And yet there is a record from China, with no further data on location, and this one, with Fiji listed.
https://www.gbif.org/occurrence/122918627
The text on the image associated with the observation clearly states that the specimen was collected on Tanna, Vanuatu, and even gives Lat Longs for the preci

[2022-02-07 04:30] gbif-portal opened #3913 "Checklist data published using occurrence core"
**Checklist data published using occurrence core**

This seems like a premature data publication which publishes checklist data as occurrences. Will this complicate the indexing of GBIF.org? If so, I should coordinate to correct it.

-----

Github user: @ckotwn
User: [See in registry](https://www.gbif.org/api/feedback/user/326a46c9298a0931c09cf0ce3de20b63:54a276162ab37cd4c5f04e77bf5a0945dfd2461d2d

[2022-02-07 04:31] ckotwn commented on #3913
@ManonGros

[2022-02-07 09:08] ManonGros commented on #3913
Hi @ckotwn it does look like it should be a checklist and not an occurrence dataset. Especially since the occurrence published aren't the actual occurrences they mentioned:

That being said, there is no harm in keeping the occurrences for now. The only information associated with them is "this species occurred in China at some point". It isn't very useful but it isn't incorrect either.

In any cas

[2022-02-07 09:15] ManonGros commented on #3912
The Fiji occurrence is from the [Fairchild Tropical Botanic Garden (FTG)](https://www.gbif.org/dataset/832cb04e-f762-11e1-a439-00145eb45e9a) (I contacted them).

The occurrence in China is from the [INSDC Sequences dataset](https://www.gbif.org/dataset/d8cd16ba-bb74-4420-821e-083f2bac17c2). It looks like the country entered is where the lab which sequenced the data is located: https://www.ebi.ac.u

[2022-02-07 09:20] ManonGros commented on #3906
Hi @EstebanMH-SiB the new validator no longer supports txt, csv and xlsx files but you can always use the old validator for those cases: https://www.gbif.org/tools/data-validator-legacy

[2022-02-07 09:20] #3906 closed, assigned to nobody

[2022-02-07 09:22] ahahn-gbif commented on #3878
Following https://github.com/gbif/pipelines/issues/392, I would like to amend

to add another issue that
flags BoR=SPECIMEN and (occurrenceStatus=ABSENT or individualCount=0) as suspicious
("occurrence status conflicts with basis of record", OCCURRENCE_STATUS_CONFLICTING_WITH_BASIS_OF_RECORD, or similar)) - same logic also for FOSSIL_SPECIMEN and LIVING_SPECIMEN

Without having been able to track

[2022-02-07 09:56] mdoering commented on #3596
I believe it would be simple for us to always provide a deleted-all file next to each backbone dump in the exact same [simple format](https://hosted-datasets.gbif.org/datasets/backbone/readme.html). It would be an optional addon to the backbone and link to the still existing taxa via the parentID.

Would that be exactly what you need?

[2022-02-07 10:08] davidorme commented on #3596
That sounds like it would be perfect - basically import the backbone and then, optionally, import the deleted taxa file, which would just add the new tuples into the same table to include deleted taxa.

I need to do some intermediate processing because I'm using sqlite3 as a backend but that's my problem :-)

[2022-02-07 10:22] muttcg commented on #3906
It will appear soon in the new version, please follow https://github.com/gbif/pipelines/issues/659

[2022-02-07 14:41] mike-podolskiy90 commented on #3909
fixed, closing this

[2022-02-07 14:41] #3909 closed, assigned to mike-podolskiy90

[2022-02-07 16:49] dschigel commented on #3903
Thanks everyone, Annie will pospone correspondence with dataset until the new project page is set.

[2022-02-07 18:04] gbif-portal opened #3914 "data validator tool-view more lines at one time"
**data validator tool-view more lines at one time**

Please add a page scroll to allow users to see more than 5 lines/errors at one time on the data validation report.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c3426d2b2907c2245b67eddd98c19782:05ae585181174539a2af6243f94858ce6ae0501d8a5a69dc82d59275f19852a923a2861c960fc873d709ad9519e3b7b125236328cc0293404e186f73493414d2

[2022-02-08 08:24] dnoesgaard commented on #3903
It looks like I set up the previous one. I don't mind doing this new one. ..

[2022-02-08 09:04] dnoesgaard commented on #3903
https://www.gbif.org/project/7fzLHvyCdEfM21SNS568ac/biota-of-russia-2021

[2022-02-08 09:04] #3903 closed, assigned to nobody

[2022-02-08 09:57] rukayaj commented on #3006
We've just had a request for this: https://github.com/gbif-norway/helpdesk/issues/90

[2022-02-08 17:11] gbif-portal opened #3915 "Image error"
**Image error**

That species here isn't P. graveolens, which has philotaxy is palmated, not like this

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/5c73be579114de1b106d69be0b256d32:d34e7d51738a613a4590af42dbea5448b4dedece61dcfb9ab6caca1efbb0b6b9c7cd8915a0b352a57f61bd42467215b3a1fca5957558e39f914d972347c0b4d0)
System: Chrome 97.0.4692 / Windows 7.0.0
Referer: https://www.g

[2022-02-08 18:54] gbif-portal opened #3916 "Authority for new species is incorrect"
**Authority for new species is incorrect**

The authority for this new species was published as:

Neuroterus valhalla Brandão-Dias, Zhang, Weinersmith, Forbes & Egan

..whereas what is expressed here is merely:

Neuroterus valhalla Brandão

-----

Github user: @dshorthouse
User: [See in registry](https://www.gbif.org/api/feedback/user/8fbd3b080527ffb475d771ccd1e7f34d:85c96f9038de82f840d4034353ea0c

[2022-02-08 20:57] gbif-portal opened #3917 "Publisher seeking to add a new dataset"
**Publisher seeking to add a new dataset**

Hello, I'm trying to find how to add a new dataset. I'm the technical contact for the publisher (https://www.gbif.org/publisher/c4cbb860-e9c7-11da-8113-b8a03c50a862) but can't find information about how to edit the publisher details or add a new dataset. Old login information I have on file is not working. The current publisher profile was created a long

[2022-02-08 22:25] gbif-portal opened #3918 "Can you help me find all records of species invasive to the United States of America?"
**Can you help me find all records of species invasive to the United States of America?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6d3d07f5ffbf4740849b63d91c97b502:18be0e697e36ca3a168529a8404a8650a4d735d4a535a1f0ce0fea1f7dcc758d7c9b04517eda0a8d5b8fd0c4557c96af9037631143a10c369ad0135707b13d7e)
System: Chrome 98.0.4758 / Windows 10.0.0
Referer: https://www.gbif.org/occu

[2022-02-08 22:58] EstebanMH-SiB opened #3919 "New versiof of the Data validator shows the terms in a strange order"
In the Term Frequency, the new validator shows the terms in a strange order, it happens with Occurrence, Taxa and Events.
![image](https://user-images.githubusercontent.com/63795703/153087760-86443568-2af3-4cdd-92da-c0b6ca824a6d.png)
It does not follow DarwinCore order neither alphabetical, so it looks weird.

The old version showed the same order as the original file and that made a little bit ea

[2022-02-09 08:16] ManonGros commented on #3916
@thomasstjerne the verbatim scientific name provided by the PLAZI treatment is `Neuroterus valhalla Brandão‐Dias & Zhang & Weinersmith & Forbes & Egan 2022` (https://www.gbif.org/species/192604755/verbatim) but we display only `Neuroterus valhalla Brandão`. Could you take a look?

[2022-02-09 10:32] timrobertson100 commented on #3006
Please see https://github.com/gbif/pipelines/issues/662 where we intend to implement multivalue dataset ID and name search capabilities shortly.

[2022-02-09 10:33] timrobertson100 commented on #3026
Please see https://github.com/gbif/pipelines/issues/662 where we intend to implement multivalue dataset ID and name search capabilities shortly.

[2022-02-09 11:32] ThomasSather commented on #3026
This is great news! Looking forward to testing it out!

[2022-02-09 14:30] ManonGros commented on #3917
We can update [your GBIF publisher page](https://www.gbif.org/publisher/c4cbb860-e9c7-11da-8113-b8a03c50a862). Just send us the list of changes you would like to see at [helpdesk@gbif.org](mailto:helpdesk@gbif.org)

The way to publish data via Symbiota depends on whether the portal is already configure to share data on GBIF.

[2022-02-09 14:30] #3917 closed, assigned to ManonGros

[2022-02-09 15:01] gbif-portal opened #3920 "Flicker in the UI truncates the authority information"
**Flicker in the UI truncates the authority information**

The authority information on the name in the H1 tag on this page gets truncated on page reflow.

-----

Github user: @dshorthouse
User: [See in registry](https://www.gbif.org/api/feedback/user/2e1e7c498dac5b0a19ddcd81b982612b:38028ebe9ecd8733528acd3f1cd0d66aa5d6c577f410eef443ab9b52a6127b88b6842e8fe0c221805ec24201f2c80198d95e0f33873a0ff33f2

[2022-02-09 15:04] dshorthouse commented on #3920
Duplicate #3916.

[2022-02-09 16:35] gbif-portal opened #3921 "Dead dataset link"
**Dead dataset link**

Annie and I are doing the revision of the Biota dataset and data papers this link https://www.gbif.org/dataset/edd76a7a-64e0-4008-a741-105ecd67e339 is the second dataset in the paper https://bdj.pensoft.net/article/59176/, but apprears to be dead. Is there anything we could do to revive?

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback

[2022-02-10 08:04] FedorSteeman opened #3922 "Make DwC term otherCatalogNumbers searchable"
It's crucial that the DarwinCore term otherCatalogNumbers (http://rs.tdwg.org/dwc/terms/otherCatalogNumbers) is made searchable.

Many institutions around the world are merging as are their cataloging systems. For many such mergers the adoption of a novel institution-wide catalog numbering system is not uncommon.

Legacy catalogue numbers ("alternate catalog numbers") are typically mapped to this

[2022-02-10 08:09] kcopas commented on #3911
Responded via (duplicate) email.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-02-10 08:10] #3911 closed, assigned to nobody

[2022-02-10 10:22] jhnwllr commented on #3918
responded by email.

[2022-02-10 10:22] #3918 closed, assigned to jhnwllr

[2022-02-10 10:59] gbif-portal opened #3923 "Suso, location and habitat seem suspect for this species (Geranium cinereum). Greetings."
**Suso, location and habitat seem suspect for this species (Geranium cinereum). Greetings.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e7a888fd36ccebb9238e627af77c0b89:4e1a639b2154a150760c00b2c025dc9cda917dcf44f03551d3869b9731a30651b86351514cbccf3d686882c0d275317b8b850892cba3611e8a4fe22d6ad31b2b)
System: Chrome 97.0.4692 / Windows 10.0.0
Referer: https://www.gbif.org/o

[2022-02-10 12:06] MortenHofft commented on #3921
The dataset link works fine. But you also have a second link where you (or probably someone else) have added additional characters to the dataset UUID
[code]

UPDATE:
most of the links on the paper is correct. But (at least) one of them is pointing to the wrong url.
`[https://www.gbif.org/dataset/edd76a7a-64e0-4008-a741-105ecd67e339](https://www.gbif.org/dataset/edd76a7a-64e0-4008-a741-105ecd67e33

[2022-02-10 12:46] #3921 closed, assigned to nobody

[2022-02-10 13:25] MortenHofft commented on #3921
GBIF.org shows a 404 (because the link is dead - invalid uuid), but suggests the dataset as a possible match for what you are looking for. That is about all we can do in our end, but it is a good idea to get it fixed in the paper
<img width="763" alt="Screenshot 2022-02-10 at 14 23 28" src="https://user-images.githubusercontent.com/6759267/153417087-36a08034-5fcd-4847-8f5d-be8d9867dd49.png">

[2022-02-10 13:29] ManonGros commented on #3898
Both of these genera come from the CoL. Except in the CoL, they aren't assigned to any family:
* Porotermes Hagen, 1858 (https://www.catalogueoflife.org/data/taxon/8NXTL) is only assigned to the infraorder: [Isoptera Brulle, 1832](https://www.catalogueoflife.org/data/taxon/8NKF8)
* Stolotermes Hagen, 1858 (https://www.catalogueoflife.org/data/taxon/8NZLF) is assigned to the subfamily: [Stolotermit

[2022-02-10 14:00] ManonGros commented on #3893
The record comes from CoL and the family is correct there (https://www.catalogueoflife.org/data/taxon/69X2).
I am not sure why the family is different in the backbone.
@mdoering could you take a look? how can we check what is happening?

[2022-02-10 14:37] gbif-portal opened #3924 "person search to provide country filter"
**person search to provide country filter**

It'll be useful if we can filter people by country on the web. That'll support use cases such as:
1) I want to find who in my country is already listed and whether they need to update;
2) I want to find who in this [country] that I as regional support should approach regarding collection related engagement.

-----

Github user: @ckotwn
User: [See in reg

[2022-02-10 15:30] MortenHofft commented on #3924
Hi @ckotwn
We are actually changing the model and soon the website follows (a pending task for me!) When we took over grscicoll there was this staff entity. But the data isn't maintained and the same individuals is sometimes added many times with different addresses, roles etc. Meaning that in reality it is really used the same way as contacts on datasets: it doesn't model individuals, but contact

[2022-02-10 15:39] MortenHofft commented on #3924
I'm leaving this open for you to consider @ManonGros - in case we somehow want to include contacts in search

[2022-02-10 16:25] mdoering commented on #3893
The source reference takes you to [Systema Dipterorum in COL](https://www.gbif.org/species/173709665) which has it classified under Syrphidae. Systema Dipterorum in GBIF has 2 genus records, one also in [Tipulidae](https://www.gbif.org/species/187605740). I suspect this is the cause as we also include it in the backbone.

Looking at the last build configs we actually exclude Diptera from COL and r

[2022-02-10 16:28] mdoering commented on #3893
Switching to SD directly was a temporary solution since Sept. 2021, see https://github.com/gbif/checklistbank/blob/master/docs/backbone-builds/2021-09-14.md#data-source-changes

We should revert to COL with the next build!

[2022-02-10 16:29] mdoering commented on #3893
@yroskov has the early issues with Systema Dipterorum in COL been removed in the latest january 2021 release?

[2022-02-10 16:39] gbif-portal opened #3925 "All records flipped from PRESERVED_SPECIMEN to HUMAN_OBSERVATION"
**All records flipped from PRESERVED_SPECIMEN to HUMAN_OBSERVATION**

All the records from this dataset were republished with the basisOfRecord = HUMAN_OBSERVATION whereas they were all once PRESERVED_SPECIMEN. This must be in error.

-----

Github user: @dshorthouse
User: [See in registry](https://www.gbif.org/api/feedback/user/19c44ddd78fd12eb6f14b9885637e2e4:8537a48d89874186a447777a9b844bbfc805

[2022-02-10 16:50] #3893 closed, assigned to nobody

[2022-02-10 17:02] gbif-portal opened #3926 "occurrenceIDs now have braces around them"
**occurrenceIDs now have braces around them**

This dataset was recently republished to newly include braces around all its occurrenceIDs, triggering whole new gbifIDs to be created.

-----

Github user: @dshorthouse
User: [See in registry](https://www.gbif.org/api/feedback/user/020069c59d3e3a1401647c45024fd6e4:2be6f0ad8e945f8810dbdacbc0b2e07220d2eeff5724ed55a56ec2da3ad07c63ff16e3d5080169aac41d72b

[2022-02-10 17:05] mdoering commented on #3898
Definitely sth for COL and Species Files to look into!
@yroskov can you chase this up please? I am not sure where and which SF resource is the current. Blattodea SF, Isoptera SF, Cockroach SF...

[2022-02-10 18:18] AbbyBenson commented on #3926
@themerekat is contacting the data manager about this.

[2022-02-10 19:42] dshorthouse commented on #3926
Thanks @themerekat & @albenson-usgs. I too contacted the data publisher (& Ed Gilbert in the event this is a systemic issue to Symbiota) via email. They may have received this now from all sides.

[2022-02-10 21:35] yroskov commented on #3898
@gdower, it looks like there was a problem in TW export script: Set of genera dropped out of parental families.
https://github.com/CatalogueOfLife/testing/issues/171#issuecomment-1035543612

After correction of the script, we'll re-import SF Isoptera (March-April?).

[2022-02-11 03:03] gbif-portal opened #3927 "Drosdophilidae is a spelling error for Drosophilidae"
**Drosdophilidae is a spelling error for Drosophilidae**

Family Drosdophilidae (https://www.gbif.org/species/11147458) is a spelling error. The family should be Drosophilidae. E.g. see:
https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=146859#null

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/22574713ed071d06e2f9755f4696fd13:ecfb50bfdc199845ce

[2022-02-11 12:53] gbif-portal opened #3928 "Derived dataset -> Registration completed -> Go to dataset doesn't work"
**Derived dataset -&gt; Registration completed -&gt; Go to dataset doesn&#39;t work**

After registering a derived dataset, the green "Go to dataset" button links to /derived-dataset/register rather than the new derived dataset.

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/16731c17a781ae4cf59bbdbc9e50c4c1:a235d2e0bfb359377d710f4362e856c869a7b02007

[2022-02-11 13:48] peterdesmet commented on #3292
👋 Can I bring this one to your attention again? Having the images be displayed in order chronological would be very useful, especially since we're currently writing a Guide on how to publish camera trap data to GBIF (under contract for GBIF).

[2022-02-11 21:04] gbif-portal opened #3929 "I have a question about occurrence data."
**I have a question about occurrence data.**

I have a question about occurrence data. In the "basis of record" menu, what does "preserved specimen" include? Does this include un-vouchered tissue samples, like a blood sample? Does this include photographs? I'm hoping that this only includes traditional museum-style specimens (e.g., study skins, skeletons, etc.). Thanks very much for your help!

--

[2022-02-11 22:33] gbif-portal opened #3930 "How do I select data on endangered species for Timor-Leste?"
**How do I select data on endangered species for Timor-Leste?**

I need to create a data set for Timor-Leste that covers the critically-endangered CR and endangered EN species, then get the distribution data. Can you tell me how? Thank you.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2e77efde927c1bd3fce016bb7f41c679:c0546c089a425a25c85b6e5fe9f09bcbf9c73ec081c4f2fa5bac655

[2022-02-12 08:50] gbif-portal opened #3931 "add synonyms"
**add synonyms**

Cupulospongia patella and Chenendopora patella seem to be synonymous to Tragos patella - these names could be added to the synonym list to make them findable.

https://www.google.de/books/edition/Repertorium_zu_Goldfuss_Petrefakten_Deut/9107AAAAcAAJ?hl=de&gbpv=1&dq=%22Cupulospongia+patella%22&pg=PA5&printsec=frontcover

https://books.google.de/books?id=IhVQAAAAcAAJ&pg=RA1-PA78&lp

[2022-02-14 08:10] ckotwn commented on #3924
Thanks @MortenHofft for the status of development. Trying to contribute an idea here, as it's being re-modeled, would it be useful to add ORCiD to individual contacts that can accept suggestions? It can lead to the consolidation of various contacts to their belonged individuals. Perhaps you've already thought about this.

As for my initial attempt, for the time being, the API with the country filt

[2022-02-14 09:03] MortenHofft commented on #3924
It makes perfect sense. And would be really nice to have identifiers for all contacts. As you say it is essential consolidation.

Just a random sample from UAT
https://registry.gbif-uat.org/collection/d8ce7966-a07a-47a7-927b-30f6d7a9f16b/contact
You can suggest contact changes including user identifiers such as ORCiD

[2022-02-14 09:08] MortenHofft commented on #3292
I suspect this has to do with how Elastic search handles order in arrays? @muttcg you are probably the best to answer this.

[2022-02-14 09:15] jhnwllr opened #3932 "Occurrence is not Begonia setulosa Bertol."
(from helpdesk)

Herbarium sheet is shows

**Begonia cucullata Willd.**
https://www.gbif.org/occurrence/2514432078

![image](https://user-images.githubusercontent.com/4245213/153834359-b00ae41b-aee7-4421-8067-162279fc44b4.png)

[2022-02-14 15:02] myrmoteras opened #3933 "broken link in Cluster / occurrence number stability"
in this cluster https://www.gbif.org/occurrence/2434328928/cluster , there is a broken link https://www.gbif.org/occurrence/3386740302:

![image](https://user-images.githubusercontent.com/4609956/153888380-ceb48896-0762-44fd-86d0-acc33c088bc4.png)

Questions:
* why is it broken?
* how stable are the occurrence numbers used in GBIF? Is there a possibility to keep them stable so they can be used as

[2022-02-15 09:53] abubelinha commented on #3068
I have just seen this new (for me) filter in gbif portal.
From this related [comment](https://github.com/gbif/hosted-portals/issues/123#issuecomment-805501194), looks like this search field is created by GBIF using coordinates taken from data provider.

But I wonder if the other-way round is possible.
I mean, is it now possible for data providers to fill in gadm values in IPT, so that this will be

[2022-02-15 10:26] abubelinha commented on #3068
Related to previous questions, something else comes to my mind.

If filling gadm directly by data-proviers is not possible (in IPT), I still can figure out an interesting possibility for records without coordinates.

What if GBIF can use a table provided by data providers willing to do so, for interpreting info present in that provider's StateProvince and/or Municipality IPT fields?
Example:
|Coun

[2022-02-15 10:28] MortenHofft commented on #3933
I see the broken record belong to a Plazi dataset
https://www.gbif.org/dataset/01962892-5ab4-4828-a43c-838f01b109b6

I would guess that the dataset was republished with new occurrenceIDs and hence breaking the existing GBIF ID. Essentially the IDs in GBIF are as stable as those published. @muttcg can answer in more details on how we strive to maintain stability and when it fails.

[2022-02-15 11:56] muttcg commented on #3933
@MortenHofft thanks, that is correct answer.

GBIF ID is linked to datasetID + occurrenceID, when user changes occurrenceID GBIF links it to new ID.
Records **3386740302** was reserved for:

- dataset **https://www.gbif.org/dataset/01962892-5ab4-4828-a43c-838f01b109b6**
- record with occurrenceID equal to **https://data.biodiversitydata.nl/naturalis/specimen/RMNH.ARA.15165**

That dataset doesn't

[2022-02-15 13:09] ManonGros commented on #3905
It looks like the issue comes from Systema Dipterum via the Catalogue of Life, I see two entries for the genus Anthomyia:
* https://www.catalogueoflife.org/data/taxon/8RZ2S in the [Tabanidae](https://www.catalogueoflife.org/data/taxon/GVW) family (one species associated with this entry)
* https://www.catalogueoflife.org/data/taxon/8ST8Y in the [Anthomyiidae](https://www.catalogueoflife.org/data/ta

[2022-02-15 13:27] muttcg opened #3934 "Data validator: Data preview tab"
New data validator uses ES and temporary stores all data, so would be nice to add "Data preview" page next to "Metadata" and give users opportunity to explore data before publishing, maybe add simple issue/etc filters.

[2022-02-15 13:27] muttcg commented on #3914
Link to https://github.com/gbif/portal-feedback/issues/3934

[2022-02-15 13:32] gbif-portal opened #3935 "Cannot download Darwin Core Archive from dataset page with Chrome"
**Cannot download Darwin Core Archive from dataset page with Chrome**

This issue was reported on Helpdesk.
I just tested it and indeed when clicking on the download button with Chrome, nothing happens.

I suspect that this isn't a GBIF issue but I am reporting it in case there is something we could do.

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/

[2022-02-15 14:02] yroskov commented on #3893
Here is a placement in the CoL: unranked: Biota > kingdom: Animalia > phylum: Arthropoda > class: Insecta > order: Diptera > family: Syrphidae > subfamily: Eristalinae > tribe: Volucellini > genus: Ornidia.

Is anything wrong?

[2022-02-15 14:20] mdoering commented on #3596
Sorry this took a while, but here is the dump of all deleted records:
https://hosted-datasets.gbif.org/datasets/backbone/current/simple-deleted.txt.gz

I will maintain this onwards from now for all future releases

[2022-02-15 14:20] #3596 closed, assigned to nobody

[2022-02-15 14:23] gsautter commented on #3933
Well, the IDs we assign to occurrences (as well as taxa) are a concatenation of treatment UUID and materialsCitation UUID (the latter only in the occurrences), and both those UUIDs derive directly from annotation boundaries (among other things). That means they are stable (and reproducible), but will change when the boundaries of the underlying source annotation change. This is system inherent, an

[2022-02-15 14:26] gsautter commented on #3933
As to the clusters, maybe there is a way of communicating any previous record keys via the DwC-As so it's easy to replace in the clusters proper?

[2022-02-15 14:38] MattBlissett commented on #3935
Chrome now completely blocks downloading certain HTTP files from an HTTPS page, without even a warning. Seems ridiculous.

I don't think there's much we can do about that, except encourage more publishers to enable HTTPS.

Copy and pasting the link would work.

[2022-02-15 15:01] ManonGros commented on #3933
I think the record deleted was published by Naturalis (they have sometimes in the past changed their occurrenceID).

The issue is that we don't run the clustering function very often so the occurrences clustered might have been deleted (or updated) in the meanwhile.

[2022-02-15 15:34] dagendresen commented on #1955
Current occurrenceKey is https://www.gbif.org/occurrence/2407005134
with NBIC Artsobservasjoner URL https://www.artsobservasjoner.no/Sighting/15463410
and occurrenceID = urn:uuid:39468828-3944-469c-a5d0-ba990a6b1f2e

[2022-02-15 15:51] davidorme commented on #3596
That's fantastic. Many thanks.

[2022-02-15 15:59] MortenHofft commented on #3933
@ManonGros the missing/broken/deleted record is a Plazi record that is clustered with the (still existing) Naturalis occurrence
![Screenshot 2022-02-15 at 16 56 28](https://user-images.githubusercontent.com/6759267/154099269-69c2aa68-a806-4d11-90f7-acaec3ceefce.png)

Unless I misunderstand

[2022-02-15 16:16] SvMering opened #3936 "Issue with homonyms"
While searching for occurrences of *Arenaria oresbia* W.W.Sm. from China
https://www.gbif.org/species/7398059
(the accepted name is *A. smithiana* Mattf.), I noticed a few records from Mexico that were actually *Arenaria oresbia* Greenm. The former name is a later homonym of the latter and therefore illegitimate.

See these two examples:
https://www.gbif.org/occurrence/2270509494
https://www.gbif.

[2022-02-16 10:59] timrobertson100 commented on #3933
I've rerun clustering, which is a batch process, to bring consistency again.

As people have noted, stability in IDs is determined by the data publishers.
I'll shortly put up some issues in [gbif/pipelines](https://github.com/gbif/pipelines) that outline some proposed steps that GBIF can take to help prevent unwittingly changing IDs by requiring a human confirmation, run an ID migration when IDs a

[2022-02-16 10:59] #3933 closed, assigned to nobody

[2022-02-16 11:06] MortenHofft commented on #3934
To enable this we discussed elsewhere that we should have a checkbox that users need to tick. Stating that to enable previews they would have to accept that the data was public available. This is simply because the data would be stored in one index and everyone could *in theory* access it to discover the previews from other validation reports. It isn't something we will advertise, but there is no

[2022-02-16 13:36] ManonGros commented on #3936
The occurrence published by Kew seems to be referring to the correct species: https://www.gbif.org/occurrence/912561607 (their identification extension shows _Arenaria smithiana_ Mattf.).

I have contacted the publishers by email for the two other occurrences (I suspect one of them just needs to refresh their Darwin Core Archive).

[2022-02-17 08:17] ManonGros commented on #3870
Record concerned: https://www.gbif.org/occurrence/3391247309
[NMNH Material Samples (USNM)](https://www.gbif.org/dataset/26098c25-8f7f-4c71-97ac-1d3db181c65e)
[National Museum of Natural History, Smithsonian Institution](https://www.gbif.org/publisher/bc092ff0-02e4-11dc-991f-b8a03c50a862)
The coordinates correspond to centroids.

[2022-02-17 08:21] ManonGros commented on #3870
@gamblebnmnh
This issue was already reported to the Smithsonian but I am tagging you so you can keep an eye on the issue.

[2022-02-17 08:24] ManonGros commented on #3863
The name appears correctly now. I am closing the issue. Let me know if I missed anything.

[2022-02-17 08:24] #3863 closed, assigned to nobody

[2022-02-17 14:23] gamblebnmnh commented on #3870
Thank you @ManonGros.  Do you happen to know what contact was used to report the issue to the Smithsonian originally?  I have forwarded to the Botany person who created the record in our CIS.  Hopefully will be corrected next load.

[2022-02-17 15:17] gbif-portal opened #3937 "This species, Saussurea talungensis is only found in Humla, Nepal. Therefore the page that contains distribution record besides from Nepal is a typo error."
**This species, Saussurea talungensis is only found in Humla, Nepal. Therefore the page that contains distribution record besides from Nepal is a typo error.**

The valid link for recently published manuscript of new species is: https://doi.org/10.3897/phytokeys.176.61996

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f63d3aac8f997b24296a0a7e7c65fb61:f0a60f2dc08d80ffaf6c4a5

[2022-02-17 15:25] santoshkumarrana commented on #3937
Data portal should have authentic source (like herbarium, publication, etc.) when providing the distributional record of species, particularly for an endemic species. Observation based records should be discouraged in such portal.

[2022-02-17 16:31] yroskov commented on #3898
Fixed now. Changes will appear in CoL of February.

[2022-02-17 22:02] kcopas commented on #3930
Filter occurrences by country and Red List status(es):
https://www.gbif.org/occurrence/search?country=TL&advanced=1&occurrence_status=present&iucn_red_list_category=CR&iucn_red_list_category=EN

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-02-18 07:55] ManonGros commented on #3868
@mdoering thanks for checking the related issue that I had logged in the CoL repo. I understand that there are two species Tettigonia cantans: https://www.gbif.org/species/search?q=Tettigonia%20cantans

However, I don't think I can close this issue yet.
Most of the occurrences of [Tettigonia cantans Fabricius, 1794](https://www.gbif.org/species/1692881) located in Europe have the verbatim name `Te

[2022-02-18 08:01] ManonGros commented on #3870
@gamblebnmnh The user is the person who said they have originally reported the issue on GitHub. I don’t know which email address they used to report the issue to the NMNH but I can contact them to ask, would it be helpful?

[2022-02-18 08:25] ManonGros commented on #3853
I have contacted this user previously for similar issues:
https://github.com/gbif/portal-feedback/issues/3780
https://github.com/gbif/portal-feedback/issues/3770
https://github.com/gbif/portal-feedback/issues/3769
https://github.com/gbif/portal-feedback/issues/3768
https://github.com/gbif/portal-feedback/issues/3767

I explained how the iNaturalist records were shared on GBIF. I think it is ok to

[2022-02-18 08:25] #3853 closed, assigned to nobody

[2022-02-18 08:47] mdoering commented on #3868
_Tettigonia cantans (Scopoli, 1763)_ and _Tettigonia cantans (Fuessly, 1775)_ are definitely different names. Why Scopoli matches Fabricius I need to investigate, it should probably not match any of the two. But that's a matching issue now.

[2022-02-18 09:57] gbif-portal opened #3938 "Sida hermaphrodita Linnaeus, 1753 should be Sida hermaphrodita (L.) Rusby"
**Sida hermaphrodita Linnaeus, 1753 should be Sida hermaphrodita (L.) Rusby**

This issue was originally reported on Helpdesk.

There is already a Sida hermaphrodita (L.) Rusby (https://www.gbif.org/species/5406727) which would be the correct name.

Taking a closer look at [Sida hermaphrodita Linnaeus, 1753](https://www.gbif.org/species/10845891), the name is from PLAZI and is currently showing in

[2022-02-18 13:36] gamblebnmnh commented on #3870
@ManonGros if it wouldn't be too much trouble that would be helpful.  I want to know if folks are just emailing Tom Orrell as he is listed as first contact in our data sets.  Tom is sooooooooo busy I'm sure this stuff just falls out of his email.  InformaticsHelp is our second contact and that would go to me and others in my office and would have a higher chance of being looked at.  Thanks so much

[2022-02-18 16:16] gbif-portal opened #3939 ""Geodetic datum assumed WGS84""
**&quot;Geodetic datum assumed WGS84&quot;**

If the flag of data is "Geodetic datum assumed WGS84", does that means the Geodetic datum information is not right?

Thank you so much.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/10015cb77a93892e8686c6c2674ae7c5:bf1ff59b27f28657ddd6ec27d5274b10b72ccddffc1d393cfe463c6b54511048670f123b55d47d260f3345a22aa596a0a68e85df4ad8fc4481

[2022-02-18 16:19] tucotuco commented on #3939
No, it means that there was not enough information to determine what the
geodetic datum was, therefore it MIGHT not be right.

On Fri, Feb 18, 2022 at 1:17 PM gbif-portal ***@***.***>
wrote:

[2022-02-18 19:53] JonasBlanco commented on #3937
We identified the problem. The additional examined materials were linked to the treatment of the species Saussurea talungensis, and between them were specimens from outside Nepal. We have already separated these materials from the treatment, so the information must be soon updated and corrected in the links.

Please, let us know if the problem was solved and if there is any other issue regarding t

[2022-02-20 09:02] gbif-portal opened #3940 "ICS Legal"
**ICS Legal**

ICS Legal is online legal consultation firm where you can get the best advice for UK Spouse Visa, UK Immigration Lawyers Legal Advice etc..

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/bea3266853d21bd09b9d1d217ed775f8:488021a6a575720ff011ab9305aa97c5585e6b7344acdf898351745b063ea2be3fe395b6eceba08dbb45e6a9a3fadb6b308f717b816c2363f6a94dcd71ef637c)
System: Chr

[2022-02-20 09:36] legaladvice commented on #3940
Okey No Problem

[2022-02-20 09:39] gbif-portal opened #3941 "Legal Advice"
**Legal Advice**

ICS Legal is consultancy firm where people get advice for UK Visas.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/79977d035c9a3b5e26fc3480afaa8ee6:6a25bf88c91bd1842338fa8ba30d4e821cba89ce0954baeda3f54b4bc1e8b08bb828b89d6b4ddf66909b62e100a53555cd5497ece93c7d2a4ce356da21505336)
System: Chrome 89.0.4389 / Mac OS X 11.2.3
Referer: https://www.gbif.org/user/pr

[2022-02-20 09:39] legaladvice commented on #3941
Sure

[2022-02-21 05:40] gbif-portal opened #3942 "IPT"
**IPT**

Good afternoon! We've had a crash)

The number of records in datasets does not correspond to those indexed by IPT.

https://www.gbif.org/publisher/943a5811-d56e-4c37-853d-bd64957d3833
&
http://altb.asu.ru/ipt/

It happened without our influence. We send the data again - nothing changes.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/aec1e2bfe2c845efd47ceeabb5f98643

[2022-02-21 07:58] #3937 closed, assigned to nobody

[2022-02-21 10:35] ManonGros commented on #3870
Hi @gamblebnmnh I contacted the user and they told me that they don't exactly remember but that they most likely used the feedback system on the NMNH portal.

[2022-02-21 15:40] gbif-portal opened #3943 "Occurrence basemap and overlay options"
**Occurrence basemap and overlay options**

It's difficult to place occurrences in their geographic and administrative context because the map background is so basic. A different base map and/or the addition of a few overlay layers like terrain and possibly even geological and bioclimatic maps would make exploring occurrences within gbif.org easier and more informative. With more map options, rese

[2022-02-21 16:06] gbif-portal opened #3944 "Accepted name marked doubtful"
**Accepted name marked doubtful**

Re. https://www.gbif.org/species/7548157, this is the accepted name according to https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=761779

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/06703fb20a0688dd816d46f3ada8112b:06f47a4b23bbe21bedb1cc67352c3daa6205c5cb738273c4ab6c5e850f860545a3f9720f0ad254a1c913e02f1fe3ed

[2022-02-21 16:10] gbif-portal opened #3945 "invalid name marked accepted"
**invalid name marked accepted**

Re. https://www.gbif.org/species/7507576, this is an invalid name according to https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=761780

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/eb90e8ba464727f904c0cffb2ff13617:7a3e62f73581356e14dc646b79196b19d7dfbc5823f16a91c719ef3bb2aff6b147a8d162f6ed2dae5d1fca2bbd833a1a1

[2022-02-22 15:12] #3943 closed, assigned to nobody

[2022-02-22 15:19] MortenHofft commented on #3939
User informed per email

[2022-02-22 15:19] #3939 closed, assigned to nobody

[2022-02-22 15:21] MortenHofft commented on #3943
Thanks for your comment

You can now toggle the style to a basemap with more details and an overlay that has bold colors, so hopefully nothing is lost on the more information rich basemap.

![Screenshot 2022-02-22 at 16 20 27](https://user-images.githubusercontent.com/6759267/155163071-d9f14814-f610-4758-af4b-eabfab0ba1f3.png)

[2022-02-22 17:53] gamblebnmnh commented on #3870
Thanks, record has been modified and will be corrected next monthly IPT update.

[2022-02-22 19:56] gbif-portal opened #3946 "On https://www.gbif.org/standards in "conventions to describe, recording and structure thousands of different datasets" should be "record" instead of "recording", right?"
**On `https://www.gbif.org/standards` in &quot;conventions to describe, recording and structure thousands of different datasets&quot; should be &quot;record&quot; instead of &quot;recording&quot;, right?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/54cfe6cadf4886bd1509b16098e4822a:002bc0ea7a79a45c35d5f29d72150eeabf314249dda8e1f53ce6a35573fcd4377d02dbece04263f95fcf6fbcb0

[2022-02-22 20:11] gbif-portal opened #3947 "On https://www.gbif.org/darwin-core "samping" (only occurs once on the page) should be "sampling" (the 'l' is missing)."
**On `https://www.gbif.org/darwin-core` &quot;samping&quot; (only occurs once on the page) should be &quot;sampling&quot; (the &#39;l&#39; is missing).**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/985060dc53b3f3dcec2bfc5016c33d96:02387339af0bbb1fb55d8439e0598dad2846680e65830ad5b3d110a11d2b760a1401f1650ff44394741295d168d44cecad0bc82724d30a94228b422f8e136b1d)
System: Fire

[2022-02-22 21:43] gbif-portal opened #3948 "Metrics reported in the Activity Report do not match the Summary Page"
**Metrics reported in the Activity Report do not match the Summary Page**

The Summary page shows 754,087,823 occurrences mobilized by the US from 2138 datasets but the Activity Report shows 740,180,209 occurrences from 1000 datasets in the data mobilization section. I'm confused by this discrepancy. Obviously the number of occurrences may be due to when the Activity Report is run (January 2022) b

[2022-02-23 08:42] MortenHofft commented on #3948
API responses (just to check that it isn't the website)
https://api.gbif.org/v1/occurrence/search?publishing_country=US&limit=0 `count=745138680`
https://api.gbif.org/v1/dataset/search?publishing_country=US&limit=0 `count= 2138 `

The report says `occurrences: 740,180,209` and `datasets: 1000`

So it is "only" 5 million more occurrences. But the dataset count really do sound weird and `1000` is a

[2022-02-23 08:43] MortenHofft commented on #3948
https://analytics-files.gbif.org/country/CH/GBIF_CountryReport_CH.pdf
Switzerland has 1000 datasets (accoording to the country report) as well. According to the API they have 38k+ datasets.

This looks like a bug in the country report

ping @thomasstjerne and @MattBlissett

[2022-02-23 08:58] thomasstjerne opened #3949 "Duplicate accepted genus (spelling variant)"
It seems we have two spelling variants of the same genus, but with different higher classification (order and family):

1. [Peyssonnelia Decaisne, 1841](https://www.gbif.org/species/2667793) Plantae > Rhodophyta > Florideophyceae > Peyssonneliales > Peyssonneliaceae
2. [Peyssonelia](https://www.gbif.org/species/3979021) Plantae > Rhodophyta > Florideophyceae > Cryptonemiales > Squamariaceae

[2022-02-23 09:15] dnoesgaard commented on #3946
Corrected.

[2022-02-23 09:15] #3946 closed, assigned to nobody

[2022-02-23 09:18] dnoesgaard commented on #3947
Corrected.

[2022-02-23 09:18] #3947 closed, assigned to nobody

[2022-02-23 12:41] gbif-portal opened #3950 "Download metricsFor analysis of download metrics, could a graph over time of downloads be shown for each Pulishers. this would be similar to the graph of citations by publisher."
**Download metricsFor analysis of download metrics, could a graph over time of downloads be shown for each Pulishers. this would be similar to the graph of citations by publisher.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/bdfa04c0cbe97216755e6598e28fa48b:adcba6e02cc29779185dcbc3f7f4d0e37a401cb30bab11e0b8c294974d407f27dd80a2b47d3389ea3586e0663e249f363493a9abee28e0abf6

[2022-02-23 14:17] EstebanMH-SiB commented on #3766
I do not know if this have been reported before, so sorry if you are already aware. I just want to say the same problem happens with occurrence records, the validator does not show problems when there are duplicate occurrenceIDs.
Here is the link of the validation https://www.gbif.org/tools/data-validator/dbd36711-0d0f-4259-af3f-84b196811135 and the data [UNAL_UNABx3_20220223_Revision.xlsx](https:

[2022-02-23 14:32] muttcg commented on #3766
@EstebanMH-SiB I think it is possible to highlight that there are duplicates as a warning, but we don't decline data because it has some duplicated identifiers

You can see number for the validation
`Number of lines 1,340     Number of records indexed 60`

Where numbers of lines - actual number of lines in the file
Number of records indexed - number of records you will see on the portal

I created

[2022-02-23 14:38] muttcg commented on #3766
As a real example eBird for 2020 had:
Records in the file: 741,037,572
Records in the index : 705,008,469

So ~36mil records in the file were duplicated

[eBird indexing history](https://registry.gbif.org/dataset/4fa7b334-ce0d-4e88-aaae-2e0c138d049e/ingestion-history)

[2022-02-23 15:12] ut-entomology opened #3951 "Velvet ant genus (Mutillidae: Odontophotopsis) incorrectly placed with true ants (Formicidae) in backbone"
This genus should be in Mutilldae: Sphaeropthalminae.

[2022-02-23 15:41] MattBlissett commented on #3948
Thanks for letting us know.

It's a bug in the country reports affecting publishers with over 1000 occurrence  datasets, which includes the USA for the first time this year.

These reports are affected:

[code]

I've updated the 7 current reports.

[2022-02-23 15:41] #3948 closed, assigned to MattBlissett

[2022-02-23 15:50] AbbyBenson commented on #3948
Wait something still doesn't make sense- are you saying that the US published 1138 datasets in 2022? That doesn't seem right? We had to have been over 1000 before this year? I don't think anyone is going back to old Activity Reports so this is only a minor point and not worth digging into but that just doesn't sound right to me.

[2022-02-23 16:13] MattBlissett commented on #3948
The [2021 USA activity report](https://labs.gbif.org/country-reports/country-reports-2021/country/US/GBIF_CountryReport_US.pdf) showed 844 datasets with occurrences in January 2021, so it should not have been affected by the limit of 1000. The 2022 report now shows 2,016 datasets with occurrences for January 2022.

There are currently 2,139 datasets, but this includes 2022 publications as well as

[2022-02-23 16:21] AbbyBenson commented on #3948
Ah ok these reports are run yearly. I had it in my head they are run monthly. Thanks Matt for providing all that information. I appreciate it.

Wow! 🎉👏

[2022-02-23 19:39] EstebanMH-SiB commented on #3766
Thanks for the fast answer @muttcg. We agree with the warning, that will be useful.

But we are a bit confused with the topic of duplicated identifiers. As far as we know, it is not possible to publish a dataset with duplicated identifiers, at least not through the IPT (2.5.4 version), because it will not let you do it.
Maybe there is a way to do it directly, but is not something that we can do it

[2022-02-23 19:45] AbbyBenson commented on #3766
Agree! Seems like there is somehow a discrepancy between what GBIF allows and what the IPT allows which is kind of confusing but since the IPT is the most common way for data to be shared with GBIF the validator should match the requirements of the IPT from my perspective.

[2022-02-24 08:08] johnne commented on #3949
It seems that some of this is due to [homonyms](https://www.irmng.org/homonyms.php). In our [coidb](https://github.com/johnne/coidb) that uses the GBIF backbone we now add the parent rank to the homonyms, such that

| phylum        |          class            |        order          |              family        |        genus    |
|-------------|------------------|-----------------|---------------

[2022-02-24 08:43] ckotwn commented on #3913
@ManonGros A quick look-up reveals that the publisher has registered two datasets of the same resource:
checklist_of_wanda: https://www.gbif.org/dataset/14d71780-b34f-4fbb-9545-a73e3f31e439
checklist_wanda: https://www.gbif.org/dataset/ea3ad43a-e96f-47e8-b3ae-2272d730c18f

To merge these, do you recommend deleting first one, or migrating? In such a case when the newer dataset is already registered

[2022-02-24 09:57] ManonGros commented on #3913
@ckotwn the Additional identifier method won't work for datasets that are already registered but we can link the old dataset to the new one before deleting it. Like in this example: https://www.gbif.org/dataset/fc003253-5eee-414e-84c8-817e12bdb708
Should I just do that?

[2022-02-25 08:58] timrobertson100 commented on #3866
@MattBlissett - could the housekeeping scripts that free space set these perhaps?

[2022-02-25 17:01] muttcg commented on #3766
@albenson-usgs @EstebanMH-SiB

I 100% agree. I need to check IPT warnings to understand what is missed.
Current validator is new, it was released 3 weeks ago, and it uses different approach, simple it uses production interpretation/indexing and after collect metrics.
As a first step I can add a warning for validator, then when we add [data preview tab](https://github.com/gbif/portal-feedback/issue

[2022-02-25 17:21] davidorme commented on #3596
Just for information, the data for the deleted taxa uses the same schema as the main simple backbone. That does _not_ include a field to indicate deleted taxa. So, if you are using this to build a backbone database that includes deleted taxa, it may be worth working out how to tag deleted taxa in that database!

[2022-02-25 18:04] mdoering commented on #3596
Right. Maybe I should have included the deleted timestamp with the dump

[2022-02-26 21:37] davidorme commented on #3596
@mdoering Just referring back to something you said above:

The scenario I have is where a user has provided a set of names that we validate on name and rank using `species/match` with `strict=True`. If a taxon is found, then the data passes validation, but if we were to revalidate the same dataset after a taxon had been deleted, then `species/match` will not match it and the data now fails valida

[2022-02-28 12:11] gbif-portal opened #3952 "is 1845 not 1842"
**is 1845 not 1842**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2108a4f204ba3984f53250812e027f03:baab5e8038a32b5d24fb410663dcf652ea14eb89d8f29fa6248c50297f4c94d8479a5e8388496213af4972e3bb501a613b9fc6cccc4e76457efbfc617e8f9187)
System: Chrome 98.0.4758 / Windows 10.0.0
Referer: https://www.gbif.org/species/1053276
Window size: width 1066 - height 927
[API log](https://pr

[2022-02-28 13:28] gbif-portal opened #3953 "Metadata datasets with occurrences"
**Metadata datasets with occurrences**

We have a surprising amount of metadata only datasets with occurrences.

Perhaps we should automatically detect them?

https://www.gbif.org/dataset/search?type=METADATA

17/20 on the first page has occurrences with coordinates

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/deece996669bb6b8bc9c8158fee2505d:556

[2022-03-01 10:01] gbif-portal opened #3954 "Typo in the species' author name"
**Typo in the species&#39; author name**

Correct name is 'Oosterbroek'. In the reference taxon tab, the name is correctly spelled.

Original source here:
https://ccw.naturalis.nl/detail.php?id=17128&search_type=simple&name=italia

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/501250a4e07d081e0a13adadf1aa0500:83d7a037c10601f66ea493b421f8c56f8e6f6a4a6dad97bf9373d050a597b49a4

[2022-03-01 14:33] gbif-portal opened #3955 "Links to Global Register of Introduced and Invasive Species - United States of America (Contiguous) no longer show up"
**Links to Global Register of Introduced and Invasive Species - United States of America (Contiguous) no longer show up**

Links to Global Register of Introduced and Invasive Species - United States of America (Contiguous) no longer show up in GBIF backbone for species that had them until a week or so ago.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f80edc52981a448a684d7

[2022-03-01 16:31] ahahn-gbif commented on #3955
(via email from helpdesk, 1.3.22):

Many thanks for contacting us about this (https://github.com/gbif/portal-feedback/issues/3955).

The reason for this is that dataset that this specific record came from (https://www.gbif.org/species/160937834/verbatim from https://www.gbif.org/dataset/6b64ef7e-82f7-47a3-8ddb-ec6794ea07d6)  has been withdrawn by the initial publisher, as it is now published throu

[2022-03-01 21:11] gbif-portal opened #3956 "password"
**password**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e345dfedb0df95c89022a3a2ea33c4e3:924b07d03dc917166941043c79604914c4a0a92a9899f8c33ddbfb72709468c513521ea68beeeb765534e71a3b8a37c35c24248859c233bd51badb26f1f5c030)
System: Chrome 98.0.4758 / Windows 10.0.0
Referer: https://www.gbif.org/system-health
Window size: width 1746 - height 953
[API log](https://private-logs

[2022-03-02 00:11] dshorthouse commented on #3926
Looks like the occurrenceIDs have all been reverted, with braces removed. Can close this now.

[2022-03-02 08:35] #3926 closed, assigned to nobody

[2022-03-02 11:15] gbif-portal opened #3957 "Broken links to the old community site"
**Broken links to the old community site**

Was looking for names of receivers of GBIF badges and landed this page. Suggest links can be either removed or point to any curated online documents (the recipients).

-----

Github user: @ckotwn
User: [See in registry](https://www.gbif.org/api/feedback/user/8a77af75a6d89be3ab56f2271d7926f2:7905becac0d94620afe0c1c29b611a5483e0756637fa223e38278b45e46308db

[2022-03-02 12:17] gbif-portal opened #3958 "Verbatim page without information shown"
**Verbatim page without information shown**

When I visit a verbatim page for a species I can get to its parent, e.g. this genus, by hitting the tree navigation.

The verbatim tab then stays, though there is no verbatim data existing because the origin is VERBATIM_PARENT

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1241c4e632381a4b24612355f3e816e7:6a911a2b2ad31c511c461a1d

[2022-03-02 12:47] nonenmac commented on #3955
Although “Global Register of Introduced and Invasive Species - United States (Contiguous)”  is now showing up again in GBIF Backbone, all species that I have looked at so far show “Evidence of impact = No”  when a week ago many of them showed “Evidence of impact = Yes” as would be expected for invasive species.

It looks like the names of the terms and their values have changed in the database, so

[2022-03-02 12:51] ahahn-gbif commented on #3955
reopening: some configuration issue(s) pending

[2022-03-02 12:54] MortenHofft commented on #3958
It sounds like it should either flip to the main page. Or as we generally do; inform the user that they are on a page without content a la https://www.gbif.org/country/CN/participation (which you can only get to by tampering with the url or from a "dead" link since the tab isn't there)

[2022-03-02 13:34] ckotwn commented on #3913
Hi @ManonGros once you've done, please let me know so that I can inform the publisher to delete the dataset from the IPT. Thanks!

[2022-03-02 15:06] ahahn-gbif commented on #3955
Pending internal verification: the term "isInvasive" comes from the Species Profile extension (https://rs.gbif.org/extension/gbif/1.0/speciesprofile_2019-01-29.xml). Will need to check whether adding the extension to the source file configuration and mapping the value "invasive" without further qualifiers is all that is needed to revert to the previous functionality.

This relates to the backbone

[2022-03-03 01:01] gbif-portal opened #3959 "Fannyella Gray, 1872"
**Fannyella Gray, 1872**

Hi, this record from Botswana should be deleted, as Fannyella is a gorgonia (marine organism) and it is therefore not present in Botswana. I sent an email to the curators of the Tasmanian Museum and Art Gallery and they confirmed that there's been a mistake with this record.
Regards,
Luis Moliner Cachazo
PhD Candidate,
King's College London

-----

Github user: @lmoliner

[2022-03-03 08:28] gbif-portal opened #3960 "On events with no "primary link" the "add event" does not work."
**On events with no &quot;primary link&quot; the &quot;add event&quot; does not work.**

On events where there is neither a "primary link" or "secondary link" the "add event" .ics pops up with error message. We have had this issue before during a summer break and I seem to recall that Fede fixed it.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e02697cc7cc6b7c22121b0d2e1d5

[2022-03-03 11:07] ManonGros commented on #3913
Hi @ckotwn the dataset can now be deleted from the IPT (and the registry)

[2022-03-03 16:01] gbif-portal opened #3961 "genericName wrongly interpreted for higher ranks e.g Foraminifera"
**genericName wrongly interpreted for higher ranks e.g Foraminifera**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c0e33a58fae9e420fe2a843421926dba:68287d7d8eb8aa744cf87cdbfd1faddbd8655fff63caeff34558b3e89ad6557b978a5925501328b8920bfae57d19f1b43513d1cbb429d1de2142bc91bc41ca8a)
System: Safari 15.1.0 / Mac OS X 10.15.7
Referer: https://www.gbif.org/occurrence/1061190602
Win

[2022-03-03 16:25] gbif-portal opened #3962 ""Licence" should be "License"!"
**&quot;Licence&quot; should be &quot;License&quot;!**

In the right side of the first paragraph of the dataset page (e.g.
https://www.gbif.org/dataset/e3f878c9-d44d-419b-8b4d-4d4a755d8159), "Licence" should be "License"!
This typo is seen all the dataset pages.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c86d2034a3e15fd1e3f245138509252f:01f7ee4e30ffc0f56c560c49fe565ca6f

[2022-03-03 17:30] MattBlissett commented on #3962
Licence is the correct spelling. We follow the Oxford dictionary.

[2022-03-03 17:30] #3962 closed, assigned to nobody

[2022-03-03 18:44] kcopas commented on #3962
Actually, it’s UN style—but it’s still ‘licence’.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-03-04 00:07] sergbolshakov opened #3963 "98 pairs of accepted names of fungi with the same basionyms"
Hello!

I apologize if this issue has already been posted, I couldn't find it.

By chance I discovered that in the Backbone Taxonomy there are two accepted names of fungi with the same basionyms (i.e. homotypic synonyms).
I decided to see if there were more cases like this.

I downloaded [GBIF Backbone Taxonomy dataset](https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c) (source arc

[2022-03-05 11:13] gbif-portal opened #3964 "Columns collapsed"
**Columns collapsed**

Hi

I generated a larger dataset of occurrences than I expected and it appears that when I try and read it in to R, the columns aren't reading correctly, with some fields containing multiple values. Unfortunately the way they're collapsed means that R thinks there are different numbers of columns in the header and rows, so it poses a number of challenges when I try and tidy

[2022-03-05 11:15] gbif-portal opened #3965 "Typo / blog page"
**Typo / blog page**

Hi, this page contains a typo: https://data-blog.gbif.org/post/downloading-long-species-lists-on-gbif/

In the demo key, I think usage key should be spelt with a capital 'K' ie "useageKey" not "usagekey"?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/470985d38d650f22668af23e8f731f1c:35d63a179528027f144b8f6c56e9cae9eb9af8ebdb8ea337a955b3c4f2bb4ef81fbca

[2022-03-05 15:30] nonenmac commented on #3955
I've gone through several hundred non-native plant species that may be of concern in New York State and so far it appears that in all of them either:

degreeOfEstablishment = invasive (category D2) for most species for which "Evidence of impact" was formerly "Yes"
degreeOfEstablishment = established (category C3) for most species for which "Evidence of impact" was formerly "No"

These don't strict

[2022-03-05 15:46] nonenmac commented on #3955
A related matter is that "Recorded as invasive in x countries or islands" (below the map) is often incorrect since it (x) includes all countries or islands that list the species as introduced, whether or not it is actually listed as invasive in those places. Maybe it should say "Recorded as introduced in x countries or islands" or something like that.

[2022-03-06 03:55] Mesibov opened #3966 "Basionym relations incorrectly derived"
See
[https://github.com/gbif/portal-feedback/issues/3963](https://github.com/gbif/portal-feedback/issues/3963)
where a fungus specialist found 98 pairs of accepted fungus names attrubuted in each case to the same basionym.

This problem was attributed to a name-matching algorithm in a 2017 portal post,
[https://github.com/gbif/portal-feedback/issues/450](https://github.com/gbif/portal-feedback/iss

[2022-03-06 18:11] gbif-portal opened #3967 "The coordinate for this specimen seems to be in the water. I'm not sure if there is actually an island there but I wanted to flag it just in case!"
**The coordinate for this specimen seems to be in the water. I&#39;m not sure if there is actually an island there but I wanted to flag it just in case!**

-----

Github user: @ayress97
User: [See in registry](https://www.gbif.org/api/feedback/user/65ca7243fa3ee3975f6b4897c44d643f:1ad6881e705452d224958156f8cd3423c911ed62acdafb1c9131a19f57fc6d0e9749dca4ede1fcfd32fe99c116ad18ce7011681f4c13bd3e9b796d

[2022-03-07 09:11] timhirsch commented on #3962
In case of doubt on this - UN and UK spelling use licence for the noun, license for the verb.

[2022-03-07 09:28] ahahn-gbif commented on #3955
@asimpson-usgs, would you like to comment on the mapping options for degreeOfEstablishment and isInvasive?

Concerning the header of that section in GBIF.org taxon pages ("Recorded as invasive in x countries or islands"), I remember a discussion around exactly that point. It was the reason for the "basis of evidence" flag being introduced, but I need to check whether there was a good reason not to

[2022-03-07 12:36] timhirsch commented on #3955
Regarding the label on the taxon pages, this is something that has bugged me for a while and I am pretty sure there is no rationale for the use of 'invasive' here. Assuming that the number refers to countries/islands in which the species is included in the relevant GRIIS checklist, whether or not it is recorded as invasive, the label should certainly be 'Recorded as introduced ...' One thing just

[2022-03-07 13:19] asimpson-usgs commented on #3955
In defense of the usage of ‘isInvasive’ term and its associated controlled vocabulary, @Tim ***@***.***> and @dschigel<https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdschigel&data=04%7C01%7Casimpson%40usgs.gov%7C45b1ff3388d74ea25d8608da0037382d%7C0693b5ba4b184d7b9341f32f400a5494%7C0%7C0%7C637822534440003526%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzI

[2022-03-07 13:46] ahahn-gbif commented on #3955
Just to avoid confusion now:
(a) @asimpson-usgs: the three USGS checklists published under the ISSG will need the SpeciesProfile extension mapped and the term "isInvasive" supplied in order for the "evidence of impact" for invasiveness to show in the GBIF species pages, as agreed before. Once this is done, the "Yes" values for the relevant species will show up again. No further changes here, and n

[2022-03-07 13:50] dschigel commented on #3955
Thanks @ahahn-gbif, hope (a) is clear and will get fixed for proper display of the data. as for choice of workds for the (b), I would actually consult with @qgroom.

[2022-03-07 13:59] ahahn-gbif commented on #3955
Just for illustration of points (a) and (b), from https://www.gbif.org/species/2465346:
![image](https://user-images.githubusercontent.com/13435656/157048157-de748b19-47b8-44d6-ae34-6d0c7605cb22.png)

[2022-03-08 01:29] gbif-portal opened #3968 "North Pacific Pelagic Seabird Database"
**North Pacific Pelagic Seabird Database**

I was reviewing your data for Polysticta stelleri and notice that you do not seem to include the NPPSD. The data format is a bit old (Microsoft Access mdb) but, if you have someone to get it working for you, the data itself is a real asset for this region.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/00739745ea352090464c9c16f869

[2022-03-08 01:30] snow-raven commented on #3968
I meant to add the data URL: https://www.usgs.gov/centers/alaska-science-center/science/north-pacific-pelagic-seabird-database#overview

[2022-03-08 13:27] gbif-portal opened #3969 "Global Register of Introduced and Invasive Species - US (contiguous) & Alaska, US show the same number of occurences"
**Global Register of Introduced and Invasive Species - US (contiguous) &amp; Alaska, US show the same number of occurences**

Global Register of Introduced and Invasive Species - United States (Contiguous) and Global Register of Introduced and Invasive Species - Alaska, United States always show the same number of occurrences.  From what I can tell, both show the sum of the occurrences in the two

[2022-03-08 13:43] nonenmac commented on #3969
The text I see for the above example (Daphne mezereum) is:

RECORDED AS INVASIVE IN 2 COUNTRIES OR ISLANDS
Recorded as introduced in | According to | Evidence of impact | Occurrences in GBIF
United States of America | Global Register of Introduced and Invasive Species - United States (Contiguous) | No | 459 occurrences
United States of America | Global Register of Introduced and Invasive Species -

[2022-03-08 15:44] gbif-portal opened #3970 "Tobacco mosaic virus misclassified as plant"
**Tobacco mosaic virus misclassified as plant**

(user feedback via email to helpdesk, 8.3.22)

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/3f9e062169429daa4254280480c2fd46:8e19a0e0c3563229112d5c66ffa17b8eb25bae37f2c33a6ceaa39dd99d1431d039a6b22914a79ab0594a88fc57fef6c2c37ab78e79c5fac51bf053377652af34)
System: Firefox 97.0.0 / Windows 10.0.0
Referer: https://www.gbif.org/s

[2022-03-08 22:09] nonenmac commented on #3967
It looks like an error in the longitude.  The longitude printed on the herbarium sheet is -82.365383, while the longitude recorded in the occurrence data is -92.3654.  A longitude of -82.3654 would put it in Hernando County, Florida, where it was reportedly collected.

[2022-03-08 22:46] myrmoteras opened #3971 "missing figures"
in this treatment, the figures are missing

![image](https://user-images.githubusercontent.com/4609956/157338540-39e1769e-db52-4ccd-93a1-52fdd835ff8e.png)

https://www.gbif.org/species/193854188

there are two figures, a plate and a map, in the source https://treatment.plazi.org/id/03C36F2EFFFB347EFF11441DF6EF0C5F

[2022-03-09 05:03] MortenHofft commented on #3971
It also shows odd in the backbone version https://www.gbif.org/species/5219446/treatments

[2022-03-09 05:23] MortenHofft commented on #3969
This indeed looks like a mistake. It looks to me like the issue is a misunderstanding.
The way we generate this list is somewhat peculiar and somewhat fragile. We rely on the keywords provided in the published dataset. I've described details here https://github.com/gbif/portal16/issues/883

In this case the checklist about Alaska is labelled as being about all of US - this should be fixed in the d

[2022-03-09 10:03] ahahn-gbif commented on #3969
An oversight on my part, apologies - handling of these checklists is indeed a bit of a special case. Recommended change on the side of the contributing datasets: update the keywords
-	for Hawaii, to: country_US-HI
-	for Alaska, to: country_US-AK

For verification, we will also need to check that after the update, all three lists still show here: https://www.gbif.org/dataset/search?keyword=country_

[2022-03-09 11:57] MortenHofft commented on #3969
Please provide both keywords. For the country as well as the subdivision.
for Hawaii, to: `country_US` + `country_US-HI`
for Alaska, to: `country_US` + `country_US-AK`

We do not use the subdivision for anything at this point but to notify us NOT show an occurrence count (which would be for the country as a whole)

[2022-03-09 13:15] ahahn-gbif commented on #3969
Update verified and working as expected - thanks to all!

[2022-03-09 13:15] #3969 closed, assigned to nobody

[2022-03-09 14:12] ahahn-gbif commented on #3955
update: data and processing are now fixed for issue (a), with the Evidence of impact again interpreted and showing in the table on the species page. For issue (b), still waiting for confirmation on terminology to be used.

[2022-03-09 14:20] ahahn-gbif commented on #3954
The source dataset of the Catalogue of Life that is entry comes from ([CCW: Catalogue of Craneflies of the World](https://www.catalogueoflife.org/data/dataset/1005); https://www.catalogueoflife.org/data/taxon/8FFSW) appears to be spelled correctly. If it has recently been corrected there, we would expect the correction to make it into the next version of the taxonomic backbone.

[2022-03-09 14:34] nonenmac commented on #3969
Just a note that the numbers and place names are still misleading.  The number and list for "Global Register of Introduced and Invasive Species - United States (Contiguous)" still include all of the Alaska and Hawaii occurrences. It seems like US-contiguous should be treated like the Alaska and Hawaii lists and say "unknown".  Then there could be a United States item that would include the whole l

[2022-03-09 23:20] melodie-mcgeoch commented on #3955
Dmitry asked me to input here. I may be missing some of the nuances of the previous argument (and telling you what you no doubt already know), BUT: [b] in the screenshot above is cleary incorrect if [a] is correct. The two concepts are hierarchical in GRIIS - a species is invasive only if it is alien first. In the name GRIIS 'introduced' is synonymous with 'alien'. If a species has no "YES for isI

[2022-03-10 09:31] gbif-portal opened #3972 "term of use of species photos"
**term of use of species photos**

Dear Madam or Sir,

Our research group is developing a species genetic diversity database and a web application.

We consider showing an image for each species that is extracted from the species gallery from GBIF. May I ask can we do this and if so, what we should do to properly cite these images?

Thank you very much and I am looking forward to your help!

Best

[2022-03-10 10:18] ManonGros commented on #3964
Replied by email:

[2022-03-10 10:18] #3964 closed, assigned to ManonGros

[2022-03-10 12:50] gbif-portal opened #3973 "Incorrect clustering of records"
**Cluster, an experimental feature**

We encountered an interesting new clustering feature in one of the Dutch databases. Two occurrences are clustered, but probably because one occurrence from Germany lacks data on date & location. See https://www.gbif.org/occurrence/3128544409/cluster
Why are these specimens clustered, and where can I found more information about this feature?

-----

User: [See

[2022-03-10 12:57] MortenHofft commented on #3973
The process is described here

https://www.gbif.org/news/4U1dz8LygQvqIywiRIRpAU/new-data-clustering-feature-aims-to-improve-data-quality-and-reveal-cross-dataset-connections

https://data-blog.gbif.org/post/clustering-occurrences/

join the discussion here https://discourse.gbif.org/t/identifying-potentially-related-records-how-does-the-gbif-data-clustring-feature-work-gbif-data-blog/3083

[2022-03-10 13:21] ManonGros commented on #3973
In this case, it is because the catalogue number of [the SMF record](https://www.gbif.org/occurrence/207994187) (746) overlaps with the "other catalogue numbers" of the [NMR record](https://www.gbif.org/occurrence/3128544409) and the lack of country, date and coordinates in the SMF record makes it non-conflicting.

@timrobertson100 is there a way to specify that two records shouldn't be clustered?

[2022-03-10 13:38] asimpson-usgs commented on #3955
Thank you for chiming in, @melodie-mcgeoch. Clear usage of terms and their relationships is important here (and has not been universal in the invasive species science community).

While you are providing clear definitions, they are partly contradictory, and I had hoped you wouldn’t bring that last definition into the mix. Can’t we just leave it at this?
**“The two concepts are hierarchical in GRII

[2022-03-10 13:58] myrmoteras commented on #3971
@thomasstjerne it seems to continue:
* https://www.gbif.org/species/193892316
* https://www.gbif.org/species/193895083
may be @gsautter has something to add?

[2022-03-10 14:02] timrobertson100 commented on #3973
Thanks @ManonGros

It's tricky with sparsely populated records like this.

There's no current way to identify a specific record pair to ignore, but we could tighten the rules a bit - e.g. making it such that you need a match for either a date or location and not `non_conflicting` in both. That would mean to remove [this rule](https://github.com/gbif/pipelines/blob/dev/sdks/core/src/main/java/org/g

[2022-03-10 14:12] ManonGros commented on #3973
thanks @timrobertson100, yes it might be a good idea to removed the non-conflicting date and location rule. Now that I see this example, I think this rule doesn't enough give evidence to infer the cluster.
Let me know if/when you remove it (I will update the blogpost accordingly).

[2022-03-10 16:07] gbif-portal opened #3974 "backbone homonym issue: is Coleoptera, should be Orthoptera"
**backbone homonym issue: is Coleoptera, should be Orthoptera**

User feedback received via helpdesk, 8.3.22:

"I was looking for data on the cricket species "Nemobius interstitialis" on the GBIF site and encountered an important error.

The genus appears as accepted in two different Insecta orders, namely
Orthoptera - https://www.gbif.org/species/189932133
and
Coleoptera - https://www.gbif.org/sp

[2022-03-10 19:28] gbif-portal opened #3975 "links should be changed to open in _parent"
**links should be changed to open in _parent**

I'm not sure when this has changed, but I suspect it was when we changed headers on gbif.org. Either way the links do not open in a nice way if at all. We should change links to `target="_parent"`

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/cbc6d9370299de89b34d54652bf4978d:0774c9354aebbcda89a519316

[2022-03-10 19:35] #3975 closed, assigned to nobody

[2022-03-10 20:58] melodie-mcgeoch commented on #3955
I absolutely agree @asimpson-usgs that for our purpose - “The two concepts are hierarchical in GRIIS - a species is invasive only if it is alien first.”

The general definition that we now have from IPBES will prevail for better or worse. The two are not contradictory though - it simply depends on how one defines the species pool you are working with/considering. In GRIIS we are working only with

[2022-03-10 22:29] nonenmac commented on #3969
Maybe @asimpson-usgs can weigh in here.  As I noted yesterday, including all United States occurrences in the list and occurrence count for United States (Contiguous) doesn't seem right to met.  United States (Contiguous)  should be at the same level as Alaska and Hawaii.  The way this worked before this fix actually made more sense, even though is was confusing.

[2022-03-11 08:49] gbif-portal opened #3976 "suggestion to add add synonyms"
**suggestion to add add synonyms**

I suggest to add

Unio concinnuus
and Thalassites concinna

into the list of synonyms of Cardinia concinna.
See e.g. https://books.google.de/books?id=MuIbAAAAMAAJ&pg=PA217&lpg=PA217&dq=Thalassites+concinna+cardinia+concinna&source=bl&ots=qrmF4ng5Pj&sig=ACfU3U1MWLOESH1X2mRLxPBnSxOwx9bQ_w&hl=de&sa=X&ved=2ahUKEwiMn-OI1r32AhUWh_0HHbzTAJ0Q6AF6BAgMEAM#v=onepage&q=Thal

[2022-03-11 09:02] timrobertson100 commented on #3973
This has now been run in production and the records no longer cluster. This shows on the detail pages for the occurrences now, but it will take a little time before they disappear from the "is in cluster" search option. I've initiated a recrawl/reprocess for the two datasets involved, and that needs to complete for the search option to disappear.

Thanks for offering to update the blogpost @ManonG

[2022-03-11 09:10] ManonGros commented on #3973
Thanks Tim! I updated the blogpost (I originally put the link to this issue but I just changed it to point to the release note)

[2022-03-11 11:55] thomasstjerne commented on #3971
In order to render the treatments nicely, we rely on the [EOL MEDIA EXTENSION 1.0](http://rs.gbif.org/extension/eol/media_extension.xml) - it seems that this is not present here.

[2022-03-11 12:54] asimpson-usgs commented on #3969
@nonenmac , I think you are correct. The three datasets as submitted are sub-country level. I think I should generate (from the original [umbrella dataset](https://doi.org/10.5066/P95XL09Q)) a country level dataset that eliminates duplicates. I would retain the sublists as is, changing the metadata of the CONUS dataset to add the term `country_US-CONUS` (`country_US-AK` and `country-US-HI` are not

[2022-03-11 13:13] nonenmac commented on #3969
@asimpson-usgs , I think using CONUS would be confusing, as it normally refers to Continental US (contiguous/conterminous US + Alaska), Or is that what you intend for that list?

[2022-03-11 14:51] asimpson-usgs commented on #3969
Huh. I always thought CONUS did not include Alaska, but I see now the CO of CONUS is often continental. We have used L48 in our abbreviation (lower 48 states), so maybe that is an (inaccurate) option, `country_US-L48`?
GRIIS uses the term contiguous US, (while USGS prefers conterminous US and this article sums up why: [https://writingexplained.org/contiguous-vs-continuous-difference)](https://writ

[2022-03-11 17:18] gsautter commented on #3971
These two DwC-As are generated by the exact same code as all the others ... they contain the `media.txt` entry, and it has the treatments in it, just like with all the other DwC-As.
@thomasstjerne could you point me to what _exactly_ is different in these two cases, as compared to all the other Plazi supplied DwC-As? That would be vastly helpful, as I cannot seem to spot any technical differences.

[2022-03-14 10:44] thomasstjerne commented on #3971
Hi @gsautter
You are right, we somehow fail to read the `media.txt` properly - looking into it

[2022-03-14 11:48] gbif-portal opened #3977 "Data validator - reports issues about occurrence file but issue is with the event file"
**Data validator - reports issues about occurrence file but issue is with the event file**

This validation report shows "Record not uniquely identified" in the occurrence file section. When checking the data, the occurrenceIDs in the occurrence file are unique. However, the event file contains two rows with the same eventIDs. This is quite confusing.

It would be more helpful if the report showed