[2022-03-14 14:21] #3958 closed, assigned to thomasstjerne

[2022-03-14 14:44] #2247 closed

[2022-03-14 18:11] gsautter commented on #3971
@thomasstjerne thanks, curious to learn what you find.

[2022-03-16 09:05] dnoesgaard commented on #3957
Removed.

[2022-03-16 09:05] #3957 closed, assigned to nobody

[2022-03-16 09:29] jhnwllr commented on #3970
**GRIN Taxonomy** is a GBIF hosted dataset.

David Remsen (no longer works for GBIF) is listed as the contact. Seems like this will have to be an in house fix.
https://www.gbif.org/dataset/66dd0960-2d7d-46ee-a491-87b9adcfe7b1

[2022-03-16 12:57] ManonGros commented on #3972
The answer depends on the images you would like to use. I suggest to check the licenses associated with those images and use and cite them accordingly. You can find the license associated with an image by clicking on the occurrence associated with that image.
For example, the image for this occurrence: https://www.gbif.org/occurrence/3424333386 has an “all right reserved” license so you should con

[2022-03-16 12:57] #3972 closed, assigned to ManonGros

[2022-03-16 13:16] asimpson-usgs commented on #3969
@nonenmac  , I have explored how to create/generate a country level dataset from the three sub-country level datasets of the United States of America (conterminous US, Alaska, and Hawaii) and have concluded it is not trivial nor simply removing duplicates. This is because some species that are invasive in one dataset are native in in another, for example, the American bull frog (_Lithobates catesb

[2022-03-16 13:17] ManonGros commented on #3967
Contacted publishers by email.

[2022-03-16 13:51] ManonGros commented on #3942
The issue seems to have been solved but I wrote to the user to ask for confirmation.

[2022-03-16 14:07] ManonGros commented on #3953
It looks like a lot of them were occurrence dataset which were transformed into metadata datasets like this one: https://www.gbif.org/dataset/bc76c690-60a3-11de-a447-b8a03c50a862, except our safeguard prevented the deletion of occurrences.
I will remove occurrences for those cases.

[2022-03-16 15:21] WPCleaner opened #3978 "Link to a page knowing only its TSN (taxonomic serial number) ?"
With the previous site, it was possible to access a page knowing only the TSN : for example, http://www.cbif.gc.ca/acp/fra/siti/regarder?tsn=180092 would point to _Homo sapiens_ Linnaeus, 1758, the equivalent of https://www.gbif.org/fr/species/2436436

I couldn't find a way to do the same with the new site : is it possible ? if not, is it possible to add this feature ?

Use case: on French Wikiped

[2022-03-16 16:03] gbif-portal opened #3979 "Validation page error message is too generic when not logged in"
**Validation page error message is too generic when not logged in**

When not logged in, a validation results page says "The system is currently not able to process your request", rather than prompting for login.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f59b93fde244952325c88686dbc53020:65d9554db2e285d3a9d9e79f9be7a117fa63e2bd6fa2e84df4d02f2f4794f247c80ada2e738209ae647

[2022-03-17 01:34] Mesibov opened #3980 "Dataset summary files not correctly reporting number of records"
From [this page](https://www.gbif.org/dataset/search?q=) GBIF users can download summary files of datasets: either all datasets, or occurrence, checklist or sampling event separately.

Both the "all" and "occurrence" dataset summary files incorrectly report 0 records for thousands of datasets. Today the "all" download lists 2897 occurrence datasets with zero records. All of the ones I've checked i

[2022-03-17 04:27] MortenHofft commented on #3980
This sounds like the same as https://github.com/gbif/portal-feedback/issues/3458

[2022-03-17 04:35] Mesibov commented on #3980
@MortenHofft  Agree, it looks the same. How else can GBIF data users get current numbers of records in blocks of datasets, without checking datasets individually?

[2022-03-17 05:09] MortenHofft commented on #3978
It sounds like a duplicate of this issue/feature request
https://github.com/gbif/portal16/issues/1453

We have an undocumented similar feature:
https://www.gbif.org/species/first?sourceId=180092&datasetKey=9ca92552-f23a-41a8-a140-01abaa31c931

The datasetKey is the ITIS dataset. And the sourceID is whatever the ITIS dataset use as their ID. If there are multiple results then it will show the searc

[2022-03-17 05:22] #3978 closed, assigned to nobody

[2022-03-17 08:09] MortenHofft commented on #3978
I've added a target parameter. It will redirect to the backbone version of the taxon if it has a mapping. Else it will show the version from the ITIS dataset
https://www.gbif.org/species/first?sourceId=180092&datasetKey=9ca92552-f23a-41a8-a140-01abaa31c931&target=backbone

It should be available online in about 5 minutes

[2022-03-17 09:38] gbif-portal opened #3981 "plants of Europe"
**plants of Europe**

I would like to retrieve a dataset of all plants recorded for Europe. Apparently such a dataset doesn't exist among the GBIF datasets. I was wondering if there is a way to compile such data from the species search? I downloaded all occurrence records of Tracheophyta in Europe, a 55GB dataset that R can't seem to handle (at least on my laptop), and the rgbif package also doesn

[2022-03-17 11:15] #3942 closed, assigned to ManonGros

[2022-03-17 12:09] MortenHofft commented on #3981
https://www.gbif.org/occurrence/download/0184485-210914110416597
is a download of the occurrences

Perhaps download the species list instead?
https://www.gbif.org/occurrence/download?continent=EUROPE&taxon_key=7707728&occurrence_status=present
<img width="1438" alt="Screenshot 2022-03-17 at 13 08 58" src="https://user-images.githubusercontent.com/6759267/158805561-f44a5015-8ddb-4466-bb70-9c04bc83f

[2022-03-17 12:31] thomasstjerne commented on #1827
Superseded by BOLD data in GBIF and BOLD identifiers in wikidata (identifiers section at the bottom of species pages)

[2022-03-17 12:31] #1827 closed

[2022-03-17 12:46] ManonGros commented on #3956
looks like a mistake

[2022-03-17 12:46] #3956 closed, assigned to nobody

[2022-03-17 12:53] #3979 closed, assigned to thomasstjerne

[2022-03-17 13:34] thomasstjerne commented on #3963
This looks like a bug in the source dataset [Species Fungorum for Col+](https://www.checklistbank.org/dataset/2073/names?TAXON_ID=x6AS&facet=rank&facet=issue&facet=status&facet=nomStatus&facet=nameType&facet=field&facet=authorship&facet=authorshipYear&facet=extinct&facet=environment&facet=origin&limit=50&offset=0&q=erikssonii&sortBy=taxonomic)
It looks [correct in Species Fungorum](http://www.spec

[2022-03-17 14:16] MortenHofft commented on #3981
User answered by email

[2022-03-17 14:16] #3981 closed, assigned to nobody

[2022-03-17 17:03] mdoering commented on #3963
I would like to keep this behavior in the backbone algorithm to not change the primary source. We could consider to flag a new issue HOMOTYPIC_GROUPING_SKIPPED or alike for such problems though or maybe change their status to `doubtful`? There are also other cases ([29843 in total](https://hosted-datasets.gbif.org/datasets/backbone/current/homotypic-groups-skipped.log)) when the homotypic grouping

[2022-03-17 17:08] mdoering commented on #3963
@yroskov [20.576](https://hosted-datasets.gbif.org/datasets/backbone/current/homotypic-groups-skipped-COL.log) of these names are from COL

[2022-03-17 17:22] mdoering commented on #3966
@Mesibov please see my replies in the original issue #3963. It is primarily a source problem and the behaviour desired. But I fully agree there is room for improvement...

[2022-03-17 17:51] yroskov commented on #3963
Forwarded to Paul

[2022-03-17 19:31] Mesibov commented on #3966
@mdoering, note that the basionym cannot have been published after the new name was published. In the example I cite the basionym was published in 1906, so the 4 new names from 1903, 1904, 1905 and 1905 should be excluded from the derived relationship, and the 1906 one needs checking. This could be used as a check on the source; if the source fails this test, there's a problem there.

[2022-03-18 05:29] mdoering commented on #3966
No, in the example you have given we don't know the year of publication of the specific combination - there is no requirement to do so in zoology. We only know the year of the _basionyms_. If those authorships are correct then all those different years refer to different basionyms, not the Allotheca one from 1906. It seems the basionym detection allows for some fuzziness in the year, I don't remem

[2022-03-18 05:35] mdoering commented on #3963
@yroskov It is now correct in Species Fungorum - we either need a new export from Paul or the last export was wrong or badly converted into ColDP? Maybe @gdower can check the original data and verify? Note that there are also many [other similar issues](https://hosted-datasets.gbif.org/datasets/backbone/current/homotypic-groups-skipped-COL.log) from other sources in COL, not just IF.

[2022-03-18 06:51] Mesibov commented on #3966
@mdoering, As a zoological taxonomist I'm quite well aware that new combinations don't have dates in their formatting. But I'm still confused. Taking Listrognathus annulipes as an example, the backbone attaches it by taxonID 1306697 in Reference.tsv to

Cameron, P. (1904) Descriptions of new species of aculeate and parasitic Hymenoptera from northern India.: Annals and Magazine of Natural History.

[2022-03-18 08:25] sergbolshakov commented on #3963
@mdoering, @yroskov, @thomasstjerne
Here is a complete list of these taxa.
[Backbone_Fungi_issued.csv](https://github.com/gbif/portal-feedback/files/8302627/Backbone_Fungi_issued.csv)

I checked the Species Fungorum Plus archive https://www.checklistbank.org/dataset/2073 from Checklistbank - it has the same problem - two accepted names each with the same basionyms.

I also checked these names agai

[2022-03-18 08:50] thomasstjerne commented on #3963
Thanks @sergbolshakov !

I have used the Index Fungorum API quite a bit, but never found a way to crawl the full dataset. There is a MaxNumber param (limit), but no offset. Have you found some work around on this that you would be willing to share?

[2022-03-18 08:53] mdoering commented on #3966
Yes, as I said above: I think the basionym detection allows for some uncertainty in years and I guess it would be better to remove that.

In a side note, the references are wrongly attached. They are the publication of the _original name_, not the recombination, and should only be present with the basionym. If the recombination was never published there should be no reference. But this is probably

[2022-03-18 09:01] mdoering commented on #3966
I've created https://github.com/tdwg/dwc/issues/405

[2022-03-18 10:52] sergbolshakov commented on #3963
@thomasstjerne
To download the entire Index Fungorum database, I used R packages: taxize to access the API, furrr to parallize queries, and memoise to cache results in case I had problems and had to start over.
I used the query function by ID, and queried all the numbers from 1 to 900000 in a row.
Here I've published the code as an example.
https://gist.github.com/sergbolshakov/f0f92aab0def89535a2

[2022-03-18 15:03] myrmoteras opened #3982 "treatments not complete: https://www.gbif.org/species/193383510"
In this treatment in GBIF, https://www.gbif.org/species/193383510, only part of the treatment is shown (see [source:](https://treatment.plazi.org/id/CA74DB9BD4CCA365FAC9FE2A9F2A4602) that is available in TB and the original publication.

![image](https://user-images.githubusercontent.com/4609956/159028101-f6f24ce8-b34b-42b7-a661-0031d712f164.png)

Could this be because of the types of the subSubSe

[2022-03-18 15:20] yroskov commented on #3963
Paul replied, 2022-03-18:

[2022-03-18 16:41] gbif-portal opened #3983 "Mapping not completing due to basisofRecord"
**Mapping not completing due to basisofRecord**

I am trying to upload an occurrence data set, but when mapping to the DWC the BasisofRecord seem to 'block'. I have tried including it in the file, and also deleting it from the file and using the predefined vocabulary instead. None of those worked. Any tips would be helpful. Thank you in advance. Regards, Ida

-----

Github user: @IBDJ
User: [See i

[2022-03-19 08:35] gbif-portal opened #3984 "Download Options: SIMPLE?"
**Download Options: SIMPLE?**

From a recent interview with a former BIFA participant, one said he couldn't find a format easy to use with Excel.

This makes me wonder, isn't there a "SIMPLE" option? Did he even bother to click the question mark?

For an average user, who has only heard of GBIF and know nothing about text delimiter or TDWG and just want to get a quick list in Excel, perhaps the Do

[2022-03-19 08:43] ckotwn commented on #3984
This is somewhat related to https://github.com/gbif/portal-feedback/issues/574 regarding using the download in Excel.

[2022-03-21 08:27] ManonGros commented on #3983
Hi @IBDJ, could you share the dataset that you are trying to publish? If you would rather not upload it to GitHub, you are very welcome to send it to heldpesk@gbif.org.

[2022-03-21 08:39] WPCleaner commented on #3978
Thanks a lot @MortenHofft  ! We'll see how we can use it on French Wikipedia !

[2022-03-21 09:02] thomasstjerne commented on #3982
Duplicate of https://github.com/gbif/checklistbank/issues/215 (failure to add EOL media extension to the database)

[2022-03-21 09:02] #3982 closed, assigned to thomasstjerne

[2022-03-21 09:05] raynoryang commented on #3972
Thank you very much for your help!

[2022-03-21 10:09] ibdj commented on #3983
Hi @ManonGros Sure. Of course. I’ll do one or the other when I get to the office. Thank you in advance.

[2022-03-21 14:49] gbif-portal opened #3985 "Affilation change"
**Affilation change**

Please update the affliation for Carlos to [USAID - Global Health Security Division](USAID - Global Health Security Division ) as a Senior Data Advisor

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/8bcdd839604fe93c76417f740b751711:097d2aae235bb8ba1e9f38f477a4560340c79a53d604fed4a07e78cb2a806a3ae298ddbd2b3e401dd25c59db2ea1befb40

[2022-03-21 14:50] dschigel commented on #3985
[https://www.usaid.gov/global-health/health-areas/global-health-security](url)

[2022-03-22 07:52] rukayaj opened #3986 "UiO Vascular plant herbarium dataset not updating on portal"
Our vascular plant herbarium dataset (https://www.gbif.org/dataset/e45c7d91-81c6-4455-86e3-2965a5739b1f) doesn't seem to be showing updates any more on the portal, and I'm not entirely sure why.

The most recent change was made last night, to update the data published in identificationqualifier, and add verbatimidentification, and identificationremarks as new fields.

This record https://www.gbif.

[2022-03-23 08:04] gbif-portal opened #3987 "I am trying to validate a CSV file Checklist of birds without success.What would be the possible reasons for this/"
**I am trying to validate a CSV file Checklist of birds without success.What would be the possible reasons for this/**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/8913c22ed68a6e48c6d6b3a5c1ddb178:bf7923e1783aa17b95bebe30fc0c43cf172410a887ae6e64ad7a556f8e85092e20b62e994613c0e5394f953052a9719c150f4450aaaa18c74d909a1bb7e12cfb)
System: Chrome 99.0.4844 / Windows 10.0.0
Refer

[2022-03-23 09:15] dnoesgaard commented on #3985
Done. Let's not make a habit of trying to keep all details in old news items current. They are intended to be accurate at the time they are published.

[2022-03-23 09:25] #3985 closed, assigned to nobody

[2022-03-23 11:51] mdoering commented on #3596
We wont be able to include deleted taxa in the species/match, that would mess up results as many of the deletions were bad duplicates/homonyms. Sorry, that won't be possible.

[2022-03-23 12:40] ahahn-gbif commented on #3986
I get the same effect; scheduling > 7 days after the last successful run according to the [ingestion history](https://registry.gbif.org/dataset/e45c7d91-81c6-4455-86e3-2965a5739b1f/ingestion-history). The [logs](https://logs.gbif.org/app/discover#/?_g=(time:(from:now-7d,mode:quick,to:now))&_a=(columns:!(level,datasetKey,service,logger_name,message),filters:!(('$state':(store:appState),meta:(alias:

[2022-03-23 12:59] MattBlissett commented on #3986
Sorry, it was stuck for some (unclear) reason. I've aborted the stuck ingestion and triggered a new one, which is running now.

The DWCA has validated, so I'm fairly sure this will succeed.

[2022-03-23 12:59] #3986 closed, assigned to MattBlissett

[2022-03-23 13:01] rukayaj commented on #3986
Great! Thanks :)

[2022-03-24 08:28] davidorme commented on #3596
Thanks very much for the update and clarification - very useful to know what is and isn't possible!

[2022-03-24 10:25] muttcg commented on #3987
Hi! Could you share a link to the validation/ID/or the file name you uploaded?

[2022-03-25 12:42] ibdj commented on #3983
Hi @ManonGros

I just sendt an email for you to helpdesk@gbif.org. I tried to send et earlier via the adresse you wrote, but there was a spelling error that I didn't see :)

[2022-03-25 12:52] ibdj commented on #3983
Hi again @ManonGros Apparently the file is too big to send. I have tried makeing you a link: https://naturinstitut.sharepoint.com/:x:/s/FloraofGreenland/EePqdonunXtFhooX4amS48UBcihnVqADaLZLfmaSO9fNXw?email=mgrosjean%40gbif.org&e=VZVFY7

Let me know if this works or if someone else needs access.

[2022-03-25 14:19] ManonGros commented on #3983
Thanks @IBDJ so sorry about the spelling mistake! I was able to access the file but I don't think I will have time to check it today. I will get back to you once I had the chance to work on it.

[2022-03-25 23:22] gbif-portal opened #3988 "Two species appear to be accidentally merged"
**Two species appear to be accidentally merged**

The New World paper wasp Polistes testaceicolor lives in South America. However, on GBIF, the distribution also is shown as including most of South East Asia. This appears to be because P. testaceicolor is listed in GBIF as a synonym of Vespa analis, which is a hornet. These are visually quite different species. It seems like this might be an accid

[2022-03-25 23:39] gbif-portal opened #3989 "Broken download"
**Broken download**

The download as seen on  https://www.gbif.org/occurrence/download/0194530-210914110416597 is broken (tried twice). i suspect my species list is too long

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/83c74281a45b5ea399caa46bff6e62c5:7656139862dd477b8448c33bf789db07a4f419cb32d8b5473dddf1480af62c71be999a84b68a3a9a28b7954ca5497c48c1e12ae9421895e562e0522a6b

[2022-03-26 01:37] nicheinvestmentshotmailcom opened #3990 "GBIF : GEOREFRENCED RECORDS includes occurrence records that have location of the preserved specimen"
Citizen scientists users of the GBIF expect that the GEOREFERENCED RECORDS contain the location that a mollusc was found not the location of the preserved specimen. As in the case of Monetaria caputserpentis (Linnaeus, 1758), which is a cowrie mollusc that cannot be found at Alice Springs. Obviously the preserved specimen is in an institution at Alice Springs. Any chance this could be rectified.
<

[2022-03-26 08:02] gbif-portal opened #3991 "Fewer clicks to source SH pages and display of parent taxon for SH"
**Fewer clicks to source SH pages and display of parent taxon for SH**

Hi Thomas,

I would like to check a few things in an exploratory manner.

While preparing a GBIF slide set for a talk to mycologists in Japan, of course I wanted to show a GBIF to UNITE connection.

1. I pick a polypore genus https://www.gbif.org/species/2519217
2. Scroll down to click the thrid SH from the top, it clicks (but

[2022-03-26 12:16] MattBlissett commented on #3989
Replied by email (equals predicate on "1900,2022" is the problem).

[2022-03-26 12:16] #3989 closed, assigned to nobody

[2022-03-26 15:03] ibdj commented on #3983
No problem :)
No, I didn't expect that, thank you in advance. Just let me know when you have had the time to look at it.

[2022-03-26 20:30] #3171 closed

[2022-03-27 12:31] gbif-portal opened #3992 "Typo in Authority"
**Typo in Authority**

The authority for genus Cryptosophia is Santis, rather than "Sasntis".

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/cf9f572b692d426d627fd2b44c8d7fec:2c2696cb4d64035b51e4bd9623a9aa40fa1b9c670d5cf9d219860ef5967165a7903c3a310584413c40f494190828fc7e7334491f898a23c981dfae441c5ed1ef)
System: Firefox 98.0.0 / Linux 0.0.0
Referer: https://www.gbif.org/speci

[2022-03-28 08:23] myrmoteras opened #3993 "missing sub section of treatments from Plazi"
in this treatment, the subsection description is missing and the diagnosis is complemented with the caption of the figure in  article.
Also the taxonomic name seems to be mixed up.

https://www.gbif.org/species/194257701

https://treatment.plazi.org/GgServer/html/5AF2FA6B54FB5F259E0A0C499A6FFADF

https://africaninvertebrates.pensoft.net/article/76309/list/7/

![image](https://user-images.githubuse

[2022-03-28 10:32] gbif-portal opened #3994 "Backbone dataset suggestion for Cycadopsida"
**Backbone dataset suggestion for Cycadopsida**

Recommended dataset for anything cycad related: https://www.cycadlist.org/. Dataset of manageable size, maintained by an active community.

Suggestion for improvement to overcome current contradictions and limitations in the group (via helpdesk, 24./27.3.22)

--
Selected issues with the current taxonomy:
- [_Encephalartos katzeri_ J.Schust.](https:/

[2022-03-28 10:48] mdoering commented on #3994
This is already the source dataset in [COL](https://www.catalogueoflife.org/data/dataset/1163)!
The latest data is from 2019. @yroskov & @gdower maybe we can add that to the list of needed imports?

[Encephalartos katzeri](https://www.catalogueoflife.org/data/search?facet=rank&facet=issue&facet=status&facet=nomStatus&facet=nameType&facet=field&facet=authorship&facet=extinct&facet=environment&limit

[2022-03-28 12:43] gbif-portal opened #3995 "Dates"
**Dates**

please update the dates to May according to https://www.nhm.uio.no/english/research/projects/biodata/activities/2022-yerevan.html

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/b59db83379d57e86109bae16c39e53ad:88597c2afb46a257b196cfb621a7512963c907b5e935571625f8f127bb1403e6c950d14a96bf011f7a44f1edecd1b5d3918eb11e0efebf79fe96c25325b1f28e)
Sy

[2022-03-29 06:42] gbif-portal opened #3996 "Change password"
**Change password**

Hi,

I accidentaly published my password on github. How can I reset it please?

Thank you

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/eb4f9f836b17ad8a529f85e29ea0188f:d0f68bc7cd5e33a7b3c4cfebf7fcbccfc607521fa14613f07612146f0b8fe33a074f7c0450bfc02091ed97bd12f4a27575a6f81628aaff7fe8dbe56e2f3fc3c5)
System: Firefox 98.0.0 / Ubuntu 0.0.0
Referer: https://

[2022-03-29 08:09] gbif-portal opened #3997 "Coordinate flagged as invalid: Seems to be ok"
**Coordinate flagged as invalid: Seems to be ok**

In this dateset, a number of coordinates are flagged as invalid. The coordinates seem to be okay and when copied, they map correctly. Please check.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7ac88f7911de3c586c5abeea3af85ac9:4b96a15bf38e5b89ffd69f52624e7a279753ead9a31188d6001bd8e0cfb754c8749e174fd705d1c82ad97417b55e20225

[2022-03-29 09:22] MattBlissett commented on #3996
Replied by email.

[2022-03-29 09:22] #3996 closed, assigned to nobody

[2022-03-29 09:38] gbif-portal opened #3998 "Good afternoon. Writing from Kenya. I am trying to validate a dataset but it appears the data validator tool has issues. I upload the file but it seems that the tool doesn't respond. Kindly assist."
**Good afternoon. Writing from Kenya. I am trying to validate a dataset but it appears the data validator tool has issues. I upload the file but it seems that the tool doesn&#39;t respond. Kindly assist.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/ad662aecbb59d4b96b41abe18118acb4:4007a91e1598094d7a3f943e3faa663756a2c6d14b0171a384eefbfd5e0382e18ca4f478e2fad01ff0279391cf

[2022-03-29 11:03] gbif-portal opened #3999 "Oulema rufocyanea is a valid species and not a synonym of O. duftschmidi"
**Oulema rufocyanea is a valid species and not a synonym of O. duftschmidi**

Detailed discussion in this paper:
https://www.researchgate.net/publication/277567300_Revision_of_western_Palaearctic_species_of_the_Oulema_melanopus_group_with_description_of_two_new_species_from_Europe_Coleoptera_Chrysomelidae_Criocerinae

Quote from above publication:
"COXʼs (1995) opinion that both O. rufocyanea and

[2022-03-29 18:05] gbif-portal opened #4000 "search contains"
**search contains**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/e93e808c5b86c7389d680a1772e617fc:b66d7e7d181d36207c9e9c234f420fe3e4d9eb235b841b0bb57f09f2c84c2229fe4e3c0a0dcf2583667ba861c308bffac72fae08edd672fb9c828c4ac89bc4fc)
System: Chrome 99.0.4844 / Windows 10.0.0
Referer: https://www.gbif.org/
Window size: width 1249 - height 666
[API log](https://private-logs.gbif.

[2022-03-29 18:09] jfong commented on #4000
How do I search for Locality contains "tomales bay"?  Apologies if this is the wrong place for this. I thought I was searching for help.

[2022-03-30 03:53] gbif-portal opened #4001 "Safe to delete the dataset from IPT if it is marked as deleted on GBIF.org?"
**Safe to delete the dataset from IPT if it is marked as deleted on GBIF.org?**

As title, and, when deleting, should the data manager use `Delete from the IPT and GBIF.org` or `Delete from the IPT only (orphan)`?

-----

Github user: @ckotwn
User: [See in registry](https://www.gbif.org/api/feedback/user/8585eb516e088cd0b21186b5be590caf:01a7302e2d9d897b7f6776d2a6783d73c7dac442fffa8444cbf710aa449e2

[2022-03-30 06:57] ManonGros commented on #4001
Hi @ckotwn if the dataset is already deleted on GBIF.org, I would recommend to use `Delete from the IPT only (orphan)`. This will avoid any registry issue.

[2022-03-30 07:36] ckotwn commented on #3913
Tried deleting https://www.gbif.org/dataset/14d71780-b34f-4fbb-9545-a73e3f31e439 from the IPT. First we chose `Delete from the IPT and GBIF.org`, reported error. Then we chose `Delete from the IPT (orphan) successfully. Why the first error, please?

[2022-03-30 07:46] #4001 closed, assigned to ckotwn

[2022-03-30 07:49] ManonGros commented on #3913
@ckotwn it is my fault, sorry, I had deleted the dataset in the registry already. I should have told you to only delete the dataset in the IPT. When a dataset is already deleted in the registry and the IPT is trying to delete (again), it generates an error.
Again, I am sorry for the confusion.

[2022-03-30 07:49] #3913 closed, assigned to ckotwn

[2022-03-30 08:32] gbif-portal opened #4002 "IPT problems with decimal degrees"
**IPT problems with decimal degrees**

When typing decimal degrees in the IPT v2.5.5, in section section Geographical Coverage, it often starts changing my value into something like a floating point number format. In dataset https://www.gbif.org/dataset/9d02b439-aa5c-4c22-b1d9-d27fbde9e3ee I gave up trying for the East border (4.36611), I was not able able to enter a normal decimal value with 5 de

[2022-03-30 09:21] akristensen commented on #3995
Thanks, dates are fixed now but had to unpublish and issue new event so it could sync to the outlook event calendar.
NEW URL is : https://www.gbif.org/event/43qpwu3TvTdePBfDJHRh7J/biodata-course-on-data-skills-in-biodiversity-education-and-research-in-dilijan-armenia

[2022-03-30 09:21] #3995 closed, assigned to akristensen

[2022-03-30 11:54] ibdj commented on #3983
Hi @ManonGros Do you have any kind of time frame as to when you/someone might get the time to look at my issue? I am just eager to a move on it :)

[2022-03-30 12:47] ManonGros commented on #3983
Hi @IBDJ my apologies for the delay, I will look at it today

[2022-03-30 13:01] ManonGros commented on #3983
Hi again @IBDJ, I published your data on our test system: https://www.gbif-uat.org/occurrence/search?dataset_key=b7bfc3d4-de5e-4e8a-b4a8-bf2689792c7d
In order to do so:
* I used the predefined vocabulary in the IPT for the basis of record
* I deleted one of the records with the occurrenceID `113`. I think the issue with generating the archive had to do with the duplicated occurrenceID (`113`). As

[2022-03-30 14:06] ManonGros commented on #4000
Hi @jfong
If I understand correctly, you are looking for the occurrence records for which the locality contains "tomales bay"?
The easiest would be to generate a download using our download API and the `like` predicate.

I generated one for you using the following predicate (=filter):
[code]
You can access the download here: https://doi.org/10.15468/dl.2uyyym
More information about our download AP

[2022-03-31 00:27] jfong commented on #4000
Hi Marie,

This is very helpful, thank you. I was hoping it would be easier to
search with the web interface, but it's good to know that these options
are available.

Best regards,
Jon

*Jon D. Fong*
Curatorial Assistant / Programmer
Dept. of Ichthyology
California Academy of Sciences
p. 415.379.5280
***@***.***
www.calacademy.org

55 Music Concourse Drive
Golden Gate Park
San Francisco, CA 94118

[2022-03-31 06:45] timhirsch commented on #4000
Jumping in as a busybody observer here, but you can also use the free text box at the top of the occurrence search filters, and https://www.gbif.org/occurrence/search?offset=120&q=tomales&occurrence_status=present gives a pretty good approximation.

[2022-03-31 07:13] ManonGros commented on #4000
@timhirsch yes but you cannot download data with the free text search

[2022-03-31 07:25] timhirsch commented on #4000
Good point @ManonGros - I will stop being a busybody.

[2022-03-31 07:31] #4000 closed, assigned to ManonGros

[2022-03-31 08:43] thomasstjerne commented on #3993
The main issue here is the missing EOL extension that we use to represent treatments in the UI - see https://github.com/gbif/checklistbank/issues/215

In your screenshot the name indeed looks odd - but when I follow the link https://www.gbif.org/species/194257701 it displays correct. Can you please check if the name still looks odd?

[2022-03-31 09:03] thomasstjerne commented on #3991
We should ask Kessy to include the SH link in the `http://purl.org/dc/terms/references` field in their export.
If there are urls for the taxa in that field, the "reference taxon" tab will link out:

![Screenshot at Mar 31 10-55-47](https://user-images.githubusercontent.com/1666484/161017493-468cd941-e8fa-4f43-a567-c3f7bd432d5f.png)

See this BOLD taxon:
https://www.gbif.org/species/10400411
If the

[2022-03-31 09:07] dschigel commented on #3991
Let's ask @kessy then!

[2022-03-31 09:15] kessya commented on #3991
@dschigel and @thomasstjerne I wasn't really aware of the http://purl.org/dc/terms/references option. I'll try to update the resource as soon as possible. The standard format of the SH link is https://unite.ut.ee/sh/<sh_code> (e.g. [https://unite.ut.ee/sh/SH1541656.08FU](https://unite.ut.ee/sh/SH1541656.08FU)).

[2022-03-31 20:09] gbif-portal opened #4003 "Grammar and stye suggestions"
**Grammar and stye suggestions**

I suggest "But the simplicity of this standard" in place of "But this simplicity of this standard" in the first paragraph.

I suggest "has significant limitations when it comes to" in place of "has come with significant limitations when it comes to" in the first paragraph.

-----

Github user: @tucotuco
User: [See in registry](https://www.gbif.org/api/feedback/use

[2022-04-01 11:46] #4003 closed, assigned to kcopas

[2022-04-01 13:08] kessya commented on #3991
I've now updated the uNITE dataset. Also, I discovered that the example BIN (https://www.gbif.org/species/10400411) and SH (https://www.gbif.org/species/151660018) pages differ by their source type - BIN page comes from GBIF backbone taxonomy while SH page from the UNITE dataset and not GBIF backbone taxonomy. You should click on "VIEW ON GBIF BACKBONE" button to arrive to the corresponding SH pag

[2022-04-01 13:18] thomasstjerne commented on #3991
Thanks @kessya - yes the `parentNameUsageID` will await the next backbone build in GBIF.
Interestingly, the references tab link got updated through your update immediately

[2022-04-01 13:29] dschigel commented on #3991
Wow this is amanzing, thanks for fixing so fast!

[2022-04-02 00:17] EstebanMH-SiB commented on #3998
I know that there is not a lot of context in this issue, but I think the problem is when you upload your data to the data validator, it only shows a blank page:
![image](https://user-images.githubusercontent.com/63795703/161356183-80a9177b-89a3-4800-b6df-6b744f05bae4.png)

You need to click the Validation Reports tab and now you can see the result:
![image](https://user-images.githubusercontent.co

[2022-04-02 15:02] dgasl opened #4004 "bug: event_date filtered downloads not working"
[System health](https://www.gbif.org/system-health) page says "_all systems operational_", but when I try a download some data filtered by event date, I get this error message (red toast message in bottom right corner):
"_The system is currently not able to process your request. Try to refresh the page and please report the issue if it continues._"
Same message for both Simple CSV or Darwincore fo

[2022-04-04 13:51] CecSve commented on #3992
The typo appears to have been corrected in the Catalogue of Life and should be updated with the next backbone update.

[2022-04-04 14:42] CecSve commented on #3990
Data publishers have been contacted and asked to rectify the error.

[2022-04-05 07:12] myrmoteras opened #4005 "untangling Camellia sinensis Linnaeus, 1762"
I am trying to untangle the doubtful species Camellia sinensis Linnaeus, 1762

https://www.gbif.org/species/11019971

when I am looking at the source: https://www.gbif.org/dataset/f104b001-83c7-467b-89b1-91ff76779234 it refer to  https://tb.plazi.org/GgServer/summary/36BCD01888A87C83A7B68C434FDB40AC  and in fact it should resolve to https://tb.plazi.org/GgServer/html/374D209F13CEFFD1D0FB7D5F3C379A

[2022-04-05 07:30] gbif-portal opened #4006 "Not urgent print of primary image / top picture not visible on PDF / prints"
**Not urgent print of primary image / top picture not visible on PDF / prints**

In admin we sometimes wish to print pages or PDF pages directly from the website, the top image / primary image is a blank box. Can we somehow make this printable?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/dfb0673ee438c688ac317d33d2793fc3:01ec504f5cc0ec1d29a8f63c349c4b6e5a30249f43ad761af43

[2022-04-05 08:59] gbif-portal opened #4007 "Download resource list?"
**Download resource list?**

On the Resources GBIF pages I can select (for example) all the peer-reviewed journal articles published in calendar year 2021 that have been identified by GBIF as utilising GBIF-mediated data.

There are 2854 results as of today, presented  20 results per page. Scraping from or transcribing from 140 webpages is not a practical option.

Are there download options?

----

[2022-04-05 10:02] #3960 closed, assigned to fmendezh

[2022-04-05 10:33] MortenHofft commented on #4007
There is no download option, but there is an API https://www.gbif.org/developer/literature - let me know if you aren't sure how to use an API to get the data you need.

[2022-04-05 10:35] #4007 closed, assigned to nobody

[2022-04-05 10:40] gbif-portal opened #4008 "Subspecies abbreviations in Animal names"
**Subspecies abbreviations in Animal names**

I wondered why you show subspecies abbreviations in names of animal species on the gbif.org website. In our database we are investigating the best way to store names of infraspecies and our zoologists told us that it is not usual practice to put any rank abbreviation in the name of a subspecies because in zoology you don't have forms or varieties, only

[2022-04-05 10:51] MortenHofft commented on #4004
Thank you for raising that.

The download works fine now. The health page isn't perfect. It checks a number of endpoints, but seems the API was temporarily not functioning in this case. @MattBlissett do you know what was failing and how we could have checked for it?

[2022-04-05 10:51] #4004 closed, assigned to nobody

[2022-04-05 10:55] MortenHofft commented on #3998
Thank you @EstebanMH-SiB , that doesn't sound ideal. @thomasstjerne it might be worth revisiting the UI with this feedback in mind?

[2022-04-05 11:12] fjasteen opened #4009 "Aloysia citridora versus Aloysia citriodora"
Both are  backbone names, I suppose citrodora would be the correct one...

[2022-04-05 11:13] MortenHofft commented on #4000
Another busybody here

The `locality` field is a free text field, meaning it is not normalised and requires publishers to fill it. So you will likely miss out on records in the bay. This might be what you want, but a better approach is probably to use a geometry to search (as @ManonGros mentions) for your area of interest. That will also include records that have coordinates, but not filled the `l

[2022-04-05 11:41] MattBlissett commented on #4004
There was a bug and we deployed a fix yesterday afternoon, but Marie/I haven't yet responded to the user reports.

[2022-04-05 12:29] gbif-portal opened #4010 "Show OTUs on this pages"
**Show OTUs on this pages**

Not sure how many visits this page gets, I sometimes go here for numbers update for presentation.

I suggest that this line "The total number of reviewed species and unreviewed scientific names (candidate species) currently known to GBIF" has clarificaiton about Linnaean names, and then extra lines showing summary of OTUs from UNITE, BINs, GTTB SHs and potentially more

[2022-04-05 12:39] ManonGros commented on #3998
The user sent me his file (an excel file) and it doesn't validate, even after I converted it to CSV. I was able to publish it in a test mode IPT.
Nikolay confirmed that the validator supports some excellent formats so the issue must be elsewhere. Still looking into it.

[2022-04-05 15:46] Lincy77 commented on #3998
Hello！Do you have help documentation for uploading data to the data validator?  When I use the occurrence data download link (whether it is 'simple' format or 'Darwin core' format), the result is always like below：
![FEZ)N)~ZLWC~`K09E_)0}AR](https://user-images.githubusercontent.com/70764323/161793307-e8234ec3-d641-4192-8003-be08a1cc8bdf.png)

I can
![HJ5C14MT8XMM9@)6O{9{B55](https://user-images.g

[2022-04-05 15:47] Lincy77 commented on #3998
Hello！Do you have help documentation for uploading data to the data validator?  When I use the occurrence data download link (whether it is 'simple' format or 'Darwin core' format), the result is always like below：
![FEZ)N)~ZLWC~`K09E_)0}AR](https://user-images.githubusercontent.com/70764323/161793307-e8234ec3-d641-4192-8003-be08a1cc8bdf.png)

 I can not get help from this description below：
![HJ5

[2022-04-06 06:22] gbif-portal opened #4011 "Remove Angelique Hjarding"
**Remove Angelique Hjarding**

Angelique Hjarding confirmed that she is no longer available to ambassador

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/7dde3d615c1d487a28f83a71a8973561:0071ddc98c5a27df2698f25a0141eccfd07d3a4a300e504ec1d7e47545179e04121c505385dd6240951614610ccd2f3223e75fdb10987ef54fd5a2be7173f9f4)
System: Chrome 100.0.4896 / Windows 1

[2022-04-06 09:44] muttcg commented on #3998
Hi @Lincy77

I am sorry that you experienced the issue, I did some fixes and tested your xlsx files, so please try again, xlsx files must work now.

P.S Regarding the "downloaded" dwca, the dwca itself is correct, but validator tries to check can the file be indexed or not, so "downloaded" dwca contains 2 occurrences, verbatim and interpreted versions, to make it work you need to delete one extens

[2022-04-06 10:55] abubelinha commented on #3466
@MattBlissett @tucotuco I think this could be related to my last comments in #3068
I hope you can give me feedback on that.

I wish to know what's the best way to achieve ungeorreferenced museum specimens to show up in GBIF portal map searches, when I do perfectly know they come from a given administrative area (just because the museum collection is limited to that area) ... but there is no verbat

[2022-04-06 11:33] dgasl commented on #3068
I am also interested in this as a possible workaround for occurrences without coordinates or even without verbatimLocality, but belonging to a dataset which comes from a well known administrative area.

Would a rough footprintWKT (which fits inside a given administrative area) be enough to make GBIF detect the Area, and attach it to these occurrences so it can be used for portal/api searches?

Tha

[2022-04-06 11:53] Lincy77 commented on #3998
thank you! now it is ok!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Nikolay ***@***.***&gt;;
发送时间: 2022年4月6日(星期三) 下午5:44
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [gbif/portal-feedback] Good afternoon. Writing from Kenya. I am trying to validate a dataset but it appears the data validator tool has issues. I upload the file but it seems that the tool  does

[2022-04-07 09:16] jhnwllr commented on #3466
I think there is not a straightforward answer to whether calculating centroids for polygons (WKT footprints) would be a net good or a net bad. It partially depends on user behavior. I tend to believe that it would be worthwhile to capture the data within WKT footprints (and other polygons) in a more user friendly way. I think the problem seems straightforward until you start to dig into the detail

[2022-04-07 10:00] MattBlissett opened #4012 "Populate GADM fields for non-georeferenced occurrences"
I have just seen this new (for me) filter in gbif portal.
From this related [comment](https://github.com/gbif/hosted-portals/issues/123#issuecomment-805501194), looks like this search field is created by GBIF using coordinates taken from data provider.

But I wonder if the other-way round is possible.
I mean, is it now possible for data providers to fill in gadm values in IPT, so that this will be

[2022-04-07 10:07] MattBlissett commented on #3466
I will look into calculating the point-radius with a corrected centre as tucotuco suggests.

At present, there's no way for occurrences to appear in searches or on maps unless they have a latitude and longitude in some form.

[2022-04-07 11:06] abubelinha commented on #3466
Thanks for your answers.

@MattBlissett as you opened a new issue about [populating GADM](https://github.com/gbif/portal-feedback/issues/4012) I understand that's not possible for now.

[2022-04-07 11:24] CecSve commented on #3999
This issue appears to be originating from Dyntaxa. The contact person for the Dyntaxa dataset has been notified of the error.

[2022-04-07 11:33] abubelinha commented on #4012
I think some of the options available in the IPT occurrences mapping form (Location section) could be already suitable for this purpose. Just instruct users (IPT manual) on how to fill in available fields:

For example, higherGeographyID, higherGeography (or other field recommended by GBIF) could perfectly be filled with gadm codes.
So if a record has not coordinates, but it has a recognizable and

[2022-04-07 12:42] abubelinha commented on #3466
Regarding the centroid calculation, it might be not a good idea if the footprintWKT represents a huge area (i.e. several hundred km radius, or more) That could lead to unreliable distribution maps.

I think the user-requested bounding polygon should **_contain_** the **_whole_** WKT of returned occurrences (whatever they are: points, lines, polygons or a combination of any of them).

BTW.  Perhaps

[2022-04-07 17:09] #4011 closed, assigned to kcopas

[2022-04-07 20:15] gbif-portal opened #4013 "Dowload of DwC Source archive is not available for some lists"
**Dowload of DwC Source archive is not available for some lists**

Hi, we have a couple of list from this publisher where the option to dowload the source archive is not possible in the portal but in IPT is working properly.

No all lists have this problem, just a couple and we do not know the reason. We should like to know if there is a bug in the portal or maybe something from our IPT that is mi

[2022-04-08 06:41] MortenHofft commented on #4013
The download option will only show if the dataset has a proper license. In this case it is unspecified, so we do not advertise that it can be downloaded

[2022-04-08 06:41] #4013 closed, assigned to nobody

[2022-04-08 09:33] MattBlissett commented on #4013
Marcos fixed the registry issue, and I've reprocessed the EML metadata, so this dataset now has a licence and the download button is shown.

[2022-04-08 12:25] damianooldoni opened #4014 "How to write `scientificName` for taxa with `taxonRank` = `speciesAggregate`"
We need to map some species aggregated taxa (see https://github.com/riparias/vmm-macrophytes-occurrences/issues/3#issuecomment-1092759261).

`speciesAggregate` seems a valid DwC term for `taxonRank` (see https://rs.gbif.org/vocabulary/gbif/rank_2015-04-24.xml). I just wonder how to write the scientificName of such aggregated species. In the link I provided, I read:

Something like `Callitriche (ob

[2022-04-08 13:15] peterdesmet commented on #4014
Another common use case are observations where the observer hesitates between two or more species:

One could provide the genus (`Branta`), but then one looses originally provided information. What is the best way to write the scientific name here? And what taxonRank should be assigned?

[2022-04-08 13:41] AbbyBenson commented on #4014
I'm not sure if this is correct but in cases like Branta canadensis/hutchinsii I put "Branta" in `scientificName` and "canadensis/hutchinsii" in `identificationQualifier` and `taxonRank` = "genus".

[2022-04-08 16:23] gbif-portal opened #4015 ""File can't be validated" unclear"
**&quot;File can&#39;t be validated&quot; unclear**

When I upload a DWCA to the data validator, all it says is "The file could not be processed, or it may be missing if you provided a URL." This is very unclear. How am I supposed to know what I'm doing wrong?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/d1890f21bd9952f449f33a9f9cb7397a:9319322fe7fec4054d66b853e0ba0fda228

[2022-04-08 16:27] tmcelrath commented on #4015
I am uploading a ZIP file of ~65 mB. When unzipped it is around 615 mB. Is this the problem?

[2022-04-08 17:03] AbbyBenson commented on #4015
Jumping in - I can't really help with the validator but I can help with reviewing a dataset for publishing to GBIF if that would be helpful? I'm the US Node Manager.

[2022-04-08 17:10] tmcelrath commented on #4015
That would be awesome! Is your contact email still albenson at usgs d0t gov?

[2022-04-09 08:48] gbif-portal opened #4016 "update data papers table"
**update data papers table**

Please update table to the latest IF, CiteScore, and prices as this page will be needed after 20 april to request quotes for the freshwater actions in GBIF S.

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/644fda25241ecdef27e21545ae01dd00:f69c80d5002e3982c8170bce393b8f4513a4d9253df0a78a938546163bd2cb87bf0fcca75c3bbb485ceb

[2022-04-09 19:36] gbif-portal opened #4017 "Suggest using bumblebee as a visual"
**Suggest using bumblebee as a visual**

For the card on "Accelerating biodiversity research through DNA barcodes, collection and observation data" perhaps you can recycle the Bumblebee on a clover, as on the course cover - as pollination is our "data journey" for this course.

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/73855462d07c1206c815548f9d91

[2022-04-10 02:46] tucotuco commented on #3466
@abubelinha dwc:footprintWKT is supposed to contain the most specific geometry possible within which the dwc:Organism occurred during the given dwc:Event. Sometimes that might be a named place polygon, but only if the locality was nothing else more specific than named place. It can also happen that the georeference is an obfuscated representation of the place, where the locality details are withhe

[2022-04-11 13:56] ManonGros commented on #4014
@mdoering do you have any recommendation on how to write scientific names for species aggregate?

[2022-04-11 15:16] gbif-portal opened #4018 "I have made several attempts to convert a data set into Excel, I have tried to follow the instructions on your website with little success. I was hoping I could receive some advice on this matter please. This is the data set: GBIF.org (07 April 2022) GBIF Occurrence Download https://doi.org/10.15468/dl.rw48cx"
**I have made several attempts to convert a data set into Excel, I have tried to follow the instructions on your website with little success. I was hoping I could receive some advice on this matter please. This is the data set: GBIF.org (07 April 2022) GBIF Occurrence Download `https://doi.org/10.15468/dl.rw48cx`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7f0e378ce52f

[2022-04-12 01:08] mdoering commented on #4014
For species aggregates / species groups we recommend `agg.` as the rank marker and treat it otherwise just like a binomial.
The [name parser rank enumeration](https://github.com/gbif/name-parser/blob/master/name-parser-api/src/main/java/org/gbif/nameparser/api/Rank.java#L132) contains this:

and contains some [tests for aggregate names](https://github.com/gbif/name-parser/blob/master/name-parser-a

[2022-04-12 06:57] peterdesmet commented on #4014
Thanks @mdoering that clarifies how to submit species groups. I notice they get exact matched to the species:

`Ranunculus peltatus group` -> [Ranunculus peltatus Schrank](https://www.gbif.org/species/8365713)

Why I assume is intended behaviour.

Would it be useful to create a separate issue for those, so this one can be closed?

[2022-04-12 08:25] ManonGros commented on #2386
same issue: https://github.com/gbif/portal-feedback/issues/3427

[2022-04-12 08:26] gbif-portal opened #4019 "Papilio polyxenes is missing from the GBIF backbone | 43,553 occurrences mismatched"
**Papilio polyxenes is missing from the GBIF backbone | 43,553 occurrences mismatched**

This is an issue originally reported by email.

The name `Papilio polyxenes` is missing from our backbone. This results in many occurrences matched to other species: https://www.gbif.org/occurrence/search?issue=TAXON_MATCH_FUZZY&advanced=1&verbatim_scientific_name=Papilio%20polyxenes

The name `Papilio polyxen

[2022-04-12 09:02] mdoering commented on #4019
Weird, it exists in COL: https://www.catalogueoflife.org/data/taxon/4CKMZ

[2022-04-12 13:24] mdoering commented on #4014
Yes, lets open a new one for IDs to multiple taxa. The exact match of the species group to the regular species might not be ideal. We don't include any aggregates in the backbone, but I think a fuzzy match would be better in that case!

[2022-04-13 13:38] ManonGros commented on #3953
It doesn't look like there is any more dataset like that.

[2022-04-13 13:38] #3953 closed, assigned to ManonGros

[2022-04-13 14:23] gbif-portal opened #4020 "Abundance data not included in dataset (Swedish Bird Survey: Fixed routes (Standardrutterna))"
**Abundance data not included in dataset (Swedish Bird Survey: Fixed routes (Standardrutterna))**

Hello,

I am writing with a question about the dataset: Swedish Bird Survey: Fixed routes (Standardrutterna) (https://www.gbif.org/dataset/91fa1a0d-a208-40aa-8a6e-f2c0beb9b253).

The Darwin Core Archive version of this dataset includes counts of individuals per species in a column called "organismQua

[2022-04-13 16:30] MattBlissett commented on #4020
CC @CecSve via https://github.com/gbif/pipelines/issues/666#issuecomment-1097860441

Thanks Bob,

Relevant DWC terms: https://dwc.tdwg.org/terms/#dwc:individualCount and the following two.

We calculate the fields individualCount and occurrenceStatus from each other (e.g. if individualCount is zero, we fill in occurrenceStatus=ABSENT if it's blank).  The combinations are given here: https://github

[2022-04-13 17:18] anneliejonsson commented on #4020
Hello,
I'm part of the group that is responsible for publishing this dataset, and Bob has been in contact with me about this issue. As a consequence I started comparing the current SIMPLE-download to our latest upload (the Source Archive). And I realised that there is no field in the current SIMPLE-download that gives information about the location, apart from the coordinates (decimalLatitude/Long

[2022-04-13 20:39] gbif-portal opened #4021 "suspected false negative verification of https://deeplinker.bio/9e19b4069017c64a31d693fc5cf296e264c40aadaa475c35e36aea0e0348e6fb"
**suspected false negative verification of `https://deeplinker.bio/9e19b4069017c64a31d693fc5cf296e264c40aadaa475c35e36aea0e0348e6fb`**

To reproduce:

1. visit https://www.gbif.org/tools/data-validator
2. login (note that GBIF is not open)
3. request https://deeplinker.bio/9e19b4069017c64a31d693fc5cf296e264c40aadaa475c35e36aea0e0348e6fb to be validated.

Expected results:

Validator result indicat

[2022-04-14 01:26] gbif-portal opened #4022 "alternate"
**alternate**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/fae0fe00f12ca010fa283a234a23ba02:b718c31d8dcffc80582ddac0ceb5821d1ab5b94358c4d276898f15cf956a9e631797323fc1bf4884488c58bedda9f22bc01f81329ccd96bdc43534962b423b6d)
System: Chrome 100.0.4896 / Mac OS X 10.15.7
Referer: https://www.gbif.org/user/profile
Window size: width 1440 - height 764
[API log](https://private-l

[2022-04-14 01:33] mcruz-umich commented on #4022
created by mistake and I cannot find how to delete it - sorry.

[2022-04-14 09:09] myrmoteras commented on #3993
@thomasstjerne the name looks ok now.

the subsesctions still do not show - you can compare the most recent treatments. https://tb.plazi.org/GgServer/srsStats/stats?outputFields=doc.uuid+doc.gbifTaxonId+doc.articleUuid+doc.articleGbifId+doc.uploadDate+cit.figCitCount&groupingFields=doc.uuid+doc.gbifTaxonId+doc.articleUuid+doc.articleGbifId+doc.uploadDate+cit.figCitCount&FP-doc.gbifTaxonId=1-&FP-do

[2022-04-14 16:20] peterdesmet opened #4023 "How to write `scientificName` where observer hesitates between two names?"
_Issue originally mentioned in https://github.com/gbif/portal-feedback/issues/4014#issuecomment-1092848312:_

A common use case are observations where the observer hesitates between two or more species:

One could provide the genus (Branta), but then one looses originally provided information. What is the best way to write the scientific name here? And what taxonRank should be assigned?

---

Rema

[2022-04-14 16:21] peterdesmet commented on #4014
Issue about 2 provides names now recorded at https://github.com/gbif/portal-feedback/issues/4023. The remaining task in this issue is to treat names that contain `group` as a fuzzy rather than exact match.

[2022-04-15 13:32] gbif-portal opened #4024 "Mismatched taxonomic tree: name is for an insect, not the fish"
**Mismatched taxonomic tree: name is for an insect, not the fish**

The Atlantic seasnail, Liparis atlanticus, https://www.fishbase.de/summary/4186,
is incorrectly displayed in GBIF as the synonym Liparis atlantica, with the taxonomy of Lymantria atlantica (an insect): https://www.gbif.org/species/5201436

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/299002cbfffe38466ffee9

[2022-04-16 08:39] gbif-portal opened #4025 "Amycolatopsis acidicola Teo et al. 2020"
**Amycolatopsis acidicola Teo et al. 2020**

Amycolatopsis acidicola Teo et al. 2020

Valid publication: Teo WFA, Srisuk N, Duangmal K. Amycolatopsis acidicola sp. nov., isolated from peat swamp forest soil. Int J Syst Evol Microbiol 2020; 70:1547-1554.

IJSEM list: Oren A, Garrity GM. Notification list. Notification that new names and new combinations have appeared in volume 70, part 3 of the IJS

[2022-04-18 22:49] gbif-portal opened #4026 "Wrong link to Wikipedia"
**Wrong link to Wikipedia**

To whom it may concern,

I have been looking at the page of the species Mesoparapylocheles michaeljacksoni (this is its link: https://www.gbif.org/species/165406902) and I realized that the information from Wikipedia found there comes from the wrong Wikipedia article.

The linked Wikipedia article is "Mesoparapylocheles" (corresponding to the genus Mesoparapylocheles);

[2022-04-19 07:11] gbif-portal opened #4027 "Templating failure in dataset generator"
**Templating failure in dataset generator**

`Species pages extracted from the $LANG Wikipedia article XML dump from $DATE.` this looks a lot like a template that isn't working as intended. @mdoering you are listed as the author, so I've assigned you as a best guess.

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/188951611b7263fdacbbe6e97ce6f28d:f2

[2022-04-19 07:15] #4022 closed, assigned to nobody

[2022-04-19 11:30] MortenHofft commented on #3984
Thank you @ckotwn

@dnoesgaard suggestion 1+2 is textual I think. Let me know if you would like to change anything but cannot. If so feel free to create an issue for it.

Suggestion 3 - new download formats is probably a question for @ahahn-gbif ?

[2022-04-19 11:46] dnoesgaard commented on #3984
I've amended the text for format to read:

[2022-04-19 13:52] gbif-portal opened #4028 "Display hosted occurrences statistics on NA node statistics page"
**Display hosted occurrences statistics on NA node statistics page**

On the North American node page (https://www.gbif.org/the-gbif-network/north-america), the number of occurrences associated with the Symbiota Support Hub is 0 because the 1 publisher that it endorses has "hosted occurrences" rather than "published occurrences". The Symbiota Support Hub Associate Participant does not have any hos

[2022-04-19 13:52] themerekat commented on #4028
Posted by me!

[2022-04-19 17:36] gbif-portal opened #4029 "Large wasp genus is placed in the wrong family"
**Large wasp genus is placed in the wrong family**

Dear GBIF Team,

The social wasp genus Polistes is part of the Vespidae family. However, on GBIF it seems to be erroneously placed in the solitary wasp family Eumenidae (e.g., https://www.gbif.org/species/1310500). Please could Polistes be moved to the family Vespidae?

In fact, Eumenidae/Eumeninae (which does not include Polistes) is now typical

[2022-04-19 22:03] PatrickKennedy2022 commented on #4029
The same problem appears to be the case for Belonogaster (https://www.gbif.org/species/1310193), a genus of social wasps. They should be within the family Vespidae, but are instead listed in GBIF as belonging to the solitary wasp family Eumenidae.

[2022-04-19 22:31] PatrickKennedy2022 commented on #4029
And same issue for the social wasp genus Polybia (currently erroneously listed as being part of the family 'Eumenidae'): https://www.gbif.org/species/7235975

[2022-04-20 03:44] EstebanMH-SiB opened #4030 "Validation Reports tab have broken links in non-English languages"
When you go to [Validation Reports tab](https://www.gbif.org/es/toolsdatavalidator/my-validations) using a language different than English and try to click the link of a report, it gives you a broken link:
![image](https://user-images.githubusercontent.com/63795703/164144449-8ade8000-2206-46d7-80e1-356a29d1aa9b.png)
[https://www.gbif.org/es/tools/data-validator/es/tools/data-validator/1310b31a-895

[2022-04-20 09:23] dnoesgaard commented on #4016
JIF and CiteScore for 2021 won't be available until June. I've made a few updates to prices...

[2022-04-20 09:23] #4016 closed, assigned to dnoesgaard

[2022-04-20 23:25] gbif-portal opened #4031 "The species Babesia microti is not listed and is currently mapping to a bacteria (it is a protozoan) in the NEON tick dataset. A reference is: https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Tree&id=5868&lvl=3&keep=1&srchmode=1&unlock"
**The species Babesia microti is not listed and is currently mapping to a bacteria (it is a protozoan) in the NEON tick dataset. A reference is: `https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Tree&amp;id=5868&amp;lvl=3&amp;keep=1&amp;srchmode=1&amp;unlock`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/fa1442d5245aefa9e4b99831439713df:c1592da30e2cf68202088

[2022-04-21 07:44] dnoesgaard commented on #4017
Done

[2022-04-21 07:44] #4017 closed, assigned to nobody

[2022-04-21 09:27] #3993 closed, assigned to thomasstjerne

[2022-04-21 09:50] thomasstjerne commented on #4031
Seems we have a strange synonymization: https://www.gbif.org/species/3237776
When clicking through to the [source taxon](https://www.irmng.org/aphia.php?p=taxdetails&id=1284457) it is not synonymized

[2022-04-21 10:24] #4030 closed, assigned to thomasstjerne

[2022-04-21 12:13] tmcelrath commented on #4015
Able to get around the problem by clicking "Select File" and uploading it there, instead of dragging the file onto the "Drop Here" button. Feel free to close this issue, I'll open another one for improvements to error processing.

[2022-04-21 12:17] tmcelrath opened #4032 "Drag and drop button does not support 100 mb file sizes as indicated"
When I am using the validator, the "Drop File Here" button fails when the file is too large (the file I used was ~65 MB). The error message is simply "the file failed to validate". This can be easily circumvented by using the "Select File" button instead.

Either:
1) The drag and drop button should be improved to allow file drops up to 100 mB.
OR
2) There should be clear messaging around what file

[2022-04-22 13:50] gbif-portal opened #4034 "error in translation"
**error in translation**

When viewing this page https://www.gbif.org/species/155117748 in portuguese (https://www.gbif.org/pt/species/155117748), the language of vernacular names are wrongly translated. When the language is "english", it is translated to "portuguese", but should be translated to "inglês". Not sure were to look in the project in Crowdin to correct it, or is it another problem?

--

[2022-04-22 15:41] gbif-portal opened #4035 "Event table paginates by 10, but shows 11 records"
**Event table paginates by 10, but shows 11 records**

Datasets like https://www.gbif.org/dataset/8a5cbaec-2839-4471-9e1d-98df301095dd have an event table with pagination.

- The first page of the table shows 11 records rather than the likely intended 10 records. Note the last record with Event ID `e8007a9f-f5a9-4809-948d-64cb6537a966`
- The next page of the table jumps 10 records ahead (intended)

[2022-04-22 20:05] mdoering commented on #4027
Code is fixed and archives are rebuilding now

[2022-04-23 01:35] PatrickKennedy2022 commented on #3988
I've just found that this problem with the Polistes testaceicolor entry has been spotted before: https://github.com/gbif/portal-feedback/issues/3449

[2022-04-23 06:13] mdoering commented on #4027
The Spanish one is good now: https://www.gbif.org/dataset/cd9fa1dd-d29f-47c6-bac1-31245a9f08e9

[2022-04-23 06:13] #4027 closed, assigned to mdoering

[2022-04-23 20:28] gbif-portal opened #4036 "species/{int}/media not working for all species"
**species/{int}/media not working for all species**

I am having issues getting all media through the /species api.
it seems as though it is only finding media entries that have a redundant taxonKey key within the media object itself, rather than getting all media entries that are siblings with the taxonKey attribute.

ex. - taxonKey 5230482

when using the /species/{int}/media search as described

[2022-04-24 22:43] gbif-portal opened #4037 "Spelling error for tawny coster species epithet"
**Spelling error for tawny coster species epithet**

The specific epithet of the tawny coaster has a spelling error: terpsichore -> terpsicore
Should read: *Acraea terpsicore* (Linnaeus, 1758)

https://biodiversity.org.au/afd/taxa/Acraea_terpsicore

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/f39a14b8179cd77780e2f94f40d9a270:61287d15113df4df9fd1597cd73f357e16be4cdd33eb355

[2022-04-25 07:36] ManonGros commented on #4036
Hi @heresy0-0y

Thank you for your question.
All the entries in the query you mentioned have associated media:
https://api.gbif.org/v1/occurrence/search?media_type=StillImage&media_type=Sound&media_type=MovingImage&taxon_key=5230482&occurrence_status=present&limit=300
For example:
[code]

Data providers on GBIF don't directly upload images or media on GBIF, instead they share URL to images that th

[2022-04-25 07:36] #4036 closed, assigned to ManonGros

[2022-04-25 07:47] MortenHofft commented on #4036
Occurrence search returns images of occurrences of a given taxon
https://api.gbif.org/v1/occurrence/search?mediaType=StillImage&taxonKey=5230482
returns 788 records with images

species API search returns images associated with a taxon through a checklist. Not including images of occurrences. So more like: "this is a representative image for this species" - or "this is the holotype for the name".

[2022-04-25 07:52] MortenHofft commented on #4034
That sounds like a code issue and not a translation issue. Thank you for reporting it

[2022-04-25 07:55] MortenHofft commented on #4035
That sounds like a UI bug - since we do no really model events, then this is using facets. But facets do not have counts (number of distincts). So to know if we can show a "next" button we ask for 11 and (should) show 10. If there is in fact 11 results, we show a "next" button.

suprising no one has noticed for 4 years

[2022-04-25 08:23] MortenHofft commented on #4034
I retract that - I see it shows correctly in other languages. I see in your translation file that it says `"eng": "Portuguese",`

https://crowdin.com/translate/gbif-portal/43/en-pt?filter=basic&value=3#q=eng

[2022-04-25 08:25] MortenHofft commented on #4034
I've updated it in crowdin

[2022-04-25 08:25] #4034 closed, assigned to nobody

[2022-04-25 08:28] #4035 closed, assigned to nobody

[2022-04-25 09:49] CecSve opened #4038 "Sequence ID tool - minor text edit - change iBOL to BOLD"
For clarity, I propose we change the text at https://www.gbif.org/tools/sequence-id from:

_COI sequences for Animals will be queried against a 99% clustered version of the [International Barcode of Life project v2021-02-08](https://doi.org/10.15468/inygc6) public data (COI-5P sequences)_

to:

_COI sequences for Animals will be queried against a 99% clustered version of the [BOLD Public Database

[2022-04-25 10:38] peterdesmet commented on #4035
Is it possible to also update this in UAT? https://www.gbif-uat.org/dataset/0ef15f32-b41d-4274-ae96-eb5d0059fee6

[2022-04-25 13:46] CecSve commented on #4018
In the following I will go through the step by step process to access the data from the download in Excel assuming you use a Windows computer:

1. First download the [dataset](https://www.gbif.org/occurrence/download/0212645-210914110416597) to your computer
2. Put the zip-folder in a folder where you want to store the data
3. Right-click the folder and choose “Extract all” to unzip the folder
4.

[2022-04-25 13:48] #3929 closed, assigned to ManonGros

[2022-04-25 13:56] #3930 closed, assigned to nobody

[2022-04-25 13:58] ManonGros commented on #3929
replied by email:

That being said, the interpretation of the vocabulary (https://dwc.tdwg.org/terms/#preservedspecimen) is up to the data provider. Some “preserved specimens” might be preserved tissues but most would be under the basis of record “material samples”.

[2022-04-25 13:58] ManonGros commented on #3930
notified the user by email too (in case the answer was missed)

[2022-04-26 07:39] thomasstjerne commented on #4015
Superseded by https://github.com/gbif/portal-feedback/issues/4032

[2022-04-26 07:39] #4015 closed, assigned to thomasstjerne

[2022-04-26 07:56] MortenHofft opened #4039 "Issue robot to help send email"
For the most part answering issues require sending an email to the user. This is because most users do not have a Github account or haven't linked it to their GBIF account. Often we will also send mails to publishers or dataset owners.

This is fairly time consuming (and boring).

Most of the time I spend on GitHub consists in rephrasing and sending by email the "data content" GitHub issues. It wo

[2022-04-26 10:52] #4032 closed, assigned to thomasstjerne

[2022-04-26 10:52] #4038 closed, assigned to thomasstjerne

[2022-04-26 11:04] thomasstjerne commented on #4005
It looks like a duplicate issue on our side, the treatment is here https://www.gbif.org/species/3189635 on the accepted variant of the name.
We seemingly have a genus homonym between these
https://www.gbif.org/species/10902383
https://www.gbif.org/species/3189634

[2022-04-26 12:21] myrmoteras commented on #4005
ok - need to get this publication of 109... Guangxi Forest. Sci. Technol. 1990(1): 12. to look into this

[2022-04-26 12:46] gbif-portal opened #4040 "Trichrysis cyanea (Linnaeus, 1758) and Pepsis cyanea (Fabricius, 1775) shouldn't be synonyms"
**Trichrysis cyanea (Linnaeus, 1758) and Pepsis cyanea (Fabricius, 1775) shouldn&#39;t be synonyms**

This is a message originally sent on helpdesk.

None of the source for either species mentioned them to be synonyms:
* https://www.gbif.org/species/130497874
* https://www.gbif.org/species/175328791

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/5bfb

[2022-04-26 13:03] ManonGros commented on #3961
I don't think this is a data content issue, I think this is an interpretation issue.
The generic name refers to the first part of a binomial name of the species and shouldn't be inferred for higher rank names like Foraminifera (which is a phylum).

<img width="826" alt="Screenshot 2022-04-26 at 15 03 27" src="https://user-images.githubusercontent.com/7677271/165306105-492c556b-dadf-4c7b-9ba3-b9ca6

[2022-04-26 13:10] ManonGros commented on #3925
They are back to preserved specimens

[2022-04-26 13:10] #3925 closed, assigned to nobody

[2022-04-26 13:31] ManonGros commented on #4039
@MortenHofft @ahahn-gbif as much as I like the idea of automated emails from Github, it might not be worth the amount of work. The main reason is that so many of the `data content` issues we receive lately are actually `backbone` issues. We haven't received that many "occurrence" issues the past few months (it seems less than last year or maybe it is just that we have finally made a dent in what w

[2022-04-26 13:45] MattBlissett commented on #4039
An encrypted mailto: link to the user's email, to go next to See In Registry, would be all I might use. It saves being logged in to both the registry and the portal.

Redirects to mailto: links work: https://labs.gbif.org/mail

[2022-04-26 13:48] ahahn-gbif commented on #4039
I agree that mailto: link would be handy. Thanks, @ManonGros for the feedback on the other options!

[2022-04-26 13:59] gbif-portal opened #4041 "Edit FAQ - How can I link datasets to my project page?"
**Edit FAQ - How can I link datasets to my project page?**

Would it be possible to add the following sentence to this FAQ?
"Once the project ID has been added to the dataset metadata, don't forget to refresh your Darwin Core Archive, i.e. click on the `publish` button in the IPT."

What do you think @laurarussell @dnoesgaard?

-----

Github user: @ManonGros
User: [See in registry](https://www.gbi

[2022-04-26 14:08] dnoesgaard commented on #4041
How about

[2022-04-27 02:48] gbif-portal opened #4042 "Upload Data"
**Upload Data**

In order to upload the file to gbif, I am reading the manual and writing it according to the data standard. I'd like to know what to write about the occurrence ID.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/53f6edb4917746b540d86f0db7e9faf7:ee9132d3ed1e063fb167229a9153714ca2484910886db6ca6d16a87f08316abc11d832003b092cd821cb4b6df7b3b459fbad425ff2e9eb8023d

[2022-04-27 06:48] ManonGros commented on #4041
Yes that's better, thanks @dnoesgaard!

[2022-04-27 06:55] gbif-portal opened #4043 "test"
**test**

test

-----

Github user: @MortenHofft
User: [See in registry](http://localhost:3000/api/feedback/user/9fe946df3d868fc86abd5f64f9390c72:8e9a4596b07ba339cf19dd2eadc7dc7942caa8f661c873967c9d855c92ff68f6b22f6f637efbaa4b8bc46244dad8096637322953dab360b8672d522c50d6257b936d74996912ad198e342dfc48f2e91e53c816054ab2b0a98441f90534d5dd38b0c6ba0e4471f7e126154146aa1538f4fe8046384f674bb020fef2472f82fe

[2022-04-27 06:55] #4043 closed

[2022-04-27 06:55] MortenHofft commented on #4043
Sorry if you got this notification a Abby

[2022-04-27 07:13] #4041 closed, assigned to dnoesgaard

[2022-04-27 07:17] gbif-portal opened #4044 "test"
**test**

test

-----

Github user: @MortenHofft
User: [See in registry](http://localhost:3000/api/feedback/user/f8d6e291470a28447be29b544dc2d588:5bdedcc6855d5be300f924659ee034832a4409cb65278537a06e2372fbafc53550ff6f18b0bd244e0f37afc3967ac166a9d65780b8835a3c7c95029899a5605da12414ca71f0bde309c2c5cab85249f63b865cbf57a5670a64e525252f88c74d2eb432368ef179ac8ae4365fc2844916e94f4b62f0398c288a01f28b902682

[2022-04-27 07:21] #4018 closed, assigned to CecSve

[2022-04-27 07:28] gbif-portal opened #4045 "test"
**test**

test

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif-uat.org/api/feedback/user/8ed23f0fc7f4cb0c8c6737f238fec248:6518ee144d2b8b27a8ee1932d94cf4277bc16c7f79e0434d073bf01f95a6102201f199769d56af62ccc44d553a2c58af06013f6e0dc2581defbe3b6fc9f0a72dac4b842ca206ee7e59cb3bc3ea1f9f5b7fb3663ad87e6e08a49776bbf2c208d737e4cf5632dd65f300623892f94fc7d48f06851ba9579cf39d2e65dfb30

[2022-04-27 07:35] gbif-portal opened #4046 "Test issue"
**Test issue**

Hi @manongros - check out the email link

-----

Github user: @MortenHofft
User: [See in registry](http://localhost:3000/api/feedback/user/0a0f9affa14a863a7115c5e2c5a41d3f:501d64ed8bd83841132b3fba0be65fdc5ba45fd62115acf9fee40db79c52c14edd31126058fb55dc3f1f16fb561f9732c79bd57402e689c6274799675314061f8d8cab89d3c9a81b8554db12bbec0d0b2ed3cf16f07d6c53bce0e2cb8b63251da41c336d4a7f54bdff6a

[2022-04-27 07:35] #4046 closed

[2022-04-27 07:36] gbif-portal opened #4047 "Test issue"
**Test issue**

Hi @manongros - see the email link

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif-uat.org/api/feedback/user/184b1ef66f8a1b5d81c23b4bf07d728f:07388e706022ab9654f3a0e4b8f62be05494df6b7665055d9e33ff4e51b9d8a3596b0bebf9b3af2f8e1def646f50925883ef3aa70b58ecfae4afe7551a0012c04f4f37eed7877d735bd799426f9f9e249b8886542cb8fd418d909982f0775bb9c16dfc2680a0199328ab249

[2022-04-27 07:38] MortenHofft commented on #4039
I've created a test issue  - is this usable and should the email template be updated to say something else?
It is currently available in UAT

------

**Test issue**

Hi @manongros - see the email link

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif-uat.org/api/feedback/user/184b1ef66f8a1b5d81c23b4bf07d728f:07388e706022ab9654f3a0e4b8f62be05494df6b7665055d9e33ff4e51b9d8a35

[2022-04-27 07:59] jhnwllr commented on #4026
@mdoering

Perhaps the sources dataset needs to be updated?

**English Wikipedia - Species Pages**
https://www.gbif.org/dataset/cbb6498e-8927-405a-916b-576d00a6289b

[2022-04-27 08:01] ManonGros commented on #4009
Aloysia citridora Paláu https://www.gbif.org/species/5341165 from [Integrated Taxonomic Information System (ITIS)](https://www.gbif.org/dataset/9ca92552-f23a-41a8-a140-01abaa31c931)
Aloysia citriodora Palau https://www.gbif.org/species/5341164 from [The Leipzig catalogue of vascular plants](https://www.gbif.org/dataset/bae5856f-da10-4333-90a0-5a2135361b30)
Aloysia citrodora Palau https://www.gbif.

[2022-04-27 08:13] jhnwllr commented on #3854
**Pelliales** exists
https://www.gbif.org/species/915

[2022-04-27 08:26] jhnwllr commented on #3854
Wrote to publisher

[2022-04-27 08:30] ahahn-gbif commented on #4008
(user contacted by email via helpdesk, 27.4.22)

[2022-04-27 08:32] ManonGros commented on #3976
This is an issue for The Paleobiology Database :
https://www.gbif.org/dataset/c33ce2f2-c3cc-43a5-a380-fe4526d63650

[2022-04-27 08:32] ManonGros commented on #3557
https://github.com/gbif/backbone-feedback/issues/271

[2022-04-27 08:45] mdoering commented on #4026
The GBIF link given points to the genus, not the species, so the link is perfectly fine.
This is the species in GBIF: https://www.gbif.org/species/194819761
and it does point to https://en.wikipedia.org/wiki/Mesoparapylocheles_michaeljacksoni

[2022-04-27 08:45] #4026 closed, assigned to jhnwllr

[2022-04-27 08:51] mdoering commented on #4031
IRMNG tells us about that synonymy: https://www.gbif.org/species/162750950
Problematic is that it is not in the live IRMNG website and doesnt seem to have been edited for years:
https://www.irmng.org/aphia.php?p=taxdetails&id=1284457

There are [2 copies of Babesia](https://www.checklistbank.org/dataset/2007/names?facet=rank&facet=issue&facet=status&facet=nomStatus&facet=nameType&facet=field&facet

[2022-04-27 08:52] mdoering commented on #4031
Probably a case for a nub config to ignore the synonym one

[2022-04-27 08:54] CecSve commented on #4025
The authorship for the species can be found in the NCBI dataset: https://www.gbif.org/species/167018088 because the dataset contains data on authorship: https://www.gbif.org/dataset/fab88965-e69d-4491-a04d-e3198b626e52. The authorship does not appear for https://www.gbif.org/species/11121894 since the data is pulled from another dataset: https://www.gbif.org/dataset/a97f36e5-ded1-49cc-bdec-ac6170f

[2022-04-27 09:18] CecSve commented on #4009
It seems the Leipzig catalogue use the wrong name (_citriodora_) compared to other sources ([Catalogue of Life](https://www.catalogueoflife.org/?taxonKey=8VTMG), [World Checklist of Selected Plant Families](https://wcsp.science.kew.org/namedetail.do?name_id=6894)). We will contact them and ask them to update the source.

[2022-04-27 09:23] ahahn-gbif commented on #4031
(informed user by email. unassigning myself)

[2022-04-27 10:17] CecSve commented on #3951
Relates to #3555

[2022-04-27 10:21] ManonGros commented on #3951
The issue has been corrected at the source: https://www.irmng.org/aphia.php?p=taxdetails&id=1127689
However, the version of the source dataset available on GBIF is outdated: https://www.gbif.org/dataset/0938172b-2086-439c-a1dd-c21cb0109ed5 (the last update is from May 2021)
So right now the data still shows the incorrect classification: https://www.gbif.org/species/163210496 and https://www.gbif.o

[2022-04-27 10:38] ManonGros commented on #3945
https://github.com/gbif/portal-feedback/issues/3944

[2022-04-27 10:45] ahahn-gbif commented on #3945
3 homonyms (same higher taxonomy):
- _Megachile melanopyga_ Schrottky, 1908 (https://www.gbif.org/species/7507576): what is the source for the "accepted" status of this name?

- _Megachile melanopyga_ Costa, 1863 (https://www.gbif.org/species/7548157): this should be the accepted name (older homonym) (https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=761779) - only mar

[2022-04-27 10:46] myrmoteras opened #4048 "link to treatments (GBIF key) in species pages"
here is a really impressive species page, for many reasons - see eg the huge impact of one single EJT treatment. https://www.gbif.org/species/1716539/treatments

![image](https://user-images.githubusercontent.com/4609956/165499199-33617d61-5a65-4fdc-afce-aab412f035dc.png)

Would it be possible to get the GBIF key  https://www.gbif.org/species/184010543 for the individual treatments added to each o

[2022-04-27 10:49] jhnwllr commented on #3949
This seems to be fixed in COL, so we are just waiting for next backbone update.

https://www.catalogueoflife.org/data/taxon/6M8G
![image](https://user-images.githubusercontent.com/4245213/165502181-6413ff98-b22d-44e7-8385-2a379cf1cebf.png)

[2022-04-27 10:58] myrmoteras opened #4049 "taxonomic name combination error"
in this case, the taxonomic name is wrong https://www.gbif.org/species/184010543

![image](https://user-images.githubusercontent.com/4609956/165503712-cc99814d-01a8-441f-b9be-2b5034fdae92.png)

[2022-04-27 11:25] CecSve commented on #3927
I will contact Systema Dipterorum first to find out whether the Drosdophilidae family exist.

[2022-04-27 11:34] thomasstjerne commented on #4049
https://api.gbif.org/v1/species/184010543/name

[2022-04-27 11:57] myrmoteras commented on #4049
@thomasstjerne does this mean, that the name is wrong in our DWCA?

[2022-04-27 12:18] ManonGros commented on #4049
@myrmoteras The scientific name provided in the archive is `Nisitrus vittatus (Haan 1844) Haan 1844`: https://www.gbif.org/species/184010543/verbatim
<img width="686" alt="Screenshot 2022-04-27 at 14 17 18" src="https://user-images.githubusercontent.com/7677271/165516330-34fc7dbe-2118-4c9e-bffa-83552099af4e.png">

[2022-04-27 12:25] ahahn-gbif commented on #3945
Thanks, @mdoering - in that case, we'll mark it as pending to check up again after the next backbone build.

[2022-04-27 12:33] CecSve commented on #3927
The mispelling has been corrected in Systema Dipterorum. I will create an issue in CoL to notify them that the dataset should be updated.

[2022-04-27 12:43] ahahn-gbif commented on #3916
The [name parser](https://www.gbif.org/tools/name-parser) translates the scientific name that it receives from the [source](https://www.gbif.org/species/192604755/verbatim). The syntax of the author team (using multiple & characters) is unexpected and against common practice. We would expect an author team with multiple contributors to separate entries with commata, and adding a & only between the

[2022-04-27 12:53] flsimoes commented on #4049
Fixed on our side
![image](https://user-images.githubusercontent.com/3343086/165522431-7c329ed6-06fa-400b-912d-a3a1128f9442.png)
https://treatment.plazi.org/id/039487A4FFD3FFB8FD89F26CFD84FCA3?cacheControl=force

[2022-04-27 13:00] CecSve commented on #3871
The misplacement appears to have happened because the species is not included in the latest backbone version. However, it seems that the taxon is on Catalogue of Life (https://www.catalogueoflife.org/data/taxon/3WPBC) so the occurrence should be updated with the corrected taxonomy when the next version of the backbone is implemented.

[2022-04-27 13:04] ahahn-gbif commented on #3892
confirmed fixed (https://www.gbif.org/dataset/5fac9c21-a601-4155-873a-0ddd55f3a0b0/metrics), closing

[2022-04-27 13:04] #3892 closed, assigned to ahahn-gbif

[2022-04-27 13:06] CecSve commented on #3871
Relates to #3826 and #3852

[2022-04-27 13:13] jhnwllr commented on #3810
**Acidovorax Willems et al., 1990**
https://www.catalogueoflife.org/data/taxon/MXL
https://www.gbif.org/species/3220140

appears to be in

**Comamonadaceae Willems et al., 1991**
https://www.catalogueoflife.org/data/taxon/8GJ

in COL.

So we might only need to wait until next backbone update.

[2022-04-27 13:25] #4028 closed, assigned to thomasstjerne

[2022-04-27 13:33] gbif-portal opened #4050 "Could not validate the file by using "drop here""
**Could not validate the file by using &quot;drop here&quot;**

I tried to drop the file to validator immediately but it said "The file could not be processed, or it may be missing if you provided a URL.".   And it works if I try the way "select file" instead.

-----

Github user: @melissa0520
User: [See in registry](https://www.gbif.org/api/feedback/user/7cff4304de37d0f1cadadec3253c5080:f9c4ba7b1

[2022-04-27 13:44] ahahn-gbif commented on #2984
The [backbone patch dataset](https://www.gbif.org/species/search?q=Leptestheria%20dahalacensis&dataset_key=daacce49-b206-469b-8dc2-2257719f3afa&origin=SOURCE&advanced=1) today contains two versions of the name, one clearly a misspelling, concerning both the species epithet and the author name:

- [_Leptestheria dahalacensis_ (Rüppel, 1837)](https://www.gbif.org/species/187211431)
- [_Leptestheria

[2022-04-27 14:22] CecSve commented on #3865
Catalogue of Life has been notified of the _Stereophlebia tuberculata_ authorship issue regarding synonyms in https://github.com/CatalogueOfLife/data/issues/429

[2022-04-27 14:52] ahahn-gbif commented on #386
contacted
- https://www.gbif.org/dataset/e2bc2f00-62f3-4fd4-b9f3-89c030bca07a

[2022-04-27 16:34] kpmcfarland commented on #4019
Hi, thanks for posting this. I was the one that reported it via email. It affects a lot of our records and I was just curious when something like this will be addressed in GBIF backbone and occurrences re-indexed?

[2022-04-27 16:49] DaveNicolson commented on #3887
User is not complaining about a missing basionym, but rather about a false inference GBIF has made:
"Basionym: [Cryptocephalus sonani Chujo, 1934](https://www.gbif.org/species/6132043)".
It is noted also:
"Issues: Basionym relation derived"

This is not a COL/ITIS issue, rather an issue with another data source and an inference GBIF made, as far as I can see.

[2022-04-28 02:01] gbif-portal opened #4051 "Suspect Aphididae synonym pairs"
**Suspect Aphididae synonym pairs**

The following Aphididae species names are newly paired as synonyms by GBIF in the past year:

Acyrthosiphon lactucae with Acyrthosiphon scariolae
Acyrthosiphon pisum with Acyrthosiphon norvegicum
Aphis craccivora with Aphis loti
Aphis fabae with Aphis salicariae
Aphis gossypii with Aphis forbesi
Aphis maidiradicis with Protaphis middletonii
Brachycaudus cardui

[2022-04-28 06:41] ManonGros commented on #4039
@MortenHofft I am logged in both GBIF-uat and the registry UAT but I still get an `Internal Server Error` message.

[2022-04-28 08:35] MortenHofft commented on #4039
you do? when clicking above link "Send email" ?

[2022-04-28 08:39] ManonGros commented on #4039
Yes by clicking on the "send email"

[2022-04-28 08:59] ManonGros commented on #4039
Ok so it turns out I was opening the link in a new tab. But If I don't do that, it works!

For the template, could we make a small modification:

I assume that the user might not be familiar with GitHub terminology and could be confused by `your issue` wording. Does that make sense?

[2022-04-28 09:28] MortenHofft commented on #4039
From private chat: the problem is that in Safari when opening a link in a new tab, then the referer (what site you come from) is lost. And the code expects a referer as that is needed for the mail template to tell the user what issue the mail is about.

I cannot fix the Safari behaviour, but I can make it fail nicer.

[2022-04-28 09:38] MortenHofft commented on #4039
@ManonGros I cannot make html links in the template I’m afraid. Only plain text. That is the constraint of that approach of putting the mail text inside a link mailto

[2022-04-28 09:39] #4039 closed, assigned to nobody

[2022-04-28 09:43] ManonGros commented on #4039
@MortenHofft I originally pasted the full URL, GitHub interpreted it. No need to have any html link

[2022-04-28 09:48] MortenHofft commented on #4028
@themerekat - you can [link your github account to GBIF](https://www.gbif.org/user/profile). It isn't a perfect solution, but it means that we will mention you by your github handle on the issue. It is optional obviously

[2022-04-28 09:49] #4049 closed, assigned to nobody

[2022-04-28 12:34] themerekat commented on #4028
Thanks, @MortenHofft !

[2022-04-28 12:46] ahahn-gbif commented on #386
https://www.gbif.org/dataset/e2bc2f00-62f3-4fd4-b9f3-89c030bca07a confirmed under investigation (helpdesk)

[2022-04-29 02:53] gbif-portal opened #4052 "genus Lonchaea should be in Lonchaeidae family not Tachinidae"
**genus Lonchaea should be in Lonchaeidae family not Tachinidae**

genus Lonchaea should be in Lonchaeidae family not Tachinidae
E.g:
MacGowan, I. (2018). Definition of the Lonchaea polyhamata species-group (Diptera, Lonchaeidae) with a description of new species. Zootaxa, 4446(3), 325-342.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/0884b33651b5ad2d3a0da0826992a6fa:3503

[2022-04-29 04:54] ckotwn commented on #4042
Hi there - following the definition of DwC at https://dwc.tdwg.org/terms/#dwc:occurrenceID, you know it's best to have an identifier that is globally unique. There are several ways to create occurrenceID. You can generate an UUID for each of your records, or you can have your own sequential numbers prefixed with organizational code/domain, among others.

[2022-04-29 05:47] melissa0520 commented on #4042
Hi there
Just add more information for you.
Here is the [ UUID generator](https://www.uuidgenerator.net/) that can provide you a series of random ID.
If you want to generate occurrenceID your own, it's common to combine with eventDate or catalogNumber, etc. Just make sure there is no replicated occurrenceID in your dataset and better not the same with other fields.

[2022-04-29 14:40] #3984 closed, assigned to nobody

[2022-05-02 14:58] gbif-portal opened #4053 "Recorded By filter not filtered"
**Recorded By filter not filtered**

I want to restrict my already filtered occurrence search by a further recordedBy filter. The search there seems to be global though, not including my already existing filters. Especially when I am uncertain about the exact name (Groom, Groom Q. Groom B., ...) this is unfortunate

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c2992ea2db77

[2022-05-02 16:06] EstebanMH-SiB opened #4054 "Delete a duplicated dataset in the portal"
We published this dataset in the IPT [Plantas de la Ecoreserva La Tribuna (Neiva, Huila) - Proyecto FIBRAS](https://doi.org/10.15472/p0tfdc), but for some reason it got indexed twice in GBIF.
- GBIF UUID:[130b6762-42f8-40cd-9f52-a9cd487fdbb1](https://www.gbif.org/dataset/130b6762-42f8-40cd-9f52-a9cd487fdbb1)
- GBIF UUID:[b7dadc8b-b78f-4e59-aa5d-ba8b13169810](https://www.gbif.org/dataset/b7dadc8b-b

[2022-05-02 17:28] MortenHofft commented on #4053
@mdoering if I understand correctly you mean that the suggest should be limited to the remaining results/hits right? So if I only have occurrences by `recordedBy:mdoring` left, then it will only show `mdoring` as a suggestion.

I sometimes feel the same, but this of course is not how any of our other suggest filters work either: e.g. taxonKey, country, dataset, publisher, collectionCode, etc. They

[2022-05-02 17:44] heresy0-0y commented on #4036
I was definitely confused.
Thank you both @MortenHofft  @ManonGros for the clarification !

[2022-05-02 22:11] mdoering commented on #4053
If that is the case I think it is wrong for all of the others too.
All other facet filters do that filtering and I would expect the same from the suggested filters. If you look up the basis of record for the above link it will just show numbers for the INSDC Sequence occurrences and not global results. You want to be able to dig deeper into the data by using the filters, not start from scratch.

[2022-05-03 07:10] ManonGros commented on #4054
Thanks for notifying us @EstebanMH-SiB, I have deleted the duplicate dataset. Let us know if you need anything else.

[2022-05-03 07:10] #4054 closed, assigned to ManonGros

[2022-05-03 07:49] MortenHofft commented on #4053
I'm a bit confused, since it has been like this forever. And is like that for all search. Species search including
https://www.gbif.org/species/search?dataset_key=046bbc50-cae2-47ff-aa43-729fbf53f7c5&highertaxon_key=1&advanced=1

Can you help me how to do a e.g. dataset suggest that is limited to the already filtered results (say I start with an Animalia filter). Isn't this something that requires

[2022-05-03 08:00] mdoering commented on #4053
You are right. It can't be done with what we have now in all areas. All suggests would have to go through the occurrence API then in order to do the filtering. But would that not be sth to strive for in the future? From my user perspective that is how I would like it to work. I guess I just expected the recordedBy to be driven by the occurrence API / Elastic already and therefore that it's handled

[2022-05-03 11:34] MortenHofft commented on #4053
Currently it is driven from ES, but an optimized suggest index that does not reflect other filters. Fede knows the details. But on the hosted portals I use a different approach where it could easily be made to work (though the UI might be confusing)

[2022-05-03 16:51] MattBlissett commented on #4020
Hi Annelie,

Bob or the colleague might have the original download -- they can see all their downloads at https://www.gbif.org/user/download

I'm almost certain no fields have been removed from the SIMPLE download format in the last few years.  https://doi.org/10.15468/dl.468zh3 is a download of this dataset from May 2020, and the locality field is blank.

The DWCA format contains all fields, and

[2022-05-04 10:04] visead opened #4055 "Cannot contact Helpdesk without login is problematic if problem is with registration"
Whilst trying to register, I became stuck in a loop that provided no useful feedback or contact possibilities other than registering a Github issue. This is suboptimal for the vast majority of users.

Problem (in Chrome):
Registration/login popup closes whilst filling in the form, seemingly randomly (perhaps connected to Windows background processes moving focus?)
Solution:
Switched to edge, creat

[2022-05-04 10:10] MortenHofft commented on #4055
Thanks Phil. That does sound annoying. I cannot reproduce it in chrome though. I just tried and created an account fine. I'm not sure how to proceed without more information.
If possible could you perhaps open the dev tools and see if you get any error messages?

[2022-05-04 10:12] MortenHofft commented on #4055
Did you use signup flow with entering an email and password or did you use one of the auth providers (Github, Facebook, Google)?

[2022-05-04 10:16] MortenHofft opened #4056 "Add helpdesk email as option in feedback"
Currently we only show the helpdesk email when users are logged in. This is a leftover for when we recieved lots of spam. It would make sense to show that as well as Github as an option for those users that have trouble logging in - or do not want to.

based on https://github.com/gbif/portal-feedback/issues/4055

[2022-05-04 10:27] visead commented on #4055
Hi Morten - typically, I can't reproduce this either now!
I suspect most of the problem is 'user error'...
The problem was whilst trying to signup with an email. However, before this problem occurred I had unsuccessfully tried to login through ORCID a few times, thinking I already had a gbif account (I should do, but it may be with an old email). The login told me 'no orcid connected to this accou

[2022-05-04 10:27] MortenHofft commented on #4056
closed by https://github.com/gbif/portal16/commit/a6abe47c535e4e6bb876ec4e572ddfdf16c8302c

[2022-05-04 10:27] #4056 closed, assigned to nobody

[2022-05-04 10:31] MortenHofft commented on #4055
I've updated the text to include the helpdesk email - it will be in production in a few minutes.

And yes - you need to connect to ORCiD for us to have access. Similar when connecting to Github and Google. If you haven't signed up with these services, then you need to explicitly link them through your [profile page](https://www.gbif.org/user/profile).

I will close this issue then. Thank you for r

[2022-05-04 10:31] #4055 closed, assigned to nobody

[2022-05-05 04:48] gbif-portal opened #4057 "Ascra should be an Animalia genus, not a Plantae"
**Ascra should be an Animalia genus, not a Plantae**

Ascra is a genus in Pentatomidae, but GBIF currently has it (and the species) in Kingdom Plantae.

Dos Santos, B. T. S., Da Silva, V. J., & Fernandes, J. A. M. (2015). Revision of Ascra with proposition of the bifida species group and description of two new species (Hemiptera: Pentatomidae: Edessinae). Zootaxa, 4034(3), 445-470.

-----

User: [

[2022-05-05 11:44] myrmoteras opened #4058 "treatment missing treatments, occurence in treatment article"
this recently uploaded treatment article is missing treatmens, material citation and in part of the dashboard

https://www.gbif.org/dataset/be7ce06e-df7d-4a1a-bc53-e4341fa53ee4

https://tb.plazi.org/GgServer/summary/2417FFFCFFD179772A69FFEEFFCAD673

![image](https://user-images.githubusercontent.com/4609956/166916378-d5159e51-110f-4da8-9b08-a8c14ff87f4a.png)

[2022-05-05 14:57] gbif-portal opened #4059 "Question about getting information of filed notes or labels from plant specimens"
**Question about getting information of filed notes or labels from plant specimens**

Dear GBIF team,

My name is Sebastián Ayala-Ruano, and I'm a research assistant at the Universidad de las Américas in Ecuador. I'm working on a project about using digitalized filed notes or labels from herbarium plant specimens to predict the phenology of plants from Ecuador for conservation purposes. Today, I d

[2022-05-05 15:02] gbif-portal opened #4060 "Question about getting information of filed notes or labels from plant specimens"
**Question about getting information of filed notes or labels from plant specimens**

Dear GBIF team,

My name is Sebastián Ayala-Ruano, and I'm a research assistant at the Universidad de las Américas in Ecuador. I'm working on a project about using digitalized filed notes or labels from herbarium plant specimens to predict the phenology of plants from Ecuador for conservation purposes. Today, I d

[2022-05-05 23:30] gbif-portal opened #4061 "Sarcophaga genus should be in Sarcophagidae not Tachinidae"
**Sarcophaga genus should be in Sarcophagidae not Tachinidae**

Sarcophaga Meigen, 1826 should be in Sarcophagidae family not Tachinidae.

E.g.
Buenaventura, E., & Pape, T. (2017). Multilocus and multiregional phylogeny reconstruction of the genus Sarcophaga (Diptera, Sarcophagidae). Molecular Phylogenetics and Evolution, 107, 619-629.

This seems to be part of a wider issue for Diptera in GBIF wi

[2022-05-06 08:56] CecSve opened #4062 "Authorship basionym not in brackets"
@thomasstjerne or @mdoering do you know the reason why the authorship name of a basionym is not in brackets sometimes?

The [name parser](https://www.gbif.org/tools/name-parser/about) documentation says it is 'usually' in brackets:
`The authorship in brackets. Usually the authorship of the original name, e.g the basionym. `
and that it is not in brackets when
`The authorship with no brackets. Usua

[2022-05-06 09:20] thomasstjerne commented on #4062
It looks like COL does not have the Basionym of [Lestes virens ](https://www.catalogueoflife.org/data/taxon/6Q2RK)
GBIF gets the Basionym from TaxRef and add it in the GBIF backbone build https://www.gbif.org/species/9011673. But the authorship is not changed (as this comes from the COL record)
Might be something to look into for the extended COL

[2022-05-06 09:28] gbif-portal opened #4063 "Dataset not indexing on GBIF.org"
**Dataset not indexing on GBIF.org**

A question has come in through Help Desk where a dataset is not being crawled even though there is no clear reason for why this is - it might be a bug:
-----------------------------------
I published today a [new dataset](https://www.gbif.org/dataset/4eb17049-8b26-43e6-902c-e45884634796) on GBIF.org, but the occurrences do not appear on GBIF.org yet (it's been

[2022-05-06 09:29] CecSve commented on #4063
@muttcg or @fmendezh maybe you can help with this issue?

[2022-05-06 09:49] SophiePamerlon commented on #4063
Thanks @CecSve for creating this issue for me! I can provide screenshots or other links if necessary.
Best,
Sophie

[2022-05-06 11:22] mdoering commented on #4062
GBIF has Lestes virens Charpentier, 1825 and [Agrion virens Charpentier, 1825](https://www.gbif.org/species/9011673) as its basionym. The later as THomas says from TAXREF. On their page the brackets do exist: https://inpn.mnhn.fr/espece/cd_nom/65202

So this seems to be a TAXREF DwCA issue. I guess we should at least flag those basionyms that do not have authors in bracket.

[2022-05-06 11:25] mdoering commented on #4062
The same is true for Libellula cecilia. Libellula nigra is coming from the IUCN redlist which does not show authorships at all on their site: [Libellula nigra](https://www.iucnredlist.org/species/165473/65834539)

[2022-05-06 11:33] CecSve commented on #4020
@MattBlissett could this solution be included in the SIMPLE download then?

[2022-05-06 11:50] bobmuscarella commented on #4020
Hi all -
I'm just seeing this conversation - thanks to everyone for trying to figure it out / find a solution!

Indeed, as @MattBlissett suggested, it seems my previous download is still saved (DOI10.15468/dl.yvbvb4).

In that dataset, the column "IndividualCount" has the abundance data.  There is no field for "LocationID" but the "locality" fields has all NAs.  So I guess I created my own locatio

[2022-05-06 12:19] nickynicolson opened #4064 "Monthly GBIF snapshots in MS planetary computer: 2022-04-01 and 2022-05-01 missing"
Listing the GBIF snapshot datasets available in the planetary computer shows that the most recent one is dated 2022-03-01, did an automated monthly process not run or is there an intentional pause? I understand that there are some differences being implemented (inclusion of all records for example), which may be related to this issue.

To reproduce:
Launch the example notebook on the hub (from htt

[2022-05-06 13:07] CecSve commented on #4063
Hi again @SophiePamerlon - the issue seems to be due to a (very) large data crawl from one of our publishers so it should fix itself. I will check again Monday and see if your dataset + logo has been updated.

[2022-05-06 13:40] MattBlissett commented on #4064
Ah, Microsoft mentioned this STAC API, but I hadn't realized it was now the primary example.  The problem does relate to the licencing change, and Microsoft should already be aware of it.

The Parquet files should be present in plain blob storage, as with the second example (which used to be the only example).

[2022-05-06 14:10] SophiePamerlon commented on #4063
@CecSve Thank you for the explanation, and glad to hear it's not directly linked to these datasets in particular :D I'll check them on Monday!

[2022-05-06 14:40] ahahn-gbif commented on #3916
See my comment in the linked issue plazi/community#150: the parsing error is not caused by the ampersands in the author team, but rather by a dash-impersonating character in the double name at the start (Brandão-Dias). Name parsing breaks off at that point. Replacing the dash leads to the expected parsing result. Should we consider to strip/replace suspected control-characters like this, also in n

[2022-05-07 01:33] gsautter commented on #4058
Looks like this was merely a timing issue ... the dataset landing page seems to be OK now.

[2022-05-07 11:00] gbif-portal opened #4065 "这根本不是二尾凤蝶Bhutanitis mansfieldi 而是二尾蛱蝶Polyura narcaea"
**这根本不是二尾凤蝶Bhutanitis mansfieldi 而是二尾蛱蝶Polyura narcaea**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/eda820afb4142e7226f50516ad70cc8a:521daddf59d8ade4dac6ce9bd13fab09facf98e8c8ca3889f82cc31ddae6e3d30d1fdf4129bbdbe5d2aa1d8400ffee88e53c7d705b51710744ea1aefd620150a8065f11448627cdcd4536f80d501a2f8a2b3e84e16dbe239f5960349bdef318d2403b11c8d094ed649c04065c0916b35f4358724274f229

[2022-05-08 03:12] gbif-portal opened #4066 "Incorrect location: Ohio, USA instead of Oio, Guinea-Bissau"
**Incorrect location: Ohio, USA instead of Oio, Guinea-Bissau**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/81769bacaa8b791d5ee1c867c2f1b267:afda61716b6281672e155b27df296b13eede43908d357c16fc6d3af4f36408acc583c14060a8be7b2e37e22c9bcc8945d3067428b9167eb20ca119fd7a1b265310cb0a43f3af9567c07730fa79978d32548389fa9a37175f160d0fa4ed84cc90e634b7f4e3d4c55d06ac2409f69b73084be6b85f

[2022-05-08 03:22] gbif-portal opened #4067 "Incorrect location: Equatorial Guinea, not Guinea-Bissau"
**Incorrect location: Equatorial Guinea, not Guinea-Bissau**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6d7a893cf5818cff860a00fe3de3386b:deaff731873d84c86076cd1221770882e5090f9c29efe3f8281995ffff0e25757ac6423eab7d54b28d42e349bfbc6ed4661f058d2aaa7684233ef604321fc109fa9125e67bd3fe70859d83c7a34c2184a630bfc3ca338c659fe113f5f81ece992a8a044a2cc0f93eddb3941b55936fc35400b817b05

[2022-05-08 03:31] gbif-portal opened #4068 "Incorrect location: Ostafrika, not Guinea-Bissau"
**Incorrect location: Ostafrika, not Guinea-Bissau**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1a24246991b4082a66a867897a4f819b:b3b7be07bb88a32fd6312bb229591114bed006249ec5d9575302af46aca800d03208c0501aebe97fb04c9874a908d44e8c028b30a262974a3b1b393b5b29077e785aa6080934af61089ee32fe2eb17e358cdce803a6a4d8b7340632b9b5a89b2b3697ba619662db4ce4ba00e02386fbf233d7e8709bdf3dc365

[2022-05-09 06:57] ahahn-gbif commented on #3916
Apparently replacing a Unicode hyphen (0x2010) with an ASCII minus (0x002D) in the source data corrects this issue. Closing.

[2022-05-09 06:57] #3916 closed, assigned to ahahn-gbif

[2022-05-09 07:23] thomasstjerne commented on #3920
Closing, for further info see https://github.com/gbif/portal-feedback/issues/3916

[2022-05-09 07:23] #3920 closed, assigned to nobody

[2022-05-09 07:25] #4058 closed, assigned to nobody

[2022-05-09 07:25] CecSve opened #4069 "Two spider species mismatched to the backbone"
A GBIF user has made us aware of a incorrect species occurrence (_Theridion maron_): https://www.gbif.org/species/2156900 and the issue appears to be due to a mismatch to the backbone.

For the species occurring in [Africa](https://www.gbif.org/occurrence/1224577912), the provided name is _Theridion marleyi_ (not in CoL) and for the species in [Alaska](https://www.gbif.org/occurrence/1320571852),

[2022-05-09 07:27] thomasstjerne commented on #4050
Closing, duplicate of https://github.com/gbif/portal-feedback/issues/4032

[2022-05-09 07:27] #4050 closed, assigned to nobody

[2022-05-09 07:54] MortenHofft commented on #4065
Google translate

[2022-05-09 08:54] anneliejonsson commented on #4020
Thanks a lot everybody!

/Annelie

[2022-05-09 12:27] ManonGros commented on #4059
duplicate of: https://github.com/gbif/portal-feedback/issues/4060

[2022-05-09 12:27] #4059 closed, assigned to nobody

[2022-05-09 12:39] ManonGros commented on #4060
Hi Sebastián,

Thank you for contacting us. I suggest select the `DARWIN CORE ARCHIVE` format for your download. This download format will include a file called `verbatim.txt`, which contains more of the field provided by the data publishers. For example: `occurrenceRemarks`, `organismRemarks`, `eventRemarks`, `fieldNotes` and `fieldNumber`.

Here is more information about the formats available an

[2022-05-09 12:39] #4060 closed, assigned to ManonGros

[2022-05-09 12:42] AbbyBenson commented on #4066
I'm confused by this one. When I click on the occurrence the map and all the information is recorded as Oio, Guinea-Bissau. I don't see anywhere OHIO is indicated except on the image itself but not in the data. Maybe the locality is not accurate for Oio, Guinea-Bissau?

[2022-05-09 12:56] ManonGros commented on #4066
@albenson-usgs It looks like the specimen label has been mis-transcribed and the wrong country and continent have been inferred from it.
The label and locality seem to indicate that the specimen was collected in the US, at Big Walnut Creek in Ohio: https://en.wikipedia.org/wiki/Big_Walnut_Creek and not in Guinea-Bissau.
The state province, country and continent should probably be Ohio, USA, North

[2022-05-09 13:05] AbbyBenson commented on #4066
Aha! Got it. I had the issue backward in my head. @gamblebnmnh can you take a look at this one?

[2022-05-09 13:20] ManonGros commented on #4039
@MortenHofft I just used the email button for the first time in real life! This is really convenient.
But I only noticed the subject of the email afterwards `GBIF issue 4060`. Could we replace it by `GBIF Feedback system - ticket 4060` or something like that? (Just to avoid the word "issue" for those who aren't familiar with the GitHub wording).

[2022-05-09 14:33] jhnwllr opened #4070 "Capitalizing the first letter in a name leads to 25K - 30K more unique name strings matching to the the backbone"
For example,

Simply changing
**a**cerates viridiflora (raf.) eaton
https://api.gbif.org/v1/species/match?name=acerates%20viridiflora%20(raf.)%20eaton
to
**A**cerates viridiflora (raf.) eaton
https://api.gbif.org/v1/species/match?name=Acerates%20viridiflora%20(raf.)%20eaton
leads to an **exact match**.

Running all of GBIF's  unique **uncapped first letter higherrank-flagged v_scientificname(s)**

[2022-05-09 18:17] gbif-portal opened #4071 "Random button"
**Random button**

I think a random species finder button would be a fantastic idea!! You could have varying levels of specificity like species/genus/family/kingdom! I think it would generate quite a bit of traffic to the website if advertised and shared around, as lots of artists and writers like me take a lot of inspiration from living things on earth, and the largest "random species generator"

[2022-05-10 08:47] MortenHofft commented on #4071
That is a nice idea. Here is a little sample if you want to get started and build a proper version of this. It isn't pretty - but it works enough for a demo :)

https://codepen.io/hofft/full/YzeqJEJ

[2022-05-10 08:59] MortenHofft commented on #4071
You are right - it is enjoyable browsing like this
https://www.gbif.org/occurrence/2863136097
https://www.gbif.org/occurrence/3381326307
https://www.gbif.org/occurrence/3764979625
https://www.gbif.org/occurrence/1055411634
https://www.gbif.org/occurrence/1317559539
https://www.gbif.org/occurrence/1570711560

Besides the UI, the linking/sharing thing would need to be worked on clearly.

[2022-05-10 11:00] gbif-portal opened #4072 "GB29 not showing in Events"
**GB29 not showing in Events**

I need to refer to a GBIF event page of GB29 in the participation related correspondence, but could not find the event

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/cb645d1b9b40e092c7b983a8ceaa8102:c5762a7d3008a25ca50bf7dda1086f3abe31de2e29645c8b41ede2473527ba244113fc5513211b31ab8fd0eed0f762b07bb10ce1be47717c93edaf2601

[2022-05-11 09:47] ManonGros commented on #4057
The issue has been corrected in the PLAZI dataset so this should be solved in the next backbone update.

[2022-05-11 10:46] CecSve commented on #4063
Data has been ingested and logo has been updated. I therefor close the issue.

[2022-05-11 10:46] #4063 closed, assigned to nobody

[2022-05-11 11:02] CecSve commented on #4068
I have contacted the node manager from Spain and asked if it is possible to update the dataset.

[2022-05-11 11:04] CecSve commented on #4069
@thomasstjerne did I report this in the wrong directory?

[2022-05-11 11:09] jhnwllr commented on #3915
https://identify.plantnet.org/the-plant-list/observations/1008278714
I have marked the observation as "Unidentified" using a plant net account.

[2022-05-11 11:31] jhnwllr commented on #3923
sent email to publisher

[2022-05-11 11:35] ManonGros commented on #4051
The information comes from Aphid Species File via the Catalogue of Life. As far as I can see, all of these pairs are `ambiguous synonyms`. Which are translated to synonyms in the GBIF backbone:

| pair | source link | type |
| - | - | - |
| Acyrthosiphon lactucae with Acyrthosiphon scariolae | https://www.catalogueoflife.org/data/taxon/9WKM | `ambiguous synonym` |
| Acyrthosiphon pisum with Acyrth

[2022-05-11 12:09] jhnwllr commented on #3959
sent mail to publisher

[2022-05-11 12:35] CecSve commented on #4067
The publisher has been contacted and asked to correct the country field.

[2022-05-11 12:38] gbif-portal opened #4073 "Extra D fror Dimi - typo?"
**Extra D fror Dimi - typo?**

-----

Github user: @dschigel
User: [See in registry](https://www.gbif.org/api/feedback/user/3df8d0fe3bcdf82d7bbb4f4963abf05e:2c618699760c0428505d7c0464e088cc5ad544b1007003264ca1d384f4f0d2db0700843b15477e2ac3b13f3237b2a5ab830dd13f439eb93381c00df1b3c871a715b784599b55c347ac1a079543282dab2442065d11ef2dd5c7d780e7c0ee07fe60145363bc14306660ae75b4cbc17fa448785b2114bc0db6119

[2022-05-11 12:59] CecSve commented on #3883
I am closing this @mdoering - let me know if it should be reopened.

[2022-05-11 12:59] #3883 closed, assigned to nobody

[2022-05-11 13:05] gbif-portal opened #4074 "The species name should be Delphinium oliverianum and not Delphinium ollverianum"
**The species name should be Delphinium oliverianum and not Delphinium ollverianum**

The species name should be Delphinium oliverianum and not Delphinium ollverianum

-----

Github user: @Adafede
User: [See in registry](https://www.gbif.org/api/feedback/user/d295bd8445e55828b60f8866303c8032:041f11f2ef1901b2621ec26ddfd3ca320c7ac2d30fa6963c1615cc24dbf85794eca9aa3350d701c68cc5aa57f94aeea5159d90b4e26

[2022-05-11 13:05] CecSve commented on #3761
From the [Name Parser](https://www.gbif.org/tools/name-parser/about)

bracketAuthorship
[code]

authorship
[code]

[2022-05-11 13:21] CecSve commented on #3761
According to the[ IUCN Red List](https://www.iucnredlist.org/species/22693356/93398351) the original name is now the synonym. This means, according to GBIFs name parser, that the authorship should **not** be in brackets, since the species has been moved into another genus since the original description. This corresponds to the findings of the paper from the [link ](https://www.jstor.org/stable/136

[2022-05-11 13:21] #3761 closed, assigned to CecSve

[2022-05-11 13:24] #3965 closed, assigned to jhnwllr

[2022-05-11 13:25] CecSve commented on #3153
This issue is relevant for the documentation work as well https://github.com/gbif/portal-feedback/issues/4020

[2022-05-11 13:33] jhnwllr commented on #3932
wrote to publisher

[2022-05-11 13:57] CecSve commented on #3469
I have contacted the French node manager and asked whether there was new contact information for the publisher as I noticed we have send a couple of emails to them during the last year with no response.

[2022-05-12 08:38] gbif-portal opened #4075 "Does the threat parameter in species API query is implemented ?"
**Does the threat parameter in species API query is implemented ?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/a68f42e5a83f37b6de3a4633b69ae8f3:ee361ba4411eb8d28858a14882989793c747ce885d6c3ecde500ed02d8903cc1bb24b2e45b120d018006e571d6699706fe7ad90a80eac1bc93a17eb6d5b68b657643d127d1551f1cc81eb47f7183a4307fab6f54739a4221fb89d23cf05e4bdb8f29870eaf7a4120e3cebd2b0ca1a4b949c1

[2022-05-12 09:29] MortenHofft commented on #4075
Seems to work.

Available values https://api.gbif.org/v1/enumeration/basic/ThreatStatus
[code]

https://api.gbif.org/v1/species/search?threat=VULNERABLE 46521 results
https://api.gbif.org/v1/species/search?threat=NEAR_THREATENED 29765 results

@mdoering should the API be updated to remove the text `Not yet implemented, but will eventually allow for filtering by a threat status enum` ?

[2022-05-12 09:41] mdoering commented on #4075
Looks like we should, yes!

[2022-05-12 09:49] melissa0520 commented on #4065
This suggestion was already sent to the publisher(cc with the user).

[2022-05-12 12:23] #4075 closed, assigned to nobody

[2022-05-12 12:24] MortenHofft commented on #4075
Great - I've update the documentation and it will be in production shortly.

[2022-05-12 13:52] jhnwllr commented on #4070
These are the top datasets which **do not capitalize** the first letter in their v_scientificname, which leads to higherrank matches to the GBIF backbone.

|datasettitle                                                                                                            | num unique names| num occ|link                                                                      |
|:-----------------

[2022-05-12 14:24] gbif-portal opened #4076 "Occurrences of Dipsacus syvestris/Dipsacus fullonum not shown."
**Occurrences of Dipsacus syvestris/Dipsacus fullonum not shown.**

Most sources treat Dipsacus sylvestris Huds. as a synonym of Dipsacus fullonum L., but here it's the other way around, so I would expect the occurrence records for D. fullonum to appear here, but they don't.  I don't see them under D. fullonum or anywhere else on GBIF. This is misleading as it shows this species to be fairly uncom

[2022-05-13 21:55] gbif-portal opened #4077 "Greetings sir and madam, I am Ben Mehrez Mayssem, a research student at the higher institute of management of Tunis. I am currently doing my master thesis about climate change, im asking you to send me a database about biodiversity (number of species of Europe, The United States, China and Canada). I will be so grateful and thank you very much."
**Greetings sir and madam, I am Ben Mehrez Mayssem, a research student at the higher institute of management of Tunis. I am currently doing my master thesis about climate change, im asking you to send me a database about biodiversity (number of species of Europe, The United States, China and Canada). I will be so grateful and thank you very much.**

-----

User: [See in registry](https://www.gbif.

[2022-05-15 13:11] gbif-portal opened #4078 "The coordinates for this specimen are incorrect, Matatiele is in the Eastern Cape province. This record was published (incorrectly) too."
**The coordinates for this specimen are incorrect, Matatiele is in the Eastern Cape province. This record was published (incorrectly) too.**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/6b5536e49356a115ada2dd354399aece:c9ab3610c458d07f485cd8a69b170a5e75f0e7f45deb4e245d1347f545d8c8468f948b5c0204b8fbe03e8761fb6c101e707b2aeca49c782970ce6fec7fd35fe284e6ce18eeb2277d645044e966d

[2022-05-15 13:30] gbif-portal opened #4079 "The longitude is incorrect, probably a typo by the author. It is currently in a dune field and far from Naukluft. I assume the longitude should have been 16deg 10min"
**The longitude is incorrect, probably a typo by the author. It is currently in a dune field and far from Naukluft. I assume the longitude should have been 16deg 10min**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/8bfa4891620f7e7ddf0916a809afebdb:0d9cd166f263cbeeb472676b209aed54b31145bed71331c71fad82cc6a0aac0b19810165666af41a497e80e5ac3e179489cc107efeb36213bb25ab8b9fb1ac

[2022-05-16 07:51] gbif-portal opened #4080 "Add button to download aggregated statistics on dataset and publisher pages"
**Add button to download aggregated statistics on dataset and publisher pages**

Not many publishers know that they can use the API to get and CSV files of aggregated download statistics.
When publishers write to helpdesk, we usually send them API calls like `https://api.gbif.org/v1/occurrence/download/statistics/export?datasetKey=84b18cce-083a-4464-bee8-25b2083a17cd`. But I think some people are

[2022-05-16 08:26] myrmoteras opened #4081 "title of basis of record filter results should be changed?"
https://www.gbif.org/occurrence/search?basis_of_record=MATERIAL_CITATION&occurrence_status=present

![image](https://user-images.githubusercontent.com/4609956/168549288-e068e876-b466-4ed1-9451-82e5a7a94f68.png)
It seems that the title of the results of the occurrence search, filtered for eg "material citation"  or "occurrence" should be "material citation"  or "occurrence"

[2022-05-16 08:30] myrmoteras opened #4082 ""occurrence" with two meanings"
the new basis of record breaking the "traditional" occurrence into various types, among others "occurrence". With that there is on the same page occurrence in the old sense, and occurrence as a new basis of record, which is a subset of the occurrence in the old sense.

Any thoughts about this  issue, leading to discussions...https://www.gbif.org/occurrence/search?basis_of_record=MATERIAL_CITATION&

[2022-05-16 12:22] ManonGros commented on #4077
The user also wrote to helpdesk and we answered by email.

[2022-05-16 12:22] #4077 closed, assigned to ManonGros

[2022-05-16 13:54] gbif-portal opened #4083 "Data in download is very different from what was published"
**Data in download is very different from what was published**

* The value in verbatimScientificName is the same as in the interpreted scientific name. We are not actually keeping the original name. For example, for this record https://www.gbif.org/occurrence/3437209314, the verbatimScientificName should be Nephrosperma vanhoutteana Balf.f. but in the download it is Nephrosperma van-houtteanum (H

[2022-05-16 14:27] MattBlissett commented on #4083
The coordinates and verbatim names seem to be from crawl 13-18, published on 1 April.

The download is from 15 May 03:21 UTC.

The updated dataset with more accurate coordinates and different scientific names, published on 14 May, was not ingested until 16 May due to some problem (I'm not sure who looked at this, it wasn't me).

I don't see an issue with the elevation, can you give an example?

[2022-05-16 14:39] ahahn-gbif commented on #4083
Sorry for that, Matt, that last part about the elevation is likely unrelated. (My installation of) Excel seems to have got less smart in automatically interpreting field types during import since it last updated, and imported all decimal values as integers, silently dropping the decimal point to increase the value by 10. This is an import error though, nothing to do with the export production.

[2022-05-16 17:19] MortenHofft commented on #4081
My intuition is that it isn't really feasible to do these kind of changes as long as we treat material citations as occurrences in all ways but the basisOfRecord. I guess the same could be said if your basisOfRecord is a specimen, then the title shouldn't read occurrences, but `Search specimens`?

Giving material citations a proper place is a good idea, but perhaps the solution is a separate searc

[2022-05-17 06:50] muttcg commented on #4083
I [repeated query](https://www.gbif.org/occurrence/download/0284091-210914110416597) and everything is correct, also I checked previous version (dwca source) of that record and it has value "Nephrosperma van-houtteanum (H.Wendl. ex Van Houtte) Balf.f."
Dataset source was updated after user made the download.

[2022-05-17 06:50] #4083 closed, assigned to nobody

[2022-05-17 07:50] ManonGros commented on #4083
thanks @MattBlissett @muttcg ! I was scared for a moment

[2022-05-17 08:13] gbif-portal opened #4084 "GBIF interprets the Plazi record as from the country Colombia. However, this is a species only known from the USA. The treatment cites "Material Examined. Florida: Colombia Co : ", I'll assume that is the source of the error. To my knowledge Annette Braun never was in Colombia. Erik van Nieukerken"
**GBIF interprets the Plazi record as from the country Colombia. However, this is a species only known from the USA. The treatment cites &quot;Material Examined. Florida: Colombia Co : &quot;, I&#39;ll assume that is the source of the error. To my knowledge Annette Braun never was in Colombia. Erik van Nieukerken**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/fe475a9c7c50

[2022-05-17 12:27] gbif-portal opened #4085 "alphanumric requirement in the Event form"
**alphanumric requirement in the Event form**

I tried to submit the event description text but the following did not pass the alphanumeric requirements:

"Turning the Internet into a meaningful data space. Successful management, exchange and interpretation of knowledge in an ever-growing information tsunami will depend on highly automated methods dealing with combined data. This will require arti

[2022-05-17 12:36] MortenHofft commented on #4085
Thanks @dschigel
I need a bit more context. What do you mean submit?
Did you do [a search](https://www.gbif.org/resource/search?q=Turning%20the%20Internet%20into%20a%20meaningful%20data%20space.%20Successful%20management,%20exchange%20and%20interpretation%20of%20knowledge%20in%20an%20ever-growing%20information%20tsunami%20will%20depend%20on%20highly%20automated%20methods%20dealing%20with%20combine

[2022-05-17 12:42] dschigel commented on #4085
PLease try suggesting an Event from https://www.gbif.org/resource/search?offset=20&contentType=event and use my text for decription (taken from the event's website). This is a Google form that is linked from GBIF.org, maybe @akristensen knowns more

[2022-05-17 13:32] gbif-portal opened #4086 "location of specimen ID 3012058 is incorrect."
**location of specimen ID 3012058 is incorrect.**

location of specimen ID 3012058 is incorrect. The image indicates Valparaiso Region, Playa Las Conchitas (-32.771131992302905, -71.5274434043684) and Playa Los Enamorados (-32.76909031235362, -71.52991496714365).

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/8eeb6a5aef04c73022b8f0c2d43218c5:9178dc6a608e9b80da4f70b3e91647af

[2022-05-17 18:30] MortenHofft commented on #4085
Thank you. So it is related to the Google form linked to from https://www.gbif.org/suggest-event
Let us hope @akristensen knows more

[2022-05-18 07:03] akristensen commented on #4085
@dnoesgaard apparently there is a small bug in the form, see Dmitry's comments above.....

I think it is because there is a max. amount of text you can add to this box....maybe we can specify how many characters can be used for the description?

[2022-05-18 07:20] dschigel commented on #4085
At the same type I heard @kcopas requesting better event descriptions - which is not necesserily contradiction with a charachter limit, likely on the contrary, but just a flag anyhow

[2022-05-18 07:46] kcopas commented on #4085
Yeah, not really the same point.

[2022-05-18 07:46] akristensen commented on #4085
I agree about the lack of description Dmitry. This was meant as an information to Daniel, as it seems to be the character limit that has caused the block you have experienced.

[2022-05-18 08:19] dnoesgaard commented on #4085
There was a filter on which characters were allowed in the description to avoid problems with the code. I've removed this filter now and instead encoded the field. I've instructed @akristensen on how to deal with this moving forward.

[2022-05-18 08:19] #4085 closed, assigned to nobody

[2022-05-18 08:30] akristensen commented on #4072
To my knowledge Anne Mette and GB29 prep team will have the site ready in JUNE. I will check up with her today.

[2022-05-18 08:39] anmnielsen commented on #4072
@akristensen @dschigel - Yes, the information and registration site for GB29 will only be up and running mid-June.  If you think it would be useful we can have an event set up now with just information about the dates + location, and saying that the info site will be released in June and GBIF delegates will be notified when it is available.  Would that be an option?

[2022-05-18 08:54] dschigel commented on #4072
No hurry - I simply went to GBIF Events to double check the GB dates, and found nothing - so flagged it here.

[2022-05-18 08:54] #4072 closed, assigned to anmnielsen, akristensen

[2022-05-18 08:59] ManonGros opened #4087 "Feedback - location occurrences - NMNH Extant Specimen Records (USNM, US)"
One user wrote to helpdesk reporting the following issues/suggestion for the locality/province associated with occurrences from the [NMNH Extant Specimen Records (USNM, US)](https://www.gbif.org/dataset/821cc27a-e3bb-4bc5-ac34-89ada245069d) dataset.

| occurrence | link to source | collection code | feedback message |
| - | - | - | - |
| https://www.gbif.org/occurrence/1317784876 | http://n2t.net/

[2022-05-18 23:04] gbif-portal opened #4088 "Identifier in exponential notation"
**Identifier in exponential notation**

The multimedia identifier for this occurrence is displayed in exponential notation https://collections.nmnh.si.edu/media/?i=1.00692e+07 This may be a bug in the originally source where a string has been interpreted as a number.

-----

Github user: @rdmpage
User: [See in registry](https://www.gbif.org/api/feedback/user/2f224c413cb0c0e79a7e90ce3c19468d:dc7ae8

[2022-05-19 08:23] gbif-portal opened #4089 "Map API examples: page 400 error?"
**Map API exxamples: page 400 error?**

The example URLs given for the map API look as though they should work from a browser URL. I just get a page displaying a large red "400" though (Bad Request Error). Is there any change needed, or are there known problems?

Tested on three browsers (Firefox, Chrome, Edge) with the same result.

-----

User: [See in registry](https://www.gbif.org/api/feedback

[2022-05-19 08:27] MattBlissett commented on #4089
Do you mean the URLs like `https://api.gbif.org/v2/map/occurrence/density/{z}/{x}/{y}@1x.png?style=purpleYellow.point`? The `{z}/{x}/{y}` needs to be replaced with a valid coordinate, like `0/0/0`.

They are shown like this as it is the format for using them in OpenLayers, Mapbox, Leaflet etc.

[2022-05-19 08:32] ahahn-gbif commented on #4089
Ouch! Thanks! I assumed they directly related to the snapshot to the right - all good, closing.

[2022-05-19 08:32] #4089 closed, assigned to nobody

[2022-05-19 10:26] CecSve commented on #4087
@gamblebnmnh in the GBIF Secretariat we have been notified of a user submitting several issues through our feedback system to a dataset you may be able to help us update. Each of the issues should have been send directly to your organization as well, but we have compiled them in the table above.

[2022-05-19 10:39] CecSve commented on #4068
Node manager is contacting the curator

[2022-05-19 10:41] CecSve commented on #4067
Should be updated through the next update of the dataset

[2022-05-19 12:46] timrobertson100 commented on #4088
I saw the tweet and have written to the publisher CCing helpdesk before I found this GH issue

[2022-05-19 12:53] rdmpage commented on #4088
Thanks Tim, I meant to add this issue to the tweet but, as usual, got distracted by the next shiny thing...

[2022-05-19 23:02] sylvain-morin opened #4090 "Sort the criteria in Simple and Advanced filter criteria list"
Hello,

Everytime I showcase the GBIF portal, I'm wondering: why don't you sort the filter criteria list?

For exemple, I often demo the "Is in cluster" criteria, in the loooong advanced criteria list.
And I'm always scrolling up and down several times before finding it...

Any reason why it's not sorted?
If the non alphabetical order is wanted, maybe we could have an input to filter the filter cr

[2022-05-19 23:30] sylvain-morin commented on #4053
Hi @MortenHofft ,

Did you or your team implement such approach on the hosted portals recently?

I had this idea in mind for several weeks (when we discovered the hosted portals) and I was on the edge to submit it... but I can't reproduce it anymore for "dataset" criteria for example !?

Indeed, on gbif.org portal, I understand it's complex to filter suggestions based on the other selected criteri

[2022-05-20 06:17] MortenHofft commented on #4053
Hi @sylmorin-gbif and thank you

**Short answer:** yes I will try to restrict suggestions to the data in scope.

**Loooong answer:**
We have a long standing issue here https://github.com/gbif/hosted-portals/issues/187

For GBIF.org as well as for the hosted portals we use our standard autocompletions/suggestion endpoints. Those are fast. But the downside is that they are not filtered - not by the

[2022-05-20 06:31] MortenHofft commented on #4090
At least to begin with we tried to group the filters into categories. So e.g. `collectionCode`, `institutionCode`, `collectionName`, `institutionName` would go next to each other.

The simple options are the ones we either want to highlight are are used the most (I'm not sure how e.g. `CoordinateUncertainty` made it to the simple filters). And it felt wrong to reshuffle them when expanding with ad

[2022-05-20 08:10] gbif-portal opened #4091 "metadata dataset with occurrences?"
**metadata dataset with occurrences?**

I suspect this dataset type is incorrect, and someone could perhaps inform the publisher?

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/7df5daea1528c57a2f7cb52d3b459013:afb4f74a5addbdf4c32dcfc389504d2393856cb8452d1728ee3bcdaf82b7549adb3066f1292322d852a66e5ae68f21ac2daf827092627cf79c46503e214034295a200b8d23d42

[2022-05-20 08:34] CecSve commented on #2419
Ping @peterdesmet

[2022-05-20 08:38] sylvain-morin commented on #4090
Great !
The More button opening the criteria list (with a filter input) of the hosted portal will be great.

Even if, when we are new to the portal, having all the criteria like in the current UI is faster to test/understand them (rather than selecting them one by one from the More popup). But that's a UX concerns :)

[2022-05-20 08:45] sylvain-morin commented on #4053
Thank for this detailed answer!
It was crystal clear - I can really feel how much work it implies (like migrating from static country list to a country list coming from the data scope, etc)
Good luck for the next developement, it's great to know you are working on it (I will share this info to my colleagues at GBIF France)

[2022-05-20 10:38] MortenHofft commented on #4090
Yes it is very tricky to find a good solution for all use cases I find. I was pondering having a little description for each of the filters. That might help for what you are describing.
Other ideas (and ideally mockups) are very welcomed.

[2022-05-20 11:08] gbif-portal opened #4092 "wrong locality ? Zygaena sedi"
**wrong locality ? Zygaena sedi**

This page contains a record which could be wrong  : Zygaena (Agrumenia) sedi kocaki probably mislabeled from France. This taxon doesn't exist in France

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/c68535c511a8f8c52756b4f2f38ed0d8:1cb4f2bb6fdd7f2f18eb4e489f4abb33f2a7ee9211f3d38d52a7e40397c06149b7174681148017f75b61ba9ee458537e73831f0f97ee4

[2022-05-20 12:52] peterdesmet commented on #2419
Sorry for my late reply! Yes, including the following is reasonable and helpful:

- If the time of the event is know, include it together with date in `eventDate`, ideally as an ISO 8601 formatted string in UTC (e.g. `2020-04-11T06:02:39Z`).  Omit the time if it is unknown (e.g. avoid false precision `2020-04-11T00:00:00Z`).
- Optionally, the time can be included as local time in `eventTime` in ad

[2022-05-20 13:13] CecSve commented on #2419
@ahahn-gbif and @ManonGros as this is a discussion that you had before my time, I will leave it up to you to apply the changes (but please show me how you do it!)

[2022-05-21 08:15] gbif-portal opened #4093 "Remove duplicate dataset"
**Remove duplicate dataset**

The dataset

"Crustacea collection of the Finnish Museum of Natural History"  https://doi.org/10.15468/8cse43

is now fully contained as part of the dataset

"Invertebrata varia (Luomus)" 10.15468/h37nwv

I am the administrative point of contact for both datasets.

Please could the first dataset be removed to avoid duplication.

thank you

Risto Väinölä, Senior Curato

[2022-05-23 06:52] ManonGros commented on #4091
@dnoesgaard it says "metadata-only" because all the occurrences were removed from the dataset. But because of our safeguard, they haven't been deleted from our index. I wanted to check if there was any comment on the IPT side explaining why the occurrences have been removed but they seem to have some issue: https://ipt.pensoft.net/resource?r=database_fish_urban_tsurumi. I have contacted Pensoft to

[2022-05-23 07:17] ManonGros commented on #4093
Dataset deleted and use notified.

[2022-05-23 07:17] #4093 closed, assigned to ManonGros

[2022-05-23 11:49] gbif-portal opened #4094 "Deleted occurrence from a valid research-grade observation from iNaturalist"
**Deleted occurrence from a valid research-grade observation from iNaturalist**

Hello, is it possible to know why this occurrence was deleted on GBIF.org, whereas it's still available on iNaturalist as a research-grade observation? (see https://www.inaturalist.org/observations/67484466 ). Its addition to iNat dates back to early 2021 so it probably isn't an issue with it being too recent to be in

[2022-05-23 11:51] ManonGros commented on #4091
Pensoft fixed the issue. All looks coherent now.

[2022-05-23 11:51] #4091 closed, assigned to ManonGros

[2022-05-23 13:39] CecSve commented on #4094
@muttcg - @jhnwllr and I cannot figure this out. The occurrence is licensed correctly (BY-NC) and it received the research grade a year ago but it seems to be deleted by iNaturalist although iNaturalist link to the GBIF occurrence.. do you know what might be going on? We tried to find the occurrences (maybe a dead link), but it seems like it is really missing

[2022-05-23 13:57] CecSve commented on #4090
In the risk of making it overly complicated - an idea could be to have the description of the filters in the technical documentation so the description is updated with the documentation is updated? This could perhaps also make it easier in the future to add more filter options to the 'more' category.

Another thing, I really like the examples of searches that are already a feature in the search!

[2022-05-24 10:05] gbif-portal opened #4096 "Show coordinateUncertainty on map"
**Show coordinateUncertainty on map**

On occurrence pages, I think it would be useful to visualize the `coordinateUncertaintyInMeters` as a circle on the map. It helps to understand the occurrence in the context of its location and its a better representation of where an occurrence was observed/collected. Currently too much attention goes to the center, while it can actually be anywhere in the ci

[2022-05-24 12:06] MortenHofft commented on #4096
Thanks
We do show the uncertainty normally
e.g. https://www.gbif.org/occurrence/3424493344

I'm not sure why it isn't shown in the case above. Perhaps because it is so relatively small (10m)

[2022-05-24 12:13] peterdesmet commented on #4096
Oh cool! Is there indeed a cutoff at which point it is no longer show?

[2022-05-24 12:17] MortenHofft commented on #4096
https://github.com/gbif/portal16/blame/master/app/views/pages/occurrence/key/occurrenceKey.ctrl.js#L160
yes there seem to be. I added that in the first version 7 years ago. I will remove it, or perhaps set the cutoff to something less

[2022-05-24 12:20] #4096 closed, assigned to nobody

[2022-05-25 12:26] gbif-portal opened #4097 "GRIIS list now showing at country page for .bg"
**GRIIS list now showing at country page for .bg**

This https://www.gbif.org/dataset/d015d9e7-9eed-47c6-a0cd-62c627ad1e8b I beleive should be linked fomr the country page? I will show a standalone dataset in the ministry tomorrow, but I think we need to fix this. Perhaps there are other no-display cases for the GRIIS datasets?

-----

Github user: @dschigel
User: [See in registry](https://www.gbi

[2022-05-25 12:28] dschigel commented on #4097
Also, in case it matters with the discussions with the IT of CBD with @timhirsch, the list is not linked from the CBD party page https://www.cbd.int/countries/ias/?country=BG

[2022-05-25 12:29] dschigel commented on #4097
Also, clicking Taxonomy from this dataset does not show the pie chart, but links to Animalia in backbone and "back" button does not send you back anymore... looks like a bunch of issues here

[2022-05-25 14:15] ahahn-gbif commented on #4097
As Matt points out, the base reason is that the keyword in the dataset metadata is using the wrong spelling (Country_BG instead of country_BG). Notified Shyama and hoping for a fix to be applied soon.

[2022-05-25 14:15] MattBlissett commented on #4097
Antarctica and the Saint Helena datasets also have this problem (Country_AQ, Country_SH-TA, Country_SH-AC, Country_SH-HL).

I'm not sure the taxonomy button is doing anything wrong (except the back button problem), but I can't remember. Did you mean to use the Metrics button?

[2022-05-25 14:18] dschigel commented on #4097
Thanks for picking the case; @MattBlissett there is no Metrics button on the GRIIS dataset, only Taxonomy which does not show me the pie chart I need

[2022-05-25 14:20] ahahn-gbif commented on #4097
I would expect this in the metrics tab, as in this case for Togo: https://www.gbif.org/dataset/bd5ac264-bc88-4ee8-8fbb-e16247e1119c/metrics

[2022-05-25 14:24] dschigel commented on #4097
Me too, but compare to https://www.gbif.org/es/dataset/d015d9e7-9eed-47c6-a0cd-62c627ad1e8b

[2022-05-25 14:28] ahahn-gbif commented on #4097
seems to be ok now: https://www.gbif.org/es/dataset/d015d9e7-9eed-47c6-a0cd-62c627ad1e8b/metrics

[2022-05-25 16:55] gbif-portal opened #4098 "download broken"
**download broken**

have tried to download 777K+ records from US three times today and no go. Latest is:
https://www.gbif.org/occurrence/download/0309200-210914110416597

Can you help?

Annie Simpson
asimpson@usg.gov

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7667978df53df7dcc87b4cf9eb35ad53:9e1ba7f42a6fac1889fb9e05001eeb32eb9ec4c423cd80d1a8115aa1d5482f77878110353f32dd

[2022-05-25 18:33] gbif-portal opened #4099 "Is there a lookup table for GADM data?"
**Is there a lookup table for GADM data?**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/ef2fcf1e2b9bae9f7e60521fa268ec04:fbfc8c5f2211e202c6ad83efd7b6f52137c956ee304b57f9c55e9518d40bc813869e34a26cda2515c704375d299ba156f5df17a3788be3272dc09e3796c7e76d2ffcf857268620f1cc83856cb9d30f2676b015a4fcb834d8cd44db673e0a9ffddcec33b4f980b5ea00c2eb68a9a0da7483efcb39db53856577fb56f24ee94

[2022-05-25 22:33] tmyersdn opened #4100 "content issue: Camellia x williamsii"
Hi, just running into a few problems with garden plant Camellia x williamsii

Please see record: https://www.gbif.org/species/3590574

The genus match is odd (Camellia S.Ye Liang & D.J.Dong) which postdates the name publication

The family name is returned as Asteropeiaceae odd as looking at the data source, ThePlantList, its successor worldfloraonline.org and at IPNI/POWO, "Theaceae" is returned

[2022-05-26 14:09] asimpson-usgs commented on #4098
Tried again today; a different smaller download had no issue:
Download Information
DOI: [https://doi.org/10.15468/dl.5xjkpc](https://doi.org/10.15468/dl.5xjkpc)
Creation Date: 13:59:59 26 May 2022
Records included: 1413 records from 2 published datasets

Am trying again with establishmentMeans=introduced but adding parameters to make it very small.

[2022-05-26 14:17] asimpson-usgs commented on #4098
Tried this search, 100+ records, with establishmentMeans = introduced, species = Alliaria petiolata, for US:
GBIF.org (26 May 2022) GBIF Occurrence Download  [https://doi.org/10.15468/dl.cfqpx5](https://doi.org/10.15468/dl.cfqpx5)
and it came through with no problem.
So my assumption is that the issue may be related to the size of the download. Do I need special permission to download 777K+ record

[2022-05-26 14:30] asimpson-usgs commented on #4098
Download key: 0313290-210914110416597
Latest failure is for download request that is equal in every way to the successful request except scientificName specified (which made download small):
GBIF.org (26 May 2022) GBIF Occurrence Download  [https://doi.org/10.15468/dl.ahzsh5](https://doi.org/10.15468/dl.ahzsh5)
So I have to conclude this is a 'request exceeds maximum allowed download size' issue.

[2022-05-29 07:00] gbif-portal opened #4101 ""Collection match none" and "Institution match fuzzy""
**&quot;Collection match none&quot; and &quot;Institution match fuzzy&quot;**

HARG (herbarium of the University of Hargeisa) has 515 records (almost all of them) with collection match none and the same number with institution match fuzzy. How do I address these?

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/ad78e2b92bd0c3a2d73b63976863169d:f9430d70fa6a76bf490de7960d5f72bf

[2022-05-30 10:31] MortenHofft commented on #4097
I'm not sure why the metrics tab wasn't showing, perhaps there was an API outage or the data wasn't indexed yet?

The back button issue I understand it was introduce recently
https://github.com/gbif/portal16/commit/9267479e9b92668fe8dd4b75609762db47faad0d

[2022-05-30 10:32] #4097 closed, assigned to MortenHofft

[2022-05-30 10:33] MortenHofft commented on #4097
Am I correct in closing this @dschigel ? It seems there is no issues after all except the back button which I have just fixed. If I misunderstand then please reopen.

[2022-05-30 15:36] sylvain-morin opened #4102 "Sum the number of citations from former datasets"
In some cases, we have to replace an existing dataset by another one.

We can keep track of this change, thank to the "Deleted" and "Replaced by" annotations by GBIF

For example, this one has been deleted https://www.gbif.org/dataset/7732b10e-7845-434a-b1a7-173e10f21d9a, and replaced by this one https://www.gbif.org/dataset/eed49c61-2085-46c4-8d4f-d2cda50fd404.

The former citations will lead to

[2022-05-30 19:24] MattBlissett commented on #4098
Sorry Annie, I forgot to reply to this on Friday.

The problem was on our side, where the "IN" query didn't work correctly on the new, vocabulary-aligned establishmentMeans term ("equals" did).  It should work now.

[2022-05-30 19:24] #4098 closed, assigned to MattBlissett

[2022-05-31 07:18] MortenHofft commented on #4102
@ManonGros and @dnoesgaard will it always make sense to just look at the sum of citations when there is a `duplicateOfDatasetKey`? If so then we could do so in the literature API during processing?

[2022-05-31 08:49] dnoesgaard commented on #4102
Good question. I think I'd need to better understand how/when `duplicateOfDatasetKey` is used...

[2022-05-31 08:53] ahahn-gbif commented on #4102
Thanks for highlighting this!

We had discussed options when the reference to previous, deleted datasets was first established, and had decided against just merging the citation counts: an earlier version of a dataset that was then deleted and replaced can be quite different in content from a later one, and the citation was clearly on the earlier version. I think there is a related GitHub issue on

[2022-05-31 08:55] ManonGros opened #4103 "Ways to share sensitive species data?"
This is an exchange from Helpdesk.
One of our publishers is making two datasets:

- one with rounded coordinates
- and one of with precise location of sensitives species.

The first one will be registered and available on GBIF, the second one will be private on an IPT. The idea is that people interested would be given an account on the IPT and assigned to the dataset so they can access the data.

[2022-05-31 09:18] sylvain-morin commented on #4102
@ahahn-gbif probably this one: https://github.com/gbif/portal-feedback/issues/1506 (from 2018)

[2022-05-31 09:30] ahahn-gbif commented on #4102
That's the one - thanks!

`duplicateOfDatasetKey` is an attribute of a "dataset" in the registry that holds the UUID of another dataset entity that is maintained, while the one marked as duplicate-of is deindexed and virtually deleted. Several deleted datasets can reference the same retained one, but not the other way around (as in: dataset mergers or multiple competing deleted versions are suppor

[2022-05-31 09:37] gbif-portal opened #4104 "The authorship of Hydropessum kannemeyeri is Broom, 1909 (as the genus), not Broom, 1913"
**The authorship of Hydropessum kannemeyeri is Broom, 1909 (as the genus), not Broom, 1913**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9e4d7c6904fc54cff2598c5cc1352203:023edde58326c553484a941eef36b1fa3a5887dff37ba3532fbfc5c5f52754be46b108de903bac80c9c46411206803e4a0eda0f66dbdff0ccde2f6c66d26a1fe7e33ce7eca33736959a20bb4393a6b87e56be049b6da23ede93a88a1b355545ad291b9e2141

[2022-05-31 10:16] gbif-portal opened #4105 "Authorship is Helichthys browni Broom, 1909, not 1913"
**Authorship is Helichthys browni Broom, 1909, not 1913**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/1731975bb34e1d1ddd8f97dc1595a4e1:bc3d81284f3b664019599e510386d7863acce85e8b5fccf0c331beb84b34b410e5f382e566be07f4c148f721ef5035353ca11f006a4f3d7a3ca8081738284711250399b1211f38f698b453db8b1f2097f456936a52f1c23ae6117220fdde84871b1c6862ba194ceb8df7b838748559a2) - [Send emai

[2022-05-31 10:19] MattBlissett commented on #4102
Also https://github.com/gbif/portal-feedback/issues/2834

[2022-05-31 10:39] ahahn-gbif commented on #4102
@dnoesgaard, what is your take on merging citations for different versions (including earlier subsets, or substantially reworked data publications) from the data citation viewpoint, please?

Each citation would hopefully still refer to the originally existing dataset and come with a date, only that the scope of the data cited could be substantially different between versions. On the other hand, th

[2022-05-31 12:43] jhnwllr opened #4107 "Should we fill in dwc:coordinateUncertaintyInMeters for those that fill in dwc:footprintWKT?"
Currently, GBIF does **not** do any interpretation of the **dwc:footprintWKT** column even though there are over **126M** occurrence records using this field.

Below is a table of the **top footprints** publishers have supplied to GBIF:

|wkt_string         |  occ_count|
|:------------------|----------:|
|NULL                 | 2020835545|
|POLYGON            |  126685705|
|POINT              |

[2022-05-31 13:27] ManonGros opened #4108 "Increase limit for query of the literature"
The literature search is limited to 10,000 records (https://www.gbif.org/developer/literature).
Would it be possible to increase this limit?

Right now, if someone would like to get all the literature, they could query it by year (each year has less than 10,000 literature entries) but if we keep getting more citations, this might not work in the future.

[2022-05-31 13:43] ManonGros commented on #4101
This is because no institutionID is provided and the collectionID doesn't correspond to any identifier in GRSciColl. See more information on this blogpost: https://data-blog.gbif.org/post/grscicoll-flags/

User contacted by email.

[2022-05-31 13:44] #4101 closed, assigned to nobody

[2022-05-31 13:48] tucotuco commented on #4103
To make the dataset visible, could they not make a registered public version of the dataset that is metadata only in the IPT and then refer to that metadata within the informationWithheld field so people know where to go to get it at least?

[2022-05-31 13:54] ManonGros commented on #4103
@tucotuco I think that this is the plan but the problem is that that private datasets don't have any landing page. For example,  see this link: https://ipt.gbif.org/resource?r=ima_mrc. There is no title, no description, just:
<img width="431" alt="Screenshot 2022-05-31 at 15 53 34" src="https://user-images.githubusercontent.com/7677271/171190408-cc0dc553-cbc3-47c6-9b07-dce78c31bfb7.png">
Even if g

[2022-05-31 14:00] tucotuco commented on #4103
I understand that. I was only suggesting a solution to half the problem, which is to make "metadata of private dataset be visible", to make sure people had a way to know that the complete data were available.

[2022-05-31 21:03] acbentley commented on #4080
Yes, I concur.  Our collection managers routinely have to report this information as part of our annual report statistics that show attribution.  However, I have a number of collection managers that are not API savvy and would like an easy mechanism of getting at these statistics.  It would be great if there could be summary statistics by month, and year that was easily digestible and maybe even p

[2022-06-01 12:41] ManonGros commented on #4080
@MortenHofft could you take a look at this issue? If not for GBIF.org, perhaps this is something that could be considered for hosted portals?

[2022-06-01 14:15] dnoesgaard commented on #4102
I don't have a complete overview of the scope or consequences of doing this. I'm obviously a bit reluctant but if it can be done in a way that maintains reference accuracy (as you put it), I'm not against it.

How often is `duplicateOfDatasetKey` used?

[2022-06-01 15:55] sylvain-morin commented on #4102
Let me just precise what I had in mind when I said to "sum the number of citations".

------

Here we have this deleted dataset:
https://www.gbif.org/dataset/7732b10e-7845-434a-b1a7-173e10f21d9a

It has 26 citations:
![image](https://user-images.githubusercontent.com/56630013/171445085-c756d850-c7da-42ea-8a98-d8d401c82067.png)

I propose to keep this at it is: the 26 citations are still linked to

[2022-06-01 15:58] sylvain-morin commented on #4102
Another UX solution could be to display separately the cumulated count of citations:
![image](https://user-images.githubusercontent.com/56630013/171447720-0a393f34-9b6c-4a50-a924-5b42e6c17d2a.png)

The first button will open the list of citations related to the new dataset only, and the new button will display the list of citations of both datasets (former and new).

(about the term "cumulated cit

[2022-06-02 04:22] MortenHofft commented on #4080
I've added it to the activity tab on dataset pages (I will deploy it to prod later today)
https://www.gbif-uat.org/dataset/8f79c802-a58c-447f-99aa-1d6a0790825a/activity
<img width="453" alt="Screenshot 2022-06-02 at 06 21 57" src="https://user-images.githubusercontent.com/6759267/171552478-b5dad0bf-2429-4074-8636-e359164c8e9d.png">

----

I'm not sure where a good fit would be on publisher pages.

[2022-06-02 09:13] gbif-portal opened #4109 "Cuphophyllus atlanticus and Cuphophyllus canescens are not synonyms"
**Cuphophyllus atlanticus and Cuphophyllus canescens are not synonyms**

See the paper in which Cuphophyllus atlanticus is described:
Jordal JB, Larsson E (2021). "Cuphophyllus atlanticus (Hygrophoraceae, Agaricales) — a new sister species to the North American C. canescens". Agarica. 42: 39–48.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2b10731d36de160ed6dd10ab0d5cfcdc

[2022-06-02 09:29] ManonGros commented on #4080
I know that several publishers have contacted us to get this type of information for all their datasets. They didn't specifically ask for a button in the UI though. I think for now having the button on the dataset pages would be a start. Most publishers would probably be able to download everything from the various datasets and combine the information if necessary.

That being said, I will keep an

[2022-06-02 09:48] gbif-portal opened #4110 "GRSciColl - display more fields"
**GRSciColl - display more fields**

The collection entry contains more information than what is displayed on GBIF.org (for example taxonomic coverage and geography): https://registry.gbif.org/collection/ef754808-5d06-4459-9c07-96053b37cba2

Could the additional fields be displayed when they contain values?
@MortenHofft

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/a

[2022-06-02 11:23] gbif-portal opened #4111 "Data Query Download Bug"
**Data Query Download Bug**

I'm trying to download a .csv file with coordinates from a specific crop, which is Apple(Malus domestica).
I've tried to filter the data by the crop or scientific names, then click on the download button. After that, I get a message saying that I need to delete the text "Apple" from the data query to be able to download the .csv file. I get into the page where my 'filt

[2022-06-02 11:33] gbif-portal opened #4112 "Add step wise "year" navigation to maps"
**Add step wise &quot;year&quot; navigation to maps**

Dataset maps include a year slider to filter on a selection of years. I often find myself wanting to paginate through the years, but that is currently a bit cumbersome. The only option is to move forward one and then the next marker on the slider.

I think arrows on both ends of the slider would be useful to paginate through the years. It woul

[2022-06-02 11:34] peterdesmet commented on #4112
<img width="819" alt="Screenshot 2022-06-02 at 13 25 05" src="https://user-images.githubusercontent.com/600993/171620421-8531597c-f8fa-488e-8a11-3b3e87041377.png">

[2022-06-02 11:38] gbif-portal opened #4113 "Flag records located at +-90 latitude"
**Flag records located at +-90 latitude**

We flag Null island. Perhaps we should do the same for records that have e.g.
[code]

But then again, records can be odd in other ways https://www.gbif.org/occurrence/3112332120
and there aren't many of these and some might be almost correct https://www.gbif.org/occurrence/217142150

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbi

[2022-06-02 11:41] #4113 closed, assigned to nobody

[2022-06-02 11:57] gbif-portal opened #4114 "Images located in Flickr fails to load"
**Images located in Flickr fails to load**

The images from this dataset cannot load - it seems to be links to a website and not images.

-----

Github user: @MortenHofft
User: [See in registry](https://www.gbif.org/api/feedback/user/d33001b127aeaabef7221a14a7215bd5:201479cbcd5780b25f7fcbee6e9565c8393f539e437dd3e69cc0e940404ff8d8b8316586173c49d137ef37469345de085be60089cbf46a8e0518c70150537e754eae8

[2022-06-02 14:16] acbentley commented on #4080
That is great, thanks Morten.  Much appreciated.  We can work with those figures and accumulate them as necessary.

Andy
    A  :             A  :             A  :
 }<(((_°>.,.,.,.}<(((_°>.,.,.,.}<)))_°>
    V                V                V
Andy Bentley
Ichthyology Collection Manager
University of Kansas
Biodiversity Institute
Dyche Hall
1345 Jayhawk Boulevard<x-apple-data-detectors://9/>
Lawre

[2022-06-02 14:45] jhnwllr commented on #4070
These are the remaining datasets that have this issue. Almost all of them are **MGnify** @thomasstjerne

|datasettitle                                                                                                                                          |publishingOrganizationTitle | n_names| n_occ|link                                                                      |
|:--------------------

[2022-06-02 15:05] acbentley commented on #4080
It might also be nice to have something a little more proactive to build community.  I used to get an email from Vertnet indicating that stats were available for that month.  Implementing something like this linked to the data manager or other contact might be something to consider in the future to build engagement in the work that GBIF does but also to acknowledge the work of the collections in p

[2022-06-03 07:02] ManonGros commented on #4114
The images for this dataset (https://www.gbif.org/dataset/4a53a180-f0c8-4dd8-a1fb-18768668edc9) are hosted on Flickr as well and they load.
The main difference is that in the second example, we are given the link to the image itself.

[2022-06-03 08:58] jhnwllr commented on #4070
It appears the two **Bioversity International** datasets with this problem are orphans so I am marking as pending.

[2022-06-03 09:08] timhirsch commented on #4070
@jhnwllr fyi I have a pending task to review our connections with Bioversity International as they recently merged with CIAT in Colombia (see https://alliancebioversityciat.org/ ) and it could be an opportunity for them to refresh/replace these old datasets.

[2022-06-03 12:21] ManonGros opened #4115 "Afrotropical Butterflies - LepSoc Africa - to add to the backbone?"
Some of our publishers noticed that many names they provided didn't have any match in the GBIF backbone. They are using the LepSoc Africa "Afrotropical Butterflies" database as reference (https://www.lepsocafrica.org/?p=publications&s=atb)

Could it be perhaps mobilised and added to the backbone?

@mdoering

[2022-06-06 15:41] camiplata opened #4117 "GRIIS Colombia List with Duplicated taxa"
The species Canis lupus is duplicated on this List.

https://www.gbif.org/dataset/168568e7-eb5f-4ef6-8c59-f73ceaf57e91

Thanks!
@sibcolombia

[2022-06-08 09:16] CecSve commented on #4102
@MortenHofft what do you think of this suggestion? Should we perhaps add a label to keep the suggestion in mind for the new portal layout?

[2022-06-08 15:02] gbif-portal opened #4120 "Basis of record - what they mean with examples"
**Basis of record - what they mean with examples**

I looked at the DwC reference guide and it is confusing. A preserved specimen is also a Material sample. What is the interpretation GBIF uses for each category? Also - would be great if there were a glossary for such information. Perhaps there is and I have not found it. I am going to submit this and then look under resources. I do not want to lo

[2022-06-08 16:42] tucotuco commented on #4120
A point of information, there is no formal statement of PreservedSpecimen being a subtype of MaterialSample. The TDWG [Material Sample Task Group](https://www.tdwg.org/community/osr/material-sample/) is working fervently on resolution of better definitions and relationships between these types.

[2022-06-08 23:51] gbif-portal opened #4121 "Missing synonym: there are also some records for Xanthomyrtus metrosideros that should be ending up here: for example https://www.gbif.org/occurrence/2514426110. No current institution recognises Xanthomyrtus in Australia."
**Missing synonym: there are also some records for Xanthomyrtus metrosideros that should be ending up here: for example `https://www.gbif.org/occurrence/2514426110.` No current institution recognises Xanthomyrtus in Australia.**

-----

Github user: @wcornwell
User: [See in registry](https://www.gbif.org/api/feedback/user/a316ebb450fd12eae552c9f5d227de9d:c30d8729d05cb12958b86dc34fdc0d304a72191bf22

[2022-06-08 23:51] gbif-portal opened #5685 "Missing synonym: there are also some records for Xanthomyrtus metrosideros that should be ending up here: for example https://www.gbif.org/occurrence/2514426110. No current institution recognises Xanthomyrtus in Australia."
**Missing synonym: there are also some records for Xanthomyrtus metrosideros that should be ending up here: for example `https://www.gbif.org/occurrence/2514426110.` No current institution recognises Xanthomyrtus in Australia.**

-----

Github user: @wcornwell
User: [See in registry](https://www.gbif.org/api/feedback/user/a316ebb450fd12eae552c9f5d227de9d:c30d8729d05cb12958b86dc34fdc0d304a72191bf22

[2022-06-09 00:06] wcornwell commented on #4121
to be clear: Xanthomyrtus metrosideros is now called Uromyrtus metrosideros

[2022-06-09 00:06] wcornwell commented on #5685
to be clear: Xanthomyrtus metrosideros is now called Uromyrtus metrosideros

[2022-06-09 01:47] gbif-portal opened #4122 "curator is out of date--mail to cornelia.dilger-endrulat@uni-tuebingen.de does not go through."
**curator is out of date--mail to cornelia.dilger-endrulat@uni-tuebingen.de does not go through.**

-----

Github user: @wcornwell
User: [See in registry](https://www.gbif.org/api/feedback/user/a91099ab5d8ae12d761eab1ebd2e64fa:fa7dca95ac77fd650916d0250b5759663d42363ee6c468101361f2b2a7422cda760f0708758b6ce01863dc6d0e16f45f0e94891c8455035abb17bde4d97335ce3ee2b8007769fc1118d2eeb9c997fd1d074d4e72d61cd

[2022-06-09 05:31] MortenHofft commented on #4102
I'm not a big fan of just adding another button. It can be quite cramped in the header already.

<img width="1206" alt="Screenshot 2022-06-09 at 06 58 21" src="https://user-images.githubusercontent.com/6759267/172767759-aa85f2e7-98a3-4cf0-8a15-585635cac49f.png">

I do think it makes sense to have in mind when revisiting dataset pages.

If this iaccumulated number is what we consider to be the new

[2022-06-09 07:44] ahahn-gbif commented on #4102
The current situation:
When a dataset is identified as a duplicate of another, we, in coordination with the publisher(s), identify the one of the two that should be kept, and mark the other one as the duplicate-of. This relationship is established in the registry, and the duplicate dataset will be automatically deleted.

As I understand it, we have two main goals here:
- citations relating to a pr

[2022-06-09 09:45] CecSve commented on #4102
or rather we manually delete the duplicate after we have registered it as a duplicate.

[2022-06-09 10:19] ahahn-gbif commented on #2198
We are just dealing with a similar case, same problem (the dataset page contains the BID Project ID and links correctly to the project page, but the dataset is not listed under the project's "datasets" tab in one of the two cases):

- [does not show](https://api.gbif.org/v1/dataset/search?limit=500&projectId=BID-AF2020-122-NAC)
relates to
[dataset](https://www.gbif.org/dataset/0201340c-c8df-433b-8

[2022-06-09 13:07] fmendezh commented on #2198
I discussed this issue with @marcos-lg and we know now why the project Ids and other metadata information, extracted from EML files, are not being synchronised in the search index. It seems that Registry APIs only propagates changes made in the data base but it doesn't takes into consideration external changes.
This will be fixed by propagating dataset changes at the end of each crawling or  index

[2022-06-09 13:45] ahahn-gbif commented on #2198
Thanks, @fmendezh! I am not sure I fully understand yet. Indexing/crawling jobs on the dataset finished with "NOT MODIFIED" in the last months. The last actual run was in late February, with some manual follow-ups into April (https://registry.gbif.org/dataset/0201340c-c8df-433b-85b8-f2383a49cf20/ingestion-history). Do I understand correctly that this is then the reason that the search index did no

[2022-06-10 09:40] jholetschek commented on #4122
According to http://sweetgum.nybg.org/science/ih/person-details/?irn=226803, the contact is Oliver Bossdorf.
Could you please change that in the dataset description?

[2022-06-10 19:43] gbif-portal opened #4123 "Wrong link to ingestion queue"
**Wrong link to ingestion queue**

When clicking `Ingest now` on a dataset (available if you are trusted contact), the button switches to `Is in ingestion queue`. The link of that button is:

https://registry.gbif.org//monitoring/running-ingestions

rather than:

https://registry.gbif.org/monitoring/running-ingestions

-----

Github user: @peterdesmet
User: [See in registry](https://www.gbif.org/a

[2022-06-13 07:57] #4123 closed, assigned to nobody

[2022-06-13 07:57] MortenHofft commented on #4123
Thanks @peterdesmet

[2022-06-13 09:49] jhnwllr opened #4124 "How GBIF deals with species affinis or species proxima qualifiers (nr. prox.)"
I noticed that the GBIF **name matcher** takes into account the uncertainty in names with "uncertainty" qualifiers (nr. prox. probably others) by giving them a **higher rank flag**.

Still, the uncertain name is still matched at the level of **species rank** (making it seem certain), so anyone searching for the name without the qualifier will get back **occurrence data** that perhaps appears to be

[2022-06-13 10:07] MattBlissett commented on #4102
https://api.gbif.org/v1/dataset/7732b10e-7845-434a-b1a7-173e10f21d9a has `duplicateOfDatasetKey` as the second property.

https://api.gbif.org/v1/dataset/duplicate / https://registry.gbif.org/dataset/search?type=duplicate shows *not deleted* datasets with `duplicateOfDatasetKey` set. At least https://www.gbif.org/dataset/85fe49f4-f762-11e1-a439-00145eb45e9a / https://www.gbif.org/dataset/ca4ef53b-

[2022-06-13 10:41] CecSve opened #4125 "Paleobiology DB - issues from help desk"
**First issue**

Due mostly to an overlooked homonym, all mapped records and most of the information for this species are wrong.  (https://www.gbif.org/occurrence/gallery?taxon_key=8373817)

_Chama striata_ Smith, 1817 is actually in the order Ostreida, family Gryphaeidae.  It is an ICZN-suppressed synonym of _Nannogyra virgula_ (Deshayes, 1831), a European Jurassic species.

_Chama striata_ Emmon

[2022-06-13 10:44] CecSve commented on #4125
In the first issue, GBIFs backone does currently not have the species _Chama striata_ Emmons, 1858 registered (as it is not in paleobiology DB) so the records are automatically indexed to Chama striata Smith, 1817. The issue affects 30 records: https://www.gbif.org/occurrence/search?taxon_key=8373817 which should all be indexed as _Chama striata_ Emmons, 1858 due to the explanation above.

[2022-06-13 12:36] mdoering commented on #4124
I assume the name parser thinks these 2 names are subspecies and hence tags them as higher rank match and includes them in species searches:

 - http://api.gbif.org/v1/parser/name?name=Sabethes%20tarsopus%20prox.%20Dyar
 - http://api.gbif.org/v1/parser/name?name=Camponotus%20vicinus%20nr.%20Mayr,%201870

The only uncertain identification notes I am aware of that is implemented in the parser are "a

[2022-06-13 12:57] #4124 closed, assigned to jhnwllr

[2022-06-14 01:39] Mesibov opened #4126 "Are IBOL and EMBL-EBI records really occurrence records?"
GBIF has more than 9.3 million "occurrence records" from the International Barcode of Life project (IBOL). Here I trace an IBOL record in GBIF for the centipede _Craterostigmus tasmanianus_, with unknown date and unknown location:
[https://www.gbif.org/occurrence/2249233625](https://www.gbif.org/occurrence/2249233625)

The occurrenceID for this record is
[http://bins.boldsystems.org/index.php/Publ

[2022-06-14 07:46] MortenHofft commented on #4126
It doesn't answer the question, and I'm not the one to do so. But here is some numbers:
[792,187 RESULTS from EMBL](https://www.gbif.org/occurrence/search?dataset_key=d8cd16ba-bb74-4420-821e-083f2bac17c2&advanced=1&is_in_cluster=true) cluster as of today (out of 4.7 mil)
[938,965 RESULTS from iBol](https://www.gbif.org/occurrence/search?dataset_key=040c5662-da76-4782-a48e-cdea1892d14c&advanced=1&i

[2022-06-14 12:16] gbif-portal opened #4127 "Literature export function"
**Literature export function**

Could there be a literature export function? Turning a literature search result into a spreadsheet is something I regularly get asked about.
Many people aren't able to use the API easily. It would be great to have an export function and a button in the UI.

-----

Github user: @ManonGros
User: [See in registry](https://www.gbif.org/api/feedback/user/eceb3cea5bf23f77

[2022-06-14 13:57] ManonGros commented on #4111
Our system is unable to generate downloads based on free-text search queries. I suggest to use the scientific name filter to get the apple records. See this example: https://www.gbif.org/occurrence/search?taxon_key=7821083&taxon_key=3001244&occurrence_status=present. I suspect that when the free-text filter was removed from your query, nothing was left to filter the data. That’s why you got a very

[2022-06-14 14:36] marcos-lg commented on #2198
This was fixed in [this issue](https://github.com/gbif/registry/issues/425).

I also scheduled the reindexing all the datasets that have project ID. The example above was fixed. If you find more cases let me know (the reindexing will take some hours from now)

[2022-06-14 19:53] gbif-portal opened #4128 "Cannot find my Organization(in the dropdown list) to configure our IPT server. The organization is 'Environmental Protection Agency' from Guyana. And it is listed as a participating organization but it is not listed in the IPT Administration list of organization in the organization dropdown list"
**Cannot find my Organization(in the dropdown list) to configure our IPT server. The organization is &#39;Environmental Protection Agency&#39; from Guyana. And it is listed as a participating organization but it is not listed in the IPT Administration list of organization in the organization dropdown list**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/a98ace1790ed0f005cff

[2022-06-15 03:11] Mesibov opened #4129 "How to correct and supplement GBIF-mediated data?"
The occurrence records dataset in GBIF for the Tasmanian centipede _Craterostigmus tasmanianus_ Pocock, 1902 is not only incomplete, but contains a large number of errors.

Location errors are particularly abundant in the records from two publishers: Queen Victoria Museum and Art Gallery provider for OZCAM, and Museum of Comparative Zoology, Harvard University. At QVMAG until about 10 years ago, l

[2022-06-15 15:51] gbif-portal opened #4130 "16th-century dates present but not parsing"
**16th-century dates present but not parsing**

We're showing that 0% of the 7,000+ records in this new dataset with a year, but years definitely appear to be present in the verbatim data.

Probably just a matter of date formatting that's easy for the triumvirate of help desk–GBIF Spain–los sevillanes to sort out…

-----

Github user: @kcopas
User: [See in registry](https://www.gbif.org/api/feedba

[2022-06-15 18:48] shubhleendhaka opened #4131 "ERROR: Your filters might be invalid or the servers having issues. //when searching for occurrences using (latitude, longitude)"
Hello,

I am using latitude and longitude coordinates of a polygon area to find the occurrences in that area.

Using GeoJSON:
{ "type": "Polygon",
"coordinates": [
[ [-56.92935791,-25.20385129],
[-56.92849961,-25.20397749],
[-56.92877856,-25.20506472],
[-56.92793098,-25.20521033],
[-56.92813483,-25.20578306],
[-56.92898241,-25.2055695],
[-56.92887512,-25.20513267],
[-56.92973342,-25.20498706] ]
]

[2022-06-16 07:40] MortenHofft commented on #4131
The geometry is invalid

* Geometries need to be closed - meaning ending and starting on the same coordinates. So you should add `-56.92935791,-25.20385129` as the last coordinate to close it.
  * doing that we get `-56.92935791 -25.20385129, -56.92849961 -25.20397749, -56.92877856 -25.20506472, -56.92793098 -25.20521033, -56.92813483 -25.20578306, -56.92898241 -25.2055695, -56.92887512 -25.205132

[2022-06-16 07:40] #4131 closed, assigned to nobody

[2022-06-16 08:07] MortenHofft commented on #4130
https://www.gbif.org/occurrence/3804272302

Term | Interpreted | Original | Remarks
-- | -- | -- | --
Event date |   | 1579 | Recorded date unlikely

Looks like we remove it deliberately

I believe all our maps also exclude everything before 1600. It is a hardcoded value some places I believe

[2022-06-16 08:11] kcopas commented on #4130
Okay, that clearly would be a problem with this dataset.

Was that basically an arbitrary limit? Thinking, like, yeah, we probably don't have any records that date to before 1600?

[2022-06-16 08:31] MortenHofft commented on #4130
I think so yes. It has been so since I started here. @timrobertson100 will know the history of it and I might be mistaken

[2022-06-16 08:56] timrobertson100 commented on #4130
Yes, but the origins were about removing "dirty" data

[2022-06-16 09:22] timrobertson100 commented on #4130
We'll track the fix here https://github.com/gbif/pipelines/issues/735

[2022-06-16 09:22] #4130 closed, assigned to nobody

[2022-06-16 11:16] ahahn-gbif opened #4132 "mismatched IUCN category in occurrence records due to synonymy"
**context**: occurrence search; some IUCN Global Red List Category assignments to occurrence records are incorrect

**example issue**: _Betula pubescens_ should be "Least Concern (LC)", but shows as "Critically Endangered (CR)"
**see**: https://www.gbif.org/occurrence/search?taxon_key=9118014 (_Betula pubescens_)
**_look at_**: expanding the "IUCN Global Red List Category" filter shows most of the

[2022-06-16 11:24] ManonGros commented on #4132
@ahahn-gbif we discussed the issue here too: https://github.com/gbif/pipelines/issues/495

[2022-06-16 11:40] ahahn-gbif commented on #4132
Alternatively, maybe the ingestion step would need to consider that there could be more than one match to a given name in [The IUCN Red List of Threatened Species](https://www.gbif.org/dataset/19491596-35ae-4a91-9a98-85cf505f1bd3), and prefer an accepted name (with an assigned category) over any synonym?

[2022-06-16 11:46] ahahn-gbif commented on #4132
Thanks!

[2022-06-16 12:01] gbif-portal opened #4133 "html markup shown in species search"
**html markup shown in species search**

when you hit synonyms the markup html tags are shown:

https://www.gbif.org/species/search?q=Betula%20pubescens&rank=SPECIES&highertaxon_key=2875008&qField=SCIENTIFIC

`Synonym of: <em class="gbifHl">Betula pubescens var. pubescens</em>`

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/7bcf9195f87103fdad847f3f02f6a0f1:1884508d644c69bc0

[2022-06-16 12:08] mdoering commented on #4132
IUCN is the only source I can find that claims _B. pubescens_ to be a synonym of _B. klokovii_. On their [site](https://www.iucnredlist.org/species/194573/116338233#taxonomy) is reads:

I suspect this personal communication is the source of the synonymy.

The problematic response in our API is this one, 9118014 being the accepted and only presence of B. pubescens in the backbone:
https://api.gbif.

[2022-06-16 12:23] mdoering commented on #4132
Implementation of the 2nd option is simple and can be done immediately.

Looking at the IUCN redlist there are [2988 names](https://github.com/gbif/portal-feedback/files/8918766/iucn-duplictes.txt) which exist at least twice with the same backbone match. These are genera, species, subspecies, varieties and forms

[2022-06-16 13:41] ahahn-gbif commented on #4132
option 2. sounds very plausible as it relates to species and subspecific ranks.

For genera and above, I am less sure - should we expect IUCN categories linked to those at all, and what could the consequences of conflicts around accepted/synonymized higher ranks be?

[2022-06-20 11:33] ManonGros commented on #4128
Replied by email

I checked from an IPT in production mode and your organization was in the dropdown list.
Is your IPT in TEST mode or in PRODUCTION mode?

[2022-06-21 08:17] CecSve opened #4134 "Download citation include information on download type and/or content"
Currently the citation for an occurrence download is for example:

This does not give any information on which type of download was used or the content of the download other than it is occurrence based. Could it be an idea to include the type of download used, for example:

- GBIF.org (21 June 2022) **SIMPLE** GBIF Occurrence Download https://doi.org/10.15468/dl.xxqwmp
- GBIF.org (21 June 2022) **

[2022-06-21 08:25] dnoesgaard commented on #4134
IMHO, the download format names aren't very meaningful to anyone outside GBIF. I'm not sure I would see the benefit of making a distinction in the citation. Anyone can go to the download and find out more.

We could try to add more information to the citation about a lot of things (taxa, numbers, years, etc), but really, anything that complicates the citation is a risk and not good from my point o

[2022-06-21 08:26] CecSve opened #4135 "Inclusion of (optional) extension-data in DwC-A downloads"
More extensions should be included in the DwC-A download option besides the Multimedia extension. Ideally, users should be able to select which extension data they wish to download based on the available option for a given dataset.

Potentially the extensions downloaded could show in the citation for the download (https://github.com/gbif/portal-feedback/issues/4134).

[2022-06-21 08:39] #4128 closed, assigned to ManonGros

[2022-06-21 08:57] gbif-portal opened #4136 "https://api.gbif.org/v1/species/match breaks due to TimeoutError:"
**`https://api.gbif.org/v1/species/match` breaks due to TimeoutError:**

I am trying to parse ~400k names and the API breaks after a few thousand names have been submitted.

Error message returned:

in do_handshake
    self._sslobj.do_handshake()
TimeoutError: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established co

[2022-06-21 09:47] timrobertson100 commented on #4136
I've spoken to the reporter of this.
They aren't setting any timeouts on the request being made, and they have no retry logic to handle situations like network drops etc.

I'm not sure if the pyGBIF species_match would do all that internally anyway, and if so, that may be a better option

CC @ManonGros

[2022-06-21 20:23] gbif-portal opened #4137 "Quick links on this page not working"
**Quick links on this page not working**

Clicking on "Read the case studies" changes the URL but doesn't take you to that section of the page.

-----

Github user: @albenson-usgs
User: [See in registry](https://www.gbif.org/api/feedback/user/0a8dcac3756369b85825a02441e5c0a6:d144fbea8efb73683e5d7c9f34e47e993844853d73c681e9e673613cf246d5565fa159533776f8a175596f0c77bd07a1ce1348bcc74b457d1a06a18d514a

[2022-06-21 22:12] gbif-portal opened #4138 "Report can't be generated"
**Report can&#39;t be generated**

I've been trying to validate a dataset and it keeps telling me the validation failed and the report can't be generated.

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/aa06556c1ab15ed71274fab3064040d8:59bb13dfa3174a198823c89044ed10919918e56ea74c6f692f3cea45fcc7cdb88f73cd5751758d22fa405fe06232d281686a9bf89b392b182ef5e2d00bf613e201194e91584ed

[2022-06-22 02:33] gbif-portal opened #4139 "Antonina crawi and Antonina socialis are no longer considered synonyms"
**Antonina crawi and Antonina socialis are no longer considered synonyms**

Antonina crawi and Antonina socialis are no longer considered synonyms:

Williams, D. J., & Miller, D. R. (2002). Systematic studies on the Antonina crawi Cockerell (Hemiptera: Coccoidea: Pseudococcidae) complex of pest mealybugs. Proceedings of the Entomological Society of Washington, 104(4), 896-911.

-----

User: [See i

[2022-06-22 06:05] ManonGros commented on #4137
Not sure who can fix this @MortenHofft maybe?

[2022-06-22 06:41] MortenHofft commented on #4137
The website do not automatically generate anchors. So content editors need to add them themselves in contentful. In this case that hasn't been done.

There is a feature request to auto generate them
Notice that it is this issue https://github.com/gbif/portal16/issues/1695

I will look at the issue.

[2022-06-22 06:41] MortenHofft commented on #4137
Actually I will reopen this issue as the editor might want to correct the article in the meantime (even though I'm not entirely sure it is even possible in this case)

[2022-06-22 08:40] MortenHofft commented on #4137
I've fixed the link in Contentful for this specific case.

[2022-06-22 08:40] #4137 closed, assigned to nobody

[2022-06-22 11:12] gbif-portal opened #4140 "Map will no longer not zoom completely out (- button does not work)"
**Map will no longer not zoom completely out (- button does not work)**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9a99d180d3d208d954941f849af8b105:421c570e908842446a84dc29821039c499cf6306a83f8af3c96b2b37fef20ad88e06ae8c4ce8757e4510856423e75965c29851e4e1c1ec4ceff0658d7512560f55b8be26cd54636d804002d1c5c4859c03fbd7ea828ddc9b978920a7529068b2d23289a8092a0c54f2f2395efbe9fab1

[2022-06-23 04:01] gbif-portal opened #4141 "no carga la busqueda"
**no carga la busqueda**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/19a7a0adb7ca26b71c47fe0b13466bcb:00509dd9bda4cbabd934f859d8222648655a1469c8b85db5798ee5d69e6d8eb710b5fdbff786b075214ed5ac3ecd4ffc95235fd96098a18e63b0a5d85053545eb8921a46afadbecfe3e33bf15d195fe3943b99feb03c056f5be4f09beb86559705d94ad49588629ffe2337399b8436be444b418c9ff321ca16da6c812e813d2d39e29a10d4fb8ec

[2022-06-23 08:35] rukayaj commented on #2456
https://twitter.com/timrobertson100/status/1539585887520137217 Thanks guys! i see the search option is removed, but it is really nice to be able to see our arctic data in a projection which makes sense!

[2022-06-23 08:35] #2456 closed

[2022-06-23 09:46] MortenHofft commented on #4141
Google tranlsate

I do not see any issues with the link and there is close to no information on the issue.

[2022-06-23 10:12] gbif-portal opened #4142 "Country autocomplete problem in Chinese 国家地区只能显示10个，超过 10之外的找不到"
**国家地区只能显示10个，超过 10之外的找不到**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9333e7220015cc7a69db5384e1eb2812:8b763a6963a635a888daad6b1e90ad554b44d7e8831c088a89acbe8a4b8a6a9f787244d232951c7b0fc995729df0760417fa301398be5a5c8a7d5d4442619c3f40bc4e9e34e1eb602d9251c29764c3b1a79aeb89f89aa91fb8aeac83f7ed0824) - [Send email](https://www.gbif.org/api/feedback/user/mailto/9333e7220015c

[2022-06-23 10:23] #4140 closed, assigned to thomasstjerne

[2022-06-23 11:54] thomasstjerne commented on #4142
Google translation:
Only 10 countries and regions can be displayed, and those beyond 10 cannot be found.

I think this means that our country autocomplete doesn´t react to Chinese input

[2022-06-24 06:43] MortenHofft commented on #4142
A search for e.g. `烏拉圭` works fine. and searching for the first two `烏拉` also returns `烏拉圭` as a suggestion.
So I *think* the suggest works. At least partially. And suggest only suggests 8 results (not 10)

I suspect it has more to do with the facets, which only show top 10.
To see more you need to go to https://www.gbif.org/zh/occurrence/charts?custom=true&d=country

[2022-06-24 08:04] #4133 closed, assigned to thomasstjerne

[2022-06-24 08:07] MattBlissett commented on #4142
Perhaps @ckotwn can clarify the issue.

[2022-06-24 12:47] gbif-portal opened #4143 "Synonym is incorrect. Periploca orichalcella (Chamber 1864) is a valid taxa. Elachista concolorella ( Chambers, 1875) is a syn. of Periploca orichalcella (Clemens, 1864) https://www.researchgate.net/profile/Greg-Pohl-2/publication/302570819_Annotated_taxonomic_checklist_of_the_Lepidoptera_of_North_America_North_of_Mexico/links/5731597b08ae100ae557533a/Annotated-taxonomic-checklist-of-the-Lepidoptera-of-North-America-North-of-Mexico.pdf"
**Synonym is incorrect. Periploca orichalcella (Chamber 1864) is a valid taxa. Elachista concolorella ( Chambers, 1875) is a syn. of Periploca orichalcella (Clemens, 1864) `https://www.researchgate.net/profile/Greg-Pohl-2/publication/302570819_Annotated_taxonomic_checklist_of_the_Lepidoptera_of_North_America_North_of_Mexico/links/5731597b08ae100ae557533a/Annotated-taxonomic-checklist-of-the-Lepido

[2022-06-24 21:09] AbbyBenson commented on #4135
As a node manager that facilitates the use of several extensions for sharing data I support this idea!

[2022-06-25 23:11] gbif-portal opened #4144 "Add new maps please!"
**Add new maps please!**

As a researcher trying to determine the specific distribution of species it would be immensely helpful if GBIF's occurrence maps were more detailed. If you could include a topographical map similar to that found on ArcGIS Pro and a satellite map the feature would be greatly improved. Currently I cannot tell whether or not a species exists on a mountain peak/range because

[2022-06-26 17:43] MortenHofft commented on #4144
It is possible to change map style, in some cases it can help, but not all (see below screenshot)

If you know of any good free base maps, satellite or topographical maps then please share the information with us. We would love to add them. Ideally they should have global coverage and be in WGS84 so that they include the poles.

Thank you for your feedback

<img width="877" alt="Screenshot 2022-06

[2022-06-27 09:22] rukayaj opened #4145 "Alternative identifier DOI removal"
I added a DOI as an alternative identifier to a dataset (https://www.gbif.org/dataset/0db86a4c-5b10-4a39-b81d-15e1525bb27f, the zenodo DOI), and we've decided we would actually rather have a separate GBIF-generated DOI for the GBIF dataset, and we'll just link the zenodo DOI in the bibliographic citations in the IPT.

So I deleted the zenodo DOI in the IPT's alternative identifiers list, and I was

[2022-06-27 10:04] MattBlissett commented on #4145
Hi,

Identifiers must be deleted/changed manually in the GBIF registry, as we generally don't want to lose them. I've done this for this dataset.

[2022-06-27 10:04] #4145 closed, assigned to nobody

[2022-06-27 10:12] rukayaj commented on #4145
Thanks @MattBlissett

[2022-06-27 20:34] gbif-portal opened #4147 "The images do not correspond to Miconia neomicrantha (Melastomataceae), the photos belong to genera Ficus (Moraceae). https://www.gbif.org/occurrence/gallery?taxon_key=7944396"
**The images do not correspond to Miconia neomicrantha (Melastomataceae), the photos belong to genera Ficus (Moraceae). `https://www.gbif.org/occurrence/gallery?taxon_key=7944396`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/2c3fd5229fc585b667341da531570e43:4911eb093e4d6b18a0fd9690df49b12e1c1bad21756114226f2ddee8c48ab2c5e20da660d8dfc5483875ad33aa55e27ccd976762d7993f2529

[2022-06-27 20:39] gbif-portal opened #4148 "The images do not correspond to Miconia neomicrantha, the photos belong to Drymonia coriacea (Gesneriaceae) https://www.gbif.org/occurrence/gallery?taxon_key=5591161"
**The images do not correspond to Miconia neomicrantha, the photos belong to Drymonia coriacea (Gesneriaceae) `https://www.gbif.org/occurrence/gallery?taxon_key=5591161`**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9a5a0aee7cca2f728f1524d5afe79fb5:45583204a7a080c28496881e5e58170ba861f0a6227c9de9a1794ef611454acd45db3f0308022d2a7d6781d4fcb58c1db89e56ca4105df16bb3ba677bb86

[2022-06-28 12:07] myrmoteras opened #4149 "accepted names missing in https://www.gbif.org/dataset/3566822f-2b74-468a-af13-e75651813d3f"
I wonder why the accepted names are missing in this dataset. there are only occurrences listed

This is a paper written in cyrilic and thus I wonder whether this might be a reason

https://www.gbif.org/dataset/3566822f-2b74-468a-af13-e75651813d3f

Plazi article https://tb.plazi.org/GgServer/summary/2050147AFF8BFFE4FFF5FFACFFE3FF81 which include material citations in the treatments

[2022-06-28 13:02] #2860 closed

[2022-06-28 13:02] #3389 closed, assigned to dnoesgaard

[2022-06-28 13:03] #3599 closed, assigned to dnoesgaard, akristensen

[2022-06-28 13:42] CecSve opened #4150 "Two spellings of the platypus genus Ornithor(h)ynchus both resolve in accpeted names"
I assume this two genera refer to the same animal (platypus): https://www.gbif.org/species/8768627 and https://www.gbif.org/species/2433375 - the first is from Zoobank without higher taxonomy but we somehow interpret it to the same higher taxonomy as the latter which we get from CoL. Both names appear as accepted in our portal (backbone). Ideally the former should be interpreted as the latter, sin

[2022-06-29 08:00] thomasstjerne commented on #4149
I think they are there now.

[2022-06-29 08:00] #4149 closed, assigned to nobody

[2022-06-29 08:29] myrmoteras commented on #4149
@thomasstjerne thanks. can you check, why the figures do not show up in the treatment

https://treatment.plazi.org/id/DC696C02FF8AFFE7FE8FFA9CFC75FC82
![image](https://user-images.githubusercontent.com/4609956/176390179-4e42d645-6738-4c5b-b571-3ac6a616161c.png)

[2022-06-29 09:20] CecSve commented on #4121
We have records of Xanthomyrtus metrosideros that are matched to higher rank Xanthomyrtus because Xanthomyrtus metrosideros is not recognised as a synonym of  Uromyrtus metrosideros - check CoL and see if this is an issue there and contact them if it requires fixing

[2022-06-29 09:20] CecSve commented on #5685
We have records of Xanthomyrtus metrosideros that are matched to higher rank Xanthomyrtus because Xanthomyrtus metrosideros is not recognised as a synonym of  Uromyrtus metrosideros - check CoL and see if this is an issue there and contact them if it requires fixing

[2022-06-29 09:31] ManonGros commented on #4117
publisher contacted by email.

[2022-06-29 09:35] thomasstjerne commented on #4149
It looks like the multimedia extension is not ingested correctly even though present in the source archive.
I have create an issue here https://github.com/gbif/checklistbank/issues/218

[2022-06-29 12:07] CecSve commented on #4143
In CoL _Periploca orichalcella_ (Clemens, 1864) is the accepted species. It's a basionym of _Elachista orichalcella_ Clemens, 1864
Synonyms and Combinations:
- _Elachista orichalcella_ Clemens, 1864
- _Elachista concolorella_ Chambers, 1875
- _Periploca purpuriella_ Braun, 1919

Eriphia is the synonym of Ithome

------------------------
In **the resource** suggested, _Periploca orichalcella_ (Clem

[2022-06-29 12:43] ManonGros commented on #4150
@deepreef, perhaps you could help us with this issue?
It looks like we have duplicate platypus entries in the GBIF backbone taxonomy because one (https://www.gbif.org/species/181720213) comes from the [ZooBank](https://www.gbif.org/dataset/c8227bb4-4143-443f-8cb2-51f9576aff14) without any higher taxonomy a slightly different spelling.
I think that if the higher taxonomy was provided in the dataset

[2022-06-29 12:44] #4111 closed, assigned to ManonGros

[2022-06-29 12:48] ManonGros commented on #4117
The issue has been fixed: https://www.gbif.org/species/search?q=Canis%20lupus&dataset_key=168568e7-eb5f-4ef6-8c59-f73ceaf57e91&origin=SOURCE&advanced=1

[2022-06-29 12:48] #4117 closed, assigned to ManonGros

[2022-06-29 14:48] camiplata opened #4151 "GRIIS Colombia List Mistmatch betweenn scientificName and higher taxonomy"
Hi!

We noticed the  species [Ferrissia californica (A molusc)](https://www.gbif.org/es/species/9520065) has the [higher taxonomy of an anfibian: Amphibia | Anura | Pipidae](https://www.gbif.org/es/species/196368481)

https://www.gbif.org/dataset/168568e7-eb5f-4ef6-8c59-f73ceaf57e91

Thanks!
@SiBColombia

[2022-06-29 15:09] deepreef commented on #4150
Hi Marie,

Many thanks!  ZooBank is actually a nomenclatural database, not a taxonomic one.  This means that ZooBank does not assert any higher taxonomy for genus-group names (which is why there are no higher taxonomy for genus names).  However, I can add a higher taxon to this record, but it needs to be the higher taxon that Blumenbach used in 1800.  I can research this, and add it, but it may no

[2022-06-29 15:13] deepreef commented on #4150
It looks like the publication is not in BHL.  Do you happen to have access to a PDF of:

Blumenbach, Johann F. 1800. Über das Schnabelthier (Ornithorhynchus paradoxus) ein neuentdecktes Geschlecht von Säugthieren des fünften Welttheils. Magazin für den Neuesten Zustand der Naturkunde 2: 205-214.

Richard L. Pyle, PhD
Senior Curator of Ichthyology | Director of XCoRE

Bernice Pauahi Bishop Museum

[2022-06-29 18:20] gbif-portal opened #4152 "Ejemplar perteneciente al orden Lepidoptera, la taxonomía presente en la referencia del taxón lo ubica como Hymenoptera: Chrysididae, lo cual es incorrecto. El mismo problema se evidencia en diferentes ejemplares de Adelpha zina"
**Ejemplar perteneciente al orden Lepidoptera, la taxonomía presente en la referencia del taxón lo ubica como Hymenoptera: Chrysididae, lo cual es incorrecto. El mismo problema se evidencia en diferentes ejemplares de Adelpha zina**

Specimen belonging to the order Lepidoptera, the taxonomy present in the taxon reference places it as Hymenoptera: Chrysididae, which is incorrect. The same problem i

[2022-06-29 19:04] MortenHofft opened #4153 "species suggest"
I find that the quality of species suggest has gotten a lot worse recently.
A [simple search such as `Animalia`](https://api.gbif.org/v1/species/suggest?datasetKey=d7dddbf4-2cf0-4f39-9b2a-bb099caae36c&limit=10&q=Animalia) only returns doubtful genera for example.

[2022-06-30 01:36] jfong opened #4154 "Searching Recorded By is accent-sensitive"
Searching Recorded By for **Méndez Ton, Alush** produces different results than searching for **Mendez Ton, Alush**

This is not very user friendly. Can the search be accent-insensitive?

[2022-06-30 08:21] CecSve commented on #4139
User has been notified of the issue forward to CoL

[2022-06-30 08:40] CecSve commented on #4151
Thank you for notifying us - we have contacted the data admin and await their answer.

[2022-06-30 08:44] CecSve commented on #4138
User has been contacted via help desk

[2022-06-30 09:12] CecSve commented on #4151
The error has been corrected and the record now appears under Mollusca instead of Amphibia: https://www.gbif.org/species/196368481

[2022-06-30 09:12] #4151 closed, assigned to CecSve

[2022-06-30 12:39] gbif-portal opened #4155 "Strange date/timestamp shown instead of year"
**Strange date/timestamp shown instead of year**

Was exploring Alismatales occurrences per year and noticed that mouse-over pop-up shown in the graph changes around the year 1894, looking fine after but weird before.

-----

Github user: @dnoesgaard
User: [See in registry](https://www.gbif.org/api/feedback/user/a9d559fc630e1b858a90591ff15d92a7:e69633298a456b0e1faeb38506e330b8aec8648b95aeed55084d8

[2022-06-30 12:41] dnoesgaard commented on #4155
![Screenshot 2022-06-30 at 14 40 31](https://user-images.githubusercontent.com/21358085/176679362-6966d8a7-9e3f-4c8e-a467-fdd5abe0050c.png)
![Screenshot 2022-06-30 at 14 40 26](https://user-images.githubusercontent.com/21358085/176679367-16e0ce8c-d2d1-4240-baea-f7db6124b8fc.png)

[2022-06-30 19:17] gbif-portal opened #4156 "Occurrence of Dianthus hispanicus, Scan showing specimen of Biscutella laevigata"
**Occurrence of Dianthus hispanicus, Scan showing specimen of Biscutella laevigata**

-----

User: [See in registry](https://www.gbif.org/api/feedback/user/9f8f599029d1d90e0b7348231d0a5eb4:de0707b12c7b89fd3490f97d355733cf8d36cef2997e174a97d2f0d2411a8b23f39ad57c63ba247e2bea4bbbdc590b055d3c1a2c8f7d60377a3a8870cd28b8606885e14262f27805810fad850a829ac8471bea07046ac231d37f63b1beb0595e866dbf8f6edea21d46a

[2022-07-01 07:31] MortenHofft commented on #4155
Odd. The API as well as the proxy API shows the correct information. But the Highcharts presentation looks weird. Somewhere around here things go wrong https://github.com/gbif/portal16/tree/master/app/views/components/occurrenceBreakdown

[2022-07-01 07:35] CecSve commented on #4138
The user managed to validate the file.

[2022-07-01 07:35] #4138 closed, assigned to CecSve

[2022-07-01 13:40] ckotwn commented on #4142
Sorry for being late. The Google Translation is faithful here. I've played a bit in the Simplified Chinese skin. When a character matches the list of country names the candidate still shows, and it doesn't have to be the first word. Thus, I suspect this is a valid bug.

It would be helpful if the user had reported with the intended country/area.

[2022-07-01 15:43] deepreef commented on #4150
Apologies for previously responding via email, rather than within GitHub!

I have consulted with fellow ICZN Commissioner Francisco Welter-Schultes, who has confirmed that the publication you linked is the correct original description for the genus.  However, this paper does not assign the genus to a family (only to "Säugethiere", which is mammals).  Thus, the ZooBank record is correct, in the sen

[2022-07-02 23:18] globalcitizen opened #4595 "Tangential documentation request"
Hi there, I appreciate your Global Biodiversity Information Facility in Denmark is probably of dubious relationship to the prior Consortium for the Barcode of Life effort whose [Wikipedia page](https://en.wikipedia.org/wiki/Consortium_for_the_Barcode_of_Life) is all past tense.

However, recently in [adding some references for a university article which someone wanted to delete](https://en.wikiped

[2022-07-03 10:06] gbif-portal opened #4157 "Mismapped data in dataset"
**Mismapped data in dataset**

Found this just by accident, but this is a dataset that has mismapped data - look at the scientific name

Tim R

-----

Github user: @timrobertson100
User: [See in registry](https://www.gbif.org/api/feedback/user/b2003490475b62c016ef6831891dc779:979ba25a6b89749582879ac4e38800a139a27555e0a7d04c602d355008bbe0d27e5ff6c8a9fa1739c95c1b79c3f2633576562a58d9ac2a8a424fb0c4f3b

[2022-07-04 09:47] CecSve commented on #4157
More records appear to be affected: https://www.gbif.org/occurrence/search?dataset_key=52f2051b-c47e-403a-8e32-04b2f2273c20&issue=TAXON_MATCH_NONE

[2022-07-04 10:44] CecSve commented on #4122
The technical point of contact email does not fit that of the publisher either: https://www.gbif.org/publisher/0674aea0-a7e1-11d8-9534-b8a03c50a862 vs. https://www.gbif.org/dataset/ab1de8e9-8a18-4ffe-b2c6-e13ffbec3e7e - this should be changed as well if contact is established. The publisher has been contacted and asked if there is a new contact person for the dataset - if they confirm, then the sh